[2018-07-18 19:26] wckorealsh opened #5033 "Trajectory stitching, why?"
Hi Team Apollo,

Can you please explain what is the purpose of stitching trajectories in planning?
Is stitching between lastly published trajectory and something else?
Thank you.

[2018-07-18 22:21] Zhenni17 commented on #4745
Closing the issue.

[2018-07-18 22:21] #4745 closed

[2018-07-18 22:24] #4785 closed, assigned to startcode, ycool, lianglia-apollo

[2018-07-18 23:05] jmtao commented on #5028
@LunaAmour is pull-over is enabled for Destination traffic rule?
https://github.com/ApolloAuto/apollo/blob/master/modules/planning/conf/traffic_rule_config.pb.txt
`config: {
  rule_id: DESTINATION
  enabled: true
  destination {
    enable_pull_over: true
    stop_distance: 0.5
    pull_over_plan_distance: 55.00
  }
}`

If it is, the ego vehicle will try to pull over upon arriving at the destinati

[2018-07-18 23:35] Zhenni17 commented on #4847
Closing the issue due to no further communication. Please re-open the issue if you have follow up question.

[2018-07-18 23:35] #4847 closed

[2018-07-18 23:37] Zhenni17 commented on #4852
Closing the issue due to no further communication. Feel free to re-open the issue if you have any additional question.

[2018-07-18 23:37] #4852 closed

[2018-07-18 23:43] Zhenni17 commented on #4855
Closing the issue due to no further communication. Feel free to re-open if there is follow up questions.

[2018-07-18 23:43] #4855 closed

[2018-07-18 23:47] Zhenni17 commented on #4884
Closing the issue due to no communication. Feel free to re-open the issue if there is follow up questions.

[2018-07-18 23:47] #4884 closed

[2018-07-18 23:54] Zhenni17 commented on #4904
Closing the issue due to no further communication. Feel free to re-open if there are any follow up questions.

[2018-07-18 23:54] #4904 closed

[2018-07-18 23:54] Yfling commented on #5013
@lesun90
It works!
It's my carelessness. Thank you for your patience so much!  ^_^

[2018-07-18 23:54] #5013 closed

[2018-07-18 23:54] Zhenni17 commented on #4892
closing the issue.

[2018-07-18 23:54] #4892 closed

[2018-07-18 23:56] Zhenni17 commented on #4908
Closing the issue due to no further communication. Feel free to re-open the issue if there are any follow up questions.

[2018-07-18 23:56] #4908 closed

[2018-07-18 23:59] Zhenni17 commented on #4917
Closing the issue due to no further communication. Feel free to re-open it if there are any follow up questions.

[2018-07-18 23:59] #4917 closed

[2018-07-19 00:01] Zhenni17 commented on #4910
Closing the issue due to no further communication. Feel free to re-open it if there are follow up questions.

[2018-07-19 00:01] #4910 closed

[2018-07-19 01:34] alorli opened #5043 "关于高精地图制作，为什么无法申请合作权限"
有两个问题请求解答：
  1. 我现在使用诺瓦泰组合惯导+veloddyne16线激光能制作高精地图吗，需要注意什么。
  2. 我现在按照高精地图制作的文档录制了诺瓦泰组合惯导+veloddyne16线激光的bag数据，想使用百度的高精地图制作服务，但在数据权限申请那一步，有个加入我们的按钮是灰色的，点不了，请问是什么原因呢？
![1254751587](https://user-images.githubusercontent.com/15199599/42916249-dde062b0-8b36-11e8-951e-8592e3b03f1e.jpg)

[2018-07-19 01:35] alorli commented on #5043
![964942084](https://user-images.githubusercontent.com/15199599/42916284-0cd965a8-8b37-11e8-80fb-539bf06f2458.jpg)

[2018-07-19 01:45] alorli opened #5044 "关于apollo3.0的RTK record and replay 功能"
我现在使用的是apollo3.0：dev版本，惯导是诺瓦泰pp7-e1，惯导能输出差分定位信息，并显示在dreamview上。在导航模式上上选择RTK record and replay模式，我的理解只要诺瓦泰能正确输出定位信息，录制轨迹和播放导航功能就是可以用的，但是当我准备录制轨迹时点record的start和stop都没有任何反映。这是什么问题呢，谢谢。
![327009074](https://user-images.githubusercontent.com/15199599/42916543-5fd434bc-8b38-11e8-8841-46cfc33a510f.jpg)
![288950423](https://user-images.githubusercontent.com/15199599/42916550-65061f72-8b38-11e8-9991-8cbdc5

[2018-07-19 02:12] alorli opened #5045 "关于相对地图制作过程中遇到的问题。"
1. 关于相对地图制作我参考的是apollo/docs/howto/how_to_use_apollo_2.5_navigation_mode_cn.md这篇文档。gps使用的诺瓦泰pp7-e1组合惯导，并且工作正常，参考线原始数据采集时，打开了GPS、Localization模块，并且都能正常输出信息，录制数据时。record bag 按钮启动不了，一打开就自动关闭，并且在/apollo/data/bag找不到对应的bag文件。
![835431089](https://user-images.githubusercontent.com/15199599/42917302-8ff78506-8b3b-11e8-8a95-ae000db56bdd.jpg)
2. 所以使用了手动录制方式，录制了/apollo/localization/pose和/apollo/sensor/gnss/odo

[2018-07-19 02:25] alorli opened #5046 "关于组合惯导和velodyne16线激光外参的标定问题"
1. 组合惯导使用的是使用的apollo3.0：dev版本，惯导是诺瓦泰pp7-e1，激光使用的是velodyne16线激光，标定方法和标定工具参考的是apollo/docs/quickstart/multiple_lidar_gnss_calibration_guide_cn.md。由于没有64线激光，所以在配置文件中去掉了64线激光相应的部分。按照文档中的方法采集了bag数据，修改了yaml文件中的外参估计值，下面的图是标定过程中输出的点云拼接图，看图中显示的结果，标定结果十分不理想，请问可能是什么原因呢，标定过程需要注意什么问题呢
![2018-07-19 10-25-12](https://user-images.githubusercontent.com/15199599/42917888-0b2de358-8b3e-11e8-9f4f-fe6a303f64e7.png)

[2018-07-19 03:15] Yfling commented on #5013
@lesun90

Sorry, I still have a question that has nothing to do with the issue.

**How can I debug front-end js code?**

Does the front-end js debug need to use gdb? I write `debugger` in this code, but it didn't work.

[2018-07-19 03:36] AshleyRoth commented on #4935
Hello

 Thank you so much! let me clarify, did I understand correctly, specifically kvaser equipment without problems will allow connecting CAN if adjusted?

[2018-07-19 03:53] zhouyao4321 commented on #4880
I guess this line is used to check NaN. For a float or double f, f != f will be true only if f is NaN.

[2018-07-19 06:12] mickeyouyou commented on #5043
本次的合作项目仅对境外开发者有限制的开放，按钮底下已经有提示说明的。

[2018-07-19 06:44] diegohu commented on #5044
It might be a bug of HMI, we are investigating on it. Thanks for open this issue.

[2018-07-19 08:10] levuphuong opened #5051 "How to build and run 2 apollo versions in same machine?"
Hi,

I try to build apollo 3.0 and apollo 2.0 in same machine.
Problem is they share some working directories like /home/username/.cache or /usr/lib/. Then it will replace prior installation.

So could anyone have any suggestion to keep 2 installation apollo versions in the machine? Change docker name, container id or something.
Sorry I am newbie with docker environment.

Thank you.

[2018-07-19 09:06] fengqikai1414 commented on #4991
Yes. In apollo, we have extended the message types supported by ros. The original communication functions have not been reduced, so we can still use features such as service and action.

[2018-07-19 09:17] fengqikai1414 commented on #4918
No, just copy the header files to /home/tmp/ros/include will be ok.

[2018-07-19 09:18] fengqikai1414 commented on #4918
@DevMohamedMI

[2018-07-19 09:51] vladpaunescu opened #5054 "Why is bazel rebuilding whole project when I change one source file?"
Hello,

I changed a couple of lines in `/apollo/modules/dreamview/backend/handlers/image_handler.cc` to allow for RGB preview in dreamview. When I build with `./apollo.sh build_gpu` , bazel builds a lot of source files unrelated to the change.

![screenshot from 2018-07-19 12-51-26](https://user-images.githubusercontent.com/1523071/42935511-7c179d7a-8b52-11e8-9674-47f0962f1a28.png)

Many thanks,
V

[2018-07-19 10:20] SanduIrina opened #5055 "Maps File Format and Location"
I managed to convert an osm map of a campus to .xodr(open drive format). Could I use this file as a new map in Apollo? I read that it uses the open drive format but I couldn't find where these maps are so that I could add my own. I may be totally wrong with this. Do you have any advice as how to take a real world map and use it?

[2018-07-19 10:51] #4972 closed

[2018-07-19 11:45] Yfling opened #5056 "How can i use debugger in dreamview front-end code?"
Does the front-end js code debug need to use gdb?

I add `debugger` in this code, but it didn't work. so how should I debugger front-end code?

[2018-07-19 12:56] alorli commented on #5043
哦哦，是我理解错了，我理解的是仅对境外的开放有限制，对国内是完全开的呢，谢谢！

[2018-07-19 17:23] YangHan101 commented on #4935
1. Kvaser CAN interface, I believe so. But you'll have to test it. My experience with it is limited.
2. GNSS, that is correct.

[2018-07-19 22:57] yonhdee commented on #4991
cool

[2018-07-19 23:26] bbidault2 commented on #2350
@AshleyRoth For reading vehicle data, you can probably connect to the OBD connector of your vehicle with an OBD to DB9 cable + Kvaser. For writing commands (for steering, throttle and brake control) I am using a platform named PolySync OSCC with another tool for ROS integration named PolySync ROSCCO.

[2018-07-20 01:28] gulshan216 commented on #4947
Thanks for clarifying this.

[2018-07-20 01:28] #4947 closed

[2018-07-20 02:23] jilinzhou commented on #5055
The current code takes file ends with '.xml' for open drive format map. Two places which is loaded are as the following:

1. for path planning
[code]

2. for routing
[code]

I have not tried this format myself. Good luck and please let me know if it works.

[2018-07-20 03:37] hzdsdhr commented on #5045
可以尝试使用脚本， 在scripts下record_bag.sh, 其中要记录的话题名可以修改脚本来配置。

[2018-07-20 03:43] hzdsdhr commented on #5029
That's big issue for perception. I also try to figure out why multiple time sources instead of using ROS time only. To fix the time difference, you need to make your system time(ros time source) to be close to the gps time. In fact, apollo provided the script for synchronizing your system time to real time under scripts/time_sync.sh. Try to use it in host before enable perception module.

[2018-07-20 03:49] hzdsdhr commented on #5012
There is a tool for doing this  provided in apollo which is: modules/map/tools/proto_map_generator, you need to build it first, then run the programm with parameters which specify the base_map directory.

[2018-07-20 03:58] AshleyRoth commented on #2350
@bbidault2

Thanks for your answer
Did I understand correctly? you connected to odb, get data in PolySinc on in Apollo?
I apologize for the stupid questions, I myself wanted to connect to the Apollo via Kvaser Leaf Light 2 car CAN. in apollo created a new CAN client according to the instructions, but nothing is displayed. status unknown

[2018-07-20 05:24] kk2491 commented on #5012
@hzdsdhr Thanks for the response. I will check and update you if any queries.

[2018-07-20 06:41] AshleyRoth commented on #4935
@YangHan101 Thanks for answers!

I tried adding a new CAN device as written in the instructions. I took the following steps:
1. create file example_can_client.cc using the code from step 1 and put in folder "apollo/modules/drivers/canbus/can_client"
2. make step 2 and step 3

![conff](https://user-images.githubusercontent.com/37982453/42987163-f5d36712-8c00-11e8-9c5f-50fdf1668300.png)
got this mes

[2018-07-20 06:51] kk2491 commented on #2747
@hongkedavid I am getting the same error.
[code]

Kindly let me know if you have fixed this error.

Thank you,

[2018-07-20 07:43] gengqx opened #5075 "CI:the BUILD of cuda_util_genrule does not run properly"
Here I build a gitlab_runner to support CI.
if use:
[code]
it would not build cuda_util_genrule.
but if I use:
[code]
it would build properly.
here is the history,scripts with ci just the copy of the origin file.
[code]

[2018-07-20 07:44] #5056 closed

[2018-07-20 07:49] RushNuts opened #5076 "Question about adding new CAN"
Hello. Could you please explain how can I add a new CAN device? Specifically, 1 step in the instructions, I could not figure it out. Do I need to create a separate folder with the files or create a .cc file with the code from step 1 in the instructions in a folder. in step 1, is it necessary to supplement? Explain please how to add me correctly

Thanks!

[2018-07-20 08:40] linpanusst commented on #4846
I have solve this problem. I need to add the ***.so in BUILD. For example:
in the folder of   apollo/modules/drivers/canbus/can_client/ . and in the file : BUILD
add  code like this:
`cc_library(
    name = "usb_can_client",
    srcs = [
        "usb_can_client.cc",
        "lib/libcontrolcan.so",
    ],
    hdrs = [
        "usb_can_client.h",
        "usbcan.h",
        "controlcan.h",
    ],

[2018-07-20 11:31] kk2491 commented on #4554
@alexbuyval .. I have followed the procedure given by you.
But the error remains the same.

[code]

Could you please let me know the procedure followed to fix this issue.

Thank you,
KK

[2018-07-20 12:57] lesun90 commented on #5033
You dont want the car change trajectory every time planner run -> car will change direction frequently
So you keep a portion of previous plan trajectory and stitch it to new trajectory.

[2018-07-20 14:42] kk2491 commented on #4554
@alexbuyval @techoe . I was able to get rid of the error I updated in previous comment.

Now while running all unit tests for apollo project I am getting the below error.

[code]

I have already installed libglfw3-dev 3.2.1-1.

Kindly let me know if I need to open new case for this query.

Thank you,
KK

[2018-07-20 17:02] yangydavid opened #5078 "QP-Spline-Path Optimizer"
Hi there,

I have a question regarding to the QP-Spline-Path Optimizer. For each lane segment, we have 3 initial conditions and 3 end point conditions, which is enough to determine the coefficients of a 5th order polynomial, then how do we optimize our cost since the program is already over constrained?

I understand that the smoothness constraints was used to smooth out the joint, however, it is

[2018-07-20 18:47] #4317 closed

[2018-07-21 02:10] #5010 closed

[2018-07-21 04:03] #4885 closed

[2018-07-21 08:07] #4991 closed

[2018-07-21 14:18] SanduIrina commented on #5055
Thank you,
For now I'll try to manually convert some maps from a driving simulator called carla, I'll keep you posted on what I find when I'll try to convert a real world map. Do you happen to know what the scale for the coordinates is? For example, I used the map_gen_two_lanes_right_ext.py script to generate a base_map and in the input file I wrote a bunch of coordinates, like 0,24 24,24 and so o

[2018-07-21 17:20] wckorealsh opened #5092 "how to engage autonomous mode?"
Hi Team Apollo,

Always appreciated your comments on here.
I am wondering how you actually engage autonomous mode.
I was thinking of following steps, please correct me if I am wrong.

1. Run perception/canbus/localization modules(+others) as needed.
2. Give it a route (the first point of routing should be where the vehicle is currently).
3.  run planning module -> trajectory will be visualized in

[2018-07-22 19:59] #3597 closed

[2018-07-22 19:59] #3915 closed

[2018-07-22 20:00] #3982 closed

[2018-07-22 20:00] #3983 closed

[2018-07-22 20:01] #4254 closed

[2018-07-22 20:01] lianglia-apollo commented on #4280
In practice, the t_knots will be at least 3.

[2018-07-23 04:56] VigiZhang opened #5093 "Failed on compiling velodyne"
New added blocking_queue.h has problem in `take` function argument `std::vector<T>* v` which will lead to error:
./modules/common/util/blocking_queue.h:98:8: error: member reference base type 'std::vector<T> *' is not a structure or union

[2018-07-23 08:10] linpanusst commented on #5076
I have the same problem. However I have a idea how to deal with it. It may help.
When we add a new can card. We do exactly as what the file in github says, except one thing they don't explain in detail, the .so files.  I think we can add  the .so files in the build files. I did that and it build successfully. But I didn't check out if the can was in apollo and if I can get data through this new ca

[2018-07-23 08:13] RushNuts commented on #5076
@linpanusst hi! Thanks for your answer! and how do you connect CAN? I have in mind equipment

[2018-07-23 08:18] linpanusst opened #5094 "Questions in e2e."
How can I use the e2e structure?
I found that there is no algorithms in e2e. Does it mean that I have to write the algorithms by myself?
Is there any one have some experience in this field?
If you can give a demo to run, plz contact me.

[2018-07-23 08:31] linpanusst commented on #658
@abinlee
Can you tell me that if apollo support e2e training algorithms?
If I want to run a demo which is belong to e2e modules in apollo, what should I do or prepare?
And how to run this demo without a car and px2?
Can I just simulate in the computers?

[2018-07-23 08:36] linpanusst commented on #1225
@yiakwy
Hi, did you run the demo in e2e?
I am beginning to learn this modules, but I can't understand that if I can run this demo in simulation?
What the difference between e2e and the regular automatic pilot?
thank you for your reply.

[2018-07-23 09:04] simon750324 commented on #4388
@balazon
I met the same problem like yours. I cannot run dreamview successfully by "bash scripts/bootstrap.sh". However I can run dreamview successfully "bash scripts/dreamview.sh".

You mention that "But the full perception is probably not working properly when playing back the demo 2.5 rosbag (for eg. I have no camera picture on top-left side)". If you just want to see the camera view, you can t

[2018-07-23 09:25] simon750324 opened #5095 "如何在Apollo 3.0開啟支援lidar的perception module"
在apollo 2.5之後似乎都使用只有radar和camera的perception_low_cost的配置。
如果想使用只支援lidar的perception module，請問有現成的script嗎? 或是需要修改那些conf文件才能做到?

[2018-07-23 11:13] kk2491 commented on #4838
@jmtao  .. Thanks for the response. I have tried the tasks. In case of Cyclist, the autonomous car doesn't follow the obstacle even if the speed of the cyclist is higher than the threshold. It does stop and go.
Could you please let me know if there is any other conditions?

[2018-07-23 11:15] kk2491 commented on #4938
@mickeyouyou .. I was able to fix the issue by regenerating the bin files for the older map files. However it would be great if I can find the cause for the issue.

[2018-07-23 11:35] GeorgeMD commented on #4646
@yuqijin I'm facing the same problem. I found the exact same error. Did you find any fix for it?

[2018-07-23 17:45] GeorgeMD commented on #1687
I get the exact same error, but I don't have an nVidia GPU. Is there anything I can do to make this work?

[2018-07-23 23:46] xiaoshuliu commented on #5007
@snuffysasa The coordinate frame for lane line here is the FLU world coordinate: vehicle is (0, 0, 0), X is Front, Y is Left, and Z is Up.
Y is calculated as Y = c3*X^3 + c2*X^2 + c1*X + c0.
Longitude start , end is a min, max range of the detected lane line, in X direction.

[2018-07-24 00:19] xiaoshuliu commented on #4797
@csukuangfj I don't think this part is open-sourced.

[2018-07-24 01:05] snuffysasa commented on #5007
hmm, you say the formula is

Y = c3X^3 + c2X^2 + c1*X + c0,

but the documentation says the formula is

equation X = c3 * Z^3 + c2 * Z^2 + c1 * Z + c0.

which is correct?

[2018-07-24 01:14] JaredTan95 commented on #5009
I think you're asking the wrong question,You should go to [ctrip/apollo](https://github.com/ctripcorp/apollo).

[2018-07-24 01:40] snuffysasa commented on #5007
Okay great thank you.

the formula you gave makes sense, but hang on,

are you sure you don't mean:   Y = c3 * X^3 + c2 * X^2 + c1 * X + c0 ?

[2018-07-24 01:53] xiaoshuliu commented on #5007
@snuffysasa Yes I think Y = c3 * X^3 + c2 * X^2 + c1 * X + c0 should be correct.

[2018-07-24 02:50] snuffysasa commented on #5007
and does this mean that, positive Y values are to the left of the vehicle and negative Y values are to the right of the vehicle ?

[2018-07-24 02:51] csukuangfj commented on #4797
@xiaoshuliu
thank you for the comment.

Many open source projects are used inside Apollo including caffe. Are there any reasons to make Apollo open sourced but not the modified caffe ?

[2018-07-24 02:58] xiaoshuliu commented on #5007
@snuffysasa Yes.

[2018-07-24 02:58] xiaoshuliu commented on #4797
@csukuangfj I'm sorry I don't know the reason...

[2018-07-24 06:45] AshleyRoth commented on #5076
I am also interested in this issue. I think this question is relevant. Dear developers, please respond, help us

[2018-07-24 08:48] AshleyRoth commented on #4935
@Capri2014 @YangHan101
Hello, again!
Does apollo support these PCI CAN cards:
- https://esd.eu/en/products/can-pci402
- https://www.peak-system.com/PCAN-PCI.207.0.html?&L=1

Will wait for your answer. Early thanks

[2018-07-24 08:55] SanduIrina commented on #3005
Could you email me the specification as well please? Thank you. sandu.irina2@gmail.com

[2018-07-24 08:56] gladijos commented on #4937
@yifeijiang Thx a lot, I'll try it soon

[2018-07-24 09:48] lygincn opened #5104 "how to make some changes during using the azure simulation platform"
Hi guys,

I have recently started to learn about the azure simulation platform. In the user guide is written, that the only thing I need to do is to upload my own .git data to the platform and run it. So I forked the apollo repository to my own and made some small changes then committed it.

what i have done is:
1.changed the vehicle parameters (length and width) in vehicle_param.pb.txt

vehicle_p

[2018-07-24 12:02] SanduIrina commented on #5012
@hzdsdhr by building you mean running apollo.sh build? I assume there should be an executable to which I should pass the file location, but I don't know how to get it. I tried compiling it with gcc but I didn't work.

[2018-07-24 12:36] sukibean163 opened #5105 "_participant.so undefined symbol err"
how to build  _participant.so in dir ros/ros_comm/roscpp/lib?
because i use catkin_make_isolated to build apollo from source, after i run roscore, i get err:
_participant.so: undefined symbol: _ZN3ros11Participant8read_msgEv

[2018-07-24 18:01] lianglia-apollo commented on #5093
We fixed this issue at https://github.com/ApolloAuto/apollo/commit/f12c3891fe29479e530860b6c6304515c752fc80.

[2018-07-25 00:53] #5105 closed

[2018-07-25 01:35] Durant35 commented on #1687
I think，no...

[2018-07-25 03:43] linpanusst commented on #5076
@RushNuts
hi! I just successfully build in apollo. However, when I open the dreamview I can't see my hardware which should be a usbcan.
I think that if it is possible to change the ESC_CAN parameters. So, I write the codes which is focus on  usbcan. I add the libcontrolcan.so(if you use another kind of cancard you need to download the .so files which match your card) in build files.
But in conclus

[2018-07-25 03:45] Qdriving commented on #4194
Up! I have the same doubt. ......

[2018-07-25 03:52] RushNuts commented on #5076
@linpanusst, hello!
what usb can the device you use?
at the moment I stopped on the fact that I created a folder in the can_client directory in the same way as the esd folder, now I'm trying to figure out how to make my device apollo recognize

[2018-07-25 08:36] gengqx commented on #3005
Hi,@Zhenni17 @msbeta.Can I have a copy of the Apollo OpenDrive specification please? Thanks.  geng.qx@cidi.ai

[2018-07-25 12:38] ayeganov commented on #3005
Hi, @Zhenni17 @msbeta. May I please get a copy of the Apollo OpenDrive spec? Sincerely, ayeganov@gmail.com. Thank you!

[2018-07-25 14:08] jilinzhou opened #5120 "The missing declaration of "use_navigation_mode" in third_party_perception_flags.h causes the module build failure."
The modules/third_party_perception/conversion.cc has references to FLAGS_use_navigation_mode but it is neither declared or defined in modules/third_party_perception/common/third_party_perception_flags.h/third_party_perception_flags.cc. After adding the declaration and definition, the module can be built successfully.

[2018-07-25 15:29] whunmr commented on #603
@msbeta, could you please send me the Apollo OpenDrive spec to whunmr[at]gmail.com

thanks mate.

[2018-07-26 00:51] techoe commented on #4732
The error log occurs (stat=-1) whenever the tool have not receive any gnss message or the image stamp is not correct. Please check the topic of GNSS message or image stamp.

[2018-07-26 00:51] #4732 closed

[2018-07-26 01:10] gulshan216 opened #5126 "How to gdb debug the Planning module"
Hi,

I would first like to thank you for providing SimControl functionality, which is quite helpful in testing while implementing any planning algorithms in Apollo. But to still debug the planning module implementation, i currently know only 1 way of printing debug messages and then checking the planning.INFO for the same. Unfortunately this method does not help in case any exception occurs in my

[2018-07-26 01:20] gulshan216 opened #5127 "Usage of the script modules/tools/planning_traj_plot/main.py"
Hi,
Can someone please let me know how to use the script in modules/tools/planning_traj_plot? I see we need to provide it the input data as planning.pb.txt and localization.pb.txt. But I do not know where to get these files from.
Also I would really like to know if there are any other helpful tools which can help in designing and testing the planning algorithms in Apollo

[2018-07-26 01:54] gulshan216 opened #5128 "How to modify/trim the already available Routes through the Points of Interest tab in Dreamview"
Hi,

I would like to trim one of the Routes like "Route: Sunnyvale Big Loop" available through the Points of interest tab in Dreamview. I am just trying test a particular scenario in that Route and would like to know if there is a way i can trim down this route to just use a the relevant part of the route for my testing

[2018-07-26 08:22] gengqx commented on #5012
@SanduIrina if you excute bash apollo.sh build ,if would automatically build that code,and you cd into the bazel-bin folder,you could fine the binary file.then you run it with parameter: map_dir and out_dir,it would success generate a base_map.txt and a base_map.bin to the out_put folder.

[2018-07-26 08:29] STX321 opened #5131 "rtk correction signal?"
Dear Apollo:
     Apollo can use rtk+gps+imu to realize precise positioning, but I don't know where Apollo obtain the rtk correction signal, what's the principle of Apollo uses rtk?
    Thank you!

[2018-07-26 08:32] gengqx commented on #4989
docker的分层文件存储方式导致了启动后一些tmp文件被存储下来，同时如果你更新了代码，images的version可能会更新，会重新下载一个新的images。可以执行
[code]
查看本地现有的images，删除无用的images
执行
[code]
删除不必要的文件层。

[2018-07-26 08:34] gengqx commented on #5131
the gnss conf file would have rtk_from and rtk_to,then we can use ntrip method to obtain rtk signal

[2018-07-26 08:42] gengqx commented on #5127
you could use rosbag folder dump_planning.py to get that file.

[2018-07-26 08:49] gengqx commented on #5094
If you really need to run it,you could checkout to branch r1.5.0,that branch would have a demo code to run it.
But Why apollo team delete that code? I think it only a demo,you could not get more insight about it.
So, Don't waste your time.

[2018-07-26 08:51] gengqx commented on #5076
@linpanusst ,you need to re implement the code in monitor about can hardware.

[2018-07-26 08:54] muleisheng commented on #5126
You can use gdb to debug planning module for it is an independent process. In my experience, I would launch Apollo. Then, find a planning process and attached it by using gdb. Now, you can debug it.
Also, you can find input parameters of planning by ps command and then launch it in gdb.

[2018-07-26 16:10] artyfarty commented on #4388
Well you can avoid this issue by not using sock files. Remove `[unix_http_server]` section and use this combo:

[code]

[2018-07-26 16:37] gulshan216 commented on #5128
I found the answer. Just saw the option of adding Points of interests ourselves in Dreamview. Sorry for the newbie question

[2018-07-26 16:37] #5128 closed

[2018-07-26 17:33] AshleyRoth commented on #5076
@gengqx Hello! Can you help me? With CAN connection. I have a lot of questions about the connection. unfortunately I only have USB2CAN devices Kvaser and PEAK. I'm having connection problems, I can not connect CAN .. (

[2018-07-26 18:34] #4211 closed

[2018-07-26 20:15] #5007 closed

[2018-07-26 21:45] gulshan216 opened #5137 "Vehicle does not stop at the routing end point"
Hi,

I am using Apollo 2.5, when trying to add my own route and sending the routing request, but the vehicle does not seem to stop at the routing endpoint. In Dreamview it shows the vehicle keeps on going forward after the routing endpoint for a while and then shows the vehicle stopped at the routing endpoint itself. Seems weird. Can someone explain why?
Also which function in planning module hand

[2018-07-26 22:22] gulshan216 opened #5139 "How to add a new point of interest permanently in the Dreamview interface"
Hi,

I am trying to add a new point of interest through the Route Editing panel available in Dreamview. I first select the start and end routing point and then click on "Add Point of Interest" but it just shows me the window for the already existing Points of Interest and need to select one of the existing ones.
What is the procedure to add a new point of interest? And also how to add it permanent

[2018-07-26 23:49] YangHan101 commented on #4935
Please check the official website for supported hardware.
http://apollo.auto/platform/hardware.html

[2018-07-26 23:50] YangHan101 commented on #4911
@Leonardo092 I think you are right. You also need to make sure the data from the sensor are processed properly, and output to upper layers in the same format.

[2018-07-26 23:51] #4695 closed

[2018-07-26 23:55] YangHan101 commented on #3755
@chexiaoyu, maybe you should open a separate issue.

Do you have an Esd can card installed? Do you have the driver installed as well? Can you post the result of "lspci -tv"?

[2018-07-26 23:56] YangHan101 commented on #2330
Closing ticket. Feel free to reopen.

[2018-07-26 23:56] #2330 closed

[2018-07-27 01:31] chexiaoyu commented on #3755
Well，I change “CHANNEL_ID_ONE” to “CHANNEL_ID_ZERO” ,and solve the problem.Thank you.

获取 Outlook for iOS<https://aka.ms/o0ukef>

________________________________
收件人: Yang Han <notifications@github.com>
发送时间: 星期五, 七月 27, 2018 07:56
收件人: ApolloAuto/apollo
抄送: chexiaoyu; Mention
主题: Re: [ApolloAuto/apollo] NTCAN_NET_NOT_FOUND - CAN device not present (#3755)

@chexiaoyu<https://github.com/chexiaoyu

[2018-07-27 01:41] Carlzhangk opened #5141 "ValueError: No closing quotation in the gen vehicle protocol tool"
Hello, When I used the gen vehicle protocol tool (modules/tools/gen_vehicle_protocol) to generate the necessary files to use Apollo with my vehicle, it turned out the following error. If the issue lies in my dbc file, the file was created by Vector tool and has been used in similar CAN tools. Any direction?

Traceback (most recent call last):
  File "gen.py", line 68, in <module>
    gen(conf)
  F

[2018-07-27 03:48] phhai commented on #3005
I am also interesting of the Baidu OpenDrive specification. Could you email it to me? phhai@ymail.com or phhai.fit@gmail.com. Thank you very much!

[2018-07-27 04:53] linpanusst commented on #5094
hi, thanks for your reply.
what do you mean about r1.5?
Does it mean that apollo 1.5 ?
you said some code was deleted, do you have any code about this?

[2018-07-27 06:10] mickeyouyou commented on #5120
Thanks so much for mention that , could you pull a request

[2018-07-27 06:33] mickeyouyou commented on #5095
In fact, you only need to start the default `scripts/perception.sh` script, which loads the configuration `/modules/conf/perception.conf` file, which describes the nodes that are processed for the lidar topic.

[2018-07-27 06:37] mickeyouyou commented on #5094
You can find apollo e2e codes in here `https://github.com/ApolloAuto/apollo/tree/r1.5.0/modules/e2e`

[2018-07-27 07:05] linpanusst commented on #5076
@gengqx
Hi, the suggestion you give is confused. Can you locate the code in files?

[2018-07-27 07:36] douqian commented on #4999
Hi snuffysasa,
In prediction.cc, we can see prediction module publish prediction_obstacles like this "Publish(&prediction_obstacles)" and does't publish lane_graph.  lane_graph is used in evaluator.

[2018-07-27 07:42] douqian commented on #5092
Please reference this quick start doc:
https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_3_0_quick_start.md

[2018-07-27 10:46] kk2491 commented on #5012
@gengqx .. I hope you are referring to the below link https://github.com/ApolloAuto/apollo/tree/master/modules/map/data where generation of bin files for map is explained.

I am yet to try the method mentioned by @hzdsdhr to convert txt to xml. Will update here once I give a try.

Thank you.

[2018-07-27 18:44] lianglia-apollo commented on #5120
We will revert the change as this flag has already been defined in other places. Please build apollo as a whole rather than building a single module.

[2018-07-27 18:54] geoffviola opened #5146 "Upgrade Docker Image to Use Ubuntu 16.04 or 18.04"
The Ubuntu 14.04 base image is getting old. Is there a chance that it will be updated to 16.04 or 18.04? One of the changes would be to use ROS Kinetic or Melodic.

I noticed that a lot of the `docker/build/installers` scripts it uses `sudo`, which is not part of the image. It seems to work for 14.04, but not 16.04.

[2018-07-27 19:19] jilinzhou commented on #5120
Agreed. I just noticed it is defined in the global flag config file and it does make sense.

[2018-07-27 22:22] YangHan101 commented on #3755
@chexiaoyu Thanks for the update.
@lyletbjohnson I am closing the ticket. If you have more update, please feel free to reopen.

[2018-07-27 22:22] #3755 closed

[2018-07-27 22:25] jpkuta opened #5150 "How to enter the docker offline / with no network"
Could someone explain the steps I would need to take to be able to launch and enter the apollo docker offline. I would like to be able to enter the docker and perform tests without having an internet connection. Thanks very much!

[2018-07-27 22:48] Abelteklu commented on #4674
same question

[2018-07-27 23:14] gulshan216 commented on #5127
@gengqx Do you know how to record Rosbag data while running Apollo? The reason is that the dump_planning.py needs an input rosbag data. After doing a bit of search i see some scripts like modules/data/tools/recorder/data_recorder_manager.py that might do the job, but on running the script i just get the following error:
pl@in_dev_docker:/apollo$ sudo python modules/data/tools/recorder/data_recorde

[2018-07-28 02:20] yuy0924 commented on #3005
Hi can you email me the Apollo OpenDrive specification please ? yuyao.zoe@gmail.com

[2018-07-28 08:24] XinWenfei opened #5160 "velodyne VLP-16激光雷达坐标系转换问题"
系统是在docker中运行的，雷达和GPS已经连在一起了，运行之后报如下错误，这个错误是在canTransform中报的错误，坐标系转换失败，打印出的child_frame_id是velodyne16，我在另外一个终端手动发布了一个空白的转换后，Error info就变了，缺少什么信息，所以问题应该是激光雷达没有发布自己的坐标系，而且奇怪的是，也没有世界坐标系，这个错误应该怎么解决呢，我在gnss模块中看到有个单独的tf文件夹去实现坐标系发布，那velodyne雷达是不是也需要这些东西，如果需要的话，是要自己实现吗？
（velodyne的问题很多，建议开个velodyne的标签）
![2018-07-28 15-01-05](https://user-images.githubusercontent.com/14092833/43354532-90bd88b8-9280-11e8-90e0

[2018-07-28 11:31] muleisheng commented on #5150
you could reference following command:
sudo <Apollo dir>/docker/scripts/dev_start.sh -l <your local image>.

Hope this could help you:)

[2018-07-28 13:08] douqian commented on #5137
Hi gulshan,
Vehicle has its Inertia according to its speed and weight, so it isn't perfect control.
In planning, destination.cc, build pull-over decision upon arriving at destination,
int Destination::PullOver(common::PointENU* const dest_point) {
  auto* planning_state = GetPlanningStatus()->mutable_planning_state();
  if (!planning_state->has_pull_over() ||
      !planning_state->pull_over().in_

[2018-07-28 13:11] douqian commented on #5146
Please reference: https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_3.0_with_ubuntu16.md

[2018-07-28 15:02] zhxt commented on #5150
Yeah, @muleisheng is right, there is an -l option to start docker locally. This may work well for early version,  for the latest version, the new added docker images are not handle the -l option, so some additional work need to be done to achieve this.

Simply, you may need to find all the 'docker pull' command(except the main docker, handled already) and comment it out in dev_start.sh and restart

[2018-07-29 02:01] Kenyon-Jeffery opened #5161 "Is the demo_2.5.bag very slow in downloading?"
Well, I read the document about "How to Launch and Run Apollo" in apollo/docs/howto/how_to_launch_Apollo.md and now I finish opening the Access Dreamview.
The next step is "Replay demo rosbag".

However when I try to write these code:
# get rosbag note that the command download is required
python ./docs/demo_guide/rosbag_helper.py demo_2.5.bag

The Ubuntu Terminal reacts very slow:

Downloading fr

[2018-07-29 02:29] Kenyon-Jeffery commented on #5161
OK...It is the fault of WIFI:

HTTP request sent, awaiting response... 403 Forbidden
2018-07-29 10:15:09 ERROR 403: Forbidden.

Download demo_2.5.bag failed

Can I say that most of sad from learning apollo comes from the slow of WIFI?

[2018-07-29 07:18] zqsh commented on #4504
looking forward some info on the organization of module and function of these modules

[2018-07-29 11:21] kk2491 commented on #4414
@lesun90 @jinghaomiao ... Hi Guys.. I have the same confusion.

[2018-07-29 21:19] wckorealsh opened #5163 "steer_angle_rate"
Hi apollo,

Does ` cmd->set_steering_rate(FLAGS_steer_angle_rate); ` in `lat_controller` and `mpc_controller` actually effects on vehicle control or simply fills out the empty field?

[2018-07-30 02:42] XinWenfei commented on #5160
这个在另外一个机器上运行是没有问题的，看来不是坐标系转换的问题

[2018-07-30 02:42] #5160 closed

[2018-07-30 03:45] turinglife opened #5165 "steer_single_direction_max_degree_ in mpc_controller.cc"
in mpc_controller.cc, #88 line.

  steer_single_direction_max_degree_ =
      vehicle_param_.max_steer_angle() / steer_transmission_ratio_ / 180 * M_PI;

I was wondering whether the formulation is wrong. Since the unit of vehicle_param_.max_steer_angle() is rad, so we should use *180/M_PI instead of 180 * M_PI.

Thanks.

@Capri2014

[2018-07-30 04:03] fenglupeter opened #5166 "bash apollo.sh build failed"
[INFO] Building on x86_64...
INFO: Reading 'startup' options from /apollo/tools/bazel.rc: --batch_cpu_scheduling
INFO: Analysed 1470 targets (12 packages loaded).
INFO: Found 1470 targets...
ERROR: /home/autolab/.cache/bazel/_bazel_autolab/540135163923dd7d5820f3ee4b306b32/external/com_google_protobuf/BUILD:113:1: C++ compilation of rule '@com_google_protobuf//:protobuf' failed (Exit 1)
In file inc

[2018-07-30 05:06] Capri2014 commented on #5165
@turinglife thanks for pointing this out and you are right.

[2018-07-30 05:07] Capri2014 commented on #5163
fulfilled according to vehicle specs

[2018-07-30 05:42] Capri2014 commented on #5165
fix created via https://github.com/ApolloAuto/apollo/pull/5167 @turinglife

[2018-07-30 05:48] turinglife commented on #5165
Maybe, we also need to remove term of steer_transmission_ratio_ in the formula.

steer_single_direction_max_degree_ = vehicle_param_.max_steer_angle() * 180 / M_PI;

@Capri2014

[2018-07-30 14:55] jpkuta commented on #5150
Thank you, the steps @zhxt  mentioned on commenting out the 'docker pull' commands in both dev_start.sh and restart_map_volume.sh has done the trick!

[2018-07-30 14:55] #5150 closed

[2018-07-30 20:13] draturi commented on #5166
We have experienced the same problem, it seems the latest docker image does not come pre-loaded with the bazel/protobuf dependencies under the '/home/tmp/' directory. This leads to bazel runtime not being able to find the packages and therefore failing.

[2018-07-30 22:25] gulshan216 commented on #5137
This function is not there in Apollo 2.5. It is only included in Apollo 3.0 i guess. So do you think i need to port this functionality from 3.0 or upgrade completely to 3.0 to get the desired functionality.

[2018-07-30 22:58] hadiTab commented on #4315
For anyone else running into this issue, the reason this is actually happening may be that you are launching the script from the `/apollo/scripts/` folder. You need to run it from the root directory, i.e. `./scripts/perception.sh`.
**Do not** `cd` into `scripts/`.

[2018-07-31 00:09] analyzerav opened #5177 "How can we perform responsible disclosure about security problems with Apollo"
Hi Apollo developers, is there any channel (e.g., email, website) for us to report security problems or attacks on Apollo? Could you let us know how to perform such responsible disclosure in Apollo? Thanks.

[2018-07-31 02:50] #5093 closed

[2018-07-31 06:47] youluexx opened #5181 "[ WARN] [1533019115.426721365]transport_mode.yaml is not map"

[2018-07-31 06:47] #5181 closed

[2018-07-31 06:50] mickeyouyou commented on #5177
Hi @analyzerav
if you have some security problems you can send mail to our security team by email or website.

**Email**
You can report security problems to our security team apollo-anquan@baidu.com, they will make a professional response.

**Security Website**
http://apollo.auto/platform/security_cn.html

[2018-07-31 07:52] SanduIrina opened #5182 "Cannot use map.yield.add"
Hello there, I'm working in python on creating my own map and when I try to add generate the sim map with /bazel-bin/modules/map/tools/sim_map_generator it downsamples way too much. Is there a way to change the downsampling factor? I only saw the binary file and couldn't find the script itself

[2018-07-31 08:58] kk2491 opened #5183 "Uses of PerceptionSLBoundary() and reference_line_st_boundary()"
Hi All,

I have been going through the Apollo code and getting confused in the below point.

**PerceptionSLBoundary()** -- This gives the trajectory for the Obstacle using the protobuf. (It gives 4 values start_s, end_s, start_l and end_l).

What does this **reference_line_st_boundary()** gives ? - Looks like it returns the class object from the class. Whether this creates a 2D box around the obst

[2018-07-31 14:03] wfgsy101 commented on #2488
also meet error : unable to find user xxx: no matching entries in passwd file,
you need to add  user to docker, try below two command
sudo groupadd docker
sudo usermod -aG docker $USER
next , you need to restart the docker by below 2 command
sudo service docker stop
sudo service docker start
and now you could follow below step without sudo command
bash docker/scripts/dev_start.sh  -C
bash scripts/

[2018-07-31 14:14] #5183 closed

[2018-07-31 15:09] muleisheng commented on #5182
You could refer the source code in apollo/modules/map/tools/sim_map_generator.cc. Hope this could help you:)

[2018-07-31 15:14] SanduIrina commented on #5182
Thanks, I found it in the end. For some reason I was only looking for .py files....

[2018-07-31 15:31] muleisheng commented on #5141
_line_ may be "".  You could print var line and check if it is "".

[2018-07-31 15:38] 1790387702 opened #5188 ".ini file does not include supervisorctl section"
in_dev_docker:/apollo$ bash scripts/bootstrap.sh
Started supervisord with dev conf
Start roscore...
Error: .ini file does not include supervisorctl section
For help, use /usr/local/bin/supervisorctl -h
voice_detector: started
Error: .ini file does not include supervisorctl section
For help, use /usr/local/bin/supervisorctl -h
Error: .ini file does not include supervisorctl section
For help, use /u

[2018-07-31 17:42] YangHan101 commented on #4732
You can try the time_sync.sh script under /apollo/scripts.
It could also be the UVCVideo is using the relative time setting. If that is the case, try with root access:
[code]

[2018-07-31 23:24] analyzerav commented on #5177
@mickeyouyou Thanks for your information!

[2018-07-31 23:24] #5177 closed

[2018-08-01 00:56] jmtao commented on #4838
@kk2491 can you be more specific or post screen shot of your DreamViewer? ADC follows the bicycle if the bicycle running along ADC's current reference line. If the bicycle stops ADC would stop.

[2018-08-01 01:36] muleisheng commented on #5017
Here are two books I have learned, one is "Learning with Kernels: Support Vector Machines, Regularization, Optimization, and Beyond", the other is "kernel methods for pattern analysis".

Hope this would help you:)

[2018-08-01 05:27] kk2491 commented on #4838
@jmtao .
1. When I try the follow behavior with "vehicle" as moving obstacle, I would see the follow behavior working as expected (I could see the green follow sign)
2. Even in the case of unknown moving obstacle it works normal.

But in the case of cyclist instead of seeing a follow behavior (with green follow sign) I could see "stop behavior" (read sign). However car doesnt come to stop it keeps

[2018-08-01 05:51] gulshan216 commented on #5137
@douqian

[2018-08-01 06:32] douqian commented on #5137
Suggest you to upgrade the project to 3.0, because it includes the latest bug fix and new feature.

[2018-08-01 07:02] kk2491 commented on #4871
@natashadsouza @davidhopper2003 ..
After updating the glfw_fusion_viewer.cc as mentioned in the given document, I am getting the below error.

ERROR: /apollo/modules/perception/obstacle/camera/visualizer/BUILD:5:1: C++ compilation of rule '//modules/perception/obstacle/camera/visualizer:visualizer' failed (Exit 1)
modules/perception/obstacle/camera/visualizer/glfw_fusion_viewer.cc: In member funct

[2018-08-01 09:59] Capri2014 commented on #5165
@turinglife Yep, it is slightly modified.

[2018-08-01 10:29] xinwf opened #5195 "百度的激光雷达标定服务为什么要排队这么久"
如下图所示,昨天晚上上传了一个待标定的文件,只有80M左右,预计30分钟完成,可是排队快排了一天了,还是没反应,发邮件到Apollo-OCP@baidu(标定服务平台左下角提供的联系方式)也无人回应,现在在线标定服务平台是出什么问题了吗
![screenshot from 2018-08-01 18 23 31](https://user-images.githubusercontent.com/29973419/43516437-3101bba2-95b8-11e8-8641-26adb24c780b.png)

[2018-08-01 13:27] sudhanvakudlapur opened #5196 "Regarding rqt_graph"
Is there any way where we can view data from protobuf instead of messages like how we view in ROS?
or
Is there any alternatives which does the same?

sourcing ROS inside docker did not work.

[2018-08-01 14:48] alexbuyval commented on #3005
Hi,@Zhenni17 @msbeta. Could you, please, send me the Apollo OpenDrive specification too! Thank you for advance! a.buyval@innopolis.ru

[2018-08-01 21:32] Carlzhangk commented on #5141
@muleisheng Thanks for your comment. Could you please be more specific on where to print var line in the script? I look forward to it.

[2018-08-01 22:25] yangydavid commented on #4674
RTK: it records the historical data (GPS, IMU) when you drive along a certain trajectory. Then, when you replay it using IPC online, your car will just followed the trajectory previously recorded through RTK system.

EM: it follows the DP-QP optimization sequence for the path and speed profile

Lattice: it decompose the kinematics into lateral and longitudinal directions. however, it follows the s

[2018-08-02 02:36] xinwf commented on #5195
排队时间和平台上总任务量以及平台计算资源相关，如果需要即时得到结果，可以尝试在车端标定。工具文档地址是https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/multiple_lidar_gnss_calibration_guide.md。车端工具使用问题可直接在github上反馈，有专人负责解答。谢谢使用Apollo！

感谢百度Apollo方面的回应。

[2018-08-02 02:36] #5195 closed

[2018-08-02 08:32] simon750324 commented on #5095
@mickeyouyou Thanks.

[2018-08-02 08:32] #5095 closed

[2018-08-02 13:32] MonkeyTang opened #5210 "Eigen alignment problem"
Why we can't see EIGEN_MAKE_ALIGNED_OPERATOR_NEW in Apollo code.
this MARCO from https://eigen.tuxfamily.org/dox/group__TopicStructHavingEigenMembers.html.
In other words: you have a class that has as a member a fixed-size vectorizable Eigen object, and then you dynamically create an object of that class.

[2018-08-02 13:51] gladijos commented on #5126
Also you can debug your modules inside VSCode using gdb. You just need make "launch.json" file or correct it if you have one. And fill it with
`{
            "name": "C++ Launch MyPlanningModule",
            "type": "cppdbg",
            "request": "launch",
            "program": "${workspaceRoot}/bazel-bin/modules/planning/planning",
            "miDebuggerServerAddress": "localhost:1111",

[2018-08-02 14:01] kk2491 opened #5211 "Clarification needed - traffic_decider change_lane.cc"
Hi Guys,

I have been going through different traffic_decider tasks.

Given below is the condition checked in change_lane.cc line number 57.

[code]

Lets consider max(config_.change_lane().min_overtake_distance(), obstacle->Speed() * min_overtake_time)) is config_.change_lane().min_overtake_distance() which is 10 m.

In the idea case, condition has to check if the obstacle is in front of ADC and

[2018-08-02 14:12] DevMMI opened #5212 "Confidence Values Not Showing up in Lane Post Processing"
Hello, I am trying to access lane confidence values from lane objects in the lane_post_processing_subnode, for some reason confidence values are all 0 while all other fields on the LaneObjects are filled with data. I am accessing lane objects from within the PublishPerceptionPb method in the LanePostProcessingSubnode. Can someone explain why confidence values are zero for all lanes?

[2018-08-02 14:30] DevMohamedMI commented on #5212
I see that in /perception/obstacle/camera/lane_post_process/common/type.h guys on line 244 - method ToLaneMarkerProto(), are assigning LaneMarker protobuf message to have a hardcoded quality of 1.0. With a comment '// set a constant quality value 1.0 as temporary use'. Does that indicate on Apollo 3.0 that confidence values for lanes have not been included?

[2018-08-02 14:57] gladijos opened #5213 "Debug Dreamview in VSCode"
I try to debug Dreamview in VSCode and got message "Unable to start debugging. Unexpected GDB output from command "-target-select remote localhost:1111". localhost:1111: Connection timed out."
I use launch.json file, the same configuration for localization module works fine.
 {
            "name": "C++ Launch Dreamwiev",
           "type": "cppdbg",
            "request": "launch",
            "pr

[2018-08-02 18:14] gulshan216 commented on #5137
Yes updating to 3.0 solved the problem. Thanks!!

[2018-08-02 18:14] #5137 closed

[2018-08-02 18:36] xiaoxq commented on #4822
These modules/tools/perception tools staled for more than a year and were retired in https://github.com/ApolloAuto/apollo/pull/5204.

[2018-08-02 20:24] drliebe opened #5216 "ImportError: No module named em"
After successfully running `./docker/scripts/dev_start.sh`, `./docker/scripts/dev_into.sh`, and `./scripts/apollo.sh build_gpu`, I attempted `./scripts/apollo.sh build_velodyne` ...
![build_error](https://user-images.githubusercontent.com/12840070/43608547-2f7a98fa-9656-11e8-9ced-07cd17be1b8e.png)
As you can see that did not work. I was using docker image dev-x86_64_20180702_1140.

If I change `./

[2018-08-02 21:24] willsiriusAD opened #5219 "Compute Distance Between Radar Object and Tarcked Radar Object (Probabilistic Fusion)"
In file '/modules/perception/obstacle/fusion/probabilistic_fusion/pdf_track_object_distance.cc',  in the 'float PbfTrackObjectDistance::Compute' function:

`
     } else if (radar_object != nullptr) {
        distance = std::numeric_limits<float>::max();
        //    distance = compute_radar_radar(fused_object, sensor_object,
        //    *ref_point);
      }
`

I don't quite understand why the

[2018-08-02 21:54] jiayunhan opened #5222 "Adding fuzzing support for self-driving functionalities"
I am planning to add the fuzzing support to the Apollo code base, which is controlled by a new build command `./apollo.sh build_fuzz_test` into the build script. This command will build the fuzzing test cases  whose source code are located in the `modules/tools/fuzz/` folder (currently covers several functionalities under `control/` and `prediction/` modules).

As an example, considering the testi

[2018-08-03 07:08] gladijos commented on #4937
@yifeijiang Thx a lot, I feel position, orientation and heading information of localization/pose by my own localization module that's work instead of apollo's localization module. Also I see this information in dreamview backend inside function calling UpdateWithLatestObserved("Localization", AdapterManager::GetLocalization()), auto_driving_car is setted correctly with my generated position. But i

[2018-08-03 07:19] #5196 closed

[2018-08-03 08:09] gladijos commented on #4937
It works on Standard Dreamview mode, but still does not work in Navigation mode. I think virtual car behavior in Dreamview should be equal in this to modes if I send equal localization information.

[2018-08-03 08:25] gladijos commented on #5213
I add another configuration for debug in vscode. It looks like
        {
            "name": "(gdb) Attach dreamview",
            "type": "cppdbg",
            "request": "attach",
            "program": "${workspaceRoot}/bazel-bin/modules/dreamview/dreamview",
            "processId": "${command:pickProcess}",
            "MIMode": "gdb",
            "setupCommands": [
                {

[2018-08-03 09:56] simon750324 commented on #4388
@artyfarty Thanks, it works.

[2018-08-03 12:28] wfgsy101 commented on #4388
I also meet the issues " unix:///tmp/supervisor.sock refused connection" these few days,
after rebuild some modules , when running command 'bash scripts/bootstrap.sh' , this issue come up,
but we can ignore this error, and run command ' bash scripts/dreamview.sh ' to launch the dreamview to  go on to next step

[2018-08-03 12:57] SanduIrina opened #5228 "No module named google"
Hello guys, I'm trying to run some python scripts outside of the docker_dev image and I get the error No module named google. In the script I'm using some protobuf files like map_road_pb2. Is there anything else I should add to the python path? In the docker image importing map elements works perfectly fine, but I can't keep working there because I need python3 and the docker image has python2.7.

[2018-08-03 15:53] jiayunhan commented on #5222
Prerequisite: Clang-6.0. Use the following command in the **docker** to install before running `build_fuzz_test`
[code]

[2018-08-03 17:49] xiaoshuliu commented on #5212
@DevMohamedMI You are right. Currently we are not using confidence for lane lines.

[2018-08-03 19:35] DevMMI opened #5231 "Using History to Extend Lane in Perception disabled?"
Hello, I noticed that in modules/perception/obstacle/camera/lane_post_process/cc_lane_post_processor.h that the flag '#define USE_HISTORY_TO_EXTEND_LANE false' disables any extension of lanes by using history. After forcing this flag to be true, the module begins extending the lanes further. Is this feature disabled in 3.0? Will it be enabled in a future version of Apollo? Is there some stability

[2018-08-04 03:41] xinwf opened #5238 "Which coordinate system is correct and which should I use?"
There is a difference explanation about coordinate system in [docs/specs/Guideline_sensor_Installation_apollo_2.5.md](https://github.com/ApolloAuto/apollo/blob/r2.5.0/docs/specs/Guideline_sensor_Installation_apollo_2.5.md) and [docs/specs/coordination.pdf](https://github.com/ApolloAuto/apollo/blob/r2.5.0/docs/specs/coordination.pdf)

[2018-08-04 03:49] ttkk1024 opened #5239 "callibrated is an error word"
"Apollo 3.0 is loaded with new modules and features, but needs to be callibrated and configured perfectly before you take it for a spin. " the word "callibrated" should be changed "calibrated".

[2018-08-04 04:29] DongAi commented on #5238
Hi, xinwf, do you mean the pictures in docs/specs/Guideline_sensor_Installation_apollo_2.5.md? There may be something wrong with the orientation shown in those pictures. The coordinate system shown in docs/specs/coordination.pdf is correct since the vehicle coorinate system is based on Right-Forward-UP(RFU). And the origin is at the center of the rear wheel Axle. If have other confusions, please c

[2018-08-04 04:56] DongAi commented on #5228
HI, Sandulrina, do you mean

If it's that case, it shows that you havn't installed protobuf in you operation environment out of docker_dev. You operation environment and `docker_dev` where apollo works in are two different environments, we could even recognize them as two different OS.

Apollo developers have installed protobuf in `docker_dev`, so it works well, but if you want to do the same work

[2018-08-04 05:07] DongAi commented on #5166
Hi, fenglupeter. protobuf must be built with a particular bazel version, because some features in protobuf are not compatible with some bazel version.
So, please  tell me your docker_dev version, use instruction `'docker images' `to show all images; your  bazel version, in docker_dev, use instruction `'bazel --version'` to show bazel info; your protobuf version, in docker_dev, protobuf file is in

[2018-08-04 05:52] lianglia-apollo commented on #5239
Thanks! The fix is at https://github.com/ApolloAuto/apollo/commit/f25910f557162f9550f5b11d6cf03339dbe5e9b7

[2018-08-04 05:52] #5239 closed

[2018-08-04 11:03] SanduIrina commented on #5228
Thank you very much for your answer. I already had protobuf installed with pip for both python2.7 and python3.6 but after running pip install protobuf and pip3 install protofbuf once more it worked!! Not sure what the problem was.

[2018-08-04 12:17] lygincn opened #5240 "how do the vehicle parameters affect the planning algorithmus?"
hi guys,

I have one basic question here, can anyone tell me if the vehicle parameters affect the performance of the planning module?

vehicle_param {
  front_edge_to_center: 3.89
  back_edge_to_center: 1.043
  left_edge_to_center: 1.055
  right_edge_to_center: 1.055

  length: 4.933
  width: 2.11
  height: 1.48
  min_turn_radius: 5.05386147161
  max_acceleration: 2.0
  max_deceleration: -6.0
  ma

[2018-08-04 13:27] xinwf commented on #5238
Ok, thank you very much!

[2018-08-04 13:27] #5238 closed

[2018-08-04 14:21] xinwf opened #5241 "How to solve the problem "Too few clouds to optimize extrinsics" when I carry out the calibration from Velodyne16 to GNSS"
I have only one lidar (Velodyne16)，when I follow the documents [apollo_1_5_lidar_calibration_guide_cn](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_1_5_lidar_calibration_guide_cn.md), it needs to upload the data to baidu's platform to get the result, I have done it, but five days have gone, my tasks are still in pending status, then, I follow the documents [multiple_lida

[2018-08-04 14:24] xinwf commented on #5046
你好，能问下你的点云拼接图是怎么得出来的吗，我也是Velodyne16激光雷达，也是按照这个教程，可是就是在最后一步无法得到输出结果，提示我[Too few clouds to optimize extrinsics](https://github.com/ApolloAuto/apollo/issues/5241)。

[2018-08-04 14:25] xinwf commented on #5046
如果方便的话，可以加下微信联系方式吗？

[2018-08-04 15:24] xinwf opened #5242 "Can't display the trajectory of the car in dreamview I record by myself"
It can run normally in terminal, but no response in dreamview
![screenshot from 2018-08-04 22-13-01](https://user-images.githubusercontent.com/41889613/43677957-540973a6-983d-11e8-9b24-6202287c434a.png)

the bag info
![screenshot from 2018-08-04 22-12-28](https://user-images.githubusercontent.com/41889613/43677966-77492e38-983d-11e8-9ba2-df88f87a299d.png)

[2018-08-04 15:32] homography commented on #5046
Hi, you could first check the localization status, whether the GNSS is in RTK_FIX status and the ins solution is good. If it's ok, make sure the initial guess of the extrinsics is correct. For the default configuration, IMU coordinate frame is supposed to be Right-Forward-Up w.r.t the vehicle.

[2018-08-05 00:06] #4008 closed

[2018-08-05 04:33] kk2491 commented on #4850
@jinghaomiao .. Could you please provide me clarification on this?

[2018-08-05 16:29] xinwf commented on #5241
Thank you for your reply, I have checked the timestamp of vlp16 of its three topics, all of them is normal, I have delete configurations about hdl64. but the problems is sitll there.

[2018-08-06 01:33] Renzhongchao111 opened #5243 "读取本地bag包cmakelist的相关配置问题"
我用ros读取bag的时候，只需要在cmakelist里面的findpackge添加rosbag还有packagelist里面添加rosbag就可以了，但是apollo里面不行，需要怎么解决这个问题。

[2018-08-06 02:02] simon750324 commented on #4388
@wfgsy101
You can try @artyfarty 's suggestion to use "inet_http_server" instead of "unix_http_server".

[2018-08-06 04:27] kk2491 commented on #5211
Hi Guys,

Anybody had looked into this ?

Thank you,
Kishor

[2018-08-06 04:37] AnakinSkyCN commented on #3005
21st_anakin@sina.com，Apollo OpenDrive specification needed，thanks

[2018-08-06 07:44] simon750324 opened #5244 "How to enable Velodyne HDL-32E lidar in apollo 3.0.0?"
I find the start_velodyne_hdl32e.launch in launch files and try to enable the velodyne lidar.
`roslaunch velodyne start_velodyne_hdl32e.launch`

After I launch the launch file, I got below error messages.

Log:
[ INFO] [1533541081.140923031]: Initializing nodelet with 8 worker threads.
[ INFO] [1533541081.164144151]: Loading nodelet /sensor_velodyne32_driver of type velodyne_driver/DriverNodelet t

[2018-08-06 08:14] #4313 closed

[2018-08-06 08:18] simon750324 commented on #5244
After I enter docker and build velodyne, the above errors are missing.
However it would keep showing below error message now.

log:
[ERROR] [1533543291.524296702]: NAV receiver warning, GPS info is invalid

[2018-08-06 08:55] Triangle001 commented on #3005
Hi can you email me the Apollo OpenDrive specification please ?Thank you very much.
triangle036@163.com

[2018-08-06 10:12] douqian commented on #5244
From the description in http://apollo.auto/platform/hardware_cn.html, it seems Apollo doesn't support HDL-32E.  ULTRA Puck VLP-32C is supported in Apollo.

[2018-08-06 13:12] csukuangfj opened #5246 "Bug in ObjectCameraFilter::Filter"
See the code
https://github.com/ApolloAuto/apollo/blob/026e99d0792d08b2f2a135182ebf9f98b6ae42a1/modules/perception/obstacle/camera/filter/object_camera_filter.cc#L32-L34
https://github.com/ApolloAuto/apollo/blob/026e99d0792d08b2f2a135182ebf9f98b6ae42a1/modules/perception/obstacle/camera/filter/object_camera_filter.h#L71

`tracked_filters_` is never updated.

[2018-08-06 18:59] wckorealsh opened #5253 "How two passages are connected?"
Hi Team Apollo,

I think the passage is a single reference line that a vehicle can travel without changing lane.
It looks like routing is a sequence of such passages.
The question is that how two different passages are connected to represent the routing curve?
I think they must be overlapped then correct?

Thank you!

[2018-08-06 22:51] yangydavid commented on #5127
@gulshan216  Hi, did you figure out the way to generate planning.pb.txt and localization.pb.txt?

I found there's a sample data in the /apollo-master/modules/tools/plot_plan_traj/example_data, I used those day to run the sequence "main.py localization.pb.txt planning.pb.txt" and get one static plot.

I was trying to use the command "rostopic echo /apollo/planning >> planning.pb.txt " to export the

[2018-08-07 01:34] ironsuperdev opened #5257 "[need help] "rosbag" is not found after building the software"
After building the apollo software in docker successfully, I ran

`bash scripts/bootstrap.sh ` I can get dreamview in browser started. But if I insert

[code]
Did I do something wrong?  Thanks

[2018-08-07 01:48] ironsuperdev opened #5258 "[need help] cannot build the software in vs code"
I installed vs code and load the repo folder. If I press ctrl+shift+B to build the software, I get directly the error:

[code]

btw, I start vscode as root user to avoid any permission issues and building from following user/group:
`root@PC:/media/root/WD/Work/ApolloRepo#`

Thanks for any advice.

[2018-08-07 01:51] simon750324 commented on #5244
@douqian
But I find the launch for velodyne hdl-32e lidar in apollo 3.0. It is weird.

[2018-08-07 02:50] #5241 closed

[2018-08-07 02:52] layssi commented on #4511
@natashadsouza.

I've been scratching my head as how u can mathematically do full calibration (translation and rotation) between two frames (IMU->Vehicle) and looking at the sample results, I noticed that your translation is 0,0,0.

Driving straight, I believe that it is not possible to derive translation based on odometery only.  Maybe if you do figure 8s and u have some vehicle dimensions,  Mayb

[2018-08-07 05:22] liangzcamg opened #5259 "Build the Apollo project in VSCode"
Use the keyboard shortcut (Ctrl+Shift+B) to build the Apollo project.

Failed to pull docker image.
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.38/containers/apollo_dev/json: dial unix /var/run/docker.sock: connect: permission denied

[2018-08-07 06:46] gladijos commented on #5259
You make smth with sudo or from su. But you shouldn't do that.
I think you have to remove all containers and images  and also grant permissions or ownership of your apollo directory to your user.

[2018-08-07 06:48] gladijos commented on #5258
You shouldn't start vscode from as root. It works another way. I think you have similar issue #5259

[2018-08-07 06:51] gladijos commented on #5240
You are needed in general explanation or concrete connections to algorithm. In general there are dynamic limitations and dependencies that affect on planning and control. But I have no idea deeper, sorry :)

[2018-08-07 06:55] gladijos commented on #5242
What mode do you use in dreamview? Try change from one to another. A month ago I have issue then for displaying lanes and planning trajectory I have to switch on simcontrol and switch of it.
I think it is wide spread problem of understanding what are we needed to visualize in dreamview different data?

[2018-08-07 08:06] csukuangfj opened #5262 "Error for opening a file for reading"
See the code
https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/common/util.cc#L49-L52

The file is opened for read, so `std::fstream::in` should be used or
it'd be better to use `std::ifstream`.

[2018-08-07 08:15] csukuangfj opened #5264 "Inconsistent format for serializing VisualObject to files"
See the code for writing
https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/common/util.cc#L100-L106

and the code for reading
https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/common/util.cc#L68-L72

`trunc_height` and `trunc_width` are not written to the file but

[2018-08-07 08:18] kk2491 commented on #4871
@natashadsouza Could you please let me know how to proceed with this.

[2018-08-07 09:06] alorli commented on #5045
1. rostopic echo /apollo/localization/pose 都有数据输出，修改了record_bag.sh, 在命令行中直接录制topic，可以录制出轨迹数据，使用extractor.py可以提取数据如下：
![658501813](https://user-images.githubusercontent.com/15199599/43765798-61f38b50-9a63-11e8-91c6-26b202c91ac9.jpg)
2. viewer_raw.py工具无法使用，提示找不到matplotlib包。
3.平滑工具也无法正常使用， bash smooth.sh ./path_2018-08-06-15-04-08_0.bag.txt 200，提示错误如下：
![6508176](https://user-images.githubusercontent

[2018-08-07 09:13] xinwf commented on #5242
Sorry, I was puzzled by your explanation.  I think the replay process doesn't have a relation with other things. When we run the command `rosbag play docs/demo_guide/demo_2.0.bag`, we don't need to set anything, the dreamview can display the offline simulation of the car. I think maybe the problem is that I only record two topics, when I use the command `rosbag info docs/demo_guide/demo_2.0.bag`,

[2018-08-07 09:32] alorli opened #5267 "关于相对地图制作"
rostopic echo /apollo/localization/pose 都有数据输出，修改了record_bag.sh, 在命令行中直接录制topic，可以录制出轨迹数据，使用extractor.py可以提取数据如下：
![658501813](https://user-images.githubusercontent.com/15199599/43767433-bc3b5170-9a67-11e8-84bb-ad379f3afed1.jpg)

viewer_raw.py工具无法使用，提示找不到matplotlib包。
3.平滑工具也无法正常使用， bash smooth.sh ./path_2018-08-06-15-04-08_0.bag.txt 200，提示错误如下：
![6508176](https://user-images.githubusercontent.com/

[2018-08-07 09:34] csukuangfj opened #5268 "::adu::perception::OnlineCalibrationService is not found"
See the comment
https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/cipv/cipv.h#L58

`::adu::perception::OnlineCalibrationService ` cannot be found.

Is `adu` short for apollo baidu ?

[2018-08-07 10:20] csukuangfj opened #5271 "ObjectCameraExtendedKalmanFilter is not registered"
See the file
https://github.com/ApolloAuto/apollo/blob/master/modules/perception/obstacle/camera/filter/object_camera_extended_kalman_filter.h

The following line
[code]
is missing.

[2018-08-07 10:35] csukuangfj commented on #5271
In addition,

https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/common/visual_object.h#L95-L96

is not set.

https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/filter/object_camera_extended_kalman_filter.cc#L45-L47

The covariances for (x, v_x) and (y, v_y) are mis

[2018-08-07 10:44] csukuangfj opened #5272 "misleading name ObjectCameraExtendedKalmanFilter::UpdateTransitionMatrix"
See the code
https://github.com/ApolloAuto/apollo/blob/4f79a4fd0bf3551dda1eb262b5f539b25a1f6d40/modules/perception/obstacle/camera/filter/object_camera_extended_kalman_filter.cc#L174-L182

It simply computes a Jacobian matrix and should not be called a transition matrix.

[2018-08-07 12:14] liangzcamg opened #5273 "Run all unit tests for the Apollo project in VSCode"
Executed 4 out of 223 tests: 221 tests pass and 2 fail locally.
============================
[ERROR] Test failed!
[INFO] Took 6 seconds
============================

[2018-08-07 13:06] kk2491 commented on #5273
@liangzcamg Can you try with this please.

https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md

This was updated in Apollo repository.

Please check and let me know if you are able to fix the issue. I tried but in my case I was not able to fix the error.

Thank you,
KK

[2018-08-07 14:00] fanghaos2014 opened #5274 "How to add an obstacle in the based on the Demo?"
I want to add an obstacle based on the demo.My question is that I can not find the original data files or demo source code.They are all bag files. So how do I add an obstacle and let it show in the dreamview!
Thank you

[2018-08-07 14:15] fanghaos2014 commented on #159
Hi yuan,

How do you make your own bag files? I mean I also want to add one obstacle based on the demo . But I don't know how to extract data from the demo files. Thank you!!

[2018-08-07 14:35] xinwf opened #5275 "Where is the origin of the coordinates of the whole system?(整个系统的坐标原点在哪)"
Is it fixed at the center of the rear wheel or is centered on the IMU‘s position？
是固定在后轮中心还是以IMU所在位置为原点？

[2018-08-07 17:36] YangHan101 commented on #5244
@simon750324 @douqian
I just had a look at the code. Yes you are right, the current code can support hdl32e directly. However, with some changes, I am sure you can process VLP-32C data as well.
As you know, the data are sent over the ethernet cable with UDP protocol. For HDL32e and VLP32C the structure of the packages are the same. What is different is the calibration file will be different. I sug

[2018-08-07 18:14] natashadsouza commented on #5275
Hi @xinwf
The origin is always at the centre of the rear axle of the vehicle.
This document should help better explain it: https://github.com/ApolloAuto/apollo/blob/master/docs/specs/coordination.pdf
Let me know if you need additional information.

[2018-08-07 18:25] xiaoxq commented on #4986
Supervisor is not a good way for development. In recent change (https://github.com/ApolloAuto/apollo/commit/67fad1f572b3f1973b695af5bab093546ee7fa0d), I have removed it from debugging mode.
However, if you are using Apollo for some production scenarios, Supervisor could provide a second chance to recover the modules, which makes the more robust. Pass "--prod_mode" when starting dreamview for such

[2018-08-07 18:25] #4986 closed

[2018-08-07 18:26] xiaoxq commented on #4388
Supervisor is not a good way for development. In recent change (https://github.com/ApolloAuto/apollo/commit/67fad1f572b3f1973b695af5bab093546ee7fa0d), I have removed it from debugging mode.
However, if you are using Apollo for some production scenarios, Supervisor could provide a second chance to recover the modules, which makes the more robust. Pass "--prod_mode" when starting dreamview for such

[2018-08-07 18:26] #4388 closed

[2018-08-07 18:27] xiaoxq commented on #3006
Supervisor is not a good way for development. In recent change (https://github.com/ApolloAuto/apollo/commit/67fad1f572b3f1973b695af5bab093546ee7fa0d), I have removed it from debugging mode.
However, if you are using Apollo for some production scenarios, Supervisor could provide a second chance to recover the modules, which makes the more robust. Pass "--prod_mode" when starting dreamview for such

[2018-08-07 18:28] xiaoxq commented on #2916
Supervisor is not a good way for development. In recent change (https://github.com/ApolloAuto/apollo/commit/67fad1f572b3f1973b695af5bab093546ee7fa0d), I have removed it from debugging mode.
However, if you are using Apollo for some production scenarios, Supervisor could provide a second chance to recover the modules, which makes the more robust. Pass "--prod_mode" when starting dreamview for such

[2018-08-07 18:28] #3006 closed

[2018-08-07 18:29] #2916 closed

[2018-08-07 19:25] DrIncredible opened #5279 "Potential bug"
In file `st_boundary_mapper.cc`, in function `MapWithoutDecision`, for the static obstacle(obstacle with no trajectory from prediction moduel), first we retrieve the adc position `curr_point_on_path`, where there's an overlap between adc and obstacle by calling function `CheckOverlap`. Then we define two variables:

[code]
But this seems makes no sense, `curr_point_on_path.s()+backward_distance` i

[2018-08-07 21:49] YangHan101 commented on #4935
Closing the ticket. Feel free to reopen if you have more questions

[2018-08-07 21:49] #4935 closed

[2018-08-07 22:04] natashadsouza commented on #4511
@layssi calibration is independent with some sensors.
For IMU -> vehicle calibration, the origin (translation) is the IMU position, and the calibration tool then estimates orientation (3 angles). This process is independent with any other sensors.
Let me know if you need additional clarification.

[2018-08-08 01:24] CCodie opened #5290 "NVIDIA Driver installation failed"
Hi guys,

I had an error in NVIDIA Driver Installation.

I'm installing Apollo 3.0 on Ubuntu 14.04.5 with NVIDIA GTX Titan Z, following the steps in [Software_and_Kernel_Installation_guide.md](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Software_and_Kernel_Installation_guide.md).

After I installed Apollo Kernel, I'm trying to install NVIDIA GPU Driver with below commands.
`wget ht

[2018-08-08 01:50] ZK-Zhou opened #5291 "questions about add a new gpsreciever"
Hi apolloers
   I use a domestic GPS reciever called DH7D10, and I followed the file "how_to_add_a_gps_receiver.md". But I saw that there is an another file : "moudles/drivers/gnss/parser/novatel_message.h". Should I write a file like this for my new hardware? What should I do for details?
 Thanks.

[2018-08-08 04:49] xinwf commented on #5275
Thank you for your reply. I have just read this document you mentioned. In the driverless car tested by Baidu, the origin of the coordinate system is indeed defined in the center of the rear axle. The initial step is to execute calibration from velodyne lidar to GNSS,  we need to set the offset matrix and rotation matrix of the lidar to the IMU (ie, inertial navigation) in velodyne external parame

[2018-08-08 05:04] liangzcamg commented on #5273
@kk2491 我在Ubuntu16.04上弄过，遇到了这个问题，用您说的方法也没解决。但是这次是在ubuntu14.04上弄的，还是有这个问题

[2018-08-08 05:41] kk2491 commented on #4871
@natashadsouza Thank you for the response.
Do we need to install it manually inside the docker ? or does it come along with the docker ?

[2018-08-08 08:02] gladijos opened #5293 "RelativeMap warning in Standard Dreamview mode"
I switch to Standard mode, where I cannot use RelativeMap module and
I see message in Dreamview log: RelativeMap adapter has not received any data yet.

[2018-08-08 08:36] kk2491 commented on #4871
@natashadsouza I have done a fresh installation of the glfw library. Seems like the error in the declaration while building apollo is resolved.

But this resulted in a new error while running all the unit tests for apollo project. Error message given below.

[code]

Hope this latest update is helpful in finding the fix.

Thank you,
KK

[2018-08-08 08:47] simon750324 commented on #5244
@YangHan101
Yes, I connect the Garmin GPS receiver to the lidar. And I also setup below settings for HDL-32E lidar.

[PPS Qualifier]
Require GPS Receiver Valid: On
Require PPS Lock: On

[GPS Qualifire]
Require GPS Receiver Valid: On

But I still repeat getting the error logs(NAV receiver warning, GPS info is invalid!)

[2018-08-08 14:48] vladpaunescu opened #5294 "Linking of rule '//modules/dreamview/backend/hmi:hmi_worker_test' failed libboost_thread"
Hi,
I'm trying a couple of things - one of them being building `tensorflow-cpp` inside Apollo Docker.
I think I've upgraded `bazel` because `tensorflow` won't build with older `bazel` version.

[code]
The error I have is this one:

[code]

I modified the `BUILD` file in by adding `-lboost`:

[code]

My question is how is this related to bazel version? Which bazel version does Apollo use?

Many tha

[2018-08-08 15:44] vladpaunescu commented on #5294
Update:

I modifed `/apollo/third_party/gtest.BUILD`

And added in `gtest` rule `-lgomp`:

[code]

I also added  `linkopts = ["-lGL -lGLU -lglut"]` in `/apollo/modules/perception/obstacle/onboard/BUILD:339:1: Linking of rule '//modules/perception/obstacle/onboard:lidar_process_test`

since it complained about:

[code]

[2018-08-08 16:59] snuffysasa opened #5295 "Apollo lowcost perception module requires localization?"
Apollo: "Apollo 3.0 aims for Level-2 autonomous driving with low cost sensors. An autonomous vehicle will stay in the lane and keep a distance with a closest in-path vehicle (CIPV) using a single front-facing camera and a frontal radar. Apollo 3.0 supports high-speed autonomous driving on highway without any map"

This is clear.

However, in analyzing Apollo perception module, the motion service,

[2018-08-08 20:35] techoe commented on #5275
Yes, IMU should be installed at the center of rear axle. If you move the IMU to other place, please change the translation value of IMU to the moved position w.r.t. the center of rear axle.

[2018-08-08 20:39] techoe commented on #5295
Low cost solution will allow to drive a car w/ or w/o localization. Indeed, motion service is getting information from localization output. However, the information we use is only IMU output (yawrate and velocity) not a GPS output. Yawrate and velocity can be received from the EPS if your car supports it.

[2018-08-08 20:41] techoe commented on #5268
Thank you for the comment! WIll remove the line.

[2018-08-08 20:41] #5268 closed

[2018-08-08 22:59] yangydavid opened #5299 "Questions about modules/tools/planning_traj_plot"
Hi, I have a question regarding to the python scripts in the file ` /modules/tools/planning_traj_plot`

When I try to run the file with command **`python main.py planning.pb.txt localization.pb.txt`** with the data from the folder `/modules/tools/planning_traj_plot/example_data`. I only have a small data set which I believe was collected from one single frame. However, I want to plot the entire mo

[2018-08-09 02:08] xinwf commented on #5275
@techoe , ok, thank you.
Is there a configuration file that I can modify by myself about the translation value of the IMU's moved position relative to the center of the rear axle, or I need to do this by myself in the code of the apollo project.

[2018-08-09 02:13] yifeijiang commented on #5267
你先试试把extractor出来的数据中重复的数据过滤掉再试试。

[2018-08-09 05:25] ironsuperdev commented on #5258
Hｉ， gladijos, I still get following error:

[code]

[2018-08-09 07:08] edious commented on #4607
Is there any plan to make Apollo communicate with baidu-cloud or other cloud provider？
such as transfer some essential-data to cloud

[2018-08-09 07:46] csukuangfj opened #5304 "Error use of Kalman filter for filtering the theta of a VisualObject in the perception module"
See the code
https://github.com/ApolloAuto/apollo/blob/c104ebb3bd95e1331dd99c9df4b3a488615ca767/modules/perception/obstacle/camera/filter/object_camera_filter.cc#L97

Since the essence of the Kalman filter is to **linearly** combine the predicted state and the measured state, it cannot be used directly to filter an angle.

For an extreme case, suppose the predicted angle is 359 degrees, the measur

[2018-08-09 09:09] sinopec commented on #5241
This Problem is closed by what kind of method?

[2018-08-09 14:36] jzhao1984 opened #5306 "No navigation line displayed on dreamview"
I just take use of the demo.bag and demo_2.5.bag in apollo project, and follow the instructions in  apollo_2.5_navigation_mode. when running, there is no red line in Baidu map, and the white lines in the main interface is there even I do nothing.  What's the problem? How should I do?

[2018-08-09 17:39] fsaizwei commented on #3005
Hi, Can you please email the Apollo opendrive format ? Thanks. @Zhenni17  @msbeta
zwei@foresight.ai

Thanks!

[2018-08-09 22:13] snuffysasa opened #5312 "Apollo Perception Poor Dashed Lane Line Detection"
In Testing the Apollo low-cost perception module,

We are discovering very accurate lane detection and tracking performance when the lane lines are solid.

However, quite poor performance with dashed lane lines, even when they are quite visible.  I was expecting it to have higher performance with this.   Any ideas / comments?

And most of the highway driving is dashed lane lines... so this seems p

[2018-08-09 22:13] #5295 closed

[2018-08-09 22:15] snuffysasa opened #5313 "Apollo Object Tracking question"
From the Apollo Readme:

"The object tracking sub-module utilizes multiple cues such as 3D position, 2D image patches, 2D boxes, or deep learning ROI features. The tracking problem is formulated as multiple hypothesis data association by combining the cues efficiently to provide the most correct association between tracks and detected object, thus obtaining correct ID association for each object."

[2018-08-09 22:19] snuffysasa opened #5314 "Difference between Async Fusion and Probabilistic Fusion"
Can someone provide a very short high level description that describes the fusion options offered in Apollo and the differences between them?

Thanks

[2018-08-09 22:58] csukuangfj commented on #5312
@snuffysasa
could you please upload some detection results to visually compare the solid and dashed lane markings?

[2018-08-09 23:02] snuffysasa commented on #5312
@csukuangfj

What would be best, I make a video and upload an mp4?

Or record a rosbag with the images and detection results ?

[2018-08-10 01:07] yangydavid opened #5319 "Question about realtime_plot.py"
Hi, I have a question regarding to the usage of scripts in the folder `/modules/tools/realtime_plot/realtime_plot.py `. I'm running it while playing rosbag demo_2.0.bag. However, the following error occurs. I am wondering if I am running the script in the correct manner? Thanks for your help and I really appreciate your help.

`Traceback (most recent call last):
  File "realtime_plot.py", line 267

[2018-08-10 01:27] Capri2014 commented on #5319
@yangydavid We intend to deprecate the realtime_plot since most of the functions now available in dreamview PnC monitor

[2018-08-10 01:40] Triangle001 opened #5320 "dreamview: ERROR (no such file)"
After I built the Apollo successfully,I launch Apollo with the command "bash scripts/bootstrap.sh",it show a dreamview error like this:
root@in_dev_docker:/apollo# bash scripts/bootstrap.sh
Started supervisord with dev conf
Start roscore...
voice_detector: started
dreamview: ERROR (no such file)

How do i solve the problem?

[2018-08-10 02:40] xinwf commented on #5241
The official documents have some problems. I solved this problem by adding and reducting topics. I have modified the calibration scripts to record following topics:

[code]
I don't know the why the official documents don't work. After I changed it to this, it does work.

[2018-08-10 07:30] xinwf commented on #5320
You need to give us more details about this. Before this, you can look at the bootstrap.sh first.

[2018-08-10 09:41] kk2491 commented on #4871
@natashadsouza .. Did you get chance to look at the issue.?

[2018-08-10 19:01] techoe commented on #5312
The image will be also fine. We have recently updated our lane line detection module. Please try it and see if you still have an issue.

[2018-08-10 20:03] lesun90 opened #5326 "how to get AdapterManager::GetRoutingResponse()->GetLatestPublished()"
Hi,

I make a small program to visualize the routing. However, I could not use the  AdapterManager::GetRoutingResponse()->GetLatestPublished() to get the routing response, it always return a null pointer.
I replace GetLatestPublished() with GetLatestObserved() and my program works,but  GetLatestObserved()  only shows the previous result of routing request.

Any suggestion, or please tell me where

[2018-08-10 21:17] natashadsouza commented on #4871
@kk2491 send me a screenshot of the error message. I could not replicate your error message. You could send it to natashadsouza@baidu.com. Thanks!

[2018-08-10 22:25] Zhenni17 commented on #5165
Closed as the issue seems to be fixed.

[2018-08-10 22:25] #5165 closed

[2018-08-10 22:26] Zhenni17 commented on #5182
Closing as the issue seems to be fixed.

[2018-08-10 22:26] #5182 closed

[2018-08-10 22:33] Zhenni17 commented on #5228
Closing the issue as it seems to be fixed.

[2018-08-10 22:33] #5228 closed

[2018-08-10 22:34] xiaoxq commented on #5216
It's due to python version pollution by conda. Should have been fixed in latest code.

[2018-08-10 22:39] xiaoxq commented on #5326
GetRoutingResponse()0->GetLatestPublished() only works in the same process where PublishRoutingResponse() is called, i.e, the publisher.

On the receiver side, you always need to call Observe() and then GetLatestObserved().

[2018-08-10 23:16] vlin17 commented on #5242
@xinwf  dreamview displays trajectory in the /apollo/planning topic. Can you check if the planning topic is recorded?  If recording topic is the cause, can you share your recording command? In addition, have you try recording with ./scripts/record_bag.sh?

[2018-08-11 00:12] siyangy commented on #5293
Are you on the latest code? I just tried this but didn't see the warning log.

[2018-08-11 01:04] hadiTab opened #5330 "Using lidar obstacle detector without calling the ROI filter"
[A comment](https://github.com/ApolloAuto/apollo/blob/63a138dc8f1004ace61b9c6cf6f4228a97938195/modules/perception/obstacle/lidar/roi_filter/hdmap_roi_filter/hdmap_roi_filter.h#L46) suggests that the use of the ROI filter is optional. Does that mean it is possible to use the lidar obstacle detection in areas where there is no HD map?
I tried disabling HD map input by changing [this](https://github.

[2018-08-11 02:13] xinwf commented on #5242
@vlin17 ，thank you for your reply, there is no planning topic in the bag file, I only can record and get four topics info even I use the official scripts(record_bag.sh), I don't know why it happens. I have modified another calibration scripts to record topics' data as following
[code]
It also doesn't work, after recording, I get four topics' data as following:
[code]
I really don't know why it hap

[2018-08-11 07:36] lianglia-apollo commented on #5290
Yes, 14.04 has the infinite login error issue. We also had it when we were using 14.04.
You can use 16.04 instead.

[2018-08-11 19:19] hongkedavid opened #5333 "Where can I get more details about the security features for Apollo?"
Dear Apollo developers, I see Apollo is building new security features presented [here](http://apollo.auto/platform/security.html), including intrusion detection, car firewall and secure OTA kits, but I do not find the implementation of these features except secure OTA in the latest version of Apollo's code base. Is there any plan to integrate the intrusion detection and firewall feature into the

[2018-08-13 05:09] kk2491 commented on #4871
@natashadsouza .. Will send the error screen shot shortly.

[2018-08-13 06:28] gladijos commented on #5258
@ironsuperdev Probably you have issues with certificates. I'm not close with certificates. Can you pull another docker images?
Also check [https://docs.docker.com/install/linux/docker-ce/ubuntu/#set-up-the-repository](url) and [https://docs.docker.com/registry/insecure/#troubleshoot-insecure-registry](url). I think it isn't apollo's problem but docker one.
P.S. For remove first issue you can remov

[2018-08-13 06:33] gladijos commented on #5242
@xinwf  Can you check topiclist when you are recording data. May be you are not producing this type of data?
Do you use apollo's planning module or your own for producing planning data?
I don't see any planning data in screen of your bag-file info.

[2018-08-13 07:13] AR-Ashok commented on #3005
@msbeta @Zhenni17 Hi can you email me the Apollo OpenDrive specification please ?
and HD map data specification.
ashokarivalagan@gmail.com
Thank you.

[2018-08-13 07:28] DongAi commented on #5320
Hi, Triangle001. You can scan directory `/bazel-bin/modules/dreamview` to see if there is `dreamview` exectuable file. If it doesnot exist, use instruction `bazel build //modules/dreamview` to build it again.

[2018-08-13 07:31] xinwf commented on #5242
@gladijos ，do you mean I need to turn on the planning module when I begin to record trajectory data?
I haven't enabled the planning module in previous recording process. I will have a try. And what's more, does the `planning ` topic can produce data after I turn on it or its data depends on other topics'?

[2018-08-13 07:34] xinwf commented on #5242
@gladijos @vlin17 , after I start the dreamview, the planning topic is in the topic list, but no data output, do I need to enable the planning module, and then it will produce data?

[2018-08-13 08:51] hashim19 commented on #4822
@CCodie Were you able to generate two or more obstacles? I couldn't even find replay_perception.sh file in modules/tools/perception.
@xiaoxq can you help me with this?
Thanks in advance

[2018-08-13 09:49] CCodie commented on #4822
@hashim19 Hi, replay_perception.sh file has been removed from master branch as @xiaoxq mentioned above. You can find that file in r3.0.0 branch.
I made two obstacles by following command line after running Dreamview.
[code]
You can run replay_perception.sh file with arguments(e.g. garage_onroad_static_4.json , garage_onroad_vehicle_3.json, ...) which you want to generate.
Further, you can make you

[2018-08-13 10:05] waverider995 opened #5338 "Missunderstanding in QP_Spline_Path_Optimizer Documents"
In section 2.2, Combine the init point and end point:

Should init point and end point take the same coefficient vector? Normally they shouldn't in the same spline segment

[2018-08-13 10:19] gladijos commented on #4918
It works. After adding header files to /home/tmp/ros/include I can include them with
#include "ackermann_msgs/AckermannDrive.h".

An issue can be closed I think.

[2018-08-13 13:17] #5326 closed

[2018-08-13 13:52] fanghaos2014 commented on #4626
I  have the same question. In terminal, I find replay_perception.py, but when I run python replay_perception.sh garage_onroad_vehicle_3.json. It said can't open file "replay_perception.sh.

[2018-08-13 14:25] kk2491 commented on #4871
@natashadsouza I have sent you the details, kindly check.

[2018-08-13 16:22] gladijos opened #5339 "Debug grivers/gnss"
I can't start debug drivers/gnss module cause there are some issues inside apollo's starts scripts.
In two words, in some cases there we need use <module_path> they use <module_name>.
For example in /apollo/docker/scripts/start_gdb_server.sh line 71 (apollo 2.5) call run but not run_customized_path.
source line in apollo 3.0 may be another but behavior is the same

[2018-08-13 17:05] unacao commented on #4626
@fanghaos2014 this comment may be helpful. https://github.com/ApolloAuto/apollo/issues/4822#issuecomment-412465605

[2018-08-13 18:11] kk2491 commented on #5211
@weidezhang @techoe Did you guys get chance to look at this.?

[2018-08-13 18:21] vlin17 commented on #5242
@xinwf Yes, if your bag doesn't have planning data, please turn on the planning module. You can use the diagnostics tool (by running "bash ./scripts/diagnostics.sh") to verify if there is output protobuf messages from planning.

[2018-08-13 18:56] siyangy commented on #5293
yep, r3.0 has the fix.

[2018-08-13 20:53] jinghaomiao commented on #5333
@hongkedavid many of security features are not in the open source platform, but available in solutions that we built for our partners.

[2018-08-13 20:56] hongkedavid commented on #5333
@jinghaomiao Got it. Thanks for your information!

[2018-08-13 21:01] jinghaomiao commented on #5258
Looks like you cannot pull the docker image due to some certificate issue. We haven't done any test in VS Code. Please explore and search the Internet to see if there's any solution to your issue.

[2018-08-13 21:08] jinghaomiao commented on #5161
Please retry it in an environment with better WIFI signal. The rosbags are big and take time to download.

[2018-08-13 21:08] jinghaomiao commented on #5146
Thanks @geoffviola . It's in our pipeline.

[2018-08-13 21:11] #5009 closed

[2018-08-13 21:12] #5120 closed

[2018-08-13 21:16] #5043 closed

[2018-08-13 21:31] JasonZhou404 commented on #5253
After a destination is given, routing module produces a sequence of end to end zigzag linear segments. Obviously, such lines can't be used for path planning. So a smoothing algorithm on the routing segment is done online to get a differentiable curve, which is called reference line, for the Planning module to work on.

Don't quite understand what is your definition of passages. If you mean the smo

[2018-08-13 21:53] siyangy commented on #5139
There's a default_end_way_point file for each map to specify point of interest, you can refer to: https://github.com/ApolloAuto/apollo/blob/master/modules/map/data/demo/default_end_way_point.txt.

[2018-08-13 21:56] siyangy commented on #5054
So bazel relies on a lot of inputs (macros, env variables, etc) to decide whether it needs to recompile. In your case, if you did an `apollo.sh build` then `apollo.sh build_gpu`, bazel will have to recompile because in gpu mode there are some macros changed to allow the code to be run on GPU.

[2018-08-13 22:00] siyangy commented on #5274
There are a few similar questions regarding to your requirement, like this: https://github.com/ApolloAuto/apollo/issues/4822. Feel free to check them out!

[2018-08-13 22:34] hongkedavid commented on #5333
@jinghaomiao I see. Thanks!

[2018-08-13 22:34] #5333 closed

[2018-08-14 01:29] DongAi commented on #5257
Hi,ironsuperdev. I am wondering why you are running container as a `root `user, that's not correct firstly. When execture `dev_start.sh` and `dev_into.sh`, do not add `sudo `parameter. The user in container should be the one that you use on your PC, pay attention to it.
Below is a way to check where `rosbag `is.
Normally, `rosbag `is in directory `/home/tmp/ros/bin/`, this directory and `rosbag `t

[2018-08-14 03:00] Triangle001 opened #5344 "Apollo bootstrap.sh Error"
After built Apollo sucessfully,I use the command "bash scripts/bootstrap.sh" to launch to Apollo,I was refused,it shows:

============================
[ OK ] Build passed!
[INFO] Took 2415 seconds
============================
apollo@in_dev_docker:/apollo$ bash scripts/bootstrap.sh
Started supervisord with dev conf
Start roscore...
voice_detector: started
unix:///tmp/supervisor.sock refused connect

[2018-08-14 03:12] sinopec opened #5345 "GNSS: ublox surpport needed"
ublox is added at config.proto, And some pesudo code is listed in howto Docs,but Maybe completed&official code surpport will be very helpful .

[2018-08-14 03:19] ZK-Zhou opened #5346 "将鼎汇 DH7D10GPS接收机接入apollo平台的疑问"
1.	我们已经参照阿波罗docs/howto/how_to_add_a_gps_receiver.md，对代码进行了修改，2,3,4步骤已经完成，但在第1 步继承基类时有一些问题：
（1）.按照文档中的代码，我们编写了dh_parser.cc继承基类parser，文件中声明了很多类方法，这些方法在我们的文件中应该如何实现？
（2）.对比novatel_parser.cc文件，代码中包含了novatel_messages.h，我们是否需要对应的编写一个dh_messages.h？如果是，要如何编写？
2.另外，除了docs/howto/how_to_add_a_gps_receiver.md中提到的四个步骤，加入一个新的GPS接收机还有没有其他地方需要完善和修改？

[2018-08-14 04:50] zhxt commented on #5257
There is a similar issue #4468 that may helpful.

PS：It would be a good practice to search existing issues before opening a new one :-)

[2018-08-14 06:15] gladijos commented on #5293
Thanks a lot @siyangy I can't right now switch to 3.0 and check this but I think issue can be closed

[2018-08-14 06:16] jzhao1984 commented on #5306
Thank you very much! I will try it later.

[2018-08-14 06:16] #5306 closed

[2018-08-14 07:00] liuyangly25 opened #5347 "Link failed: undefined reference to symbol 'XConvertSelection' error adding symbols: DSO missing from command line"
I am trying to use perception lowcost visualizer on Ubuntu 16.04 following the guide [How to Run Apollo in Ubuntu 16](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md).

The build failed after I added the line `glfwWindowHint(GLFW_CONTEXT_CREATION_API, GLFW_EGL_CONTEXT_API);` and installed glfw 3.2.1

The error is here:

ERROR: /apollo/modules/perc

[2018-08-14 08:43] SanduIrina opened #5348 "preception_lowcost.sh turns off"
Hey there, when I run the perception_lowcost.sh script the perception button in dreamview turns on for a few seconds then it turns back off. Any idea why this is happening?

[2018-08-14 09:02] Triangle001 commented on #5320
@DongAi Thank you for your reply.The issue has been solved.

[2018-08-14 10:17] liuyangly25 commented on #4307
I didn't see the pop up visualizer either on my ubuntu 16.04. Any updates?

[2018-08-14 10:28] xinwf commented on #5242
@vlin17  Thank you for your reply, I have tried that, it does work, but another problem is still in there, the scripts(I write by myself or the official) can't record the data of planning topic and other topics, it only can record four topics, it is very strange. The script I used to record data has been given in aforementioned reply. Can you give me some advice?

[2018-08-14 18:12] #5293 closed

[2018-08-14 18:12] #5320 closed

[2018-08-14 18:43] techoe commented on #5313
object tracking is at camera_process_subnode.cc. Thank you.

[2018-08-14 18:43] #5313 closed

[2018-08-14 18:47] techoe commented on #5314
Async fusion fuses multiple sensor data whenever it receives any sensor output. On the contrary the current synchronous probabilistic fusion wait until all sensor outputs are ready for the fusion.

[2018-08-14 18:47] #5314 closed

[2018-08-14 18:51] techoe commented on #5330
Lidar obstacle detector can be runned without HD map or ROI filter. You can run it by commenting out the error part and other parts causing the break.

[2018-08-14 19:28] YangHan101 commented on #5244
@simon750324 That error means Velodyne lidar is receiving the GPRMC signal but not the PPS. Please check the wiring and configuration.

[2018-08-14 20:03] jilinzhou opened #5350 "OnLocalization callback in prediction module"
We have started to test prediction module on a target (4 cores) running QNX and noticed the node consistently consumes about 20% of cpu time. After some debugging, we found the high cpu usage is caused by OnLocalization callback. On our target, each loop of this callback takes about 7ms averagely but sometimes can be as high as 30ms. Since the localization topic is published in 100 Hz, this callba

[2018-08-15 00:46] techoe commented on #5348
Please check if you installed the CUDA correctly in the docker by typing
nvidia-smi

[2018-08-15 06:39] hzdsdhr commented on #5330
What you should change is :
# candidate: DummyROIFilter, HdmapROIFilter
--onboard_roi_filter=HdmapROIFilter
change it to DummyROIFilter, DummyROIFilter means the perception will detect everything in certain range, no hdmap needed.

[2018-08-15 06:46] gladijos commented on #5291
You should add new folder in modules/drivers/gnss/src/impl directory with new files like DH7D10_parser.cpp and in modules/drivers/gnss/include - DH7D10_parser.h. Also I should modify some other source and config files, that noticed in md-file.

[2018-08-15 08:52] lygincn commented on #4012
@yuconglin @Oofs @zhouyao4321
guys, where did you downloaded the demo-multi_sensor_fusion_localization-data-apollo-2.0.bag????? I can't find it through the link in the tutorial... even using a US IP... (http://data.apollo.auto/?name=sensor%20data&data_key=multisensor&data_type=1&locale=en-us&lang=en) I really need this data to do some tests, can you guys help me out?  can you please send me the da

[2018-08-15 08:55] #5290 closed

[2018-08-15 09:27] lygincn commented on #4012
yeah... i have located the data in the link, but it's so slow accessing it with vpn and i even cannot sign in.. .

[2018-08-15 10:12] jt387 opened #5359 "Can't access the Dreamview web, please help"
After executing the three commands sucessfully :"bash apollo.sh build; bash apollo.sh release;bash scripts/bootstrap.sh", I use the firefox to acess the http://localhost:8888, but the firefox display "Firefox can’t establish a connection to the server at localhost:8888." .  The snapshot is as below:

![image](https://user-images.githubusercontent.com/6219009/44143319-e26f4c76-a0b5-11e8-9efe-245ed0

[2018-08-15 11:42] carlin314 commented on #5160
I find the same problem, have you figure out what is going on?

[2018-08-15 11:43] carlin314 commented on #5160
[ WARN] [1534328321.423415020, 1534269296.698309739]: Can not find transform. 1534238407.364357 Error info: Lookup would require extrapolation into the past.  Requested time 1534238407.364357471 but the earliest data is at time 1534240500.599999905, when looking up transform from frame [velodyne16] to frame [map].

[2018-08-15 13:03] alexbuyval commented on #5055
Hi @SanduIrina,
what tool have you used to convert an OSM to OD format?
Have you been succeed to load the converted map into apollo?

Regards,
Alex

[2018-08-15 13:08] carlin314 opened #5360 "VLP-16 /apollo/sensor/velodyne16/PointCloud2/header Timestamp is not GPS Time"
VLP-16 /apollo/sensor/velodyne16/PointCloud2/header Timestamp is not GPS Time

cause

[ WARN] [1534337139.532238124]: Can not find transform frame: velodyne16. 1534337850.896429 Error info: Lookup would require extrapolation into the future.  Requested time 1534337850.896429062 but the latest data is at time 1534337139.200000048, when looking up transform from frame [velodyne16] to frame [map]. ca

[2018-08-15 13:09] carlin314 commented on #5360
Left is the /apollo/sensor/velodyne16/PointCloud2/header's Time,Right is novatel inspva time

[2018-08-15 13:16] alexbuyval commented on #3005
Hi,

I have posted the request here 14 ago, however I don't receive the Apollo OD specification still. :(

If somebody received the specification before, could you, please,  send me at a.buyval@innopolis.ru

Thank you for advance!
Alex

[2018-08-15 14:07] #4779 closed

[2018-08-15 14:10] snehagn commented on #4241
The solution for the Apollo calibration tools issue was to set the uvcvideo clock to real time for the cameras (thank you @YangHan101 and @techoe).

[2018-08-15 14:25] osaman88 commented on #4710
You can see a description of the Planner algorithm here including relation to EM algorithm:
https://arxiv.org/abs/1807.08048

[2018-08-15 15:55] vladpaunescu opened #5361 "How are /apollo/modules/perception/model/yolo_camera_detector/lane2d_* generated?"
Hello!

When cloning the repo `/apollo/modules/perception/model/yolo_camera_detector/lane2d_0612/deploy_lane_high.pt` is not there. Even when they are generated inside `docker`, the contents of `/apollo/modules/perception/model/yolo_camera_detector/lane2d_*/` are not visible from the host machine.

I have a problem when I start `./scripts/perception_lowcost.sh`

[code]

It complains of empty direc

[2018-08-15 18:03] natashadsouza commented on #5359
@jt387 Could you try to pull the latest code, and check again?

1. Exit docker
2. Pull the latest code
3. Restart docker
4. Get into docker
5. Run apollo.sh build

Let me know if you get any errors along the way.

[2018-08-15 18:05] hadiTab commented on #5330
@hzdsdhr thank you! That solved my problem.

[2018-08-15 18:05] #5330 closed

[2018-08-15 18:08] YangHan101 commented on #5360
Is the GPS connected to the VLP-16?

[2018-08-15 18:16] siyangy commented on #5359
You can also refer to https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md for troubleshooting.

[2018-08-15 21:47] techoe commented on #5361
Please restart docker. The files were replaced by new one but old script still try to access it. There are several docker only files which is not accessible outside.

[2018-08-16 02:04] carlin314 commented on #5360
Yes, I have checked in the web

[2018-08-16 02:05] lygincn commented on #5131
I'm also wondering about this. As my understanding, the correction signal is from base stations. So how apollo get the access to the base station signal? How does the whole thing work?

[2018-08-16 02:08] carlin314 commented on #5360
I also used the official velodyne driver, the lidar time is correct,same with inspva time

[2018-08-16 06:12] alexbuyval commented on #603
@msbeta  Could you, please, send me the Apollo OD spec to alexbuyval@gmail.com

Thanks!

[2018-08-16 06:15] gladijos commented on #4139
Same issue but with package with custom messages. I have to build it inside docker with catkin_make, after this copy headers to /home/tmp/ros/include and after this run source ~/catkin_ws/devel/setup.bash.
It works up to relaunch docker container.

[2018-08-16 07:00] kk2491 commented on #5033
@lesun90 .. I have a similar query. Could you please let me know the length of generated trajectory ? Is it same as length of the car ?
Whenever I try print of the values for adc_sl_boundary end_s and start_s, I could see the difference which is approximately equal to the length of the car.

I would be glad, if you could clarify my doubt.

Thank you,
KK

[2018-08-16 07:32] wfgsy101 commented on #4388
you can ignore it ，go on to run bash scripts/dreamview.sh to launch the dreamview.sh

| |
吴福刚
邮箱：18286115070@163.com
|

签名由 网易邮箱大师 定制

On 08/16/2018 15:20, jt387 wrote:

@artyfarty I got the same error, which file is to be modified? Is it modules/tools/supervisord/dev.conf?
I modified the dev.conf, but still got the error

—
You are receiving this because you were mentioned.
Reply to this email di

[2018-08-16 07:51] xinwf commented on #5160
@carlin314 , it is the time problem, you should use a unified time from GPS

[2018-08-16 07:58] CCodie commented on #4932
@LunaAmour , @siyangy
I also met the same problem. Are there any related issues? Please give me some further guide.
My Apollo environment : Ubuntu 16.04 with apollo-kernel installed , cuDNN installed, nvidia-driver-version(375.39) installed inside & outside docker
[code]
Thanks...

[2018-08-16 08:21] ahuer2435 opened #5372 "1080ti run apollo kernel mismatch"
请教：
我们使用1080ti显卡，ubuntu14.04，安装apollo-kernel时遇到不兼容问题，具体就是先装apollo-kernel，再装显卡驱动，驱动提示不支持RT OS；先装显卡驱动，再装apollo-kernel，装完kernel之后，驱动无效，表现为分辨率只有一个，无法更改，且nvidia-smi命令，提示Failed to initialize NVML: Driver/library version mismatch。

参考了不少issues，尝试其中的方法，始终无法解决。

[2018-08-16 08:54] carlin314 commented on #5160
Thx,dude, but I have sync the gps with lidar and check this in the web, but the velodyne driver from apollo just not work.

And I check the topic header, /apollo/sensor/velodyne16/PointCloud2/header ,it's different from the gps time.
![image](https://user-images.githubusercontent.com/16414165/44198696-a87f6680-a174-11e8-8a68-c36f1da52939.png)

What's more, I run the velodyne official driver, the l

[2018-08-16 08:55] carlin314 commented on #5160
And I open an issue here,https://github.com/ApolloAuto/apollo/issues/5360

[2018-08-16 09:04] carlin314 commented on #2123
Your GPS should have multi com, for example com 1 is for output for common use , com2 or com3 is for lidar gps sync, com2 can be baurdrate can be set seperately, ex: input command : com com2 115200 for novatel receiver.

[2018-08-16 09:05] ahuer2435 opened #5373 "ubuntu16.04 安装 apollo-kernel，apollo-platform以及apollo"
请教：
ubuntu16.04可以安装apollo-kernel，apollo-platform以及apollo吗？

[2018-08-16 09:06] carlin314 commented on #5160
@XinWenfei

[2018-08-16 09:06] carlin314 commented on #5160
@xinwf

[2018-08-16 09:37] artyfarty commented on #4388
@jt387 no idea, i'm not related to this project and have no idea what it is. This discussions pops in top search results regarding supervisor sockfile problem.

[2018-08-16 10:08] DongAi commented on #5373
可以的，请开始尝试起来吧。目前有两份关于ubuntu16的文档介绍：
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_3.0_with_ubuntu16.md
请参考，如果有什么问题可以帮助的请随时提问

[2018-08-16 10:13] gladijos commented on #4918
I have to build with catkin_make package with my messages, copy them  in directory /home/tmp/ros/include and type in bash source ~/catkin_ws/devel/setup.bash.
It works until container was relaunched.

[2018-08-16 10:17] jt387 commented on #4388
@wfgsy101 @artyfarty Thanks!    I tried the method, it worked, @wfgsy101.   And I tried the xiaoxq's method later, it also worked. Thank you, guys!

[2018-08-16 10:26] DongAi commented on #5344
When I was testing Apollo, I run into a similiar issue, and found out a way that might help solve your problem.
**First case:**
1. type command `supervisorctl`, make sure that could enter _supervisorctl interpreter environment_, if an error like "unix:///tmp/supervisor.sock no such file" occurs, it means that you haven't started `supervisord` service.
2. use command `/usr/bin/python /usr/local/bin

[2018-08-16 10:26] ahuer2435 commented on #5373
@DongAi  谢谢，看了下：
2.5 介绍glfw的安装，3.0是基于docker安装apollo，我是想不基于docker，依次安装apollo-kernel，apollo-platform和apollo。

[2018-08-16 10:26] jt387 commented on #5359
@natashadsouza @siyangy Thanks, they are very useful！ I find that the problem is the same with [https://github.com/ApolloAuto/apollo/issues/4388](url), and I solve the problem following the advices.Thanks again!

[2018-08-16 10:31] jt387 commented on #5359
changing the command "supervisorctl start dreamview  >  /dev/null" to "supervisorctl start dreamview" in the bootstrap.sh file, and run "bash scripts/bootstrap.sh",  the error "unix:///tmp/supervisor.sock refused connection"  is showed.

[2018-08-16 10:49] gladijos opened #5374 "Pad message"
I use Apollo 2.5 with my own simulator. I realize localization and canbus protocols (module algorithm realizations). They communicate with simulator and transfer INS, chassis and ControlCommand data. I launched dreamview, chose standard mode (according to #4937 I can't use navigation mode right now), start modules  canbus, localization, routing, planning, control. Also I adjust with map_offset hel

[2018-08-16 11:10] DongAi commented on #5373
哦哦哦哦，明白了，你是想直接想在Ubuntu16的环境下操作，不是官方提供的docker环境下对吧。
理论上是可以的，但是Apollo实际上是依赖于了大量的第三方软件，比较重要的有bazel，pcl，ros等。同时bazel也依赖于其他的软件例如boost，protobuf和java等。最重要的是，Apollo对软件的版本号特别敏感，例如官方使用的bazel0.5.3版本必须依赖于java8u144等。如果感兴趣的话，我建议你可以尝试一下，但是直接编译Apollo3.0会报错，且错误信息可以很让人迷惑。为了方面你的尝试，请先参考一下apollo/docker/build/installer文件夹，下面是包括了构造docker环境的所有脚本，实际上你也可以用这些脚本构建你自己的非docker环境。理论上这些脚本全部执行成功（所有软件安装成功），Apollo是可以编译通过的。祝你好运。

[2018-08-16 11:12] DongAi commented on #5373
另外补充一下，测试过程中如果有软件无法使用apt-get自动安装的话，可以下载源码进行编译安装。
但是请注意两点：
1. 安装位置，尽量保持和apt-get的安装目录一致
2. 软件版本号，为了减少后续编译和运行时的错误，尽量保证软件版本号一致

[2018-08-16 11:52] cvbn127 opened #5375 "UDP packets can not be obtained in custom gnss driver"
I'm writing a custom gnss driver.
 1. In your how_to_add_a_gps_receiver nothing is said about the need to change the file apollo/modules/drivers/gnss/conf/gnss_conf.pb.txt.
 2. My gnss driver does not receive udp packets. UdpStream does not report any problems, its status is CONNECTED. But the data is not received. Data comes (checked via netcat), the problem is with getting this data. After I cha

[2018-08-16 12:10] johndoe95 opened #5376 "can't connect to http://localhost:8888"
I have successfully run dreamviewer with "bash bootstrap.sh", but when I try to run "rosbag play demo_1.5.bag --loop", my firefox shows Unable to connect .
So who can tell me the reason. Thank you very much !
BTW, I know there will be an error" rosbag: command not found" if I run Apollo with root user, but I don't know how to run it without root ( because terminal will show " get permission" ).

[2018-08-16 12:29] #5359 closed

[2018-08-16 12:39] DongAi commented on #5376
Hi johndoe95, it's not a good idea to run with root user. The error implys that something hasn't been set correctly, please refer to [a similar issue](https://github.com/ApolloAuto/apollo/issues/5257) to check if it's useful.

[2018-08-16 13:58] LunaAmour commented on #4932
@CCodie In my case I was running on a new system and had not realized I hadn't yet built the Apollo code on that system. Have you run `bash apollo.sh build`? Is the build successful?

[2018-08-16 16:45] mickeyouyou commented on #5374
you can run `./scripts/pad.sh` send different action for apollo :
[code]

[2018-08-16 18:19] siyangy commented on #4932
@CCodie You can take a look at https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md for common problems that could cause this.

[2018-08-16 23:56] CCodie commented on #4932
@LunaAmour @siyangy
Thank you for the reply! It was occurred in the build process.
I installed Apollo system again and now I solved the problem.

[2018-08-17 00:43] siyangy commented on #4953
Closing due to inactivity, feel free to reopen.

[2018-08-17 00:43] #4953 closed

[2018-08-17 02:15] ahuer2435 commented on #5373
看了下apollo/docker/build/installer/install_ros.sh脚本，这个应该就是apollo-platform，脚本中“Download apollo-ros.” 中只有indigo版本，没有kinetic版本，应该是不能支持ubuntu16.04.

[2018-08-17 02:24] xinwf opened #5382 "what's the meaning of void VelodyneDriver::set_base_time_from_nmea_time in velodyne driver.cpp"
I feel confused about the following code, Why does Apollo set the benchmark time like this?
Does this have a relation with the device's output?
[code]

[2018-08-17 02:41] ahuer2435 commented on #5373
![screenshot from 2018-08-17 10-37-18](https://user-images.githubusercontent.com/29789591/44245062-93084c00-a209-11e8-91b6-96f949d37dd7.png)
如图，这一块应该是apollo针对indigo做的platform发行版，没有kinetic的版本

[2018-08-17 03:04] DongAi commented on #5373
这就是我们为什么要重新编译ros的原因，下载的压缩包是Apollo在特定环境下（boost，pcl，cuda等）编译的ros，当然也只能运行于特定的环境，这也是为什么docker环境方便开发者使用的原因。如果切换Apollo的工作环境的话，需要重新编译ros，并按照上述脚本按照ros的方式将ros编译后的文件存放在不同目录。

[2018-08-17 03:17] breakisx opened #5383 "what about the way for the data stream of apollo ?"
Hello, Excuse me. when the apollo is running, the camera 、lidar and others device will gather data to keep the car is normal operation. So I want to know, The camera、lidar and others device need to gather how much data ? and how does the data flow ?For example from the description on the bus device, or from the kernel, rtos, apollo. and what is the standard of camera、lidar and others device ? such

[2018-08-17 05:15] kk2491 opened #5386 "Technical Paper on Planning module"
Hi Guys,

Is there any Technical paper to understand "Planning module" deeper.
Specifically in the case of Planner and Trajectory generation for the autonomous vehicle.

Thank you,
KK

[2018-08-17 07:10] alexbuyval opened #5389 "Is there API to add a sign into HDmap in runtime"
Hi,

I am developing a sign detection module for the apollo. I am wondering if there is a way to add a sign into the loaded hdmap in the runtime mode.

Thank you for any advice!

[2018-08-17 07:12] gladijos commented on #5374
got it! It works. Also I can launch ./bazel-bin/modules/control/tools/pad_terminal inside docker. I hope it works similar.
Thanks a lot!

[2018-08-17 07:15] gladijos commented on #5382
As I know it come here from ROS velodyne driver.

[2018-08-17 09:42] kk2491 commented on #5319
@yangydavid .. Could you please let us know how to make use of the dreamview PnC monitor. I was searching for the procedure but could not find any.

Thank you,
KK

[2018-08-17 09:53] liuyangly25 opened #5392 "Offline Perception LowCost Visualizer Not Showing"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 16.04
- **Apollo installed from (s

[2018-08-17 09:57] hashim19 commented on #4822
@CCodie Thank you for your response. But when I try to run this above line. It gives me an error like below:
Traceback (most recent call last):
  File "replay_perception.py", line 14, in <module>
    from modules.perception.proto.perception_obstacle_pb2 import PerceptionObstacle
ImportError: No module named modules.perception.proto.perception_obstacle_pb2

Do you have any idea, what could be the p

[2018-08-17 10:40] Triangle001 opened #5393 "RTK 定位问题"
您好。我使用RTK定位，怎样知道apollo接收到GPS的信号，需要修改什么配置文件吗，定位成功的是什么现象，dreamview上需要什么操作吗？请不吝赐教，谢谢。

[2018-08-17 11:10] hashim19 commented on #4507
@YafeiWangAlice Have you found the solution to this issue. I am having a very similar error when I try to run garage_perception.bash file
thanks in advance!

[2018-08-17 11:44] funkydvd opened #5394 "Depth prediction in Apollo"
Hi, I'm new to this framework, we work in a project involving autonomous driving and I am curious if there is any depth prediction made if you don't have a lidar or a radar, and if there is a depth prediction where is the prediction made (what file). I have searched in the code for "depth" and I didn't find any good results.
Thank you for your pacience and sorry if it is a stupid question.

[2018-08-17 14:57] freeclouds opened #5395 "apollo 3"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-08-17 14:57] #5395 closed

[2018-08-17 16:38] freeclouds opened #5396 "Navigator planning issue"
code version：apollo 3.0
about module：Location 、Planning（navigator pattern）、Driver

issue description&&phenomenon：
1. about apollo 3.0 Planning moudule,when we use RTK planning scripts to record and replay vehicle track,in the dreamview window ,we can find that the direction of the vehicle head is inconsistent with the planning path.such as :
![01](https://user-images.githubusercontent.com/19250516

[2018-08-17 17:35] techoe commented on #5392
Thank you for using Apollo!

Ubuntu 16 and glfw in docker may not match. Please take a look at this document
apollo/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md
Please let us know if you still have the issue.

[2018-08-17 20:46] Zhenni17 commented on #5374
Closing the issue since the issue was resolved.

[2018-08-17 20:46] #5374 closed

[2018-08-17 20:47] natashadsouza commented on #5347
Hi @liuyangly25 please send a screenshot of your command line to help us better troubleshoot your error message.

[2018-08-17 20:53] natashadsouza commented on #5259
Closing this issue as there has been no response. Feel free to open it if you have additional questions.

[2018-08-17 20:53] #5259 closed

[2018-08-17 23:05] YangHan101 commented on #5382
NMEA time is from the GPS receiver originally. It is passed to the Velodyne Lidar for time synchronization. Velodyne with re-broadcast the time information in its data and position packages.

[2018-08-17 23:17] YangHan101 commented on #5375
On your 2nd question, I wonder if you are using the ethernet to feed rtcm data to the receiver? Did you configure your receiver to take udp data through the ethernet port? Do you have specific reason to use UDP?

[2018-08-18 01:13] xinwf commented on #5382
@YangHan101 ，It is obvious, I know it. How to understand this
[code]

[2018-08-18 01:36] Triangle001 commented on #5344
Thanks.The problem has been solved.I change the config file: "apollo\modules\tools\supervisord\dev.conf" like this:
in line
;[inet_http_server]         ; inet (TCP) server disabled by default
;port=127.0.0.1:9001        ; ip_address:port specifier, *:port for all iface
cancel the line first ";":
[inet_http_server]         ; inet (TCP) server disabled by default
port=127.0.0.1:9001        ; ip_addr

[2018-08-18 09:58] Triangle001 opened #5405 "localization 问题"
您好。我接入GPS，使用“bash scripts/bootstrap.sh”命令启动apollo，进入dreamview的Module Controller中Hardware的GPS项为“WARN”，然后检查gnss.INFO发现：
I0818 17:45:43.668114 124405 gnss.cc:42] The adapter manager is successfully initialized.
E0818 17:45:43.668725 124405 file.h:105] Failed to parse file /apollo/modules/drivers/gnss/conf/gnss_conf.pb.txt as text proto.
E0818 17:45:43.668892 124405 file.h:144] Failed to parse file /a

[2018-08-18 13:56] SohamGhormade opened #5406 "Newbie questions:Contributing to Apollo software"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 18.04.1 LTS
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:If there is a file or query I can run to find the Apollo version I am running please let me know.I followed the instructions to install without hardware.

 Question 1
- Can I contribute to the software without having a vehicle?
   - If yes, I

[2018-08-19 19:34] SohamGhormade commented on #5406
Question 2
- What are the recommended computer specifications to build locally?

   - I have a 8GB RAM and ~45 GB memory with i5 processor.It took around 90 minutes to build the code
   locally.
   - But my pull request took only 20 minutes to build!
   - It is possible that the server build machines have better specs so wanted to check with you what your recommendations were.

Kindly reply when y

[2018-08-19 19:34] SohamGhormade commented on #5406
Question 3
- I am having trouble with getting  DreamView to start .
  - After building all modules in debug mode ,I see a build passed message,when I run the script for
    DreamView,I get the error stating that dreamview module has not been built.Does it have to be built in release ?

[2018-08-20 00:59] ironsuperdev opened #5416 "Add global variables into DreamView for visualization"
Is there a tutorial/way showing how to add global variables into DreamView for its visualization? Thanks

[2018-08-20 01:59] liuyangly25 commented on #5392
Hello @techoe , thank you for replying. I installed GLFW 3.2.1 and added `glfwWindowHint(GLFW_CONTEXT_CREATION_API, GLFW_EGL_CONTEXT_API);` in `glfw_fusion_viewer.cc`. But the pop up still now showing.

[2018-08-20 02:02] liuyangly25 commented on #5347
Hi @natashadsouza , I found a solution here https://github.com/ApolloAuto/apollo/issues/4554#issuecomment-403389185. Re-install glfw and the build passed.

[2018-08-20 02:27] Zhongen opened #5417 "testing data for perception"
I wanna individually run perception module on my my local machine that test the ability to detect obstacles or traffic lights recognition then visualize the simulation process on Dreamviewer. But, where I could get sensor data or testing data feed into perception module?
Any helpful answer is appreciated!

[2018-08-20 06:21] kk2491 opened #5418 "PnC monitor elements"
Hi Guys,

I have just enabled the PnC monitor in Dreamview to visualize and better understand the code.

After enabling the PnC monitor, I could see 2 more lines (1 trajectory + 2 new ones) in the dreamview interface. I believe blueish green line is the reference line but I am not sure about the other one (sky blue line).

![image](https://user-images.githubusercontent.com/38481564/44323260-b849c4

[2018-08-20 06:36] cvbn127 commented on #5375
Yes, i configure my receiver.
My receiver does not send all the data I need through one data stream. I need to either send data via TCP (1 ip, two ports, two streams to receive data), or via UDP (1 ip, 1 port, 1 data stream). udp is more convenient for me.

[2018-08-20 06:57] startcode commented on #5418
The red line: routing line
The slimmest blue line: reference line
The medium width blue belt: dp path line
The  widest belt: planning's final trajectory

[2018-08-20 07:17] kk2491 commented on #5418
@startcode Thank you so much for the quick reply.

[2018-08-20 07:50] IneverStop commented on #3039
Hi, I have a similar problem when run "bash apollo.sh build_velodyne", it says "CMake Error at gtest/cmake_install.cmake:42(FILE) file INSTALL cannot find  '/apollo/modules/build_isolated/velodyne/gtest/libgtest.so'".
It seems like that I don`t have the require file.
What should I do to solve this problem?Thank you very much!

[2018-08-20 08:10] IneverStop opened #5419 "Faild to build_velodyne"
Hi!
When I try "bash apollo.sh build_velodyne", it shows follows:

......
-- Up-to-date: /home/tmp/ros/share/velodyne/launch/start_velodyne_16.launch
-- Installing: /home/tmp/ros/share/velodyne/scripts
-- Up-to-date: /home/tmp/ros/share/velodyne/scripts/start_velodyne.sh
CMake Error at gtest/cmake_install.cmake:42 (FILE):
  file INSTALL cannot find
  "/apollo/modules/build_isolated/velodyne/gtest/

[2018-08-20 08:26] hmdt opened #5420 "Changing frame per second"
Hello,

According to the Apollo documentation and its architecture, Apollo modules may start to process an input at certain points (using a timer) and/or after receiving a package from their predecessor module in the pipeline.
1) Can we change the timer to reduce the frame per second (FPS) in such a way that the entire pipeline follows this slowdown?
2) Can it be applied to a recorded ROS file tha

[2018-08-20 09:05] IneverStop commented on #5419
Problem seems in there:
catkin_make_isolated --install --source drivers/velodyne \
    --install-space "${ROS_PATH}" -DCMAKE_BUILD_TYPE=Release \
    --cmake-args --no-warn-unused-cli

[2018-08-20 09:35] lianglia-apollo commented on #5419
(1) Please make sure you are inside docker.
(2) before building drivers, please run "bash apollo.sh build" for ros.

[2018-08-20 09:41] kk2491 commented on #5211
@weidezhang @techoe Did you guys get chance to look at the issue ?
adc_sl_boundary is with respect to the ego vehicle or with respect to the car?
]

[2018-08-20 10:02] CCodie opened #5421 "Question about apollo.sh build options."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source or binary)**: From source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: Version 3.0

Hi Apollo team,
I have a question about `apollo.sh` build options.
![image](https://user-images.githubusercontent.com/37093857/44332997-79d0fb00-a4a8-11e8-8edc-b7973b74c901.png)
It

[2018-08-20 10:13] CCodie commented on #4554
@alexbuyval

Hi, I have the same GLFW issue.
And I'm trying to solve the problem with your solution.
Did you mean that execute the `install_glfw3_2.sh` file inside the docker? or both in PC and Docker?

Thanks!

[2018-08-20 14:10] freeHackOfJeff commented on #5406
Hey Soham,

It's more than welcome to contribute to Apollo! About your question, please see the following:

1) 14.04 release it recommend to run with Apollo, but you can try 16.04 or even newer.
    Execute 'git branch -a' could find out the details upon every release or other developement target,
    and write code against the master as the newest code base.
    Yes, you can contribute without an

[2018-08-20 14:19] freeHackOfJeff commented on #5417
Hi Zhonggen,

At modules/perception/README.md, you can see more details information about that. We have opened data set which could be found at http://data.apollo.auto.

Also, Please check up the related staff from modules/perception/data/

[2018-08-20 14:29] mickeyouyou commented on #5421
A1: Absolutely right

A2:that's ok, that will update build result.

[2018-08-20 15:46] freeclouds opened #5423 "RTK planning 实车测试问题"
使用code版本：apollo 3.0
相关模块：planning 、control
在使用apollo 3.0 RTK planning这种路径循迹方式实车测试时，
1、我们先用rosbag record -a录制好机器人运行的数据包
2、使用rtk_recorder.py录制garage.csv文件
3、使用rtk_player.py播放录制的轨迹
4、启动control模块
       进行到步骤4时出现一个问题即我们的车停在录制轨迹的起始点但是rtk_player.py脚本已经开始播放轨迹，在control模块里面寻找最近轨迹时中间已经有一些轨迹播放过了，此时控制车无法正确到下一个点。但是若先启动control模块后，后运行rtk_player.py control模块又无法启动。
        我想请教一下，在实车测试RTK planning时，到底是怎样一个步骤？我们可以使

[2018-08-20 17:36] natashadsouza commented on #5347
@liuyangly25 Yes that is how you could fix it. Did it work for you?

[2018-08-20 22:01] YangHan101 commented on #5375
Well, it seems you are not following the recommended design of Apollo. I am afraid it is beyond my knowledge. I am going to loop in a few other people and see if they have an answer for you.

[2018-08-20 22:10] natashadsouza commented on #5344
Closing this issue as the problem seems to be solved. Feel free to open it if you have additional questions.

[2018-08-20 22:32] YangHan101 commented on #5382
That is just conversion between the date format of the two kind of format. Please look into the details of the formats.

[2018-08-20 23:48] CCodie commented on #5347
@liuyangly25
Hi, I have the same issue. Can you explain more details about #4554 ?
I executed the `install_glfw3_2.sh` file in dev docker and the build seems successful.
But when I try to run offline visualizer (both ver2.0 & ver2.5), no window pops up.
Can you give me a solution? Thanks..!

[2018-08-20 23:53] vlin17 commented on #5416
Could you elaborate more about the request? What types of global variables, and how you want to visualize them?

[2018-08-20 23:56] CCodie commented on #5421
@mickeyouyou
Thanks for the reply!
I want to use my GPU and I installed Nvidia GPU Driver both in host & docker.
If I run `./apollo.sh build`, then is it not necessary to run `./apollo.sh build_gpu` additionally?

[2018-08-21 01:00] carlin314 commented on #5360
@snehagn @YangHan101 Thx dude,the screenshot is as follows
![image](https://user-images.githubusercontent.com/16414165/44374353-5ea1d200-a520-11e8-88a5-dca55ed4fd4a.png)

I really dont know,what could be wrong, the header time is from the packet time?

Do your guys have any ideas?

[2018-08-21 01:17] mickeyouyou commented on #5423
A1、使用RTK的步骤？
大致分为录制估计，播放轨迹，进入自动驾驶，三个步骤：
1、录制轨迹（点击屏幕的Record Start 或者 `bash  ./scripts/rtk_recorder.sh`）
2、规划轨迹（点击屏幕的Replay Start 或者  `bash  ./scripts/rtk_player.sh`）启动一个节点，下发planning msg 进而让Control 下发控制指令给Canbus 模块。
3、（主驾驶位确保有人，踩住刹车）点击进入自动驾驶（点击屏幕 StartAuto），缓慢松开刹车。

A2、RTK测试当然可以在Dreamview中进行，比如选择mode 为RTK Record and Replay，然后选择对应的操作均是跟对应的启停脚本绑定的。

A3、该如何保证播放录制轨迹时能够让control模块控制车从起点到录制的第一个点，而不是运行cont

[2018-08-21 02:31] DogLi07 opened #5430 "Question about how to decode the canbus message.CAN消息解码问题"
您好！
我在学习代码的过程中，一直没有找到如何将CAN消息按照一定的格式解码。据我所知，一般用像dbc文件这种方式进行解码。但我在整个工程内，没有找到类似的功能代码。请问是否有这个功能的代码？我该在哪查看？
Hello!
During the process of code learning, I can't find the code that can decode the message from CANBUS. As I known,  normally, dbc file is used to decode the CAN message. Is there any simular code to achieve such function? Please tell me.

[2018-08-21 03:16] liuyangly25 commented on #5392
Hi @techoe , I switched to ubuntu 14.04.3. But still, I can't see the popup. Did I miss anything?

[2018-08-21 03:18] ahuer2435 commented on #5373
@DongAi 了解了，谢谢。

[2018-08-21 04:31] ironsuperdev commented on #5416
@vlin17
For example, the input variables for control module are:

![image](https://user-images.githubusercontent.com/34617951/44380344-5dcb6900-a53d-11e8-87eb-8aa5806e2547.png)

I would like to see the x, y, z values in format of time graph in Dreamview

[2018-08-21 05:48] hzdsdhr commented on #5430
查看代码：apollo/modules/canbus/vehicle/lincoln/protocol
这里面的所有源文件都是通过解析林肯车的dbc得到的，使得你可以使用这些源文件里的类来解析和发送can报文，apollo还提供了工具，利用dbc文件生成这些源文件，/home/gwm/apollo3.0/apollo/modules/tools/gen_vehicle_protocol

[2018-08-21 06:09] gladijos commented on #5213
I resolve it. I miss

line in configuration file launch.json.
Also section in tasks.json with equal label is needed.

Launching modules works fine now. But there some problem with attaching process. VSCode can't find source files for debug. I put some breakpoints, VSCode interrupts on them but tell me that it cannot find sources. I have to make soft-links like

and then it works. But also cannot f

[2018-08-21 06:13] gladijos commented on #5386
I saw some paper for old version of planning algorithm but can't find this again.

[2018-08-21 06:14] DogLi07 commented on #5430
@hzdsdhr
您好！谢谢您的建议！我还有一些疑问。
你说的 /lincoln/protocol里面的文件，我之前已经大概看了。我知道这个是对应某些Message的解析，但是，据我所知，应该需要精确到某些bit，例如一个message的长度是2个byte，从1bit到16。我在protocol文件里面没有发现这种，proto里面基本是对byte进行操作。是我漏掉什么吗？
另外，你说的工具/home/gwm/apollo3.0/apollo/modules/tools/gen_vehicle_protocol，这个我之前也看了，请问是不是extract_dbc_meta.py，根据说明文件
* `extract_dbc_meta.py`: extract dbc info to a internal generator tool used yaml config, which will i

[2018-08-21 06:17] gladijos commented on #5416
I think the easiest way is throw them to pnc monitor that can do same with another data

[2018-08-21 07:50] hzdsdhr commented on #5430
不好意思，我没仔细看过这个解析代码，但我的理解是代码里的byte是uint8类型的指针，相当于can报文64位（8个字节）中一个字节，通过索引[]就可以得到每一位。关于这个解析工具，因为没用过，所以没有概念

[2018-08-21 07:52] DogLi07 commented on #5430
@hzdsdhr
没事，十分感谢。我还是获益不少！

[2018-08-21 09:06] Triangle001 opened #5434 "Show rostopic Error"
Hello.
After using the command "scripts/bootstrap.sh" to launch apollo，I want to see some data about a topic so execute the command "rostopic echo /apollo/localization/pose" , the result shows that:
the rosdep view is empty: call 'sudo rosdep init' and 'rosdep update'
ERROR: Cannot load message class for [pb_msgs/LocalizationEstimate]. Are your messages built?

### System information

- **OS Platf

[2018-08-21 09:15] liuyangly25 commented on #5347
Yes, @natashadsouza . That works for me.

[2018-08-21 10:23] youluexx opened #5435 "Is there the link of the source code of the modified caffe?"
I want to get the source code and modify the code. But I could't find the download link.

Is the source code of modified caffe opened?

If I want to define new layers and train my own data, how shoulde I do?

I found #4797 had the same question, but had no results.

[2018-08-21 10:47] gladijos opened #5436 "Weakness in instruction "How to Debug the Dreamview Start Problem""
**Describe the bug**
Weakness in instruction "How to Debug the Dreamview Start Problem".

**To Reproduce**
Follow the instruction. After typing

instruction tell

**Expected behavior**

Obviously instruction

is forgotten.

**Desktop :**
 - OS: [Ubuntu 16.04 LTS]
 - Browser [Chrome]
 - Version [Apollo 3.0 (r.3.0.0)]

[2018-08-21 11:00] mickeyouyou commented on #5434
1, Did you execute commads(`rostopic echo /apollo/localization/pose` ) in docker?

2. Inadditional, if you just start Bootstrarp, that will setup monitor and dreamview module, `apollo / localization / pose'doesn't have data, you need to `rosplay`, or configure and start GNSS module.

[2018-08-21 11:05] Triangle001 commented on #5434
yes ,I  execute commads(rostopic echo /apollo/localization/pose ) in docker.You suggest me :

[2018-08-21 11:07] Triangle001 commented on #5434
yes , I execute commads(rostopic echo /apollo/localization/pose ) in docker.You suggest me ：
1.into docker
2.start Bootstrap.sh
3.start localization modules
4.rostopic echo /apollo/localization/pose

[2018-08-21 11:37] freeHackOfJeff commented on #5372
Hello,
First of all, can you please ensure that you have download the related driver of 1080 ti, i,e,
http://www.geforce.cn/drivers/results/115056

Secondly, please make sure you have disable the default driver, e,g,
sudo gedit /etc/modprobe.d/blacklist.conf

blacklist nouveau
options nouveau modeset=0

Reboot the os, then check the result via:

lsmod | grep nouveau

Good luck!

[2018-08-21 14:51] zhxt commented on #5436
@gladijos Yeah, you're right, good catch!
And would you like to submit a PR for this? All contributions are welcome!

[2018-08-21 15:27] gladijos commented on #5436
@zhxt  thanks for answer! I never did it, but I'll try soon!

[2018-08-21 20:41] yifeijiang commented on #5396
You mentioned "we use RTK planning scripts to record and replay vehicle track". Can you illustrate the process and which scripts are used? did you follow the steps in https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_use_apollo_2.5_navigation_mode.md ? It seems that the heading of vehicle was incorrect in the first image. Or was the vehicle facing the road in that way at the time

[2018-08-21 20:55] lianglia-apollo commented on #5435
Current the modified caffe is not open sourced. It is provided as a .so library.

[2018-08-21 20:55] lianglia-apollo commented on #4797
Current the modified caffe is not open sourced. It is provided as a .so library.

[2018-08-22 01:33] youluexx commented on #5435
Thank you for reply.
Is there any plan to open the modified caffe? when?
If no plans, how to add new layers? Should I compile my own .so library? I am a little confused. Hope your replay @lianglia-apollo  or others'.

[2018-08-22 01:47] breakisx commented on #5383
call apollo...

[2018-08-22 03:40] ahuer2435 commented on #5372
@freeHackOfJeff
我是参考：http://www.bubuko.com/infodetail-2356927.html安装，nvidia驱动和cuda的版本也是参考上述链接，上述设置都有做过，驱动安装之后，使用nvidia-smi命令检查过，是可以的，而且分辨率正常且可以选择，所以驱动本身安装应该没有问题。

之后在安装apollo-kernel，使用uname -a，发现kernel安装了，但是此时nvidia驱动无效了，使用nvidia-smi，提示Failed to initialize NVML: Driver/library version mismatch。分辨率也不对，且不可更改。

[2018-08-22 05:30] muleisheng commented on #5406
Hi SohamGhormade.
Q1: This is an abnormal phenomenon.Please check your path.
Q2: I think you should install cuda-8.0. Otherwise, you may not use your GPU

[2018-08-22 05:50] sinopec opened #5447 "the timestamp of tf while using tf2_ros static_transform_publisher"
while using tf2_ros static_transform_publisher ,the published tf msg will have a fixed timestamp
`rosrun tf2_ros static_transform_publisher 0 0 0 0 0 0 0 novatel velodyne16`

.And While I am using velodyne driver to transform point cloud data frome velodyne to world, I will Always have a error msg like this:

**DOse thie means i have to publish static_transform_publisher  repeatedly by using tf2_r

[2018-08-22 05:53] #5419 closed

[2018-08-22 06:06] xiangguomin commented on #603
@msbeta Can you please send me the apollo OpenDrive spec to xiangguomin@gmail.com as well?
Thanks!

[2018-08-22 06:26] Arjun911 commented on #4871
Hi @natashadsouza
I am also getting same error. I checked another thread https://github.com/ApolloAuto/apollo/issues/4554

My build is successful after doing required changes from https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md

but test cases are still not passing. One is failing as below

Platform : Ubuntu 16
below is the build logs
`
  /home/in

[2018-08-22 07:51] kk2491 commented on #4871
@Arjun911 You are running apollo in system with GPU or without GPU ?
If with GPU, then please check if you have the GPU drivers installed correctly.

[2018-08-22 08:06] liuyangly25 commented on #4872
Hi @snuffysasa , what change did you make to make lowcost visualizer to work? Mine never show up.

[2018-08-22 09:13] IneverStop opened #5448 "How to run offline perception"
Hello guys!

### My System information
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **Apollo installed from**: source
- **Apollo version**: 3.0
- **CPU**: i5 6500
- **Memory**: Two 8GB DDR4 2133mhz, total 16GB

I am going to use offline perception tools.So I followed the documents steps.
**First**, I had run "bash apollo.sh build", and I am in docker dev now.Besides I can see DreamView

[2018-08-22 09:14] Arjun911 commented on #4871
@kk2491 I am using Nvidia TITAN Xp. I have installed driver and cuda. I am able to run Carla simulator on my machine. I believe drivers are installed perfectly. is there any way to check all GPU dependency for apollo?

[2018-08-22 09:17] IneverStop commented on #5448
Although apollo docker had installed ros, should I install ros in my system,to run command `rosbag play --clock example.bag`?

[2018-08-22 10:02] Leonardo092 opened #5449 "Vehicle_Calibration"
Hello there,
I am using the vehicle calibration procedure to obtain my personal "control_conf.pb.txt" (please refer to this [link](https://github.com/ApolloAuto/apollo/blob/master/modules/calibration/data/mkz_example/calibration_table.pb.txt)). What is obscure to me is the methodology behind its creation. As far as I understood, I am supposed to give commands "acceleration, speed limit, decelerati

[2018-08-22 10:35] Arjun911 opened #5450 "Error in release command ' bash apollo.sh release '"
Hi,

I trying to setup Apollo in my local machine.
I have installed nvidia driver and cuda on my machine (using TITAN Xp, Ubuntu 16)

while running
`bash apollo.sh release`
I getting following error :
INFO: Reading 'startup' options from /apollo/tools/bazel.rc: --batch_cpu_scheduling
cp: cannot stat '/apollo/bazel-apollo/bazel-out/local-opt/bin/modules/perception/cuda_util/libintegrated_cuda_util.

[2018-08-22 10:44] Leonardo092 opened #5451 "Errors in data_collector.py"
Hello there,
I run into some unexpected behaviour (a bug, maybe. Not sure) when dealing with the update of vehicle calibration (please refer to [this guide](https://github.com/ApolloAuto/apollo/blob/35e8b9e5567ba1e4a91aa798176408b534c60f78/docs/howto/how_to_update_vehicle_calibration.md) ). To be concise:
1) In [file](https://github.com/ApolloAuto/apollo/blob/master/modules/tools/calibration/data_

[2018-08-22 11:43] gladijos commented on #2747
Same issue

[2018-08-22 13:53] gladijos opened #5452 "Fail planning module when it got default routing request"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04 LTS
- **Apollo installed from (source or binary)**: binary
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
- launch dreamview with canbus, planning, routing, localization;
- choose SynnuvaleLoop map;
- start car simulator which take ControlCommand message and p

[2018-08-22 13:57] zhxt commented on #5436
@gladijos Great!  You can refer to [How to Contribute to Apollo](https://github.com/ApolloAuto/apollo/blob/master/CONTRIBUTING.md) and  [How to create a pull request](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_create_a_pull.md).

Feel free to let us know if you have any questions.

[2018-08-22 14:08] snehagn commented on #4653
@ankitvora7 - Hi, can you help confirm the individual sensor frames within Apollo? What I am seeing from the image: Radar and LiDAR - FLU, Novatel - RFU and Cameras - z forward, x right and y down?

[2018-08-22 14:38] GPrathap opened #5453 "glfwInit() function should be moved to a proper place."
**Describe the bug**
[glfwInit()](http://www.glfw.org/docs/latest/group__init.html#ga317aac130a235ab08c6db0834907d85e) should be move from [glfw_fusion_viewer.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/obstacle/camera/visualizer/glfw_fusion_viewer.cc#L285) to main thread where the corresponding main module is being intializing because if there are more than two subnode

[2018-08-22 15:17] ankitvora7 commented on #4653
@snehagn - Yes you're right! This is what I obtained from the calibration files available with the 'demo-sensor-2.0' bag.

[2018-08-22 15:37] snehagn commented on #4653
@ankitvora7 - Thank you, Ankit.

@techoe, @YangHan101, @weidezhang :
1. Can you guys please confirm the reference frames used in the conf files for the calibration tools? What we have so far: camera-camera RFU, camera-lidar FLU, radar-camera RFU, IMU-vehicle RFU, multi-lidar-gnss RFU.
2. Are the values in the YAML files output by the calibration tools in the same frame as the inputs?

[2018-08-22 15:41] kk2491 commented on #5386
After doing some research I found one paper - Baidu Apollo EM Motion Planner.
https://arxiv.org/pdf/1807.08048.pdf
Kindly let me know if this is the right one.

[2018-08-22 17:35] natashadsouza commented on #4871
@Arjun911 please confirm if you have CUDA installed correctly:
sudo NVIDIA-Linux-x86_64-375.xx.run --no-opengl-files -a -s
Also, please send me a screenshot of your error messages to help me understand the nature of your error. My email ID is contained in the thread.

[2018-08-22 17:55] natashadsouza commented on #5450
@Arjun911 we recommend using the `dev` container. Please confirm if you see similar errors in dev build.

[2018-08-22 18:43] vlin17 commented on #5416
Yes, the easiest way is to throw them to pnc monitor. Some graphs that have been provided for control module are:
![control_monitor](https://user-images.githubusercontent.com/2775888/44482883-6df74d00-a5fe-11e8-93a7-9456b7db9f35.png)

Trajectory graph shows ego-vehicle's x position, y position, heading, steer curve in the past 8 sec. If this not what you want, to add a desired graph, please
1. con

[2018-08-23 01:56] freeclouds commented on #5423
@mickeyouyou 非常感谢你的回复，我们目前用RTK这种方式已经完成了实车测试，前面是我们自己写的脚本问题。目前我们的测试方式是：
1、定点测试
修改moudle/tools/navigator/rtk_player.py python脚本中发布的轨迹点，设置为一固定点，测试车在固定点间运动。
2、录轨迹测试寻迹
a、用bash ./scripts/rtk_recorder.sh录制garage.csv文件
b、开启location moudle、gps、control moudle
c、运行bash ./scripts/rtk_player.sh脚本，车开始运行

[2018-08-23 01:58] #5423 closed

[2018-08-23 07:19] #5418 closed, assigned to nobody

[2018-08-23 07:42] gladijos commented on #5213
I fond out solution.
First of all I start VSCode from apollo's original directory, I mean not from /apollo but from real apollo's folder location.
Secondly in VSCode I should open directory /proc/self/cwd.
Also there are some problems with debugging code inside external dir. I make soft links from /apollo/bazel-apollo/external to /apollo/external. It works for me now. But I think there are some ap

[2018-08-23 08:09] hmdt commented on #5420
@mickeyouyou Do you have any update on this?

[2018-08-23 08:13] IneverStop commented on #5448
I have solved this problem. It seems like system only support one RAM cause When I remove one of the RAM, compile succeed. Or maybe my computer have some hardware problem.

And I can install rosbag out docker, and play bag data.

Hope this will help some noobs like me.

[2018-08-23 08:13] #5448 closed

[2018-08-23 18:43] nandita05 opened #5472 "IMU Calibration Tool doesnt provide results- Suspect missing code in sensor_calibration.sh"
### System information

OS Platform and Distribution : Linux Ubuntu 14.04
Apollo installed from source
Apollo version: 3.0 (Code cloned from Master branch)

### Steps to reproduce the issue:
- Download the calibration tool : https://apollocache.blob.core.windows.net/apollo-cache/imu_car_calibrator.zip
- Inside docker, start Apollo HMI using command:
**bash scripts/bootstrap.sh**
- Turn on GPS, CAN

[2018-08-23 21:05] natashadsouza commented on #4285
Closing this issue as there has been no response for a while. Feel free to write back if the issue persists.

[2018-08-23 21:05] #4285 closed

[2018-08-23 21:07] #446 closed

[2018-08-23 21:09] natashadsouza commented on #1649
Closing this issue as it seems to be resolved.

[2018-08-23 21:09] #1649 closed

[2018-08-23 21:10] natashadsouza commented on #1684
Closing this issue as it has been inactive for a while. Feel free to open it should you have additional questions.

[2018-08-23 21:10] #1684 closed

[2018-08-23 21:12] natashadsouza commented on #1768
Closing this issue as it seems to be resolved. Feel free to open it if the issue persists.

[2018-08-23 21:12] #1768 closed

[2018-08-23 21:12] natashadsouza commented on #1840
Closing this issue as there has been no response in a while.

[2018-08-23 21:12] #1840 closed

[2018-08-23 21:13] natashadsouza commented on #1843
Closing this issue as there has been no response in a while. Feel free to open it if your issue persists.

[2018-08-23 21:13] #1843 closed

[2018-08-23 21:14] natashadsouza commented on #1941
Closing this issue as it seems to be resolved.

[2018-08-23 21:14] #1941 closed

[2018-08-23 21:17] natashadsouza commented on #2287
It is recommended to build Apollo in Ubuntu 14.04. Should you want to continue building in Apollo 16.04, please refer to: [the following document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md)
Closing this issue as it seems to be resolved.

[2018-08-23 21:17] #2287 closed

[2018-08-23 21:24] lesun90 opened #5473 "How to upgrade python version"
Hi,
I am using the apollo2.0 and its version is 2.7.6
I need python 2.7.15 to work, can you show me how to upgrade the python version in my apollo docker image.

Thank you/

We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note mis

[2018-08-23 21:26] lianglia-apollo commented on #5452
Are you using sim_control? If not, you will need to provide some localization information to the ego vehicle in some way, for example, by playing a rosbag.

[2018-08-23 21:35] natashadsouza commented on #2388
Currently closing this issue as there has been no response in a while.

[2018-08-23 21:35] #2388 closed

[2018-08-23 21:37] natashadsouza commented on #2362
@albe81x do you still see this issue?

[2018-08-23 21:38] natashadsouza commented on #288
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:38] #288 closed

[2018-08-23 21:40] natashadsouza commented on #307
@ubercool2 there has been additional documentation written on the VLP16 series. Please refer to the Specs section of our documentation.
Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:40] #307 closed

[2018-08-23 21:40] natashadsouza commented on #406
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:40] #406 closed

[2018-08-23 21:41] natashadsouza commented on #1257
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:41] #1257 closed

[2018-08-23 21:42] natashadsouza commented on #658
Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:42] #658 closed

[2018-08-23 21:42] natashadsouza commented on #2134
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:42] #2134 closed

[2018-08-23 21:44] natashadsouza commented on #2308
@wckorealsh thank you for your support and suggestions!
Hope that your support continues! :)

[2018-08-23 21:44] #2308 closed

[2018-08-23 21:45] natashadsouza commented on #2399
Closing this issue as there has been no response in a while.

[2018-08-23 21:45] #2399 closed

[2018-08-23 21:46] natashadsouza commented on #1767
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:46] #1767 closed

[2018-08-23 21:47] natashadsouza commented on #2710
Currently closing this issue as there has been no communication in a while. @Hoonyyhoon if you have additional requests in documentation, please reach out to us and re-open this issue!

[2018-08-23 21:47] #2710 closed

[2018-08-23 21:50] natashadsouza commented on #2706
@Peter9606 is there a particular module you'd like to learn more about?
Unfortunately, not all modules are completely replaceable, but we can discuss this further if you have a more specific design idea.

[2018-08-23 21:50] natashadsouza commented on #2688
Sorry we could not get back to you on this request. Please let me know if you still need support on your request. Feel free to re-open the issue.

[2018-08-23 21:50] #2688 closed

[2018-08-23 21:51] natashadsouza commented on #2660
Closing this issue as there has been no response in a while.

[2018-08-23 21:51] #2660 closed

[2018-08-23 21:51] natashadsouza commented on #2654
Closing this issue as there is no response.

[2018-08-23 21:51] #2654 closed

[2018-08-23 21:52] natashadsouza commented on #2654
Closing this issue as there has no communication.

[2018-08-23 21:52] natashadsouza commented on #2652
Closing this issue as there has been no further communication.

[2018-08-23 21:52] #2652 closed

[2018-08-23 21:53] natashadsouza commented on #2636
Closing this issue as it appears to be resolved.

[2018-08-23 21:53] #2636 closed

[2018-08-23 22:02] natashadsouza commented on #2629
We recommend that you build Apollo using our Docker environment as described in our documentation. Unfortunately, building Apollo outside docker is very time consuming and not at all efficient as Apollo relies on several drivers and third-party scripts. Thank you for sharing your experience of building Apollo modules outside Docker, feel free to continue testing it out and let us know if you encou

[2018-08-23 22:03] natashadsouza commented on #2596
Closing this issue as there has been no responses in a while.

[2018-08-23 22:03] #2596 closed

[2018-08-23 22:41] natashadsouza commented on #3113
@lz199144 @wlbksy could you tell us about the problem a little more and give us your machine configuration to help troubleshoot your request.

[2018-08-23 22:42] natashadsouza commented on #3096
Sorry that we have not responded to your request, are you still seeing the issue?

[2018-08-23 22:43] natashadsouza commented on #3094
Closing this issue as it seems to be fixed.

[2018-08-23 22:43] #3094 closed

[2018-08-23 22:43] natashadsouza commented on #3089
Closing this issue as there has been no communication for a while.

[2018-08-23 22:43] #3089 closed

[2018-08-23 22:46] natashadsouza commented on #3088
Closing this issue as there has been no communication in a while.

[2018-08-23 22:46] #3088 closed

[2018-08-23 22:47] natashadsouza commented on #2974
Hi @jilinzhou I am sorry no one got back to you on this question. Please tell me if you are still seeing this issue and we can help troubleshoot it.

[2018-08-23 22:49] natashadsouza commented on #2968
Sorry we did not get back to you on this request. Are you still looking to add terrain to Dreamview?

[2018-08-23 23:16] gladijos commented on #5452
@lianglia-apollo I'm not using simcontrol. I'm using my own software for simulation. I provide Gps, Imu, Chassis messages and waiting for ControlCommand. Gps, Imu, Chassis data is accepted by apollo's modules fine.

[2018-08-23 23:36] natashadsouza commented on #2450
Closing this issue as there has been no communication in a while.

[2018-08-23 23:36] #2450 closed

[2018-08-23 23:36] natashadsouza commented on #2430
Closing this issue as the issue seems to be resolved.

[2018-08-23 23:36] #2430 closed

[2018-08-23 23:41] natashadsouza commented on #1750
Currently closing this issue. Please refer to updated documents in the master branch to resolve the Nvidia driver installation error.

[2018-08-23 23:41] #1750 closed

[2018-08-23 23:43] natashadsouza commented on #2431
Please refer to the updated Apollo documentation in Github to resolve the issue.

[2018-08-23 23:44] natashadsouza commented on #2468
Currently closing this issue. Thank you @zhxt for resolving it.

[2018-08-23 23:44] #2468 closed

[2018-08-23 23:45] natashadsouza commented on #2475
Closing this issue as there has no communication for a while. Please refer to updated documentation to resolve your issue.

[2018-08-23 23:45] #2475 closed

[2018-08-23 23:47] natashadsouza commented on #2534
Currently closing this issue as there has been no communication for a while. Please re-open it should you still be facing the same issue.

[2018-08-23 23:47] #2534 closed

[2018-08-23 23:47] #2431 closed

[2018-08-23 23:49] natashadsouza commented on #2538
Closing this issue as there has been no communication for a while. Please feel free to open it if you are still facing the same issue.

[2018-08-23 23:49] #2538 closed

[2018-08-23 23:49] natashadsouza commented on #2541
Currently closing the issue as it seems to be resolved.

[2018-08-23 23:49] #2541 closed

[2018-08-23 23:50] natashadsouza commented on #2545
Closing this issue as it seems to be resolved.

[2018-08-23 23:50] #2545 closed

[2018-08-23 23:51] natashadsouza commented on #2551
Closing this issue as it seems to be resolved.

[2018-08-23 23:51] #2551 closed

[2018-08-23 23:51] magick93 commented on #2968
Yes. That would be of great interest.

Thanks

On Fri, 24 Aug 2018 at 10:50, Natasha Dsouza <notifications@github.com>
wrote:

[2018-08-23 23:52] natashadsouza commented on #2565
Closing this issue as there has been no response in a while.

[2018-08-23 23:52] #2565 closed

[2018-08-23 23:53] natashadsouza commented on #2576
Sorry we did not get back to you on this issue. Please let us know if you were able to resolve it at your end.

[2018-08-23 23:53] #2576 closed

[2018-08-23 23:53] #2583 closed

[2018-08-24 00:26] natashadsouza commented on #2740
Please refer to [How to install Apollo using Ubuntu 16](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md)

[2018-08-24 00:26] #2740 closed

[2018-08-24 00:27] natashadsouza commented on #2749
@vivianistan do you still have the same error message. Our apologies that we have not responded about it.

[2018-08-24 00:28] natashadsouza commented on #2751
Closing as the issue seems to be resolved.

[2018-08-24 00:28] #2751 closed

[2018-08-24 00:29] natashadsouza commented on #2769
@qljsjy do you still encounter the error?

[2018-08-24 00:29] natashadsouza commented on #2771
Closing as the issue seems to be resolved.

[2018-08-24 00:29] #2771 closed

[2018-08-24 00:30] natashadsouza commented on #2773
Closing as this issue seems to be resolved.

[2018-08-24 00:30] #2773 closed

[2018-08-24 00:43] natashadsouza commented on #2779
@lyletbjohnson apologies for the delay in response. Is this an error you are still seeing?

[2018-08-24 00:44] natashadsouza commented on #2786
@turinglife has this issue been resolved?

[2018-08-24 00:46] natashadsouza commented on #2787
Is this issue still persistent? Please refer to the latest documentation.

[2018-08-24 00:46] natashadsouza commented on #2791
Closing this issue as it seems to be resolved.

[2018-08-24 00:46] #2791 closed

[2018-08-24 00:50] natashadsouza commented on #2880
Closing this issue as there has been no communication in a while. Feel free to open it if you have any more questions.

[2018-08-24 00:50] #2880 closed

[2018-08-24 00:51] natashadsouza commented on #2928
@lyxzhl are you still experiencing the error? Closing this issue currently, but feel free to open it should you have any more questions.

[2018-08-24 00:51] #2928 closed

[2018-08-24 00:55] natashadsouza commented on #2968
We are unfortunately not going to be adding terrain as part of Dreamview any time soon. It is definitely something on our future scope list. @magick93 if you do have some ideas, we would love to hear them.

[2018-08-24 00:58] natashadsouza commented on #3009
Closing this issue as there has been no communication for a while. Feel free to open it up if you have additional questions.

[2018-08-24 00:58] #3009 closed

[2018-08-24 00:59] natashadsouza commented on #3124
Closing this issue as there has been no communication in a while. Please feel free to open it if you have additional questions.

[2018-08-24 00:59] #3124 closed

[2018-08-24 01:00] natashadsouza commented on #3127
Please refer to the latest documentation to resolve the issue.
Closing this issue as there has been no communication in a while. Please feel free to open it if you have additional questions.

[2018-08-24 01:00] #3127 closed

[2018-08-24 01:01] natashadsouza commented on #3128
Could you leave us your system information like OS and GPU driver?

[2018-08-24 01:02] natashadsouza commented on #3152
Closing this issue as there has been no communication in a while. Please feel free to open it if you have additional questions.

[2018-08-24 01:02] #3152 closed

[2018-08-24 01:02] natashadsouza commented on #3208
Closing this issue as there has been no communication in a while. Please feel free to open it if you have additional questions.

[2018-08-24 01:02] #3208 closed

[2018-08-24 01:30] daviduhm opened #5479 "Question about Radar calibration"
From the [calibration documentation](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md), the required topics for Radar-to-Camera calibration are camera and ins, but there is no radar topic needed.

1. How does the Radar-to-Camera calibration get the extrinsics for the radar relative to the camera without radar message?

2. Who's responsible for

[2018-08-24 01:50] breakisx opened #5480 "where is /apollo/sensor ?"
where is  the dir of /apollo/sensor ? I can't find it

[2018-08-24 03:32] zhanyifei opened #5482 "LiDAR标定服务可以支持更多的型号吗？比如hesai pandar系列的。"

[2018-08-24 05:58] breakisx opened #5484 "sensor and ros"
Hello everyone. Excuse me
     请问在apollo中，对于摄像头、激光雷达等设备来说，其驱动程序是在ros里吗？然后每个设备会作为ros里的一个节点来发布采集到的数据，这些数据是共享的吗？如果是共享的，什么时候才会丢弃呢？如果不是共享的，那是处理数据的模块拿走之后就丢弃了吗？
      还是说具体的设备驱动程序如.ko，都是动态安装到RTOS里的呢？这样的话，这些设备驱动程序是设备生产厂商给的吗？

[2018-08-24 05:59] breakisx commented on #5484
@poutyface @weidezhang @bigwhite @mbinna @all2one @ Thank you !

[2018-08-24 06:00] breakisx commented on #5484
在apollo 3.0中提到了ASU（Apollo传感器单元），如果有ASU,那是不是摄像头、激光雷达、gps等都直接接到ASU上？没有的话就要接到IPC上呢？

[2018-08-24 06:45] Arjun911 commented on #5450
Hi I tried doing fresh installation
but getting below error while release
`
[WARNING] ESD CAN library supplied by ESD Electronics does not exist. If you need ESD CAN, please refer to third_party/can_card_library/esd_can/README.md.
INFO: Reading 'startup' options from /apollo/tools/bazel.rc: --batch_cpu_scheduling
cp: cannot stat '/apollo/bazel-apollo/bazel-out/local-opt/bin/modules/perception/cuda

[2018-08-24 07:27] IneverStop opened #5485 "offline_lidar_visualizer_tool failed"
### System information
- **OS Platform and Distribution **: Linux Ubuntu 18.04
- **Apollo installed from **: source
- **Apollo version **: 3.0

Hello.
I am goint to use offline perception module.Here is my operating:
- roslaunch velodyne export_pcd_offline.launch
- rosbag play --clock demo-sensor-demo-apollo-1.5.bag
       It generate many pcd files but also report some [ERROR] [.......]: two unit

[2018-08-24 07:32] lianglia-apollo commented on #5452
My suggestion is to provide localization information, add and check the output of planning logs to debug.

[2018-08-24 07:52] MoonsuCha commented on #3005
Hi, Apollo OpenDrive specification needed, please, send me at ckanstnzja@gmail.com，thanks

[2018-08-24 12:57] emillion92 commented on #3005
Hi,
can you pls also send me the Apollo OpenDrive specification. My mail adress is maximilianfink@gmx.de. Thanks a lot! :)

[2018-08-24 13:17] alexbuyval commented on #3005
I am wondering did somebody get the Apollo OpenDrive specification finally? :)

[2018-08-24 13:35] funkydvd commented on #5394
Has anybody any idea? I found that there is computed an Euclidean distance but I still don't know how are mapped the coordinates directly from the camera, if you don't know any real distance (just the pixel). I would really appreciate if anybody helps us with the depth prediction based only on the camera (I saw that is possible only with the camera).

[2018-08-24 14:10] albe81x commented on #2362
Hi Natasha,
yes I did not have the chance to progress further on this topic. Do you have any suggestion or update about it?

Thanks for your support,
Alberto

[2018-08-24 14:26] ayeganov commented on #3005
Honestly, I feel like those messages go into a black hole.

On Fri, Aug 24, 2018, 09:17 Alexandr Buyval <notifications@github.com>
wrote:

[2018-08-24 15:55] jilinzhou commented on #2974
@natashadsouza : There is no need of further debugging.

[2018-08-24 15:55] #2974 closed

[2018-08-24 17:29] natashadsouza commented on #2362
@albe81x could you give me more details about your system?

[2018-08-24 17:31] natashadsouza commented on #5450
@Arjun911 Please follow these [additional steps](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md) as you are using Ubuntu 16 and let me know if you see any further errors.

[2018-08-24 18:06] natashadsouza commented on #603
Hi going forward please use: [the following link ](https://www.surveymonkey.com/r/DXWK3Q6) to send us your details. Thanks!

[2018-08-24 18:07] natashadsouza commented on #3005
Hi going forward please use: [the following link ](https://www.surveymonkey.com/r/DXWK3Q6) to send us your details. Thanks!

[2018-08-24 18:08] natashadsouza commented on #3005
We apologize if you have not received the OD yet, going forward use the link above, so that we could record your requests.

[2018-08-24 18:53] hlchen1043 opened #5488 "utilize proto file in c++"
To whom it may concern,
We are trying to utilize Apollo protobuf topic in C++. When including the header file for protobuf we used the following script:
[code]
When I run the cmake file for C++, it returns the following error:
[code]

Which by theory I thought it shouldn't happen. According to the protobuf documentation, it says when using protobuf file with c++, just replace `.proto` with `.pb.h`

[2018-08-24 20:13] lianglia-apollo commented on #5488
bazel build is the only method we currently support. For general questions on how to make protobuf, I suggest post on protobuf community for questions.

[2018-08-24 20:27] hlchen1043 commented on #5488
Hi lianglia,
Thanks for the reply! Does that mean that I need to build Apollo first then build my code?

Thank you!

[2018-08-24 21:29] techoe commented on #5485
It seems the CUDA was not installed correctly. Apollo supports Ubuntu 14

[2018-08-24 21:31] techoe commented on #5453
@GPrathap, I agree on you. We will change the code accordingly. Thank you!

[2018-08-24 21:37] DrIncredible commented on #5279
Anyone can tell me what is the current status for this issue?

[2018-08-25 04:28] lianglia-apollo commented on #5488
My suggestion is to use bazel build your added files. You can find examples in other folders on how defined protos are used as dependent libraries, for example `https://github.com/ApolloAuto/apollo/blob/master/modules/planning/BUILD`.

[2018-08-25 06:51] yimzhou opened #5499 "Cannot Launch Dreamview on 3.0"
Hello Apollo developers,

- Linux Ubuntu 16.04
- Apollo installed from source
- Apollo version 2.0

- I am new to Apollo and I want to upgrade Apollo from version 2.0 to 3.0. I followed the following steps mentioned in #1768 :
`$ git pull origin master`
`$ docker rm [container id]`
`$ docker rmi [image id]`
`$ bash docker/scripts/dev_start.sh`
`$ bash docker/scripts/dev_into.sh`
`$ cd /apollo`
`$

[2018-08-25 07:58] zhxt commented on #5499
Since you got the error 'Illegal instruction', you may need to have a look at [this](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) or issue #3615 .

PS: If your local copy was cloned from your own fork, you may need to rebase upstream master branch to get the latest code.

[2018-08-25 13:36] kk2491 commented on #5211
@weidezhang @techoe requesting you to kindly clarify my doubt...

[2018-08-26 02:32] zhxt commented on #2629
@hongkedavid Perception module use AVX2 instruction set for optimization, so you may need to add an "--copt=-mavx2 " option to the bazel build command as the script does:
https://github.com/ApolloAuto/apollo/blob/9408323f2c65702a6d194d23a83fe393f2e4d536/apollo.sh#L738

[2018-08-26 06:01] yimzhou commented on #5499
@zhxt I tried [this](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) and compiled pcl from source, but the command `bash scripts/dreamview.sh` got the output `Could not launch module dreamview. Is it already built?
` and when I ran `bash scripts/dreamview.sh start_fe`, it was shown `/apollo/scripts/apollo_base.sh: line 302: /apollo/modules/dream

[2018-08-26 07:06] JustWannaHugU opened #5502 "There was a problem running to the last step：ros play demo_2.5.bag"
Hello Apollo developers,

Linux Ubuntu 14.04

Apollo installed from source

Apollo version 3.0

I am new to Apollo and I want to run Apollo using docker-ce on my camputer，I have successfully installed the software---DOCKER already

`amber@amber-ThinkPad-S3-S440:~/apollo$ docker run hello-world

Hello from Docker!
This message shows that your installation appears to be working correctly.

To genera

[2018-08-26 07:08] zhxt commented on #5499
Please try to rebuild apollo and check again.

[2018-08-27 01:46] JonathanJones92 opened #5503 "Apollo 3.0 多传感器标定指南"
在Apollo 3.0里，包含了超声波雷达，激光雷达（VLP16 HSE64 etc..） USB_CAM， Conti Radar。 这些传感器都需要将 local coordinate转为world coordinate。通过已知的资料，Apollo以 车顶上的HSE64 为基准，其他的传感器转到HSE64 再到IMU 到world，HSE64直接转到world。开发过程中遇到的几点问题希望百度的同事能够帮忙解答一下：

1. 如果仅使用VLP16 并且把VLP16当做 HSE64来用，将其他传感器的坐标系转为VLP16坐标系再转到world，那么想问一下VLP16的旋转参数放在哪里呢？ 同时我也没有找到从哪里调用了激光雷达的旋转参数。只是看到了radar和USB_CAM的旋转参数。
2.把所有的坐标系转为IMU坐标系后，IMU坐标系是怎么转为世界坐标系的呢？这部分代码和旋转矩阵也没有

[2018-08-27 01:48] AR-Ashok commented on #3005
Hi Natasha,

I have not received the OD specification.

Regards,
Ashok

On Sat, Aug 25, 2018 at 3:08 AM Natasha Dsouza <notifications@github.com>
wrote:

[2018-08-27 02:10] JonathanJones92 commented on #5503
@bigwhite @weidezhang @all2one   THX

[2018-08-27 02:12] deanyanqing opened #5504 "Why concrete radat data structure used? Abstract one should be better"
Currently not easy to integrate radar other than Conti because Perception module relay on the concrete type. Actually there is abstract radar data structure in drivers., but neither conti_radar nor racobit_radar use it.  Is there  any good reason to design like that? Or anything I misunderstood?

[2018-08-27 02:26] liuyangly25 opened #5505 "Check failed: status == CUDNN_STATUS_SUCCESS (4 vs. 0) CUDNN_STATUS_INTERNAL_ERROR"
Hello,

I am getting this cudnn error when running apollo lowcost visualizer(`./scripts/perception_offline_visualizer.sh`) on ubuntu 14.04.3. NVIDIA driver version is 375.39 for host and docker.

Please help. Thanks.

error detial:

SCNN_D_27_SCNN_D_26/sum_0_split_1
I0824 11:03:26.985291 13256 net.cpp:144] Setting up SCNN_D_27_SCNN_D_26/sum_0_split
I0824 11:03:26.985327 13256 net.cpp:151] Top shap

[2018-08-27 03:45] JonathanJones92 commented on #5046
@alorli  标定前保证两点，1  /apollo/sensor/gnss/best_pose 中 各项derivations 小于0.02 要把车子驾驶到开阔地带进行标定
2. GPS状态 code 56 状态正常

[2018-08-27 03:46] JonathanJones92 commented on #5046
@alorli  能够共享一下你们的calib tool 么，我看改了哪些参数，谢谢。 我的QQ 273575732 我们可以深入交流一下。

[2018-08-27 04:02] #5485 closed

[2018-08-27 04:12] JonathanJones92 commented on #5241
@xinwf  can you share the full config files to us? Thanks, I'm also using VLP16 as the main sensor.

[2018-08-27 05:23] CCodie opened #5506 "Any bag file with topic radar & lidar ?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: From source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: ver 3.0

Hello Apollo team,
I'm trying to run Fusion Obstacle Visualization Tool after running the Offline Perception Visualizer.

It seems that Fusion Obstacle Visualization Tool needs

[2018-08-27 06:34] kk2491 opened #5507 "Types of map in modules/map/data directory"
Hi Guys,

I generated a new map base_map.xml and created the sim and routing map using the scripts given in the [map generation link](https://github.com/ApolloAuto/apollo/tree/master/modules/map/data).

I was able to successfully get the generated map on the dreamview interface.

However I would like to know the role of each file inside the map/data directory.

Can anybody please give me a brief o

[2018-08-27 07:58] freeclouds opened #5508 "About Perception moudle question"
Dear apollo developer,
we have a question about perception module,
platform:
os: ubuntu 16.04
apollo version: 3.0
about module : perception

question description:
we have use RTK planning mode to make our vechile run on the record way,
now ,we want to use only one Camera as our perception sensor and HDmap to complete perception module,and output right information as prediction and planning module'

[2018-08-27 08:43] freeHackOfJeff commented on #5451
Hi, Could you please add try...(related exception) in this case as well, then submit a patch to fix that?

[2018-08-27 08:54] Arjun911 commented on #5450
@natashadsouza thanks for quick reply. I decided to reinstall everything. below is my progress

Yes i have done necessary changes as mentioned above for ubuntu 16.
Build is also successful. but not able to pass all unit test cases.
below is nvidia-smi result
`$ nvidia-smi
Mon Aug 27 14:18:45 2018
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.130

[2018-08-27 08:58] freeHackOfJeff commented on #5505
I would recommend you read https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_perception_visualizer.md again, and try that by following up those steps, and more details info is required for us to diagnosis.

[2018-08-27 08:59] freeHackOfJeff commented on #5505
I would recommend you read https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_perception_visualizer.md again, and try that by following up those steps, and more details info is required for us to diagnosis.

[2018-08-27 09:09] CCodie opened #5509 "How can I use my usb_cam?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: From source (branch --r3.0.0)
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Issue
Hello guys, I have a usb camera and I want to know how to use it in Apollo.

The Apollo platform seems to support usb camera.
(e.g. In `apollo.sh` build option,

[2018-08-27 09:59] CCodie commented on #5509
Add,

This is my rostopic list while I run dreamview in simcontrol mode.
And there is no topic about usb camera, additional steps seem necessary.
[code]

[2018-08-27 10:02] IneverStop opened #5510 "Cannot open dreamviewer"
Hello!

### System information

- **OS Platform and Distribution**: Linux Ubuntu 14.04
- **Apollo installed from**: source
- **Apollo version**: 3.0

my steps:

sudo bash docker/setup_host/install_docker.sh
sudo bash docker/scripts/dev_start.sh
sudo bash docker/scripts/dev_into.sh
sudo bash apollo.sh build

all succeed.

But when I run `sudo bash scripts/bootstrap.sh`, it show:

Start roscore...
v

[2018-08-27 10:16] CCodie commented on #3949
@rgunjala93 @quning78 @Zhenni17
Hi, did you solve this problem? I have the same issue.
I'm trying to run usb camera using usb_cam package and want to see the camera data.
There are some contents about usb camera,
`bash apollo.sh build_usbcam` or `/apollo/scripts/usb_camera.sh` but I still do not know how to run the usb camera.

[2018-08-27 11:07] freeHackOfJeff commented on #5510
Please refer to: https://github.com/ApolloAuto/apollo/issues/5344

Also, It's better to search our issue history to find out if your question is already exists and with solution or not. If that's has already been solved, just follow up, otherwise, it's more than welcome to
open an new issue.

[2018-08-27 11:34] freeHackOfJeff commented on #5482
We have already support Pandora of Hesaitech for camera and Lidar with calibration enabled by default.

[2018-08-27 11:43] freeHackOfJeff commented on #5372
I do hope this article can help you out. :)
https://stackoverflow.com/questions/43022843/nvidia-nvml-driver-library-version-mismatch

[2018-08-27 12:07] Arjun911 commented on #4871
@natashadsouza I am able to run now. Thanks for your support. Problem i was facing is posted on #5450

Please check, it may be helpful for any fix.

[2018-08-27 13:05] mickeyouyou commented on #5509
these three topics are from usb_cam
[code]

[2018-08-27 13:08] mickeyouyou commented on #5506
you can find radar data from topic `/apollo/sensor/conti_radar` in bag `demo_2.5.bag`. lidar data is huge.

[2018-08-27 13:13] mickeyouyou commented on #5502
`ERROR: /root/.cache (Permission denied)`
in build step, scripts try to access root directory `/root/.cache`, It is recommended that you clear the cache （`bazel clean`）and try to compile again.

[2018-08-27 14:04] rgunjala93 commented on #5509
Hey @CCodie When you plug in the cameras to the IPC and in a terminal run `$ ls /dev/video` what do you see?

[2018-08-27 16:57] fanghaos2014 commented on #5506
I have the same question with you. Have you solved yet?

[2018-08-27 18:50] osaman88hot commented on #3128
This is too old and no longer relevant.

[2018-08-27 18:50] #3128 closed

[2018-08-27 19:29] myih commented on #4632
@techoe @chybhao666
Did you test the inference time after optimized by tensorRT?
I got 14ms on 1080ti which is almost the same as before optimization. It convert 95 layers to 57 layers. Could be that my pluging layers are too slow.

[2018-08-27 19:54] RamboRick opened #5514 "How to use change the prediction.cc files to change the input from perception?"
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
I want to change the function to make the perception don't have the ability detect the obstacles.
The prediction.cc files have the a f

[2018-08-27 20:06] RamboRick opened #5515 "How do I know the concepts of the simulation test in cloud?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-08-27 20:43] natashadsouza commented on #5450
Hi @Arjun911,
Just to confirm, you have resolved all the above mentioned errors then, correct?
As for the unit tests, have all the above been resolved? if not, I will have a look at the above results.

Thanks!

[2018-08-27 20:46] natashadsouza commented on #5347
@liuyangly25 please confirm if CUDA was installed correctly using nvidia-smi.
You could paste your results here if you were unsuccessful.

Thanks!

[2018-08-27 20:51] natashadsouza commented on #2629
@hongkedavid thank you for the clarification. If you do encounter any further issues, please reach out to us.
@zhxt thank you for suggesting a fix.

[2018-08-27 22:26] natashadsouza commented on #3440
@davidhopper2003 has this issue been resolved at your end?

[2018-08-27 22:27] natashadsouza commented on #3439
Currently closing this issue as there has been no response in a while. Feel free to open it, if you are still facing the issue.

[2018-08-27 22:27] #3439 closed

[2018-08-27 22:27] natashadsouza commented on #3412
Closing this issue as there has been no response in a while.

[2018-08-27 22:27] #3412 closed

[2018-08-27 22:29] natashadsouza commented on #3377
Closing this issue as there has no communication in a while. Feel free to open it if the issue persists.
Thank you @ghdawn for referencing the duplicate issue!

[2018-08-27 22:29] #3377 closed

[2018-08-27 22:32] natashadsouza commented on #3343
Currently closing this issue as it appears to be fixed. If this issue persists, please refer to [How to debug the Dreamview start problem](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) or go through the Dreamview FAQs. Thanks!

[2018-08-27 22:32] #3343 closed

[2018-08-27 22:34] natashadsouza commented on #3344
Currently closing this issue as there has been no communication in a while. Feel free to open it should you have additional questions on how to run multiple Apollo docker instances.

[2018-08-27 22:34] #3344 closed

[2018-08-27 22:35] natashadsouza commented on #3282
Closing this issue as there has been no communication in a while.

[2018-08-27 22:35] #3282 closed

[2018-08-27 22:35] natashadsouza commented on #3279
Currently closing this issue as it seems to be resolved. Please reopen if you have additional questions.

[2018-08-27 22:35] #3279 closed

[2018-08-27 22:37] natashadsouza commented on #3211
@techoe do you know why this occurs?

[2018-08-27 22:39] natashadsouza commented on #2932
@kikacaty Sorry we did not get back to you on your request. Do you still see this issue?

[2018-08-27 23:34] natashadsouza commented on #3483
Closing this issue as it appears to be resolved!

[2018-08-27 23:34] #3483 closed

[2018-08-27 23:35] natashadsouza commented on #3539
@jilinzhou sorry that we did not get back to you on this issue. Please let us know if you still need help troubleshooting it.

[2018-08-27 23:40] natashadsouza commented on #3556
Closing this issue as there has been no communication for a while. Feel free to open it should you see any further errors.
Feel free to reopen if you have additional questions.

[2018-08-27 23:40] #3556 closed

[2018-08-27 23:41] natashadsouza commented on #3375
@berthu Sorry that we could not get back to you on your request. Is this a question you still need an answer to?

[2018-08-27 23:42] natashadsouza commented on #3558
Closing this issue as it seems to be resolved.

[2018-08-27 23:42] #3558 closed

[2018-08-27 23:42] natashadsouza commented on #3605
Closing this issue as there has been no communication in a while. Please let me know if you have additional questions.

[2018-08-27 23:42] #3605 closed

[2018-08-27 23:43] natashadsouza commented on #3628
Closing this issue as it appears to be fixed.

[2018-08-27 23:43] #3628 closed

[2018-08-27 23:44] natashadsouza commented on #3641
Closing this issue as it appears to be fixed.

[2018-08-27 23:44] natashadsouza commented on #3704
@yongyuandeyezi is this an issue you still face?

[2018-08-27 23:44] Zhenni17 commented on #3992
Closing the issue due to there is no response in a while. Please feel to reopen the issue if I missed anything.

[2018-08-27 23:44] #3992 closed

[2018-08-27 23:47] natashadsouza commented on #3708
Sorry about not getting back to you on your question. Please let us know if you are still looking for the answer.

[2018-08-27 23:47] Zhenni17 commented on #3996
@quning78 Do you have insights on the question? Our apologies for the delayed response.

[2018-08-27 23:50] natashadsouza commented on #3726
@ubercool2 please let us know if you are still looking for the answers to [the questions here](https://github.com/ApolloAuto/apollo/issues/3726#issuecomment-379300158).

[2018-08-27 23:53] CCodie commented on #5509
@mickeyouyou Thanks for the reply! Can I get some information for how to use usb_camera?
First, I want to make sure that it is installed properly and I want to see some videos using it.

@rgunjala93 Hi, the contents are shown below.
[code]
I previously received image data from my usb camera with ROS outside the apollo image. So I think my usb camera can works with ROS.

[2018-08-27 23:54] Zhenni17 commented on #4012
@lygincn please let us know if you have successfully downloaded the data. Our website has both English and Chinese version. To locate the data, you need to visit http://apollo.auto > click "open platform" at the top of the website > click data.

[2018-08-27 23:55] natashadsouza commented on #3750
Closing this issue as it appears to be fixed.

[2018-08-27 23:55] #3750 closed

[2018-08-28 00:07] natashadsouza commented on #3863
Closing this issue as it appears to be resolved.

[2018-08-28 00:07] #3863 closed

[2018-08-28 00:10] natashadsouza commented on #3914
Closing this issue as there has been no communication in a while.

[2018-08-28 00:10] #3914 closed

[2018-08-28 00:10] natashadsouza commented on #3916
Closing this issue as there has been no communication in a while.

[2018-08-28 00:10] #3916 closed

[2018-08-28 00:11] natashadsouza commented on #3946
Closing this issue as it appears to be resolved. Thanks @gengqx !

[2018-08-28 00:11] #3946 closed

[2018-08-28 00:12] natashadsouza commented on #3947
Closing this issue as it appears to be resolved.

[2018-08-28 00:12] #3947 closed

[2018-08-28 01:03] hadiTab commented on #3211
It seems like the error originates from pcl. In my case the intensity field in my lidar message was mislabeled.

[2018-08-28 01:28] CCodie commented on #5506
@fanghaos2014 I didn't solved yet. If you solve it, I would appreciate it if you let me know.
@mickeyouyou
Thank you for the reply!
I have the two files, one with the radar (`demo_2.5.bag`) and one with the LiDAR (`demo-sensor-demo-apollo-1.5.bag`).
But can I get a bag file that contains both topics at the same time?

[2018-08-28 05:45] Arjun911 commented on #5450
@natashadsouza
Everything mentioned above are resolved. :+1:
:100:

[2018-08-28 06:16] xinwf commented on #5241
@JonathanJones92 , hey, all the content of the scripts `record.sh` is in the following:
[code]
the `calibrate.sh` is still working, we don't need to change its content, if you have other problems, I can give you further help if I know how to solve it

[2018-08-28 06:43] IneverStop commented on #5344
I have the same problem, and try @Triangle001 s solution but still not work.
Then I tried @DongAi s solution, still not work.
When  I type `supervisorctl`, it shows

supervisor>

Seems it can enter the supervisor command line ,but have some problem.

Then I  type `/usr/bin/python /usr/local/bin/supervisord`, it says:

'Supervisord is running as root and it is searching '
Unlinking stale socket /tm

[2018-08-28 07:05] gladijos commented on #5451
Hi @Leonardo092 ! I have same issue. I fix it by adding
`        self.case = 'a'`
`        self.in_session = False`
into data_collector.py in method:
`class DataCollector(object):`
`    def __init__(self):`

[2018-08-28 07:08] gladijos commented on #5451
Also there is one issue in sending deceleration command. I fix it with:
`        if self.case == 'a':`
`            if self.cmd[0] > 0:`
`                self.controlcmd.throttle = self.cmd[0]`
`                self.controlcmd.brake = 0`
`            else:`
`                self.controlcmd.throttle = 0`
`                self.controlcmd.brake = -self.cmd[0]`
`            if self.vehicle_speed >= se

[2018-08-28 07:14] gladijos commented on #5452
@lianglia-apollo, you mean I should provide localization info right here? I can go step-by-step in VSCode debugging up to line with error and everything looks good in debugger.
Also I reproduce this situation on PC with CPU Intel i7-8700 CPU @ 3.20GHz and  everything works fine.

[2018-08-28 07:40] gladijos commented on #5509
@CCodie I think you shouldn't you your camera outside from apollo's container. But if you have to you can refer to #4892

[2018-08-28 07:41] freeHackOfJeff commented on #5451
I gone through the file, looks your solution is good.  Also, this file could be refactored by isoldate usage into a method, a few code is written without following the pythonic style.

[2018-08-28 07:43] gladijos commented on #5514
@fanghaos2014 please concrete what you change in sources. Usually there are a lot of checks in apollo's modules. If you delete one of them another will work :)

[2018-08-28 07:47] gladijos commented on #5507
@kk2491 there is "Difference between base_map, routing_map and sim_map"  section in [Map Data Readme](https://github.com/ApolloAuto/apollo/tree/master/modules/map/data) that you linked. Is it clear for you?

[2018-08-28 07:55] Leonardo092 commented on #5451
Thanks @gladijos! My solution works as well but I will try yours in addition(especially that regarding deceleration).

[2018-08-28 09:09] sinopec commented on #5392
I am in ubuntu 14.03,and I rebuild glfw 3.2.1 both in docker&host. But I have the same problem.

[2018-08-28 10:14] kk2491 commented on #5507
@gladijos I have gone through the Map Data Readme, however some of the points are not clear to me.

base_map.xml - complete map used to generate sim_map and routing_map - Is there any script to convert base_map.xml to base_map.txt file.

routing_map.bin - Gives the topology of the lane. routing_map.txt - readable version of routing_map.bin ?

sim_map.bin - Used for dreamview visualization. I belie

[2018-08-28 10:38] waverider995 commented on #5078
Hi,

Only when you already know the exact value of the 3 initial + 3 end conditions, a 5d polynomial is determined. But here you only have the smooth condition: y0=y1, dy0=dy1... without knowing their value. You can use a qp-solver to find the exact value.

[2018-08-28 10:48] waverider995 opened #5528 "What's the average computation time to solve a qp_spline_referenceline_smoother"
Hi,

To smooth a reference line, normally how many knots you have and what's the average computation time with qpOASES?

Thanks a lot

[2018-08-28 10:54] mengsanshui opened #5529 "docs/specs/perception_apollo_3.0.md and perception_apollo_3.0_cn.md has issue."
in mater branch, docs/specs/perception_apollo_3.0.md has L4 mentioned but perception_apollo_3.0_cn.md used L2, it's a bug.

Apollo 3.0 aims for L4 autonomous driving with low cost sensors.
Apollo 3.0 主要针对采用低成本传感器的L2级别自动驾驶车辆。

Thanks and Regards
Peter Meng

[2018-08-28 10:55] gladijos commented on #5150
I think you can use -l option but you have to fix /docker/scripts/dev_start.sh. You need to change name "local_dev" to existing docker image like dev-x86_64-20180702_1140

[2018-08-28 12:58] sadsearth opened #5531 "apollo2.5 navigation use smooth.sh error"
We use our car record data into bag according to apollo/docs/howto/how_to_use_apollo_2.5_navigation_mode.md, I can get the bag in /apollo/data/bag/,and use python viewer_raw.py can see the routing line what we record. But when I use bash smooth.sh ./path_xxxx.bag.txt 200.
No matter how I change 200 parameter, the terminal always shows as follows:

- **E0828 20:21:24.138556 11146 qp_spline_referenc

[2018-08-28 13:48] rgunjala93 commented on #5509
@CCodie If this is the recommended IPC and there is no webcam on the computer, then the computer is picking up the camera. Inside the Apollo docker, you can roscd to _usb_cam_ package and look at the launch file. I think there's a launch file called _start_one_leopard.launch_ that you can use to test the camera inside Apollo docker.  Inside the launch file make sure that the device it is trying to

[2018-08-28 15:10] lesun90 commented on #5473
thank you

[2018-08-28 15:10] #5473 closed

[2018-08-28 15:12] lesun90 opened #5532 "ImportError: No module named matplotlib.pyplot"
I am using apollo 3.0, when I run `python modules/tools/mapshow/mapshow.py `

Traceback (most recent call last):
  File "modules/tools/mapshow/mapshow.py", line 21, in <module>
    import matplotlib.pyplot as plt
ImportError: No module named matplotlib.pyplot

This script was run in Apollo 2.x but not run in 3.0

### System information
- **Apollo installed from (source or binary)**:
- **Apollo ver

[2018-08-28 15:16] johnmcfarlane commented on #4421
Is that not what the OP is doing?

[2018-08-28 16:28] daviduhm commented on #5532
You can install matplotlib by “conda install matplotlib” inside the docker container.

[2018-08-28 16:48] lesun90 commented on #5532
I did run that command, but I get the following error

[2018-08-28 18:01] #5529 closed

[2018-08-28 18:06] jilinzhou commented on #3539
It does not affect our integration for the moment.

[2018-08-28 18:06] #3539 closed

[2018-08-28 18:21] xiaoshuliu commented on #5392
@liuyangly25 @sinopec Hi, could you please check the /apollo/data/log/perception.INFO and perception.ERROR to see if there is an error? There are many possibilities that stop the visualizer from poping up.

[2018-08-28 18:27] jilinzhou commented on #5531
Same issue: https://github.com/ApolloAuto/apollo/issues/4280

[2018-08-28 18:30] jilinzhou commented on #5528
1. The number of knots depends on the max length of each spline.
2. The average computation time depends on your hardware (number of cores, cpu speed, memory, etc.)

[2018-08-28 18:36] xiaoshuliu commented on #5231
@DevMohamedMI Hi, thank for your feedback. We just tested and updated the new model, so we disabled some features to see the single frame performance. It will be enabled in future version, and it should be more stable using extended lanes.

[2018-08-28 18:37] jilinzhou commented on #5488
My guess: The error msg shows that the path to the header files are not configured properly in your CMakeList.txt. Configure cmake build in verbose mode and check "-I" flag in the console output. You can figure it out.

[2018-08-28 18:46] natashadsouza commented on #5450
Thanks @Arjun911 closing this issue as it is resolved.

[2018-08-28 18:46] #5450 closed

[2018-08-28 18:50] jilinzhou commented on #5452
To provide proper Gps and Imu msg for the localization module is very tricky. Take a look of data_parser.cpp, and make sure you set orientation properly. Currently the code is hard-coded to follow Novotel body frame definition somehow. To my understanding, the quaternion is constructed incorrectly (yaw angle should from East instead of North). The interesting thing is that the 90 degree is re-cons

[2018-08-28 18:53] natashadsouza commented on #5344
That's great! If possible, please share the additional steps you mentioned to help other developers stuck on the same issue.
Thanks!

[2018-08-28 18:55] natashadsouza commented on #5531
Closing this issue as it is a duplicate of #4280
@sadsearth if you have additional questions, feel free to reopen this issue.
Thanks!

[2018-08-28 18:55] #5531 closed

[2018-08-28 18:58] jilinzhou commented on #5447
For us, the issue was fixed by feeding GPS time signal (from our gps module) into velodyne 16 directly.

[2018-08-28 18:59] natashadsouza commented on #3981
Closing this issue as there has no communication in a while. Feel free to open it if you still have additional questions.

[2018-08-28 18:59] #3981 closed

[2018-08-28 19:02] natashadsouza commented on #3991
Closing this issue as it appears to be resolved. Feel free to open if you have additional questions.

[2018-08-28 19:02] #3991 closed

[2018-08-28 19:03] jilinzhou commented on #5434
1. Check whether those class definitions are under /apollo/py_proto
2. Double check your environment variable PYTHONPATH to include the path to the msg class definition.

[2018-08-28 19:07] jilinzhou commented on #5420
Which modules and which messages do you want to slow down? Each ros node has its own message callback thread.

[2018-08-28 19:12] jilinzhou commented on #5339
Starting them manually from the console is a better choice. This is especially important if you want to debug some modules alone.

1. start roscore
2. start nodelet_manager
3. start streamer nodelet
4. start parser nodelet
5. start transformer nodelet

Here is what I did (create launch file for each nodelet first)

- roslaunch gnss_driver qnx_nodelet_manager.launch &
- roslaunch gnss_driver qnx_st

[2018-08-28 19:58] natashadsouza commented on #4048
Please use the link mentioned [here](https://github.com/ApolloAuto/apollo/issues/3005#issuecomment-415837922) to request for the Apollo OD specification document.
Thanks!

[2018-08-28 19:58] #4048 closed

[2018-08-28 23:52] #5406 closed

[2018-08-29 02:03] liuyangly25 commented on #5347
Hello @natashadsouza , nvidia-smi works for me. I have 384.130 on both host and docker.

[2018-08-29 02:07] liuyangly25 commented on #5392
Hello @xiaoshuliu , thank you for replying. I do have errors in perception.ERROR files. seems like glfw is not working. But I already installed glfw 3.2.1 in docker.

Log file created at: 2018/08/28 15:45:27
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0828 15:45:27.712261  5318 glfw_fusion_viewer.cc:180]  Failed to initialize the window !

[2018-08-29 02:48] Hyungza commented on #5532
Permission denied.
You can give the permission for conda by using ' sudo env "PATH=$PATH" '
Try below command.

sudo env "PATH=$PATH" conda install matplotlib

In my case, it works.

[2018-08-29 06:27] davidhopper2003 opened #5543 "Request to move the `math` submodule of the `planning` module to the `common` module"
@YajiaZhang @lianglia-apollo @startcode
Request to move the `math` submodule of the `planning` module to the `common` module. Many of the mathematical solutions in this submodule may be useful for other modules such as the `map` module.

[2018-08-29 06:48] lianglia-apollo commented on #5543
Sure, if some math functions are used more than one module, we can move it to common folder.

[2018-08-29 06:54] sadsearth commented on #4280
what reasons cause k_knots less than 3  @lianglia-apollo

[2018-08-29 06:57] hmdt commented on #5420
Thanks for the reply.

I mainly want to slowdown the perception and the inputs that are coming from the inputs (e.g. camera). Accordingly, subsequent modules that are waiting for the perception data should slowdown.
Moreover, modules such as localization and planning that are also triggered based on a timer, I need to change this timer so that I can manage the whole slowdown.
The main purpose for

[2018-08-29 07:06] waverider995 commented on #5528
Thanks for the reply.

For instance, a 100m curve with 100 splines, running on your AVs, it takes dozens of milliseconds or seconds?

I have tried cvxopt in python as well as qpOASES in c++. Cvxopt takes 50 ms while qpOASES takes 5s to solve the same question.

[2018-08-29 07:27] davidhopper2003 commented on #5543
@lianglia-apollo You are wonderful. Thanks a lot.

[2018-08-29 07:53] Leonardo092 commented on #4280
I have similar issue, I guess. When I run **smooth.sh** I get:

F0829 09:50:50.689420  1838 spiral_reference_line_smoother.cc:198] Check failed: point2d.size() > 1 (1 vs. 1)
*** Check failure stack trace: ***
smooth.sh: line 25:  1838 Aborted                 (core dumped) ./bazel-bin/modules/planning/reference_line/smoother_util --input_file ${pathname} --smooth_length $2

[2018-08-29 08:05] gladijos commented on #5507
@kk2491
1. as I know apollo can you base_map.xml map instead of base_map.txt. I saw this in one issue's answer
2. I hope yes. Everything sign on it
3. same as 2.

[2018-08-29 08:12] gladijos commented on #5452
@jilinzhou Thanks a lot, I will check my quaternion math. Actually I provide not gnss driver but replace localization module cause I generate data in ros in binary format and I have no idea to place this into gnss driver scheme.

[2018-08-29 08:17] gladijos commented on #5339
@jilinzhou Thanks a lot for answer. I have debugged it by attaching to proccesses in VSCode. But I hope there is some way for regular debugging.

[2018-08-29 08:32] CCodie commented on #5509
Hi @gladijos . It seems to be very helpful when I try to use the camera outside the docker image. But now I'm trying to run inside the docker. Anyway thanks for the reply :)

Hi, @rgunjala93 . I'm appreciate for your detail reply! I'm actually installing the apollo kernel and platform for the test on my personal PC, not the reference IPC. But until now it seems to be okay to install without proble

[2018-08-29 09:17] lygincn opened #5544 "rostopic echo problem & how to visualize my own rosbag in DreamView?"
**System information:**
OS Platform and Distribution (Linux Ubuntu 14.04):
Apollo installed from (source):
Apollo version (3.0):

**Steps to reproduce the issue:**

0. get into dev_container
1. start roscore
2. rosbag play 2017-06-15-13-03-58_filterd.bag --loop (which is a rosbag containing the gps-data from ublox with the info below):
![rosdata](https://user-images.githubusercontent.com/40354939/

[2018-08-29 10:32] mickeyouyou commented on #5544
The type of played topics (`std_msgs/Float32MultiArray` and   `sensor_msgs/NavSatFix`) are statard message type from ros.

So,if you want to use these message type, you need to compile them firstly.