[2020-07-02 01:55] Doodle1106 commented on #11631
thanks @jinghaomiao

[2020-07-02 01:55] #11631 closed

[2020-07-02 03:49] sjiang2018 commented on #11261
Hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-02 03:49] #11261 closed

[2020-07-02 05:45] Addi2020 opened #11640 "how to change maximum speed while updating vehicle calibration table?"
After follow the steps given in the following document the Vehicle Calibration table is updated, but maximum speed given in the table is 10 m/s. what if the vehicle speed is greater then 10 m/s?

https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_update_vehicle_calibration.md
(How to Update Vehicle Calibration for Throttle and Brakes)

So how to increase the maximum speed in the ta

[2020-07-02 06:03] storypku commented on #11612
Have you installed `nvidia-container-toolkit`. On ubuntu, this can be done via `sudo apt-get -y install nvidia-container-toolkit`

[2020-07-02 07:45] AlexandrZabolotny commented on #11483
**cyber_record info**

record_file:    /apollo/map/record/20200701220844.record.00000
version:        1.0
duration:       60.003381 Seconds
begin_time:     2020-07-01 22:08:44
end_time:       2020-07-01 22:09:44
size:           111692002 Bytes (106.517792 MB)
is_complete:    true
message_number: 14594
channel_number: 22
channel_info:
                /apollo/sensor/camera/front_6mm/image

[2020-07-02 07:46] AlexandrZabolotny commented on #9826
Thank. With this data, I managed to build a map

[2020-07-02 08:24] ZhxJia commented on #10007
Have you solved this problem? I'm facing the same problem and don't know how to solve it.

[2020-07-02 09:27] quhezheng opened #11643 "What"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-07-02 09:34] quhezheng opened #11644 "What's cost function behind DualVariableWarmStartOSQPInterface"
### System information

- **Linux Ubuntu 16.04**:
- **Apollo installed from (source )**:
- **Apollo version (5.5)**:

When doing warm startup in open-space planning task,  DualVariableWarmStartProblem is used to solve l_warm_up, n_warm_up

The objective function is norm(A' * lambda) in OSQP solver, any detailed explanation about why?
The reference material _'Optimization-Based Collision Avoidance'

[2020-07-02 10:55] christopher-yun commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: jwyun1024@gmail.com

[2020-07-02 11:53] ntutangyun commented on #11643
???

[2020-07-02 12:36] daohu527 commented on #11640
When generate the calibration table, the speed range seems to be limited by 10.01m/s.
https://github.com/ApolloAuto/apollo/blob/f7c5c113dc20313c5fe0b615fda32277a326c48d/modules/tools/vehicle_calibration/process.py#L136-L138

[2020-07-02 13:59] hongyi-zhao opened #11648 "About the gcc/g++ version required by apollo."
Hi,

On Ubuntu 20.04, I want to install git master version of apollo on the apollo Dev-kit vehicle. I noticed that the suggested [gcc/g++ version](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/D-kit/Waypoint_Following/Apollo_Installation_cn.md#%E5%AE%89%E8%A3%85%E5%B9%B6%E9%99%8D%E7%BA%A7gcc%E5%92%8Cg) is 4.8. Considering that it's a rather old version, so I'm very confused on this r

[2020-07-02 14:23] ashwinsarvesh opened #11649 "Need suggestions for camera integration with Apollo 3.0"
Hello all,
I need to use a real camera instead of the available virtual cameras in the simulator like ColorCameraSensor, DepthCameraSensor, and SegmentationCameraSensor.
I should place this camera in front of the simulation screen. It should capture the images and send them to apollo. (just like how it is sent now from the virtual cameras). Then apollo needs to process this data to do lane detecti

[2020-07-02 14:31] daohu527 commented on #11632
Pls try to set the camera width and height according to your camera parameters. The default parameter may be too large for your camera.
https://github.com/ApolloAuto/apollo/blob/f7c5c113dc20313c5fe0b615fda32277a326c48d/modules/drivers/camera/conf/camera_front_12mm.pb.txt#L2-L7

[2020-07-02 14:32] AlexandrZabolotny commented on #11483
@alexbuyval, I apologize for my perseverance
But could you explain what these topics mean?

in msf_simple_map_creator.sh

12. GNSS_LOC_TOPIC="/apollo/localization/msf_gnss"
13. LIDAR_LOC_TOPIC="/apollo/localization/msf_lidar"
14. FUSION_LOC_TOPIC="/apollo/localization/pose"
15. ODOMETRY_LOC_TOPIC="/apollo/sensor/gnss/odometry"

Should these channel be contained in the record file?

[2020-07-02 14:38] #11597 closed

[2020-07-02 14:54] daohu527 commented on #11649
Officially recommended camera model [Link](https://apollo.auto/platform/hardware_cn.html) . eg:

[code]

[2020-07-02 18:29] alexbuyval commented on #11483
@AlexandrZabolotny
I am not sure, but I think it topics from different source of localization.
As I remember it is enough the "/apollo/localization/pose" topic

[2020-07-02 18:30] sjiang2018 commented on #11643
Hello @quhezheng , I think this is the same issue as #11644. I am going to close this one. Thank you for your supporting Apollo.

[2020-07-02 18:30] #11643 closed

[2020-07-03 00:37] storypku commented on #11648
I think the main reason for gcc/g++-4.8 is to avoid possible compilation errors if compiled using higher gcc/g++ versions.

Currently we are working to fix them (if any) for ubuntu （18.04+）with gcc-7.5 & c++14. Once completed, the gcc/g++-4.8 requrements should be removed.

Also cc @diegohu

[2020-07-03 03:19] WentaoWang-SH opened #11650 "How to use bazel to build a module?"
Such as : I want to modify the code in planning model, then I want to build this planning model to debug?
How to build this planning model only?
or how to debug?
Any steps or specs links? thank you very much!

[2020-07-03 04:29] hongyi-zhao commented on #11648
Why not try to support the latest version which shipped with 20.04:

[code]

[2020-07-03 05:59] Addi2020 commented on #11640
@daohu527 , yeah it seems to be speed range but by changing this speed range value (10.01 to 15.01 or 20.01) does not effect the calibration speed,  it still create the calibration table of max speed up to 10m/s.

What if the car real speed is more then 10m/s, then how control module will calculate the throttle and brake cmds? That's why i want to increase the max speed of calibration table.

[2020-07-03 07:35] storypku commented on #11648
1) About compilation errors:
gcc-7.5+ was more strict than gcc-4.8.5, so many modules can't compile under gcc-7.5+.
Presently, we are working to get them all resolved.

2) About gcc-9.3 and gcc-7.5:
Ubuntu 18.04 ships gcc-7.5 while Ubuntu 20.04 ships gcc-9.3 as default gcc compiler.  We are trying hard to make sure Apollo can compile and run on them both with c++14/17 standards. And, our `arm64` s

[2020-07-03 07:49] whuxhzhang commented on #11181
Is there any way to convert Apollo .xml files to .xodr format ？

[2020-07-03 07:55] whuxhzhang opened #11653 "Is there any way to convert Apollo .xml files to .xodr format"
I have a Apollo HDMap with .xml format， now I want to thanslate it into a opendrive file.
Is there any way to convert Apollo .xml files to .xodr format?

[2020-07-03 07:56] storypku commented on #11508
What's the output of `dpkg -l |grep boost` ?

[2020-07-03 08:05] storypku commented on #11650
Just run
[code]

where `-c dbg` means debug mode, see [bazel compilation mode](https://docs.bazel.build/versions/master/user-manual.html#flag--compilation_mode).

[2020-07-03 08:10] AlexandrZabolotny commented on #11508
ii  libboost-all-dev                       1.65.1.0ubuntu1                    amd64        Boost C++ Libraries development files (ALL) (default version)
ii  libboost-atomic-dev:amd64              1.65.1.0ubuntu1                    amd64        atomic data types, operations, and memory ordering constraints (default version)
ii  libboost-atomic1.65-dev:amd64          1.65.1+dfsg-0ubuntu5

[2020-07-03 10:33] storypku commented on #11508
It's really strange that boost can't be found since you have only system provided boost installed.
Two clues: 1) Write a Boost Hello World example  built with CMAKE to see if everything works OK  2) If the Boost Hello World example can't compile either, try to install a more recent cmake from [CMake Office Download Site](https://cmake.org/download/ )

[2020-07-03 11:24] changsh726 commented on #10094
Hi @chelseXie , seems like your question is not about our project, so we will close the issue for now. Maybe you can ask for some help in https://github.com/ctripcorp/apollo/issues. If you have any additional question about the apollo autonomous driving system, please feel free to open a new issue.

Thank you for supporting Apollo!

[2020-07-03 11:24] #10094 closed

[2020-07-03 13:48] daohu527 commented on #11640
1. I didn't find any problem at the moment. It may be that the data collected has not reached such a high speed? You can try to debug the program that generates the calibration table.

2. In my opinion, PID is more suitable for low speed and low curvature control, MPC is more suitable for high speed.

[2020-07-03 14:32] ashwinsarvesh opened #11656 "Camera data to Perception module in Apollo 3.0"
Hello,

How does the camera data from the LGSVL is sent as input to the perception module of Apollo 3.0? What is the mechanism? I could not find it in the documentation.
How can I use a real USB 3.0 camera (eg. LI-USB30-AR023ZWDRB) to send the captured data to the perception module of Apollo 3.0?

[2020-07-04 01:29] daohu527 commented on #11656
## Processes
The whole process is like below:
[code]
1. Lgsvl capture the picture then sent the picture from network by publish the topic to perception module.
2. Camera capture the picture by camera dirvers, and then publish the topic to perception module

[2020-07-04 07:48] ashwinsarvesh commented on #11656
Thank you for your answer
Can I use the cameras in this [link ](https://apollo.auto/platform/hardware.html) to place in front of the simulator and then send the captured data to the Apollo 3.0 perception module? Do these cameras have the drivers which you mentioned?

[2020-07-04 09:56] daohu527 commented on #11656
Theoretically, the driver supports all USB cameras, in order to insure that you are best to use the specified model.

[2020-07-04 10:14] ZhangJian322920 opened #11661 "how to run a dreamland task"
I use the latest fork code from Apollo to run the straight line task on dreamland and prompt that the compilation fails

![image](https://user-images.githubusercontent.com/50873982/86510429-1cd35980-be22-11ea-9e83-bfd8104b4077.png)

[2020-07-04 11:05] ashwinsarvesh commented on #11656
Oh, Is the driver which you mentioned is inside Apollo? and it supports USB cameras?

[2020-07-04 13:31] ashwinsarvesh commented on #11656
Is it [this ](https://github.com/ApolloAuto/apollo/tree/v3.0.0/modules/drivers/usb_cam)driver which you are talking about?

[2020-07-04 14:07] daohu527 commented on #11656
Yes, it's.

[2020-07-05 12:30] LiJiangnanBit commented on #10201
I think there are constraints on the curvature. In function *common::Status PiecewiseJerkPathOptimizer::Process*, a vector *ddl_bounds* is calculated according to the curvature limit of the vehicle. And it is used as a constraint in the optimization process.

[2020-07-05 13:38] LiJiangnanBit opened #11662 "Some questions about the planning module."
I have two questions about the planning module:
1. https://github.com/ApolloAuto/apollo/blob/20584e06fe6550e024e2ca5e4a52f07d876f721a/modules/planning/tasks/deciders/path_assessment_decider/path_assessment_decider.cc#L515
When checking if the path has collision, the four corner points of the vehicle are examined to see if they are inside any obstacle polygon. But what if there is a collision on th

[2020-07-06 01:16] phs4530 commented on #7757
A build error occurs.
Should version esd_candriver 4.2.2 not be used?

root@in_dev_docker:/apollo/third_party/can_card_library/esd_can/bin# lsmod | grep esdcan
esdcan_pcie402        110592  0
root@in_dev_docker:/apollo/third_party/can_card_library/esd_can/bin# ls -l /dev/can*
crw-rw-rw- 1 root root 52, 0 Jul  6 08:43 /dev/can0
crw-rw-rw- 1 root root 52, 1 Jul  6 08:43 /dev/can1
crw-rw-rw- 1 root r

[2020-07-06 08:41] dt-developer1 commented on #11632
Thanks for the support. I changed the width and height  to webcamera parameters. Now it is working.

[2020-07-06 08:41] #11632 closed

[2020-07-06 21:13] jmtao commented on #11662
@LiJiangnanBit
(1) that seems impossible.  We are checking four corner points of the ADC along the **entire path**. If the scenario you described has ever happened, that means prior to arriving that point, ADC must have hit the obstacle with its corner(s), and would return at that point.
(2) when we calculate path bounds, we've already considered ADC width. And PieceWiseJerkPathOptimizer will cons

[2020-07-06 21:14] #11650 closed

[2020-07-06 22:15] unacao commented on #11661
looks like a github timeout

[2020-07-06 23:26] ZhangJian322920 commented on #11661
Yes,Could you tell me how to solve this

[2020-07-06 23:34] unacao commented on #11661
这不是我们能控制的，国内网络连接境外网站有时候就会有这样的问题。我们已经启用了proxy，但是没办法解决整体网络环境。可以在不同的时间尝试，或者使用我们境外的服务 https://azure.apollo.auto/

[2020-07-07 05:14] LiJiangnanBit commented on #11662
Thanks~

[2020-07-07 05:14] #11662 closed

[2020-07-07 07:03] ashwinsarvesh commented on #11656
Thank you
Just 1 LI-USB30-AR023ZWDRB camera is sufficient to send data to the Perception module or minimum 2 are required?

[2020-07-07 07:18] zqy1018 opened #11685 "What is the version of the master branch ?"
Is the master branch newer than v5.5.0 ?

[2020-07-07 07:18] QMME opened #11686 "The version of Apollo-master"
What is the version of the Apollo-master now? Is it the same as Apollo-r5.5.0? And what is the different between Apollo-master and others?

[2020-07-07 07:57] storypku commented on #11685
Yeap. and the master branch is on the eve of Apollo `6.0`.

[2020-07-07 08:16] quhezheng opened #11688 "Is rotation & translation matrix from world to vehicle system correct in DualVariableWarmStartOSQPInterface?"
[Code Ref](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/open_space/trajectory_smoother/dual_variable_warm_start_osqp_interface.cc#L380)
I guess this is a bug. The input xWS are in  world system, vehicle borders are fixed as ((1, 0, -1, 0), (0, 1, 0, -1)), so need to covert all obstacles into vehicle coordinate system. 　

**(R|t)** maps world coordinate into vehicle system.

So

[2020-07-07 08:33] cklbywq opened #11690 "Rotation Matrix in dual_variable_warm_start_osqp_interface.cc"
#11513

- **Linux Ubuntu 16.04**:
- **Apollo installed from source**:
- **Apollo version 5.5.0**:

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
 I have a problem in apollo-5.5.0/modules/planning/open_space/trajectory_smoother/dual_variable_warm_start_osqp_interface.cc that
Rotation Matrix of the obstacles is set like this
"R << cos(xWS_(

[2020-07-07 09:18] daohu527 commented on #11656
Just one is OK, 6mm and 12mm cameras are used in different scenarios, usually 12mm is used for traffic lights, 6mm is used for obstacle perception.

[2020-07-07 09:35] ashwinsarvesh commented on #11656
ok, so we can use it for either traffic lights or obstacle detection at a time. Not for both simultaneously because they need different focal lengths.
Am I correct?

[2020-07-07 09:42] ashwinsarvesh commented on #11656
In this link(https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Guideline_sensor_Installation_apollo_3.0.md) it is mentioned as 3 cameras. So I was confused.
Also, 12mm is not mentioned. Only 6mm and 25mm is mentioned

[2020-07-07 09:55] daohu527 commented on #11656
I'm not sure if your simulation environment can fully cover your camera. Cameras with different focal lengths have different FOV and viewing distance.

[2020-07-07 12:56] Basti110 opened #11693 "Perception deactivates itself after adding ros function"
Hello,
I try to add a ROS Node to the perception Module to send the PerceptionObstacles with ROS and without bridge. Before, I tried a small Listener/Talker example with the PerceptionObstacle Type. This small example worked. So there is no problem with the ROS version. After that, i added the ROS dep "@ros//:ros_common" to the bazel build file. Until here the perception module is also working.

B

[2020-07-07 13:23] ashwinsarvesh commented on #11656
Ok. Apollo 5.0 requires 2 cameras to be synced with LiDAR frames?

[2020-07-07 14:29] ashwinsarvesh opened #11694 "Perception module features of Apollo 3.0"
Hello,

This is not an issue but it is my confusion.
This [link](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/perception_apollo_3.0.md) says the perception module does only Lane detection and Obstacle detection. Not traffic  light detection

But in this [link](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Apollo_3.0_Software_Architecture_cn.md), it says two important s

[2020-07-07 17:27] jinghaomiao commented on #11694
@ashwinsarvesh : Perception in Apollo 3.0 does lane detection, traffic light detection and obstacle detection as well. The lane detection only works for scenarios without HDMap. So they don't work together.

[2020-07-07 17:28] jinghaomiao commented on #11693
@Basti110 Thanks for using Apollo. Starting from 5.0, Apollo does not support ROS. Please seek help in ROS community.

[2020-07-07 17:28] #11693 closed

[2020-07-07 17:29] jinghaomiao commented on #11686
Apollo master is the dev branch.

[2020-07-07 17:29] #11686 closed

[2020-07-07 17:48] jinghaomiao commented on #11685
The master branch is the dev branch.

[2020-07-07 17:48] #11685 closed

[2020-07-07 17:50] jinghaomiao commented on #11653
@whuxhzhang thanks for your interests in Apollo. Apollo does not have the tool for the conversion. Should you have other questions, please feel free to raise issues here. Thanks!

[2020-07-07 17:50] #11653 closed

[2020-07-07 17:53] jinghaomiao commented on #11560
@mertmerci Thanks for your interests in Apollo. Starting from Apollo 3.5, ROS is not supported in Apollo. Apollo itself does not support bridging between CyberRT and ROS. I'd advise that you seek help in ROS community. Thanks again.

[2020-07-07 17:53] #11560 closed

[2020-07-07 18:10] yifeijiang commented on #11588
The code is for calculating preferred velocity.

[2020-07-07 18:18] #11661 closed

[2020-07-07 18:35] #4992 closed

[2020-07-07 18:36] #4674 closed

[2020-07-07 18:44] yifeijiang commented on #4747
In the record mode, a rosbag/record will be automatically generated.

[2020-07-07 18:44] #4747 closed

[2020-07-07 18:46] yifeijiang commented on #5126
We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-07 18:47] #5126 closed

[2020-07-07 18:48] yifeijiang commented on #5078
@yangydavid  Hope the answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-07 18:48] #5078 closed

[2020-07-07 18:53] yifeijiang commented on #5299
dump_planning.py is a tool to extract planning messages from a bag file.
Usage: python dump_planning.py bag_file save_directory

[2020-07-07 18:53] #5299 closed

[2020-07-07 18:55] yifeijiang commented on #5452
@gladijos Hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-07-07 18:56] #5452 closed

[2020-07-07 19:04] yifeijiang commented on #5779
@daviduhm If no sensors are supported for detecting back and side obstacles, you can use a manual input to trigger lane change

[2020-07-07 19:04] #5779 closed

[2020-07-07 19:14] yifeijiang commented on #5728
We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

[2020-07-07 19:14] #5728 closed

[2020-07-07 19:55] yifeijiang commented on #5730
We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-07-07 19:55] #5730 closed

[2020-07-07 19:58] yifeijiang commented on #5841
We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-07-07 19:58] #5841 closed

[2020-07-07 20:51] agarwalsid opened #11698 "Unable to build docker image"
Unable to build docker image

### System information

- **Ubuntu 18.04**:
- **Apollo installed from source**:
- **Apollo version 5.5**:

### Steps to reproduce the issue:
./build_dev.sh ./dev.x86_64.dockerfile

Fails:
Step 6/35 : RUN bash /tmp/installers/install_adv_plat.sh
 ---> Running in 7ac432ae2381
--2020-07-07 20:34:41--  https://apollocache.blob.core.windows.net/apollo-cache/jsoncpp.zip
Res

[2020-07-07 20:59] xiaoxq commented on #11698
Yeah that one is kind of outdated. We are working hard on an env with a lot of upgrade:
https://github.com/ApolloAuto/apollo/blob/docker_dev/docker/build/dev.x86_64.dockerfile
It will be rolled out to master branch soon. Please stay tuned :)

[2020-07-07 21:11] agarwalsid commented on #11698
Thank you for the update @xiaoxq, looking forward to it.

[2020-07-07 23:11] sjiang2018 commented on #9211
Hi @cyberphysicalrobotics, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-07 23:11] #9211 closed

[2020-07-07 23:19] sjiang2018 commented on #11640
Hello there!
@Addi2020
In the default calibration table, the maximum speed is 10.0m/s. But you can always generate a new calibration table with higher speed limit.
1.	If you already have a calibration table, you can substitute the default calibration table (https://github.com/ApolloAuto/apollo/blob/master/modules/control/conf/calibration_table.pb.txt) with yours. The speed limits completely depend

[2020-07-08 01:02] #11061 closed

[2020-07-08 01:11] #10855 closed

[2020-07-08 02:57] #11698 closed

[2020-07-08 02:58] jinghaomiao commented on #11698
Thanks for your interests in Apollo. Please raise new issues if you have any other questions.

[2020-07-08 07:02] Addi2020 commented on #11640
@daohu527 @sjiang2018 . Thanks for your suggestion and explanation. I will create a new calibration table by the procedure given in https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_update_vehicle_calibration.md  for high speed and i will share the results here soon.

Note: I use Apollo3.5.0

[2020-07-08 08:46] Doozua opened #11707 "About compatibility of packages for Apollo 5.5 with 5.0."
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Linux Ubuntu 16.04
- **Apollo installed from (s

[2020-07-08 10:37] Addi2020 opened #11709 "how to add vehicle in dream view?"
I did all the steps given in https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_add_a_new_vehicle.md to add a new vehicle but in dreamview it only shows the vehicle name "Mkz example". so how to add our own new vehicle to dream view after adding new vehicle to apollo. (which will be further used for vehicle calibration table).

NOTE: apollo 3.5

[2020-07-08 13:43] storypku commented on #11648
Today the master branch has been updated with **ubuntu-18.04+gcc-7.5** support.  gcc/g++-4.8 can be deleted now.

[2020-07-08 14:01] storypku commented on #10931
As of commit master-c3768291de, Our gpu support for nvidia gpus with capabilities [6.0, 6.1, 7.0, 7.2, 7.5] has been complete.  So RTX series are supported now.

[code]

[2020-07-08 14:07] storypku commented on #11256
This problem was caused by eigen alignment requirement which Apollo r5.5.0 doesn't address well.
See http://eigen.tuxfamily.org/dox-devel/group__TopicUnalignedArrayAssert.html .
It was fixed in Apollo master as of master 3711be4317

[2020-07-08 14:11] storypku commented on #10731
[code]
should work now as of master  3711be4317 .

[2020-07-08 14:54] hongyi-zhao commented on #11648
Next step, I expect apollo can support up to the latest stable version of gcc/g++.

[2020-07-08 15:23] agarwalsid opened #11710 "Docker image build fails on Step 11/18"
**Describe the bug**
Docker image fails on Ubuntu 18.04 with recent master

Step 11/18 : RUN bash /tmp/installers/install_common_modules.sh ${INSTALL_MODE}
 ---> Running in ada2f6cffad6
[INFO] Install support for [modules/common] ...
[INFO] Install osqp ...
[INFO] Start to download osqp-0.5.0.tar.gz from https://github.com/oxfordcontrol/osqp/archive/v.tar.gz ...
--2020-07-08 15:15:42--  https://gi

[2020-07-08 16:21] agarwalsid commented on #11710
Resolution - Line 33
- DOWNLOAD_LINK="https://github.com/oxfordcontrol/osqp/archive/v${VERSION}.tar.gz"
+ DOWNLOAD_LINK="https://github.com/oxfordcontrol/osqp/archive/v${OSQP_VER}.tar.gz"

[2020-07-08 16:33] agarwalsid commented on #11710
Successfully built a docker image for x_86 on Ubuntu 18.04. The size of the new built image is 12.5 GB vs 12.7 GB of the dev-x86_64-18.04-20200707_2131 image that is provided by Apollo. Are we missing something in the build?

[2020-07-08 21:45] #11418 closed

[2020-07-08 22:46] storypku commented on #11710
1) Good catch of osqp version.
2) About image size. The dev-x86_64-18.04-20200707_2131 image was built on top of another dev image with pcl re-installed. So it's image size was 0.2GB bigger. This can be seen from `docker history` output.

[code]

[2020-07-09 00:03] storypku commented on #11707
The master branch has been updated recently. Maybe you can take a look on `fastrtps`, `osqp`, and `qp-oases` and `pcl`  installers in `docker/build/installers` directory and get some hint.

[2020-07-09 02:15] Doozua commented on #11707
Thank you for fast answering. And can you let me know about my first question?

For example qt, what in Apollo/auto master branch(5.5) providing is 'qt 5.12.2'.
But Apollo 5.0 is providing 'qt 5.5.1'.

If I use 'qt 5.12.2' with apollo 5.0, is it operated well?
Not only qt, but also all other packages of 5.5 including what I didn't mention are compatible with 5.0?

Please let me know which packages

[2020-07-09 02:15] kevin-y-wang commented on #11202
Hi @jilinzhou , thanks for your contribution to improve the Apollo codes. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-09 02:15] #11202 closed

[2020-07-09 02:16] storypku commented on #11648
Haha, hopes that we can meet you expectation.

[2020-07-09 03:06] daohu527 commented on #11709
## Dreamview conf
The config to select a car in dreamview is in the path "apollo/modules/dreamview/conf/hmi_modes". It is used for user-defined startup module config. For example
[code]
You will see "Camera", "Canbus", "Controls" etc. tabs in Dreamview UI.

## canbus
As the car is add in canbus module. In fact, as long as the canbus module can be started, you do not need to create a new configurat

[2020-07-09 05:56] Addi2020 commented on #11709
@daohu527 .. got it . The car is already added in canbus module.

[2020-07-09 05:57] #11709 closed

[2020-07-09 08:41] qwetqwe commented on #11253
Hi @weiyinxie ,
Could you tell me how you create background.jpg
thanks

[2020-07-09 09:11] kevin-y-wang commented on #3641
@Shaquille-Wu

[2020-07-09 09:32] kevin-y-wang commented on #3641
@Shaquille-Wu
About your question, the answer is, this is actually  a compromise for the control implementation in the real road-test environment.
The classic textbook give the theoretically-correct equation  lateral_err_dot = Vy + Vx*(theta-ref_theta); however, in the road-test environment, it is difficult for our sensors to measure the Vy (which is sliding speed of the car along the lateral y-ax

[2020-07-09 14:19] agarwalsid commented on #11710
Thank you for the info about the error and docker image @storypku, very helpful!

[2020-07-09 14:19] #11710 closed

[2020-07-09 14:29] hongyi-zhao commented on #11648
Should be *hope* here :-)

[2020-07-09 17:01] storypku commented on #11707
I am not familiar with apollo 5.0.  Maybe others can help on this question. @xiaoxq @ycool

Could you plz tell me the reason  you "stick to" Apollo 5.0 ?

[2020-07-09 17:16] storypku commented on #11484
As described in osqp 0.6.0 changelog,

[code]

RTFM: https://github.com/oxfordcontrol/osqp/releases/tag/v0.6.0

[2020-07-10 01:20] daohu527 commented on #10767
Can you provide more information, like logs and lgsvl's sensor configuration. : )

[2020-07-10 01:42] daohu527 commented on #10652
You can convert the bin to txt format. I don't know if this meets your requirements

[2020-07-10 01:53] Doozua commented on #11707
Okay you asked me why I "stick to" Apollo 5.0, I'm gonna answer detail about it.
So, please solve my curiosities :)

I'm just a person who is interested a lot about Autonomous Car. I studied Autoware first, but at the time, Autoware used ROS1.
However, I found that Apollo developed cyberRT for RT communication. And I made up my mind to study Apollo.(And that time, Apollo 5.0 was the latest version

[2020-07-10 07:45] DaemonFG commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: gengfangdong@foxmail.com

[2020-07-10 07:49] storypku commented on #11707
Thank you for your details.

Recently, we have rolled out master with a lot of updates (bazel : 0.5.3 -> 3.2.0+, gcc: 4.8.5 -> 7.5 with c++ 14 support, python: 2.7 -> 3.6, clean and runable Dockerfile, enhanced gpu support, etc...).

For aarch64, we have successfully built cyber docker images ( `cyber-aarch64-18.04-20200706_0140` for cpu-only, `cyber-x86_64-18.04-20200707_1716` for nVidia Jetson s

[2020-07-10 08:13] hongyi-zhao opened #11739 "apollo-kernel and its suported Ubuntu version."
Hi,

See [here](https://github.com/ApolloAuto/apollo-kernel/issues/29) for more info on this question. Any hints will be highly appreciated.

Regards,
HY

[2020-07-10 08:48] Doozua commented on #11707
Thank you for your kind answer.

It would be helpful for me.

I will keep getting a interest in ApolloAuto.

Thank you!

[2020-07-10 08:48] #11707 closed

[2020-07-10 09:58] Addi2020 opened #11741 "MRAC vs MPC control?"
Apollo 5.5

Q1. Apollo 5.5 introduce MRAC(model reference adaptive control) together with LQR control for steering control (lateral control), what is the advantage of using MARC with LQR instead of MPC?

Q2. If use MRAC then we need to tune both LQR
(  matrix_q: 0.05
  matrix_q: 0.0
  matrix_q: 1.0
  matrix_q: 0.0)

and
MRAC gain vlaues
(adaption_state_gain: 1.0
adaption_desired_gain: 1.0
adaption

[2020-07-11 02:35] jilinzhou opened #11746 "dreamview: backend vehicle manager calls obsolete ros static_transform_publisher."
**Describe the bug**

Here is the code snippet in class _VehicleManager_:

[code]
Here is the code snippet of  _broadcast_extrinsics.sh_:
[code]

At the end, it calls out _apollo/modules/tools/extrinsics_broadcaster/broadcast_extrinsics.py_ which is copied as the following:

[code]

Since Apollo is no longer relying on the ROS, these leftovers should be removed. For this specific case, all static

[2020-07-11 16:36] hollmeer opened #11748 "TimerComponent / component class hierarchy destruction fails"
**Describe the bug**
The proper destruction of TimerComponent components in cyber (more specifically, due to an obvious monotonous increase of component.use_count() of the related std::shared_ptr of the TimerComponent-related 'self', referred in callback lambda-function (cf. /apollo/cyber/timer/timing_wheel.cc:53..58).

Due to the monotonous use_count increase, the component_list_.clear() at modul

[2020-07-11 17:50] #11746 closed

[2020-07-12 05:31] Shaquille-Wu commented on #3641
thanks for you details!----- 原始邮件 -----发件人：Yu Wang<notifications@github.com>发送时间：2020-07-09 17:32:30收件人：ApolloAuto/apollo<apollo@noreply.github.com>抄送：Shaquille.Wu<icework@sohu.com>;Mention<mention@noreply.github.com>主 题：Re: [ApolloAuto/apollo] MPC _controller  model (#3641)
@Shaquille-WuAbout your question, the answer is, this is actually a compromise for the control implementation in the real ro

[2020-07-12 08:30] qwetqwe opened #11753 "A question about MSF localization"
As I know，MSF localization needs a pre-build lidar map，but creating the map needs RTK localization result。if the scenario of the map has bad RTK signal，the map is not accurate either. How can I ensure MSF have a accurate localization result？Is that a  first chicken or egg problem？if RTK is good ，MSF will be useless；if RTK is bad，map can‘t be built，MSF can not be used either.

[2020-07-13 01:27] JackRen88 opened #11756 "spiral reference line smoother optimization failed"
Hello.
when I run the spiral reference line smoother  and perform ipopt optimization solution,the program terminates and dies.How to solve this problem.

[2020-07-13 09:42] kevin-y-wang commented on #3641
Hi, @Shaquille-Wu thanks for your interests and contributions to improve the Apollo platform. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer teams are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-13 09:42] #3641 closed

[2020-07-13 10:15] zhangxingjing opened #11761 "how to build on nvidia jetson AGX xavier"
#11513 # System information

- **OS Platform and Distribution **: nvidia jetson AGX xavier, ubuntu 18.04
- **Apollo installed from **: from docker image:cyber-aarch64-18.04-20200703_2150
- **Apollo version (3.5, 5.0, 5.5, 6.0)**: apollo branch master

### Steps to reproduce the issue:
1,run docker/script/cyber_start.sh
2,run docker/script/cyber_into.sh
3,run apollo.sh build

When I build Apollo in

[2020-07-13 10:26] hongyi-zhao opened #11762 "Does apollo have dependence on qt and its version?"
Hi,

Does apollo have dependence on qt? If so, what's the version requirement of qt?

[2020-07-13 10:55] storypku commented on #11761
This reason for this issue is that our `dev.aarch64` docker image was not ready.
And cyber.{aarch64,x86_64} docker images was only used to build and test and run our CyberRT module.
As other modules (planning, prediction, planning, control) has various dependencies not available in the cyber image, the build will surely fail.

Thank you for your attention to Apollo. And hopes that our dev.aarch64

[2020-07-13 11:05] storypku commented on #11762
Yes,  `cyber_visualizer` was dependent on Qt. And one third_party module under `third_party/camera_library` have a dependency over `Qt5.12.2`, but it was disabled by default. So, as long as cyber_visualizer can be built and runnable, any Qt version is OK.

[2020-07-13 11:45] zhangxingjing commented on #11761
@storypku Thank you for your reply!I noticed that your low-speed kit is installed on TX2. Can I install the low-speed version of apollo on TX2 by myself?

[2020-07-13 11:48] storypku commented on #11761
You mean D-Kit ? Maybe @diegohu could help on that.

[2020-07-13 11:49] zhangxingjing commented on #11761
@storypku yap, D-kit

[2020-07-13 12:17] AlexandrZabolotny opened #11767 "Error launch rtk_localization"
When I launch localization - I get error

![Screenshot from 2020-07-13 15-15-28](https://user-images.githubusercontent.com/61351599/87303378-c057f480-c51b-11ea-836d-b16cf93e65ec.png)

[2020-07-13 12:22] JackRen88 commented on #11756
That's very strange.when running  spiral reference_line_smoother_test ,everything is ok!

[2020-07-13 12:50] hongyi-zhao commented on #11762
Some further questions relative to this issue: It's well known that apollo is running in docker, does this mean that all dependencies are installed in the docker container or still it needs the dependencies are installed for the host OS where the docker is running?

[2020-07-13 13:34] storypku commented on #11762
1) Apollo should be OK running on host ubuntu systems ( 18.04 preferably) as long as you follow all the steps our docker image was built by running the installer scripts under `docker/build/installers`.
docker was only intended to provide a "clean" environment for our team to test features or reproduce bugs in a `controlled` way.

2) Qt `5.12.2` was an `LTS` version, and we provide it for two reas

[2020-07-13 13:46] storypku commented on #11767
It's a bug, and thank you for reporting.
It will be fixed in #11770 .

You can run the following command to rebuild and launch it again. It should be OK.

[code]

[2020-07-13 14:37] AlexandrZabolotny commented on #11767
I have followed your recommendations but am getting a new error

![Screenshot from 2020-07-13 17-35-53](https://user-images.githubusercontent.com/61351599/87317247-6b25de00-c52f-11ea-8bed-c70addd82f67.png)

[2020-07-13 15:00] hongyi-zhao commented on #11762
I want to try Ubuntu 20.04 LTS using apollo master/current release versions on the apollo development kit hardware platform which my group has purchased. Any hints/cautions/pitfalls for this job?

Should I use docker based method or directly install it on the host Ubuntu system?

There are so many scripts there, I really still not so clear on the correct order to use them for installation on the h

[2020-07-13 15:43] storypku commented on #11767
Try running `bazel build //cyber/tools/cyber_launch`.

[2020-07-13 15:51] diegohu commented on #11761
@zhangxingjing D-KIT is installed on X86 based IPC, not TX2.

[2020-07-13 17:42] kevin-y-wang commented on #11741
To clarify this argument, actually MRAC control is an additional controller stacked on the lateral control. MRAC can be cascaded with both the LQR control and MPC control; i.e., we may use LQR + MRAC or MPC + MRAC as the lateral controller.  The purpose of designing the MRAC control is to addresses the by-wire steering actuation system dynamics and time-latency, which is neglected in both LQR and

[2020-07-13 17:45] kevin-y-wang commented on #11741
In particular, the MRAC actually uses the steering command from either LQR or MPC as input, and generated a compensated steering command which may improve the response of the steering control.
Hopefully this will help to explain the relations among LQR, MPC and MRAC

[2020-07-13 18:20] michael4338 commented on #11508
Did the above answer resolve your issue?  Closing now and please reopen if problem still exists

[2020-07-13 18:20] #11508 closed

[2020-07-13 18:21] #11403 closed

[2020-07-13 18:38] michael4338 commented on #11256
closing now, please try the solution above

[2020-07-13 18:38] #11256 closed

[2020-07-13 18:41] #10931 closed

[2020-07-14 00:36] storypku commented on #11762
1) gcc9: there may be some compilation errors. Please report issues if you encounter them.
2) adapt  `.apollo.bazelrc` (under `${APOLLO_ROOT_DIR}`) to accord with your local env

[code]
3) Pay attention to apt sources.list  difference.

You can try them both: Use docker as the develop env to reproduce and track errors, and deploy to the host system for production.

Take a look at [cyber.x86_64.doc

[2020-07-14 02:03] hongyi-zhao commented on #11762
Thanks a lot for your instructions. But [Set-up-the-Docker-environment](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md#Set-up-the-Docker-environment) is still a required step noted in the quickstart and the [installation progress instruction](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md#how-to-build-

[2020-07-14 02:17] zhangxingjing commented on #11761
@diegohu Oh,I made a mistake,maybe It is low speed micro vehicle kit.

[2020-07-14 12:39] kdheejb7 opened #11783 "Apollo demo has no perception?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Ubuntu 18.04
- **Apollo installed from (source

[2020-07-14 13:09] ashwinsarvesh opened #11784 "Making changes to the ADAS software"
Hello,

I would like to develop a tool to detect the changes in the ADAS algorithms of Apollo 3.0. After detecting the changes, this tool has to identify the related components of Apollo which has to be tested to validate these changes. Then I would like to test these components by generating different suitable simulation scenarios using the LGSVL simulator.

So my question now is, Is it possible

[2020-07-14 14:21] kdheejb7 commented on #11783
Oh, I'm sorry, I found the same question in the issues.
Thank you.

[2020-07-14 14:23] kdheejb7 commented on #11783
Oh, I'm sorry, I found the same question in the issues.
I knew that the demo version is the only visualization.

How can I simulate the sample(?) perception in these codes?
I want to check the real-time perception.

[2020-07-14 15:28] diegohu commented on #11761
Yeap, Micro-KIT is installed on TX2. However, It only supports navigation mode based on Apollo 3.0 and I don't think it's an open source version.

[2020-07-14 16:23] storypku commented on #11762
I'm afraid the installation guide for the host OS  won't  be  online for the near future. Enabling it by default means we have to deal with the complexity of  our users' host environment and handle issues therefore.

[2020-07-14 18:22] jinghaomiao commented on #11694
Hope your question is answered. Closing the ticket now. Please feel free to raise other issues if needed. Thanks for your interests in Apollo.

[2020-07-14 18:22] #11694 closed

[2020-07-14 19:06] Capri2014 commented on #11783
As of now, the demo simulation only supports the perfect perception. (No real perception-in-loop). If you want to test your own perception algorithm, you may need a record with raw sensor data. (Lidar, camera, tf, localization etc)

[2020-07-14 19:11] jinghaomiao commented on #11640
@Addi2020 hope your question is answered. I am closing this ticket. Please feel free to raise other issues if needed. Thanks!

[2020-07-14 19:11] #11640 closed

[2020-07-15 01:24] kdheejb7 commented on #11783
Is there any raw sensor data that Apollo offers?

[2020-07-15 01:37] michael4338 commented on #11485
you need to run most git commands out of the docker and right under the correct git folder

[2020-07-15 01:58] michael4338 commented on #11365
Hi @Martin20 , hope the resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-07-15 01:58] #11365 closed

[2020-07-15 02:00] michael4338 commented on #5797
apollo does not support ROS anymore

[2020-07-15 02:00] #5797 closed

[2020-07-15 07:02] AlexandrZabolotny opened #11793 "Error launch perception module"
When I run cyber_launch start /apollo/modules/perception/production/launch/perception_all.launch
I get this error

![Screenshot from 2020-07-15 09-59-58](https://user-images.githubusercontent.com/61351599/87514015-442bf100-c682-11ea-87da-230a22183cfe.png)

[2020-07-15 07:08] AlexandrZabolotny commented on #11767
After fixing the bug, the module starts.
But I found another similar error.

https://github.com/ApolloAuto/apollo/issues/11793

[2020-07-15 08:53] jeroldchen commented on #11793
Hi @AlexandrZabolotny , for the latest code, only lidar perception module can be launched. You can launch lidar perception by running `cyber_launch start /apollo/modules/perception/production/launch/perception_lidar.launch`.

[2020-07-15 09:13] jeroldchen commented on #11610
Hi @lh315936716 , you can try switching to another vehicle like mkz7 on dreamview panel. Besides, you can launch transform module by either turning on the button on dreamview panel, or running `cyber_launch start /apollo/modules/transform/launch/static_transform.launch`, but not both at the same time.

[2020-07-15 10:28] ManXiaoMi opened #11798 "Routing moudle apply for A star"
在Navigator::SearchRouteByStrategy这个函数中，对所有路径点做循环后应用A star算法
for (size_t i = 1; i < way_nodes.size(); ++i)；
其中way_nodes表示request请求中所有路径点，那么在这个循环之中应用A star算法，表示只在两个node之间应用A star算法吗？

如下的start、end代表相连接的两个node?
const auto* start = sub_graph.GetSubNodeWithS(way_start, way_start_s);
const auto* end = sub_graph.GetSubNodeWithS(way_end, way_end_s);

[2020-07-15 12:48] ashwinsarvesh opened #11799 "Output of ADAS features"
Hello,

I want to use the output of ADAS features like lane detection, traffic light detection, and obstacle detection to compare it with the output of my ADAS camera and evaluate the performance of my camera.

Is it possible to extract the output of Apollo 3.0 ADAS features on a PC? In what format can the data be obtained?

[2020-07-15 13:54] ashwinsarvesh opened #11801 "ADAS features of Apollo 3.0"
Hello,
Does Apollo 3.0 have the features Lane departure warning, forward collision warning, and Traffic sign recognition?

[2020-07-15 16:02] PGLF-EAP opened #11802 "What does the confidence_score actually represent in the Perception CNN?"
In the CNN in the perception module, there exists a category_score and confidence_score.  The category_score is used with the objectness_thresh to determine if something is an object and the confidence_score is used with the confidence_thresh.

However, I am confused as to what the confidence_score means.  In the documentation 3d_obstacle_perception.md, it seems to align with 'positiveness' but I

[2020-07-15 17:45] michael4338 commented on #11799
merging from [11081](https://github.com/ApolloAuto/apollo/issues/11801) Apollo 3.0 have the features Lane departure warning, forward collision warning, and Traffic sign recognition?

[2020-07-15 17:47] michael4338 commented on #11801
this is kind of dup with #11799, let's close this one and track it in [11799](https://github.com/ApolloAuto/apollo/issues/11799)

[2020-07-15 17:47] #11801 closed

[2020-07-16 02:39] kdheejb7 opened #11805 "Object detection is not shown up in Apollo."
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Ubuntu 18.04
- **Apollo installed from (source

[2020-07-16 03:22] zhangxingjing commented on #11761
@diegohu Ok，thank you very much!

[2020-07-16 04:21] deidaraho commented on #11688
Based on my understanding, R in https://github.com/ApolloAuto/apollo/blob/327f74a422e7fe0ad6fb72501483e1fadcb80198/modules/planning/open_space/trajectory_smoother/dual_variable_warm_start_osqp_interface.cc#L383 should go with constraints from https://github.com/ApolloAuto/apollo/blob/e5353ccb97a966b5b9cca4210208d382951d24f6/modules/planning/open_space/trajectory_smoother/dual_variable_warm_start_i

[2020-07-16 04:25] deidaraho commented on #11644
It is not the same dual warm up strategy from OBCA, generally speaking, it wraps the l2 norm constraints into the cost function, since OSQP is not good at solving QCQP.

[2020-07-16 05:57] Doozua opened #11807 "Cannot find proj4 although install and link successfully."
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2020-07-16 06:13] Addi2020 commented on #11741
@kevin-y-wang  Thank you for you explanation.
As in apollo 5.5, MRAC is added with LQR, Similarly we can add ouself MRAC with MPC to get better performance of steering control.

[2020-07-16 06:14] #11741 closed

[2020-07-16 06:48] luqioayun opened #11810 "traffic light detection dataset download"
Hello， could you please give me a link that can download traffic light detection dataset? I'm doing some research about Chinese traffic light detection, but there is no large-scale datasets. I'm from Beijing University of Posts and Telecommunications.
Thanks a lot!

E-mail: 1182102020@qq.com

[2020-07-16 06:54] AlexandrZabolotny commented on #11508
I reinstalled cmake, boost. And now all ok.

[2020-07-16 08:23] ntutangyun commented on #11805
are you receiving lidar messages ?

[2020-07-16 08:25] kdheejb7 commented on #11805
No, what means "lidar messages"?

[2020-07-16 08:27] kdheejb7 commented on #11805
No, what means "lidar messages"?

[2020-07-16 08:28] ntutangyun commented on #11805
for obstacle detection to work, you may need **point cloud data** as well sent from LGSVL

[2020-07-16 08:30] kdheejb7 commented on #11805
How can I check the point cloud data?
In LGSVL, object detection works well, not in Apollo.

[2020-07-16 08:45] younggam94 opened #11812 "paddlepaddle_volume-aarch64-latest not found"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 16.04 and 18.04
- **Apollo installed from (sour

[2020-07-16 08:59] younggam94 opened #11813 "local_third_party_volume-aarch64-latest not found"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 16.04 & 18.04
- **Apollo installed from (source

[2020-07-16 09:51] AlexandrZabolotny commented on #11793
I have next error now

![Screenshot from 2020-07-15 14-23-23](https://user-images.githubusercontent.com/61351599/87657073-ffc45200-c762-11ea-9948-a2c349e3e571.png)

[2020-07-16 10:10] Jelvon opened #11814 "Nvidia_driver_not_detected by apollo.sh"
About the Nvidia-docker problem
Issue:
We already strictly follow the tutorials to install the Nvidia-driver (430.5) in the host machine
and also the Nvidia-docker (using the scripts in the https://github.com/ApolloAuto/apollo/tree/r5.5.0/docker/setup_host).

when we pull the docker image, it showed like this:

[WARNING] nvidia-docker is in deprecation!
[WARNING] Please install latest docker and n

[2020-07-16 11:37] jeroldchen commented on #11793
@AlexandrZabolotny  Have you launched transform module before perception? You can launch it by turning on the transform button on module controller of dreamview, or running `cyber_launch start /apollo/modules/transform/static_transform.launch`. And remember to select a vehicle on dreamview panel at first.

[2020-07-16 16:54] michael4338 commented on #11810
I'm afraid apollo does not have a particular "traffic light" dataset open for download, but you can try to dig further on datasets here http://apolloscape.auto/#

[2020-07-16 23:02] lemketron commented on #11805
I believe the problem is that your GTX 1660 card is Turing architecture, like the RTX 20x0 series.

Apollo 5.0 does not support Turing, so you'll need to use a card with Pascal architecture like the GTX-1080. Alternatively you could try using Apollo Master, which (up until recently) was working with the Turing architecture, though it is not yet officially supported.  The most recent builds seem to

[2020-07-16 23:24] rongguodong opened #11818 "Perception not working in latest master"
Both obstacle perception (i.e. "Perception" module in Dreamview) and traffic light perception (i.e. "Traffic Light" module in Dreamview) cannot be started with latest master.

It seems the latest master does not generate camera perception due to [this commit](https://github.com/ApolloAuto/apollo/commit/1ab73b51810054db1ae01739d1063c4e17367163#diff-7fca01c087f82f294204beed55d8425e). But it is still

[2020-07-17 01:57] Doozua commented on #11807
Then 'Permission denied' error occurs mkdir('/home/user/.cache/bazel/_bazel_apollo')

[2020-07-17 02:18] johnzjq commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: zhaojunqiao@tongji.edu.cn

[2020-07-17 02:27] daohu527 commented on #11805
As mentioned above:
1. check the published message about lidar in cyber_monitor.
2. check the log in “apollo/data/log”  to see if there're some errors.

[2020-07-17 02:46] daohu527 commented on #11798
**Your understanding is right**. "start" is the starting point, "end" is the destination.

The normal case there's only one start point and end point. You can also set a bypass point so that you have multiple points to pass through. The bypass points are set by "RoutingRequest".
[code]
The "way_nodes" is set by below code.
https://github.com/ApolloAuto/apollo/blob/25c63a183b4736c04a8f00c04954f6e9a

[2020-07-17 02:53] luqioayun commented on #11810
ok, i see. Thanks a lot~
1、I have scanned the introduction of apollo, and if I want to use the dataset for the object detection, what I need do?
Is the link of "https://apollo.auto/" the apollo entrance? If it is, why I don't find the dataset that can be downloaded?
2、the github link "https://github.com/ApolloAuto/apollo" is the instructions for use of apollo platform， could you please tell me the

[2020-07-17 02:57] qwetqwe opened #11821 "Is there a scenario to get out of the parking space"
In apollo 5.5,valet parking scenario can make the ADC into a specific parking space, but can't get the car out of parking space. Because there is no lane guide the car out of  parking space in HDmap. in Park and Go scenarion it can only guide the off-lane car in a less than 60 degree heading error with main road. In fact parking space heading and lane heaing error is 90 degree. So is there a way t

[2020-07-17 03:19] DreamerLx opened #11822 "In dual ipc, how to send only part of the data to another machine?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Linux Ubuntu 18.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (3.5, 5.0, 5.5, 6.0)**: 3.5

### Steps to reproduce the issue:

Refer to how_to_setup_dual_ipc.md, host A runs perception and other modules, host B can view the channel in cyber_monitor, but host A contains radar point c

[2020-07-17 03:44] kdheejb7 commented on #11805
![image](https://user-images.githubusercontent.com/39160667/87746318-3bc2ea00-c82b-11ea-9a99-2ec023edc8dc.png)
This is my error message. (apollo/data/log)
I can't find the file 'libperception_component_lidar.so'

[2020-07-17 03:49] kdheejb7 commented on #11805
Thank you for advise.
However, Apollo Perception module still did not work well.
There is no different from apollo-5.0/lgsvl.

cyber_launch start modules/transform/launch/static_transform.launch has the error with the message.
![image](https://user-images.githubusercontent.com/39160667/87746588-eb985780-c82b-11ea-9823-d954f1256493.png)

[2020-07-17 04:59] younggam94 opened #11824 "[docker error]docker: Error response from daemon: No such container: apollo_yolo3d_volume_yschung.(aarch64 machine)"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 16.04(aarch64)
- **Apollo installed from (sourc

[2020-07-17 05:30] changsh726 commented on #11748
Hi @hollmeer, thanks for your reporting. We have fix this in pull request #11823. This issue will be closed for now. If you have any other question, please feel free to reopen this or open a new issue.

[2020-07-17 05:56] daohu527 commented on #11805
The log you provided just info level logs, you should find some error level logs.

[2020-07-17 06:03] ManXiaoMi commented on #11798
Thank you very much! I've got it.

[2020-07-17 06:36] kdheejb7 commented on #11805
Oh, really thank you for informing me the important fact.

I'm trying the apollo-master with LGSVL with your link.

There is no error log, only INFO log.

[2020-07-17 07:42] ashwinsarvesh commented on #11799
Any help anyone?

[2020-07-17 09:00] jeroldchen commented on #11818
Hi @rongguodong , traffic light detection is not available so far, and is possibly reactivated before next official release, so as camera perception. However, you will be able to launch perception module which contains lidar perception and radar perception from dreamview very soon. Currently, you can launch lidar perception by running `cyber_launch start /apollo/modules/perception/production/launc

[2020-07-17 09:36] jeroldchen commented on #11799
Hi @ashwinsarvesh , what kind of output are you looking for exactly? The detection boxes?

[2020-07-17 09:41] FengIvex commented on #11814
**nvidia-smi** works
but **sudo dpkg --list | grep nvidia*** does not work.

[2020-07-17 09:41] hollmeer commented on #11748
hi @changsh726, thanks for the fix as above, but it seems that your version of fix same as our first earlier attempt to fix the problem. That earlier version (same as your fix as for now) seemed to result into arbitrary crash after a few seconds, if the launched components were allowed to run w/o terminating it by crtl-C in terminal rather immediately ( less than 5secs of execution). The crash pro

[2020-07-17 09:45] storypku commented on #11807
It seems you are trying to install `proj4` with installer from branch `docker_dev`, and use it in Apollo 5.0 ?

[2020-07-17 09:59] zhangxingjing commented on #5990
@Wang4758,@zhaochongjie,HI,have you solved this problem?

[2020-07-17 10:33] ashwinsarvesh commented on #11799
I need the output of Lane detection and obstacle detection to compare with the same of an ADAS camera. This is to compare the deviation in the performance of Apollo 3.0 and my ADAS camera.

[2020-07-17 12:12] changsh726 commented on #11748
Thank you for your detailed description @hollmeer. I tested several times according to you described above, and execution does sometimes crash after a period of time when I use the `&callback` version. I have made a pull request #11835 to fix as your suggestion. We'll also try to find out why the former approach doesn't work properly.

[2020-07-17 12:38] storypku commented on #5990
It seems that this bug was already fixed in Apollo `master`, after 1.5 yrs this issue was put up.

[code]

[2020-07-17 12:41] #5990 closed

[2020-07-17 13:05] storypku commented on #11813
Apollo's arm64 support was not complete yet. currently only the CyberRT framework can be run under aarch64.

[2020-07-17 13:06] storypku commented on #11812
Let's discuss this problem at https://github.com/ApolloAuto/apollo/issues/11813

[2020-07-17 13:06] #11812 closed

[2020-07-17 13:10] storypku commented on #11814
So the branch involved is `r5.5.0` ?

[2020-07-17 13:30] XuehuanYang opened #11838 "Perception Module Missing Detection traffic cone"
Describe the bug
I implemented LGSVL-2020-03 simulation with Apollo-5.0 platform and launch LiDAR camera radar perception module. The perception module missed detection traffic cone.

Desktop (please complete the following information):

OS: Ubuntu 18.04
Apollo-5.0
LGSVL-2020-03
Browser: Google Chrome
Map: BorregasAve
Vehicle: Lincoln2017MKZ (Apollo 5.0)

To Reproduce
Steps to reproduce the behavi

[2020-07-17 15:51] ntutangyun commented on #11805
This error might be due to you have another static_transform process running in the background.
you may try to close it in the dreamview and then start the transform module in the terminal.

[2020-07-17 16:21] michael4338 commented on #11810
Hi, as mentioned http://apolloscape.auto/# is the place to get and download the dataset, apollo.auto or apollo github project does not provide data download services.  We may plan to open services in new channels to provide more data display/download in the future, @diegohu what do you think?
But currently I'm closing this one and please feel free to reopen if you need more information.

[2020-07-17 16:21] #11810 closed

[2020-07-17 16:33] kdheejb7 commented on #11805
Oh, That's right.
I knew the fact you said, so I solved it just before.
However, I'm still having trouble executing Apollo.

'./apollo.sh test dreamview`
When this commend is executed, there is an error.
![image](https://user-images.githubusercontent.com/39160667/87809460-69914880-c896-11ea-9e8e-2ccb2d74d5f5.png)

![image](https://user-images.githubusercontent.com/39160667/87809563-8ded2500-c896-1

[2020-07-17 16:41] ntutangyun commented on #11805
is there a channel in cyber monitor related to point_cloud?

[2020-07-17 16:47] michael4338 commented on #11805
yes, please checkout pointcloud keyword in https://github.com/ApolloAuto/apollo/blob/4d428a30df56f0941f3736c937deb7e33991ffbd/scripts/record_bag.py#L106 for reference

[2020-07-17 18:23] #11648 closed

[2020-07-18 07:42] diegohu commented on #11810
yes @michael4338 ,you are right.

[2020-07-18 07:53] kdheejb7 commented on #11805
![image](https://user-images.githubusercontent.com/39160667/87847961-072c5c80-c917-11ea-9b87-f2700fb3bdf8.png)

![image](https://user-images.githubusercontent.com/39160667/87847976-13b0b500-c917-11ea-9caa-0ea011ed2948.png)

![image](https://user-images.githubusercontent.com/39160667/87847978-21fed100-c917-11ea-97bf-db19d4a4cecb.png)

Yeah, PointCloud2 turned on now.

[2020-07-18 08:28] kdheejb7 commented on #11805
`cyber_launch start /apollo/modules/perception/production/launch/perception_all.launch'

![image](https://user-images.githubusercontent.com/39160667/87848324-15c84300-c91a-11ea-8e0a-be504725176d.png)

'cyber_launch start /apollo/modules/perception/production/launch/perception_camera.launch`
![image](https://user-images.githubusercontent.com/39160667/87848339-414b2d80-c91a-11ea-94c8-6313deed7785.pn

[2020-07-18 10:18] ntutangyun opened #11846 "perception_lidar.launch -- evaluator_manager.cc:54] [mainboard]Init SemanticMap instance"
System: Ubuntu 1804
Apollo Branch: master (pulled this afternoon)

----

Hi team,

I'm currently trying the latest LGSVL and Apollo master branch, both pulled this afternoon.
Seems that the camera perception no longer works anymore in the Apollo master branch.

For lidar perception only, (manually launched using `perception_lidar.launch` )
it does not work with the LGSVL simulator either.
As the *

[2020-07-18 12:19] ashwinsarvesh commented on #11799
(ROS topic /apollo/perception/obstacles)
Is this the ROS topic which I need to subscribe to get the output of the perception module? (Lane detection + Obstacle detection)

[2020-07-18 13:30] kdheejb7 opened #11847 "Cannot execute the autonomous driving"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 18.04
- **Apollo installed from (source or bina

[2020-07-18 15:20] FengIvex commented on #11814
Yes absolutely.

[2020-07-18 15:34] FengIvex opened #11848 "Some question about the perception module and vlp-32c configuration"
### System information

- **Linux Ubuntu 18.04**:
- **Apollo installed from source**:
- **Apollo version 5.5**:

### Some question about the perception and sensors:
- **May I ask if it is very necessary to use the nvidia driver and cuda if we just want to run the exsiting perception model inside the respository instead of training our own model for the inferrence**
- **There are no segcnn model fo

[2020-07-18 16:55] FengIvex opened #11849 "perception module launch fail + and perception related .so file cannot be found"
### System information

- **Linux Ubuntu 18.04**:
- **Apollo installed from source or binary**:
- **Apollo version 5.5**:

### Steps to reproduce the issue:
- **I try to launch the perception lidar only dag but failed**:
- **The error log showed that we lack or cannot load some .so**:
- **because I used a vlp-32c lidar and currently the imu information has not very configured, so I use the segemen

[2020-07-19 00:14] storypku commented on #11849
Is it on branch  `r5.5.0` or `master`?

[2020-07-19 04:40] asddddyyyy commented on #11219
Based on @hackerliang's advice, I change file /apollo/cyber/python/cyber_py3/cyber.py, line 365 to

`temp_byte = _CYBER.PyChannelUtils_get_debugstring_by_msgtype_rawmsgdata(msg_type.decode('utf-8'), rawmsgdata)`
 `return temp_byte.decode('utf-8')`

which turns the bytes string into a str type and solves this problem.

[2020-07-19 13:00] FengIvex commented on #11849
To give a summary, the error information is like this:
**[lidar_perception] E0718 18:43:26.222472 3871 class_loader_utility.cc:220] [mainboard]poco LibraryLoadException: libboost_filesystem.so.1.54.0: cannot open shared object file: No such file or directory
[lidar_perception] E0718 18:43:26.222537 3871 class_loader_utility.cc:236] [mainboard]poco shared library failed: /apollo/bazel-bin/modules/p

[2020-07-20 01:08] jimmyw404 opened #11854 "Is this process a correct way to configure Apollo to start on boot?"
I needed to configure Apollo to start when the vehicle is powered. I've accomplished that using the following steps. I am curious to know if there are any features, scripts or documentation in place that I may have missed that could improve this process. If someone finds these instructions useful, all the better :)

This was done on Ubuntu 18.04 with Apollo 5.5 built from source.

1. I configured

[2020-07-20 02:21] yufeilongyuan opened #11855 "Control&CAN: CAN卡安装测试与硬件连接"
你好，请问有详细的CAN卡安装，测试指导吗，给的文档貌似不是很详细。主要是驱动安装，通信测试，以及重点CAN卡如何与车辆CAN跳线连接，有大佬指导下吗？车辆为GE3。感谢

[2020-07-20 05:37] jeroldchen commented on #11799
@ashwinsarvesh  Yes, it is. For the data structure of PerceptionObstacles, please refer to [https://github.com/ApolloAuto/apollo/blob/r3.0.0/modules/perception/proto/perception_obstacle.proto](url) .

[2020-07-20 11:36] oska874 opened #11860 "can we use newton-m1 in Apollo?"
We have gps newton-m1, can we use it in apollo without modify apollo source code and just change configuration files?

[2020-07-20 13:24] jeroldchen commented on #11848
Hi @FengIvex , CUDA, nvidia driver and GPU are all necessary for building perception module, as some libraries like TensorRT depend on CUDA, and some models are designed with CUDA. Besides, inference with CPU only (we do not support this) costs a lot of more time. Therefore, you cannot build perception module without CUDA and GPU.

[2020-07-20 13:58] ashwinsarvesh commented on #11799
Thank you :)

[2020-07-20 16:24] FengIvex commented on #11848
Thanks for your reply. I strictly follow the manuals in the github to install the driver (430.5) and also the nvidia-docker. When I check it with **nvidia-settings** and **nvidia-smi**. It showed no problem whether in the host pc or docker. But when I pull the docker image, I would find the "[WARNING] nvidia-docker is in deprecation!
[WARNING] Please install latest docker and nvidia-container-tool

[2020-07-20 18:23] vlin17 commented on #11847
Are you trying to run Apollo with LGSVL?
Also, please check log under /apollo/data/log to see if there's any error.

[2020-07-20 18:36] vlin17 commented on #10009
Hi @Autofoxsys , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-20 18:36] #10009 closed

[2020-07-21 01:01] kdheejb7 commented on #11847
Yes, I'm running Apollo with LGSVL.

This is my routing.log with error
![image](https://user-images.githubusercontent.com/39160667/88000636-1a1e7700-cb39-11ea-974b-7bb2e09c921e.png)

Thank you.

[2020-07-21 01:12] Doozua commented on #11807
Yes I'm using Apollo 5.0. Do you have solution for it?

[2020-07-21 01:26] storypku commented on #11807
For r5.0.0: please download and place [proj.4-4.9.3.zip](https://download.osgeo.org/proj/proj-4.9.3.zip) under `/home/tmp/`, and try again.

[2020-07-21 01:53] jeroldchen commented on #11849
@FengIvex Which version of Apollo do you use?

[2020-07-21 02:45] XinrRunChao commented on #9365
Can you resolve this problem? I encounter the same problem....helping

[2020-07-21 02:48] Doozua commented on #11807
I did it already. The first time I did is that... But it did't work.

My environment is x86, without docker, Ubuntu 16.04, Apollo 5.0.

[2020-07-21 02:59] vlin17 commented on #11847
As the route has been created (the red line in Dreamview), the error to check isn't from the routing module. Planning is a good one to check.

[2020-07-21 03:01] oska874 opened #11865 "build apollo fails with the master code"
When I build apollo-master code, it shows errors as bellow:

Code version:
![image](https://user-images.githubusercontent.com/4536559/88007727-2e667200-cb41-11ea-81be-d1cf0e96b9f0.png)

docker and images version:
![image](https://user-images.githubusercontent.com/4536559/88007776-46d68c80-cb41-11ea-8b8b-c687f674e44b.png)

build error log:

[code]

[2020-07-21 03:09] storypku commented on #11865
It was caused by network issues. Just download the tarballs from the original url (e.g, https://github.com/abseil/abseil-cpp/archive/20200225.2.tar.gz for abceil-cpp), and put it under `<apollo_root_dir>/.cache/distdir`. Be sure the sha256 value matches the one listed in `WORKSPACE`(or `third_party/xxx/workspace.bzl`). And try again.

[2020-07-21 03:20] kdheejb7 commented on #11847
This is routing.log.INFO.
Is there anything about routing log??

[2020-07-21 03:26] vlin17 commented on #11847
Do you see any other log files other than routing.log.INFO? If so, please check planning.INFO as the problem is most likely from planning module.

[2020-07-21 03:32] kdheejb7 commented on #11847
![image](https://user-images.githubusercontent.com/39160667/88009679-0af5f400-cb4e-11ea-96b3-9cc2f1e0b027.png)

This is planning module error.
Hmm.. is this routing error or planning error?

Thanks!

[2020-07-21 08:12] ntutangyun commented on #11805
Hi, I've encountered this yesterday.

I solved it by specifying the `process_name` attribute in the xml launch file:

modules/perception/production/launch/perception_camera.launch
---
[code]

[2020-07-21 08:54] XinrRunChao commented on #7058
Can you share your download address about the demo.2.5.bag? I download from https://github.com/ApolloAuto/apollo/releases/download/v2.5.0/demo_2.5.bag, but the bag can not work!

[2020-07-21 08:54] XinrRunChao commented on #7058
Can you share your download websit about the demo.2.5.bag? I download from https://github.com/ApolloAuto/apollo/releases/download/v2.5.0/demo_2.5.bag, but the bag can not work!

[2020-07-21 09:11] XinrRunChao opened #11869 "Can't run demo_2.0.bag and demo_2.5.bag"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (Linux Ubuntu 18.04)**:
- **Apollo installed from (source or binary)**:
- **A

[2020-07-21 10:37] oska874 commented on #11865
Direct download the tars with `wget` is ok, but why apollo build download tars fails?

[2020-07-21 12:08] oska874 opened #11871 "build apollo error, cannot "driver_types.h"."
apollo version : f7a2369315a2bf106e473ced7392f4542f4ff3a3
build command : ./apollo.sh build_opt
error:
![image](https://user-images.githubusercontent.com/4536559/88052939-9f337b80-cb8d-11ea-9c4b-9bc4e2b36b00.png)

[2020-07-21 13:47] #11767 closed

[2020-07-21 13:54] storypku commented on #11865
Dependency was analyzed and fetched by `bazel` actually.  `bazel` has its own way of retrieving tarballs.

[2020-07-21 13:56] #11865 closed

[2020-07-21 15:02] storypku commented on #11871
Will you please pull the latest master, and try `./apollo.sh build_opt` again ? If the error persists, please let me know.

[2020-07-21 15:57] ashwinsarvesh opened #11874 "Question: Extract CAN BUS signals"
Hello,

I would like to place an ADAS camera in front of the LGSVL simulation screen to create an illusion that the camera is fitted on the ego vehicle. This camera has features like Lane departure warning and forward collision warning.

For this camera to work, it needs inputs like
- The vehicle speed,
- The vehicle ignition signal (12/24V),
- The Vehicle CAN bus (High/Low),
- The vehicle left tu

[2020-07-21 15:58] ashwinsarvesh commented on #11874
These wires are usually connected to the corresponding vehicle wiring. But in my case; it's the ego vehicle of the LGSVL simulator

[2020-07-21 15:59] ForresterLu opened #11875 "System crash when build Apollo 5.0"
### System information

- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **Apollo installed from**: https://www.lgsvlsimulator.com/docs/apollo5-0-instructions/
- **Apollo version**: 5.0
- **GPU**: 1080ti
- **RAM**: 32GB
- **CPU**: Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz

### Steps to reproduce the issue:
Follow the instruction here: https://www.lgsvlsimulator.com/docs/apollo5-0-instructi

[2020-07-21 20:21] FengIvex commented on #11849
5.5

[2020-07-22 02:31] kdheejb7 opened #11881 "Can't run build_prof in pre6 version?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 18.04
- **Apollo installed from (source or bina

[2020-07-22 03:25] vlin17 commented on #11847
@ycool  We see routing is generated, but planning  says "Routing is not ready".  Thoughts about what can go wrong here?

[2020-07-22 03:37] Capri2014 commented on #11874
Hh, surely you can do that, just need to fake a CAN node and need A/D, D/A converter

[2020-07-22 04:36] ironWolf1990 opened #11883 "Sharing virtual CAN network with docker container"
After creating a vcan network on the host pc
[code]
how can i get my docker container to interface with it.

I tried using `--network=host`, the only problem is there is no network isolation b/w docker host and containers anymore. Is there a way to achieve the above but without sharing the host network

[2020-07-22 06:45] jeroldchen commented on #11849
Seems that you didn't build it right. Can you post your building steps here so that we can find out what caused the errors?

[2020-07-22 06:53] christopher-yun commented on #3005
I'm so sorry for the lete reply.
I'm used Apollo 5.0.

I wait for the answer. Thanks.

-----Original Message-----
From: "johnzjq"<notifications@github.com>
To: "ApolloAuto/apollo"<apollo@noreply.github.com>;
Cc: "christopher-yun"<mu1024@naver.com>; "Comment"<comment@noreply.github.com>;
Sent: 2020-07-17 (금) 11:19:23 (GMT+09:00)
Subject: Re: [ApolloAuto/apollo] How to generate openDRIVE formate fil

[2020-07-22 07:15] oska874 commented on #11871
I've updated apollo to version "194819d15f95c27",but the error still exists.

[2020-07-22 07:19] lfcarol commented on #11871
Please check if your "/apollo/.apollo.bazelrc : Line 4" modified to "build --config=gpu", the default is "build --config=cpu".

[2020-07-22 07:22] oska874 commented on #11871
BUT my pc has no gpu.So?

[2020-07-22 09:36] ashwinsarvesh commented on #11874
Thank you for your reply!
Are these data listed below given by the simulator or Apollo?
- The vehicle speed,
- The vehicle ignition signal (12/24V),
- The Vehicle CAN bus (High/Low),
- The vehicle left turn signal and right turn signal.

How do I access this data?

[2020-07-22 13:26] storypku commented on #11881
The issue does exist in the `pre6` branch. You can run the following commands  to  have it fixed.

[code]

[2020-07-22 14:29] FengIvex commented on #11849
I build it with "sudo bash apollo.sh build_opt_gpu"

[2020-07-22 15:30] ntutangyun opened #11887 "[Apollo Pre6 Branch] [Perception] - FusionComponent not receiving prefused_message from FusionCameraDetectionComponent"
- Ubuntu 1804
- Apollo pre6 branch
---

hi team, I'm using latest LGSVL with Apollo pre6 branch.

I launch the perception module with this [launch](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/production/launch/perception.launch) file.

![fusion_component_2](https://user-images.githubusercontent.com/16061105/88195338-851f9900-cc72-11ea-983b-70e28dc119d1.png)

inside which, t

[2020-07-22 15:43] ntutangyun commented on #10495
@jinghaomiao hi, please kindly help with my [issue](https://github.com/ApolloAuto/apollo/issues/11887) about Apollo pre6 branch camera + fusion. thanks.

[2020-07-22 23:51] storypku commented on #11871
I am afraid it won't  work  for now.  Our support for CPU-only builds are not ready yet. :-( Hope we can resolve this in the next few months.

[2020-07-23 02:48] XinrRunChao commented on #10056
Hello, do you solve the problem? I met the same problem, but in the 'rostopic echo /apollo/sensor/gnss/best_pose'

[2020-07-23 07:12] ntutangyun opened #11892 "[QUESTION] [CYBER_RT] How to define a inner channel like /perception/innner/PrefusedObjects within c++ cyber components?"
as title.

seems that `/perception/inner/PrefusedObjects` channel is invisible to `cyber_monitor` and private among the components defined in the same lidar detection dag file.

Thanks.

[2020-07-23 07:25] ntutangyun commented on #11892
is it the case that when the message is defined in separate c++ class, the channel will be private; while if the message is defined in a protobuf file, the channel will be public and visible in `cyber_monitor`?

[2020-07-23 07:33] Zmeis commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: merk_alex12@mail.ru

[2020-07-23 08:38] ntutangyun commented on #11892
I'm not sure how in the background cyber RT manages it, but I've confirmed that it is the case. It depends on how the message is defined, whether using protobuf or not.

[2020-07-23 08:38] #11892 closed

[2020-07-23 08:39] ntutangyun commented on #11887
Not I understand why fusion component cannot receive the prefused_message sent from camera detection component.

refer to [issue ](https://github.com/ApolloAuto/apollo/issues/11892)

[2020-07-23 08:39] #11887 closed

[2020-07-23 12:50] daohu527 commented on #11875
Seems like your memory is lark, and cause a OOM error. [link](https://github.com/bazelbuild/bazel/issues/3020)

Since you said that the memory is 32G, so it should not be insufficient memory. Are you running in a virtual machine, or other programs occupy too much memory.

[2020-07-24 02:46] ntutangyun commented on #11536
yeah. sometimes I'm getting this weird error also.

[2020-07-24 07:44] ntutangyun commented on #11536
wait. how did I manage to unassign anyone?

[2020-07-24 09:14] ManXiaoMi opened #11908 "About routing_response and reference_line"
I have some confused about the relationship between routing_response and reference_line,
What I understand is that routing_response contains the information is like Segment,just contains such "start_s" and "end_s".
And we get  reference_line_info from routing_response, reference_line_info contains some lane_way_point information, such as "SL" information. My question is how can we get points infor

[2020-07-24 10:53] hongyi-zhao opened #11909 "The capabilities of Apollo D-kit hardware platform."
Hi,

Our group has bought two sets of Apollo D-kits, numbered as 2020012 and 2020014. I want to know the capabilities of Apollo D-kit hardware platform with the latest git master version of ApolloAuto installed on it. Does it support up to L5 or not?

Regards
HY

[2020-07-24 16:34] ashwinsarvesh commented on #11874
any help anyone?

[2020-07-24 16:57] Capri2014 commented on #11874
No, our simulation do not provide HIL simulation capability so we do not provide item 3. And you need to customize by yourself to generate adequate analogy signal so you can feed into your camera to close the whole loop, that is what I mean by the DA conversion part.

[2020-07-24 19:09] ashwinsarvesh commented on #11874
Hello,

Thank you for your reply!
Yes, I am aware of it. But I mean where do I find the data in the software on Github. The data I need are the ones mentioned in CAN bus section in this picture. (especially vehicle speed, left turn and right turn signal)

![image](https://user-images.githubusercontent.com/67329705/88426599-ba062a00-cdf1-11ea-8c9c-a7a2927bb75c.png)

[2020-07-25 07:02] ForresterLu commented on #11875
Thanks for your reply, it seems that my ubuntu system do not have enough swap space and after I enlarge the swap space, the issue got solved.

---Original---
From: "zero"<notifications@github.com&gt;
Date: Thu, Jul 23, 2020 20:50 PM
To: "ApolloAuto/apollo"<apollo@noreply.github.com&gt;;
Cc: "Chengjie Lu"<chengjie.lu@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [ApolloAuto/a

[2020-07-25 10:10] daohu527 commented on #11875
Good job!

[2020-07-25 10:48] daohu527 commented on #11908
## routing_response
routing response decide which road to go, and the data store in
https://github.com/ApolloAuto/apollo/blob/4f7fbcf8e472da72b8c196208bf10dd93edf09f0/modules/routing/proto/routing.proto#L49-L64

## reference_line
Then use the RoadSegments and hdmap to generate reference line. More details will be added later.
https://github.com/ApolloAuto/apollo/blob/3711be4317b62fffa548f91cb38326

[2020-07-26 06:20] diegohu commented on #11909
D-KIT officially supports the latest Apollo 5.5 release version. We also provide documents to establish an auto-driving demo based on Apollo 5.5, please refer to https://github.com/ApolloAuto/apollo/tree/r5.5.0/docs/specs/D-kit. If you have any questions about D-KIT usage on Apollo 5.5, feel free to ask questions in D-KIT feedback platform.
And master version is still in development and not offici

[2020-07-26 07:29] hongyi-zhao commented on #11909
@diegohu Thank you for your clarification.

[2020-07-26 07:29] #11909 closed

[2020-07-27 02:37] kdheejb7 opened #11924 "Traffic light module with "build_prof""
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 18.04
- **Apollo installed from (source or bina

[2020-07-27 02:49] storypku commented on #11924
By `traffic light module`, you mean `modules/perception/camera/lib/traffic_light` ?

[2020-07-27 02:54] XuehuanYang opened #11926 "Perception Module Vehicle Collision with Pedestrians"
Describe the bug
I implemented LGSVL-2020-03 simulation with Apollo-5.0 platform and launch LiDAR camera radar perception module. The perception module shows that Lincoln2017MKZ collided with pedestrians during autonomous mode.

Desktop (please complete the following information):

OS: Ubuntu 18.04
Platform: Apollo-5.0
Simulation: LGSVL-2020-03
Browser: Google Chrome
Map: San Francisco
Vehicle: Li

[2020-07-27 03:05] kdheejb7 commented on #11924
Yeah, I mean that.
In Dreamview, it means that the traffic light module does not turn on properly.

[2020-07-27 06:23] 76328 opened #11929 "How to obtain vehicle dynamics model parameters online"
I just find in /module/tool/vehicle_calibration has some response data plot.Is there an algorithm that can directly use these data to identify vehicle dynamics online or offline?

[2020-07-27 08:51] storypku commented on #11924
With `-lprofiler` issue resolved as described in https://github.com/ApolloAuto/apollo/issues/11881#issuecomment-662451882 ,

`./apollo.sh build_prof` and
`bazel build --config=cpu_prof --cxxopt=-DCPU_ONLY  //modules/perception/camera/lib/traffic_light/...` should both be OK.

Have you make GPU enabled ?

[2020-07-27 10:26] alexiskovi commented on #11929
With data_collector.py you can build a calibration table for Control module. It's needed for better interpolation in acceleration commands. Also you can use frontend tools, like in these [docs](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md).

[2020-07-27 14:52] AlexandrZabolotny opened #11936 "Error msf_record_parser.sh"
Hi, team!
Help me please!
I am using a LGSVLsimulator.
I am trying to build a map for msf_localization using the recorded record file.
When I run the msf_record_parser.sh script, I get the following error.
![Screenshot from 2020-07-27 17-45-58](https://user-images.githubusercontent.com/61351599/88556492-c11b7b00-d031-11ea-85d1-22d5e58098e2.png)

Link to my record file
https://cloud.mail.ru/public/

[2020-07-28 05:51] ManXiaoMi commented on #11908
Thank you for your detailed explanation. it helps me a lot.

[2020-07-28 05:51] #11908 closed

[2020-07-28 08:05] gafeng opened #11945 "ERROR during compiling Apollo with build_cpu"
I installed ubuntu in hyper-v virtual machine, downloaded Apollo code, installed docker, but got ERROR during compiling the code with build_cpu:
===========================================
(06:20:42) ERROR: /apollo/modules/map/pnc_map/BUILD:7:13: error while parsing .d file: /apollo/.cache/bazel/540135163923dd7d5820f3ee4b306b32/execroot/apollo/bazel-out/k8-dbg/bin/modules/map/pnc_map/_objs/cuda_pn

[2020-07-28 11:24] geiliwanghaichao opened #11948 "/apollo/modules/dreamview/backend/handlers/BUILD:23:1: no such package '@opencv2//':"
- **OS Platform and Distribution (vmware+Ubuntu 16.04):
- **Apollo installed from (source)
- **Apollo version (2.0.0)**:

I install docker successfully, then download apollo2.0.0 source code from github
1. bash docker/scripts/dev_start.sh -C     ok
2. bash docker/scripts/dev_into.sh     ok
3.bash apollo.sh build_no_perception dbg
     INFO: Reading 'startup' options from /apollo/tools/bazel.rc: --

[2020-07-28 11:56] oska874 commented on #11275
@storypku If I want to build docker images for Apollo5.5, which version of docker_dev should I use ?

[2020-07-28 12:10] storypku commented on #11948
Maybe you can try to download `https://github.com/opencv/opencv/archive/2.4.13.2.zip` manually and save
it as say, `/home/libs/opencv-2.4.13.2.zip`. And change its url in `WORKSPACE.in` as `url="file:///home/libs/opencv-2.4.13.2.zip",`.

Btw, It seems that the `r2.0.0` branch was not maintained actively. Maybe you should change to a more recent version.

[2020-07-28 12:12] storypku commented on #11945
It's definitely a bug. We are working on fixing it.

[2020-07-28 12:21] storypku commented on #11275
I am afraid Dockerfile in the `r5.5.0` branch was broken either. As `docker_dev` branch has been merged into master already,  we can build `apollo-{cyber,dev}` images from the `master` branch now.

[2020-07-28 12:26] oska874 opened #11950 "I want to build docker images for apollo 5.5,which version of docker_dev should I use?"
1. I want to build docker images for apollo 5.5,which version of docker_dev should I use?
2. In the dev.x86-64.dockerfile, it's based on apolloauto/apollo:cyber-x86_64-18.04-20200707_1716. If I want to build a same images from ubuntu base image, how to?
3. If I use dev.x86_64.dockerfile of version 4da763f to build a docker image, is it same to apolloauto/apollo:cyber-x86_64-18.04-20200629_0512?

[2020-07-28 14:13] hongyi-zhao opened #11952 "RTK relative capabitity for the default hardware configuration on the Apollo D-Kit platform."
Hi,

One of my friends told me that by default the Apollo D-Kit hardware platform doesn't include the RTK relative hardware. So, the RTK relative capability in ApolloAuto should be unavailable for the default D-Kit suit sold by Baidu. Is this true? If this feature is required for my research project, how can I achieve this aim?

Regards
HY

[2020-07-28 17:55] rongguodong opened #11955 "Questions about calibration files"
I have some questions about calibrations:
1. We need to support more vehicles, and different sensor config for a same vehicle. So we need add more folders under /apollo/modules/calibration/data/, right?
2. Is each subfolder there (e.g. Lincoln2017MKZ_LGSVL) per vehicle or per config? In other words, if it is the same vehicle, but with different sensor config, should we create another subfolder or

[2020-07-29 07:39] ChihweiLHBird commented on #10218
I am using latest AMD RX 5700 GPU and would like to see apollo perception module works with my platform.

[2020-07-29 12:04] hongyi-zhao opened #11966 "About the current implementation status of supporting for RTK, CORS, SLAM and other similar advanced techniques in ApolloAuto."
Real-time kinematic (RTK), Continuously Operating Reference Stations (CORS) and Simultaneous localization and mapping (SLAM) are all the advanced techniques for automatic geolocation and path-tracing.

I want to know whether all of these techniques are supported and have corresponding API interfaces implemented in ApolloAuto? Furthermore, are there other more advanced techniques for this type of j

[2020-07-30 00:05] storypku commented on #11950
Hi,
1） There were no `docker_dev` versions. There was a `docker_dev` branch used for infra break-upgrade previously, now it has been merged into the `master` branch.
I am afraid `Dockerfile` in the the `r5.5.0` branch was broken.

2) See `docker/build/build_cyber.sh` for the `master` branch.  Generally, the following steps are assumed.

[code]

Where option `-g` means using apt/pip sources for **G

[2020-07-30 13:51] gsa88 opened #11980 "Failed to start can client (brand: SOCKET_CAN_RAW)"
**Describe the bug**
According to [this patch](https://www.mail-archive.com/linux-kernel@vger.kernel.org/msg1291984.html), the limit number of can_filter that can be set is 512, while socket_can_client_raw.cc has 2048 filters specified, which leads to an error starting the CAN client.

**To Reproduce**
I use SOCKET_CAN_RAW brand in the can_card_parameter and when I try to launch canbus module thro

[2020-07-30 21:31] lucasnmatias opened #11984 "[Apollo 5.5] Camera images visualization"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: Linux Ubuntu 18.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (3.5, 5.0, 5.5, 6.0)**: Apollo 5.5

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
I've been trying to configure my usb cameras on Apollo, I can successfully see

[2020-07-30 22:57] UYasher opened #11985 "Get data from Apollo/LGSVL using cyber"
### System information

- **OS Platform and Distribution (Linux Ubuntu 20.04)**:
- **Apollo installed from (source)**:
- **Apollo version (5.5)**:

### Steps to reproduce the issue:
We are trying to use the python3 api to listen to the output of Apollo and lgsvl. For example, there is a topic /apollo/control with type control_cmd. We are trying to figure out how to modify the listener.py example t

[2020-07-31 02:41] qwetqwe opened #11986 "[Planning] what is the difference between st_bounds_decider and speed_bounds_decider"
As I see, speed bounds decider and st bounds decider both project obstacle's trajectory to st graph,speed bounds decider has some map and curature constrains and st bounds decider has some vehicle constrains. So what is the difference between them

[2020-08-01 05:10] wuzp986 commented on #8046
I encountered the same problem, how did you solve it?

[2020-08-01 07:26] quhezheng commented on #11688
Code on

https://github.com/ApolloAuto/apollo/blob/7e806c7b97d32e9a95b43f8e2b9a29be55d5fdf1/modules/planning/open_space/trajectory_smoother/dual_variable_warm_start_osqp_interface.cc#L383

forgot to copy the minus symbol on line 646 in

[2020-08-01 07:49] cxr1996 opened #12000 "Some of the questions related to visual perception of version 5.5"
I saw that the YOLO model in the perception module was updated in May last year, and I found that w, H, L, and Alpha can be obtained directly through model regression. May I ask how to do it here? Was it by extra tagging and training or some other way, did you get published?

[2020-08-01 08:20] dymons commented on #11871
I got the same error. It occurred because I forgot to follow points 2 and 3 [Download Apollo Source](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md#download-apollo-source). After completing these steps, the error is gone.

[2020-08-01 08:43] HTL2018 opened #12001 "Could I use the lattice planner without the hdmap in Apollo5.0?"
I noticed that the lattice planner + relative map works in Apollo3.0 from the previous issues,  could I use the lattice planner without the hdmap in Apollo5.0?

[2020-08-01 14:04] HTL2018 commented on #5864
请问相关的问题解决了吗？我们现在也有同样的想法？

[2020-08-01 14:54] HTL2018 opened #12004 "How to generate relative map? What's the function of Navi planner of Apollo5.0?(如何生成相对地图？以及在导航规划器在Apollo5.0中能够实现什么功能？)"
### System information
- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **Apollo installed from (source)**:
- **Apollo version (5.0)**:

![image](https://user-images.githubusercontent.com/45916696/89103495-dedb4c80-d444-11ea-9c0b-380211f0b45b.png)
from the docs [docs/howto/how_to_use_apollo_2.5_navigation_mode_cn.md](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_use_

[2020-08-02 07:28] VentiOvaltine opened #12006 "Request of Supporting OpenCL"
As for now, Apollo requires a Nvidia GPU for running it, but it is the fact that many computers like MacBooks does not include a Nvidia GPU. Furthermore, Intel is about to release a new series of GPU that will not support CUDA for sure. So, it would be great to support OpenCL for Apollo to expand the accessibility of this great project.

[2020-08-02 07:32] ChihweiLHBird commented on #12006
Got the same issue here. I was working with a high-end AMD GPU, and were not able to run Apollo smoothly.

[2020-08-02 08:19] wuzp986 opened #12007 "Apollo master build error"
The same computer apollo5.0 can compile successfully, but apollo5.5 compile fails.
ubuntu18.04, NVIDIA driver, Nvidia-container-toolkit, libgomp1 have been installed.
![image](https://user-images.githubusercontent.com/57422562/89118651-c49f7e00-d4d9-11ea-940a-d21b33fb634d.png)

[2020-08-02 08:23] wuzp986 commented on #12007
root@in-dev-docker:/apollo# sudo bash apollo.sh build
[INFO] Apollo Environment Settings:
[INFO]     APOLLO_ROOT_DIR: /apollo
[INFO]     APOLLO_CACHE_DIR: /apollo/.cache
[INFO]     APOLLO_IN_DOCKER: true
[INFO]     APOLLO_VERSION: master-2020-07-13-be72024341
[INFO]     APOLLO_ENV:  STAGE=dev USE_ESD_CAN=false USE_GPU=1
[INFO] Your GPU is enabled to run the build on x86_64 platform.
[WARNING] ESD

[2020-08-02 08:45] wuzp986 opened #12008 "apollo5.0 Invalid bazel-bin link"
After apollo5.0 is successfully compiled, the bazel-bin link is invalid and cannot be debugged in vscode.
![IMG_20200722_085559](https://user-images.githubusercontent.com/57422562/89119003-3a591900-d4dd-11ea-880e-09c5d96e0e22.jpg)
![IMG_20200728_094159](https://user-images.githubusercontent.com/57422562/89119010-51980680-d4dd-11ea-9d0b-94e8aad4fa73.jpg)
![IMG_20200730_102735](https://user-images.g

[2020-08-02 08:51] wuzp986 opened #12009 "How to debug sensor fusion code in vscode"
How to start the sensor fusion unit test program and debug it in vscode?

[2020-08-03 02:32] storypku commented on #12006
Thank you for your suggestion!  Accessibility is one of  our top-priority concern since Apollo 5.5. Currently, Apollo's support for arm64 boards (e.g. Nvidia Jetson Series)  and CPU-only machines was not complete yet. In the next months, we will work on resolving this.

However, limited to the shortage of manpower and resources，we may not be able to support many features for now. We will put them

[2020-08-03 02:35] storypku commented on #12006
Could you please paste your AMD machine and GPU model, and describe the issue here ?

[2020-08-03 02:55] storypku commented on #12007
From your log, it seems that you are running the `master` branch rather than the `r5.5.0` branch.

[2020-08-03 07:52] wuzp986 commented on #12007
**According to the operation you said, after recompiling, a new error appeared.**

(07:48:07) INFO: From Compiling modules/prediction/predictor/junction/junction_predictor_test.cc:
In file included from ./modules/prediction/container/obstacles/obstacle.h:38:0,
                 from ./modules/prediction/container/obstacles/obstacles_container.h:30,
                 from ./modules/prediction/predict

[2020-08-03 09:01] storypku commented on #12007
This seems to be a CUDA-related issue. Do you have GPU enabled in the second run? Try to paste the detailed output in you reply.
BTW, login as root is discouraged. Try to start and login to Apollo `dev` container as a normal user rather than root, and run `./apollo.sh build` to see what happens.

[2020-08-03 10:11] WentaoWang-SH opened #12014 "The vehicle's heading Interface in the Dreamview"
I got a problem when I'm testing the Apollo Develop Kit.

do you know the code interface of the vehicle's heading in the Dreamview?
and the data of the vehicle's heading comes from which sensor?

Thank you very much!

[2020-08-03 10:19] wuzp986 commented on #12007
Always compile with GPU.
root@in-dev-docker:/apollo# sudo bash apollo.sh build
[INFO] Apollo Environment Settings:
[INFO]     APOLLO_ROOT_DIR: /apollo
[INFO]     APOLLO_CACHE_DIR: /apollo/.cache
[INFO]     APOLLO_IN_DOCKER: true
[INFO]     APOLLO_VERSION: master-2020-07-13-be72024341
[INFO]     APOLLO_ENV:  STAGE=dev USE_ESD_CAN=false USE_GPU=1
[INFO] Your GPU is enabled to run the build on x86_64

[2020-08-03 10:52] wuzp986 commented on #12007
i@dt:~$ export -p |grep cuda
declare -x CUDA_HOME=":/usr/local/cuda-10.0"
declare -x LD_LIBRARY_PATH="/home/i/mhl/cartographer_ws/devel_isolated/cartographer_rviz/lib:/home/i/mhl/cartographer_ws/install_isolated/lib:/home/i/lxx/lxxlxx_ws/devel/lib:/home/i/mhl/darknet_ws/devel/lib:/opt/ros/melodic/lib:/usr/local/cuda-10.0/lib64"
declare -x PATH="/home/i/mhl/cartographer_ws/install_isolated/bin:/opt

[2020-08-03 11:00] storypku commented on #12007
As described in https://github.com/ApolloAuto/apollo#getting-started , the `master` branch now requires CUDA toolkit `10.2` to run. So please update CUDA toolkit to version `10.2+` with NVIDIA driver `440.33+` on your host first.

[2020-08-03 18:09] jinghaomiao commented on #12008
@wuzp986 thanks for using Apollo. We have not tested debugging inside vscode. Please work with vscode team on how to do it. This ticket is being closed. Please feel free to open new issues if you have any. Thank you~~

[2020-08-03 18:09] #12008 closed

[2020-08-03 18:16] jinghaomiao commented on #11966
@hongyi-zhao thanks for using Apollo. Currently Apollo has RTK implementation (https://github.com/ApolloAuto/apollo/tree/master/modules/localization/rtk). You are welcome to implement your own localization algorithm and contribute that to our code repo. This ticket is being closed. Please feel free to raise new issues if needed. Thanks!

[2020-08-03 18:16] #11966 closed

[2020-08-03 18:18] jinghaomiao commented on #11984
@diegohu please take a look at this issue to help with USB cam in Apollo 5.5.

[2020-08-03 18:21] jinghaomiao commented on #12006
@VentiOvaltine @ChihweiLHBird Thanks for using Apollo. We'll keep this in mind and let you know if there's any update on this. @ChihweiLHBird We have never tested that on GPUs other than nVidia and cannot support provide the full suppor to that.

[2020-08-03 18:46] jinghaomiao commented on #12009
@wuzp986 We have never tested debugging Apollo in vscode. Please feel free to contribut new ideas and methodologies. This ticket is being closed. You are welcome to open new issues if needed. Thanks again for using Apollo.

[2020-08-03 18:46] #12009 closed

[2020-08-03 18:50] jinghaomiao commented on #12001
@HTL2018 No you won't be able to use lattice planner without HDMap. HDMap is mandatory. Thanks again for using Apollo. This issue is being closed. Please feel free to raise new issues if needed. Thanks again for using Apollo.

[2020-08-03 18:50] #12001 closed

[2020-08-03 19:36] lucasnmatias commented on #11984
Actually I figured out the problem. I have been setting up the docker environment with root permissions and it seems that this have "messed up" with everything. After pulling again the apollo repo and running everything without sudo, the cameras worked as a charm. I'll close the issue and this here in case anyone have a similar problem.

[2020-08-03 19:36] #11984 closed

[2020-08-03 19:37] jinghaomiao commented on #11860
@oska874 thanks for using Apollo. We don't support newton-m1 at this time. If there's any update on that, we'll keep everyone updated. This ticket is being closed and please feel free to open new issues if needed.

[2020-08-03 19:37] #11860 closed

[2020-08-03 19:46] jinghaomiao commented on #11854
@jimmyw404 Thanks for using Apollo. We have never tested start on boot feature either offline or onboard. This is a safety related figure and we do suggest that you test it with enough inspection and caution before loading it onboard. Please share your experience. This ticket is being closed and please feel free to open new issues if needed. Thanks!

[2020-08-03 19:46] #11854 closed

[2020-08-03 21:28] VentiOvaltine opened #12023 "modue not found error"

[2020-08-03 22:14] salmanee opened #12024 "[sim_control][dreamview][planning] Planning module not creating trajectories on DreamView when replaying a ROS bag"
### System information
- **OS Platform and Distribution:** Linux Ubuntu 18.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (3.5, 5.0, 5.5, 6.0)**: 5.5

### Steps to reproduce the issue:
**Main goal:** I want to manually modify the contents of a ros bag that corresponds to a specific scenario that I created using dreamland (ex. modify the initial state of the adc in the

[2020-08-04 01:03] wuzp986 commented on #11950
The problem has been solved, thank you very much!

[2020-08-04 01:05] wuzp986 commented on #12007
The problem has been solved, thank you very much!

[2020-08-04 01:05] #12007 closed

[2020-08-04 03:58] changsh726 commented on #12023
Have you run `source cyber/setup.bash` ?

[2020-08-04 07:23] ForresterLu commented on #12023
Are you running apollo 5.5 master or pre6?

[2020-08-04 09:37] ashwinsarvesh opened #12030 "Question: Usage of CAN bus data of LGSVL"
Hello,

I use LGSVL simulator and Apollo 3.0
I want to pack the [CAN bus sensor data of the LGSVL](https://www.lgsvlsimulator.com/docs/sensor-json-options/#can-bus) into CAN messages and send it to the CAN bus using a USB-CAN adapter. How can I do this?
I know that Apollo receives this via topic /apollo/canbus/chassis.
Please help!!!!!!!

[2020-08-04 12:40] ForresterLu opened #12033 "How to locate the object around the ego vehicle?"
Hello team,

Recently, I am working on Apollo 5.0 and I try to obtain the location(like: x, y, z) of the objects around the ego vehicle, the objects can be NPC vehicle, pedestrain, and so on. Is there any way for me to obtain the position?

[2020-08-04 14:23] storypku commented on #11950
U r welcome.

[2020-08-04 17:07] jmtao commented on #12033
@ForresterLu You can get it from the message published by perception module. "/apollo/perception/obstacles".
The proto is defined at: https://github.com/ApolloAuto/apollo/blob/master/modules/perception/proto/perception_obstacle.proto#L169
You can find the location(x,y,z) for each obstacle via this field: https://github.com/ApolloAuto/apollo/blob/master/modules/perception/proto/perception_obstacle.

[2020-08-04 17:10] jmtao commented on #12024
@salmanee You need to keep prediction (/apollo/prediction). It is mandatory for planning module to run.

[2020-08-04 17:36] jmtao commented on #11268
Hi @salmanee , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-08-04 17:36] #11268 closed

[2020-08-04 17:37] jmtao commented on #11484
Hi @HubFire , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-08-04 17:37] #11484 closed

[2020-08-04 17:38] #11798 closed

[2020-08-04 17:52] jmtao commented on #11756
@JackRen88 it's hard for us to reproduce it. Can you please try debugging the coredump file?

[2020-08-04 19:49] VentiOvaltine commented on #12023
I am following the latest version of apollo in LGSVL document, it does not
have a number but I think it is 5.5. How can I check which version it is
because it does not specify which one just say “ latest”

Thank you!

On Tue, Aug 4, 2020 at 12:23 AM Chengjie Lu <notifications@github.com>
wrote:

[2020-08-04 21:03] VentiOvaltine commented on #12023
Yes. I did that and then run the python scripts

[2020-08-04 21:13] jinghaomiao commented on #12030
@ashwinsarvesh thanks for using Apollo. Please refer to https://github.com/ApolloAuto/apollo/tree/master/modules/drivers/radar for sensors with CAN interfaces (radar, or smarteye).

[2020-08-04 22:26] sjiang2018 commented on #11821
Hello, there. In park and go scenario, the planner can guide a car from a parking lot when the lane heading error is 90 degree.[Here is how](https://github.com/ApolloAuto/apollo/blob/db9097ef3b70fb11c88c449aabfccd09972c4ed3/modules/map/pnc_map/pnc_map.cc#L498)

[2020-08-05 00:47] wuzp986 opened #12039 "How to start the perception module in Dreamview?"
Open the Camera, Velodyne, and Percetion modules on the ModuleController page, but Radar cannot be opened, and there is no message output on the cyber_channel echo obstacles topic in the terminal. How to correctly enable the Percetion function in Dreamview?

[2020-08-05 01:32] jinghaomiao commented on #12039
Toggle on velodyne and radar sensors in module controller, and make sure they have the correct outputs in the appropriate channels. And then toggle on perception in module controller. You have to choose a map before doing so. Thansk for using Apollo.

[2020-08-05 01:39] ForresterLu commented on #12033
@jmtao Thanks for your reply, I have check the `perception_obstacle` [file](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/proto/perception_obstacle.proto), but I don't know how it works, and I have several questions as following?

[2020-08-05 02:25] salmanee commented on #12024
Tried keeping /apollo/prediction and still running into the same issue.

[2020-08-05 03:11] JasonZhou404 commented on #11986
St bounds decider serves as an rule-based st space decision making task. Speed bounds decider serves to create st constraints for the speed optimizers

[2020-08-05 04:53] storypku commented on #12023
Generally, 'latest' means latest `master`. Could you paste the LGSVL doc link here ?

[2020-08-05 05:10] ForresterLu commented on #12023
Seems you are running on apollo-5.5 [master](https://github.com/ApolloAuto/apollo) if you follow the instruction [here](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/), but apollo master is not stable now, the perception module might not working in latest master.
You can refer [#issue864](https://github.com/lgsvl/simulator/issues/864) and [#issue11818](https://github.com/ApolloAut

[2020-08-05 05:15] VentiOvaltine commented on #12023
https://www.lgsvlsimulator.com/docs/apollo-master-instructions/

On Tue, Aug 4, 2020 at 10:11 PM Chengjie Lu <notifications@github.com>
wrote:

[2020-08-05 05:19] ForresterLu commented on #12023
@xiaoxq Yes, you can running on apollo-master which is the latest master.

[2020-08-05 06:21] younggam94 opened #12040 "pytorch version for apollo 5.0 aarch64"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 16.04
- **Apollo installed from (source or bina

[2020-08-05 07:24] ashwinsarvesh commented on #12030
Thank you
Does Apollo provide support to [socketcan ](https://en.wikipedia.org/wiki/SocketCAN )framework of Linux?
I mean can I send can messages to the can interface connected to my PC from Apollo using socketcan

[2020-08-05 07:56] VentiOvaltine commented on #12023
I am using AMD GPU which does not support perception system. Currently I am working on how to read Lidar sensor data for EGO vehicle not obstacles, does it need a perception module working?

[2020-08-05 07:58] AlexandrZabolotny commented on #11936
Hi
I have solved this problem.
There seems to be a problem in the formation of the point cloud by the simulator.

I changed [this function](https://github.com/ApolloAuto/apollo/blob/1e6821ec8cfec6907a885df826500496e0545fdc/modules/localization/msf/local_tool/data_extraction/pcd_exporter.cc#L61)

[code]
And now all OK

[2020-08-05 07:59] #11936 closed

[2020-08-05 08:00] AlexandrZabolotny commented on #11483
The solution to this problem

https://github.com/ApolloAuto/apollo/issues/11936

[2020-08-05 08:00] #11483 closed

[2020-08-05 08:01] #11384 closed

[2020-08-05 08:01] Avps1 opened #12041 "Query : Does any node inside the Perception module subscribe to the Perception Module"
Hi,
I have the following query regarding the Perception module of Apollo.
Do any of the nodes like TrafficLight Detection, Lane Flow Detection, etc, which are inside the Perception module, subscribe to the final output of the Perception module (ie final traffic type and final object type, published via the trafficlights_perception_component.cc and fusion_component.cc respectively)?

Thanks in adva

[2020-08-05 09:22] ChihweiLHBird commented on #12006
Thank you very much for your response. The GPU model I got is AMD RX 5700. And the perception model only support CUDA with Nvidia GPU, according to the document.

[2020-08-05 09:39] ChihweiLHBird opened #12043 "Question: How To Collect Sensor Data (Camera, Localization, and Lidar) of EGO Vehicle In Cyber RT Runtime?"
We are working on a project, and we would like to record all the sensor data in the runtime and save it to a file. We tried a Python script:
[code]
But it failed to import `CompressedImage` and said `modules.drivers.proto.sensor_image` is not a module.

We also tried the developer tool, `cyber-recorder`
https://cyber-rt.readthedocs.io/en/latest/CyberRT_Developer_Tools.html?highlight=sensor%20data#

[2020-08-05 09:51] diegohu commented on #11952
I do not quite understand the meaning of "RTK relative capability".
Apollo localization is based on RTK, so the navigation device in D-KIT also support RTK. Meantime, you need to setup a RTK base station or buy a RTK base station service to enable RTK. And the base station related hardware/service is not included in D-KIT's scope.

[2020-08-05 09:59] diegohu commented on #12014
Heading information came from /apollo/sensor/gnss/heading channel by navigation device.

[2020-08-05 10:02] diegohu commented on #12014
About the "code interface of the vehicle's heading in the Dreamview", @unacao, could you give some advices?

[2020-08-05 10:57] daohu527 commented on #12033
## Record cmd
There is already a tool "cyber_recorder" that records runtime informations, including "obstacles" and other messages. You can use it to save runtime data in a file with the suffix ".record".
[code]
Then you can use below command the play the file and see the message in "cyber_monitor".
[code]

The cyber_recorder help [doc](https://github.com/ApolloAuto/apollo/blob/bf2b3730835fd5a98f9

[2020-08-05 11:00] daohu527 commented on #12030
Seems Apollo already support socket can, you can ref to "modules/drivers/canbus/can_client/socket"

[2020-08-05 11:32] AlexandrZabolotny commented on #9826
Hello @alexbuyval
Can you share your experience? How did you manage to run multisensory localization on the lgsvl_simulator?

I was able to build a local map using the simulator data.
But, when I run the command
cyber_launch start /apollo/modules/localization/launch/msf_localization.launch

**I get this error**
![Screenshot from 2020-08-05 09-38-25](https://user-images.githubusercontent.com/613515

[2020-08-05 11:55] daohu527 commented on #12043
No sure what's the problem. But there is no problem with your method, I think it may be other error.

1. Make sure there are sensor messages use "cyber_monitor"
2. Check if there is an error log when running "cyber-recorder" ?

[2020-08-05 12:01] daohu527 commented on #12041
As you said "Inside the Perception module subscribe to the final output of the Perception module". I haven't found it yet.

[2020-08-05 15:04] liukr001 opened #12044 "apollo 控制模块使用了 超前滞后 这个控制算法了吗"
System information
- **OS Platform and Distribution (Linux Ubuntu 18.04)**:
- **Apollo installed from (source )**:
- **Apollo version (5.5,)**:
最近在看control模块里面的内容，再commom目录下有超前滞后的控制算法，但是再controller目录下具体的控制算法代码中、并没有发现有使用它的记录。如果要使用，需要怎么配置呢

[2020-08-05 16:54] jmtao commented on #12043
@ChihweiLHBird you can refer to these scripts as sample code:
https://github.com/ApolloAuto/apollo/blob/master/scripts/record_bag.py

[2020-08-05 17:13] jmtao commented on #12024
@salmanee go to <apollo>/data/log folder, and take a look at most recent planning logs (INFO.*, ERROR.*).

[2020-08-05 18:15] unacao commented on #12014
Dreamview reads the ego car heading from localization topic https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/backend/simulation_world/simulation_world_service.cc#L458

[2020-08-05 18:59] Capri2014 commented on #12044
Do you mean the lead-lag filter ? No in latest master, it is been replaced by MRAC since the later one is more easier to balance agility vs robustness as well as more easier in self parameter adaption. Thus more suitable for Apollo which needs to support different vehicle platforms.

[2020-08-05 18:59] #12044 closed

[2020-08-05 19:00] Capri2014 commented on #12030
Looks like this has been resolved.

[2020-08-05 19:00] #12030 closed

[2020-08-05 19:03] dymons commented on #11849
The first error indicates that the libboost_filesystem library couldn't be found. Execute the command:
[code]
You will see the following result
[code]
If not, see which library versions are available and install one of them
[code]

[2020-08-05 19:07] Capri2014 commented on #11929
The data_collector.py and corresponding tools are really out of date and we are thinking of remove them from latest master, the latest control calibration and vehicle dynamics model has been opened as service with detailed instructions here: https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md

[2020-08-05 19:07] #11929 closed

[2020-08-05 19:10] Capri2014 commented on #11874
https://github.com/ApolloAuto/apollo/blob/master/modules/canbus/proto/chassis.proto

[2020-08-05 19:10] #11874 closed

[2020-08-05 19:15] jinghaomiao commented on #12043
@michael4338 can you please help?

[2020-08-05 19:18] jinghaomiao commented on #12041
Nope. A cyclic subscription is not supported and not encouraged in Apollo. This ticket is being closed. Please feel free to reaise other issues if needed. Thanks for using Apollo.

[2020-08-05 19:18] #12041 closed

[2020-08-05 19:19] jinghaomiao commented on #12040
Torch is not supported in ARM docker environment at this moment. If there's any update on ARM docker image, we'll keep you updated. This ticket is being closed. Please feel free to reaise other issues if needed. Thanks for using Apollo.

[2020-08-05 19:19] #12040 closed

[2020-08-05 19:25] michael4338 commented on #12043
@jinghaomiao sure thing

I think @daohu527 and @jmtao made good points
1. first please make sure the topic "/apollo/sensor/camera/front_6mm/image/compressed" is present in cyber_monitor
2. second you can run https://github.com/ApolloAuto/apollo/blob/master/scripts/record_bag.py (`python record_bag.py --all`) to record it

[2020-08-05 23:52] Capri2014 commented on #11980
@gsa88 Thanks for reporting this issue, and the corresponding fix #12047 has been merged.

[2020-08-05 23:52] #11980 closed

[2020-08-06 03:25] HTL2018 commented on #12004
@yifeijiang @jmtao @lemketron @hugomatic
Looking forward to your replay. Thank you very much.

[2020-08-06 03:38] ChihweiLHBird commented on #6916
@storypku Can you tell me is RTX 2080 supported by `pre6` version of Apollo? We plan to buy a GPU and would like to know what's the best GPU that is supported by Apollo at this time or a near future. Thank you!

[2020-08-06 03:54] storypku commented on #6916
RTX 2080 cards was fully supported by the `master` branch. As for `pre6`,  I am afraid RTX 2080 would run in backward compatible state only. There was no easy way for `pre6` to take full advantage of RTX 2080 cards. And that's the main reason we made great effort to breaking upgrade this new `master` branch.

[2020-08-06 04:09] ChihweiLHBird commented on #6916
Thank you for your response.

[2020-08-06 05:28] storypku commented on #6916
As RTX 2080 is now fully supported by the `master` branch, I am going to close this issue. Thanks all for supporting Apollo. If you have any other questions, please file a new issue any time.

[2020-08-06 05:28] #6916 closed

[2020-08-06 05:29] leigetiwen commented on #5105
how to solve  this problem

[2020-08-06 06:28] wuzp986 commented on #12039
1. Open the "Sim Control" button in Figure 1;
2. Open the Camera, Velodyne, Perception options in Figure 2;
3. Why does Radar turn off automatically after opening?
4. How to start the perception module in offline simulation mode through the Dreamview interface?
![Dreamview1](https://user-images.githubusercontent.com/57422562/89498411-c9717400-d7f0-11ea-9829-0230f9380d91.png)
![dreamview2](https://

[2020-08-06 06:31] ForresterLu commented on #12033
Thank you, I will try it.

[2020-08-06 06:33] wuzp986 opened #12051 "What is the difference between FuseForeground and Fusebackground?"
What is the difference between "FuseForegroundTrack(frame)" and "FusebackgroundTrack(frame)" in the fusn module?

[2020-08-06 06:39] wuzp986 opened #12052 "How does the fusn module obtain the obstacle information detected by the sensor?"
How is the obstacle information detected by Radar, Camera, and Lidar transmitted to the fusn module? Is it through the topic?

[2020-08-06 14:33] ashwinsarvesh opened #12056 "Question: Regarding changing the ADAS algorithms of Apollo"
Hello,

I am doing a project which requires me to develop a software program. This program has to send software updates that modify the Apollo's ADAS algorithms (similar to OTA updates). And I have to validate whether the changes work using LGSVL simulator
Can I connect with someone who has already worked on a similar topic or someone in this community can guide me?

I use Apollo 3.0

[2020-08-06 17:12] #12033 closed

[2020-08-06 17:18] jmtao commented on #11847
@kdheejb7 The error message from planning module indicates the planning hasn't received routing.
How did you create routing? Was planning started and running fine before the routing was generated?

[2020-08-06 19:19] jinghaomiao commented on #12039
1) Sim Control only works in offline playback mode. It won't be useful for onboard road test
3) Without connecting to radar device, the module will not be able to turn on as it checks the hardware. So it won't work in offline playback mode
4) You need to play a data record with raw sensor data (lidar and radar) and then turn on perception in offline playback mode so that perception module would wo

[2020-08-06 19:21] jinghaomiao commented on #12056
@ashwinsarvesh thanks for using Apollo. The funtion is not supported in Apollo yet. The team will keep you updated if there's an update on that. Thanks again. This ticket is being closed. Please feel free to raise other issues if needed.

[2020-08-06 19:21] #12056 closed

[2020-08-06 20:06] salmanee commented on #12024
@jmtao Thanks for your response! I checked the log files and it seems like something went wrong in the reference_line_provider.cc:
`E0806 12:24:38.497555 39814 reference_line_provider.cc:538] Failed to extract segments from routing
E0806 12:24:38.497560 39814 reference_line_provider.cc:580] Failed to create reference line from routing
E0806 12:24:38.497613 39814 reference_line_provider.cc:203] Fai

[2020-08-06 20:50] ashwinsarvesh commented on #12056
Hello @jinghaomiao
Thank you for your reply.
I know that it is not supported by Apollo. But I am trying to connect with people who are working on a similar topic.
If this is not the right forum to ask this question, could you tell me where to post this question :)

[2020-08-07 00:11] jmtao commented on #12024
@salmanee is the map used by the bag, the same as the one you select from DreamView?

[2020-08-07 01:19] salmanee commented on #12024
@jmtao yes.. Sunnyvalle

[2020-08-07 01:40] lemketron commented on #6916
Does this mean perception is working again in master on RTX 2080? If so, can you say which commit that was? I'm investigating a report that it's still not working (as of yesterday).

If it is fully working then this means RTX users can use stop using the pre6 branch and switch to master?  Thanks!

[2020-08-07 02:17] diegohu commented on #11952
Some of D-KIT users used qianxun FindCM service to get RTK capability. And you can access the service via 4G network.
Again, I strongly recommend to use the "D-KIT feedback tool" to raise any question about D-KIT :)

[2020-08-07 02:26] hongyi-zhao commented on #11952
@diegohu Thank you very much for your suggestions and reply.

[2020-08-07 04:05] jayjayhee commented on #12007
I met this save issue, but I'm pretty sure the UCDA toolkit and NVIDIA driver are up-to-date. Is there anything I missed?

(03:49:40) ERROR: /apollo/modules/map/pnc_map/BUILD:7:13: error while parsing .d file: /apollo/.cache/bazel/540135163923dd7d5820f3ee4b306b32/execroot/apollo/bazel-out/k8-fastbuild/bin/modules/map/pnc_map/_objs/cuda_pnc_util/cuda_util.pic.d (No such file or directory)
gcc: warn

[2020-08-07 05:14] jayjayhee commented on #11945
Hi, I met the same issue, I used build_cpu as well and it looks like CUDA is being looked for. I noticed that another friend met something similar in case #12007 but I believe he used build instead of build_cpu. Are there any updates on this bug？

[2020-08-07 10:27] storypku commented on #11945
The case in #12007 have GPU enabled. Currently, our build scripts have not been ready  for CPU only build yet, esp. for CUDA related targets.

[2020-08-07 10:53] JackRen88 commented on #11653
@whuxhzhang
Hello,how to get Apollo HDMap with .xml format,is there any  tool to convert Apollo .txt file to .xml file?

[2020-08-07 17:12] lemketron commented on #6916
Can we please re-open this issue until perception is fixed in master for the RTX-20x0 GPUs?

[2020-08-07 17:17] storypku commented on #6916
What about create a new issue ?

[2020-08-08 03:11] younggam94 opened #12067 "aarch 64 map build error"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 16.04
- **Apollo installed from (source or bina

[2020-08-08 03:40] rubingLi opened #12068 "Install apollo in centos system"
Since apollo is running in a docker container, can I install docker in the centos system and then install apollo?
既然apollo是运行在docker 容器中，那么我可以在centos系统中安装docker，然后安装apollo吗

[2020-08-08 05:08] liukr001 opened #12069 "Protobuf with bazel"
I download the Protobuf repo to my local computer,
and in the workspace how do I configure it to compile with Bazel.
Workspace has the following contents
 local_repository(
    name = "com_google_protobuf",
    path = "/home/ws/protobuf-3.12.3/",
  )
What else do I need to configure.Thanks

[2020-08-08 05:44] liukr001 commented on #12069
and what causes this problem
 //main:t1.out
    //main:t1_lib
    //proto:t1_cc_proto
    //proto:t1_proto
.-> @com_google_protobuf//:protoc (host)
|   @com_google_protobuf//:protoc_lib (host)
|   @com_google_protobuf//:protobuf (host)
|   @com_google_protobuf//:src/google/protobuf/unittest_proto3_arena.pb.h (host)
|   @com_google_protobuf//:cc_test_protos_genproto (host)
|   @com_google_protobuf/

[2020-08-08 06:58] storypku commented on #12067
This aarch64 image was expected to run on NVidia Jetson boards (TX2, Xavier, ...). However, as I said in other issues, our support for aarch64 was not complete yet. I personally had only tested dev.aarch64 image for building and testing the CyberRT framework. Hopes that we can make dev.aarch64 ready in the next few months. Once we are ready, we should have everyone noticed.

[2020-08-08 07:11] storypku commented on #12069
This issue is about `Protobuf` and `Bazel`. Maybe you should take a look at https://github.com/bazelbuild/rules_proto for how to compile proto targets using Bazel.

If you want to understand how Apollo use Bazel for building proto targets, see: [WORKSPACE:L18](https://github.com/ApolloAuto/apollo/blob/master/WORKSPACE#L18) , [third_party/protobuf/workspace.bzl] (https://github.com/ApolloAuto/apoll

[2020-08-08 07:19] daohu527 commented on #12068
It seems feasible, but I don’t think it is recommended.

First, you need to make sure that the kernel version of the system is the same. Second, you need to pay attention to whether some library files are compatible.

[2020-08-08 07:19] #12069 closed

[2020-08-08 07:29] storypku commented on #12068
I think It should be relatively easy to install Apollo docker on a CentOS system. But we haven't test this yet. You can have a try if you have some experience developing on Linux and using docker. Share your experience with everyone here if you would like.

[2020-08-08 13:03] ashwinsarvesh opened #12070 "Help needed: Apollo 3.0 ADAS algorithms"
Hello,

I am doing a project which requires me to develop a software program. This program has to change Apollo's ADAS algorithms. And I have to validate whether the changes work using the LGSVL simulator.

So the problem now is, in the [Perception folder](https://github.com/ApolloAuto/apollo/tree/v3.0.0/modules/perception), a lot of folders are there which contains a lot of files. But I do not ge

[2020-08-08 15:01] JackRen88 commented on #11181
Hello,everyone!
where can i get apollo opendrive sample data?

[2020-08-09 03:51] liukr001 opened #12071 "mainboard 是怎么启动模块并读取参数的？"
启动模块的具体过程，比如用cyber_launch start  xxxx.launch 启动，
调用mainboard函数，里面是怎么解析 dag文件，并且怎么通过dag文件读取xxx.pb.txt
参数配置文件？
我在看这部分的代码的时候，层层找，最终看到的具体执行语句是：
google::SetCommandLineOption("flagfile", flag_file_path.c_str());
这个语句式检查gflag 里面定义的变量 flagfile 和  flag_file_path.c_str()  是否一致,那也就是说，
在此之前已经定义了 flagfile 变量的值，但是好像也没有看到有定义它呢？
除此之外，并没有进行读取xxx.pb.txt操作。
谢谢

[2020-08-09 07:14] qwetqwe opened #12072 "[Planning] what is the difference between PIECEWISE_JERK_SPEED_OPTIMIZER and PIECEWISE_JERK_NONLINEAR_SPEED_OPTIMIZER"
As I see in lane_follow_config, there are two tasks  PIECEWISE_JERK_SPEED_OPTIMIZER and PIECEWISE_JERK_NONLINEAR_SPEED_OPTIMIZER. It seems that they both use QP to smooth the st path,what is the difference between them?

[2020-08-09 09:23] daohu527 commented on #12070
## Architecture
In general, you can refer to this process, which outlines **traffic signal detection, lane/flow detection, object detection**. [doc](https://github.com/ApolloAuto/apollo/blob/b6e75a642afba7ff9fc07bb00a4e750e17a22347/modules/perception/Perception_README_3_5.md#architecture)

In addition, you can distinguish different modules based on the sensor. Taking camera as an example, it inclu

[2020-08-09 09:35] ashwinsarvesh commented on #12070
Hello, Thank you for your reply.
I guess your answers are based on the latest Apollo.
Can you help me with Apollo 3.0?

[2020-08-09 10:12] daohu527 commented on #12071
## Enter
Use "module_args.ParseArgument(argc, argv)" to get parameters.
https://github.com/ApolloAuto/apollo/blob/6def7aa571700b34fb4a28baa9a75d9212628b7a/cyber/mainboard/mainboard.cc#L27-L36

You are talking about the way to get "flag_file_path", but not "config_file_path". And .pb.txt is in config_file_path.
https://github.com/ApolloAuto/apollo/blob/6ad8ef304edb14aa9b00e871dcd06f103ac95d5b/modul

[2020-08-09 10:15] daohu527 commented on #12070
This Note will help [Apollo-Note](https://github.com/YannZyl/Apollo-Note)

[2020-08-09 15:29] ntutangyun opened #12073 "[Perception] Lidar Obstacle Detection fails to detect random shape obstacle."
Issue
---

Hi team,

Recently I've been trying Apollo's lidar perception module with LGSVL simulator.
I generated a bunch of random-shaped obstacles, and Apollo lidar detection fails to detect some of them.

Here's one example.
![random_shape_not_detected_static2](https://user-images.githubusercontent.com/16061105/89735761-5a697900-da97-11ea-9b12-edd1e2680b60.png)

Steps to reproduce
---
here's a

[2020-08-09 16:06] liukr001 commented on #12071
Hi, I reviewed the content under the component file and the content in xxxcomponent.cc under each module and the inheritance relationship between them; I probably understood it.

But there is still a problem, such as
The variables in the planning.conf file should be defined in planning_gflags.h before they can be used again (or can be reassigned in the planning.conf file);
If the variables in the

[2020-08-09 16:08] liukr001 commented on #12071
你好，我重新看了下component文件下的内容以及各个模块下的xxxcomponent.cc中的内容和它们之间的继承关系；我大概看懂了。

但是还有个问题，比如在
planning.conf文件里面的变量，是不是都应该在planning_gflags.h里面定义后，才能在再使用（或者在planning.conf文件里面才可以重新赋值）；
如果planning.conf文件里面的变量，没有在planning_gflags.h里面定义，程序会报错吧。之前在做Dkit的实验，按照教程添加了一些新的变量之后，出现错误，提示添加的那些变量序列化失败,后来把添加的变量删除了，就没有报错。

[2020-08-10 08:26] aidenyao opened #12076 "/apollo/cyber/BUILD:59:1: no such package '@fastrtps//'"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Apollo installed from source**:
- **Apollo

[2020-08-10 09:06] jeroldchen commented on #12052
Yes, through an inner topic named "/perception/inner/PrefusedObjects".

[2020-08-10 11:44] storypku commented on #12076
This was an issue on Bazel external dependencies. To use Apollo as a submodule, please use the latest `master` branch for an easy experience.

The following was an example on how to enable it.

[code]

[2020-08-10 12:37] storypku commented on #12076
Please refer to [Bazel: Transitive Dependencies](https://docs.bazel.build/versions/master/external.html#transitive-dependencies) for a thorough understanding.

[2020-08-10 12:56] ashwinsarvesh opened #12082 "Question: DNN Used"
Hello,

Which DNN does Apollo 3.0 and Apollo 5.0 use?

[2020-08-10 13:29] qwetqwe commented on #11821
@sjiang2018 ,thanks for your reply ,problem has solved

[2020-08-10 13:29] #11821 closed

[2020-08-10 13:44] ntutangyun commented on #12082
I only know that for Apollo 5.5, there are neural networks used in the [Perception](https://github.com/ApolloAuto/apollo/tree/pre6/modules/perception) and [Prediction](https://github.com/ApolloAuto/apollo/tree/pre6/modules/prediction) module.

[2020-08-10 13:51] ashwinsarvesh commented on #12082
Thank you for your response
I wanted to know the Neural networks used for 3.0 and 5.0 for perception.
Can someone provide this info?

On Mon, 10 Aug 2020, 15:45 Tang Yun, <notifications@github.com> wrote:

[2020-08-10 14:32] ntutangyun opened #12085 "[perception] apollo lidar obstacle detection messed up by a random shape object."
Issue
---

Hi team,

Recently I've been trying Apollo's lidar perception module with LGSVL simulator.
I've encountered the following case:
* when there is no random-shape obstacle added, the lidar perception works fine. ([recording by cyber_recorder](https://drive.google.com/file/d/1IdbZEgTKfpYpaVC4YOzzS6qne7aKzHJd/view?usp=sharing))
* when a random-shape obstacle added in front, the number of obs

[2020-08-11 00:09] dfremont opened #12088 "Perception module won't start with RTX 2080 Ti"
Per @lemketron and @storypku's discussion [here](https://github.com/ApolloAuto/apollo/issues/6916#issuecomment-670621537), I'm opening a new issue about the Perception module not working on my machine, which has an RTX 2080 Ti. Please let me know if there's any additional information I can provide to help debug the problem.

**Describe the bug**
The Perception module will not start. When activated

[2020-08-11 02:32] jinghaomiao commented on #12043
@ChihweiLHBird Hope your questions are answered.  This ticket is being closed. Please feel free to raise new issues if needed. Thanks for using Apollo.

[2020-08-11 02:32] #12043 closed

[2020-08-11 02:36] jinghaomiao commented on #12006
@VentiOvaltine @ChihweiLHBird This ticket is being closed. Please feel free to raise new issues if needed. You are more than welcome to let us know your experience with AMD GPUs and contribute your code. Thanks for using Apollo.

[2020-08-11 02:36] #12006 closed

[2020-08-11 02:38] jinghaomiao commented on #12088
@dfremont Perception had coredump and was fixed. Please pull the latest update and let us know how it works. Thanks for using Apollo.

[2020-08-11 03:33] rubingLi opened #12090 "Parse out information from demo_2.0.bag"
Is there any tool that can parse out information from demo_2.0.bag？

[2020-08-11 04:22] storypku commented on #12076
This issue should be closed now as it has more to do with `Bazel` than with `Apollo`.  If you has other questions, please feel free to create another issue.

[2020-08-11 04:22] #12076 closed

[2020-08-11 06:30] qwetqwe commented on #11986
@JasonZhou404 ,thanks for you reply. I understand that st_bounds_decider generates a drivable st area considering about driving limits, speed decider only has obstacles boudaries. But why does the area of st_bound_decider also consider [obstacles boundaries.](https://github.com/ApolloAuto/apollo/blob/429d9f4929b35b947de752155069d5d1f4aefb3d/modules/planning/tasks/deciders/st_bounds_decider/st_boun

[2020-08-11 07:43] JackRen88 opened #12094 "pull apollo image failed"
Hello,apollo team!
I have got apollo 5.0 branch,however,when I pull apollo image files,there is a error that is i/O timeout or handshake timeout,how should I solve the problem?

[2020-08-11 09:38] #12094 closed

[2020-08-11 10:29] storypku commented on #11950
This issue is going to be closed now. If you have any further questions, please feel free to create a new issue.
Thanks for using Apollo.

[2020-08-11 10:29] #11950 closed

[2020-08-11 10:36] storypku commented on #11824
FYI, `dev_start.sh` can succeed for `aarch64` Jetson boards on the `master` branch as of today, although many third libraries was missing as of now.

[2020-08-11 14:17] lfcarol commented on #12088
The "RTX 2080 Ti" have been supported by the docker image. And I guess maybe the others reason can't work normally. Please wait me check it tomorrow.

[2020-08-11 15:19] ntutangyun commented on #12073
Here is the update of another run. In this case, I placed a normal vehicle aside to show that the Perception is at least doing something.

[recording file](https://drive.google.com/file/d/1vj39Q5W8lgGbayY56F9kL7MTIWo_V67K/view?usp=sharing)

[Video](https://drive.google.com/file/d/10eEIEM3Dg6PoQXDW2n3gBg0qzO18TTKq/view?usp=sharing)

[2020-08-11 17:39] miewan opened #12101 "Apollo Auto adapter_manager.h not found in Apollo 3.0"
I am trying to create IR for each files in Apollo Auto 3.0 using clang++

For files modules/tools/planning/planning_stats.cc, I get an error 'modules/common/adapters/adapter_manager.h' file not found

And I look at the directory, and there is no adapter_manager.h

Can anyone please tell me why this file is missing from apollo auto 3.0?

I also have the same error with terminal.cc file too

[2020-08-11 17:46] rongguodong commented on #12088
I pulled the latest master and still cannot start "perception" module. When I tried to start it manually in command line, I got the following errors:

[guodong@in-dev-docker:/apollo]$ cyber_launch start modules/perception/production/launch/perception.launch
[cyber_launch_11585] INFO Launch file [/apollo/modules/perception/production/launch/perception.launch]
[cyber_launch_11585] INFO =============

[2020-08-11 17:47] rongguodong commented on #12088
BTW: The latest master seems missing environment setting. I have to do "source cyber/setup.bash" before I can run any cyber commands (e.g. cyber_monitor, cyber_launch, etc.). Is this a new bug?

[2020-08-11 17:59] jinghaomiao commented on #12088
Camera based perception is not working at this moment because of system and dependency upgrade. Please either use the toggle box on dreamview to turn on perception, or use "apollo/modules/perception/production/launch/perception_lidar.launch" to launch lidar based perception.

[2020-08-11 18:00] jinghaomiao commented on #12088
@storypku @changsh726 please take a look

[2020-08-11 18:13] rongguodong commented on #12088
Does it mean the "traffic light" detection is also not working?

This case has been there for long time. Do you have any target date to fix it?

[2020-08-11 18:32] jinghaomiao commented on #12088
Traffic light is not working either. The team is working on an upgrade. Thanks!

[2020-08-11 18:49] rongguodong commented on #12088
Just tried lidar based perception and get the following errors:

[guodong@in-dev-docker:/apollo]$ cyber_launch start modules/perception/production/launch/perception_lidar.launch
[cyber_launch_11104] INFO Launch file [/apollo/modules/perception/production/launch/perception_lidar.launch]
[cyber_launch_11104] INFO =======================================================================================

[2020-08-11 19:24] jinghaomiao commented on #12088
Thanks for reporting the error. The team will take a look. @jeroldchen

[2020-08-11 23:40] ankitvora7 opened #12104 "GNSS parser"
I'm trying to run the GNSS driver. I'm running Apollo 5.5 on Ubuntu 18.04. When I run the gnss.launch file located here [https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/gnss/launch/gnss.launch](url) I see few of the gnss channels. However, I don't see channels like best_pose, odometry, corrected_imu being published. Do I need to modify the gnss.dag to publish these channels ? If s

[2020-08-11 23:55] #12104 closed

[2020-08-12 00:23] storypku commented on #12088
Yep. Try running `source scripts/apollo_base.sh` before running cyber commands as a workaround.

[2020-08-12 00:27] kaitok commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: kaitokinjo@gmail.com

[2020-08-12 01:37] JackRen88 commented on #3005
Hello, everyone.
Could you please email me the Apollo OpenDrive specification please ?
My email is 2541123296@qq.com
I really appreciate it.

[2020-08-12 02:27] lfcarol commented on #12088
Please source /apollo/scripts/apollo_base.sh

[2020-08-12 07:45] oska874 opened #12111 "Is it okay to using hesai 40p in the newest apollo?"
As we can see, hesai40p's driver is included in apollo. Can we directly using 40p without modify apollo code ?

[2020-08-12 07:50] ntutangyun commented on #12073
my initial investigation is that the CNN Segmentation failed to produce a segmented object for the random-shape obstacle.

[2020-08-12 09:22] JackRen88 commented on #2596
Hello, everyone.
Could you please email me the Apollo OpenDrive specification please ?
My email is 2541123296@qq.com
I really appreciate it.

[2020-08-12 12:34] rubingLi opened #12113 "Uninstall version 3.0 and install the version master"
I originally installed the 3.0 version, and now I plan to install the  version master. How do I uninstall the 3.0 version?
我原本安装了3.0版本，现在打算安装master版本，请问如何卸载3.0版本呢

[2020-08-12 14:00] daohu527 commented on #12071
**It looks like this**, I will look at the principle in detail later.

[2020-08-12 14:04] daohu527 commented on #12113
I think the process is roughly as follows:
1. Delete the old docker.
2. Pull the latest code and install again.

[2020-08-12 14:10] storypku commented on #12113
Can you please provide more details ?

[2020-08-12 14:29] storypku commented on #12071
You are right. Every flag  in the  flagfile (`planning.conf`) should be defined in corresponding header (`planning_gflags.h`).

[2020-08-12 15:01] feather00 commented on #3005
Hi, I'm working on converting OpenDrive map to Apollo Map,  could you email me the Apollo OpenDrive specification please ? thanks. 80795114@qq.com

[2020-08-12 15:01] storypku commented on #12071
This issue is going to be closed now. Thanks for using Apollo, and D-kit. :)  If you have other questions, please feel free to open another issue.

[2020-08-12 15:01] #12071 closed

[2020-08-12 15:31] lfcarol commented on #12088
Hello, I want to know you choose which "setup mode".  Is "Mkz lgsvl" ?

[2020-08-12 16:07] dfremont commented on #12088
Yes. Also, I just tried rebuilding Apollo to see if the commits since Monday fixed the problem, but now it won't compile:

[code]

[2020-08-12 17:11] storypku commented on #12088
Try `git pull` the latest code, and rerun `dev_start.sh/dev_into.sh`.

Or you can install fftw3 it manually via `sudo apt-get -y update && sudo apt-get -y install libfftw3-dev`.

BTW, what's the output of `./apollo.sh config` ?

[2020-08-12 18:12] jmtao commented on #12024
@salmanee please also take a look at the log files from map.

[2020-08-12 18:36] dfremont commented on #12088
Thanks, I had done `git pull` but didn't realize I had to restart the container also. It now compiles, but has the same problem as before (Perception won't start).

[code]

[2020-08-12 22:00] anchans opened #12115 "Not sourcing apollo_base.sh"
Missing sourcing of `/apollo/scripts/apollo_base.sh` in `/apollo/scripts/docker_start_user.sh` leading to no addition of apollo paths in environment.

[2020-08-13 00:09] salmanee commented on #12024
1) seems like there is an error with a lane_id?
`I0812 16:52:42.398316 69644 hdmap_util.cc:78] Load HDMap success: /apollo/modules/map/data/sunnyvale_loop/base_map.bin
F0812 16:52:53.817157 69657 pnc_map.cc:83] Check failed: lane Invalid lane id: 14851_1_-3`
2) /apollo/hmi/status screenshots:
<img width="477" alt="Screen Shot 2020-08-12 at 4 57 26 PM" src="https://user-images.githubusercontent.com

[2020-08-13 00:49] rongguodong opened #12116 "Question about tf2"
I see docker/build/installers/install_tf2.sh pulled the tf2 library from here:
https://apollo-platform-system.bj.bcebos.com/archive/6.0/tf2-apollo-0.5.16-2.tar.gz

Inside this package, there is a buffer_core.cpp. On line 349, it has a comparison "time == 0". What does it mean? What is that branch doing?

In [transform_wrapper.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/

[2020-08-13 00:51] rongguodong commented on #12116
![image](https://user-images.githubusercontent.com/11858549/90082313-4d7d9d00-dcc4-11ea-8d3a-6d895ae1f74a.png)
Attached a screenshot of the "if" branch in buffer_core.cpp (Why isn't it on GitHub as part of Apollo?)

[2020-08-13 01:05] storypku commented on #12115
As with this PR https://github.com/ApolloAuto/apollo/pull/12106 , many functions in `scripts/apollo_base.sh` was moved to `scripts/apollo.bashrc`. And `cyber/setup.bash` was sourced in `$HOME/.bash_aliases`.  So most of Apollo paths was added.

[2020-08-13 01:15] storypku commented on #12116
I didn't realize that before you pointed this out. It seems that moving tf2 to `<apollo-root>/third_party/tf2` is a good idea.

For this question and related logic, the team will investigate ASAP.

[2020-08-13 02:44] lfcarol commented on #12088
Please pull the latest master branch, try again. It will be fixed.
And give me feedback.

[2020-08-13 03:18] #11846 closed

[2020-08-13 03:34] jeroldchen commented on #12073
Hi @ntutangyun , segmentation method is no longer maintained, as we have set PointPillars as perception's lidar detection method. Thank you for your interest in Apollo.

[2020-08-13 03:36] jeroldchen commented on #12085
Please refer to #12073 .

[2020-08-13 03:38] #12085 closed

[2020-08-13 03:38] #12073 closed

[2020-08-13 04:11] storypku commented on #12088
The lidar part works now, and `cyber_launch start modules/perception/production/launch/perception_lidar.launch` should run smoothly.
And the team is still working to get other parts ready.
We should let everyone noticed once completed ASAP.

[2020-08-13 08:18] ManXiaoMi opened #12124 "Several questions about how to set Control module parameters"
When I try to tuning Control module, there are several parameters that i can't understand well.
1.“enable_steer_mrac_control”:In which situation that we need to use mrac controller?
2.“max_abs_speed_when_stopped”in vehicle_param.txt file represent what? In other words,what's the meaning of this flag? And "standstill_acceleration", "brake_minimum_action" in control_conf.pb.txt。 What's the differenc

[2020-08-13 09:40] hirain1 opened #12126 "modules/map/data/sunnyvale_big_loop里面内容为空"
我想找到modules/map/data/sunnyvale_big_loop中的base_map.xml，但是该路径下的文件夹内容是空的，请问这是什么原因？

[2020-08-13 10:00] storypku commented on #12126
Was it inside Apollo dev docker or outside ?
This directory was mounted into docker container when running `docker/scripts/dev_start.sh`.

[2020-08-13 10:02] TangCheng commented on #3005
Please send me the Apollo OpenDRIVE specification. tangcheng2005@gmail.com.
Thanks!
@msbeta @Zhenni17

[2020-08-13 10:26] ntutangyun commented on #12126
@hirain1  the data is put in a separate docker image: `map_volume-sunnyvale_big_loop-latest`. When you run `dev_start`, the image will be pulled from server also.

If you need the `base_map` and `routing_map`, what you could do is to start a container from the image, and the map data is at location as shown below:

[code]

You could use `docker cp` to copy those files out if necessary.

[2020-08-13 11:11] hirain1 commented on #12126
谢谢解答！我想问的是源代码包里给的是txt文件的地图，我想要opendrive格式的地图，请问怎么实现呢？因为我想做Apollo与VTD的联仿，谢谢！发自我的华为手机-------- 原始邮件 --------发件人： Tang Yun <notifications@github.com>日期： 2020年8月13日周四 傍晚6:27收件人： ApolloAuto/apollo <apollo@noreply.github.com>抄送： hirain1 <nt0413@163.com>, Mention <mention@noreply.github.com>主    题： Re: [ApolloAuto/apollo] Directory "modules/map/data/sunnyvale_big_loop" is empty （目录里内容为空） (#12126)
@hirain1

[2020-08-13 12:49] rubingLi commented on #12007
I ran into a similar problem. Can you tell me what caused it and how did you solve it?
方便透露一下是什么原因导致的，并且你是如何解决的吗

[2020-08-13 16:20] rubingLi opened #12132 "Error when compiling Apollo Master"
hello,Encountered an error when compiling Apollo
The computer configuration is:ubuntu 16.04,cuda 10.2,gcc 7.5,geforce mx150
The error message is as follows：
(16:01:27) INFO: From Compiling modules/map/tools/map_datachecker/server/eight_route.cc:
In file included from external/poco/boost/property_tree/json_parser/detail/parser.hpp:7:0,
                 from external/poco/boost/property_tree/json_pa

[2020-08-13 16:21] rubingLi opened #12133 "fatal error: cuda"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **Apollo installed from (source or binary)**:

[2020-08-13 16:22] #12133 closed

[2020-08-13 19:13] jinghaomiao commented on #12132
Please update your code repo and pull the latest docker image. Thanks for using Apollo.

[2020-08-13 19:14] jinghaomiao commented on #12088
@dfremont @rongguodong This ticket is being closed. Please feel free to open new issues if needed. Thanks for using Apollo.

[2020-08-13 19:50] jinghaomiao commented on #12113
@rubingLi Hope your question is answered. This ticket is being closed. Please feel free to raise new issues if needed, Thanks for using Apollo.

[2020-08-13 19:50] #12113 closed

[2020-08-13 20:48] dfremont commented on #12088
Not working for me, unfortunately. I now get many errors like this:
[code]
One time the process quit after some of these errors; other times it stayed running but the "Perception" slider didn't turn on.

[2020-08-13 21:10] jinghaomiao commented on #12088
@storypku @lfcarol Please check if it's TF related

[2020-08-13 22:06] jinghaomiao commented on #12068
This ticket is being closed. Please raise other issues if needed. Thanks for using Apollo.

[2020-08-13 22:06] #12068 closed

[2020-08-13 22:57] rongguodong commented on #12088
I got the same errors when running Lidar-perception. I found out one of the following two changes can make it work:
1.	Increase the TF buffer size (https://github.com/ApolloAuto/apollo/blob/master/modules/perception/production/conf/perception/perception_common.flag#L69) from 0.01 to 0.1; or
2.	Change the querry_time (https://github.com/ApolloAuto/apollo/blob/master/modules/perception/onboard/trans

[2020-08-14 00:43] storypku commented on #12132
What's the output of `./apollo.sh config` ?

[2020-08-14 01:26] rubingLi commented on #12132
[INFO] Apollo Environment Settings:
[INFO]     APOLLO_ROOT_DIR: /apollo
[INFO]     APOLLO_CACHE_DIR: /apollo/.cache
[INFO]     APOLLO_IN_DOCKER: true
[INFO]     APOLLO_VERSION: @non-git
[INFO]     DOCKER_IMG: dev-x86_64-18.04-20200811_2001
[INFO]     APOLLO_ENV:  STAGE=dev USE_ESD_CAN=false USE_GPU=1

[2020-08-14 01:58] changsh726 commented on #12088
The slider will turn on after all related components have been started. It may take a while for some complex modules like perception that contains multiple components.

[2020-08-14 05:21] storypku commented on #12132
It seems your repo was non-git. Please pull the latest master and rerun `docker_into.sh` and try again.

[2020-08-14 06:06] agarwalsid opened #12136 "Error while running tool scripts"
**Describe the bug**
Following the instructions here - https://github.com/ApolloAuto/apollo/tree/master/modules/tools
The scripts like plot_trace.sh and rtk_recorder throw an error:

Traceback (most recent call last):
  File "./modules/tools/plot_trace/plot_trace.py", line 26, in <module>
    from modules.canbus.proto import chassis_pb2
ImportError: cannot import name 'chassis_pb2'

**To Reproduce

[2020-08-14 06:38] storypku commented on #12136
Thank you for reporting.  The team will fix it ASAP.

[2020-08-14 08:00] storypku commented on #12136
The scripts you mentioned here `plot_trace/vtk_recorder/vtk_player` were fixed in PR #12137 #12138 . The team is investigating other similar bugs in the `scripts` directory. Once we are ready, we shall let everyone noticed in this issue.

Thanks again for supporting Apollo!

[2020-08-14 08:14] #12136 closed

[2020-08-14 08:44] ntutangyun opened #12139 "[perception] a 12 meter long bicycle."
Hi team,

I've pulled the latest master branch (`b91d67e963506de61d1522c64ca71e2e32d72e24`)
and I've switched from `SegmentationComponent` to `DetectionComponent`.

and I found that:
* `detectionComponent` also could not detect the random shape obstacle as in [issue](https://github.com/ApolloAuto/apollo/issues/12073).
* `detectionComponent` produced a weird 12-meter long bicycle out of nowhere as

[2020-08-14 10:00] lfcarol commented on #12088
Please try again with the startup order : transform->perception-> ... . Because the order can occur the error.

[2020-08-14 14:52] agarwalsid commented on #12136
Thank you for quick update @storypku

[2020-08-14 15:01] storypku commented on #12136
You are welcome.

[2020-08-14 15:37] rongguodong commented on #12088
@storypku It is simple to reproduce this locally: basically, just follow our instructions [here](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/) until the step saying "Open the Module Controller tap". Then, turn on "localization" and "transform" modules.
Next, using "cyber_launch start modules/perception/production/launch/lidar_perception.launch" to start lidar-based perception mo

[2020-08-14 23:42] storypku commented on #12088
Thank Guodong for the updates.  We will check it asap.

[2020-08-15 00:11] jinghaomiao commented on #12088
Thanks @dfremont @rongguodong . The team is looking into this issue: @storypku @jeroldchen @lfcarol

[2020-08-15 01:54] rubingLi opened #12142 "Build Only the Bridge Module"
apollo master
Hello, I modified the scripts  in modules/bridge, but it would take a lot of time to rebuild all of them. How can I build only the bridge module?
你好，我修改了modules/bridge里的脚本，但是全部重新build将会花大量时间，我怎么样才能只buildbridge模块呢

[2020-08-15 03:44] storypku commented on #12142
[code]

[2020-08-15 04:46] #12132 closed

[2020-08-15 04:49] ntutangyun commented on #12142
@rubingLi if you only modified some scripts, Bazel will only build that relevant code. It should be quite fast also.

[2020-08-15 04:59] rubingLi opened #12143 "Error when compiling bridge module"
Hello, I tried to send the controlCommand through udp, so I added a statement at the end of the file udp_bridge_sender_component.h  : BRIDGE_COMPONENT_REGISTER(control::ControlCommand),  and added a statement at the end of the file udp_bridge_sender_component.cc
BRIDGE_IMPL(control::ControlCommand);then I modified the configuration file and dag file, but the compilation error

(04:41:56) ERROR: /a

[2020-08-15 05:02] rubingLi commented on #12142
Thank you

[2020-08-15 05:02] #12142 closed

[2020-08-15 12:03] liukr001 opened #12144 "有使用modules目录下的tools里面的众多工具的具体教程吗"
请问下，modules目录下的tools里面的众多工具，比如创建地图，是建立只有车道线的地图，还是高精度地图？用户可以自己建立高精度地图吗。另外这些工具有进一步的使用说明教程吗

[2020-08-15 13:20] ntutangyun commented on #12126
@hirain1 the `base_map.bin` in the docker image is in Apollo-version of OpenDRIVE format. You could use protobuf to parse the binary file. The protobuf definition can be found at `apollo/modules/map/proto/map.proto`

[2020-08-15 13:26] storypku commented on #12143
If you want to develop your own code base on Apollo, you should have some working knowledge of `Bazel` (the build tool Apollo uses) besides C++ programming.

And this link [Bazel Build Totorial for C++](https://docs.bazel.build/versions/master/tutorial/cpp.html) is a good start.

[2020-08-15 13:29] #12143 closed

[2020-08-16 00:20] kevin-y-wang commented on #12124
Thanks for the questions for the Apollo Control module!

The answers to your questions:

(1) enable_steer_mrac_control can be enabled if there is non-neglected dynamics and time-latency in the by-wire steering mechanism in the autonomous vehicle (i.e., there are delay dynamics or time latency between the steering command and actual steering feedback from chassis). The MRAC control is used to offse

[2020-08-16 19:06] lemketron commented on #11875
This worked for me as well when trying to build latest apollo master. My machine kept crashing whenever the linker ran, and the old tricks for setting a lower number of jobs didn't seem to work (even adding overrides to .apollo.bazelrc).

But following the simple steps [here](https://bogdancornianu.com/change-swap-size-in-ubuntu/) to change swap from a 1GB partition to a 16GB file worked and final

[2020-08-17 00:08] lemketron commented on #12088
This (mostly) worked for me. It got perception to stop crashing immediately on launch. However, I noticed that LiDAR perception is taking 4GB of GPU memory and we don't even have camera perception (traffic light) going...

I hope camera perception will be working again soon, and hope it still uses less GPU memory than the LiDAR one (in 5.0, it uses 1165MB, and traffic light adds another 1088MB for

[2020-08-17 01:39] daohu527 commented on #11875
If the physical memory is sufficient, there is no need to swap. **I think the most fundamental reason is lark of memory**, maybe we should check the memory at that time.

Specify what percentage of the system's RAM Bazel should try to use for its subprocesses. This option affects how many processes Bazel will try to run in parallel. If you run several Bazel builds in parallel, using a lower value

[2020-08-17 02:05] zerolover commented on #12072
PIECEWISE_JERK_SPEED_OPTIMIZER is formulated as a QP problem.
PIECEWISE_JERK_NONLINEAR_SPEED_OPTIMIZER is formulated as a NLP(non linear program) problem since it considered the smoothness of Centripetal Acceleration （it a non linear objective function）meanwhile. You can refer to code or this [paper](https://ieeexplore.ieee.org/abstract/document/8916917) for more details.

Zhang, Yajia, et al. "Op

[2020-08-17 02:24] lemketron commented on #11875
Yes, I built latest Apollo-master and I tried re-starting the crashed build repeatedly but I couldn't get past one of the link steps that kept running the machine out of memory. I think this is a bazel issue more than an apollo one but I wasn't able to figure out how to get bazel to avoid crashing. I suppose it doesn't know that the link step is going to consume a ton of memory, and even if you co

[2020-08-17 03:30] jeroldchen commented on #12139
@ntutangyun Thanks for the report. We are working on improving the detection model to eliminate those problems.

[2020-08-17 11:02] jeroldchen commented on #12139
@ntutangyun Did you change timestamp to 0 in https://github.com/ApolloAuto/apollo/blob/master/modules/perception/onboard/transform_wrapper/transform_wrapper.cc#L217 ?

[2020-08-17 13:26] ashwinsarvesh commented on #11074
can someone answer this question?

[2020-08-17 13:32] ashwinsarvesh opened #12152 "LaneDetection and Postprocessing in Apollo 5.0"
Hello,

I am trying to understand the LaneDetection and Postprocessing in Apollo 5.0. But not finding any documents which explain this.
Which code to refer to? Is it this [one](https://github.com/ApolloAuto/apollo/tree/r5.0.0/modules/perception/camera/lib/lane/postprocessor)?
What is darSCNN and denseline?
Please guide me!

[2020-08-17 14:25] ntutangyun commented on #12139
@jeroldchen no I didn't change this part.

[2020-08-17 19:16] ashwinsarvesh opened #12153 "Help needed for Folder structure: Perception Module Apollo 5.0"
Hello,

Can someone guide me to understand the folder structure of [Perception ](https://github.com/ApolloAuto/apollo/tree/r5.0.0/modules/perception)module of Apollo 5.0?
Especially the folder structure of [perception/camera/](https://github.com/ApolloAuto/apollo/tree/r5.0.0/modules/perception/camera)

I find a lot of folders(like for example: lib, testdata, camera.......) but not sure of which is

[2020-08-18 00:04] jmtao commented on #12024
@salmanee map mismatch. the bag is using "sunnyvale_loop" map.

[2020-08-18 00:04] #12024 closed

[2020-08-18 00:39] yufeilongyuan opened #12155 "XW-GI3668 replace M2 gnss equipment"
Is this feasible? What reference materials are there? There are many differences between M2 and M2, especially the agreement.

[2020-08-18 00:43] qwetqwe commented on #12072
@zerolover ,thanks. I have another question. Before using NLP optimize, it uses QP optimize to smooth the curvature first.But I think curvature is related with path geometry, and path point does not change. So what is the reason? here is the [code](https://github.com/ApolloAuto/apollo/blob/d2b9c84fe334714a7e20c9fd1e9144a3e3bd78be/modules/planning/tasks/optimizers/piecewise_jerk_speed/piecewise_jer

[2020-08-18 01:12] zerolover commented on #12072
You can read the paper first. In short, the NLP required the kappa should be differentiable, so the code here is to compute a curve "kappa(s)" which has constant jerk (you can also use other algothrim to fit the curve).

[2020-08-18 01:18] ForresterLu opened #12156 "How to clean the cache file in Apollo?"
Hello team,

I run Apollo with LGSVL several times, and after that I found the system prompts insufficient disk space, I ran `df -h` and the result is bellow:
![df](https://user-images.githubusercontent.com/26716009/90459220-39f28c00-e133-11ea-823c-21adbbd7b1ce.png)

The apollo  in /dev/sda7 takes up most of the space, but as far as I know, the origin apollo package only a few GB in size, so is th

[2020-08-18 01:46] storypku commented on #12156
Check if coredumps are generated in the `data/core` directory. Remove if you don't need them anymore.

As you build Apollo serveral times,  the ".cache/bazel" directory can also take a lot of disk space. (~7.6G on my host).
Try `bazel clean` or `bazel clean --expunge` if that directory takes up too much space. Please note that the commands above will remove all bazel outputs (for the latter, exter

[2020-08-18 02:18] ForresterLu commented on #12156
@storypku Thanks for your reply,

These are all the files in data/core, and these files occupy about 60 GB space, do you mean I can remove them directly?
![core](https://user-images.githubusercontent.com/26716009/90462592-b5583b80-e13b-11ea-9fc9-92cae2acb03f.png)

But the way, I notice in /data/log directory, the log files occupy alomost 100GB space, can I just remove them and free the space?
![lo

[2020-08-18 02:34] qwetqwe commented on #12072
@zerolover ,But the path from PIECEWISE_JERK_PATH_OPTIMIZER has been smoothed, so the curvature should be differentiable.Here smoothing again is for redundancy?

[2020-08-18 02:35] storypku commented on #12156
Yep. Just remove those coredump  and log files if you don't need them.

[2020-08-18 02:46] BigBenSure opened #12157 "如何理解dreamview里面的co-driver功能?"
apollo5.0

[2020-08-18 02:49] BigBenSure commented on #12157
英文doc里面有一些解释:The Co-Driver switch is used to detect disengagement event automatically. Once detect, dreamview will pop up the data recorder window for co-driver to enter a new drive event.
这里的disengagement event我是否能理解为需要人工干预的事件?也就是说,开启这个按钮,当出现需要人工干预的事件时,自动弹出一个数据记录框,告诉副驾驶发生了什么?

[2020-08-18 02:54] BigBenSure commented on #12157
另外希望能更新下dreamview_usage_table_cn.md 英文版有更新,中文版没有对应更新..

[2020-08-18 03:11] zerolover commented on #12072
We want to get kappa(s), a close form and smooth curve, hence we can get the 1st and 2nd derivative of kappa.
See [piecewise_jerk_speed_nonlinear_ipopt_interface.cc](https://github.com/ApolloAuto/apollo/blob/d2b9c84fe334714a7e20c9fd1e9144a3e3bd78be/modules/planning/tasks/optimizers/piecewise_jerk_speed/piecewise_jerk_speed_nonlinear_ipopt_interface.cc#L811)

[2020-08-18 06:12] #12156 closed

[2020-08-18 06:27] helloparanoidandroid commented on #3005
@msbeta @natashadsouza
Hi, could you please send me the Apollo OpenDRIVE spec as well? Thanks
My e-Mail: jiayan.liu@yahoo.com

[2020-08-18 07:05] qwetqwe commented on #12072
@zerolover thanks, you really help me a lot.
Another question,do you know why they use soft safety bounds? The paper did not mention that. they add two slack variables to [state variable](https://github.com/ApolloAuto/apollo/blob/d883cc1fbe0c760d88e34d5bc701dd9cd41062ce/modules/planning/tasks/optimizers/piecewise_jerk_speed/piecewise_jerk_speed_nonlinear_ipopt_interface.cc#L93)
and give them [vari

[2020-08-18 11:25] #12115 closed

[2020-08-18 11:33] storypku commented on #12116
Apollo's tf2 library was ported from ros.geometry2, version 0.5.16. with `ros::time` related functions replaced.
In the original https://github.com/ros/geometry2/blob/noetic-devel/tf2/src/buffer_core.cpp#L331, the logic was

[code]

[2020-08-18 12:08] jeroldchen commented on #12088
@rongguodong @lemketron Changing `query_time` to 0 will call the `getLatestCommonTime` function from a third party lib `tf2` to get the latest common time of target frame and source frame (https://github.com/ApolloAuto/apollo/blob/82a1b88c9f357b4a63d82073714b812da0ba9ca3/third_party/tf2/src/buffer_core.cpp#L349-L354), so that the transform from `novetal` to `world` can be found through a common ti

[2020-08-18 12:09] daohu527 commented on #12153
The general introduction is as follows.
[code]

If you want to introduce in more detail, you can refer to [link](https://github.com/daohu527/Dig-into-Apollo/tree/master/perception/camera#camera_module).  This document is still being improved.

[2020-08-18 12:18] daohu527 commented on #12152
There is no official document at the moment, I found some information you can refer to.

1. denseline

2. darSCNN

[2020-08-18 12:32] ashwinsarvesh commented on #12153
Thank you so much @daohu527
Where should I refer to the main code for traffic lights, obstacle detection and lane detection? In App or Lib?
Because I see codes in both these folders.

[2020-08-18 12:42] AlexandrZabolotny opened #12165 "Question about Open Space Algorithm"
Hello team! Help me please

- **OS Platform and Distribution - Linux Ubuntu 18.04**:
- **Apollo installed from source**:
- **Apollo version - pre6**:

**Why doesn't the [Open Space Algorithm](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Open_Space_Planner.md) work for me?**

I am using a LGSVL simulator and Autonomus Staff map.
In Route Editing menu, I select a slot, as shown in the

[2020-08-18 14:35] daohu527 commented on #12157
## Process
The general process is as follows:
1. After enabling the "co-driver", a session window will open when "Disengagement found".
2. when you finish the record table, it will send a message to "smart_recorder".
3. The "smart_recorder" will record the data 30s before and 5s later

[2020-08-18 14:40] daohu527 commented on #12153
In "modules/perception/onboard/component", there are
[code]

[2020-08-18 14:49] ashwinsarvesh commented on #12153
Thank you again @daohu527
To be more specific, if _modules/perception/onboard/component/trafficlights_perception_component.h_ is the main code, then what is _https://github.com/ApolloAuto/apollo/tree/r5.0.0/modules/perception/camera/lib/traffic_light_  ?

This folder also contains core components of implementations divided into folders like preprocessor, detector, and tracker.

[2020-08-18 15:03] daohu527 commented on #12165
Seems the open space planner is combined to **public road planner**, and the park scenario is in "modules/planning/conf/scenario/valet_parking_config.pb.txt"

[2020-08-18 17:55] unacao commented on #12157
这个是帮助副驾驶记录行车过程中出现的disengage event. 打开co-driver模式后，只要系统发现驾驶模式跳出自动驾驶了，就会自动跳出弹窗，请副驾驶记录详细信息，例如当时发生了什么

[2020-08-18 18:43] rongguodong commented on #12088
@storypku @jeroldchen Thanks for your replies!
For the "time == 0" if-branch, can you explain more what it does and what is the difference between this branch and other (i.e. time <> 0)?

I tried to add the 200ms delay as in the PR. I do not have the errors of timestamp any more. Previously, I thought this 200ms delay is because of different time between simulator and Apollo, and it should not be

[2020-08-18 20:27] rongguodong commented on #12088
https://drive.google.com/file/d/1cHc9OPJwGTvSkE7PtRyo8Eik-iyKB6H_/view?usp=sharing

[2020-08-18 23:42] wuzp986 commented on #12052
Thank you！

[2020-08-18 23:42] #12052 closed

[2020-08-18 23:43] wuzp986 commented on #12039
Thank you！

[2020-08-18 23:43] #12039 closed

[2020-08-19 00:12] daohu527 commented on #12153
If you have many steps, you will eventually need an entrance. Reading the code will help you understand it.

[2020-08-19 00:16] daohu527 commented on #11875
@lemketron
Thank you for your feedback, I guess this may be a bazel problem on some platforms.

[2020-08-19 00:39] jinghaomiao commented on #12144
@liukr001 Thanks for the feedback. We'll evaluate it internally.

The map generation tool only generates a map with lanes, but follows HDMap data format. We don't provide offline tools to generate HDMap. If needed, please consult @diegohu for commercial HDMap product.

[2020-08-19 00:40] jinghaomiao commented on #12157
@BigBenSure Hope your question is answered. This ticket is being closed. Please raise new issues if needed. Thank you for using Apollo.

[2020-08-19 00:40] #12157 closed

[2020-08-19 00:52] storypku commented on #11948
This issue is being closed. If you have other questions, please feel free to create another issue.

[2020-08-19 00:52] #11948 closed

[2020-08-19 00:57] storypku commented on #11824
The `yolo3d` volume was back in the latest `master` branch.
See https://github.com/ApolloAuto/apollo/blob/master/docker/scripts/dev_start.sh#L425.
As such, this issue is going to be closed. If you have other questions, plz feel free to create another issue. :-)

[2020-08-19 00:57] #11824 closed

[2020-08-19 01:02] storypku commented on #11461
This issue is going to be closed now.
If you have other questions, please feel free to create another issue, or just reopen this one if related.
Thanks for using Apollo!

[2020-08-19 01:02] #11461 closed

[2020-08-19 01:08] daohu527 commented on #12144
It seems that these tools are used to generate some demo maps. Input is the collected (x, y) coordinates, and then generate a map from these coordinates.

You can use any of "map_gen.py / map_gen_single_lane.py / map_gen_two_lanes_right_ext.py" to generate map
[code]

[2020-08-19 06:57] Addi2020 opened #12171 "MPC control tuning for speed control? Module: Control"
Ubuntu 18.04.4
Apollo 5.5

I am trying to tune MPC control (matrix_q) for speed control. The vehicle speed limit is set to 5 m/s. once the speed reached to 5 m/s, the speed of the vehicle is unstable. means the actual speed goes up and down from the desired speed value (5 m/s).
How to tune MPC control to get stabilized speed speed response.

![Screenshot from 2020-08-19 14-55-49](https://user-imag

[2020-08-19 07:00] Addi2020 commented on #11277
The lateral error and heading error can be minimized by tuning MPC control (matrix_q) first and third sate respectively.

[2020-08-19 07:00] #11277 closed

[2020-08-19 07:15] ManXiaoMi opened #12173 "MPC Controller about Control time domian and predict time domain"
For MPC controller,i have several questions shown below:
1.Now, predict time domain is 10,and control time domain is 9?
2.Control frequency is 100,planning frequency is 10. So,each 0.1s,control use 1 time planning output to set control command to vehicle 10 times,use u[0], u[1], u[2]......u[9]. Is realize in apollo in such way? if it's true,please show me more details (which part code is real real

[2020-08-19 07:17] ashwinsarvesh commented on #12153
Hello @daohu527
I did not understand your answer. Can you explain?

[2020-08-19 07:18] ashwinsarvesh commented on #12153
@weidezhang not sure how you got unassigned :(

[2020-08-19 07:39] ashwinsarvesh commented on #12152
Thank you @daohu527

[2020-08-19 07:53] panfengsu commented on #12153
@daohu527 is right，modules/perception/onboard/component/ is entrance of a module, for example traffic lights, obstacle detection.modules/perception/camera/lib/traffic_light is specific functions to implement. Reading code will help more.

[2020-08-19 07:56] ashwinsarvesh commented on #12153
@panfengsu Which means "modules/perception/camera/lib/traffic_light" contains the core elements of the implementation?
What does entrance of a module mean?

I am new to Apollo, so sorry for silly questions.

[2020-08-19 08:02] panfengsu commented on #12153
an interface of a module

[2020-08-19 08:07] ashwinsarvesh commented on #12153
ok @panfengsu
If I have to change the configurations like "min_crop_size", "crop_method", "crop_scale" ,"is_bgr" and test the traffic light detection module, then I need to change in this [file ](https://github.com/lgsvl/apollo-5.0/blob/simulator/modules/perception/production/data/perception/camera/models/traffic_light_detection/detection.pt) right?

[2020-08-19 08:15] panfengsu commented on #12153
apollo/modules/perception/production/data/perception/camera/models/traffic_light_detection/detection.pt

[2020-08-19 08:22] ashwinsarvesh commented on #12153
Thank you :)
[Testdata ](https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/perception/testdata)folder contains the configurations and data for the test cases in [camera/test/](https://github.com/lgsvl/apollo-5.0/tree/simulator/modules/perception/camera/test) folder right?

[2020-08-19 08:53] daohu527 commented on #12153
1. Testdata is use for function test
2. camera/test is use for unit test

[2020-08-19 08:59] ashwinsarvesh commented on #12153
ok but I am confused why a code in camera/test has reference to Testdata
For eg below:
  init_options.conf_file = "config.pt";
  init_options.root_dir =
      "/apollo/modules/perception/testdata/"
      "camera/lib/traffic_light/detector/recognition/data/";
What is it fetching from Testdata?

Also, where the test cases in testdata folder? I can only see the conf and data defined which is used by

[2020-08-19 09:25] daohu527 commented on #12153
You are right, camera/test is used for functional test and reads models and parameters from Testdata. Actually I haven't run the test case, you can try it first.

Traffic light detection uses a deep learning model, you can first understand the relevant information.

[2020-08-19 09:27] ashwinsarvesh commented on #12153
ok thanks for the clarification.
Is there a procedure to run the test cases? I don't know how to do it

[2020-08-19 12:48] ashwinsarvesh commented on #12152
Hello,
How do I understand the working of Lane Detection and Tracking of Apollo 5.0.
I can see that it uses darkSCNN model. But could not understand the working.
Can you help!!

[2020-08-19 15:29] agarwalsid commented on #12136
@storypku, just curious - Are the perception tools also supposed to run this way? For example in /modules/tools/perception:
python empty_prediction.py throws an error:

Traceback (most recent call last):
  File "empty_prediction.py", line 29, in <module>
    from cyber.python.cyber_py3 import cyber
ModuleNotFoundError: No module named 'cyber'

Am I running it wrong without .sh script?

[2020-08-19 18:00] ntutangyun opened #12180 "[perception] obstacle perception affected by a nearby obstacle (no occlusion)"
Hi team,

I'm using the `pre6` branch with an LGSVL simulator.

I placed a random-shape object about 21 meters ahead of Apollo, and a vehicle 6 meters ahead of Apollo.
The point cloud on the random-shape object is not blocked by the vehicle, as shown in the screenshot:
![non_occlusion_effect](https://user-images.githubusercontent.com/16061105/90671157-e002db00-e286-11ea-9844-fe89794830da.png)

Not

[2020-08-19 18:37] storypku commented on #12136
There was  a typo in `empty_prediction.py`, to be fixed in [this PR](https://github.com/ApolloAuto/apollo/pull/12181/files).

As Python codes are managed by Bazel rules in the `master` branch, You can run python binary targets in Apollo either by

[code]

Or by

[code]

So, directly running `python empty_prediction.py` will fail, as Python related EnvVars (e.g, `PYTHONPATH`) were not setup.

Hope

[2020-08-19 19:21] Capri2014 commented on #12171
Control performance, really depends on various factors from your vehicle interface, can bus resolution, actuator/sensor response time and agility as well as the parameter tuning tricks. So there is no simple answer for it. However, for MKZs, we will have autotune cloud based service to address issues like this in next release, so please stay tuned.

[2020-08-19 19:25] Capri2014 commented on #12173
https://github.com/ApolloAuto/apollo/blob/20463faa51ff92302b31b94df095944c2d6a6729/modules/control/controller/mpc_controller.cc#L399

[2020-08-19 19:25] #12173 closed

[2020-08-20 00:29] rongguodong commented on #12088
https://drive.google.com/file/d/1FLhbm3shwVws_W0D98lb0gxVf7Y-TtI-/view?usp=sharing
I tested our fork of Apollo 5.0, and here is the video. As you can see, perception can recognize very far away NPCs stablely, and when ego moves, the point cloud does not move with it.

Our fork of Apollo 5.0 can be found at: https://github.com/lgsvl/apollo-5.0. It has the 200ms time offset, and it has the change of

[2020-08-20 00:31] rongguodong commented on #12088
So, there are two questions here:

1. Why old (5.0) Lidar-based perception works much better than the one in latest master?
2. Why do we need the change of querry_time to 0?

[2020-08-20 03:23] aidenyao opened #12185 "怎么使用cyber开发自己的节点？ 并且节点不放在apollo workspace下。有没有example？"
- **OS Platform and Distribution  Linux Ubuntu 18.04
- **Apollo installed from source
- **Apollo version  5.5

怎么使用cyber开发自己的节点？ 并且节点不放在apollo workspace下。有没有example？

[2020-08-20 03:49] daohu527 commented on #12185
There are cyber examples ref [link](https://github.com/ApolloAuto/apollo/tree/master/cyber/examples)

[code]

[2020-08-20 04:18] aidenyao commented on #12185
但是这个example是在apollo workspace里面。我想知道怎么在apollo workspace之外开发新的节点？

[2020-08-20 10:04] storypku commented on #12185
Currently you can write your own Bazel project to use Apollo as an external dependency with the following sample WORKSPACE file

[code]

More on this, please visit [Official Bazel Docs](https://docs.bazel.build) on how to do next.

[2020-08-20 10:04] #12185 closed

[2020-08-20 10:49] ManXiaoMi opened #12189 "in which situation osqp will fail?(planning)"
When i use apollo5.5 to tune the car. Why it always has an error about osqp method?
output following error log:
AERROR << "failed optimization status:\t" << osqp_work->info->status;

in which situation this will happen?

[2020-08-20 14:42] agarwalsid commented on #12136
Thank you again @storypku

[2020-08-20 16:48] jmtao commented on #12189
@ManXiaoMi what's the exact status in the log? Based on that, you can check OSQP status values: https://osqp.org/docs/interfaces/status_values.html

[2020-08-20 16:49] LiJiangnanBit commented on #12072
s[i] - soft_lower_s[i] + lower_slack[i] >= 0.0
s[i] - soft_upper_s[i] - upper_slack[i] <= 0.0

These are two soft constraits on s[i], which means it is possible that s[i] < soft_lower_s[i] or s[i] > soft_upper_s[i], if the slack variable lower_slack[i] or upper_slack[i] is positive enough. However, this would be punished by the cost function.

It expects s[i] to be within the range between soft_lo

[2020-08-20 17:00] ntutangyun opened #12194 "[perception] segmentation component output fluctuates with same point cloud data."
Hi team,

I'm using the `pre6` branch with an LGSVL simulator.

I placed a random-shape object about 15 meters ahead of Apollo as shown in the screenshot:

![segmentation_fluctuation](https://user-images.githubusercontent.com/16061105/90801518-937fd400-e348-11ea-9c39-f1f69e1d05c8.png)

Note that I've adjusted the confidence threshold to visualize the random-shape object; Otherwise, it will be filt

[2020-08-20 22:34] Avps1 opened #12198 "Help needed : Printing messages of Perception Module as published in its obstacle detection channel"
Hi,
This is a general query about the Perception module. I am a University student and need the following information for my seminar :

How can one print the messages published to the output channel of Perception - "/perception/obstacles" ? I want the position, velocity,  and size of 2D and 3D bounding box of the obstacles as published in the output channel of perception for obstacle detection, so

[2020-08-21 00:34] rongguodong commented on #12088
After more debugging, I am confused with the TF buffer size (https://github.com/ApolloAuto/apollo/blob/master/modules/perception/production/conf/perception/perception_common.flag#L69):

The default value is 0.01. This value is used as "timeout_second" here (https://github.com/ApolloAuto/apollo/blob/master/modules/transform/buffer.cc#L194). As we can see in the code below, it waited there (by using

[2020-08-21 00:58] rongguodong commented on #12088
@storypku @jeroldchen @jinghaomiao Can you check my videos and reply my above questions? Hope we can find out the root cause and fix this issue as soon as possible. Thanks!

[2020-08-21 01:17] ManXiaoMi commented on #12189
E0819 17:19:17.444324 16591 piecewise_jerk_problem.cc:102] failed optimization status:	primal infeasible
E0819 17:19:17.444386 16591 piecewise_jerk_speed_nonlinear_optimizer.cc:462] Speed optimization by Quadratic Programming failed, st boundary is infeasible
E0819 17:19:17.444403 16591 lane_follow_stage.cc:184] Failed to run tasks[PIECEWISE_JERK_NONLINEAR_SPEED_OPTIMIZER], Error message: Speed Op

[2020-08-21 02:21] ManXiaoMi commented on #12189
failed optimization status: primal infeasible. what's the meaning of this status?
Now my car meet the problem is the speed of the vehicle is unstable. the actual speed always go up and down.
Then i check planning output, and find the problem like osqp problem shown above. each time when occur this problem, the car will go down,and then go up.
I don't know how to solve this problem. Thank you very

[2020-08-21 02:21] ManXiaoMi commented on #12189
failed optimization status: primal infeasible. what's the meaning of this status?
Now my car meet the problem is the speed of the vehicle is unstable. the actual speed always go up and down.
Then i check planning output, and find the problem like osqp problem shown above. each time when occur this problem, the car will go down,and then go up.
I don't know how to solve this problem. Thank you very

[2020-08-21 02:21] ManXiaoMi commented on #12189
failed optimization status: primal infeasible. what's the meaning of this status?
Now my car meet the problem is the speed of the vehicle is unstable. the actual speed always go up and down.
Then i check planning output, and find the problem like osqp problem shown above. each time when occur this problem, the car will go down,and then go up.
I don't know how to solve this problem. Thank you very

[2020-08-21 05:39] XinrRunChao commented on #5452
Have you solved your problem? I met the same problem, helping!

[2020-08-21 06:09] oska874 opened #12202 "Build apollo failed with error "failed to delete output files before executing action""
I'm try to build apollo (version 77b4dd8ed1e010827d24b37dcdbd26fff466cfce), but failed with error below:

[code]

[2020-08-21 06:22] WentaoWang-SH opened #12203 "How to generate or modify the map to let the car can run a whole circle in Apollo D-kit platform?"
In the Apollo D-kit platform, When I using the command of "Start Record Map" in the Dreamview to generate a map, this map has the start and end boundary.   Because the routing trajectory can't pass the map's end boundary, so I can't run a whole circle.
when the car reaches the map's endpoint, the car will stop, I have to manually drive the car to pass the map's endpoint, then I can route the traje

[2020-08-22 02:32] wuzp986 opened #12215 "Apollo3.0 sensor fusion"
Does Apollo3.0 support the sensor fusion of lidar, camera, and  radar?
I don’t see the camera test in probabilistic_fusion_test.cc, so confirm it, thank you very much!

[2020-08-22 03:09] lark-ying opened #12216 "Apollo3.0/perception/lidar/hungarian_matcher.cc ComputeAssociateMatrixhas issue for advice"
#12215 System information
Linux Ubuntu 18.04
Apollo installed from source
Apollo version 3.0

    I'm interested in your team's open autonomous driving code for the Apollo community.I would like to ask **two questions in the Apollo/ Percetion/LIdar module**:

1. The following source code, the path for "modules/perception/obstacle/lidar/tracker/hm_tracker/track_object_distance. cc" , when lidar tra

[2020-08-22 03:29] rongguodong opened #12217 "MODE_MOCK makes Dreamview crashing"
I pulled latest master today. When I changed clock_mode [here](https://github.com/ApolloAuto/apollo/blob/master/cyber/conf/cyber.pb.conf#L30) to MODE_MOCK and run "bootstrap_lgsvl.sh", I got the following outputs:

$ bootstrap_lgsvl.sh
nohup: appending output to 'nohup.out'
nohup: appending output to 'nohup.out'
Launched module monitor.
nohup: appending output to 'nohup.out'
Launched module dreamv

[2020-08-22 19:51] #12217 closed, assigned to storypku

[2020-08-23 01:57] hongyi-zhao opened #12221 "Can't find LoadImages.sh at all."
Hi,

Based on the instructions [here](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/D-kit/Waypoint_Following/Apollo_Installation_cn.md#%E8%AE%BE%E7%BD%AEapollo%E7%BC%96%E8%AF%91%E7%8E%AF%E5%A2%83), it told the following thing:
[code]
But I can't this directory and the corresponding bash script at all. Any hints?

Best regards,
HY

[2020-08-23 02:05] hongyi-zhao opened #12222 "So many broken symlinks exist in apollo repo."
Hi,

It seems there are so many broken symlinks exist in apollo repo. See my following testing for more info which is done under the root directory of the local git master repo of apollo:

[code]

Best regards,
HY

[2020-08-23 09:15] hongyi-zhao opened #12224 "Problem when compiling apollo with ``bash apollo.sh build_opt'': Proxy address socks5://127.0.0.1:18888 is not a valid URL and referenced by '//modules/common/time:time'."
Hi,

On Ubuntu 18.04 shipped with Apollo D-kit, I try to compile apollo 5.5.0 based on the instructions [here](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/D-kit/Waypoint_Following/Apollo_Installation_cn.md#%E7%BC%96%E8%AF%91apollo%E6%BA%90%E4%BB%A3%E7%A0%81).

I've set the socks5 proxy for docker as following:

[code]

But when I run the ``bash apollo.sh build_opt'' command, I meet

[2020-08-23 15:24] hongyi-zhao opened #12225 "Failed to run: bash scripts/bootstrap.sh"
Hi,

This is Ubuntu 20.04 with apollo git master branch. I tried with the following steps:

[code]

Any hints for this problem?

Regards,
HY

[2020-08-23 19:19] storypku commented on #12225
Try build everything before running `scripts/bootstrap.sh` by running

[code]

Or

[code]
inside docker.

[2020-08-23 23:26] hongyi-zhao commented on #12225
Still failed. See following for more info:

[code]

Then I tried the following build option:
[code]

[2020-08-24 03:30] changsh726 commented on #12225
It seems that you haven't install the nvidia-driver. Do you  have a GPU on your machine?

[2020-08-24 04:49] hongyi-zhao commented on #12225
IMO, by saying GPU, we're talking about an advanced/expensive graphic card. But for my case, the graphic card is rather old and low-end as following:

[code]

So, I really don't know whether it can be referred as a GPU. So, I don't know whether should I install the nvidia-driver.

OTHO, if I want to install the nvidia-driver, I should follow the instructions [here](https://github.com/ApolloAuto/ap

[2020-08-24 06:03] hongyi-zhao opened #12226 "external/uuid/cublas_api.h:72:10: fatal error: driver_types.h: No such file or directory"
Hi,

My environment is: Ubuntu 20.04, apollo-kernel 4.4.32-apollo-2-RT, and apollo git master version. In addition, gcc/g++ versions are as following:

[code]

Failed to compile apollo with the following command:

[code]

Any hints for solving the problem?

Best regards,
HY

[2020-08-24 07:13] changsh726 commented on #11748
Could you provide the steps for the reproduction?

[2020-08-24 08:02] hongyi-zhao opened #12227 "apollo-kernel and apollo."
Hi,

I've noticed that the apollo-kernel is based on rather old Linux kernel version, so I want to know whether can I don't use the apollo-kernel for running the complete apollo software stack with the latest Linux kernel versions?

If not so, could you please give me some hints, say, for Apollo D-kit, which capabilities are dependent on apollo-kernel?

Best regards,
HY

[2020-08-24 08:24] storypku commented on #12222
Use the following command to see more of these broken links.
[code]

@jeroldchen

[2020-08-24 09:11] hollmeer commented on #11748
hi,

as the case is based on our developed POC, which is so far not available to outsiders, the reproduction by others is a non-starter at this point.

Below is included a bundle of three separate clips from the end of the respective mainboard.INFO logs of the three debug-runs, with varying exec-time (seems not be relevant, when to terminate, from such length perspective, as the brains-apparatuses

[2020-08-24 09:47] oska874 opened #12230 "build cyber.aarch64 success but shows qt"
I'm build docker under aarch64 success but qt is un-installed. Why so? Is qt not support aarch64,or Apollo think arm cannot run qt?

![image](https://user-images.githubusercontent.com/4536559/91030553-ed76e700-e631-11ea-8ba4-7baef70b7081.png)

[2020-08-24 09:51] jeroldchen commented on #12088
@rongguodong

1. **tf buffer size**. First, this param is actually a timeout limit within which tf2 lib queries the transform every 3 ms. For default value 0.01 which means 10 ms, tf2 will query for around 3 times which are enough in case that for some reason the query cannot get a response correctly. In my opinion, tf buffer size is set for a guarantee to get a query result, not for the case that

[2020-08-24 09:59] oska874 opened #12231 "Docker build script uses local ip to get library, and the image create procedure fails"
I'm trying to build docker image for tegra hardware, but fails ,shows the error log below:

![image](https://user-images.githubusercontent.com/4536559/91031574-5e6ace80-e633-11ea-854c-9130e293d965.png)

Why apollo uses local ip to get libraries?

[2020-08-24 10:08] storypku commented on #12222
To be fixed in PR #12229

[2020-08-24 11:50] storypku commented on #12230
Just ignore that message.

Apollo uses Qt for building `cyber_visualizer`.  For aarch64, we are not ready to ship Qt5 yet, not to mention `cyber_visualizer`.

Thanks for reporting. We shall make Qt and `cyber_visualizer` ready ASAP.

[2020-08-24 11:50] #12230 closed

[2020-08-24 12:02] storypku commented on #12231
Apollo use local HTTP cache to speed up docker build. See the updated `README.md` in this PR #12234

As for `tegra_cyber.dockerfile`, It is still in testing stage. And I don't think it's a good idea to put third_party packages on the Internet without appropriate license.

Hope my answer meets your curiosity. :-)

[2020-08-24 12:34] #12231 closed

[2020-08-24 12:46] storypku commented on #11404
Not the case with Apollo master now. Building Apollo Docker images on x86_64 should be rather smooth now. For aarch64, building the Cyber image is OK. See updated Docker Build  README.md in PR  #12234

[2020-08-24 12:47] #11404 closed

[2020-08-24 12:48] storypku commented on #12202
This issue will be closed. It's more of a Bazel issue than an Apollo one.

[2020-08-24 12:48] #12202 closed

[2020-08-24 12:54] storypku commented on #11813
There was not local_third_party volume for aarch64 as it was about `MKL` related libraries from Intel.
And `cyber_start.sh`, `dev_start.sh` should work for arm64 of the `master` branch now.

[2020-08-24 12:54] #11813 closed

[2020-08-24 15:57] rongguodong commented on #12088
@jeroldchen I see the related code at [here](https://github.com/ApolloAuto/apollo/blob/master/modules/transform/buffer.cc#L193). What it is doing is: if "retval" is false, wait 3ms and try again, until the timeout threshold is reached (i.e. 10ms with the default 0.01 value).

Why can "retval" be false? My understanding is that "retval" is false because you cannot find a match between "target_frame

[2020-08-24 17:54] jinghaomiao commented on #12227
@hongyi-zhao current Apollo kernel better supports Apollo sensor units to drive cameras and CAN cards. You can still use non-RT based linux kernel to run all Apollo modules provided that you run them in simulation or use your own sensors. Thanks for using Apollo.

[2020-08-24 17:56] #12222 closed

[2020-08-24 19:19] #12171 closed

[2020-08-24 21:16] Capri2014 commented on #12165
Sorry I am not familiar with either of the simulator or the map. We do have quite a few of open space planner application and its simulation cases for different environment available at Apollo's simulation environment: http://bce.apollo.auto, you may want to start with comparison the differences between these cases and your test environment.

[2020-08-24 21:17] #12124 closed

[2020-08-24 21:28] Capri2014 commented on #12165
As in your case, you may want to check if the  routing request you sent has the parking_id https://github.com/ApolloAuto/apollo/blob/45134948422cc8cab64d55bd83f3968fe0041d7c/modules/routing/proto/routing.proto#L23 information, if not, you may want to manually create one.

[2020-08-24 21:30] Capri2014 commented on #12165
Sorry I was wrong about that we have some simulation cases already available in public. --- We will have a few available in the upcoming release.

[2020-08-24 23:16] weidezhang commented on #12088
@fengqikai1414 , probably he knows best.

[2020-08-25 00:40] hongyi-zhao commented on #12227
@jinghaomiao Thanks a lot for your explanations.

[2020-08-25 01:23] storypku commented on #12226
It seems that this is duplicate issue for CPU/GPU builds.
What's the output of `./apollo.sh config` from inside docker?

[2020-08-25 01:37] storypku commented on #12225
The instruction you mentioned in the apollo-kernel repo is outdated. Just install CUDA 10.2 or 11.0 on your host from official https://developer.nvidia.com/cuda-downloads?target_os=Linux if you didn't need Apollo-RT kernel (for most users).

[2020-08-25 01:50] ManXiaoMi commented on #12189
Still include some other failure, show below:
E0821 17:42:18.898844 17621 piecewise_jerk_speed_nonlinear_optimizer.cc:579] Solver failure case is : INFEASIBLE_PROBLEM_DETECTED
E0821 17:42:18.898869 17621 piecewise_jerk_speed_nonlinear_optimizer.cc:582] Piecewise jerk speed nonlinear optimizer failed!
E0821 17:42:18.899144 17621 lane_follow_stage.cc:184] Failed to run tasks[PIECEWISE_JERK_NONLINEAR

[2020-08-25 01:57] hongyi-zhao commented on #12225
Still confused on your above notes. To be more specific, IMO, the cuda is a set of development toolkit for nvidia gpu, while the instructions [here](https://github.com/ApolloAuto/apollo-kernel/blob/master/linux/Install_nvidia_driver_on_ubuntu_18.04.md) is for the installation of Nvidia driver.

Do you mean the installation of CUDA toolkit will also install the nvidia driver? And furthermore, as I'

[2020-08-25 02:01] hongyi-zhao commented on #12226
[code]

[2020-08-25 02:30] hongyi-zhao opened #12241 "Has the -l option substituted the -n option for dev_start.sh?"
Hi,

For the latest git master apollo, it seems the -l option substituted the -n option for dev_start.sh. See the following:

[code]

Am I right?

Best regards,
HY

[2020-08-25 03:51] storypku commented on #12241
Yep. We combined `-l` and `-n` functionalities into the unified `-l` option for use local docker images/volumes.

[2020-08-25 03:51] #12241 closed

[2020-08-25 03:51] rrenjie opened #12242 "The purpose of adding a scale factor for PiecewiseJerkPathProblem?"
Hi, all. I notice that a scale factor of {1.0, 10.0, 100.0} was added on the PiecewiseJerkPathProblem:
`piecewise_jerk_problem.set_scale_factor({1.0, 10.0, 100.0});` in piecewise_jerk_path_optimizer.cc. I want to know the reason behind doing this and what improvement can be brought. Thank you so much.

[2020-08-25 03:58] storypku commented on #12226
I guess the reason for downgrading gcc/g++ to 4.8 temporarily was to compile the (old) apollo-rt kernel. Just ignore it if you don't need to build apollo-rt kernel. cc here @diegohu

Currently, Apollo master works not good enough with CPU only build. Many such issues had been raised, and we are expecting to resolve all these ASAP.

[2020-08-25 03:58] #12226 closed

[2020-08-25 04:06] storypku commented on #12225
1) IIRC, CUDA toolkit comees bundled with NVidia driver installer. And Apollo master needes nvidia driver version  > 440.33 .
2) You'd better check if yourself whether your graph card was GPU enabled.
3) As for Apollo-RT kernel, it was rather old, and lacks maintenance. I personally can't tell the benefit of  choose it.

[2020-08-25 04:49] hongyi-zhao commented on #12225
What's the command/tool/utility for this purpose?

If so, why still there are so many tutorials/instruction in the apollo documents referring to the installation of apollo-kernel? See the following results given by grep in the top level directory of apollo git local repo:

[code]

[2020-08-25 04:54] hongyi-zhao commented on #12226
Thanks for pointing this out. I previously try to compile apollo-rt kernel by myself but failed. Seems maybe this is the reason.

Do you mean, it works well with GPU enabled build?

[2020-08-25 05:07] #12224 closed

[2020-08-25 05:11] storypku commented on #12225
2) nvidia-smi
3) All the documents update will be done in the next few days, before Apollo 6.0 release.

Regards,

[2020-08-25 07:25] zerolover commented on #12242
To improve the numerical stability.  So the decision variables is d, 10 * dl, 100 * ddl now, and they are in the same range approximately.

"The chance for numerical instability and rounding errors is considerably larger when the input data contains both large and small numbers. So to improve stability, one must try to work with numbers that are somewhat in the same range. "

[2020-08-25 07:54] rrenjie commented on #12242
I'm still confused about what "stability" means in this context. Does this approach fasten convergence, or just reduce the error of the optimal solution?

[2020-08-25 08:29] storypku commented on #12226
Yep. After all, we have tested Apollo extensively with GPU enabled.

[2020-08-25 10:08] hongyi-zhao commented on #12225
Another relevant issue: is Apollo master also dependent on  cuDNN or not?

[2020-08-25 10:25] hongyi-zhao opened #12249 "Is nvidia-container-toolkit still one of the prerequisites required to setting up the docker environment for apollo master's compilation?"
Hi,

[Here](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md#set-up-the-docker-environment) told the steps for setting up the docker environment used by apollo. The step 4 said that:

`Install latest nvidia-container-toolkit by following the ` [official doc](https://github.com/NVIDIA/nvidia-docker).

I want to know whether this is still a prere

[2020-08-25 11:44] storypku commented on #12249
Yep. As long as you want to enable GPU build.

[2020-08-25 13:15] #12249 closed

[2020-08-25 13:51] ntutangyun commented on #12249
I think nvidia-container-runtime is enough.

[2020-08-25 14:01] storypku commented on #12225
Docker images in the `master` branch comes bundled with `cuDNN`. Although cuDNN is not directly used by Apollo modules,

At least `TensorRT` has a dependency over `cuDNN`, and libraries like libtorch may also depend on cuDNN to compile/work correctly.

[code]

[2020-08-25 14:39] hongyi-zhao commented on #12225
Why you only quote so short part of my original posts?

In your above result, only the  _tensorrt_ keyword has been found out.  As for I don't have so precise perception on the source files of apollo, I run grep command like the following to confirm the cuDNN dependency:

[code]