[2019-01-25 07:22] breakisx opened #6646 "low-cost perception (camera and radar calibration)"
### System information

- **OS Platform and Distribution ( Linux Ubuntu 14.04)**:
- **Apollo installed from (source )**:
- **Apollo version (3.0)**:

Hello， apollo:
      excuse me, Does the front camera and radar do not require calibration? I only saw the telephoto, short-focus camera and the calibration between the lidar and the millimeter-wave radar. The apollo low-cost solution uses only the c

[2019-01-25 09:14] #6623 closed

[2019-01-25 09:16] breakisx commented on #6050
@CCodie  Hello, have you finished the calibration between camera and radar in lowcost perception? if yes, how do you do ?

[2019-01-25 12:53] jeffrey-antoine commented on #6631
the main problem are as following:
0125 20:31:03.111909 27121 point_cloud_updater.cc:63]  Lidar height is updated to 1.91
I0125 20:31:03.200165 27126 simulation_world_service.h:224]  Has not received any data from /apollo/canbus/chassis
I0125 20:31:03.200184 27126 simulation_world_service.h:224]  Has not received any data from /apollo/sensor/gnss/odometry
I0125 20:31:03.200192 27126 simulation_wor

[2019-01-25 17:33] techoe commented on #5886
Please rewrite the question in English for the Apollo community. Thank you!

[2019-01-25 17:37] techoe commented on #5876
Since we provide the source code of modified caffe now, you can easily add new layers now.

[2019-01-25 17:47] techoe commented on #5783
In Apollo 3.5, we fused all three sensors. Thank you.

[2019-01-25 17:52] techoe commented on #5776
Thank you for the question. CCLanePostProcessor::ProcessWithoutCC is obsolete and already removed from repo. The lane line points in an image were re-projected to a ground plane using 2D homography assuming that the ground plane is planar. Please take a look at the most recent implementation.

[2019-01-25 17:54] techoe commented on #5766
Thank you for using Apollo! In Apollo 3.5, we added cyber_visualizer to visualize all sensor output. Please use it and let us know if you have any question.

[2019-01-25 17:56] #5763 closed

[2019-01-25 17:58] techoe commented on #5757
Please use Apollo 3.0 for the new lane line detection.

[2019-01-25 18:00] techoe commented on #5657
Yes. Please try Apollo 3.5 for the fusion of multiple cameras, lidars and radars

[2019-01-25 18:00] #5657 closed

[2019-01-25 18:01] #5639 closed

[2019-01-25 18:04] techoe commented on #5589
@CCodie, I think your machine is not powerful enough to handle the image data in real time. Please play the recorded bag in slower speed:

[2019-01-25 18:12] techoe commented on #5508
Thank you for the question! Need more features (such as visual SLAM, more accurate object and road estimation) for the single camera autonomous driving with restricted functions (no lane change, turns).

[2019-01-25 18:12] #5508 closed

[2019-01-25 18:15] techoe commented on #5506
Since we changed OS to Cyber RT in Apollo 3.5, we will provide different bag with multiple sensor data.

[2019-01-25 18:24] techoe commented on #4946
The module need a radar. To run w/o radar, you have to manually remove all code related to radar.

[2019-01-25 18:25] techoe commented on #2547
The caffe code is all open source now.

[2019-01-25 18:25] #2547 closed

[2019-01-25 19:01] natashadsouza commented on #6644
Hi @YafeiWangAlice you not need a Lidar to create the relative map. Thanks!

[2019-01-26 00:19] msinvent opened #6652 "Not able to pass rtk_replay_planner_test"
I tried to run the rtk_replay_planner_test directly and it gave me an error that garage.csv file can't be opened. But I can see that the file is present at the path mentioned in the error.
Is there a problem in the way I am running it ?

Following is the output of the program
user_name@in_dev_docker:/apollo/bazel-bin/modules/planning/planner/rtk$ ./rtk_replay_planner_test
Running main() from gmock

[2019-01-26 08:11] hzdsdhr commented on #5392
@liuyangly25 hi, have you solved it? I am having the same problem, the visualizer is not showing and I also installed the glfw in host and docker.

[2019-01-26 18:04] snuffysasa opened #6656 "(3.5) What is the camera offline_obstacle_pipeline for? And how do you use it?"
What is the camera offline_obstacle_pipeline for?

https://github.com/ApolloAuto/apollo/blob/master/modules/perception/camera/tools/offline/offline_obstacle_pipeline.cc

We have been compiling it and trying to run it, but have not yet been successful.  It appears it has a visualizer for drawing bounding boxes.   The perception/lidar/tools has a ascript (run_offline_lidar_obstacle_perception.sh)

[2019-01-27 09:15] ninjacoder0 commented on #5450
That link you posted, it doesnt work. Could you please explain how you resolved your issue, im facing the same problem now.

Thanks

[2019-01-27 21:44] natashadsouza commented on #5450
@Arjun911 which link are you referring to?

[2019-01-28 01:30] gouchaoer commented on #6579
we are now trying to run apollo on a IPC.
Because there is a release version, so I tried the release version firstly.

[2019-01-28 02:04] YafeiWangAlice commented on #6644
@natashadsouza , hi,
What else hardware is necessary for produce relative map? Camera? GPS?
Thanks~~

[2019-01-28 02:12] breakisx commented on #2547
@techoe where is caffe code that is open source in apollo?

[2019-01-28 02:30] breakisx opened #6659 "traffic light (apollo 3.5)"
- **, Linux Ubuntu 14.04
- **source
- **Apollo version (3.5):

Hello, Apollo :
   Excuse me, Does apollo 3.5 support traffic light detection? If not, which version of the previous version is supported? I read the news that apollo 2.0 seems to be supporting. I found that the traffic light detection module of apollo3.5 has changed a lot compared with the previous one.

[2019-01-28 02:43] kk2491 commented on #6625
@natashadsouza Thanks for the clarification. Any chances dataset would be open sourced soon?

[2019-01-28 03:27] prcxuying opened #6660 "the purpose of std::mutex data_mutex_ and std::mutex fuse_mutex_ in ProbabilisticFusion"
can you people explain the purpose of these two mutex ?
I dont see the reason that using them in ProbabilisticFusion::Fuse

[2019-01-28 06:44] breakisx commented on #6646
@techoe  Thank you very much, Is it possible if I would use the full version of apollo's verification method (camera to radar, camera to radar, radar to radar), then I can verify the camera and radar of the low cost scheme according to this verification method?Is there a low-cost solution for the front camera or LI-USB30-AR023ZWDR?

[2019-01-28 07:08] breakisx commented on #6646
I don't have lidar, I just want to verify the camera and radar, does apollo's low-cost solution support such verification?

[2019-01-28 09:44] SpaceyII commented on #6298
Thank you ~

[2019-01-28 19:10] natashadsouza commented on #6579
Try using Dev docker and let me know if you face a similar issue. Thanks!

[2019-01-28 19:12] natashadsouza commented on #6644
@YafeiWangAlice you need Cameras and GPS as you mentioned.

[2019-01-28 19:49] natashadsouza commented on #6625
@kk2491 we are not planning to open source our model datasets any time soon unfortunately.

[2019-01-28 19:49] #6625 closed

[2019-01-28 19:53] natashadsouza commented on #6659
@breakisx we do support traffic light detection in Apollo 3.5. It is an essential part of Urban Autonomous Driving. Let me know if you have additional questions. Thanks!

[2019-01-28 20:55] natashadsouza commented on #6550
@gouchaoer please refer to #6663

[2019-01-28 20:55] #6550 closed

[2019-01-28 21:03] natashadsouza commented on #6012
Closing this issue as there has been no responses.

[2019-01-28 21:03] #6012 closed

[2019-01-28 21:04] #5981 closed

[2019-01-28 21:05] #5974 closed

[2019-01-28 21:05] #5984 closed

[2019-01-28 21:07] natashadsouza commented on #5991
Closing this issue as it appears to be resolved in #6025

[2019-01-28 21:07] #5991 closed

[2019-01-28 21:08] #6000 closed

[2019-01-28 21:09] natashadsouza commented on #6000
Closing this issue as it appears to be resolved. Thank you @xinwf

[2019-01-29 01:54] YafeiWangAlice commented on #6644
@natashadsouza ,
The GPS+IMU which Apollo suggested is too expensive (over 200,000RMB) for me.
 As I can't afford that and I don't need the precision of GPS is that high, can I use a cheaper GPS+IMU instead to produce and use relative map?

[2019-01-29 03:11] worm004 opened #6666 "cannot understand a line in the routine_context.cc"
**Describe the bug**

branch: r3.5.0
in the file: cyber/croutine/detail/routine_context.cc
[code]

[2019-01-29 03:18] gouchaoer commented on #6579
ok, thank you

[2019-01-29 03:19] #6579 closed

[2019-01-29 15:38] snuffysasa commented on #6656
@weidezhang @techoe

Any information?

[2019-01-29 17:16] Wang4758 commented on #603
@msbeta Could you please send me the Apollo OpenDrive spec to xiao.wang4758@gmail.com?

[2019-01-30 01:07] 263868161 commented on #6629
I am sure there is only one version，just quit and re-enter docker

[2019-01-30 01:30] luqiang21 commented on #6629
@263868161 Yeah, now I am also having this problem randomly. Not every time, but sometimes, a small change of code seems to cause the Apollo to rebuild the whole project. Took a long time to complete.

[2019-01-30 09:53] gouchaoer opened #6675 "Install nvidia-docker (optional) problem"
in document ` apollo/docker/scripts/README.md`, it said that:

I didn't install nvidia-docker.
But in the apollo_dev_env docker container, the apollo perception module seemed still using the host's GPU.

I doubt if we really need to install nvidia-docker to utilize host's GPU.

[2019-01-31 00:38] luqiang21 opened #6686 "Perception module (apollo 3.5)"
### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **Apollo installed from (source )**:
- **Apollo version (3.5)**:

### Steps to reproduce the issue:
- I have a question on perception in 3.5, as [here](https://github.com/ApolloAuto/apollo/tree/master/modules/perception) shows, apollo 3.5 is using multiple lidars, radars and cameras. I am wondering are we able to us

[2019-01-31 01:09] sbanga16k commented on #6659
The documentation for the traffic light documentation mentions the focal lengths of the 2 front cameras as: 6mm & 25mm which was probably the case for Apollo 2.0. In Apollo 3.5, the front cameras are 6mm & 12mm focal lengths. You may want to update that

[2019-01-31 01:17] natashadsouza commented on #6600
@GitEasonXu are you still seeing a build error?

[2019-01-31 01:46] gouchaoer opened #6690 "apollo.sh script logic problem"
https://github.com/ApolloAuto/apollo/blob/master/apollo.sh#L133

`if [ "${USE_GPU}" = "1" ] ; then`, does this line means `if [ "${USE_GPU}" == "1" ] ; then`?

[2019-01-31 01:57] quuen opened #6691 "relative map and perception"
message LaneMarker {
  optional apollo.hdmap.LaneBoundaryType.Type lane_type = 1;
  optional double quality = 2; // range = [0,1]; 1 = the best quality
  optional int32 model_degree = 3;
  // equation X = c3 * Z^3 + c2 * Z^2 + c1 * Z + c0
  optional double c0_position = 4;
  optional double c1_heading_angle = 5;
  optional double c2_curvature = 6;
  optional double c3_curvature_derivative = 7;
  o

[2019-01-31 02:32] sinopec opened #6693 "hwo to use cyber_visualizer to play channle msg"
I want to use cyber_visualizer to visualize channle msgs, like camera images. How to Play a channle?
In cyber_monitor ,I can watch the data is growing in a normal framerate.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: ubuntu 14.04
- **Apollo installed from (source or binary)**: souce
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.5

### Steps to repro

[2019-01-31 02:54] luqiang21 commented on #6693
@sinopec You can add images, and then click play.

[2019-01-31 02:56] luqiang21 opened #6694 "Is it possible to provide record with images?"
I am curious is it possible to provide a record that with camera images (compressed maybe) and maybe point cloud? Thank you.

[2019-01-31 03:16] sbanga16k opened #6695 "Dreamview startup error"
I need help resolving an error during Dreamview startup. Prompt responses are highly appreciated.

### System information

- Linux Ubuntu 16.04
- Apollo installed from binaries (docker)
- Apollo version 3.5

### Steps to reproduce the issue:

- I built Apollo from source as per the instructions in your ["How to Build & release your Docker container"](https://github.com/ApolloAuto/apollo/blob/maste

[2019-01-31 03:45] natashadsouza commented on #6659
@sbanga16k thank you so much for pointing that out. Please make a pull request with your suggestion. Thanks!

[2019-01-31 07:59] JonathanJones92 opened #6696 "Where to publish our self-defined tf topic?"
Hi Apollo developers and Apollo Team,

Thank you @dvangeyn for your help previously.

In the perception module, we tried to use VLP-16, front-cam and conti-radar to forge our 360 degree solution. It worked. But to make it better, please allow me to ask some questions here regarding the tf and tf_static stuff.

Firstly, we transformed our coordinates  from Conti-Radar and Front-Cam to Lidar then fr

[2019-01-31 08:00] JonathanJones92 commented on #6696
@xinwf you can follow as well :)

[2019-01-31 08:05] gouchaoer commented on #6695
run `git lfs pull` to get all lfs resources  ready.
apollo3.5 move some files to lfs.

[2019-01-31 08:06] gouchaoer commented on #6695
by the way, your version is dev not release.
apollo3.5 release is not officially supported at present.

[2019-01-31 09:13] GitEasonXu commented on #6600
@natashadsouza I build 3.5, but still cannot run dreamview. I will find a way, but I have been busy recently.

[2019-01-31 09:33] xinwf commented on #6696
I'm subscribing

[2019-01-31 16:48] DevMohamedMI opened #6697 "Running launch/perception_camera.launch crashes intermittently (apollo 3.5)"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **Linux Ubuntu 14.04**:
- **Apollo installed from source**:
- **Apollo version 3.5**:

### Steps to reproduc

[2019-01-31 21:07] natashadsouza commented on #6695
@sbanga16k try the fix mentioned in our [FAQs document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Software_FAQs.md). Let me know if you still face the issue.

[2019-02-01 00:59] gouchaoer commented on #6690
i get it

[2019-02-01 00:59] #6690 closed

[2019-02-01 01:52] #6675 closed

[2019-02-01 03:34] sinopec commented on #6686
i have tHe same quetion.
I want to use two cameras and two radar. And I Need to know How to use the ### Configureable Fusion .

[2019-02-01 05:29] BoChang11 opened #6710 "Current Lane of the Ego vehicle"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or bina

[2019-02-01 18:34] techoe commented on #6694
Please check dataset in  http://data.apollo.auto/help?locale=en-us&lang=en, which contains multiple bags.

[2019-02-01 18:39] techoe commented on #6691
For lane marker, Apollo 3.0 has cubic parameters. Please check any branch around Aug 27, 2018.

[2019-02-01 18:43] techoe commented on #6686
Please check the config files recursively in https://github.com/ApolloAuto/apollo/tree/master/modules/perception/production/dag and change the set of sensors you plan to use.

[2019-02-01 21:37] luqiang21 commented on #6694
@techoe Thank you!

[2019-02-01 21:37] #6694 closed

[2019-02-02 00:08] quning78 commented on #6693
Are you inside docker? Have you followed the manual to setup Nvidia driver?

[2019-02-02 00:38] quning78 commented on #6633
It is not supported yet. However, if there are more requests for this feature, we might add it in the future.

[2019-02-02 00:38] #6633 closed

[2019-02-02 00:40] quning78 commented on #6529
@rzerohan if you can understand Chinese, we have our video on CSDN with more technical details about Cyber RT.

https://edu.csdn.net/course/detail/16425

We also plan to have something similar in English in the next couple of months.

[2019-02-02 00:40] #6529 closed

[2019-02-02 00:41] #6480 closed

[2019-02-02 00:43] #6320 closed

[2019-02-02 02:15] gouchaoer opened #6720 "git pull origin master error"
[code]

[2019-02-02 02:29] gouchaoer opened #6722 "IPC nvidia driver installation doc error"
in [doc](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Software_and_Kernel_Installation_guide_cn.md#%E5%AE%89%E8%A3%85nvidia-gpu%E9%A9%B1%E5%8A%A8):

`sudo bash ./NVIDIA-Linux-x86_64-375.39.run --no-x-check -a -s` should be `sudo bash ./NVIDIA-Linux-x86_64-375.39.run --no-x-check -a -s --no-kernel-module`
actually other docs is right but this place is not updated.
this cost me one we

[2019-02-02 04:37] sinopec commented on #6693
Yes, I am In docker. And It works very well while i am using  Apollo 3.0,In fact I just upgrade from 3.0 to 3.5 in this machine,So, I'm sure I have corrctly installed the NVIDIA driver.

[2019-02-02 08:17] worm004 commented on #6666
@quning78 I understand it now, many thanks to you :)

[2019-02-03 09:09] #6652 closed

[2019-02-04 01:13] aboarya commented on #103
Any updates on this?  I have seen some links on installing the platform on Jetson TX2, which should work similarly on PX2 or the newer Pegasus/Xavier

[2019-02-04 07:47] aboarya commented on #6091
@manishshakya Any luck getting it to work on Xavier?

[2019-02-04 08:01] aboarya opened #6723 "Support for aarch64 on the Xavier platform"
According to [this article ](https://www.greencarcongress.com/2018/01/20180108-nvidia.html)from one year ago, Baidu, ZF and Nividia worked together to implement Apollo on the Xavier platform

Since Xavier is an SoC platform with Arm8 (aarch64) chipsets, does that mean Apollo 3.5 has already been ported to work on aarch64?

Just trying to understand if others were successful at using Apollo 3.5 on

[2019-02-04 08:55] yang-le opened #6724 "GetInstance in apollo/cyber/base/atomic_fifo.h may cause a memory leak"
https://github.com/ApolloAuto/apollo/blob/8c94aab93005722676682819a12357e059ea49e0/cyber/base/atomic_fifo.h#L38-L41

Q1:
Just wonder when / where this pointer will be deleted?
Will this cause a memory leak?
How about
[code]

Q2:
What will happen when someone call like this?
[code]
~~Will this also cause a memory leak?~~
When someone call another `GetInstance()` without parameter, the cap of the fi

[2019-02-04 09:07] msinvent opened #6725 "Attempt to modify planning_config.pb.txt failed"
I am attempting to include a new planner in planning_component,
When I am modifying standard_planning_config to include my planner I am getting an error while testing saying that my planner has unknown enumeration value. And it fails the test

In my understanding, I also need to modify *planning_config.pb.cc* and *planning_config.ph.h* to match the changes made in the *planning_config_pb.txt* file

[2019-02-04 09:08] aravindSwamy94 opened #6726 "Gdb for apollo 3.5"
Hello ,
               Im trying to debug planning module in apollo3.5 version . I used to debug apollo with vs code for previous versions . But with 3.5 , i got the error : gdbserver not found.
So I installed gdbserver inside docker and try yo run it. But now im getting this error .
Usage:  gdbserver [OPTIONS] COMM PROG [ARGS ...]
        gdbserver [OPTIONS] --attach COMM PID
        gdbserver [O

[2019-02-04 09:20] msinvent commented on #6722
I will recommend following the final solution of https://github.com/ApolloAuto/apollo/issues/6279

It worked for me.

[2019-02-04 09:22] #6608 closed, assigned to yifeijiang, jmtao

[2019-02-04 16:42] luqiang21 commented on #6686
@techoe Thank you!

[2019-02-04 18:08] msinvent commented on #6725
I am attempting to modify https://github.com/ApolloAuto/apollo/blob/master/modules/planning/proto/planning_config.proto
and build again.

[2019-02-04 20:18] jilinzhou commented on #6724
Which module is actually referencing this header file?

[2019-02-04 20:42] msinvent commented on #6725
Okay the above error was because or wrong index I was using
'planner_factory_.CreateObject( planning_config.standard_planning_config().planner_type(3))`

I replace 3 with 2 to get that problem resolved, but got stuck on this new error saying

## New Error
**"Factory cannot create object of type 5"**

[2019-02-04 21:50] msinvent commented on #6725
I resolved it by registering the new planner inside planner_dispatcher.cc

  planner_factory_.Register(PlannerType::PUBLIC_ROAD_DUMMY, []() -> Planner* {
      return new PublicRoadPlannerDummy(); });

[2019-02-04 21:50] #6725 closed

[2019-02-05 01:05] natashadsouza commented on #6720
@gouchaoer please read the git LFS documentation. Unfortunately this is not an internal build error. Let us know if you have any additional questions. Thanks!

[2019-02-05 01:10] natashadsouza commented on #6722
@gouchaoer thank you for your suggestion. Please refer to #6730 . I would also recommend using the English version of the documents as they are most up to date.
Thanks!

[2019-02-05 01:10] #6722 closed

[2019-02-05 03:42] aboarya opened #6732 "Error in building bosfs while running build_dev.sh"
**Describe the bug**
The build_dev.sh script uses a number of install scripts.  The script [install_bosfs.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_bosfs.sh) downloads the bosfs-1.0.0.8.tar.gz and runs its `build.sh` but fails in two places:

1) The `autogen.sh` script calls `aclocal` which had not yet been installed in the container
2) undefined referenc

[2019-02-05 03:54] cmpute commented on #6374
标定部分代码实在是过于严密，我尝试过几个系统和环境的搭配都没能成功运行，不知开发团队能否将库的详细用法给出，至少给出编译所用的环境和库吧

[2019-02-05 10:52] yang-le commented on #6724
I don't know actually, I mean, there *should* be a module that reference it, right?
Otherwise what's the purpose of this header file?

[2019-02-05 15:04] aboarya opened #6735 "Error in running install_ipopt.sh while building dev container"
**Describe the bug**
The build_dev.sh script uses a number of install scripts.  The script [install_ipopt.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_ipopt.sh) attempts to install `gfortan` using apt-get but the container is missing the[ universe repository](https://askubuntu.com/a/970713)

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old

[2019-02-05 17:29] aboarya opened #6738 "Unable to locate apt packages from install_python_modules.sh during dev container build"
**Describe the bug**
The build_dev.sh script uses a number of install scripts.  The script [install_python_modules.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_python_modules.sh) fails with `unable to locate apt packages`.

It needs an `apt-get -y update` before the `apt-get -y install`

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old doc

[2019-02-05 19:08] snuffysasa commented on #6693
I have the same issue and the same setup, and same driver.

[2019-02-05 19:15] snuffysasa opened #6740 "What Are the GPU requirements for N cameras and Lidar"
In Apollo 3.5, the FusionCameraDetectionComponent appears to be able to handle "n" cameras.  And we can see from the Apollo main page, Apollo 3.5 shows front cameras, side cameras, rear cameras, etc.

And in the Apollo Camera driver:
https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/camera/dag/camera.dag

This shows all kinds of cameras, 3 forward cameras, side cameras, rear cameras

[2019-02-05 19:37] aboarya opened #6741 "Leveldb header file missing during dev container build"
**Describe the bug**
The build_dev.sh script uses a number of install scripts.  The script [install_python_modules.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_python_modules.sh) fails with:

plyvel/_plyvel.cpp:359:24: fatal error: leveldb/db.h: No such file or directory

It needs to install the package `libleveldb-dev`

**To Reproduce**
Steps to reproduce t

[2019-02-05 19:51] aboarya opened #6743 "install_supervisor.sh container script unable to locate package supervisor"
**Describe the bug**
The build_dev.sh container build script uses a number of install scripts.  The script [install_supervisor.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_supervisor.sh) fails with:

`unable to locate package supervisor `

This can be fixed with an `apt-get -y update` before the `apt-get -y install`

**To Reproduce**
Steps to reproduce the b

[2019-02-05 21:50] willsiriusAD commented on #4429
I am having the same issue. which directory that you had to create?  Thank you.

[2019-02-05 21:54] sbanga16k opened #6746 "Lidar 3D Obstacle perception test algorithm separately"
### System information

- Linux Ubuntu 16.04
- Apollo installed from binary (docker)
- Apollo version 3.0

I wanted to run the LIDAR perception module offline (similar to how we test end-to-end deep learning models) to benchmark its performance using metrics for object detection on the demo data from the [Apollo Open Data Platform](http://data.apollo.auto/). Can somebody tell me how to go about do

[2019-02-05 22:01] luqiang21 opened #6747 "How to visualize obstacle in Apollo 3.5?"
### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.5)**:

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
- We changed `obs_enable_visualization` in `perception/production/conf/perception`, and `output_final_obstacles` and `enable_visualization` in `pe

[2019-02-05 23:31] snuffysasa commented on #6746
It took us a long while, but we eventually got this to work.

However, we don't have much of a visualizer, we did manage to pipe the data output from the lidar recognition component into a message queue, then have a separate ROS node receive those messages and publish in Rviz...  but it was quite the hassle and we are exploring alternatives.

There appears to be a lidar offline visualizer here:
ap

[2019-02-05 23:43] natashadsouza commented on #6732
Seems like this issue has been resolved. @aboarya thank you very much for the pull request!

[2019-02-05 23:43] #6732 closed

[2019-02-05 23:46] natashadsouza commented on #6735
Closing this issue as it has been resolved.

[2019-02-05 23:46] #6735 closed

[2019-02-05 23:47] sbanga16k commented on #6746
@snuffysasa - I appreciate your quick response. Could you elaborate on how you ran the pipeline for the Lidar obstacle perception offline to get the data output?

[2019-02-06 00:11] luqiang21 commented on #6747
@snuffysasa Thank you so much for your quick reply. I am very interested in getting your bounding box drawer. Where can I get it?

[2019-02-06 01:14] snuffysasa commented on #6746
Wait, I wasn't clear.
I have not gotten this file/module to work correctly:
apollo/modules/perception/lidar/tools/offline_lidar_obstacle_perception.cc

But I have managed to run the regular perception module, and disabling all components, except for lidar segmentation component and lidar recognition component...

Then I can use cyber_recorder play to play some recorded Lidar data, and the running

[2019-02-06 01:14] snuffysasa commented on #6747
I can likely share it tomorrow.

[2019-02-06 01:30] yang-le opened #6749 "ADEBUG_MODULE in cyber/common/log.h parameter not used"
https://github.com/ApolloAuto/apollo/blob/f1f2a57ece8cd993ae8eb7f604978e3a054a1b0c/cyber/common/log.h#L37-L38

Why this macro's parameter `moudule` not used?
I think it should be
[code]
or
[code]

[2019-02-06 03:41] yang-le opened #6751 "GetCurrentPath in apollo/cyber/common/file.cc may cause a memory leak"
https://github.com/ApolloAuto/apollo/blob/2b9839090e5d2716761fde41a05ff3cc41c87337/cyber/common/file.cc#L319

According to Linux man page

So I think it's better to free the returned buffer.

[2019-02-06 05:44] Iqbalparvi commented on #1546
i need help to build apollo envoroment ist time in my pc as i installed ubuntu 16.04 on it and i dont know any other things and how these  all are  install through terminal ..iqbal.parvi@yahoo.com ,pleses ,mail me all the procedure

[2019-02-06 06:38] aboarya opened #6754 "Missing grpc artifact with a fresh build of the dev container"
**Describe the bug**
The `install_bazel_packages.sh` script downloads a number of artifacts to `/home/tmp` but is missing the grpc v1.14.2 Release.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-id>`
4. run `bash docker/scripts/dev

[2019-02-06 07:27] aboarya opened #6756 "Mismatch of the osqp header install directory"
**Describe the bug**
The bazel BUILD of the math common module is expecting the `osqp` dependency under `/usr/local/include`.
The `docker/build/install_osqp.sh` script places it `/usr/include`

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -

[2019-02-06 14:45] springsun101 opened #6758 "bash apollo.sh build_cpu error with v2x package missing"
![image](https://user-images.githubusercontent.com/6998502/52348992-7d881800-2a1d-11e9-92f4-65a7537f1741.png)

The system is ubuntun 18.10 running in VM VirtualBox.

[2019-02-06 15:57] DevMohamedMI commented on #6747
This is what @snuffysasa was referring to

In the perception/onboard/component/BUILD, make the camera binary look like this
[code]

then in fusion_camera_detection_component.cc add the following

[code]

[2019-02-06 16:07] DevMohamedMI commented on #6726
We've had success with running GDB with the core dumps inside data/core, then backtracing to find the condition right before the end of the process for debugging purposes, we did it by running

[code]
 then in GDB running

[code]

it might be complicated running an apollo module with GDB, but I'd start by using $ps -A to track down the actual process ID which will be running the mainboard executab

[2019-02-06 18:07] Capri2014 commented on #6743
code merged and close this issue, thanks!

[2019-02-06 18:07] #6743 closed

[2019-02-06 19:51] aboarya opened #6760 "Qt 5.1 missing from freshly build dev container"
**Describe the bug**

A freshly built dev container is missing the Qt 5.1 library and gcc_64 binary required by bazel.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-id>`
4. run `bash docker/scripts/dev_into.sh`
5. run `bash apollo

[2019-02-06 19:52] luqiang21 commented on #6747
@DevMohamedMI Thank you so much! I will try it.

[2019-02-06 22:37] deepaktalwardt opened #6764 "cyber_recorder: command not found"
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04 LTS
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.5

### Steps to reproduce the issue:
I do not have access to hardware which is why I followed the instructions to install without hardware here: https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide

Ever

[2019-02-06 23:02] luqiang21 commented on #6747
@snuffysasa @DevMohamedMI It works, I appreciate your help!

[2019-02-07 00:21] natashadsouza commented on #6738
Closing this issue as it appears to be resolved. Thanks!

[2019-02-07 00:21] #6738 closed

[2019-02-07 00:51] natashadsouza commented on #6741
Closing this issue as it seems to be resolved. Thanks!

[2019-02-07 00:51] #6741 closed

[2019-02-07 00:54] natashadsouza commented on #6747
Closing this issue as it appears to be resolved. Thanks!

[2019-02-07 00:57] natashadsouza commented on #6756
Closing this issue as it appears to be resolved. Thanks!

[2019-02-07 00:57] #6756 closed

[2019-02-07 01:00] natashadsouza commented on #6758
Refer to #6467 and let me know if you still face the issue.

[2019-02-07 01:53] natashadsouza commented on #6740
For our current server requirement we use 2 * 1080. If you have a different setup, happy to discuss the requirements based on it.

[2019-02-07 03:29] snuffysasa commented on #6740
Thank you @natashadsouza

I am not sure what you mean by "current server requirement"

What sensor streams does that include? how many cameras / how many LiDAR?  What perception  components in the configuration?

[2019-02-07 03:34] jilinzhou commented on #6764
1. Check whether the binary cyber_recorder is existed. It should be under
`/apollo/bazel-bin/cyber/tools/cyber_recorder/`

2. Verify the environment variable $PATH
`>>echo $PATH`
The path should include _/apollo/bazel-bin/cyber/tools/cyber_recorder/_. If not, source cyber/setup.bash

[2019-02-07 04:10] aboarya commented on #6754
[PR 6755](https://github.com/ApolloAuto/apollo/pull/6755) has been merged.  Closing issue

[2019-02-07 04:10] #6754 closed

[2019-02-07 04:40] aboarya opened #6766 "Cyber is missing fast-rtps library with a fresh build of the dev container"
**Describe the bug**
Running `bash apollo.sh build` on a fresh locally built dev container fails with the error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-id>`
4. run `bash docker/scripts/dev_into.sh`
5. run `b

[2019-02-07 08:26] springsun101 commented on #6758
![image](https://user-images.githubusercontent.com/6998502/52398756-081a5700-2ab2-11e9-96fc-ad489cadec68.png)

[2019-02-07 08:36] aboarya commented on #6766
Closing this because the issue is much more complicated than I first thought!

The apollo-platform repo uses Fast-RTPS `1.4` release, and they had to patch it pretty heavily to get it to work.

When I use the 1.4 version that's in apollo-platform, the build fails with

![screenshot from 2019-02-07 02-07-58](https://user-images.githubusercontent.com/2354387/52399212-831b4780-2a89-11e9-9ac0-cf8055ee

[2019-02-07 08:36] #6766 closed

[2019-02-07 08:40] aboarya commented on #6758
@springsun101 Are you behind a firewall or a proxy?

I think the error is `cannot open git-upload-pack`  and could be caused by a network issue.  Please see this [stackoverflow](https://stackoverflow.com/a/24533854/1158977) answer

[2019-02-07 12:20] springsun101 commented on #6758
Yes, I am behind a proxy.

[2019-02-07 14:18] aboarya opened #6769 "Missing civetweb artifact with a fresh build of the dev container"
**Describe the bug**
The `install_bazel_packages.sh` script downloads a number of artifacts to `/home/tmp` but is missing the civetweb v1.11 Release.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-tag>`
4. run `bash docker/scripts/

[2019-02-07 15:11] aboarya opened #6771 "Missing poco library with a fresh build of the dev container"
**Describe the bug**

When building apollo on a locally built dev container, bazel fails with the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-tag>`
4. run `bash docker/scripts/dev_into.sh`
5. run `bash apollo.sh b

[2019-02-07 19:42] FreshmanD commented on #6764
You can source the setup.bash file again at the beginning, using
source /your-path-to-apollo-install-dir/cyber/setup.bash

[2019-02-07 20:00] natashadsouza commented on #6740
@snuffysasa if you go through the HW installation guide, there is 1 x 128L lidar, 3 x 16L lidars, 2 Radars, 3 ~ 8 cameras.  Let me know if you have any additional questions.

[2019-02-07 20:23] sbanga16k commented on #6746
Apologies for my naivety but which is the file that needs to be modified & how do I disable the other components? Or does it have to be done in Dreamview?

[2019-02-07 21:33] DevMohamedMI commented on #6740
So just to confirm.

You are saying 2x1080 GPUs is enough to process sensor streams from 1x 128L, 3x16L, and 8 cameras?

This has been tested?

Thank you.

[2019-02-07 21:42] snuffysasa commented on #6746
@sbanga16k

So you will want to launch perception from

/modules/perception/production/perception.launch, you will want to examine that file which will point to a DAG file/files.

Then open those DAG files and you will see a list of components, you can remove what you don't need.

the dag will point to several other config files, you will want to examine each of these, and child config files that

[2019-02-08 00:59] yangydavid opened #6780 "throttle_input and throttle_cmd difference"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
HI, I have a question regrading to the topic `/apollo/canbus/chassis/` I noticed that when the car is idling, the throttle input and throttle output are not set to z

[2019-02-08 08:40] springsun101 commented on #6758
Build Problem solved.

[2019-02-08 10:28] navid72m commented on #3005
Hi, could you please send me the Apollo OpenDrive specification? Thank you. [navid72m@gmail.com](navid72m@gmail.com)

[2019-02-08 12:07] aboarya commented on #6758
What is the proxy issue or something else? If the proxy, how did you resolve it?

[2019-02-08 13:19] aboarya opened #6783 "Missing libgtest-dev library with a fresh build of the dev container"
**Describe the bug**

When building apollo on a locally built dev container, bazel fails with the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Remove any old docker images to start fresh
2. run `./build_dev.sh dev.x86_64.dockerfile` from docker/build
3. run `bash docker/scripts/dev_start.sh -l -t <image-tag>`
4. run `bash docker/scripts/dev_into.sh`
5. run `bash apollo.sh b

[2019-02-08 14:54] svmtracking commented on #6659
In 3.0 and before, used to have modules/perception/traffic_light. In 3.5 it's gone. May I know where it is moved to? Thanks

[2019-02-08 15:48] springsun101 commented on #6758
I switch to guest network and it can build now.

[2019-02-08 17:17] wzjin2017 opened #6785 "What kind of fusion algorithms do you use for 'Multi-cameras Multi-traffic lights Voting' and for 'Configurable Sensor Fusion' in object detection part?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-02-08 21:17] natashadsouza commented on #6769
Closing this issue as it seems to be resolved. Thanks!

[2019-02-08 21:17] #6769 closed

[2019-02-08 21:19] natashadsouza commented on #6771
@aboarya for your PRs, please submit it with its title in the following format: "**Module: change**"
Closing this issue as it seems to be resolved. Thanks!

[2019-02-08 21:19] #6771 closed

[2019-02-08 21:54] aboarya commented on #6771
Hi @natashadsouza thanks so much! It's really great to be able to contribute to this project!

Do you mean to make the title with "Build:change" or "Module:Build" (similar to the label)?

Thanks again!

[2019-02-08 22:37] natashadsouza commented on #6771
Your first suggestion: "Build: added poco ...". You can also look at PRs submitted by Apollo team members for added insights. Thank you so much for all your contribution. We truly appreciate it :)

[2019-02-09 02:42] FreshmanD commented on #6600
did you successfully open dreamview before? If you did, pls don't refresh the website, otherwise, you will meet that pro again. My advice is first, restart your ubuntu, then rebuild the Apollo system. After every step finished, you can only use Chrome to access dreamview.

[2019-02-09 03:18] Capri2014 commented on #6780
You are right, except this "dead-band" is from throttle mechanical system, not directly from engine.

[2019-02-10 11:11] Wang4758 opened #6795 "Turn on SimControl without Dreamview GUI?"
Hello,

I would like to know whether it is possible to turn on the SimControl mode without the Dreamview GUI. Because the container is running on our server and I couldn't find a way to forward the GUI to my local machine. So is it possible or which command should I run?

[2019-02-11 03:38] Iqbalparvi commented on #5499
@in_dev_docker:/apollo$ cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0211 14:36:33.015163 24090 global_data.cc:153] [cyber_recorder] host ip: 10.9.29.35
E0211 14:36:33.035611 24090 record_file_reader.cc:33] [cyber_recorder] File not exist, file: docs/demo_guide/demo_3.5.record
E0211 14:36:33.035670 24090 record_read

[2019-02-11 03:56] xiaoxq commented on #5499
Could you check if the file exists? **/apollo/docs/demo_guide/demo_3.5.record**
If not, please try "git lfs fetch" to pull it from remote LFS.

[2019-02-11 05:45] deepaktalwardt commented on #6764
Thank you @jilinzhou and @FreshmanD. I sourced the setup.bash file within docker and tried running however, it still doesn't work. Here is the screenshot.
![image](https://user-images.githubusercontent.com/7192506/52547460-bce79900-2d7c-11e9-9412-5fa51160eaf7.png)

But I'm having another issue now. I tried running the "bash apollo.sh build" command again, but now I get a permission denied error. I

[2019-02-11 05:47] snuffysasa commented on #6566
I had a similar error trying to run the Velodyne 128 driver.

You can fix It by making changes to the config files, I am not sure which ones, but look through the driver module, and and find all the config files that affect this driver node.

I think I had to do something like, change a source_frame config attribute from "world" to "velodyne128",   I realize this is sort of a hack fix, but it help

[2019-02-11 06:25] liujiwei777 commented on #4414
@lesun90 @kk2491
            Frenet coordinates and SL coordinates are the same thing. SL coordinates can be converted to XY coordinates. Apollo's SL is used for path planning, ST is used for velocity planning, and ST is used for collision detection.

[2019-02-11 06:42] FreshmanD commented on #6764
Do u use GPU to build the system？

[2019-02-11 06:51] deepaktalwardt opened #6798 "WORKSPACE: Permission Denied during build"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04 LTS
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0.0

### Steps to reproduce the issue:
Can someone explain why I get these Permission denied errors. I feel like the permissions are a bit messed up and would like someone to help me fix them

[2019-02-11 06:52] liujiwei777 commented on #4674
RTK Planner started at Apollo 1.0, which is used to plan the pre-set trajectory for the follow-through algorithm.

EM planner started in Apollo 1.5 and has been abandoned in 3.5. Based on dynamic planning and quadratic planning, it first carries out path planning and then speed planning, which is suitable for complex scenarios.

Lattice planner started with Apllo 2.5, and it also carries out path

[2019-02-11 07:18] deepaktalwardt commented on #6798
The build failed eventually giving me the following error:
![image](https://user-images.githubusercontent.com/7192506/52549861-32a63180-2d8a-11e9-98b5-eaca1e7361fd.png)

[2019-02-11 07:28] deepaktalwardt commented on #6764
Yeah @FreshmanD, I used the regular build command. I have an NVIDIA GTX 1050 with the correct drivers. Should I try building with the cpu command?
![image](https://user-images.githubusercontent.com/7192506/52550123-9a10b100-2d8b-11e9-8514-a28144c062bf.png)

[2019-02-11 07:39] FreshmanD commented on #6764
I think u should clean the doctor and restart it, if that still doesn't work, u can use VS to build it.

[2019-02-11 07:41] deepaktalwardt commented on #6764
Can you provide me with instructions to clean docker? Thank you!

[2019-02-11 07:46] FreshmanD commented on #6764
$ docker container stop $(docker container ls -a -q) && docker system prune --all --force --volumns

[2019-02-11 07:47] FreshmanD commented on #6764
Remember to check whether that error package is not really existed or not

[2019-02-11 07:49] deepaktalwardt commented on #6764
I checked and the module did exist. Which is why it is strange. Thanks, I'm trying to clean the docker and retrying the build.

[2019-02-11 13:38] Wang4758 commented on #5992
@cevatbostancioglu Hi, could you please also share the `apollo_hdmap_opendrive_specs_3.0` file with me? I would really appreciate it. My Email is xiao.wang4758@gmail.com

[2019-02-11 19:21] dawonn-haval opened #6800 "BUILD: Fail to build & release v3.5.0 with clean docker image"
**Describe the bug**
Build fails when following the kiwi: https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. follow the wiki, and execute  bash apollo.sh build

**Expected behavior**
I expect no build failures when using a release version in a clean docker environment.

**Desktop (please complete the

[2019-02-11 20:21] dawonn-haval commented on #6800
I'm not sure if I should start a new issue, but after following the instructions in #5755, I then returned to the wiki and tried to run 'release' which failed:

[code]

[2019-02-11 23:30] techoe commented on #6785
@wzjin2017, Thank you for using apollo. The final decision of traffic light result is provided by aggregating the confidence of each traffic light detection from multiple cameras (e.g. front_6mm, 12mm, 24mm, and fisheye).
Configurable sensor fusion has 4 different fusion algorithms for existence(DST), type(DST), motion(Kalman filter) and shape(PBF). For more details, please take a loot at https://

[2019-02-11 23:34] techoe commented on #6659
From Apollo 3.5, traffic light detection algorithms are in modules/perception/camera/app/ and modules/perception/camera/lib/traffic_light.

[2019-02-11 23:35] techoe commented on #6747
We added visualization code in fusion component. Please check modules/perception/camera/tools/offline/visualizer.cc

[2019-02-12 01:53] Iqbalparvi commented on #6467
@in_dev_docker:/apollo$ bash scripts/bootstrap.sh
nohup: appending output to 'nohup.out'
Launched module monitor.
nohup: appending output to 'nohup.out'
Launched module dreamview.
Failed to start Dreamview. Please check /apollo/data/log or /apollo/data/core for more information
any solution please ..... after this problrm if bootstrap.sh is again running then says Dreamview is already running...sk

[2019-02-12 01:59] Iqbalparvi commented on #6467
@in_dev_docker:/apollo$ bash scripts/bootstrap.sh
Module monitor is already running - skipping.
Module dreamview is already running - skipping.
mi759@in_dev_docker:/apollo$ cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0212 12:58:01.065069 15469 global_data.cc:153] [cyber_recorder] host ip: 10.9.29.35
E0212 12:58:01.

[2019-02-12 03:00] liujiwei777 opened #6809 "Can traffic regulation loading make it possible to add new traffic rules without modifying the code?"
void TrafficDecider::RegisterRules() {
  s_rule_factory.Register(TrafficRuleConfig::BACKSIDE_VEHICLE,
                          [](const TrafficRuleConfig &config) -> TrafficRule * {
                            return new BacksideVehicle(config);
                          });
  s_rule_factory.Register(TrafficRuleConfig::CHANGE_LANE,
                          [](const TrafficRuleConfig &config) ->

[2019-02-12 03:07] ak201790 opened #6810 "Is an external IMU required with Novatel PwrPak7 GNSS?"
Shouldn't it be "**ProPak 6**" instead of "**ProPak 7**" in this [diagram](https://github.com/ApolloAuto/apollo/blob/35f5a945b9e47941505b1037118772a9a86b52b1/docs/demo_guide/images/Hardware_connection_3_5.png)?

Or do you guys mean "**PwrPak 7**"? If so then PwrPak7D-E1 already encloses an IMU ( Epson EG320N). Are you guys using an external IMU as well with the PwrPak7D-E1 GNSS/INS enclosure? If y

[2019-02-12 04:57] snuffysasa commented on #6747
@techoe

Thank you.

[2019-02-12 05:00] jinfagang opened #6811 "app.bundle.js can not load"
Even after runing:

[code]

the app.bundle.js can not fetch, it contains something like this:

[code]

Deamview got nothing, how to solve it?

[2019-02-12 05:18] poutyface opened #6812 "[question] Camera object detection is under development ?"
version 3.5 or later.
The settings in apollo/modules/dreamview/conf/hmi_modes/**
Camera's object detection/lane detection(FusionCameraDetectionComponent) is not enabled, Only lidar detection is enabled. is it still under development or not stable?

[2019-02-12 06:12] xiaoxq commented on #6811
How does "git lfs fetch" say?

[2019-02-12 06:17] jinfagang commented on #6811
@xiaoxq  OK, seems this is an issue. I manually download js file place it into `modules/dreamview/frontend` and the interface comes out, both chrome and firefox. But the icons and loader which in `assets` folder are not loaded correctly.

I already run `git lfs fetch --all` and it runs somewhat large files and indicates me all files are fetched, but actually it fetch 1.5G files except those dreamv

[2019-02-12 06:17] jinfagang commented on #6811
![image](https://user-images.githubusercontent.com/21303438/52615671-f3362d00-2ed0-11e9-8700-9ed7b0b5567b.png)

[2019-02-12 06:20] jinfagang commented on #6811
Well, as well as those records file:

[code]

Should I run git lfs inside docker??
but the docker does not contains git lfs... when I install from apt-get, there are such error;
[code]

[2019-02-12 06:46] jinfagang commented on #6498
@trooperli

[code]

Is this fetched? same output with `git lfs fetch --all`, but the file still just meta not actually one

[2019-02-12 07:26] yingchen1991 opened #6813 "HELP: fail to bash apollo.sh build"
Hi, when I run 'bash apollo.sh build', but it goes as follows:
(I add a lot of code in my project)
### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)**
- **Apollo installed from (source)**:
- **Apollo version (1.5)**:

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:

### Supporting materials (screenshots, command

[2019-02-12 14:49] dawonn-haval commented on #6800
![image](https://user-images.githubusercontent.com/44446780/52643566-50b78300-2eab-11e9-9bd7-87ebc7265417.png)

The file is marked read only, not yet sure why or where this comes from. I'm starting by looking at  apollo.sh release().

[2019-02-12 17:00] dawonn-haval commented on #6800
Dreamview fails to load:
[code]

I just get a blank white page when loading that url in my web browser.

[2019-02-12 18:14] layssi commented on #5146
Is there any information on upgrade date?

[2019-02-12 19:18] jimaldon commented on #4976
@gladijos That link no longer exists

[2019-02-12 20:08] dawonn-haval commented on #6800
I would be happy to post any log files etc, I'm new to apollo and don't really know where to look yet...

[2019-02-12 20:15] dawonn-haval commented on #6800
After many rebuilds on both master and v3.5.0. I rebooted my computer and now dreamview kinda loads:
![image](https://user-images.githubusercontent.com/44446780/52665218-0ea53600-2ed9-11e9-9506-bbf706b982af.png)

All of the images appear to be broken however.

[2019-02-12 20:41] vlin17 commented on #6631
Please try 'cyber_monitor' while playing the record to see if the Cyber receives messages.

[2019-02-12 21:04] dawonn-haval commented on #6800
I manually executed apollo.sh release() and it looks like cyber_visualizer is copied twice:
![image](https://user-images.githubusercontent.com/44446780/52667410-bd984080-2ede-11e9-9444-31ae23f282f2.png)

Here's the two lines that are setting those vars:
https://github.com/ApolloAuto/apollo/blob/3b91c914c8177af19bb031d57815fb03e094d304/apollo.sh#L321
https://github.com/ApolloAuto/apollo/blob/3b91c9

[2019-02-12 21:19] vlin17 commented on #6795
There are two possible ways to do so without GUI
1. download websocket command tool and
send `{"type": "ToggleSimControl", "enable":  [false|true] }` to ws://<localhost or your server ip>:8888/websocket
2. customize dreamview to turn on SimControl through gflag. In fact, it is how it was done in v2.0.0.

[2019-02-12 21:30] dawonn-haval commented on #6800
I added an -f option to cp and that resolved the error:
`cp -Pf --parent "bazel-bin/${BIN}" ${APOLLO_RELEASE_DIR}`

I'm pretty sure that's not the correct solution though. It would be nice to hear some thoughts from someone that understands the bigger picture.

[2019-02-12 21:43] cy19890513 commented on #6798
I am also new to apollo project. I followed this without hardware tutorial. I only able to say i was able to build with the tutorial. The link is this: https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide. Maybe try with sudo <command> to get rid of permission error.

[2019-02-12 21:46] natashadsouza commented on #6810
@ak201790 you are correct. It is supposed to be  PP6. We also do support PP7 which was introduced with the latest version Apollo 3.5. The image will be updated shortly. Thanks!

[2019-02-12 21:49] natashadsouza commented on #6813
@yingchen1991 please refer to our [Software FAQs](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Software_FAQs.md) or you could go through similar issues created labelled "Build" .
Also, to troubleshoot better, we do need additional information, please fill out the requirements in the form included above.

[2019-02-12 22:38] dawonn-haval commented on #6800
To get apollo_docker.sh gen_docker to work I likewise needed to update the cp options:

https://github.com/ApolloAuto/apollo/blob/master/apollo_docker.sh#L111
`    docker exec apollo_release bash -c 'cp -LrPf --parent /root/mnt/apollo_release/apollo /'`

I'm still not sure if it works, but the first time through it gave me tons of errors, and now it give me none, so that's a good start I think?

!

[2019-02-12 23:24] FreshmanD commented on #6798
Do you test your docker?  I think the reason should be you don't add your current user into docker group. pls follow this step:https://docs.docker.com/install/linux/linux-postinstall/

[2019-02-12 23:27] swdev1202 commented on #6478
I was able to change (or add) kernel.shmmax in the /etc/sysctl.conf.

However, it's still throwing the error.

Any other suggestions?

[2019-02-13 02:34] poutyface commented on #6812
I know that it is possible to make variable setting in Apollo, but I'm not sure which configuration is being tested well by Apollo Team.
For example, according to Perception's Readme, it is described that 5 cameras (2 front, 2 on either side and 1 rear) are used, but in fact only 2 cameras are used for object detection. Also, in the setting of HMI_modes, camera object detection is not used. (I kno

[2019-02-13 03:15] sbanga16k commented on #6764
@deepaktalwardt - If you have permission denied error, try running:
sudo bash dev_start.sh & dev_into.sh
Then source cyber/setup.bash like was mentioned earlier.
It probably should work now

[2019-02-13 04:03] sbanga16k commented on #6746
@snuffysasa - I was trying to run the perception.launch files first without changing any of the components in the referenced DAG files but ran into these errors in sensor_manager.cc (see attached)

sensor_manager.cc:78 [mainboard] Failed to load camera intrinsic.
sensor_manager.cc:92 [mainboard] Failed to add sensor_info: front_6mm
sensor_manager.cc: 36 Check failed: this->Init() == true (0 vs. 1)

[2019-02-13 06:05] e-guy commented on #6811
I got the same issue

[2019-02-13 06:30] aboarya commented on #6746
@sbanga16k The `testdata` directory under `modules/perception` has those files that SensorManager is looking for.

You should be able to symlink `ln -s` the `modules/perception/testdata/camera/app/data/perception/camera` to `modules/perception/production/data/perception/camera` and resolve those errors.

But I have also come across new errors in that module that are WIP still.  It's definitely not

[2019-02-13 07:27] KevinYuk opened #6837 "Regarding path decider, what's the difference between "side pass" decision and "overtake" decision?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-02-13 15:23] dawonn-haval commented on #6800
I deleted my .cache/bazel folder and rebuilt. This allows dreamview to load, but it is missing some icons on the left:
![image](https://user-images.githubusercontent.com/44446780/52722351-65fae300-2f79-11e9-958f-73fc86b6c0c4.png)

[2019-02-13 16:23] deepaktalwardt commented on #6764
I needed to provide all permissions to my user before starting the docker and running the build. That fixed the issue. Thank you all.

[2019-02-13 16:23] #6764 closed

[2019-02-13 16:25] deepaktalwardt commented on #6798
Thanks @FreshmanD ! I needed to provide my user all permissions to the apollo folder to make it work. I did add the user to the docker group to make it run without sudo, but that alone didn't fix all issues.

[2019-02-13 16:25] #6798 closed

[2019-02-13 18:24] dawonn-haval commented on #6800
Looks like the broken images in dreamview are due to LFS. I installed lfs after cloning the repo whiche left the 'pointers' in the working directory.  The following command replaced the pointers with the real files and now dreamview is looking a bit better:

`git lft pull`

![image](https://user-images.githubusercontent.com/44446780/52734142-808d8600-2f92-11e9-8d80-2555bd6041c2.png)

[2019-02-13 19:37] dawonn-haval commented on #6800
In Summary:
* The apollo build system caches data outside of the docker container, and an old build conflicted with my latest build.
* Then I got an error while "releasing" because a read only file was being copied twice in the release process.
* Then I encountered an error trying to run the released container, adduser.sh is missing, and decided to try and run from the development environment with

[2019-02-13 20:51] jmtao commented on #6837
@KevinYuk
"SidePass" is a "lateral" object decision, similar to "Nudge". These decisions help ego vehicle to dudge obstacle(s) in lateral direction while passing them.
"SidePass" may cross lane boundaries little bit, and "Nudge" would be within the current lane.

"Overtake"/"Yield"/"Stop" are "longitudinal" object decisions when ego vehicle and other obstacles's path may cross.
OVERTAKE: ego vehic

[2019-02-13 20:56] jmtao commented on #6809
@liujiwei777 I'm not sure what you exactly mean. If you want to add a new traffic rule and make it run, you have to create a class/implementation of that rule (please refer to any traffic rule class at https://github.com/ApolloAuto/apollo/tree/master/modules/planning/traffic_rules, as examples), and also create configuration if needed (please refer to https://github.com/ApolloAuto/apollo/blob/mast

[2019-02-13 21:06] jmtao commented on #6710
@BoChang11 If you want to get the lane(s) by point, the map may return your multiple lanes since some lanes are overlapped (especially around junctions and turns). This is as expected.
The lane by point is only unique if you talk about the lanes along  the routing. There are some methods inside ReferenceLine class to get it.
https://github.com/ApolloAuto/apollo/blob/master/modules/planning/referen

[2019-02-13 21:09] jmtao commented on #6578
Hi @KevinYuk , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:09] #6578 closed

[2019-02-13 21:17] jmtao commented on #6472
@panpgg these are different planners at high level, and only one would be selected and in use.
StdPlanning (now called OnLanePlanning) is the default one.
NaviPlanning is the a navigation mode which doesn't requires HD Map.
OpenSpacePlanning is a mode to handle open space parking and etc.
There's no FSM or state switching among them.

Hope our answer resolved your question. We will close the issue

[2019-02-13 21:17] #6472 closed

[2019-02-13 21:18] jmtao commented on #6088
Hi @kk2491 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:18] #6088 closed

[2019-02-13 21:19] jmtao commented on #6075
Hi @kk2491  hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:19] #6075 closed

[2019-02-13 21:20] jmtao commented on #5994
Hi @quhezheng @poutyface  , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:20] #5994 closed

[2019-02-13 21:21] jmtao commented on #5940
Hi @lesun90,  hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:21] #5940 closed

[2019-02-13 21:22] jmtao commented on #5879
Hi @luqiang21 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:22] #5879 closed

[2019-02-13 21:26] jmtao commented on #5799
@Brox0931 Apollo doesn't use ROS since 3.5 (released Jan 2019).  Please test with latest code.

We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 21:26] #5799 closed

[2019-02-13 21:28] #5279 closed

[2019-02-13 21:29] #5240 closed

[2019-02-13 22:36] jmtao commented on #5751
@kk2491
(1) t value is for time. we plan 0-6s
(2) s: start with the current position of the ego vehicle
(3) it means the obstacle's path would not cross with ego vehicle.
(4) these returns the st boundary of an obstacle.  min_t() and min_s() are the (x,y) of the left lower point, max_t() and max_s() are the (x,y) of the right upper point.
(5) yes. StZGraph is on PNC monitor.
(6) looks like we shal

[2019-02-13 22:49] jmtao commented on #5858
Hi @freeyyc , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-13 22:49] #5858 closed

[2019-02-13 23:22] xiaoxq commented on #2547
Hi @breakisx , the code is in another repo: https://github.com/ApolloAuto/caffe
We build it and put the output into Apollo docker container: https://github.com/ApolloAuto/apollo/blob/master/docker/build/installers/install_gpu_caffe.sh

[2019-02-13 23:23] #2779 closed

[2019-02-13 23:24] #2932 closed

[2019-02-13 23:31] sbanga16k commented on #6746
@aboarya I copied the contents of `modules/perception/testdata/camera/lib/traffic_light/preprocessor/data/multi_projection/` to `modules/perception/data/` like you said. But that didn't do anything to resolve the errors.

I even tried removing the "perception_camera" module from the `perception.launch` to see if it would work without it but it gave me the same error. I was trying to print out the

[2019-02-13 23:37] #4186 closed

[2019-02-13 23:41] techoe commented on #4233
We do not support Volta architecture yet.

[2019-02-13 23:41] #4233 closed

[2019-02-13 23:44] techoe commented on #4307
Dreamview should be able to visualize camera topics. @hadiTab, If you still have an issue please let us know.

[2019-02-13 23:48] #4511 closed

[2019-02-13 23:51] jmtao commented on #5998
@wujiyoung in dreamviiew,
(1) start docker and dreamview
(2) click "Module Controller" on left-side panel, and turn on "Routing" from Modules list
(3) play a bag file, so that a map can be loaded into dreamview UI
(4) click "Route Editing"  on left-side panel, and then pick start/end points by right clicking on the map, and then "Send Routing Request" from the menu on the top.
Now a routing reques

[2019-02-13 23:51] #5998 closed

[2019-02-13 23:51] techoe commented on #4581
The world coordinate can be changed to ego-centric coordinate by setting the current car as the origin. The velocity can be computed by ego-vehicle's speed (using IMU and CAN bus signal from EPS) and other vehicles' relative speed (from tracking of objects).

[2019-02-13 23:54] #4718 closed

[2019-02-14 00:49] KevinYuk commented on #6837
@jmtao
Nice. Beautiful summary!
BTW, from the link above, I also found "avoid" decision. What does that mean?

[2019-02-14 00:54] KevinYuk opened #6849 "In PathDecider solver, I found that you only add decision for static obstacles, especially for pedestrain and bycycle. How about dynamic obstacles?"
[code]

[2019-02-14 01:01] jmtao commented on #6849
Currently, we make decisions(Nudge/Stop) for static obstacles in PathDecide.
The decisions(Yield/Overtake and etc) for moving obstacles are made by STGraph.

[2019-02-14 01:46] KevinYuk opened #6852 "Regarding ST Boundary Type, what does "KEEP_CLEAR" mean?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-02-14 02:48] jinfagang opened #6854 "How to run apollo with out dreamview etc. run on single component?"
Using scripts directly run demo in dreamview can not understand apollo well, how to run on single node like rosrun to test single unit?

To be specificlly, if I want test a single image on yolo3d, what should I run?

[2019-02-14 03:04] fjc523 opened #6855 "Confused about "GetDxDzForCenterFromGroundLineSeg" in obj_postprocesser.cc"
I have two questions about function `GetDxDzForCenterFromGroundLineSeg`:

1. The function seems to calculate the smallest difference (dx and dz)  between the four bottom vertex of 3D bbox and the  "line_segs", which are the low line of 2d bboxes in the image. Why the sum of the differences can be the compensation value to the postion of object's center ?

2. The number of "line_segs" increases whe

[2019-02-14 03:22] aboarya commented on #6746
@sbanga16k  My apologies, I wrote my answer last night from memory. Here is a detailed explanation.

Looking at your original screen shot where the error is:

**Failed to load camera intrinsics.**

That error is coming from SensorManager.cc [line 78](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/common/sensor_manager/sensor_manager.cc#L78).

That exception is caused because
[

[2019-02-14 03:29] aboarya commented on #6746
Looking at your second screenshot, the one that lists the files in the `params` directory, the `front_6mm_intrinsics.yaml` is missing, just as it was for me.  I was able to find it under the production/data directory as I linked above.  https://github.com/ApolloAuto/apollo/tree/master/modules/perception/production/data/perception/camera/params .

[2019-02-14 04:26] #6780 closed

[2019-02-14 06:10] zoeveryday opened #6856 "Question on AdaptiveKalmanFilter::Predict() function in /radar/lib/tracker/filter/adaptive_kalman_filter.cc"
In Apollo 3.5 perception module, for conti ars radar processing, a Kalman filter is used for the radar track update using associated radar detections, if I understand correctly.

In /radar/common/radar_track.cc/ RadarTrack::UpdataObsRadar() function, it seems that only AdaptiveKalmanFilter::UpdateWithObject() function is called to perform both the Kalman **predict** and **update** steps.

So my qu

[2019-02-14 06:44] jediofgever opened #6857 "How to cite apollo ?"
How to cite apollo ? for my scientific paper

[2019-02-14 07:43] KevinYuk commented on #6849
@jmtao I read the code, and found that moving obstacles decision is made in speedDecider solver. Just as you said it's made by STGraph. However, why don't make decision for static and moving obstacles in PathDecider solver at the same time? In PathDecider, we have already got moving obstacle prediction trajectory from Prediction Module ros msg broadcast, even in SL graph (not ST graph), we could m

[2019-02-14 20:27] jmtao commented on #6854
@jinfagang
(1) start docker, build apollo
(2) use "cyber_launch start" followed by the launch file of the module you want to run. e.g:
cyber_launch start modules/planning/launch/planning.launch

"cyber_launch -h" to see the usage of cyber_launch

[2019-02-14 21:07] japrogramer opened #6864 "StrictMode, Legacy Context API"
### System information

- **OS Platform and Distribution**:
4.20.7-arch1-1-ARCH
linux 4.20.7.arch1-1

- **Apollo installed from (npm)**:
    "apollo-boost": "^0.1.23",
    "apollo-link-ws": "^1.0.12",
    "apollo-upload-client": "^10.0.0",
    "react-apollo": "^2.4.1",

[code]

[code]

[2019-02-14 21:31] #6864 closed

[2019-02-14 21:31] japrogramer commented on #6864
wrong repo

[2019-02-14 21:34] jmtao commented on #6849
we plan path first, and then speed based on path.
Currently we don't have SL graph. We have SL info, but that's not enough to make decision for moving obstacles without dimension of T(time).

[2019-02-14 22:50] liangyd opened #6869 "Canbus module: the can_sender message should be updated within the PowerSendThreadFunc, not OnControlCommand"
**Describe the bug**
Apollo's canbus module updates the can_sender when it receives control data. In this case, it fails to handle the use case when a CAN Tx message has an alive counter and its message trasmit rate is lower than control data update rate. This will probably cause a CAN bus communication issue for certain type of vehicles.

I am using canbus module to send a can message whose last

[2019-02-14 22:52] natashadsouza commented on #6857
@jediofgever thank you for your question.
We recommend using the standard acceptable format:
Baidu Apollo team (2017), Apollo: Open Source Autonomous Driving, URL:https://github.com/ApolloAuto/apollo

Let me know if you have any additional questions.

[2019-02-14 23:05] Capri2014 commented on #6869
@liangyd Please update your message rate accordingly, see https://github.com/ApolloAuto/apollo/blob/f2c7896c43616bf4010e028328e7c0cc39598b23/modules/canbus/vehicle/lincoln/protocol/gear_66.cc#L32 for the reference.

[2019-02-14 23:11] Capri2014 commented on #6869
@liangyd If your canbus rate is lower than the control rate, a better choice might be to lower your control rate instead.

[2019-02-14 23:24] liangyd opened #6871 "Socket_can_client: a better way to write message_id filter"
**Is your feature request related to a problem? Please describe.**
No..

**Describe the solution you'd like**
In line 76, socket_can_client_raw.cc, it write a receive message filter:
  // init config and state
  // 1. set receive message_id filter, ie white list
struct can_filter filter[2048];
  for (int i = 0; i < 2048; ++i) {
    filter[i].can_id = 0x000 + i;
    filter[i].can_mask = CAN_SFF_MAS

[2019-02-14 23:28] liangyd commented on #6869
@Capri2014 Thanks for your reply. :-) The fact is: I have can messages with different peroids. For example, some can messages needs to be sent every 100ms, while others 10 ms. The one with alive counter is the slower one. If I reduce the control rate, the can messages with faster rate with be impacted...

[2019-02-15 00:01] brac45 commented on #3005
Hello, could I obtain the Apollo OpenDrive specification please? Thank you in advance! mikejhlee04@gmail.com

[2019-02-15 00:29] KevinYuk commented on #6849
@jmtao Thanks for your reply.
Could I understand as below? Am I right?
When Apollo performs path profile, it only consider static obstacle to draw a path and don't consider moving obstacle. So if there is a moving obstacle(not oncoming direction) in front of ADC, Apollo cannot "see" this moving obstacle. The planning path would "cross" this moving obstacle ahead. Please check the picture below.
![

[2019-02-15 01:32] jinfagang commented on #6854
@jmtao  OK, I want  test yolo3d on a single image or an video, how to test that? Which launch file should I start and if there any test image can using for ?

[2019-02-15 02:06] mc-android-developer commented on #5479
Hi Apollo team,
I'd like to attract attention to this issue as it's matters for a number of people.
According to [calibration guide](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md) Radar-to-Camera Calibration tool only consumes camera images (/apollo/sensor/camera/traffic/image_short) and odometry (/apollo/sensor/gnss/odometry,ins_stat). So

[2019-02-15 02:17] mc-android-developer commented on #5479
@daviduhm As of your 2nd question my guess is that we are supposed to get configuration(tf/extrinsics) between lidar and camera at first as result of Camera-to-LiDAR Calibration process (as explained [here](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md)). After that we get configuration(tf/extrinsics) between radar and camera as result of R

[2019-02-15 02:53] natashadsouza commented on #6810
Please check #6877

[2019-02-15 02:53] #6810 closed

[2019-02-15 02:53] flnlucifer opened #6878 "Apollo 3.0 build error undeclared inclusion(s) in rule"
- **OS Platform and Distribution ( Linux Ubuntu 1６.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
The error occur when I build the project in docker.
`bash apollo.sh build`

### Supporting materials (screenshots, command lines, code/script snippets):

System check passed. Build continue ...
[WARNING] ESD CAN library supplied by ESD Elect

[2019-02-15 02:59] flnlucifer commented on #6878
I try to clean bazel and remove /home/cache/bazel files

[2019-02-15 06:13] #6878 closed

[2019-02-15 09:10] ankaret commented on #603
@msbeta @natashadsouza  I have filled the survey but haven't received any email from you, can you please send me the Apollo OpenDrive spec to anna.rettinger@gmail.com?

[2019-02-15 10:02] jediofgever commented on #6857
To anyone use bibtex;
[code]

![image](https://user-images.githubusercontent.com/18460336/52849290-a3af6580-314b-11e9-93ef-11f6b2d036d9.png)

[2019-02-15 10:02] #6857 closed

[2019-02-15 19:42] snehagn commented on #5472
@CCodie @jinxiao1231 Try giving executable permissions to the lidar_imu_callibrator binary and running it with the --flagfile=/../../conf/vehicle_imu_calibrator.conf" parameter, if using "bash sensor_calibration.sh" fails. You should install libceres in the docker environment and run the calibrations: "sudo apt-get install libceres-dev".

[2019-02-15 19:56] jmtao commented on #6852
@KevinYuk KEEP_CLEAR is a special area that is "crossable" on STGraph. It's created based on keep-clear zone or junctions that must be kept clear.
If they can be crossed under certain conditions, they are crossable; otherwise, ego vehicle must stop behind its start line.

[2019-02-15 20:03] jmtao commented on #6849
@KevinYuk once the path has been planed, we make decision for moving obstacles based on STGraph, and a "OVERTAKE/YIELD/STOP decision (which would be achieved via speed) would be made if their paths may cross ego vehicle's path.
In your second graph, ADC may slowdown(follow) or yield to that moving obstacle depending on its path/speed/heading.

[2019-02-15 20:05] jmtao commented on #5884
Hi @yangydavid,  we haven't heard from you for a while. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-15 20:05] #5884 closed

[2019-02-15 20:13] jmtao commented on #6837
@KevinYuk "avoid" decision is a special decision we design/plan for ESTOP.
When ADC is unable to self-driving properly, it'll enter estop scenario.  It may hard-brake, or cruise via a safe route if possible.  During this period, it still need to dudge/avoid obstacles, but the algrithmn/handling can be very different from Nudge decision in normal situation. That's the decision of AVOID.

[2019-02-15 20:34] jmtao commented on #5748
@ankitvora7 we've logged this issue, and it will be supported in future release.
we'll close this issue for now.

Thanks for supporting Apollo!

[2019-02-15 20:34] #5748 closed

[2019-02-15 20:36] #6710 closed

[2019-02-15 20:37] #6809 closed

[2019-02-16 01:41] HanochZhong commented on #6871
Refer to your Socket2CAN hardware device programming manual.

[2019-02-16 01:51] HanochZhong commented on #6869
control periods is 10ms default, but，you can use a strategy in the CANbus module to call your CAN signal at 100ms。For example, counting.

[2019-02-16 02:21] HanochZhong commented on #6644
That's OK. You may need to modify the code that parses the data in the modules / drivers / gnss directory

[2019-02-16 08:51] xhzzhang opened #6899 "Require the compress option 'bz2' of cyberRT"
**Is your feature request related to a problem? Please describe.**
Apollo use rosbag before apollo 3.5, the rosbag have a compress 'bz2' to use few hdd when record topic.

**Describe the solution you'd like**
Hope cyber_record have add option 'bz2' like rosbag_record.

**Describe alternatives you've considered**
None

**Additional context**
Hope it before Q4 of 2019.

[2019-02-16 09:33] quuen commented on #6691
@techoe What is the specific meaning of c0-c3?

[2019-02-18 00:07] KevinYuk commented on #6849
@jmtao Understood. Thanks a lot.

[2019-02-18 00:07] #6849 closed

[2019-02-18 00:19] KevinYuk commented on #6837
@jmtao The "avoid" decision is "lateral" object decision in safe route cruise scenario. Am I right?

[2019-02-18 03:42] HanochZhong opened #6903 "camera num& do you used fisheye (apollo 3.5)"
In apollo/modules/drivers/camera/dag/camera.dag has a components: include fisheye

 components {
      class_name : "CameraComponent"
      config {
        name : "camera_front_fisheye"
        config_file_path : "/apollo/modules/drivers/camera/conf/camera_front_fisheye.pb.txt"
      }
}

but in perception modules include  apollo/modules/perception/production/dag/ has not about fisheye camera, wh

[2019-02-18 05:45] Iqbalparvi commented on #5499
@xiaoxq yes I solve that issue on my laptop thanks...but in my lab PC I faced problem that localhost:8888 OR Dreamview cannot run on browser but cyber_recorder run  the inform is below
@in_dev_docker:/apollo$ bash scripts/bootstrap.sh start
**nohup: appending output to 'nohup.out'
Launched module monitor.
nohup: appending output to 'nohup.out'
Launched module dreamview.
Failed to start Dreamview.

[2019-02-18 15:07] ankaret commented on #3005
Hi,
when are you sending out the specifications? I filled the form a while ago and haven't received the specification. Thank you in advance!

[2019-02-19 02:42] wobistdu opened #6908 "Question: Does the road height (elevation) matters for apollo?"
For the routing, the waypoint is 2D point, and the routing response is road segments, so the answer for that module is NO.

What about planning and controlling? I checked the HD map xml parser, the code parses some "z" value from the map file, but it ignores the others. So I am a bit confused, does the road height (z value) matters for apollo?
I tried adding the height value into the parse, but in

[2019-02-19 05:36] #6600 closed

[2019-02-19 05:38] GitEasonXu commented on #6600
It's ok when I changed my computer

[2019-02-19 09:55] huyichen19950417 opened #6909 "Question: Can we visualize point cloud data using Dreamview?"
### Apollo version:

- **Apollo 3.0**

### Problem:
**I wonder if we can visualize our own point cloud data in Dreamview just like rviz. I have tried to visualize my own point cloud data in dreamview by publishing the data into the topic "/apollo/sensor/velodyne64/compensator/PointCloud2". I have lit up the button of "velodyne" in the Dreamview, but cannot visualize the point cloud. Have I done it

[2019-02-19 15:15] kkhitsko opened #6910 "Lexus model supported"
Please tell me which model of Lexus vehicle is supported?

[2019-02-19 18:55] aboarya commented on #6811
@jinfagang You should run this on the host:

[code]

[2019-02-19 18:58] aboarya commented on #6811
https://github.com/ApolloAuto/apollo/issues/6498#issuecomment-455288291

[2019-02-20 01:52] KevinYuk opened #6914 "Why Apollo stitches reference line? Just for saving computation resource?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-02-20 05:58] junjieshen opened #6916 "Any plan for supporting Nvidia RTX 2080?"
Hi,

I wonder if Apollo is going to support the new 20 series GPUs such as RTX 2080?

As indicated in another [issue](https://github.com/ApolloAuto/apollo/issues/4233), Apollo comes with a pre-compiled version of Caffe which doesn't support new GPU architectures such as Volta. Is this still the case in version 3.5? If not, would Apollo provide support in next releases for 20 series GPUs?

Thanks,

[2019-02-20 09:06] louis016 commented on #5846
Hi @alexbuyval,

we are trying to use the low cost perception in standard mode in our car.

The yolo camera detector works well, but when I tried to transform the coordinates from camera coordinates to world frame for standard mode, if failed.

Can you tell me how do you get the transform matrix from camera to world?

[2019-02-20 09:07] natashadsouza commented on #6910
@kkhitsko Lexus RX 450h

[2019-02-20 09:24] kkhitsko commented on #6910
As I understand, this vehicle is supported only with pacmode3 module?

[2019-02-20 09:34] donlindon commented on #3822
@natashadsouza the link you provide is SurveyMonkey, a website for people to do survey, does the HD map document can be found on that site?

[2019-02-20 18:34] unacao commented on #6909
You are right in feeding point cloud data to the topic /apollo/sensor/velodyne64/compensator/PointCloud2. To turn on the visualization, please go to "Layer Menu" on the left sidebar, then turn on "Point Cloud" under "Perception" module.

[2019-02-20 18:50] JasonZhou404 commented on #6914
For now, we don't support offline reference line smoothing because of the complexity of city lane network. In current implementation, stitching is for stabilizing reference line and saving computation effort

[2019-02-20 18:51] jmtao commented on #6908
@wobistdu Currently we don't support 3D map and 3D position, z usually is set to 0 by default. We'll support that soon.

[2019-02-20 18:53] jmtao commented on #5751
Hi @kk2491 hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-20 18:53] #5751 closed

[2019-02-20 18:55] snuffysasa opened #6921 "Apollo 3.5 appears to have no Lane Tracking?"
In Apollo 3.5, I have throughly read through the perception module code.

It appears that there is no Lane Tracking, as in no Lane history, matching detection to previous frames, and no filtering such as a Kalman Filter or Particle filter for processing Lane Lines.

Is this correct?  Or have I missed something? Thanks

[2019-02-20 18:56] jmtao commented on #6837
@KevinYuk yes. you are right. the "avoid" decision is a "lateral" object decision in e-stop mode. (we don't have a "safe route cruise" scenario though.)

hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-20 18:56] #6837 closed

[2019-02-20 18:56] jmtao commented on #6852
@KevinYuk hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-02-20 18:56] #6852 closed

[2019-02-20 21:09] vlin17 commented on #6909
Have you tired turning on "Layer Menu" -> "Perception" -> "Point Cloud" ?

[2019-02-20 23:41] drliebe commented on #5747
Is there any update on this? I was attempting to enable the LQR lateral controller's preview_window, and it didn't appear to be having any effect. (I am trying to get the vehicle to take a low-speed right-hand turn at an intersection, but it is consistently clipping the corner.) Should the MPC controller be used instead?

[2019-02-21 01:56] tlin051 commented on #5012
Hi, I tried to to run proto_map_generator on the sample map file in modules/maps/data/sunnyvale_loop, but I am getting the following error.

E0220 16:08:43.812430 10062 opendrive_adapter.cc:52] [] fail to parse opendrive road, Error parse road sample associations
F0220 16:08:43.986624 10062 proto_map_generator.cc:39] Check failed: apollo::hdmap::adapter::OpendriveAdapter::LoadData(map_filename, &p

[2019-02-21 03:32] kk2491 commented on #5012
@tlin051 I just tried, and it looks like it is not able to read the xml file. Probably those files are hidden as it gets from the docker.
I have tried copying the xml file to different directory and but it was not successful.

[2019-02-21 05:20] diff8911 commented on #3005
Hi, could you send me the Apollo OpenDrive specification, please? Thanks.
diff8911@gmail.com

[2019-02-21 09:32] diff8911 commented on #603
@msbeta Could you please send me the Apollo OpenDrive spec to diff8911@gmail.com?

[2019-02-21 10:28] htabani commented on #6909
We have several bags that they do not contain point clouds. From where we can access to the point clouds data? We are unable to generate our own point cloud data since we do not have any LiDAR sensor.

[2019-02-21 17:05] andytolst opened #6929 "LiDAR - IMU Calibration: Unable to create calibration task"
I'm trying to follow the steps in Lidar-IMU calibration guide:
https://github.com/ApolloAuto/apollo/blob/master/docs/specs/apollo_lidar_imu_calibration_guide.md

when I try to create a new task here:
https://console.bce.baidu.com/apollo/calibrator/index/list

it asks for additional registration, and I've entered all the data, but I still can't create a new calibration task.
Please advice. Thanks.

[2019-02-21 17:11] tlin33 commented on #5012
@kk2491 thanks for trying it out. Did you get similar errors as I did?

You mentioned you were successful in converting the base_map.xml to base_map.txt in your previous comment. Was this referring to your own custom map or any of the example maps provided by Apollo?

[2019-02-21 17:12] tlin051 commented on #5012
@kk2491 thanks for trying it out. Did you get similar errors as I did?

You mentioned you were successful in converting the base_map.xml to base_map.txt in your previous comment. Was this referring to your own custom map or any of the example maps provided by Apollo?

[2019-02-21 18:00] kk2491 commented on #5012
@tlin051 Yes, I got the similar errors.

I was referring to the custom map.

[2019-02-21 18:13] hongkedavid commented on #6529
Is it true that Apollo v3.5 no longer uses apollo-ros (https://github.com/ApolloAuto/apollo-platform)? If that's the case, can I understand CyberRT as a middleware replacement of ROS in Apollo v3.5 and also providing new customized features to meet the performance requirement of autonomous driving?

[2019-02-21 18:58] mayankdhingra02 commented on #5392
Hi, I have installed GLFW 3.2.1 in UBUNTU 16.04. But I am not able to find glfw_fusion_viewer.cc file to make the required change mentioned in "https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_2.5_with_ubuntu16.md" even after a lot of searches. Could someone please guide me on this?

[2019-02-21 23:32] robertliu219 commented on #6723
I cannot represent the Apollo team, but as far as I know, there are efforts porting Apollo 3.5 to aarch64.
And I am pretty sure for now you cannot run Apollo 3.5 directly on aarch64. It seems the current code includes many hardcoded optimizations for x86 platform (e.g., x86 assembly, sse4/AVX, etc).

[2019-02-22 00:00] robertliu219 opened #6945 "Calling push_back on a non-vector object"
**Describe the bug**
In the file ./modules/perception/common/i_lib/pc/i_struct_s.h:706, the code tries to call push_back on a non-vector object, i.e., "voxels_[id].push_back(n);"

**To Reproduce**
Currently the method "bool VoxelGridXY<T>::Set()" is not called, so the compiler does not compile this buggy snippet. But I am trying to compile the code on ARM platform, and will have to call this non-s

[2019-02-22 02:37] apppcs opened #6951 "How can I generate the background.jpg and it's information?"
After check modules/map/data/sunnyvale_big_loop/background.jpg, I have two questions below :

1. How to generate the "background.jpg" from local_map/image/000/north/10/xxxxxxxx ?

2. How do you determine the parameters on xres, yres, mpp, xorigin, yorigin ?
		"sunnyvale_big_loop": {
			"mpp": 0.125,
			"xres": 24576,
			"yres": 16384,
			"xorigin": 587392,
			"yorigin": 4140800,
			"type": "defaul

[2019-02-22 03:00] GoLancer commented on #6751
Thanks @yang-le  for this issue.
#6953 will fix it.

[2019-02-22 03:01] fengqikai1414 commented on #6749
Thanks @yang-le  for this issue.
#6954 will fix it.

[2019-02-22 09:39] wobistdu commented on #6908
@jmtao Thanks for the confirmation. Hope we can get that soon.
Currently I tried to run a map with flyover and tunnels, I add the height into hdmap, but doesn't work well.
I can set z to zero, but the traffic cars will look like "fly over the roads".

[2019-02-22 10:28] askkl commented on #3005
Hi, could you please send me the Apollo OpenDrive specification? Thank you.  hlq.0318@163.com

[2019-02-22 19:27] natashadsouza commented on #6929
@andytolst have you tried creating a new account? Do you see an error message on the console page? If so please send us a screenshot. Thanks!

[2019-02-22 19:30] natashadsouza commented on #6908
Thank you for the suggestion @wobistdu
We have included it in our enhancement requests.
We will let you know once we support 3D map and position.
Currently closing this issue!

[2019-02-22 19:30] #6908 closed

[2019-02-22 20:28] andytolst commented on #6929
@natashadsouza
I login using my phone number and text message, go to
https://console.bce.baidu.com/apollo/calibrator/index/list
and hit "New Task"

![baidu_calibration](https://user-images.githubusercontent.com/1422400/53269158-00a3a200-369d-11e9-946a-3c986454034c.jpg)

Enter all the details, it says it's submitted and "we will contact you in time" - that was 3 days ago
![baidu_cloud_submitted](ht

[2019-02-22 22:02] natashadsouza commented on #6929
@andytolst we will have this checked. This guide was used for Apollo 2.0. But in the mean time, I would recommending using the tool in this [newer guide](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/multiple_lidar_gnss_calibration_guide.md). Let me know if you have any questions.

[2019-02-22 22:04] andytolst commented on #6929
@natashadsouza Thanks! I'll try that

[2019-02-22 23:01] natashadsouza commented on #6929
Great! Let me know if you have any questions.

[2019-02-23 21:07] springsun101 opened #6967 "Apollo 3.5 'cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop' error dreamviewer blank"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop

2. Click on '....'
3. Scroll down to '....'
4. See error
**

- E0223 20:37:40.765408 15422 record_file_reader.cc:69] [cyber_recorder] Check section type failed, expect: 0, actual: 1936876918
- E0223

[2019-02-24 22:32] aboarya commented on #6747
@DevMohamedMI I updated the BUILD and cc files as described above, rebuilt with build_gpu, and ran the `perception_camera.launch`; which is just the `dag_streaming_perception_camera.dag`.

I then ran the vanilla record file with `cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop` but I am not seeing any visualization.

Forgive my ignorance, but I was expecting some kind of popup based

[2019-02-24 22:34] aboarya commented on #6747
@techoe Can you please elaborate on how to use the `visualizer.cc` code? How do I incorporate this into the record play?  What is the expected output?

[2019-02-25 02:43] #6751 closed

[2019-02-25 02:48] #6749 closed

[2019-02-25 04:47] bjtulynn commented on #6478
Can you post the result of the command "sudo sysctl -a | grep -E "shmall|shmmax""?

Sometimes kernel.shmmax the system is using is not in the /etc/sysctl.conf, especially when we set/unset or adjust our system variables environment.

[2019-02-25 06:57] baowanyu commented on #6967
I tried to reproduce it，but everything is normal in my dev environment.
[code]

You can run the following command to determine if the demo_3.5.record file are consistent with my.
[code]

[2019-02-25 11:37] fengqikai1414 commented on #6724
Hi @yang-le , @jilinzhou

Just wonder when / where this pointer will be deleted?
Will this cause a memory leak?

This approach is called the Construct On First Use Idiom, which is used to prevent the static initialization order problem. You can get more at [here](https://isocpp.org/wiki/faq/ctors#static-init-order-on-first-use).

What will happen when someone call like this?

In Cyber RT, we only

[2019-02-25 13:45] quuen opened #6970 "the output of perception"
Could anyone tell me that  the meaning of  the following parameters represent about the lane line.
// equation X = c3 * Z^3 + c2 * Z^2 + c1 * Z + c0
  optional double c0_position = 4;
  optional double c1_heading_angle = 5;
  optional double c2_curvature = 6;
  optional double c3_curvature_derivative = 7;
I think c0 is the distance about the start point of the lane line to the vehicle,c2 represent

[2019-02-25 14:10] quuen opened #6971 "the tool about relativemap_viewer"
![xx](https://user-images.githubusercontent.com/45919445/53342922-15589200-394a-11e9-84d4-cfe1447c1d22.png)
Why is the  generated lane line by the perception module represented by green visualized as oblique rather than straight?
Why the right line of the generated lane line represented by blue color exceeded the perception lane on the right？

[2019-02-25 19:17] aboarya commented on #6747
@techoe my apologies! that was a very silly question! I found the bazel `BUILD` file and built the offline_obstable_pipeline binary.  Still a couple of issues had to be resolved, like two bad symlinks for data and conf directories, and a hard coded path with `/home/<some-user>/cybertron` in the flags file.

For anyone coming here and would like a quick answer, you can run the offline obstacle visu

[2019-02-26 01:49] KevinYuk opened #6981 "Path Planning(M-step) DP search: why static obs cost calculation is based on Frenet coordinate system? moving obs cost calculation is based on Cartesian coordinate system?"
I print the static obs bounding box (need convert from Frenet coordinate to Cartesian coordinate); while, for moving obs, just need directly print this min max corner(don't need convert).

![image](https://user-images.githubusercontent.com/20220399/53381485-db1fdc80-39ab-11e9-9a06-8133ee642b65.png)

[2019-02-26 14:07] guqiangwei opened #6991 "when ADC is sidepassing obstacle A, at stage_pass_obstacle, perception module gives a new obstacle at the front of obstacle A, can apollo 3.5 deal with this scence?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- ** Linux Ubuntu 16.04**:
- **Apollo installed from source **:
- **Apollo version 3.5**:

### Steps to reprod

[2019-02-26 15:18] astroseger commented on #6967
After following step-by-step this https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide I have the same problem. It seems the problem is with ```git-lfs```
[code]

[2019-02-26 23:23] yifeijiang commented on #6971
It depends on:
1. how did you collect navigation line, e.g., how accurate they are?
2. how accurate is your localization?
3 what perception hardware and software were used?
4 what is the road condition? e.g., how clear is the lane marker? what is the lanes structure?
5 what is the vehicle status at the time of plot?
If you could give more context of your question, others may understand your questi

[2019-02-26 23:32] quuen commented on #6971
@yifeijiang Thanks for your reply!I just play the demo2.5 bag and feed some relative topics to generate raletive map and observe the relative map by this tool.

[2019-02-27 01:51] zhuyingjie1 opened #7001 "现在Apolloy的高精度地图中有没有关于parking lot的结构和场景？"

[2019-02-27 01:54] aboarya commented on #6854
@jinfagang
There's an offline obstacle detector cc file which runs yolo3d on the images in the testdata directory.

If you look in the `modules/perception/camera/tools/offline` directory, there's the list of files used to create the offline_obstacle_pipline binary.

You can build and run it in one command as follows:
[code]
But there are many problems with this code.  Once you resolve some bad fil

[2019-02-27 02:14] aboarya opened #7002 "Perception: YoloObsacleDetectorRegisterer macro is not executed in the Offline Obstacle Detector Tool"
**Describe the bug**
The perception module has an offline tool for obstacle detection in
[code]
Building and running this file gives the following error:

[code]
We have stepped into the code to find the macro  [PERCEPTION_REGISTER_REGISTERER](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/lib/registerer/registerer.h#L92) which should be executed by components that implement i

[2019-02-27 02:19] jinfagang commented on #6854
@aboarya  Thank u for your useful info! If you have progress pls let me know

[2019-02-27 03:34] daohu527 commented on #6003
@riskeverything There is a [online guide](https://github.com/ApolloAuto/apollo/blob/62ad889c00df7f68261a23da03c1e535bc3d1309/docs/quickstart/Apollo_3_5_map_collection_guide.md), I think it's all right to collect a map by yourself. If you record the bag with the some format.
The hardware may be a bit redundant for map acquisition, and also need to be calibrated. I think there may be a deprecated ve

[2019-02-27 03:39] gouchaoer commented on #6720
it's my fault.
I have thought that `git lfs pull` equals `git lfs fetch && merge`
actually use `git lfs fetch --all` solved the problem.

[2019-02-27 03:39] #6720 closed

[2019-02-27 03:54] aboarya commented on #7002
These debug messages are from master branch
[code]
The `obstacle.pt` file is where the `YoloObstalceDetector` plugin param is defined.  However, the code is trying to get an instance of `ObstacleCameraPerception` which has a different base class from `YoloObstalceDetector`.

They are two different types completely! Has this never worked, or am I missing something?

[2019-02-27 11:15] diff8911 opened #7005 "why car stops at the junction"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
- after starting the dreamview, I open the SimControl mode and select module Routing and Planning，chose the first default routing
- the car runs well at

[2019-02-27 11:32] diff8911 opened #7006 "how to use Apollo with my own simulation software"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
- using my own simulation software publish the followed topics to Apollo：/apollo/localization/pose, /apollo/canbus/chassis
- my simulation software subs

[2019-02-27 16:24] Spatialghost opened #7012 "Oops! Something went wrong"
Hi, i built Apollo 3.5. for Ubuntu 18.04 and when i starting Dreamview, i see error "Oops! Something went wrong". If somebody met same error, how to fix this error?
Thank you.
![screenshot_9](https://user-images.githubusercontent.com/36438927/53505608-fdae1480-3ad5-11e9-9b8d-81df67b5c54d.png)

[2019-02-27 19:28] akn9017 opened #7015 "Is there a tool to view or verify compatibility of custom HD Maps with Apollo 3.5?"
Do you provide any tool to view or verify if a custom HD map is compatible with the requirements of Apollo 3.5?

[2019-02-27 19:36] akn9017 commented on #4048
@natashadsouza and @Zhenni17 I have submitted the survey to request for the specifications several times, but have not yet received the specifications. Are you still using the link to provide for the specs? Else, can you please send the Apollo OpenDrive spec document to [akn902017@gmail.com](mailto:akn902017@gmail.com)?

[2019-02-27 21:37] ankita9017 opened #7019 "Any demo or tutorial to test entire apollo 3.5 stack?"
I am able to run the demo .record file and visualize the output in Dreamview. However, I find that no modules are actually running and processing any sensor data.

The demo-3.5 .record file is actually just the output of the stack recorded for some run and not a sample input to test the stack. Hence what I am able to test is just cyber_recorder tool replaying a pre-recorded file and not the perfor

[2019-02-27 22:41] drliebe commented on #5747
At line 503 I added:
[code]
I then changed the configuration file to have `preview_window: 1` and added a fifth entry `matrix_q: 0.025` to get the mentioned portion of the code to run. Now in the control.INFO log I get:
[code]
which shows up repeatedly confirming the values are identical to zero. (Which I assume is incorrect.)

I increased the `preview_window: 2` and added a sixth entry `matrix_q:

[2019-02-28 01:24] jmtao commented on #7005
@diff8911 ego vehicle may stop at junction because of traffic rule (stop sign, traffic light, and etc).
You can switch to default view (vs Overhead view in your screen shot), to see the red stop fence. There's a sign attached to it, pretty self-explanatory what's the reason for this stop fence.
Or you can use cyber_minor to view /apollo/planning topic, to see what's the stop reason for it.

[2019-02-28 01:28] diff8911 commented on #7005
@jmtao Thank you for your reply. How can I change the red to green, or how can I just remove the fence?

[2019-02-28 03:44] BoChang11 commented on #6710
@jmtao thanks for the details. As mentioned above I was able to get the current lane details. Yes, you are right, we would get more than one lane if there is overlap.

[2019-02-28 06:32] zezhou commented on #7019
Two steps to do this:
First, you should start all modules, including perception and planning.
Then, you can play the record bag, output channels that only contain raw sensor data in the record (without perception results), and disable other channels.

I don't familiar with apollo docs, maybe other people can help you to find corresponding tutorials

[2019-02-28 06:33] zezhou commented on #7001
云端仿真上有，但开源没放出来

[2019-02-28 09:07] Tony301X opened #7035 "Some confusion on Cyber RT's ShareMemory communication mechanism"
Hi, folks

   I've learned Cyber RT recently, got some information about its message transport mechanisms. Shared memory, as one of them, is used often. But I have some questions concerning to it, detailed as below:
  1. In file */cyber/transport/shm/shm_conf.h, some code snippet as follows:
`// Extra size, Bit`
  `static const uint64_t EXTRA_SIZE;`
`
  // State size, Bit`
 `static const uint64_t

[2019-02-28 09:20] GoLancer commented on #6899
Thanks for your suggestion. We will support this feature in Q3.

[2019-02-28 09:20] #6899 closed

[2019-02-28 09:20] #6724 closed

[2019-02-28 09:36] Tony301X commented on #7035
Sorry for typo, all "<< 3" should be ">> 3".

[2019-02-28 10:20] jinfagang opened #7036 "cnn_seg inference on velodyne-16 beams error"
Hi, I extract cnn_seg node from apollo docker. The code does not changed, and it can be compile and load weights successfully, however when testing 16-beams data got this error:

[code]

Seems a channel mismatch, what could it be? (I am using a velodyne16 model from docker)

[2019-02-28 11:07] jinfagang commented on #5819
@vladpaunescu @alexbuyval  There is a paper talked about this [link](http://talk.strangeai.pro/topic/62/yolo3d-end-to-end-real-time-3d-oriented-object-bounding-box-detection-from-lidar-point-cloud)

[2019-02-28 11:45] baowanyu commented on #6967
It looks like you're missing git-lfs tool. You should install this tool and pull code again.

Refer to the following documentation:
https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md

[2019-02-28 12:29] ZeusJupiter commented on #6693
Please use the following command for checking OpenGL Version if you have correctly installed the NVIDIA driver:
      `sudo apt install mesa-utils`
      `glxinfo -v | grep -i opengl`

cyber_visualizer needs that the OpenGL version is 3.3 or higher

[2019-02-28 19:42] jmtao commented on #7005
@diff8911 It depends on what's the stop reason in your case (red light, or stop sign).

[2019-02-28 21:43] natashadsouza commented on #7012
@Spatialghost do you see any error messages in your terminal?

[2019-02-28 21:45] natashadsouza commented on #7015
@akn9017 we do not currently have a tool, but that is definitely something in our roadmap. Thank you so much for your request!

[2019-02-28 21:45] #7015 closed

[2019-02-28 21:50] natashadsouza commented on #6914
Closing this issue. Feel free to reopen it if you have additional questions @KevinYuk

[2019-02-28 21:50] #6914 closed

[2019-02-28 21:50] natashadsouza commented on #6929
Closing this issue as it appears to be resolved. @andytolst feel free to reopen it if you have additional questions.

[2019-02-28 21:50] #6929 closed

[2019-02-28 21:54] natashadsouza commented on #6967
@springsun101 [the migration guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_migrate_to_the_updated_apollo_master_from_old_versions.md) should help resolve this issue! Let us know if you have any additional questions. Closing this issue for now!

[2019-02-28 21:58] natashadsouza commented on #6811
@jinfagang are you still facing the issue? @aboarya thank you for the fix. I believe your suggestion should have fixed the issue. Feel free to reopen this issue if you still have additional questions.

[2019-02-28 21:58] #6811 closed

[2019-02-28 21:59] natashadsouza commented on #6569
Closing this issue as it appears to be resolved.

[2019-02-28 21:59] #6569 closed

[2019-02-28 22:10] quning78 commented on #6478
@swdev1202

have you run "sysctl -p" after modifying the sysctl.conf file?

[2019-03-01 00:46] diff8911 commented on #7005
@diff8911 Could you please tell me how to turn the red light to green and how to remove the stop sign?

[2019-03-01 00:57] Fla3inH0tCheet0s opened #7043 "Use Standard FastRTPS Package"
Apollo's current version of FastRTPS seems to be old and modified. I cannot find the modified source files.

Packaging a standard 1.7.1 release of FastRTPS in docker will work. I'm not sure if the modifications are necessary.

Another solutions would be to release the original FastRTPS release and the related diff.

One of the bug fixes from FastRTPS that would be nice is https://github.com/eProsi

[2019-03-01 01:57] natashadsouza commented on #6800
@dawonn-haval apologies for the delay in responding. Are you still having build issues? It seems like you found the issue to be Git LFS one. If you are still seeing the issue, please @-mention me and send in a screenshot of the logs you see. Thanks!

[2019-03-01 01:58] gruminions commented on #7035
Hi Tony,

Thank you very much to point out the wrong comment in shm_conf.h! We will correct it as soon as possible.
For question 2, maybe you need check the process of Recreation after replacing the SysV with POSIX.
Thanks again for your contribution to the Apollo!

[2019-03-01 02:14] Tony301X commented on #7035
@gruminions Thank you very much for quick reply！

[2019-03-01 02:48] Tony301X opened #7050 "How did Cyber RT support functional component distributed deployment"
Hi, folks

I want to deploy Apollo's functional components on different host, e.g, Planning and Control modules on host A, Perception module on host B, how will they communicate? In Cyber RT, it has RTPS transport mode, and I wanna know how to configure to support functional components distributed deployment? Please show the detailed steps to carry it out.

Thanks in advance!

### System informati

[2019-03-01 04:56] KevinYuk opened #7053 "PathDecider tag: not-in-s, not-in-l, nearest-stop, not-nearest-stop. What do they mean?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-03-01 05:56] pramodswainn commented on #4634
@schietau  Hi ,Do you have any reference document to understand how to add new planner ?

[2019-03-01 06:27] KitFung commented on #7043
1. use 1.5..0 version
2. need to install to `/usr/local/fast-rtps`
3. Also need to move the fastcdr header and shared library to there
4. Need to change the data sending part. (Otherwise, it will have some issue while dealing with the '/0')

maybe it still need more change.
I hope baidu will also release their modified version asap.

[2019-03-01 06:46] stdpython opened #7055 "collision question about lattice planner"
While check collision things, I found that we only check the bounding box overlap in the trajectory points
 based on sample strategy, and the distance of the sample points seems a little far(20~30m).
And I doubt that there exist potential collision between the points, which means that the edge of the lattice may have a collision.
please help me to figure it out, thank you!!

[2019-03-01 08:01] baowanyu commented on #7043
@Fla3inH0tCheet0s

[2019-03-01 08:09] baowanyu commented on #7043
You can find FastRTPS 1.4.0 patch from another repo. https://github.com/ApolloAuto/apollo-platform/tree/master/ros/third_party

Upgrading FastRTPS is already in our plan. We will release it after full testing,

[2019-03-01 08:27] fengqikai1414 commented on #7050
Hi @Tony301X
You just need to modify line 20 of `/apollo/cyber/setup.bash`
[code]
Suppose you have two hosts A and B，the ip of A is `192.168.10.6`, and the ip of B is `192.168.10.7`. Then set `CYBER_IP` to `192.168.10.6` on host A,  and set `CYBER_IP` to `192.168.10.7` on host B. Now host A can communicate with host B.

[2019-03-01 10:25] KitFung commented on #6951
mpp = resolution
xorigin,yorigin = the world coordination of the (0,0) in the image
xres = the real x lrange / resolution
yres = the real y lrange / resolution

Then just use the above parameter to combine all the image in the image folder

[2019-03-01 11:04] diff8911 commented on #7005
@jmtao
Could you please tell me how to turn the red light to green and how to remove the stop sign?

[2019-03-01 11:04] Spatialghost commented on #7012
Absolutely without any errors.

[2019-03-01 15:24] Wang4758 opened #7058 "Vehicle drives out of the map in Demo 2.5"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 18.04
- **Apollo installed from (source

[2019-03-01 15:31] Tony301X commented on #7050
@fengqikai1414 ,thanks for your reply, I'll try it soon.

[2019-03-01 18:34] hyunjaecho94 commented on #7005
I'm having a similar issue. The car stops at a traffic light and even after it turns green, the car does not move.

[2019-03-01 19:19] natashadsouza commented on #7012
Could you send me a screenshot of your console error messages? @Spatialghost

[2019-03-01 21:39] ankita9017 opened #7060 "rosbag_to_record creates empty record file during conversion"
I am trying to convert a bag file to record file using the rosbag_to_record tool. However, it returns an empty record file:

![image](https://user-images.githubusercontent.com/30883964/53666346-be410e80-3c22-11e9-9ebc-f5c6c8e57123.png)

Is there something else that I need to do before I run the conversion?

### System information

- **OS Platform and Distribution**: Ubuntu 14.04
- **Apollo install

[2019-03-02 03:20] YihsunEthanCheng commented on #3005
Hi, could you please send me the Apollo OpenDrive specification? Thank you. c561688@outlook.com.

[2019-03-02 04:40] Tony301X commented on #7050
Hi @fengqikai1414
I used your method, and try tcpdump to capture network traffic, but there's no data flowing.

My operation steps as follows:
Prerequisite: I have two host, e.g., A, B, they can be pinged successfully each other.
1. Modify CYBER_IP in /apollo/cyber/setup.bash to one's own IP address.
2. On A, I run `bash scripts/bootstrap.sh` to launch Dreamview in docker env, toggle Sim Contorl o

[2019-03-02 05:15] aboarya commented on #6854
@jinfagang Finally managed to get all the tools in `modules/perception/camera/tools` to work.  That code is very messy and I had to make many, many changes, but the results are good.

I am able to run obstacle detection and lane detection on the sample images in the repo.  All my changes to get it to work are on this branch https://github.com/aboarya/apollo/tree/attemping_offline_perception

If yo

[2019-03-02 05:17] #6723 closed

[2019-03-02 08:41] diff8911 opened #7074 "why the car is offset from the planned trajectory"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 2.0

### Steps to reproduce the issue:
- using my own simulation software publish the followed topics to Apollo：/apollo/localization/pose, /apollo/canbus/chassis
- my simulation software subsc

[2019-03-03 01:11] jinfagang commented on #6854
@aboarya  Thanks, have you run yolo3d ? I really want to see the 3d output result, the obstacle detection image above seems 2d. Would u separate the project extract simple executable out for runing off line?

[2019-03-03 01:27] yang-le commented on #6724
thank you @fengqikai1414 , I learned a lot from that [link](https://isocpp.org/wiki/faq/ctors#static-init-order-on-first-use).

[2019-03-03 13:41] aboarya commented on #6854
@jinfagang Yolo3d (to my understanding) is just a transformation from the camera's 2d input into 3d space using the brown camera model; i.e. using the camera's intrinsic and extrinsic settings.

I think you may be thinking about the HD maps?

[2019-03-03 14:56] jinfagang commented on #6854
@aboarya  Yolo3d is not just 2d detectors convert to 3d space with camera intrinsics and extrinsic with lidar so on. it's a model produce 3d location (using 6d pose though) directly which is totally different from 2d detectors. Anyway, 2d detectors transform into 3d has a lot of trouble ( at least you have to know depth of that point and should be very accurate). I does not know which using in Apo

[2019-03-03 21:41] ChenghanZhou commented on #6693
Mine says

server glx version string: 1.4
client glx version string: 1.4
GLX version: 1.4
    Version: 18.0.5
    Max core profile version: 3.3
    Max compat profile version: 3.0
    Max GLES1 profile version: 1.1
    Max GLES[23] profile version: 3.1
OpenGL core profile version string: 3.3 (Core Profile) Mesa 18.0.5
OpenGL core profile shading language version string: 3.30
OpenGL version string:

[2019-03-04 00:37] #7055 closed

[2019-03-04 02:11] techoe commented on #6970
c[0..3] are the coefficients of cubic curve to represent curvy lane line. I don't know AdvanceLane_finding but this representation is quite intuitive. Please note that the origin of the coordinate system is the center of a rear axle.

[2019-03-04 02:12] techoe commented on #6921
We detect lane line type (L0, L1, L2, R0, R1, R2,...) directly from a network. Therefore, we don't need to track lane lines any more. Please check the most recent lane line detection code.

[2019-03-04 02:35] fengqikai1414 commented on #7050
@Tony301X What is your network topology like? Make sure the two hosts under the same network segment of the local area network, Like `192.168.10.6` and `192.168.10.7`.

[2019-03-04 04:28] pramodswainn commented on #5985
@natashadsouza Hi Natasha ,I wanted to know how to add  a new planner as like Lattice Planner in Apollo.

[2019-03-04 06:33] Tony301X commented on #7050
@fengqikai1414 ， I connected two host only by a switch, with their IP configured as 192.168.0.6 and 192.168.0.7, and they can ping successfully to each other. But the phenomenon is the same, too.
BTW, have you done the same experiment (functional module(s) distributed deployment) yet?

[2019-03-04 06:44] snuffysasa commented on #6921
Thank you @techoe

We ended up implementing our own lane tracking...

However, I am confused why you say tracking is not needed....? Isn't there other reasons to have lane tracking, such as motion estimation, prediction, stability, and filtering out bad detections?

[2019-03-04 07:03] flnlucifer commented on #4012
I have the same issue. Can you share your experience? What you did in last?

[2019-03-04 07:12] flnlucifer opened #7077 "Cannot run localization module and visualization tool in Apollo 3.0"
- **OS Platform and Distribution (Linux Ubuntu 16.04)
- **Apollo installed from (sourcey)
- **Apollo version (3.0)

### Steps to reproduce the issue:
I just using apollo2.0 data(demo-multi_sensor_fusion_localization-data-apollo-2.0.tar.gz) to run localization module in Apollo 3.0 framework.
Then I suffer the error.
[ERROR] [1551679617.692385297]: Client [/localization] wants topic /apollo/sensor/g

[2019-03-04 07:20] flnlucifer commented on #6103
@pfrcks
Hi, could you please help to check #7077 ? I faced the same problem. thx

[2019-03-04 07:22] Tony301X commented on #7050
@fengqikai1414 Just as you mentioned, I connected two hosts only via a switch, with their IP configured as 192.168.0.6 and 192.168.0.7 respectively, and they can ping successfully to each other. But the phenomenon is the same, too.
BTW, have you done the same experiment (functional module(s) distributed deployment) yet?

[2019-03-04 07:23] flnlucifer commented on #5758
@zhouyao4321 Hi , I suffer a same issue #7077 , could you help to check it ? thanks!

[2019-03-04 08:03] tpengchang commented on #6693
I have the same issue. My nvidia driver is 375.39.

@in_dev_docker:/apollo$ glxinfo -v | grep -i opengl
OpenGL vendor string: VMware, Inc.
OpenGL renderer string: Gallium 0.4 on llvmpipe (LLVM 3.4, 256 bits)
OpenGL version string: 2.1 Mesa 10.1.3
OpenGL shading language version string: 1.30
OpenGL extensions:

[2019-03-04 08:12] FlorentRevest commented on #3005
Hi @natashadsouza I have also had my email address registered on surveymonkey for a couple of months without getting any email from Baidu.
I would also be interested: fmrevest@stud.ntnu.no

[2019-03-04 08:33] Eclipsehelio commented on #7060
Would you please attach the result of 'rosbag info xxx.bag'? Maybe this file is corrupted.

[2019-03-04 08:45] Eclipsehelio commented on #7050
@Tony301X You execute cyber/setup.bash directly or do it with 'source' ?
You can execute the 'talker/listener' examples of Cyber RT on different hosts. Check that they can comminicate with each other. I think this is the simplest way to test Cyber RT's distributed function.
By the way, you don't need to source the setup script, but you have to export CYBER_IP environment varaible.

[2019-03-04 08:50] Eclipsehelio commented on #7050
@Tony301X I have verified the distributed function on ARM64 platform a month ago. Fast-RTPS has Native support for distribution with no doubt.

[2019-03-04 08:55] fengqikai1414 commented on #7050
@Tony301X

Yes, we have used this communication method in multi products, and it works well. RTPS transfer data using UDP,  if the hosts under the same network segment of the local area network, under normal circumstances, you can definitely use tcpdump to capture related data. So please check you network again, make sure the hosts can receive data from each other with a UDP communication test pro

[2019-03-04 09:06] flnlucifer commented on #7077
localization log:
Log file created at: 2019/03/04 14:06:11
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0304 14:06:11.557689  7087 msf_localization.cc:152] map: /apollo/DATA_PATH/local_map
E0304 14:06:11.557896  7087 msf_localization.cc:153] lidar_extrin: modules/localization/msf/params/velodyne_params/velodyne64_novatel_extrinsics_example.

[2019-03-04 11:21] stdpython opened #7078 "关于EM planner的一些问题"
我看到二次规划的等式约束时，有起点f(s), f'(s), f''(s)，以及终点的对应参数。
这样等式约束就已经形成了一个满秩矩阵了啊，那还怎么优化啊？

[2019-03-04 17:36] shifakhan4892 opened #7079 "Adding a new installer and mounting a new image."
Hi Apollo Developers,
In my local machine I added a new installer in docker/build/installers and then created a new docker image using the ./build_dev.sh ./dev.x86_64.dockerfile, pushed it into my local apolloauto/apollo repo.

Executed  ./dev_start -l |-t tag number

I cannot start a container with the formed image. Am I missing out any steps ?

[2019-03-04 17:49] aboarya commented on #7079
@shifakhan4892 those sound like the right steps, except maybe the `|` in `./dev_start -l |-t tag number` but maybe that's just a typo in your question.

What's the exact error you are seeing?

[2019-03-04 21:03] shifakhan4892 commented on #7079
@aboarya thanks for the reply. I am getting the following error :

shifa@shifa-HP-Laptop-15-db0xxx:~/Downloads/apollo/docker$ ./scripts/dev_start.sh --tag dev-x86_64-20190304_1454
[sudo] password for shifa:
fetch: Fetching reference refs/heads/master
[INFO] Start pulling docker image apolloauto/apollo:dev-x86_64-20190304_1454 ...
Error response from daemon: manifest for apolloauto/apollo:dev-x86_6

[2019-03-04 21:18] aboarya commented on #7079
Hi @shifakhan4892
the exact command should be:
[code]
If that still fails, please run
[code]
this should list all the images that you have locally.  verify that `dev-x86_64-20190304_1454` is the correct image

[2019-03-04 21:57] shifakhan4892 commented on #7079
@aboarya thanks for the reply. I tried your suggestion

shifa@shifa-HP-Laptop-15-db0xxx:~/Downloads/apollo/docker$ ./scripts/dev_start.sh -l -t dev-x86_64-20190304_1454
[sudo] password for shifa:
fetch: Fetching reference refs/heads/master
[INFO] Start docker container based on local image : apolloauto/apollo:dev-x86_64-20190304_1454
map_volume-sunnyvale_big_loop-latest: Pulling from apolloauto/ap

[2019-03-04 23:30] jmtao commented on #7053
@KevinYuk these tags are decision tags, used to indicate who/why these decisions are made, mostly for debugging purpose.  If you read code in PathDecider (https://github.com/ApolloAuto/apollo/blob/master/modules/planning/tasks/optimizers/path_decider/path_decider.cc), they are self-explanatory.
* not-in-s: the obstacle's s is not in the s range along the path we are planning, either too far away o

[2019-03-04 23:30] #7053 closed

[2019-03-04 23:41] jmtao commented on #7005
@diff8911
* for traffic-light, you can try "scripts/manual_light.sh", it would flip the current light color for you on the flu.
* for stop-sign, you can't bypass the stop sign on the fly if your car is supposed to STOP. If you don't care about the stop-sign behavior and FEEL SAFE, you can disable stop-sign feature. The gflag is "enable_scenario_stop_sign" at
https://github.com/ApolloAuto/apollo/bl

[2019-03-05 00:11] kyleApollo commented on #7060
@akn9017 Please provide the bag you tried to convert and the full command you used for further investigation.

[2019-03-05 01:59] aboarya commented on #7079
@shifakhan4892 The actual error is:
[code]
I ran into this also when I built my own container.
What worked for me; and I am not sure it's the correct solution, is to comment out [install_user.sh](https://github.com/ApolloAuto/apollo/blob/master/docker/build/dev.x86_64.dockerfile#L70) from `dev.x86_64.dockerfile`.

Then update [USER apollo](https://github.com/ApolloAuto/apollo/blob/master/docker/bu

[2019-03-05 02:32] Tony301X commented on #7050
@Eclipsehelio

As you told, I executed the 'talker/listener' examples of Cyber RT on my network topology, and it worked. I'll try the real case more carefully. Thank you very much.

[2019-03-05 03:39] shifakhan4892 commented on #7079
Thanks a lot for the help. It works now :)

[2019-03-05 03:39] #7079 closed

[2019-03-05 07:58] #7050 closed

[2019-03-05 10:15] huyichen19950417 commented on #6909
I have solved this problem by feeding a localization message into "/apollo/localization/pose" topic. It seems that at least we need the message from these two topics to visualize our own point clouds in dreamview.

[2019-03-05 10:16] huyichen19950417 commented on #6909
We can download rosbags with point cloud from apollo official website.

[2019-03-05 10:16] huyichen19950417 commented on #6909
Thank you very much ! :)

[2019-03-05 10:17] #6909 closed

[2019-03-05 10:30] pancumtneu opened #7096 "How to make my own demo"
I have read  some articles about modifying the code, and one question puzzles me.
How do I make a simple demo (in DreamView because I don't have the hardware)? For example, control the car, go straight, turn, where should I modify the code, and then how to compile and run? Is it in the docker environment  window? If we modify the code, will it damage the downloaded original source code.When I fini

[2019-03-05 12:27] wardenLL opened #7097 "GLFWwindow does not pop up with CameraProcessSubnode and VisualizationSubnode"
### System information

- **OS Platform: Linux Ubuntu 16.04**:
- **Apollo installed from source**:
- **Apollo version 3.0**:

### Steps to reproduce the issue:
- **Host machine and docker both install Nvidia driver: 415.27 GPU: Quadro M2000M already checked with nvidia-smi**
- **in apollo/docker/scripts: ./dev_start.sh -l -t local_dev**
- **in apollo/docker/scripts: ./dev_into.sh**
- **in /apollo:

[2019-03-05 13:07] quuen opened #7098 "planning in navigation mode"
Is the trajectory point generated by the planning module in the navigation mode a point in the enu coordinate system or the flu coordinate system ?

[2019-03-05 14:34] aboarya commented on #7096
@pancumtneu There is a specific simulator for what you are talking about that's different from Dreamview.  The simulator is called [Dreamland](https://azure.apollo.auto/).  It's hosted on Microsoft Azure, and is free to join.

Once you create an account and read through the docs, you'll find an email address that you can use to request full access.

The way it works is: you make an algorithm chang

[2019-03-05 15:49] magicalwz commented on #6811
seem to me that you should execute

git lfs fetch
git lfs checkout
# or
git lfs pull

according to  https://zzz.buzz/zh/2016/04/19/the-guide-to-git-lfs/

[2019-03-05 15:51] magicalwz commented on #5735
seem to me that you should execute
`git lfs fetch
git lfs checkout`
or
`git lfs pull`

according to https://zzz.buzz/zh/2016/04/19/the-guide-to-git-lfs/

[2019-03-05 18:38] jmtao commented on #6991
@guoweiwan In Apollo 3.5, the SidePass feature supports to side-pass static obstacle(s) if doable, and therefore we don't expect the targeted obstacle change or move.  Once we identify the obstacle to side-pass, we plan a trajectory based on its location, size etc.  And therefore if there's a NEW obstacle appears in front of it (I assume you meant to say very close), we won't "re-plan" for that. I

[2019-03-05 18:38] #6991 closed

[2019-03-05 22:13] natashadsouza commented on #7097
@wardenLL have you tried running [this guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_3.0_with_ubuntu16.md). It should resolve your error. Let me know if you still see it.

[2019-03-05 22:38] natashadsouza commented on #6910
@kkhitsko could you be more specific?

[2019-03-05 22:42] #4218 closed

[2019-03-05 22:45] natashadsouza commented on #2706
Closing this issue as there has been no communication in a while.
@Peter9606 that's a great question, because of the modular approach taken by Apollo, you could easily replace any or all of the modules if you'd like as long as you maintain the module connectors, input and output.

[2019-03-05 22:45] #2706 closed

[2019-03-05 23:16] natashadsouza commented on #2749
Closing this issue as there has been no questions in a while. Feel free to reopen if the issue persists.
Thanks!

[2019-03-05 23:16] #2749 closed

[2019-03-05 23:18] natashadsouza commented on #2769
Closing this issue as there has been no communication in a while. Feel free to open it if the issue persists. Thanks!

[2019-03-05 23:18] #2769 closed

[2019-03-05 23:19] natashadsouza commented on #3113
Closing this issue as there has no responses. Feel free to reopen if the issue persists.

[2019-03-05 23:19] #3113 closed

[2019-03-06 00:29] wardenLL commented on #7097
@natashadsouza  I have tried the guide you mentioned. But still see the issue.
[#1832](https://github.com/ApolloAuto/apollo/issues/1832) May be this issue is similar to mine. So I would like to know the root cause of it. Can anyone help me?

[2019-03-06 01:06] wardenLL commented on #5392
@mayankdhingra02 you can find the file here : modules/perception/obstacle/camera/visualizer/glfw_fusion_viewer.cc

[2019-03-06 02:11] flnlucifer opened #7115 "cannot see poind cloud in dreamview"
**OS Platform and Distribution (Linux Ubuntu 16.04)
**Apollo installed from (sourcey)
**Apollo version (3.0)

### Steps to reproduce the issue:
I just using apollo2.0 data(demo-multi_sensor_fusion_localization-data-apollo-2.0.tar.gz) to run localization module in Apollo 3.0 framework. I can see the localization status and point cloud by localization online visualization tool, but I can't see point

[2019-03-06 02:21] quuen opened #7116 "control module"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Ubuntu 16.04
- **Apollo installed from (source or binary)**:source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:3.0
I am confused about the file /apollo/modules/control/controller/lat_controller.cc and /apollo/modules/control/controller/lon_controller.cc.
Why does the calculation of the lateral error take into

[2019-03-06 02:49] Shining10 opened #7119 "When simulating, does docker's requirement for ubuntu14.04 system be 64-bit? Is the 32-bit system not possible?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-03-06 02:52] Smlight commented on #7019
same concern

[2019-03-06 03:12] homography commented on #6374
A: 目前的工具与Apollo系统紧耦合，所以是需要的。后面我们会考虑降低耦合程度，但是对用户的使用要求会相应提高。

A: usb_camera如果能发出和short_camera一样proto的消息，就可以通过修改配置进行标定。

A: 表示车辆行走过程中在30个位置上采集数据进行标定。

[2019-03-06 03:13] Tangtang1234 opened #7121 "when build apollo3.5 , System crash"
![image](https://user-images.githubusercontent.com/35449398/53853519-bc02f980-4000-11e9-8044-6026d2da77b0.png)

[2019-03-06 03:21] homography commented on #6374
执行标定时候的约束条件都暗含在了工具中，只需要按手册操作即可。工具不work的具体表现可以截图反馈一下。

[2019-03-06 03:21] diff8911 opened #7122 "steering wheel suddenly turns right every some seconds"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 2.0

### Steps to reproduce the issue:
- using my own simulation software publish the followed topics to Apollo：/apollo/localization/pose, /apollo/canbus/chassis
- my simulation software subsc

[2019-03-06 03:22] homography commented on #6374
您好，可以把工具运行出错的log或者截图反馈到issue里一起看看。

[2019-03-06 05:06] gvc0461082002 commented on #7121
That's exact the same issue I experienced today.
The system was down without any response , while I am building apollo3.5 under ubuntu 18.04.
I failed twice with no exception.
A message poped up" could not start ksmserver" before the system reboot automatically.
Will try again

[2019-03-06 05:06] kkhitsko commented on #6910
As I can see CAN indexes in [repository ](https://github.com/ApolloAuto/apollo/tree/master/modules/canbus/vehicle/lexus/protocol) for steering, acceleration, brake etc. is different from indexes from Lexus RX450 CAN indexes. This   CAN indexes the same as indexes for pacmode CAN module from [Autonomustuff](https://github.com/astuff/pacmod1_2_dbc/blob/master/as_pacmod_v2.dbc). Also, I can see from

[2019-03-06 05:14] kkhitsko commented on #7002
I have the same error. Problem is not reproduce  if I try to run  offline tool for obstacle detection as gtest.

[2019-03-06 06:01] gvc0461082002 commented on #7121
My issue has been solved after repair some broken packages under ubuntu18.
The system entered into recovery mode, then Repair Broken Packages
Reboot again after the above, then I built it again with GPU enabled
everything is fine.

[2019-03-06 06:13] Tangtang1234 commented on #7121
OK, thank you very much!Ever tried using only CPU?

[2019-03-06 06:27] gvc0461082002 commented on #7121
I am using the GPU mode

[2019-03-06 06:48] lvxin0805 opened #7127 "[Cyber RT][examples]talker-listener output message failed"
Hi,
I try to run the cyber talker-listener example:
1. bash docker/script/dev_into.sh  //enter docker environment
2. bazel build //cyber/examples:talker
3. bazel build //cyber/examples:listener
4. try to launch talker-listener :
./bazel-bin/cyber/examples/talker&
./bazel-bin/cyber/examples/listener

but I can't ovbserve the message from listener

[2019-03-06 06:53] lvxin0805 commented on #7127
from the /apollo/cyber/setup.bash script, the glog dumped message path is /apollo/data/log

[2019-03-06 06:53] #7127 closed

[2019-03-06 08:20] zhixy commented on #5676
@hillbrook @jilinzhou if it is z-x-y, shouldn't the rotation around z be at the right most? just like
// 2. orientation
  Eigen::Quaterniond q =
       Eigen::AngleAxisd(ins->euler_angles().x(), Eigen::Vector3d::UnitY())*
      Eigen::AngleAxisd(-ins->euler_angles().y(), Eigen::Vector3d::UnitX()) *
      Eigen::AngleAxisd(ins->euler_angles().z() - 90 * DEG_TO_RAD_LOCAL,
                        Eig

[2019-03-06 09:31] wozaiqufu commented on #7097
I add the glfw error handling code as this [GLFW error handling](https://www.glfw.org/docs/latest/intro_guide.html)
[code]
The error code is :

So How can I find the EGL library
Here is a reference : [EGL problem](github.com/NVIDIA/nvidia-docker/issues/328)
As our docker seems not an official nvidia-release one, the solution in it seems don't work for me.

[2019-03-06 15:28] Prj1508 opened #7130 "Failed to start docker container "apollo_dev" based on image: apolloauto/apollo:dev-x86_64-20190228_1414"
I was running APOLLO on my laptop until yesterday and I just did a restart of my system today. Its throwing error message when I try to start the docker, it fetches all the images, but towards end, it exits with this error code
[INFO] Starting docker container "apollo_dev_jpm" ...
docker: Error response from daemon: create nvidia_driver_384.130: VolumeDriver.Create: internal error, check logs for

[2019-03-06 16:31] #7130 closed

[2019-03-06 16:32] Prj1508 commented on #7130
The issue was with Nvidia docker. I purged and reinstalled and now its working fine

[2019-03-06 21:36] #4172 closed

[2019-03-06 21:37] natashadsouza commented on #7119
@Shining10 you do need a 64-bit system to build Apollo. Let me know if you have any additional questions. Thanks!

[2019-03-06 21:37] #7119 closed

[2019-03-06 21:42] natashadsouza commented on #7121
@Tangtang1234 @gvc0461082002 could you give us additional details - what version of Apollo, your CPU/ GPU information, memory? It will be really helpful for us to not only debug your issue but help prevent it from happening to anyone else in the developer community.
@gvc0461082002 which packages did you need to fix to get it running?
Thanks!

[2019-03-07 00:01] Capri2014 commented on #7122
Not sure with these limited information.

[2019-03-07 00:50] ankita9017 opened #7141 "How does MSF localization module work?"
How does MSF localization module work? The demo Sunnyvale HD map does not seem to contain any pointclouds and it seems to be purely semantic/vector map.

How does the MSF localization module use such a map (without pointclouds) to do LIDAR based localization?

Also, where are the files pose_forcast.h, sins_struct.h, etc as referred in MSF local_integ module?

[2019-03-07 01:23] Tangtang1234 commented on #7121
Apollo 3.5, build with source code in CPU mode,and  size of the memory is 5G .

[2019-03-07 01:26] natashadsouza commented on #7121
@Tangtang1234 we recommend a system of at least 6~8GB while working on the Apollo platform. Also running it using a GPU is what we recommend as well.

[2019-03-07 01:36] KaWaiTsoiBaidu commented on #7002
@aboarya Please see this PR. #7142

[2019-03-07 01:51] gvc0461082002 commented on #7121
Hi Tangtang:
My system:
KDE 18.04.2 LTS (Plasma)
32GB
Nvidia Titan 1080 8GB
CPU : i7 6800K
kernel: linux 4.15.0-46-generic(x86_64)
Asi mentioned before, a message " faile to start ksmserver" poped up. The plasma is really vulnerable after I google the message. Then I chose to let all broken packages(including all known unknown)
 repaired by the ubuntu automatically.
Another suggestion is to enter

[2019-03-07 02:24] Tangtang1234 commented on #7121
@gvc0461082002   Thanks! my computer is lower on configuration.

[2019-03-07 02:37] zhuyingjie1 opened #7144 "apollo3.5编译成功但是打不开localhost：8888"

[2019-03-07 02:38] zhuyingjie1 commented on #7001
Apollo云端仿真现在在升级，我们是不是不能登录运行啊？

[2019-03-07 02:39] zhuyingjie1 commented on #7001
阿波罗云端仿真现在在升级，我们是不是不能登录运行啊？

[2019-03-07 02:46] gouchaoer opened #7145 "please only allow root user to exec the docker/scripts/dev_start.sh"
in the `dev_start.sh`, the script will mount `~/.cache` into the container volume. But if you use normal user to exec that shell script, in the container, some program will change the owner of the `.cache` dir. Everytime you restart your ubuntu system, the x-windows  will use ~/.cache dir and failed to start.

this cost us some time to figure it out.

[2019-03-07 03:20] zhuyingjie1 opened #7147 "dreamview已经运行，但chrome打开localhost：8888"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Apollo installed from (source or binary)**:

[2019-03-07 03:29] aboarya commented on #7002
@KaWaiTsoiBaidu thanks! I eventually got it to work last week.  It was a missunderstanding on my part.

What solved it for me was adding [linkstatic=False](https://github.com/aboarya/apollo/blob/attemping_offline_perception/modules/perception/camera/tools/offline/BUILD#L43) to the BUILD files in both tools directories.

If my understanding is right, the `linkstatic=False` is required since the `__

[2019-03-07 03:29] #7002 closed

[2019-03-07 04:58] Eclipsehelio commented on #7145
so you can mount ~/.cache/bazel to another path, just like this:
    volumes="-v $APOLLO_ROOT_DIR:/apollo \
             -v $HOME/.cache:${DOCKER_HOME}/.cache \
             -v ${APOLLO_ROOT_DIR}/../bazel:${DOCKER_HOME}/.cache/bazel"

[2019-03-07 06:38] l1212s commented on #3005
Hi @natashadsouza could you please send me the Apollo OpenDrive specification? shuang.liu@intel.com

[2019-03-07 07:29] Eddy819 opened #7150 "Can't get /perception/inner/PrefusedObjects"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.5)**:

### Steps to reproduce the issue:
We successfully run the **fusion_camera_detection_component.cc** and see obstacle info is published in channel `/perception/obstacles` in cyber_monitor as well.
However, we are not able to see the channel `/perce

[2019-03-07 07:39] bssung opened #7151 "How to campare the"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-03-07 07:47] bssung opened #7152 "How to compare the performance and delays between CyberRT and ROS ?"
Apollo team release CyberRT, thought it is better than ROS.
But how to test it? Are there some tools or benchmark?
Or how to write code to compare the performance?
Thanks

[2019-03-07 07:48] #7151 closed

[2019-03-07 12:21] huamoxian opened #7153 "ubuntu16.04 浏览器显示dreamview显示空白"
按照3.5 start guide进行编译，执行，打开浏览器之后，dreamview显示空白

[2019-03-07 13:06] YaoQii opened #7154 "The use of adc_sl_boundary"
Hello,
I have a question about the use of `const SLBoundary& AdcSlBoundary() const;` and `const SLBoundary& VehicleSlBoundary() const` which both in the [reference_line_info.h](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/common/reference_line_info.h).

In my opinion, maybe we should use `VehicleSlBoundary()` which mean the real time location more often, but not the `AdcSlBoun

[2019-03-07 17:19] pancumtneu commented on #6096
Is there any demos or tutorials about how to control a car compiled by VisualCode .The document didn't have the detail procedure .Thx

[2019-03-07 17:26] KaWaiTsoiBaidu commented on #7002
@aboarya   You are right. Another way to make these `__attribute__((constructor))` to run when statically linked is to explicitly call them, as in #7142.  However, your solution is cleaner in this case.
Also, the missing files and symlinks have been fixed in this PR.

[2019-03-07 19:01] natashadsouza commented on #6096
@pancumtneu you could refer to [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_using_vscode.md). Let me know if this answers your question.

[2019-03-07 19:12] natashadsouza commented on #7144
@zhuyingjie1 please refer to [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md). Also, read through some of the previous issues for recommendations. Thanks!

[2019-03-07 19:14] natashadsouza commented on #7145
@gouchaoer thank you for the input. We really appreciate it!

[2019-03-07 19:14] #7145 closed

[2019-03-07 19:17] natashadsouza commented on #7147
Adding reference to #7144. Please create only 1 issue for the same question. Thanks!
@zhuyingjie1 please refer to [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md). Also, read through some of the previous issues for recommendations. Thanks!

[2019-03-07 19:17] natashadsouza commented on #7144
Closing this issue. Please continue the discussion on #7147

[2019-03-07 19:17] #7144 closed

[2019-03-07 19:20] natashadsouza commented on #7153
@huamoxian please refer to [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md). Also, read through some of the previous issues for recommendations. Thanks!

[2019-03-07 19:36] ycool commented on #5982
inside docker, can you try the following commands?

bash scripts/start_gdb_server.sh planning 1111
ps -ef | grep planning

[2019-03-08 03:38] diff8911 commented on #7122
What information can I provide to locate the problem？

[2019-03-08 03:38] daohu527 commented on #2652
don't follow

[2019-03-08 16:06] jaloo2018 opened #7184 "bazel 0.5.3 how to use cross-toolchain, for example, yocto sdk (aarch64)"
I'm porting the Cyber RT to NXP S32V234 platform, and need to cross compile the Cyber RT with bazel, but there isn't any documentations about setting CORSSTOOL of bazel 0.5.3, according the bazel 0.21.0 docs, got lots of problems. So can i get some help from ApolloAuto about the questions?
             1. how bazel 0.5.3 works well with cross-toolchian (for example, aarch64 SDK made from yocto) ?

[2019-03-08 16:20] jaloo2018 commented on #2688
then how to solve the CROSSTOOL configuration problem?

[2019-03-08 22:55] quning78 commented on #7043
Closed for now.

Please reopen if you have further questions. Thanks!

[2019-03-08 22:55] #7043 closed

[2019-03-08 22:56] quning78 commented on #7035
Closed for now.

Please reopen if you have further questions!

[2019-03-08 22:56] #7035 closed

[2019-03-08 23:02] quning78 commented on #7152
@bssung great to know you are interested in Cyber RT.

For comparison, we have some similar examples in both Apollo ROS and Cyber RT as below:

https://github.com/ApolloAuto/apollo-platform/tree/master/ros/ros_tutorials/roscpp_tutorials

https://github.com/ApolloAuto/apollo/tree/master/cyber/examples

Also, for whatever the metrics you would like to get, you can add more tests following the manual

[2019-03-09 01:42] quuen opened #7197 "brake/throttle calibration"
Can someone tell me what is the principle of vehicle brake throttle calibration?I will really appreciate you！

[2019-03-09 04:12] quuen commented on #3271
@bbidault2  The resulting files result.csv and filename.csv.result are empty.I also find this issue. Have you solved this problem?Could you tell me some ways to solve it?

[2019-03-09 12:30] #7147 closed

[2019-03-10 04:44] swdev1202 commented on #5876
@techoe when you say you provide the source code of modified caffe, are you referring to this repo (https://github.com/ApolloAuto/caffe)?

[2019-03-10 09:04] chengfen1987 opened #7201 "modules/prediction/README.md Input error"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
Linux Ubuntu 14.04
- **Apollo installed from (so

[2019-03-10 14:00] qwetqwe opened #7203 "apollo3.5 build failed"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.5

### Steps to reproduce the issue:

when I use the command  **bash apollo.sh build -j 1**,and build failed. And ERROR info is like this:

ERROR: (03-10 10:35:36.396) /apollo/modules/prediction/

[2019-03-11 07:47] math715 commented on #3005
Hi @natashadsouza , could you please send me the Apollo OpenDrive specification? Thanks
ruoshuiwyl@163.com

[2019-03-11 09:17] acorovic commented on #7203
+1
I have cuda installed and working properly, libcuda.so.1 is inn /usr/lib/x86_64-linux-gnu. Tried adding it to LD_LIBRARY_PATH, but still getting this error.

[2019-03-11 10:17] mickeyouyou commented on #7201
need to read planning info. of last frame and call OnPlanning to update the ADCTrajectoryContainer

[2019-03-11 10:27] mickeyouyou commented on #7197
1. The throttle and brake are at least larger than deadzone (the minimum effective action value).
2. Acquisition of complete curve data from natural acceleration to vehicle braking (full braking); complete data like below;
3. Iteration to adapt the query of control values under different speeds and accelerations.

![calibration](https://user-images.githubusercontent.com/3821311/54117229-4a291680-4

[2019-03-11 21:11] #5866 closed

[2019-03-11 21:56] natashadsouza commented on #7184
@jaloo2018 unfortunately you would have to look into the Bazel documentation. We do not have documentation that would help in this case.

[2019-03-11 23:04] natashadsouza commented on #7152
Currently closing this issue. @bssung if you have any additional questions, feel free to reopen it!

[2019-03-11 23:04] #7152 closed

[2019-03-11 23:07] #1832 closed

[2019-03-11 23:08] natashadsouza commented on #7097
@wardenLL please try @wozaiqufu suggestion. Also try reinstalling drivers with --no-opengl-files.
Let me know if it still does not work out.

[2019-03-11 23:30] luqiang21 commented on #7150
Same here, we are able to see `/perception/obstacles` and `/perception/camera_debug` channels. But we cannot see `/perception/inner/PrefusedObjects` and `/perception/inner/camera_viz_msg` which are defined in `modules/perception/production/conf/perception/camera/fusion_camera_detection_component.pb.txt`.

[2019-03-12 03:59] Iqbalparvi commented on #7019
hi all ;
My question is also  looks like same , how we test the specific modules like prediction to find the bugs.any demo or  tutorial to test the single module ....?

[2019-03-12 09:05] bssung opened #7220 "Problem of performance testing between CyberRT and ROS"
I followed the answer of #7152 to test the performance between CyberRT and ROS.

I run these two similar examples in both Apollo ROS and Cyber RT in apollo3.5 docker:
https://github.com/ApolloAuto/apollo-platform/tree/master/ros/ros_tutorials/roscpp_tutorials
https://github.com/ApolloAuto/apollo/tree/master/cyber/examples

Every 100 milliseconds, the talker publish a "Hello World" string message w

[2019-03-12 09:35] jinfagang opened #7224 "Convert apollo::perception::pcl_util PointCloud type PointXYZIH to pcl::PointXYZI"
Is there any way to convert apollo self defined pcl point type to pcl original type?

[code]

[2019-03-12 09:45] mickeyouyou commented on #6478
A reference output of the command `sudo sysctl -a | grep -E "shmall|shmmax"`
[code]
`kernel.shmmax` not in `/etc/sysctl.conf`, I need to add this field to this file.

[2019-03-12 10:35] Wang4758 opened #7225 "question about localization frame and localization messages"
Hi,
I ran the rosbag demo2.5.bag and tried to figure out the coordinate systems of Apollo. I found something really strange. So the localization messages have really large position values, which I assume are referred to the /world frame. And the /localization frame seems to move with the car. But if I transform the localization messages from /world frame to /localization frame, I got an offset of

[2019-03-12 11:28] wobistdu commented on #6366
@lianglia-apollo any comment on this? I want to try the parking planner too. Thanks

[2019-03-12 11:36] ZeusJupiter commented on #6693
You have not correctly installed NVIDIA driver.
$: glxinfo -v | grep -i opengl
OpenGL vendor string: NVIDIA Corporation
OpenGL renderer string: Quadro K620/PCIe/SSE2
OpenGL core profile version string: 4.6.0 NVIDIA 415.27
OpenGL core profile shading language version string: 4.60 NVIDIA
OpenGL core profile context flags: (none)
OpenGL core profile profile mask: core profile
OpenGL core profile exte

[2019-03-12 11:38] wobistdu commented on #7001
@zezhou 有相关文档吗？云端仿真一个case都看不了。。

[2019-03-12 12:14] gruminions commented on #6478
Hi, the unit of kernel.shmmax is **byte**, if you use the value 33554432, it is only 32MB.
You can set kernel.shmmax to 2147483648 (2GB), then try again.
Thank you!

[2019-03-12 12:33] mickeyouyou commented on #6478
**It works!**

[2019-03-12 12:51] #6478 closed

[2019-03-12 13:16] frontw commented on #6951
Hi @KitFung!

Could you, please, give some details on this.

I have local lossy map, generated with msf_simple_map_creator.sh, same to issue creator. How could I combine it in one image (background.jpg)?
Is there any special script in Apollo or it's recommended to make own?

Thanks!

[2019-03-12 13:49] llrraa opened #7228 "dreamview failed to start, possible cause: lane sampled_ width is too small."
I failed to start dreamview. From the dreamview.INFO log, I think possible cause: lane  sampled_ width  is too small.
Please help resolve this issue.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:3.5

### Steps to reproduce the issue:
- *

[2019-03-12 14:34] quuen commented on #7098
emm......

[2019-03-12 16:27] sjtugjy commented on #7043
@baowanyu
Hi,
I found that FastRTPS 1.4.0 from apollo-platform cannot work for CyberRT.

The compiler complains as follows:
cyber/service_discovery/topology_manager.cc:152:10: error: 'DROPPED_RTPSPARTICIPANT' is not a member of 'eprosima::fastrtps::rtps::DISCOVERY_STATUS'.

I am wondering which version and patch are used for CyberRT.
Thanks.

@KitFung
Hi,
I also tried FastRTPS 1.5.0 and Fast-CDR-1

[2019-03-12 18:28] natashadsouza commented on #7098
@quuen it is the FLU coordinate system

[2019-03-12 18:29] natashadsouza commented on #7060
@akn9017 waiting on your response. Thanks!

[2019-03-12 19:46] quning78 commented on #7220
Thanks for providing the results, we will take a look and get back to you soon.

Again, it took a lot of efforts to prepare CyberRT for open source and it is still relative new in our github repo, so there might be some hiccups or more things to be polished in the current release. Thanks for your interests and understanding.

[2019-03-12 20:49] llrraa commented on #7228
My CPU does not support FMA/FMA3 and AVX instructions, so I make some change on source following the guide of https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md.
Would it be the reason for this issue?

[2019-03-12 21:19] unacao commented on #7019
I can think of two ways to test one or more modules.
1. With dreamview and other modules running in your local dev env.
Make sure you have the input data for the module you are interested in, e.g. they can be played from a record file. You will need to turn on the module you are interested in, and possibly all the downstream modules including sim_control, if you would like to see how your changes

[2019-03-12 22:05] natashadsouza commented on #6758
Currently closing this issue as it appears to be resolved. Feel free to reopen it if the issue persists. Thanks!

[2019-03-12 22:05] #6758 closed

[2019-03-12 23:17] natashadsouza commented on #6282
Closing this issue as it appears to be resolved. Feel free to reopen should you have any additional questions. Thanks!

[2019-03-12 23:17] #6282 closed

[2019-03-12 23:19] natashadsouza commented on #6260
Please check out our [Dreamview start problem document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md). If you have any additional questions, feel free to reopen this issue. Thanks!

[2019-03-12 23:19] #6260 closed

[2019-03-12 23:22] natashadsouza commented on #6335
Closing this issue as it appears to be resolved. Feel free to reopen should the issue persist. Thanks!

[2019-03-12 23:22] #6335 closed

[2019-03-12 23:41] natashadsouza commented on #6092
Closing this issue. If you have additional questions feel free to reopen it. Thanks!

[2019-03-12 23:41] #6092 closed

[2019-03-13 00:39] natashadsouza commented on #6295
Closing this issue as there has been no communication in a while. @xinwf feel free to reopen it if you have additional questions. Thanks!

[2019-03-13 00:39] #6295 closed

[2019-03-13 00:41] natashadsouza commented on #6233
We recommend using [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_apollo_3.0_with_ubuntu16.md). Closing this issue currently. Feel free to reopen if you have additional questions. Thanks!

[2019-03-13 00:41] #6233 closed

[2019-03-13 00:42] natashadsouza commented on #6228
Currently closing this issue as it appears to be resolved. Feel free to reopen if this issue persists. Thanks!

[2019-03-13 00:42] #6228 closed

[2019-03-13 00:44] natashadsouza commented on #6211
Closing this issue as it appears to be resolved. @useebear feel free to reopen if you are still seeing any errors. Thanks!

[2019-03-13 00:44] #6211 closed

[2019-03-13 00:47] natashadsouza commented on #6110
@pfrcks apologies for the delay in responding. You could create a regular .md file and submit it under docs > how to > "how_to_build_locally_with_gpu_support.md"
Thank you so much for contributing!
Let me know if you have any questions.

[2019-03-13 00:52] natashadsouza commented on #6099
@hahanigehaha233 have you been able to resolve your issue?

[2019-03-13 01:11] quuen commented on #7098
@natashadsouza Thanks for your reply!But i still have a question about how to compute longitudinal Errors in the file /apollo/modules/control/controller/lon_controller.cc.

  auto matched_point = trajectory_analyzer->QueryMatchedPathPoint(
      VehicleStateProvider::instance()->x(),
      VehicleStateProvider::instance()->y());

I think x,y represents the point in the enu coordinate system,in the

[2019-03-13 01:15] sjtugjy opened #7240 "FastRTPS source is required when statically compiling CyberRT without docker."
@baowanyu
Hi,
I found that FastRTPS 1.4.0 from apollo-platform cannot work for CyberRT.

The compiler complains as follows:
cyber/service_discovery/topology_manager.cc:152:10: error: 'DROPPED_RTPSPARTICIPANT' is not a member of 'eprosima::fastrtps::rtps::DISCOVERY_STATUS'.

I am wondering which version and patch are used for CyberRT.
Thanks.

@KitFung
Hi,
I also tried FastRTPS 1.5.0 and Fast-CDR-1

[2019-03-13 02:13] Eclipsehelio commented on #7240
1、Download Fast-RTPS 1.5.0 source code
$ cd ~
$ wget http://www.eprosima.com/index.php/component/ars/repository/eprosima-fast-rtps/eprosima-fast-rtps-1-5-0/eprosima_fastrtps-1-5-0-linux-tar-gz -O eprosima_fastrtps-1-5-0-linux.tar.gz
$ tar -xzf eprosima_fastrtps-1-5-0-linux.tar.gz eProsima_FastRTPS-1.5.0-Linux/
$ tar -xzf eprosima_fastrtps-1-5-0-linux.tar.gz requiredcomponents
$ tar -xzf requiredco

[2019-03-13 02:26] sjtugjy commented on #7240
@Eclipsehelio
Thanks, I will try.

Before receiving your response, I also want to manually patch 1.5 with the patch for 1.4.
But, I am worried that Baidu does some other modifications.

[2019-03-13 03:15] Eclipsehelio commented on #7240
@sjtugjy I think Fast-RTPS as an implementation of RTPS protocol is a mature product, Baidu would not put much energy to renovation it; the patch for 1.4 is primarily an adaptation to apollo.
Regardless of these doubts, just do it.
By the way, remember to export CYBER_IP environment variable.

[2019-03-13 03:52] jinfagang commented on #6450
@techoe Is there any cyber visualizer tutorial? I want visualize the lidar min box regression result as bounding box

[2019-03-13 06:49] fengqikai1414 commented on #7220
Hi @bssung , could you tell me which command you used to compile Cyber RT, `bash apollo.sh build` or `bash apollo.sh build_opt`?

[2019-03-13 06:56] #7078 closed

[2019-03-13 07:45] sjtugjy commented on #7240
I upload the patch if needed by others.
The original source is downloaded from the official website of eprosima as Eclipsehelio suggested.

[fastrtpt-1.5.0.patch.txt](https://github.com/ApolloAuto/apollo/files/2960255/fastrtpt-1.5.0.patch.txt)
[fastcdr-1.0.7.patch.txt](https://github.com/ApolloAuto/apollo/files/2960256/fastcdr-1.0.7.patch.txt)

[2019-03-13 09:06] Smlight opened #7246 "Why does the record file not all plain text?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2019-03-13 09:57] bssung commented on #7220
Hello @fengqikai1414,   I used bazel build //cyber/...

[2019-03-13 10:44] llrraa commented on #7228
Today I try to start dreamview, it still fails. But dreamview.INFO has no update. Instead, there's something in mainboard.INFO， as following and the attached file:
Log file created at: 2019/03/13 17:17:32
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
W0313 17:17:32.524281  7284 scheduler_factory.cc:62]  Pls make sure schedconf exist and which

[2019-03-13 10:45] llrraa commented on #7228
Today I try to start dreamview, it still fails. But dreamview.INFO has no update. Instead, there's something in mainboard.INFO， as following:
Log file created at: 2019/03/13 17:17:32
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
W0313 17:17:32.524281  7284 scheduler_factory.cc:62]  Pls make sure schedconf exist and which format is correct.
I0

[2019-03-13 10:48] fengqikai1414 commented on #7220
Hello @bssung, while testing performance, we should use `bazel build -c opt //cyber/...` to build Cyber RT，which mean enable compiler optimization with level 2, as same as `-O2`.
Additionally, make sure the frequency and size are the same before comparison, which have a certain impact on the delay.
Thanks again for your interests.

[2019-03-13 11:46] jinfagang opened #7247 "Lidar cnn seg slow speed"
Load lidar cnn caffe model, calculate time is runs:

[code]

The network out time are very high, minbox build also cost to many times. Is that normal? which speed is normal in Apollo?

[2019-03-13 12:31] bssung commented on #7220
Hello @fengqikai1414, there's a Segmentation fault when I run the talker/listener example, after using bazel build -c opt //cyber/... .  The listener crashed and no messages received.
But when I build without -c opt command, it's ok.

Thanks for your help. I paste the gdb log here:

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7f3670ff1700 (LWP 8681)]
0x0000000000000

[2019-03-13 13:57] fengqikai1414 commented on #7220
@bssung, try this command `bazel build -c opt --copt=-fpic //cyber/...`, i think it will be ok.

[2019-03-13 18:14] natashadsouza commented on #7228
@llrraa I would recommend debugging using [this guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md). If this issue persists, feel free to reach out. Thanks!

[2019-03-13 18:46] natashadsouza commented on #3005
If you filled the Survey Monkey link and have not received the OD Specification by today end of day, please reach out to me here. Thanks!

[2019-03-13 18:48] natashadsouza commented on #603
Closing this issue. Please follow up on #3005 with all your requests. Thanks!

[2019-03-13 18:48] #603 closed

[2019-03-13 18:56] natashadsouza commented on #4278
@yanbec while we do not have papers released yet, we do have a description of how the module works [here](https://github.com/ApolloAuto/apollo/tree/master/modules/prediction). Please let me know if you have any additional questions. Thanks!

[2019-03-13 18:58] natashadsouza commented on #4194
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-13 18:58] #4194 closed

[2019-03-13 19:02] natashadsouza commented on #3822
@donlindon no you can request it there by sending us your email address. You could also send us your email on #3005 and the team will share it with you. Thanks! Currently closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-13 19:02] #3822 closed

[2019-03-14 00:51] hzdsdhr commented on #7097
Hi, I think the problem is you didn't install the glfw correctly, since the official doc is really simple, it doesn't give many details regarding how to install glfw in apollo docker.
Here is what you need to do(all the steps below are taken in apollo docker environment):
1. Remove the old version of glfw(sudo apt-get remove libglfw3), then do: ldconfig
To check if you remove it or not, use ldconf

[2019-03-14 02:04] baowanyu commented on #7246
All we write directly to the record file is the section tag which include section length and section type. Then we started writing serialized PB messages to record file. These inputs are encoded and cannot be opened in a plain text editor. @Smlight

[2019-03-14 02:07] gruminions commented on #7246
Currently closing this issue. @Smlight if you have any additional questions, feel free to reopen it!

[2019-03-14 02:07] #7246 closed

[2019-03-14 09:25] quuen opened #7268 "control"
Does the control module also work in navigation mode?

[2019-03-14 09:26] quuen commented on #7098
em...

[2019-03-14 10:11] wobistdu commented on #5982
@ycool I also meet this problem.
I tried to run the bash scripts/start_gdb_server.sh planning 1111, planning is working.
I can use gdb to attach "target remote", and the gdb server print connection info.
But when using vscode, it shows
**_Unable to start debugging. Program path '/apollo/bazel-bin/cyber/mainboard' is missing or invalid.

GDB failed with message: /apollo/bazel-bin/cyber/mainboard: N

[2019-03-14 11:44] frontw commented on #7141
Also couldn't find pose_forcast.h, very curious

[2019-03-14 11:45] Tony301X commented on #7050
Hi， my real scenario is two host located in a local network both running apollo in docker. One running dreamview normally, toggled Sim Control and Routing module, another running planning module with mainboard command. When I tcpdumped it, there's no payload through them. What's more, in routing.INFO log file, there is no planning node subscription information appeared, for topic message RoutingRe

[2019-03-14 14:44] frontw commented on #7141
UPD: files pose_forcast.h, sins_struct.h could be found at /usr/local/apollo/local_integ/include
Also /usr/local/apollo/local_integ/lib/ has liblocalization_msf.so. Do I understand right, that Apollo localization is not open source fully?

[2019-03-14 14:47] frontw commented on #5969
Any update?

[2019-03-14 14:59] SolarDriftSolutions commented on #5244
Hi
I am using Apollo3.0.0 and I have re added all the velodyne 32 sections for the driver.

Also, checked that data packets are coming through outside of the docker container.

I then run the hdl32e launch file and get:
Velodyne port 8308 poll() timeout

socket_input.c file is set to connect ANY ip, is there something I need to tell the docker container to let it access that port?

Thanks
Paul

[2019-03-14 15:16] shifakhan4892 opened #7271 "Error with python_modules while building docker image"
Hi Apollo developers,
I am trying to build an apollo image using ./build_dev.sh ./dev.x86_64.dockerfile and I am getting an error in install_python_modules.sh
Following is the screenshot of the error. Please let me know if anyone has an idea to fix it.
![python_modules error](https://user-images.githubusercontent.com/16239521/54368489-44f1e480-4642-11e9-8ec9-8a025db1424a.png)

[2019-03-14 15:51] AnsabShohab commented on #2747
@hongkedavid Were you able to find a solution to this problem?

[2019-03-14 18:01] Eclipsehelio commented on #7271
Try to add 'python cython' in line 41 of dev.x86_64.dockerfile before '&&' !

[2019-03-14 19:41] Capri2014 commented on #7268
yes

[2019-03-14 21:53] shifakhan4892 commented on #7271
@Eclipsehelio I tried that but now I am getting a different error.
Can't understand this error. I am using Ubuntu 14.04.
Suggestions will be appreciated. This was working fine a month ago but doesn't work now.

![python_modules2](https://user-images.githubusercontent.com/16239521/54393935-7afe8b00-4679-11e9-80a0-0da63c149431.png)

[2019-03-14 22:54] natashadsouza commented on #7271
@shifakhan4892 we recommend following the recommended [build process](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md). If you have any additional questions, feel free to write back. Thanks!

[2019-03-14 23:25] natashadsouza commented on #7268
Currently closing this issue.
@quuen if you have any additional questions, feel free to reopen this issue. Thanks!

[2019-03-14 23:25] #7268 closed

[2019-03-14 23:26] natashadsouza commented on #7197
Currently closing this issue.
@quuen feel free to reopen if this issue persists. Thanks!

[2019-03-14 23:26] #7197 closed

[2019-03-14 23:26] #7184 closed

[2019-03-14 23:32] natashadsouza commented on #7122
@diff8911 we do not have any information regarding your simulation software. Also, your logs would be really helpful as a number of things could have gone wrong to have caused this.

[2019-03-14 23:35] #6568 closed

[2019-03-15 00:12] natashadsouza commented on #6256
@jojo666666 @mumianyuxin  could you give us additional information - system specifications, Apollo version, built from? This will help us debug your issue better.

[2019-03-15 00:14] natashadsouza commented on #6095
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:14] #6095 closed

[2019-03-15 00:16] natashadsouza commented on #6068
Closing this issue as there has been no communication in a while. Feel free to reopen if you are still facing any issues. Thanks!

[2019-03-15 00:16] #6068 closed

[2019-03-15 00:19] natashadsouza commented on #6005
Closing this issue as it appears to be resolved. If you have any additional questions feel free to reopen. Thanks!

[2019-03-15 00:19] #6005 closed

[2019-03-15 00:26] natashadsouza commented on #6058
Closing this issue currently. If you have any additional questions feel free to reopen this issue. Thanks!

[2019-03-15 00:26] #6058 closed

[2019-03-15 00:28] #7005 closed

[2019-03-15 00:29] jmtao commented on #7005
Hi @diff8911 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-03-15 00:39] deepaktalwardt commented on #6916
@techoe @natashadsouza Can you please explain if perception works on RTX 20-series? This series is also based on Turing architecture, same as the GTX 10- series. Would perception have any issues with these GPUs?

[2019-03-15 00:45] natashadsouza commented on #6535
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:45] #6535 closed

[2019-03-15 00:48] natashadsouza commented on #6534
@JonathanJones92 could you give us additional information - Apollo version, sensor setup? Apologies for the delay in responding to your request.

[2019-03-15 00:49] natashadsouza commented on #6528
@poutyface could you create a Pull Request with your recommendation to fix the bug you described? Thank you for your contribution to our platform.

[2019-03-15 00:50] natashadsouza commented on #6512
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:50] #6512 closed

[2019-03-15 00:51] natashadsouza commented on #6387
Closing this issue as it appears to be resolved. Feel free to reopen if the issue persists. Thanks!

[2019-03-15 00:51] #6387 closed

[2019-03-15 00:51] natashadsouza commented on #6357
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:51] #6357 closed

[2019-03-15 00:52] natashadsouza commented on #6317
Closing this issue as it appears to be resolved. @aravindSwamy94 feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:52] #6317 closed

[2019-03-15 00:53] natashadsouza commented on #6110
Closing this issue currently. @pfrcks awaiting your pull request on this issue. Thanks!

[2019-03-15 00:53] #6110 closed

[2019-03-15 00:54] natashadsouza commented on #5923
Closing this issue as it appears to be resolved.
@breakisx feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:54] #5923 closed

[2019-03-15 00:55] natashadsouza commented on #5914
@CCodie apologies for the delay in responding. If you have a specific design in mind, we would be happy to evaluate it for you.

[2019-03-15 00:56] natashadsouza commented on #5888
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 00:56] #5888 closed

[2019-03-15 01:05] techoe commented on #5876
Yes

[2019-03-15 01:13] natashadsouza commented on #5868
Closing this issue as it appears to be resolved. If you have additional questions feel free to reopen this issue. Thank you!

[2019-03-15 01:13] #5868 closed

[2019-03-15 01:17] natashadsouza commented on #4185
Closing this issue as it appears to be resolved. Feel free to reopen it if you have additional questions. Thanks!

[2019-03-15 01:17] #4185 closed

[2019-03-15 01:18] gruminions commented on #7240
@sjtugjy Hi, does @Eclipsehelio 's answer solve your problem？

[2019-03-15 01:19] natashadsouza commented on #4727
Closing this issue as it appears to be resolved. Feel free to reopen it if you have additional questions. Thanks!

[2019-03-15 01:19] #4727 closed

[2019-03-15 01:22] natashadsouza commented on #5004
@7chenko yes we do recommend that you continue to use "dev" docker for all purposes. The document includes steps to build Apollo and release binaries. Let me know if you have any additional questions. Thank you!

[2019-03-15 01:22] #5004 closed

[2019-03-15 01:25] natashadsouza commented on #4976
Here is the updated link: https://github.com/ApolloAuto/apollo/issues/4892

[2019-03-15 01:27] natashadsouza commented on #5765
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-03-15 01:27] #5765 closed

[2019-03-15 01:56] bssung commented on #7220
Thanks @fengqikai1414,  the build passed and it became faster, but the delay of CyberRT is still a little bit larger than Apollo ROS.
Maybe I should use some larger messages to test delay, such as image messages or point cloud messages.
Do you have some idea of testing the latency, concurreny and data throughput? Thanks a lot.

[2019-03-15 01:57] wobistdu opened #7281 "Need help about open space planner"
Hi, I am very interested about the parking scenario mentioned in  https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Open_Space_Planner.md
Is there anywhere I can try to run a demo about the parking? It needs specific opendrive file with these parking lot information, right?

Thanks

[2019-03-15 02:19] Capri2014 commented on #7281
Hi, thanks for your interest! We are currently working on the architect refactoring on it to extend it and support more scenarios besides parking.  More information would be updated once the refactoring done and validated.  For the data format about parking, it is already available in https://github.com/ApolloAuto/apollo/blob/master/modules/map/proto/map_parking_space.proto

[2019-03-15 02:35] fengqikai1414 commented on #7220
@bssung , can you provide more detailed information about the messages ?

[2019-03-15 02:42] jimaldon commented on #4976
Thanks @natashadsouza!

[2019-03-15 02:46] jimaldon commented on #4976
Oops, the URL was just missing the issue number. Thanks @natashadsouza

[2019-03-15 03:19] bssung commented on #7220
@fengqikai1414 , ROS message is defined in this file without modifying, rate is 10, msg is "hello world", type is std msg.
https://github.com/ApolloAuto/apollo-platform/blob/master/ros/ros_tutorials/roscpp_tutorials/talker/talker.cpp
Cyber message is defined in this file, type is Chatter, rate is modified to 10 and msg contend is modified to "hello world".
https://github.com/ApolloAuto/apollo/blob

[2019-03-15 03:32] guofengpeng opened #7285 "Failed to pull docker image."
您好，执行bash docker/scripts/dev_start.sh 这个命令时候出现### 【error】Failed to pull docker image.
应该怎么弄？

[2019-03-15 03:52] natashadsouza commented on #7285
@guofengpeng could you give us more details - Apollo version, System specs, OS etc?

[2019-03-15 05:35] guofengpeng commented on #7285
apollo 3.5 ,ubuntu 16.04
as follow:
guofengpeng@guofengpeng-Lenovo-G50-80:~/apollo$ bash docker/scripts/dev_start.sh[sudo] guofengpeng 的密码：
fetch: Fetching reference refs/heads/master
[INFO] Start pulling docker image apolloauto/apollo:dev-x86_64-20190128_1800 ...
Error response from daemon: manifest for apolloauto/apollo:dev-x86_64-20190128_1800 not found
[ERROR] Failed to pull docker image.
guof

[2019-03-15 06:35] gengqx commented on #7271
@natashadsouza @Eclipsehelio @shifakhan4892 @xiaoxq This happens when we want build our own docker images,not in build the apollo project.I have not solve this problem,Could any one give us some help?

[2019-03-15 06:37] mickeyouyou commented on #7285
You can try update the codes (pull from master ) and try pull docker images from china use parameter `-C`  like `bash docker/scripts/dev_start.sh -C `

[2019-03-15 06:40] guofengpeng commented on #7285
thank you much

[2019-03-15 06:40] #7285 closed

[2019-03-15 07:35] sjtugjy commented on #7240
Yes. I forgot to close this issue.

[2019-03-15 07:35] #7240 closed

[2019-03-15 07:49] Eclipsehelio commented on #7271
Months ago I built my own docker images on TX2, The main problems I encountered were cousred by unstable network, Then I compared dev.aarch64.dockerfile with dev.x86_64.dockerfile, I found that maybe there were still some third-party libraries not installed. Try to replace apt-get with the follwing commands in dev.x86_64.dockerfile.
apt-get install -y --force-yes bc \
            cppcheck \

[2019-03-15 07:56] Eclipsehelio commented on #7271
Oops! The back slash Vanished, remember to add back slash at the end of each line except the last line!
I will build the x86_64 docker image later and report the problems I will encounter!

[2019-03-15 08:00] quuen commented on #7116
emm..

[2019-03-15 09:02] bssung commented on #7220
I just tested 480*640 image message in talker/listener example, get the same result.  In Cyber, I use the Image message from /apollo/modules/drivers/proto/sensor_image.proto, relative to the sensor_msgs::Image of ROS. The delays are 0.6ms and 0.5ms, ROS wins a bit.

[2019-03-15 10:30] frontw opened #7289 "Apollo 3.5 and 3.0.0 on the same machine"
Hi!

Now I try to migrate Apollo 3.5 from 3.0.0 and have an issue, when sequentially starting two dockers (for 3.0.0 and 3.5).

When I build, for example, v 3.0.0, and then start 3.5, I need to rebuild it. I think, it is related with bazel cache common for both.
Am I right and how could I change it?

Thanks!

[2019-03-15 10:47] gruminions commented on #7220
Hi bssung, thanks for your test!

To decrease number of threads, the readable notification mechanism of shared memory was changed in CyberRT. The default mechanism is UDP multicast, and system call(sendto) will cause some latency.

So, to decrease the latency, you can change the mechanism and then try again! The steps are listed as following:
1. update the CyberRT to the latest version;
2. uncomme

[2019-03-15 11:22] gengqx commented on #7271
I think i have solve this problem.recently pyproj have update to 2.0, this would casue a problem. so make pyproj == 1.9.6 would work . see pr #7290

[2019-03-15 16:57] techoe commented on #7247
The processing depends on GPU. Which GPU do you use?

[2019-03-15 16:58] techoe commented on #7150
Currently /perception/obstacles is an only visible topic outside of the perception module.

[2019-03-15 17:01] techoe commented on #6971
The diverging lane line shows incorrect camera parameters.

[2019-03-15 18:39] natashadsouza commented on #4976
Closing this issue currently. Feel free to reopen if you have additional questions.
Thank you!

[2019-03-15 18:39] #4976 closed

[2019-03-15 20:34] dengyuchenkit opened #7303 "Leopard Imaging Firmware Update Interrupted"
Hi,
I interrupted the firmware update of leopard camera and the camera became malfunctioned. It can't be recognized by computer software.
![fw_update_error1](https://user-images.githubusercontent.com/21317994/54460486-135f4300-4740-11e9-8c23-51e19448dc48.jpg)
Do you have any solutions to the situation? Thank you.
Yuchen

[2019-03-15 20:46] natashadsouza commented on #7303
@dengyuchenkit this is a question you would need to direct to Leopard Imaging. Thanks!

[2019-03-15 20:46] #7303 closed

[2019-03-15 21:05] techoe commented on #6945
Thank you so much for finding the bug. The fix is in #7304.

[2019-03-15 22:43] natashadsouza commented on #7074
@diff8911 is it the same issue as #7122 ? If so could we close this issue and continue discussing it on that thread? Thanks!

[2019-03-15 22:45] natashadsouza commented on #7121
@Tangtang1234 were you able to resolve your issue? Is there anything else we can help you with?

[2019-03-15 23:31] natashadsouza commented on #6474
@davidhopper2003 you are correct. Please find PR #7308 that resolves it. Thank you so much for your response.

[2019-03-15 23:31] #6474 closed

[2019-03-15 23:38] natashadsouza commented on #7097
@hzdsdhr thank you so much for the steps. We will include it in our documentation should that be okay with you :) Fee; free to make a Pull request too.

[2019-03-16 00:59] Iqbalparvi commented on #7019
@unacao thanks for sharing this precious info.... lets try to do something in this area ..

[2019-03-16 01:07] quuen commented on #6971
@techoe I generated the relative map by using the topic /apollo/perception/obstacles /apollo/canbus/chassis /apollo/localization/pose and navigation line extracted from demo 2.5 bag.

[2019-03-16 02:42] #6945 closed

[2019-03-17 09:59] Orientlee commented on #6076
Have you fixed this problem?  I have the same problem with you .......Need help.... @portguas

[2019-03-17 15:09] jinfagang commented on #7247
@techoe  GTX1080 Ti.  It runs about 89ms when forward network, 30ms when build minbox. totally using more than 120 ms approximately. Does it runs realtime (more than 15fps) on other devices?

[2019-03-18 01:59] stdpython opened #7314 "lattice planner deal with static obstacle"
I have read some code of the lattice planner. And I found that if the static obstacle on the lane which the car running, the static obstacle will map to the ST graph.
And it is weird, we did not consider it's shape and accurate location. the obstacle may not conflict to the car, and we just map it, leads the car stop or change lane.

lattice planner中对于静止障碍物的处理似乎有一些粗糙，我看到代码中表示，如果静止障碍物在当前车道上，就直接将其映射

[2019-03-18 03:04] #7314 closed

[2019-03-18 05:15] Eclipsehelio commented on #7289
@frontw  Yes, it's about bazel cache! Both the two containers mapping ~/.cache to the container's ~/.cache, bazel's output directory is under ~/.cache/bazel, you would check the bash script dev_start.sh, like this:
**volumes="-v $APOLLO_ROOT_DIR:/apollo \
             -v $HOME/.cache:${DOCKER_HOME}/.cache"**
So we can map bazel to another location, just like this:
**volumes="-v $APOLLO_ROOT_DIR:/a

[2019-03-18 06:37] kennethyu2017 opened #7317 "class Box2d has an error calculation on max_x, max_y"
**Describe the bug**
apollo version: 3.5 till Mar18,2019:
code:
  in  modules/common/math/box2d.h ,  max_x, max_y are initialized as following:
  double max_x_ = std::numeric_limits<double>::min();
  double max_y_ = std::numeric_limits<double>::min();

 in  box2d.cc, they are calculated in function Box2d::InitCorners() :
 for (auto &corner : corners_) {
    max_x_ = std::fmax(corner.x(), max_x_);

[2019-03-18 06:38] kennethyu2017 commented on #7317
It should be using std::numeric_limits<double>::lowest()  instead.

[2019-03-18 08:23] breakisx opened #7318 "dreamview start no response"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.5)**:

I have finish install docker、nvidia-driver and so on, then compile the apollo 3.5 finished, and bash scripts/bootstrap.sh, I find the dreamview process is running, but during the startup process there is the following information in dreamview.log

og f

[2019-03-18 09:29] qwetqwe commented on #7203
The problem is that I don't remove content in .cache/bazel

[2019-03-18 09:29] #7203 closed

[2019-03-18 11:44] Andrea2202 commented on #103
Have you any update on the porting of Apollo on Xavier?

[2019-03-18 13:51] huangchaoxing commented on #658
Why the dataset has 6 curvatues in each time step

[2019-03-18 15:03] vattenbuffel opened #7320 "Is there an up to date guide on how to start the perception module?"
Me and my friend are having problems getting the perception module up and running. We've followed various guides but not found one that works. We noticed that all of the guides we've found are quite old. Is there a guide on how to start the perception module which works with Apollo3.5?

[2019-03-18 18:26] natashadsouza commented on #7317
@kennethyu2017 please submit a pull request with your code enhancement. Thank you so much for your contribution.

[2019-03-18 18:27] natashadsouza commented on #7318
@breakisx please look through our [FAQs document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md). Let me know if those suggestions do not work. Thanks!

[2019-03-18 18:29] natashadsouza commented on #7320
@vattenbuffel could you give us details on what you were trying to run using the perception module? Was it algorithm testing or something else? Also, which guides have you referred to that did not help?

[2019-03-18 22:36] Fla3inH0tCheet0s opened #7329 "Support rostopic and topic_tools Like Tools in Cyber"
Now that apollo is primarily using cyber for communications, there are some basic diagnostic tools missing. ROS, has [rostopic](http://wiki.ros.org/rostopic) and [topic_tools](http://wiki.ros.org/topic_tools). There is `cyber_monitor`, but it is not as general purpose and does not interoperate with shell.

A simple cyber_echo that takes arbitrary messages without a pb description would be very use

[2019-03-19 05:55] bssung commented on #7220
Thank you @gruminions.  I have tested based on your reply.
In "hello world" string talker/listener example, the latency of CyberRT is 115us, and ROS is 134us. This is a great improvement.
But in 480*640 image message talker/listener example, which is modified by myself based on the string talker/listener example, the latency of CyberRT is still 100us's longer than ROS.  I think image transporting

[2019-03-19 06:32] nelsonjin opened #7334 "共享内存使用定长Block，不会导致segment频繁recreate 和内存的大量浪费吗？"
1. 共享内存使用定长Block，不会导致segment频繁recreate 和内存的大量浪费吗？
2. 如果shm写速度很快， 读非常缓慢，是否会导致未读的block 被直接覆盖写呢？

We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform

[2019-03-19 06:49] aboarya commented on #103
@Andrea2202 There's been some [updates](https://github.com/ApolloAuto/apollo/commits/v3.1_dev) in the 3.1_dev branch for building against the TX2, but I have not yet tried them.

[2019-03-19 06:56] aboarya commented on #7184
@jaloo2018 I've been working on this from time to time as well.  Remember to build Fast-RTPS first.  There's a trick there as well, since the latest CyberRT code uses Fast-RTPS that's not compatible with the pre-built binaries in the [apollo-platform](https://github.com/ApolloAuto/apollo-platform/tree/master/ros/third_party) repo.  Still work-in-progress for me.

[2019-03-19 07:25] zhongdachuan commented on #6447
##git lfs clone https://github.com/ApolloAuto/apollo.git

Cloning into 'apollo'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (28/28), done.
error: RPC failed; curl 56 GnuTLS recv error (-54): Error in the pull function.
fatal: The remote end hung up unexpectedly
fatal: early EOF
fatal: index-pack failed
Error(s) during cl

[2019-03-19 08:49] michaelowenliu opened #7336 "Permission Denied when running scripts/bootstrap.sh"
root@in_dev_docker:/apollo# sudo bash scripts/bootstrap.sh
scripts/bootstrap.sh: line 30: ./scripts/monitor.sh: Permission denied
scripts/bootstrap.sh: line 31: ./scripts/dreamview.sh: Permission denied
root@in_dev_docker:/apollo# bash scripts/bootstrap.sh
scripts/bootstrap.sh: line 30: ./scripts/monitor.sh: Permission denied
scripts/bootstrap.sh: line 31: ./scripts/dreamview.sh: Permission denied

[2019-03-19 11:40] fengqikai1414 commented on #6566
Hi @hzdsdhr @snuffysasa ，compensation need a static transform from `novatel` to `velodyne64`, which store in a file like [extrinsic parameter](https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/velodyne/params/velodyne64_novatel_extrinsics_example.yaml). And then add the file path to the config file [transform conf](https://github.com/ApolloAuto/apollo/blob/master/modules/transform/c

[2019-03-19 11:53] gruminions commented on #7334
Hi nelsonjin, thanks for your questions! The answers are listed as following:
1. Firstly, we create shared memory areas only when there is interprocess communication. Secondly, the size of segment is related to the size of message, recreation only happens when the message grows too bigger.
2. If the writing speed is faster than the reading speed, the unread block will be overwritten. In the curren

[2019-03-19 12:38] Eclipsehelio commented on #7336
find . -name "*.sh" | xargs chmod a+x
find . -name "*.bash" | xargs chmod a+x

[2019-03-19 14:23] basser2 commented on #1704
@FightStone Have you solved this problem? and how? Thanks a lot!
![image](https://user-images.githubusercontent.com/42443887/54613396-97ddf880-4a95-11e9-9d8a-f5aad7361152.png)

[2019-03-19 14:29] basser2 opened #7339 "problem about How to Run Perception Module on Your Local Computer"
Install Nvidia driver in docker failed ! [ How to Run Perception Module on Your Local Computer ]
![image](https://user-images.githubusercontent.com/42443887/54613793-497d2980-4a96-11e9-9d69-ab023f16dff4.png)

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.5)**

How to fix this？

[2019-03-19 15:42] vattenbuffel commented on #7320
@natashadsouza We've followed two guides. [Guide 1](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_perception_module_on_your_local_computer.md), [guide 2](https://github.com/ApolloAuto/apollo/tree/master/modules/perception), we followed the steps under "setup instructions", the third guide was under issues here on github but I can't seem to find it.

I don't understand what

[2019-03-19 17:47] unacao commented on #7019
that's right.

[2019-03-19 17:54] AOIlunar commented on #7019
Could you please tell me which exact command should I use or which cyber file should I look into? I would appreciate that!

[2019-03-19 18:11] unacao commented on #7019
The main cyber command should be cyber_recorder.

$ cyber_recorder
usage: cyber_recorder <command>> [<args>]
The cyber_recorder commands are:
    info                               Show information of an exist record.
    play                               Play an exist record.
    record                             Record some topic.
    split                              Split an exist record.

[2019-03-19 18:22] AOIlunar commented on #7019
Thank you!! Also, can I turn on all the modules in dreamview even if I do not have hardware and how can I turn on the sim_control? Does it automatically do so when I call cyber_record?

[2019-03-19 18:42] quning78 commented on #7220
@bssung could you share the number from each test, not just the difference?

To add more information, both Apollo ROS and Cyber RT have been developed by our team, and the transportation layer share the same idea and similar designed among them. So it won't be surprise that they have similar performance numbers for transportation in the basic benchmarks.

However, Cyber RT brings more than that, t

[2019-03-19 20:20] DevMohamedMI opened #7345 "Dark SCNN postprocessing pipeline working?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
Linux Ubuntu 16.04
- **Apollo installed from (source or binary)**:
Binary
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:
3.5

Hey, we created a launch file to run dag_streaming_perception_lane.dag on the master branch, in order to take advantage of the new Dark SCNN lane line neural network. We've verified a co

[2019-03-19 23:35] Iqbalparvi commented on #6574
Hi  here is the same issue last two days and my residence is  out of china so how to overcome this problem of @gouchaoer ......
thanks

[2019-03-20 00:03] vlin17 commented on #7019
It is recommended to turn on modules you are interested only. Otherwise, you might cause unnecessary core dump or wast the computer resources. For instance, you might not want to turn on 'Recorder' module to record bags.

For turning on the sim_control, please refer to our FQA [here](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md#how-do-i-turn-on-sim-control).

[2019-03-20 01:23] breakisx opened #7348 "Lidar module about "Spp" and cnn_segmentation"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (source )**:
- **Apollo version (3.5)**:

In lidar modules, there is the "Spp_engine" directory, what is mean about "Spp" ?
apollo 3.5 open the cnn_segmentation algorithm about point cloud ?

[2019-03-20 01:40] michaelowenliu commented on #7336
@Eclipsehelio Hi,
Thank you. solve this problem. Now dreamview webpage shows nothing. Module monitor and dreamview are running. I have followed previous issues already, but it still fails to show.

My host server is Ubuntu 18.04

`root@in_dev_docker:/apollo# sudo bash scripts/bootstrap.sh
Module monitor is already running - skipping.
Module dreamview is already running - skipping.`

[2019-03-20 02:53] breakisx commented on #7348
that is Spatial Pyramid Pooling  ?

[2019-03-20 06:10] bssung commented on #7220
Thanks @quning78, I would appreciate it if you can give me some suggestion of questions below.
could you share the number from each test, not just the difference?
--Yes. The latency of ROS sensor_msgs::Image is 683us, and the latency of CyberRT sensor_image.proto::Image is 914us. The frequency is 10 and image size is 480*640 bgr8. These numbers is that I tested in an Apollo IPC.
To add more inform

[2019-03-20 06:54] sinopec opened #7350 "radar_camera_calibrator dont work"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:14.04
- **Apollo installed from (source or binar

[2019-03-20 07:16] HouYuu commented on #6249
So could you tell me where i can find the conf file “perception_lowcost.conf” in Apollo 3.5？

[2019-03-20 07:20] kk2491 commented on #5012
Any update on this ?

[2019-03-20 09:09] sinopec commented on #5867
The Same issue for me . Just Show
"Start to calibrate Radar-Camera extrinsics"

[2019-03-20 09:26] Logital commented on #7339
This may be because your ubuntu16 GUI service, StartX, can try to end it.

[2019-03-20 09:26] gruminions commented on #7220
Hi bssung, thanks for your try!
As you mentioned, you compared sensor_image.proto with sensor_msgs::Image, the serialization and deserialization of them may cause interference.
So, in order to eliminate interference of protobuf, I compared apollo::cyber::message::RawMessage with std_msgs::String. The source code is listed as following:
**1. CyberRT:**
**talker:** https://github.com/gruminions/apol

[2019-03-20 11:23] kennethyu2017 commented on #7317
Pull request and merge done,  thank you guys.

[2019-03-20 11:23] #7317 closed

[2019-03-20 12:09] Eclipsehelio commented on #7336
@michaelowenliu Sorry for the delayed response.
Are you visiting dreamview on another computer?
What's the web browser you are using(recommended to use firefox)?
I think you should use wget command to verify that dreamview is actually running in the docker container firstly, just like this:
**wget localhost:8888**
As the first step is ok, then you could do it outside the container.
Or all the abov

[2019-03-20 14:41] mickeyouyou commented on #7317
Thanks for your contributing.

[2019-03-20 20:34] natashadsouza commented on #5012
@kk2491 we do not provide a tool for conversion from .text to .xml

[2019-03-20 22:11] techoe commented on #7345
The new lane line detection module is working fine. Please use dag_streaming_perception_lane.dag for Dark SCNN lane line detection and all other camera-based detection.

[2019-03-20 22:22] techoe commented on #7320
Obviously the instruction was outdated. Please follow this instruction

0. Get into the docker by bstart and binto
1. Build

2. Run bootstrap.sh

3. Launch Dreamview from your web browser by typing following address
http://localhost:8888/
4. Select car and map in the dreamview

5. Select transform button in Dreamview or type command

5. If image is compressed launch image decompression module

6.