[2019-05-17 22:29] #8331 closed

[2019-05-17 22:31] natashadsouza commented on #8283
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-17 22:31] #8283 closed

[2019-05-17 23:32] natashadsouza commented on #8287
This issue should now be resolved. Please uninstall Git LFS and make a pull request.

[2019-05-17 23:32] #8287 closed

[2019-05-17 23:34] natashadsouza commented on #7902
Closing this issue as it appears to be resolved. Feel free to reach out if you have additional questions. Thanks!

[2019-05-17 23:34] #7902 closed

[2019-05-17 23:35] natashadsouza commented on #8196
Thanks for the information @gengqx we will look into how this can be made more efficient for our developers.

[2019-05-18 00:05] natashadsouza commented on #8213
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-18 00:05] #8213 closed

[2019-05-18 00:05] natashadsouza commented on #8216
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-18 00:05] #8216 closed

[2019-05-18 00:06] natashadsouza commented on #7921
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-18 00:06] #7921 closed

[2019-05-18 01:34] gengqx commented on #8382
yes，I have run git lfs uinstall first，then got this problem

[2019-05-19 17:06] amontserratAG commented on #6467
I was trying to resolve the issue that Dreamview returned an empty page.
I followed the following steps:
git lfs clone https://github.com/ApolloAuto/apollo.git apollo-repo
$ cd apollo-repo/
~/apollo-repo$ git lfs fetch --all
$ sudo service docker stop
$ sudo service docker start
$ bash docker/scripts/dev_start.sh
$ bash docker/scripts/dev_intro.sh
in_dev_docker:/apollo$ ./apollo.sh clean
in_dev_do

[2019-05-20 00:32] s894330 commented on #8190
hi Natashadsouza,

sorry for late reply,

when we test on real car and cyber recorder is recording and happened some problem in some situation which the vehicle speed may not be zero, we then want to reproduce the same situation in simulator, that is why I want to let initial speed not zero ,but set to definite speed according the record bag period

[2019-05-20 02:25] #8289 closed

[2019-05-20 02:29] Iqbalparvi commented on #6467
@EllieGuo ..yes i solve the problem ....I suggest that if your system requirement is Ok for apollo then please check the git installation confirmation as in the terminal  "SSh- T git@github.com" also check your  github account where the SSH Key must be in used...
if its OK then check git lfs clone  and checkout latest version ...
Hope you solve the problem thanks

[2019-05-20 02:32] gvc0461082002 commented on #8374
HI Natasha:
The problems happened since ubutnu16.04/apollo3.0
Actually, the bandwidth cost ranges from 20k to 40k , as displayed from system monitor.
I did use lsof-i to get all links details.
When I stopped the docker, usually there are more than 8 containers will be closed.
I am not sure the issues from communications among nodes.
Another finding is map loading of Navigation is fast at home whil

[2019-05-20 02:34] bssung commented on #8289
Thanks! The patch works well.

[2019-05-20 02:56] Iqbalparvi commented on #4822
@CCodie @hashim19 can you solve the problem successfully ,is it necessary to write our own  code to generate obstacles in the dreamview around the car in simulation or we have to modify and use the code given by Apollo inside like 1_perception.pb.txt etc .
I am stuck here ..How to test the specific module?
How to change the direction of moving car?
please any one can help

[2019-05-20 05:34] afibacer opened #8403 "Control: MPC feed forward term question"
Dear Sir,

In Apollo MPC control code, we have two parts, feedforward and feedback.
feedback term is result of MPC solver.

Following is the feedforward code.

void MPCController::FeedforwardUpdate(SimpleMPCDebug *debug) {
  const double v = VehicleStateProvider::Instance()->linear_velocity();
  const double kv =
      lr_ * mass_ / 2 / cf_ / wheelbase_ - lf_ * mass_ / 2 / cr_ / wheelbase_;
  stee

[2019-05-20 06:04] #8382 closed

[2019-05-20 06:36] flnlucifer opened #8404 "cannot run localization online visualizer"
### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)
- **Apollo installed from (source)
- **Apollo version (3.5)

### Steps to reproduce the issue:
cannot run localization online visualizer

### Supporting materials (screenshots, command lines, code/script snippets):
tao@in_dev_docker:/apollo$ ./scripts/localization_online_visualizer.sh
[cyber_launch_27381] INFO Launch fil

[2019-05-20 06:44] flnlucifer opened #8405 "cannot run cyber_visualizer"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)
- **Apollo installed from (source)
- **Apollo version (3

[2019-05-20 08:25] xmyqsh opened #8406 "[navi planner] path trajectory intercepted from the reference line"
[
`// according to the position of the start plan point and the reference line,`
`// the path trajectory intercepted from the reference line is shifted on the`
`// y-axis to adc.`
`double dest_ref_line_y = path_points[0].y();`
](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/navi/decider/navi_path_decider.cc#L127-L130)

Path trajectory intercepted from the reference line should

[2019-05-20 09:02] Wang4758 commented on #5990
Hi, did you manage to solve this error?

[2019-05-20 17:57] natashadsouza commented on #8190
Can you share with us what the error messages are?

[2019-05-20 17:58] natashadsouza commented on #8382
@gengqx i recommend not using lfs prune. The uninstall should resolve the issue. Please let us know if you see any other issues.

[2019-05-20 18:54] natashadsouza commented on #8282
@gengqx we have not seen this issue internally and are currently working on reproducing and resolving it. Apologies for the delay and requesting your patience on the same.

[2019-05-20 18:59] natashadsouza commented on #7712
Closing this issue as it is resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-20 18:59] #7712 closed

[2019-05-20 20:46] #7339 closed

[2019-05-20 20:47] natashadsouza commented on #7318
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-20 20:47] #7318 closed

[2019-05-20 20:48] natashadsouza commented on #7224
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-20 20:48] #7224 closed

[2019-05-20 20:50] natashadsouza commented on #7098
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-20 20:50] #7098 closed

[2019-05-20 23:02] natashadsouza commented on #6450
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-20 23:02] #6450 closed

[2019-05-20 23:03] natashadsouza commented on #6076
@Zhenyu-Li give us additional details regarding your version and also any error messages you see in your Dreamview log. Thanks!

[2019-05-21 00:32] natashadsouza commented on #4432
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:32] #4432 closed

[2019-05-21 00:41] natashadsouza commented on #4080
Closing this issue as ROS is no longer supported and also the thread has been inactive in a while. Thanks!

[2019-05-21 00:41] #4080 closed

[2019-05-21 00:42] natashadsouza commented on #3996
Closing this issue as we have not heard back in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:42] #3996 closed

[2019-05-21 00:43] natashadsouza commented on #3375
Closing this issue as we have not heard back in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:43] #3375 closed

[2019-05-21 00:45] natashadsouza commented on #2586
Closing this issue. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:45] #2586 closed

[2019-05-21 00:47] natashadsouza commented on #4414
Closing this issue as we have not heard back in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:47] #4414 closed

[2019-05-21 00:49] natashadsouza commented on #4286
Closing this issue as we have not heard back in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:49] #4286 closed

[2019-05-21 00:50] natashadsouza commented on #4278
Closing this issue as we have not heard back in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-05-21 00:50] #4278 closed

[2019-05-21 02:16] fzd9752 commented on #8405
It's the problem of incomplete driver of openGL and Nvidia driver. Please refer to https://github.com/ApolloAuto/apollo/issues/6693 and https://github.com/ApolloAuto/apollo/issues/1832.

[2019-05-21 09:14] gengqx commented on #8282
still got the problem.
[code]

[2019-05-21 09:48] JustWannaHugU opened #8428 "GNSS Hardware adaptation of Apollo 3.0"
If it is very complicated, we can only consider buying the officially recommended Novatel equipment.

[2019-05-21 09:51] JustWannaHugU commented on #8428
The question I just edited somehow disappeared. I'll edit it again

[2019-05-21 10:16] #8428 closed

[2019-05-21 14:02] xmyqsh commented on #8406
@xmyqsh `Path trajectory` generated by the relative map is in FLU coordinate which origin is at the vehicle position. And FLU coordinate is not Frenet coordinate but Cartesian coordinate.
But at the start point of `Path trajectory`, the FLU coordinate is coincidence with the Frenet coordinate. So, the `lateral dist` is the `path_points[0].y()` exactly.

[2019-05-21 14:02] xmyqsh commented on #8406
@xmyqsh `Path trajectory` generated by the relative map is in FLU coordinate which origin is at the vehicle position. And FLU coordinate is not Frenet coordinate but Cartesian coordinate.
But at the start point of `Path trajectory`, the FLU coordinate is coincidence with the Frenet coordinate. So, the `lateral dist` is the `path_points[0].y()` exactly.

[2019-05-21 14:02] #8406 closed

[2019-05-21 15:04] boundles opened #8429 "lidar ground detector is not used?"
Hi, lidar ground detector is not used now, right?

[2019-05-21 23:30] yangydavid opened #8439 "Routing not ready"
**Describe the bug**
We are using Apollo 3.5 version and running into some issues with the planning module. After
finishing a routing request. The console on the dreamview shows "Routing Success! ". However, the "planning.INFO" tells me the routing is not ready. The consequence is that although there is a red line shows up on the map (reference_line), no planning messages are being published.

[2019-05-22 02:21] yaoweifeng01 commented on #8391
Thank you. The bug you said indeed exists. We will use ptr->Process() than ptr->Proc(). timer_->Stop() will be invoked duration timer_'s desctruction, so I think timer_->Stop() is not need to be invoked in Process

[2019-05-22 03:40] wanggujin opened #8446 "Prediction模块相关问题"
使用bootstrap.sh启动程序后，在web页面开启planning  routing   localization   perception 模块，
但prediction模块的Proc函数没有被触发，是什么原因？
pridiction的日志一直打印如下信息：
W0522 11:40:40.496162 20239 channel_buffer.h:71]  channel[/apollo/localization/pose] read buffer overflow, drop_message[1] pre_index[65404] current_index[65405]

[2019-05-22 07:28] kttnk opened #8450 "Need FLAGS_xxx to be set for TEST_F to pass"
**Describe the bug**
Using --gtest_filger, it cannot pass some tests

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
[code]
**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04

**To fix:**
[code]

[2019-05-22 08:11] flnlucifer commented on #8405
thx!

[2019-05-22 09:57] BoChang11 commented on #6070
@natashadsouza

I got the solution. We can get the distance covered by the ego vehicle in current lane segment by using ```GetProjection()``` as given below:

[code]

[2019-05-22 12:16] gvc0461082002 commented on #3005
Dear @natashadsouza !
May I have the OD specification of Apolloauto as well?
4156178@gmail.com
Regards
Fenglu Ge

[2019-05-22 12:37] baowanyu commented on #8388
More developer tools are in our plans, but they are not yet open.

[2019-05-22 14:21] JustWannaHugU opened #8452 "GNSS Hardware adaptation of Apollo 3.0."
中文描述:
我是一名自动驾驶爱好者，最近在进行Apollo3.0的GPS的硬件适配工作，然后我遇到了一些问特地来求助各位Apollo布道师：
我从“https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_add_a_gps_receiver.md ” 这个网站中了解到“Apollo系统中默认使用Novatel 板卡”，但我使用的GPS和IMU均是价格比较低廉的国产设备，硬件适配的过程遇到了很多麻烦，我整理了如下几个问题，希望得到你们的帮助：
1.	如果想要成功将GPS和IMU适配到Apollo平台中，是否一定需要购买Novatel板卡呢？是不是说只有在使用Novatel板卡的基础上才能进行接下来的“添加新的GPS接受器”的四个步骤.吗？
2.	如果不使用Novatel板卡，我还可以完成Apollo的GNSS组合惯

[2019-05-22 20:39] natashadsouza commented on #6070
@BoChang11 that's great news. Do you mind making a pull request for others to also use it.

[2019-05-22 21:43] yoyouwen opened #8456 "Trouble on Launching Planning Module"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (s

[2019-05-23 00:39] natashadsouza commented on #8405
@flnlucifer let us know if that resolved your issue. Thanks!

[2019-05-23 00:40] natashadsouza commented on #8282
@gengqx are you building Apollo using our docker environment? Also do you have any tools that are potentially causing a conflict? We have not been able to reproduce this particular issue on our end.

[2019-05-23 00:44] natashadsouza commented on #8388
@Fla3inH0tCheet0s thank you very much for your suggestion. As @baowanyu mentioned, there is definitely a trade off between CPU cost and efficient management of resources when using a logging service. It is something we are currently considering and will hopefully have a resolution soon. Thank you for your support and great suggestion.

[2019-05-23 00:44] #8388 closed

[2019-05-23 00:46] natashadsouza commented on #8374
@gvc0461082002 I am not sure why this is happening on your end. It is not something that we face internally or something I have faced on an external network. Are you sure this is occurring due to Apollo and is not an external network issue?

[2019-05-23 00:57] gvc0461082002 commented on #8374
Hi Natasha:
It could be a network issue not related to  ApolloAuto.
It hasn't been figured out by me now. But I like to this one closed.
The uploading rate rang from 30-50kib/s indicated by ksysguard under kde18.04, incuring
the jamming issue.

Cheers
Fenglu Ge

------------------ Original ------------------
From:  "Natasha Dsouza";<notifications@github.com>;
Send time: Thursday, May 23, 2019 8:46

[2019-05-23 02:34] warden2018 commented on #641
@ahuer2435 hello, currently I have base_map.bin, by using:
`routing_map` has the topology of the lanes in `base_map`. It can be generated by command:
[code]

* `sim_map` is a light weight version of `base_map` for dreamview visualization. It has reduced data density for better runtime performance. It can be generated by command:
[code]

I think my routing_map and sim_map is ready. But default_end_

[2019-05-23 03:52] gengqx commented on #8282
totally all the same code and docker.
[code]
git log
[code]
git status
[code]
nvidia-docker version
[code]
result:
[code]
[code]

[2019-05-23 04:12] kkhitsko commented on #8282
@gengqx, @natashadsouza I have the same error.

[2019-05-23 06:08] kechaofan commented on #8446
我猜是channel[/apollo/localization/pose] 没有信息发布

[2019-05-23 06:11] wanggujin opened #8464 "dreamview 地图问题"
dreamview 显示的地图文件在哪里？

[2019-05-23 07:00] HongyiSun commented on #8464
There is a global gflag named `map_dir` to set your map directory, which has default as: `/apollo/modules/map/data/<map_name>`

[2019-05-23 07:44] supermice opened #8465 "Build failed. " ERROR: /apollo/WORKSPACE:206:1: invalid character: '' ""
Environment:
System: Ubuntu 1404 on **VMware® Workstation 12 Pro** with 16G RAM

Kernel: apollo-kernel release 1.5.0. Linux ubuntu 4.4.32-apollo-2-RT #2 SMP PREEMPT RT Wed Sep 20 11:45:34 CST 2017 x86_64 x86_64 x86_64 GNU/Linux

Docker: Docker version 18.06.3-ce, build d7080c1

Command and error messages:
I run "./apollo.sh build_no_perception dbg" after "./apollo.sh clean". But it seems there's s

[2019-05-23 09:09] supermice commented on #8465
I have tried to use
[code]
commands followed [https://github.com/ApolloAuto/apollo/issues/3558](url) advised bu "xiaoxq"

New error occurred, after "bazel query //...":
[code]

And the error woudl retrive to the older one, after i run
`./apollo.sh clean`

Does anyone has idear?

[2019-05-23 10:31] xmyqsh opened #8468 "How"

[2019-05-23 10:31] #8468 closed

[2019-05-23 10:35] xmyqsh opened #8469 "How to use simulation time in Cyber?"
I'm moving from ros to cyber.
What's the similar method in cyber that corresponding to `/clock` topic used in [Simulation Time](http://wiki.ros.org/Clock#Using_Simulation_Time_from_the_.2BAC8-clock_Topic) in ros?

[2019-05-23 10:35] wanggujin opened #8470 "cyber example"
i can't run the  example -- listener.
the error info as below:
I0523 18:32:28.248347 12705 shm_dispatcher.cc:60]  [DEBUG] Reading sharedmem message: channel/chatter from block: 2
E0523 18:32:28.248370 12705 segment.cc:233]  get shm failed.
E0523 18:32:28.248389 12705 segment.cc:85]  init failed, can't read now.
W0523 18:32:28.248400 12705 shm_dispatcher.cc:66]  fail to acquire block, channel: chan

[2019-05-23 11:15] from-wind commented on #8469
Thank you for your attension. We Planned to add this, but it's not Scheduled.

[2019-05-23 12:00] from-wind commented on #8470
Hi, can you reinsatall your docker?  The example run well in my envirionment.

[2019-05-23 12:32] xmyqsh commented on #8469
@from-wind Thanks for your immediate reply. Look forward.

[2019-05-23 12:32] #8469 closed

[2019-05-23 12:44] latolium commented on #8456
I've got exactly the same issue, driving me crazy.

[2019-05-23 16:50] yoyouwen commented on #8456
Do you figure out a way to solve this? I am still very confused.

[2019-05-23 18:33] natashadsouza commented on #8465
@supermice can you try building the container as recommended in the build guide?

or if you do not have a GPU

and let me know if you see any error messages?

[2019-05-23 18:45] kungeng commented on #8429
what do you mean by lidar ground detector? which kind of lidar you are referring to?

[2019-05-23 19:20] bongjoonhyun opened #8475 "A graph visualizer for relationships between nodes"
Hi Baidu Apollo Team,

I'm a newbie here.

I'm trying to understand the Apollo system, and the first thing I want to know is the relationship between nodes; there are readers and writers and communicating with each other by passing messages.

I'm wondering if there a tool for drawing a graph to visualize such relationships.

I can find one in ROS, but I'm not sure Baidu Apollo has similar features

[2019-05-23 19:54] natashadsouza commented on #8282
@gengqx thank you for sending this over. Our engineers are working on it currently on it and will have a fix soon. Please follow the Ubuntu 18 branch for updates. Once fixed I will also follow up on this thread. Thanks!

[2019-05-23 23:17] luqiang21 commented on #3005
Hi @natashadsouza Can you send me the specification of Apollo HDMap for version 3.5 or 3.0? Thank you so much. qiang1.lu@lge.com

[2019-05-24 00:16] natashadsouza commented on #3005
You all should have received a copy via email. Let me know if there is someone who hasn't received it. Thank you for supporting the Apollo project!

[2019-05-24 00:19] natashadsouza commented on #6574
@Iqbalparvi have you uninstalled your git LFS? We have retired the service, maybe that was what was causing the issue. Let me know!

[2019-05-24 01:53] s894330 commented on #8190
hi, Natashadsouza

currently we do not have real car in test, we just make schedule for all stuff, and firstly studying how to debug if we meet problem in real car and then reproduce situation in lab. Now I can reproduce the same situation if starting speed is zero using record bag(only record obstacles and routingrequest topic), if the record bag is recorded when speed is not zero, the replay obs

[2019-05-24 02:05] JustWannaHugU commented on #8452
Please divide the problem into localization module and I am looking forward to your reply!

[2019-05-24 02:13] wanggujin opened #8491 "Question about Component::Proc function"
How can i trigger the Proc function, such as Localization component ?

[2019-05-24 02:20] Iqbalparvi commented on #6574
@natashadsouza thanks I solve the issue it was memory problem  in fact I change my machine
(OS ubuntu 16.04, acer nitro-5  ,cori7, RAM-16GB,pro 2.3 GHZ, HD-1TB)now successfully install Apollo and run dreamview.

[2019-05-24 02:29] from-wind commented on #8475
Hi, Thank you for your attention. You can use cyber_monitor to find the channel's reader and writer

[2019-05-24 02:48] sjtugjy opened #8492 "Message lost happens under a high sending frequency."
**Describe the bug**
When a publisher sending messages to a receiver in a high frequency,
message, especially the first message, may be lost.

**To Reproduce**
Use the demo talker/listener example to reproduce this bug/issue.
Steps to reproduce the behavior:

**listener.cc**
[code]
**talker.cc**
[code]
Note that "rate.Sleep" is commented for emulating a high sending frequency and the reader and wr

[2019-05-24 03:09] xmyqsh opened #8496 "Cannot build v3.1_dev successful"
I could build apollo 3.5 successful.
But cannot build apollo v3.1_dev successful recently.
In branch `v3.1_dev`
After `./apollo.sh build`
`
xmyqsh@in_dev_docker:/apollo$ ./scripts/bootstrap.sh start
`
`
Start roscore...
`
`
Could not launch module monitor. Is it already built?
`
`
Could not launch module dreamview. Is it already built?
`

[2019-05-24 03:35] #8496 closed

[2019-05-24 10:14] wanggujin opened #8500 "question about load map base_map.bin"
I0524 18:10:56.148994  9978 hdmap.cc:24]  Loading HDMap: /apollo/modules/map/data/sunnyvale_big_loop/base_map.bin ...
E0524 18:10:57.397356  9978 hdmap_common.cc:175]  lane[id = id: "2652_1_-1"
]. sampled_left_width_[0.787094] is too small. It should be larger than half vehicle width[1.05].

this is why?

[2019-05-24 13:50] quuen commented on #7116
![image](https://user-images.githubusercontent.com/45919445/58332392-b2559900-7e6d-11e9-834d-81e432b9d396.png)

[2019-05-24 13:52] quuen commented on #7116
@natashadsouza Could you tell me why?Thank you very much!

[2019-05-24 19:00] natashadsouza commented on #6574
Perfect! @Iqbalparvi I am glad you were able to resolve your issue. Thank you for supporting Apollo.

[2019-05-24 19:00] #6574 closed

[2019-05-24 22:43] krishnatoshniwal opened #8507 "Connect to PC running Cyber outside local segment"
When referring to #7050, I came across a note saying that the IP of two systems must be in the same local segment.
However, is it possible to connect to an IP which is just outside the local segment, for example connecting a 192.168.1.1 to 192.168.2.1. Is there any changes that I can do to the code so that the pc outside the local segment can be discovered as well?

I've also confirmed that both t

[2019-05-25 02:40] kolamanlee commented on #6091
I have this issue also, how to solve it?

[2019-05-25 15:21] sol-idsnake opened #8513 "Cannot set property default of #<Object> which has only a getter"
After updating apollo to the latest version (2.6) with apollo-boost (0.4), next-with-apollo (3.4), react (16.8.6), and next (8.1) I get the following error when compiling:

`Cannot set property default of #<Object> which has only a getter`

The trace-stack says it's coming from _app.js, when declaring:

`<ApolloProvider client={apollo}>`

### System information

- **Windows 10 Pro**

### Steps to

[2019-05-25 15:55] #8513 closed

[2019-05-25 23:31] zezhang opened #8515 "Error while running planning module using "cyber_launch""
platform: ubuntu 18.04+apollo 3.5
module: planning
issue:
I use "`bash apollo.sh build_cpu`" command to build the apollo3.5. The build was successful without any error message. However, when I try to launch the individual planning module using the command: "`cyber_launch start modules/planning/launch/planning.launch`", I got the following error messages:
![1](https://user-images.githubusercontent.

[2019-05-26 00:13] xmyqsh commented on #8290
@xmyqsh need to set config parameters of the vehicle, kinematic model(bicycle model, here) and motion model, as well as some calibration.

[2019-05-26 00:13] #8290 closed

[2019-05-26 00:16] xmyqsh commented on #7957
@xmyqsh add `import cyber_py as cyber` at the very beginning of the python process.

[2019-05-26 00:16] #7957 closed

[2019-05-26 00:18] xmyqsh commented on #8290
REMIND: [Control](https://blog.csdn.net/u013914471/article/category/8019324)

[2019-05-27 01:39] wanggujin opened #8516 "I can't start dreamview"
computer: intel core i3
os: ubuntu 16.04   64 bit
have installed nvidia driver
but can't start dreamview
log as follows:
[.....monitor_manager.cc:52] No HMIStatus was received

that's why???

[2019-05-27 02:47] flnlucifer commented on #8405
no issue now. Thanks.

[2019-05-27 03:18] warden2018 opened #8517 "MAP: Map integration in Apollo 3.0"
### System information

- **OS Platform and Distribution ( Linux Ubuntu 14.04)**
- **Apollo installed from (source)**
- **Apollo version (3.0)**

### Steps to reproduce the issue:
- **With the base_map.bin I tried to generate routing_map and sim_map. which is described in READMe file: modules/map/data/README.md. But the default_end_way_point.txt file I am not sure what should be in it. **
-**I cre

[2019-05-27 05:39] qcqcc opened #8520 "apollo_r1.0.0: bash apollo.sh build error dreamview not work"
WARNING: Running Bazel server needs to be killed, because the startup options are different.
INFO: Found 190 targets...
ERROR: /apollo/modules/control/tools/BUILD:19:1: Linking of rule '//modules/control/tools:enter_auto_mode' failed: gcc failed: error executing command /usr/bin/gcc -o bazel-out/local-dbg/bin/modules/control/tools/enter_auto_mode -Lbazel-out/local-dbg/bin/_solib_k8/_U_S_Sthird_Upa

[2019-05-27 07:51] yfzm commented on #7320
@vattenbuffel We encountered this problem too. Could you please tell me how you get this problem solved?

[2019-05-27 08:32] vattenbuffel commented on #7320
We stopped using Apollo. Apollo proved far too difficult to get running.

________________________________
Från: Li Hao <notifications@github.com>
Skickat: den 27 maj 2019 09:52:29
Till: ApolloAuto/apollo
Kopia: Noa Lindén; Mention
Ämne: Re: [ApolloAuto/apollo] Is there an up to date guide on how to start the perception module? (#7320)

@vattenbuffel<https://github.com/vattenbuffel> We encountered

[2019-05-27 08:41] s894330 commented on #8190
hi all

let me make an example to explain why I want to set initial speed not zero in simcontrol

example:
we start vehicle in speed zero and begin record bag, now vehicle begin to auto-pilot to destination using apollo software, after 40 minutes later (not yet goal reached), something happened (and vehicle speed is not zero), so we stop it, and collect the record bag back to lab to reproduce issu

[2019-05-27 09:50] wiesys commented on #8513
I have the same issue. Did you figured it out?

[2019-05-27 11:43] jinfagang opened #8526 "lidar cnnseg question"
In apollo 3.5 lidar cnnseg module, this function:

[code]
compare the previous version, there are slightly differences (which is using the comment line codes). When I try using the master branch changes of:

[code]
I got all the out `point2grid_` is `-1`. But using the old lines of codes, result were normal. Here is my question:

1. why did this changes and what it is using for?
2. why the result

[2019-05-27 11:48] poaongithub opened #8527 "is there a paper refer to the algorithm of imu-car extrinsic calibration?"
Any help appreciated.

[2019-05-27 12:38] zhangchaoltt commented on #8491
Hi, @wanggujin you can read this example, the CommonComponentSample component subscribes message from channel /apollo/prediction，which is in common.dag. When the message arrives，it will trigger the proc func.
 https://github.com/ApolloAuto/apollo/tree/master/cyber/examples/common_component_example

[2019-05-27 22:40] penghuihuang commented on #6916
@michaelowenliu Hello, I tried 2070 with ubuntu 16.04, apollo 3.0, nvidia driver 430.14, doesn't work for me, could you please share some knowledge about how you made it? Thank you a lot!

[2019-05-28 01:21] michaelowenliu commented on #6916
@penghuihuang Hi, it also failed. Now I don't have any plan on it.

[2019-05-28 02:08] owphoo commented on #8526
I guess the points are rotated 45 degrees. So more points in front of  the car can be processed by the cnn. The car can see further.
![image](https://user-images.githubusercontent.com/12474260/58445570-bb758d00-812f-11e9-8cc7-d6c1b4052ead.png)

[2019-05-28 02:54] jinfagang commented on #8526
@owphoo  Thanks, I got almost same result as previous process now.

[2019-05-28 02:54] #8526 closed

[2019-05-28 05:04] yfzm opened #8531 "Is there sensor data in demo_3.5.record?"
When I use `cyber_record` command to replay `demo_3.5.record`, `cyber_monitor` shows no sensor data created. The FrameRatio of `/apollo/sensor/camera/front_6mm`, `/apollo/sensor/lidar16/compensator/PointCloud2` and some other channels are 0.

So when I launched perception module separately, no obstacle data were published because of the missing input sensor data. Where can I find the sensor data?

[2019-05-28 07:56] latolium commented on #8456
No I even did a clean OS install, clean pull everything but I still the same error.

[2019-05-28 09:03] quuen commented on #4171
@follow123  I have the same question.Have you solved it？And would you mind telling me why？Thanks a lot!

[2019-05-28 18:23] #8405 closed

[2019-05-28 20:47] natashadsouza commented on #8520
@qcqcc could you give us your system config to help debug better?

[2019-05-28 20:52] Zhenni17 commented on #7320
@vattenbuffel I am very sorry to hear you had such a difficult time get Apollo up and running. We take our developer experience very seriously, and I'd love to connect with you and hear more about your experience. Please send me an email at wuzhenni01@baidu.com and I'd love to learn more about your experience.

[2019-05-28 21:03] quning18 commented on #8515
@zezhang seems libplanning_component is missing from the log, have you double checked if the so is in there?

[2019-05-28 22:46] natashadsouza commented on #8527
Hi @poaongithub thank you for your interest in Apollo. Unfortunately calibration is a service that we offer and hence cannot share any material on our algorithms. I do apologize for not being able to help you on this one.

[2019-05-28 23:49] #8377 closed

[2019-05-28 23:53] #6457 closed

[2019-05-28 23:53] #6434 closed

[2019-05-29 00:59] zezhang commented on #8515
Yes. The file is under the specified directory. It looks the libadolc.so.2 is missing, but I'm not sure where does this library come from. I don't think it's related to Apollo since I can compile everything successfully.

[2019-05-29 07:31] vattenbuffel commented on #7320
We're almost done with our bachelor thesis now so there's no point in sending you an email. We've recommended our supervisor not to use Apollo in the future because of the lack of guides, up to date documentation and help.

________________________________
Från: Zhenni Wu <notifications@github.com>
Skickat: den 28 maj 2019 22:53:09
Till: ApolloAuto/apollo
Kopia: Noa Lindén; Mention
Ämne: Re: [Apol

[2019-05-29 09:27] from-wind commented on #8492
Hi, I'm looking at this problem, and I have reproduced it. I will comment it later. Thank you.

[2019-05-29 10:30] qcqcc commented on #8520
Thank you for your reply.
thank you very much.

apollo version:r1.0.0
uname -a:
Linux in_dev_docker 4.4.32-apollo-1-NonRT-RT #2 SMP PREEMPT RT Fri May 10 23:07:17 CST 2019 x86_64 x86_64 x86_64 GNU/Linux

apollo-platform ros build succeed

============================
[ OK ] Build ros succeed!
============================`

I added configuration to WORKSPACE:

New_local_repository（

Name = ros,

Bu

[2019-05-29 14:11] faabdal commented on #3005
Dear @natashadsouza,

could you also share the latest Apollo OpenDrive specification with me, please?
faabdalos@gmail.com

Thank you
Best Regards,
Martin

[2019-05-29 18:16] alexiskovi commented on #8056
So, I've found [comment about bbox](https://github.com/ApolloAuto/apollo/blob/abe92a3111dda9c7e8fd903997424d1161115e31/modules/perception/production/data/perception/camera/models/yolo_obstacle_detector/3d-r4-half/deploy.pt#L1598)
But, unfortunately, i didn't get how to interpritate deconvolutional layer output information. Maybe you pointed another comment or another layer? Because ordinary output

[2019-05-29 18:50] natashadsouza commented on #8531
@yfzm you are correct, the demo record does not contain any sensor data.

[2019-05-29 18:52] natashadsouza commented on #8520
@qcqcc When you say dreamview does not work correctly, are you seeing an issue in your terminal or in your browser? Also, we do have a guide to [debug the dreamview issue](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md)

[2019-05-29 19:26] KaWaiTsoiBaidu commented on #8056
@alexiskovi  the output for the 3D bbox are `dim_pred` and `ori_pred`, one for 3D bbox dimensions (H,W,L) and one for 3D bbox 'orientation`.  It does not output location (X,Y,Z) of the 3D bbox though.
`loc_pred` stores the information of 2D bbox.

[2019-05-29 19:59] natashadsouza commented on #8374
@gvc0461082002 sure I will close the issue. If you have any further questions, feel free to reopen it. Thanks!

[2019-05-29 19:59] #8374 closed

[2019-05-29 23:14] natashadsouza commented on #8492
@from-wind thank you so much for your timely responses. We really appreciate your support!

[2019-05-29 23:18] #7464 closed

[2019-05-30 00:22] warden2018 opened #8551 "Perception Traffic light detection: Cannot transform frame: world to frame novatel"
### System information

- **OS Platform Linux Ubuntu 14.04**:
- **Apollo installed from (source)**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
- **My dag file is below:**
[code]

- **My rosbag and Map have the same region and Map can be visualized in dreamview.**
- **When I launch perception module the ERROR log shows:**
`E0529 15:45:33.271072  4423 tl_preprocessor_subnode.cc:2

[2019-05-30 00:27] AngelJA commented on #3005
Could I please get a copy of the spec as well?  angel@ridecell.com

Thanks!

[2019-05-30 00:28] qcqcc commented on #8520
Thank you for your help.

When running this command：
sudo bash scripts/bootstrap.sh

Output at the terminal：
`
Start roscore...
Started supervisord with dev conf
Dreamview is running at http://localhost:8888
`

Output at the data/log/dreamview.out：
`
/apollo/bazel-bin/modules/dreamview/dreamview: error while loading shared libraries: libfastcdr.so: cannot open shared object file: No such file or d

[2019-05-30 00:42] natashadsouza commented on #6869
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-05-30 00:42] #6869 closed

[2019-05-30 01:57] yaoweifeng01 commented on #8515
@zezhang  Maybe libadolc.so.2 is missing, I think there is a problem with the docker environment. Can I find this file? "/local/adolc/lib64/libadolc.so.2 ."

[2019-05-30 05:05] warden2018 commented on #7780
Hi @BeSlower Have you solved the issue? Currently I think I have the same with you: [#8551](https://github.com/ApolloAuto/apollo/issues/8551)

[2019-05-30 06:32] DinnerHowe opened #8559 "why need traffic_light_unprotected_left(right)_turn_scenario"
hi, there.
i'm so confused about why need a traffic_light_unprotected_left(right)_turn_scenario mode here.
for instance if there is a light in cross, traffic rule will solve the problem; otherwise, if there is no light any more in cross, you don't need to do anything about traffic light

[2019-05-30 07:43] warden2018 commented on #8551
I think I found something:
I double checked the /tf_static(which includes all the sensor and novatel's rotation and translation relation).
`@in_dev_docker:/apollo$ rostopic hz /tf_static
/use_sim_time is not set, will not subscribe to simulated time [/clock] topic
subscribed to [/tf_static]
average rate: 5998.290

	min: 0.000s max: 0.000s std dev: 0.00005s window: 5
average rate: 6.232

	min: 0.00

[2019-05-30 11:44] yfzm commented on #8531
@natashadsouza Thank you for your reply.

I found sensor data at [data open platform](http://data.apollo.auto/). Is there any tutorials about how to use it in apollo 3.5?

PS: I have tried to use some data set of the platform:
- **Vehicle System Demo Data**: it still doesn't contains any camera data.
- **Calibrate Demo Data**: when I use `rosbag_to_record` to convert the format, it reports `Error:

[2019-05-30 12:49] bongjoonhyun opened #8565 "Can't run cyber_visualizer"
Hi,

I tried to run cyber_visualizer by following docs in [Apollo Cyber RT Developer Tools](https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Developer_Tools.md).

After hit cyber_visualizer in the docker environment, it says libGL error: failed to load driver: swrast.

I tried to follow suggestions in #8405 but neither of them could solve my problem.

I found all libgl libraries

[2019-05-30 12:51] bongjoonhyun commented on #8475
Thanks! I tried to use cyber_visualizer but it led me to this issue #8565

[2019-05-30 13:09] hoporluo commented on #1087
In my case, just:
source /home/tmp/ros/setup.bash

[2019-05-30 17:20] alexiskovi commented on #8056
Thanks for clarifying layer meanings.
However, didn't get the idea, how to extract info from layers. So, here is output shape of loc_pred: (1, 50, 90, 64). It means, this vector have 64 values, in each vertex of the image net of size (50,90), but is it real to get bbox information in the final form, like coordinates, class and probability?

[2019-05-30 23:40] Junzeng-x14 opened #8576 "Planning: lane change with SLT graph and obstacle filter"
I would like to ask some questions about lane change implementation the path planning. It looks like a SLT-graph is used for the path planning, but I'm confused about the lateral distance changes in function of time between two lanes. Uniformly? Didn't understand very clearly from the existing code.

Moreover, how is the moving obstacle avoidance considered during the lane change with SLT-graph. I

[2019-05-31 03:46] githublefantian commented on #8531
Please provide  sensor data you downloaded.

[2019-05-31 03:47] githublefantian commented on #8531
@yfzm  Please provide sensor data that you downloaded.

[2019-05-31 04:52] yaoweifeng01 commented on #8565
@bongjoonhyun Please refer to #8405 first to check if the graphics card and driver are ready.

[2019-05-31 08:35] yfzm commented on #8531
I downloaded data from the **Demonstration Data** part of [Apollo Data Open Platform](http://data.apollo.auto/).

![image](https://user-images.githubusercontent.com/21277160/58692137-8df34280-83c0-11e9-9e3e-86cbb636f7ed.png)

And I downloaded **Vehicle System Demo Data** of version 2.0: `demo-sensor-data-apollo-2.0.tar.gz`

[2019-05-31 18:46] KaWaiTsoiBaidu commented on #6249
@HouYuu
could you try `cyber_launch start modules/perception/production/launch/perception_all.launch` , without modifying any config files?

[2019-05-31 19:32] KaWaiTsoiBaidu commented on #8243
Hi @gengqx.  Thanks for the feedback. But the current version Apollo does not support RTX 2080 yet.

[2019-05-31 19:38] KaWaiTsoiBaidu commented on #8056
@alexiskovi
The layer has 4*16=64 layers,  4-->(x,y,h,w) of the bbox, 16--> 16 anchor boxes for each vertex of the (50, 90) feature map.
For converting the raw output to (x,y,h,w), please see [this kernel code](https://github.com/ApolloAuto/apollo/blob/c2c7b0083ca006475bd1fb3129b45ab68a8c89b8/modules/perception/camera/lib/obstacle/detector/yolo/region_output.cu#L127).

[2019-05-31 20:30] KaWaiTsoiBaidu commented on #8243
@gengqx
Or could you try to set [this line](https://github.com/ApolloAuto/apollo/blob/689c03b92359dd2bd4fc2451a9cdf4e29e80cb79/modules/perception/production/data/perception/camera/models/lane_detector/config.pt#L3)  to be `model_type: "CaffeNet"` and see if that fix the problem?

[2019-05-31 21:05] HongyiSun commented on #8559
For example, a green light with a left arrow on it, it's a protected left turn, which means we have the right of way. As we are protected and theoretically don't need to consider anyone else.(Actually we will avoid if anyone is running the red light).
But when we turn left on a junction with only solid green light without an arrow, we have to yield the right of way to an oncoming car if they are g

[2019-05-31 23:25] Junzeng-x14 opened #8600 "Spline 1d solver: kernel cost function construction"
Hi there,

I'm trying to use the spline smoothing math package and I have a question about that. About using spline1d solver, is there any cost function for optimization besides the reference trajectory from `AddReferenceLineKernelMatrix(x_coord, fx_guide, weight)`. I mean if we don't specify the reference line, does the solution of solver remain unique?

I have checked a while in the kernel heade

[2019-06-01 00:20] Junzeng-x14 commented on #8600
OK, I see, actually minimum jerk or minimum acc could be added.

[2019-06-01 00:20] #8600 closed

[2019-06-01 05:29] guozhenwuai commented on #8492
@from-wind Hi. Actually, we use rtps mode for transportation (sorry for not mention before). And we tried sleep(1) before return, it seems useless. Seen from our log, it seems that under rtps transportation, sometimes the publisher cannot successfully sends the first few packets out. We also tested the publisher&subscriber example of fastrtps library, the same problem did not occur.

[2019-06-02 13:04] wanggujin opened #8612 "bazel build problem"
struct sockaddr_in cli;
 socklen_t len = static_cast<socklen_t>(sizeof(cli));
    while(1)
    {
        char buf[32] = {'\0'};
        int nbytes = recvfrom(sockfd, buf, sizeof(buf), 0, (struct sockaddr*)&cli, &len);
        if (nbytes < 0) {
      		std::cout << "recv failed: " << strerror(errno) << std::endl;
      		continue;
    	}
    }
    close(sockfd);

build error:
ERROR: (06-02 12:58:56

[2019-06-02 13:09] #8612 closed

[2019-06-03 03:08] baowanyu commented on #8531
You can try conversion tool "rosbag_to_record" from document below.
https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Developer_Tools.md

[2019-06-03 06:47] yfzm commented on #8531
Hello, @baowanyu. I have tried to use `rosbag_to_record`, and it worked fine with **Vehicle System Demo Data**. But it reported error when converting **Calibrate Demo Data**: `Error: the input file is not a ros bag file.` When I dig into it, the origin exception is `BagIOException` in `bag.cpp`.

[code]

[2019-06-03 07:36] jodzer commented on #3005
Dear @natashadsouza  ,
could you also share the latest Apollo OpenDrive specification with me, please?
Thanks in advance!
Jovan

[2019-06-03 08:20] from-wind commented on #8492
@guozhenwuai OK. Let me see.

[2019-06-03 12:23] sinopec opened #8620 "cyber inner channle cant get all message"
**Describe the bug**
I am implementing a visualizer of sensor& fusion object.
So I created a component  to listen on two channles ,
1st receive prefused_frame  from radar componet
2nd receive fusion_frame frome fusion component
So the data flow is like this:
radar  ->  fusion  -> visualizer
    |
    |-----------------> visualizer

The Radar componet is continuing sending frames and fusion compone

[2019-06-03 17:25] #8527 closed

[2019-06-03 17:42] natashadsouza commented on #8516
@wanggujin could you post your terminal error messages here?
Also, which version of Apollo are you working on?

[2019-06-03 17:44] natashadsouza commented on #8491
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-03 17:44] #8491 closed

[2019-06-03 18:34] HongyiSun commented on #8282
Static TLS issue is fixed now, sorry for the inconvenience and please try again now.

[2019-06-04 03:17] wanggujin commented on #8516
apollo 3.5

[2019-06-04 03:23] wanggujin opened #8633 "what's the mean about obstacle's theta in module perception?"
apollo 3.5
what's the mean about obstacle's theta in module perception?
is it a angle between east direction?

[2019-06-04 04:06] kttnk commented on #6331
It might be compiler option issue.
You can try in docker:
`$vi /apollo/third_party/qpOASES.BUILD`

Comment out -O3 like:
`#        "-O3",
`

And build again:
`$bash apollo.sh build
`

[2019-06-04 05:10] JoelinChee opened #8637 "Debug the new module on apollo"
I create a new module called sysctrl on apollo.
I am trying to debug this module by the script dev_start_gdb_server.sh.
I have changed the launch.json and tasks.json.
However I found that it cannot stop when I set the breakpoint.
The following are the code and the process.
![Screenshot from 2019-06-04 12:07:52](https://user-images.githubusercontent.com/18168467/58852578-b2556480-86c9-11e9-9160-425

[2019-06-04 06:02] sinopec opened #8639 "multichannle component msg process"
If a component resigter more than 1 channles ,How the diffrent channle msg is  handled?
If the snder frequenry is different, how the 2 channles sync the msg Proc?
Speciallly when 1 channle  send msg frequently and anthoer never send msg, It seems that the Proc Function will not be called!  Is This a bug? OR it just wokr like this?

[2019-06-04 06:54] rrenjie commented on #8559
@HongyiSun  As you mentioned even if for protected left turns you have to consider vehicles running the red light, then I wonder what exactly the difference is for the planning algorithm if there is protection or not? What I mean is, you have to yield oncoming cars (even if they are running the red light) no matter there is protection or not.

[2019-06-04 07:49] leFeuilluZer opened #8641 "Running Apollo 3.5 with Nvidia Quadro M2200."
Hi Apollo support,

I uses a  Nvidia  Quadro M2200 on my machine, when I run Apollo (3.5) with the attached demo bag, everything works well but now I would link to run it in the LGSVL simulator (https://github.com/lgsvl/simulator).
Firstly the perception module doesn't want to switch on and when I force it using

I have this message error :

`[cyber_launch_6413] INFO Stop cyber launch finished. [c

[2019-06-04 08:59] gengqx commented on #8641
it says
[code]
apollo recommend to use gtx1080 which have 8GB Graph memery.
if you can't change your card,maybe you can just start one sensor
[code]

[2019-06-04 09:10] #8282 closed

[2019-06-04 09:19] gengqx commented on #8243
@KaWaiTsoiBaidu Yes,CaffeNet can pass the test ,maybe when the master code update to 18.04,it would need to release new tensorrt model to support Nvidia new arc: Volta

[2019-06-04 10:04] leFeuilluZer commented on #8641
Thank your for your answer, I tried your recommendation ( just using `/apollo/modules/perception/production/launch/perception_camera.launch` instead of the path you gave). It gave me this error message :

![image](https://user-images.githubusercontent.com/48589344/58870485-8e415580-86c0-11e9-8084-653d5a298b7a.png)

[2019-06-04 10:46] sinopec commented on #8639
OK, I check the cyber source code ,And I found that all channle must have message to let the callback func called....
So it's a feature not a bug ..... Right?

[2019-06-04 13:02] shawlq opened #8644 "请教下dreamview的二次开发"
您好，我很喜欢dreamview的设计框架，而且本身也熟悉c++11的后端开发。
目前我正在使用自己的模型玩具车，加上便宜的摄像头和小雷达；

想把dreamview改成轻量级的可视化前后端框架，仅仅用来显示设备上的感知预测结果。

计划是自己写一套底层传输，把cyber::node替换掉。同时切掉后端代码中那些控制部分，仅仅保留simulationworldwithplan的数据模型，用于前端请求响应。

我希望改造后的轻量级框架可以直接在ubuntu上使用makefile编译，而不是在厚重的apollo docker中构建。

构建框架的改造一定会有调试的过程。我担心的是dreamview的前后端之所以放在 docker中编译，是因为它存在一些我所不了解的，但又必须的依赖。而这些依赖不是能够快速识别，并且用常规手段（比如apt-get install等）就可以解决的。如果存在这些隐藏的

[2019-06-04 14:24] DinnerHowe commented on #8559
@rrenjie bingo that's the point, you got me

[2019-06-04 15:23] alexiskovi commented on #8056
@KaWaiTsoiBaidu, thank you a lot for making this clear!

[2019-06-04 15:23] #8056 closed

[2019-06-04 15:32] KaWaiTsoiBaidu commented on #8243
@gengqx   We are working on that. Thanks for your feedback. Closing this issue.

[2019-06-04 15:32] #8243 closed

[2019-06-04 16:00] zezhou commented on #8644
dreamview 是给planning 和 control 调试用的，感知的是不用dreamview的，一般用qt之类的框架自己写一个小工具，apollo的tools下面应该有相关代码。另外按你的需求也可以直接上 ros + rviz 就好了。

我改过某个版本的dreamview. 前端是纯净的，它可以直接在浏览器里显示。后端和 apollo 的数据接口绑定挺深的。举个例子，我以前改的版本没了router，dreamview都初始化不起来。前端也不好改。dreamview 前端用了 es6 + d3 + mobx ,如果你没有前端基础，前端也是很难改的。

Dreamview is making for planning and control, not for perception.

[2019-06-04 18:32] Junzeng-x14 opened #8648 "Over-fitting issues while using spline1d"
Hi there,

I'm wondering that how's going with the spline1d polynomial interpolation, does it the polynomial function interpolate along all the time step together or just between two adjecent time step? If along all the time step together, could the over-fitting or multiple solutions from the optimization be a huge problem?

Thank you so much for the help!

[2019-06-04 21:22] KaWaiTsoiBaidu commented on #8633
@wanggujin  could you specify which theta are you referring to by quoting the line of code here?

[2019-06-04 22:49] jmtao commented on #8559
@DinnerHowe the reason we have different scenarios here is just because they have to run in different stages or be implemented in different way in some stage.
we have **protected**_turn vs **unprotected**_turn because in unprotected_turn scenario(s), we'll have a stage of "creep".
We have unprotected_**right**_turn vs unprotected_**left**_turn because we'll have different implementation to handle

[2019-06-05 01:30] JustWannaHugU commented on #8452
Anybody？

[2019-06-05 02:32] cicelprg commented on #8639
Thank you for your question.

The multichannle component proc function trigger through the first channel，when the first channel data arrive，Cyber-Rt will chose other channel newest data，then call the component proc function。

[2019-06-05 02:33] shawlq commented on #8644
@zezhou 多谢您的帮助。

从本意上来说，我希望后端放弃ros/cyber。我不需要通过dreamview去控制我的模型车。在我的模型车上已经有单片机在做简单的感知、规划、控制。现在的想法是把三者（感知、规划、和实际控制）的结果，能显示到前端。

考虑到移植性和访问量（允许实验室的师兄师姐们都能访问）。我希望是简洁的前、后端部署。
前、后端之间通过protobuf指定模型，后端通过socket完成（感知、规划、控制）数据采集，并转换成protobuf，发送给前端。前端使用three.js和chart.js技术完成数据显示（当前就是dreamview已经使用的技术）。

我希望借助dreamview现有框架做二次，在前、后端的开发技术上并没有太大困难。反而是当前dreamview基于 docker + bazel的构建框架让我有点陌生。为了以后方便，我希望能把构建改成  在ubuntu

[2019-06-05 02:45] cicelprg commented on #8620
Thank you for your question.

The fusion component can receive all the radars data and the visualizer receive few fusion frames，that is data lose `fusion -> visualizer`.  There are two possible types of data loss:

1. the fusion component drop some frames 。
2. the visualizer processing speed is slower than fusion sending speed

So，add some auxiliary logs in proc function maybe solve this problem.

[2019-06-05 04:00] DinnerHowe commented on #8559
i known creep action, which is another part I'm not quit understand, will, let's discuss that later.
however, here, my question is why split traffic light into two parts, if we do same aciton in trafficlight junction.
as you said, wether protected or not, ego would cross stop line, yield dangers and moving slowly, why we put this issue together making it to a general case, through defining scenari

[2019-06-05 04:36] wanggujin commented on #8633
message PerceptionObstacle {
  optional int32 id = 1;  // obstacle ID.

  // obstacle position in the world coordinate system.
  optional common.Point3D position = 2;

  optional double theta = 3;  // heading in the world coordinate system.
  optional common.Point3D velocity = 4;  // obstacle velocity.
}

[2019-06-05 09:34] #7386 closed

[2019-06-05 09:35] #5075 closed

[2019-06-05 09:35] #4715 closed

[2019-06-05 12:40] alexiskovi commented on #8056
In each vertex of net we have 16 BBoxes. So, how to decide, which of (50*90*16) Bboxes should be drown? Could you possibly point at line, which works with extracting Bbox significance for each vertex, may be there is another layer with shape (50,90,16) which of them corresponds to objects, which of them corresponds to noise.

Thanks in advance

[2019-06-05 16:03] KaWaiTsoiBaidu commented on #8056
@alexiskovi  [This](https://github.com/ApolloAuto/apollo/blob/29bdcbe5d10ea73ee223aeaa5c81ec384f1c11fa/modules/perception/production/data/perception/camera/models/yolo_obstacle_detector/3d-r4-half/deploy.pt#L1595) output specifies the objectness (shape (50,90,16)) of each bounding box.

[2019-06-05 17:05] KaWaiTsoiBaidu commented on #8633
@wanggujin   As the comment stated, it should be the object heading direction in the world coordinated system.   The world coordinate system is x --> east, y --> north, z --> up.

[2019-06-05 17:11] renegadephysicist opened #8666 "Udp_stream.cc does not bind socket"
**Describe the bug**

In modules/drivers/gnss/stream/udp_stream.cc, in the read() function the socket is never established with bind.

**Expected behavior**
It should be possible to write a new gnss parser that communicates over udp.

**Additional context**
Bind call is never run on the receiving udp socket. See https://beej.us/guide/bgnet/html/multi/index.html for context.

Nor is a connect() cal

[2019-06-06 03:44] zezhou commented on #8644
我记得 dreamview  的前端就是通过 websocket 接口去拿 protobuf 数据的，所以按你的需求只需要 dreamview 前端部分即可。
构建这块也不需要 docker + bazel， 前端用 webpack 编译，如果你有全套前端开发环境，进入 apollo/modules/dreamview/frontend/ 执行 npm start 就可以编译调试了
不过不建议你在改造dreamview上花时间, 你们的开发目标不一样，能复用的很少
如果你一定要做，你的需求我倒是自己写过小工具，基于web/protobuf/socket 展示感知 2d/3d 结果来debug。我有时间的话倒可以整理下代码给你参考.....

[2019-06-06 06:23] luanjinlu commented on #3005
Dear @msbeta ,
Could you please send me the Apollo OpenDrive specs as well?
Thanks!
luanjinlu@126.com

[2019-06-06 06:48] qcqcc commented on #8520
Has no friend ever encountered this problem?

help me

thanks

[2019-06-06 10:56] Avadon commented on #3005
@msbeta Are you going to open the technology used for HDMaps generation or it'll remain proprietary?

[2019-06-06 11:34] kk2491 opened #8680 "Reference for Trajectory Cost Calculation"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or bina

[2019-06-06 15:57] luqiang21 commented on #8520
@qcqcc I am just guessing. You should not use `sudo` to run `bootstrap.sh`. If you cannot run it without `sudo`. Then probably you ran `dev_start.sh` using `sudo` which is incorrect. If that is the case, you should follow instructions on docker website to add your user group.

[2019-06-06 18:39] anchans opened #8687 "getting an error message regarding node"
getting the following whenever I try to start node or try to build anything that requires node

![node_error](https://user-images.githubusercontent.com/37716287/59057639-ae534f00-884f-11e9-9ea3-194edeb98383.png)

[2019-06-06 23:10] mauricedoepke commented on #3005
@msbeta  I would also like to get a copy of the specification. [mauricedoepke@outlook.de](mailto:mauricedoepke@outlook.de)

[2019-06-08 14:49] dongyy1148 commented on #8161
@cyberphysicalrobotics Hi. Could you tell me how you ask Apollo to use the valet parking scenario? Is it called in dreamview? I also use the LGSVL simulator. Thanks!

[2019-06-09 07:00] storypku opened #8722 "race condition in AtomicHashMap"
**Describe the bug**
Impl of AtomicHashMap isn't thread-safe.

**To Reproduce**
Steps to reproduce the behavior:
Given the following example:
[code]
Output:
Got: (null)

**Additional context**
Although we can hardly observe above senerio using AtomicHashMap::Get(K, V*) rather than Get(K, V**),  the bug is intrinsic to AtomicHashMap implementation.

[2019-06-09 19:01] dongyy1148 opened #8725 "Add multiple destinations"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04):
- **Apollo installed from (source)**:
- **Apollo versio

[2019-06-09 19:16] dongyy1148 opened #8726 "Perception in rainy scenario"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (Ubuntu 16.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3

[2019-06-09 19:17] dongyy1148 commented on #8726
I use the LGSVL simulator to do the simulation.

[2019-06-10 02:25] fengqikai1414 commented on #8722
@storypku Yes, you are right. We provide two `Get` funcions, one for faster access and the other for thread safe. You can choose a more appropriate interface based on your own usage scenario.
I'm sorry to confuse you,  we'll add more detailed comments later.

[2019-06-10 02:36] sinopec commented on #8639
Thanks for your reply.. But still one more problem, when other channle has no data yet , the Proc process will be pending even if the first channle has many new messages. So maybe this canbe improved.

[2019-06-10 03:14] xmyqsh commented on #8639
@sinopec Other channels will cache a date queue with a timestamp.  Each time Cyber-Rt will choose other channels' newest data. If there is no data published from other channels or data in other channels has been time out, you should check your data publisher logic in the specific channels, enlarge the time out threshold, or check the whole logic.

[2019-06-10 05:14] storypku commented on #8722
@fengqikai1414  In fact, neither of the two `Get` functions is thread-safe: `*v = *target->value_ptr.load(std::memory_order_acquire);` is not an atomic operation.

[2019-06-10 05:44] cherrycuiying opened #8730 "[help]I can't gdb planning in vscode"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information
ubuntu 14.04
Apollo installed from souce
3.0 version
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04

[2019-06-10 05:49] cherrycuiying commented on #8730
The error is:
Unable top open 'pthread_cond_wait.S':File not found
(file:///build/eglibc-ripdx6/eglibc-2.19/nptl/sysdeps/unix/sysv/linux/x86-64/pthread_cond_wait.S).

[2019-06-10 05:53] cherrycuiying commented on #8730
The error is:
Unable top open 'pthread_cond_wait.S':File not found
(file:///build/eglibc-ripdx6/eglibc-2.19/nptl/sysdeps/unix/sysv/linux/x86-64/pthread_cond_wait.S).

The breakpoint1:
Status Planning::Start(){
timer_AdatperManager::CreateTimer(
…………
The breakpoint2:
void Planning:OnTimer(const ros::TimerEvent&){
 RunOnce();
……

[2019-06-10 11:56] fengqikai1414 commented on #8722
@storypku  Thank you for your reminder. We'll see how to fix it.

[2019-06-10 14:33] lesun90 commented on #8726
It seems like an issue for LGSVL, not for Apollo.

[2019-06-11 02:43] warden2018 opened #8743 "GetForwardNearestSignalsOnLane Failed to get signals"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
Currently, I am trying Traffic Light Detection. I use sample map and in Dreamview the map can be seen. Localization input is also OK. But
`hd_map_->GetSignals(pose->pose(), signals)`
Cannot get signals.
Then I track th

[2019-06-11 06:38] xiaoyuan129 opened #8746 "How does Apollo determine which traffic light in the ROI is the corresponding traffic light in hdmap?"
Dear Contributors and Apollo community,
I am working on traffic light detection module in Apollo and have a problem:
Apollo can get a ROI for a traffic light based hdmap,but there are multiple traffic lights in the ROI, how can I determine which one is the corresponding traffic light  in hdmap?

Looking forward for your replies.

Best
xiaoyuan

[2019-06-11 13:43] dongyy1148 commented on #8726
Yes. LGSVL only adds visual effect not real rain. Thanks!

[2019-06-11 23:34] james-goin opened #8759 "configurator.sh is no longer functioning"
I have noticed that in the newer Apollo builds that configurator.sh is no longer launching.

### System information
- OS Platform and Distribution: (Linux Ubuntu 14.04)
- Apollo installed from: source (most recent master branch)
- Apollo version: master
- We have tested on multiple systems which were all previously working.
### Steps to reproduce the issue:
- bash configurator.sh while in docker

[2019-06-12 03:41] breakisx opened #8767 "cyber shm_dispatcher problem"
### System information

- **OS Platform and Distribution ( Linux Ubuntu 14.04)**:
- **Apollo installed from (source )**:
- **Apollo version (3.5)**:
I modified the talker and listener source of the example in Cyber RT to send point cloud data. When the rate is set to 20 per second, it can be sent normally, but when set to 30, the following problems occur:
I0612 11:35:37.096585 29332 block.cc:47]

[2019-06-12 08:10] leFeuilluZer commented on #8641
I compiled and run in debug mode the perception_camera. Here are the backtraces of the execution

![image](https://user-images.githubusercontent.com/48589344/59334134-15fb1580-8cfa-11e9-99a0-9de344655525.png)

[2019-06-12 11:41] from-wind commented on #8767
Hi, in SHM transportation, Transmitter has a shm segmat(cyber/transport/segment.h), the segment has several `Block`s(cyber/transport/block.h), the block num configured in cyber/transport/shm_conf.cc. When Transmitter writing, It will lock the block until Serialize finished. Then the Dispatcher can read from this block. The log you see indicates that the block is being written. You can increase the

[2019-06-12 21:59] Prj1508 opened #8779 "Debugging Perception/radar module"
I am trying to debug the perception/radar module, but I am not able to find and attach appropriate gdbserver process id. I have updated launch and tasks.json files as well as start_gdb_*****.sh files for both perception and radar.

After turning on simcontrol option and perception and radar modules in dreamview, when I grep, perception provides process id, but perception module option immediately

[2019-06-12 22:27] Zhenni17 commented on #8725
Hi @dongyy1148 , currently this feature is not supported. However, this feature is in the product roadmap, so please stay tuned.

[2019-06-13 03:08] #5816 closed

[2019-06-13 03:08] #5941 closed

[2019-06-14 00:44] natashadsouza commented on #8565
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions.

[2019-06-14 00:44] #8565 closed

[2019-06-14 00:45] natashadsouza commented on #8515
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-14 00:45] #8515 closed

[2019-06-14 10:29] wobistdu opened #8808 "Any easy way to make ADC change lane and pass slow speed car ahead?"
Hi :

Currently the lane_borrow (or sidepass) decider is only valid for static obstacle.
If there is only one referenceline, the ADC will use that path and follow the slow car now.

Is there any way to make ADC change lane so it can pass the slow speed car ahead?

In previous version there is dp_poly_path/dp_poly_path_optimizer.cc which can be tuned to consider dynamic cost weight.
In latest maste

[2019-06-14 21:31] natashadsouza commented on #8687
In the docker module, run **yarn_install** under /apollo/modules/dreamview/frontend to install all node_modules before building the frontend. Let me know if you have any questions.

[2019-06-14 21:47] yoyouwen opened #8818 "如何重启apollo的几个container"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 14.04
- **Apollo installed from (source or bina

[2019-06-14 22:39] natashadsouza commented on #8559
@DinnerHowe even for a human driver, the behavior in an unprotected and protected left turn is different. When you have a Protected turn, you scan the road for a possibility of an oncoming vehicle that has overshot the light but can still drive out normally as you "assume" that people generally follow the rule.
But in an unprotected turn, you are yielding to oncoming traffic, which means you creep

[2019-06-15 10:58] shawlq commented on #8818
in your /apollo, run "bash docker/scripts/dev_start.sh" restart all apollo containers

[2019-06-15 11:48] shawlq opened #8821 "can not compile frontend"
[code]

i am going to compile dreamview frontend.
when i run "yarn install", it returns an error about " libpng-dev missing". but a newer version libpng12-dev in the docker, that makes "apt-get -f" failed.

how can I install an older version of libpng-dev in docker "apolloauto/apollo:dev-x86_64-20181210_1500" ?

ERRORS like that:
[code]

[2019-06-16 01:32] Prj1508 commented on #8637
I am also facing similar problem in debugging perception/radar module. Appreciate any suggestion

[2019-06-16 14:26] wobistdu opened #8825 "Why HDMap is loaded multiply times for diffrent modules"
For each module(planning, prediction, routing and etc), they will load a HDMap of their own, when the map is bigger, this leads to huge memory issue.
Is there any plan to change this? Use a map service or shared memory for HDMap across different modules?
Thanks

[2019-06-17 02:13] breakisx opened #8828 "cyber_recorder"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.5)**:

Hello apollo:
After the source cyber/setup.bash, only cyber_launch appeared, no cyber_recorder and others  appeared. What is the reason? Is there any good debugging solution?

[2019-06-17 06:02] #8828 closed

[2019-06-17 08:30] sinopec opened #8833 "preload error"
**Describe the bug**
when launch dev_start.sh , got error msg as  follows:

ERROR: ld.so: object 'libcaffe2_gpu.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.
ERROR: ld.so: object 'libcaffe2_gpu.so' from LD_PRELOAD cannot be preloaded (cannot open shared object file): ignored.

[2019-06-17 12:59] quuen commented on #2841
I have the same question about it! could anyone tell me why? Thanks very much!

[2019-06-17 18:12] natashadsouza commented on #8633
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-17 18:12] #8633 closed

[2019-06-17 18:18] natashadsouza commented on #8516
@wanggujin we would need a screenshot of your error messages. Thanks!

[2019-06-17 18:21] natashadsouza commented on #8429
@boundles could you give us some more details regarding your question or should we assume you have resolved your request?

[2019-06-17 18:22] unacao commented on #8516
and what do you mean by cannot start dreamview? Did the output of './script/bootstrap.sh' tell you there is a core dump, or the webpage is blank when you visit 'localhost:8888'?

[2019-06-17 18:22] #8341 closed

[2019-06-17 18:29] natashadsouza commented on #7489
Closing this issue as it appears to be resolved. Feel free to reopen if you have any questions. Thanks!

[2019-06-17 18:29] #7489 closed

[2019-06-17 18:30] natashadsouza commented on #7444
Closing this issue as it appears to be resolved. Feel free to reopen if you have any questions. Thanks!

[2019-06-17 18:30] #7444 closed

[2019-06-17 19:08] #7438 closed

[2019-06-17 19:39] Fla3inH0tCheet0s opened #8846 "Component Interface shared_ptr Design"
I noticed that the Component interface for `Proc` is a const reference on a `std::shared_ptr`.
https://github.com/ApolloAuto/apollo/blob/master/cyber/component/component.h#L76-L89
[code]

Can it be just a const reference to the data? It doesn't seem like the user will want to operate on a const shared_ptr reference.

Another option would be to make it pass by value for the shared_ptr. That way the

[2019-06-17 22:09] natashadsouza commented on #7434
Closing this issue currently. Should we decide to support matlab, we will communicated the same to you. Thanks for your support to the Apollo platform!

[2019-06-17 22:09] #7434 closed

[2019-06-17 22:11] natashadsouza commented on #8828
@breakisx did you find a fix to your question?

[2019-06-17 22:12] natashadsouza commented on #7432
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-17 22:12] #7432 closed

[2019-06-17 22:15] natashadsouza commented on #7141
@frontw you are correct. There are algorithms and features that not open source at the moment.

[2019-06-17 22:18] natashadsouza commented on #7350
@sinopec apologies for the delay in responding to your question. Calibration is currently offered as a service by the Apollo team. The tool that you referred to on Apollo is not supported in the latest versions. If you would like to learn more about the calibration service, feel free to reach out to me at natashadsouza@baidu.com

[2019-06-17 22:19] natashadsouza commented on #7060
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-17 22:19] #7060 closed

[2019-06-17 22:35] natashadsouza commented on #6746
@aboarya apologies for the delay in responding. You could use any document from the "how to" section ([example](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_launch_Apollo.md)) as a reference to create the document, we will review it once you have made a PR. Let me know if you have any questions!

[2019-06-17 22:36] natashadsouza commented on #6740
@snuffysasa apologies for the delay in responding. Yes that should be enough. We have developers experimenting with other GPU models as well. Feel free to write to us if you have successfully tested any other GPUs. Thank you!

[2019-06-17 22:38] natashadsouza commented on #6726
Closing this issue as there has been no response in a while. Feel free to reopen if you have additional questions. Thanks!

[2019-06-17 22:38] #6726 closed

[2019-06-17 22:47] Fla3inH0tCheet0s opened #8851 "cyber_recorder play Performance Issues"
**Describe the bug**
`cyber_recorder play` fails to consume data on large datasets in real time. Other data players don't have this problem with this size of data.

**To Reproduce**
Play a large dataset (2GB/s) that has not been played since the computer started. Observe hiccups after 60s. It's more noticeable on slow disks or going through a busy disk like NFS.

**Expected behavior**
`cyber_recor

[2019-06-17 23:31] natashadsouza commented on #6534
Closing this issue as there has been no response in over a month. Feel free to reopen if you have additional questions. Thanks!

[2019-06-17 23:31] #6534 closed

[2019-06-18 03:01] Hongmin2018 commented on #8046
The same problem as you show, and i wonder if you solve it and how?

[2019-06-18 03:04] Hongmin2018 commented on #8046
The same problem as you show, and make a soft link mauually.
I wonder that how you solve it.
Thanks

[2019-06-18 03:43] fenghongjian opened #8860 "【紧急】虚拟机安装Apollo开发环境-构建失败-[ERROR] Build failed!"
![捕获](https://user-images.githubusercontent.com/46391287/59651795-dcc11a80-91bd-11e9-9b6f-f36ad9555fd5.PNG)

vmware**虚拟机安装apollo3.5** 失败，，拉取Apollo源代码成功，docker安装成功，docker内apollo镜像拉去成功，之后编译失败。安装指导文件参考的是“ https://www.cnblogs.com/iors/p/10862713.html”

[2019-06-18 05:51] ctwfei commented on #8687
Hi, @anchans Can you provide more details about your use of node?
Thank you!

[2019-06-18 07:39] leFeuilluZer commented on #3005
Hi @natashadsouza  @msbeta I am also interested in the Apollo spec for OpenDRIVE.
Could you sent it to martin.android.htc@gmail.com please?
Thank you in advance

[2019-06-18 12:36] ctwfei commented on #8846
Hi Fla3inH0tCheet0s, thanks for your suggestion!

1. Firstly, using shared_ptr can reduce the copies of messages during transmission when there are multiple readers

2. There is no reason to pass by value for the sake of a function call，we prefer pass by const reference for efficiency's sake when using shared_ptr.
   Scott, Andrei and Herb discussed and answered  the question about pass-by-value o

[2019-06-18 16:56] JasonZhou404 commented on #8576
1. SL graph is based on a single lane frenet frame rather than two lanes.
2. Moving obstacles only in ST graph.

[2019-06-18 16:58] JasonZhou404 commented on #8648
a few pieces of polynomials along a time horizon, not two adjecent time step.

[2019-06-18 17:55] Fla3inH0tCheet0s commented on #8846
I think we are talking about different things. There's no need to copy *the data* in any case. I don't see why the `const shared_ptr` part is there. Also, there's some question in whether the user should be able to modify the data.

I'm proposing changing the interface to
[code]

The purpose is for simplicity without losing any functionality.

[2019-06-18 18:38] luqiang21 commented on #8833
@sinopec I am having similar problems. When I `dev_start.sh`, it shows this error. But every module is working after I run `dev_into.sh`.

[2019-06-18 19:58] #8818 closed

[2019-06-18 20:04] yoyouwen opened #8869 "Is there a way to convert rosbag to recorder file or operate the messages in recorder file"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.5

### Steps to reproduce the issue:

I am trying to modify the messages in the cyber record. But it seems no Cyber RT Developer Tools can be used to read the message value and modify it. And I also see

[2019-06-18 20:53] panjiacheng commented on #8808
Hi,
Thanks for the question. The current path-decision can take care of slow-speed obstacles. Here are a few parameters that you can tune to achieve your goal:

- path_decider_obstacle_utils.cc line 40: Here you can modify it by deleting the "IsStatic()" check and increase the FLAGS_static_obstacle_speed_threhold to be the slow-speed threshold you want. The ADC will try to side-pass any obstacle b

[2019-06-18 22:26] hugomatic commented on #8687
I have the same issue. Try yarn install to see it:
`
hugo@in_dev_docker:/apollo$ cd /apollo/modules/dreamview/frontend/
hugo@in_dev_docker:/apollo/modules/dreamview/frontend$ yarn install
node[6628]: pthread_create: Invalid argument
yarn install v1.10.1
[1/5] Validating package.json...
[2/5] Resolving packages...
success Already up-to-date.
Done in 0.89s.
`
We are using node to extend dreamview

[2019-06-19 00:57] natashadsouza commented on #8860
该错误是由于内存不足引起的。你有一个至少8 GB可用内存的系统吗？ @fenghongjian

[2019-06-19 03:03] ctwfei commented on #8869
Hi, @yoyouwen you can use rosbag_to_record tool to convert a bag file to record file. Please refer to [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Developer_Tools.md#rosbag_to_record)

[2019-06-19 03:50] baowanyu commented on #8851
Please provide record files to help analysis.
We create CodedInputStream when used, since the record file does not contain only consecutive Pb messages.

[2019-06-19 05:18] #4631 closed

[2019-06-19 06:08] fenghongjian commented on #8860
ok  ，thank you。

[2019-06-19 06:37] ctwfei commented on #8846
The message will be copied **N** times when fetched from the channel buffer if we just use a const reference to the data. You can learn about [the invocation mechanism of proc function](https://github.com/ApolloAuto/apollo/blob/master/cyber/croutine/routine_factory.h/#L119-L142), which may help you understand the case.

**Note**: N means the number of message receivers.

The user may need to modif

[2019-06-19 07:41] yasineser opened #8881 "Can't reach baidu armv8 image links"
I am tyring to create docker image for Nvidia jetson tx2. When I follow below steps to run docker build, I can't reach the links such as:
http://www.baiduapollo.club/apollo-docker/jdk-8u144-linux-arm64-vfp-hflt.tar.gz
it gives me error and I can't reach. There is a problem with the links I guess? Can you renew them?

### System information

- Nvidia Jetson Xavier -> Ubuntu 18.03 on armv8
- source

[2019-06-19 08:20] baowanyu commented on #8531
The bag demo-calibrator-data-apollo-1.5.bag maybe is not a valid rosbag.

@natashadsouza  Please assign relevant personnel to deal with it.

[code]

[2019-06-19 08:46] ctwfei commented on #8470
It seems that the creation of shared memory failed. Can you provide the corresponding talker log？
Thanks you.

[2019-06-19 17:34] yoyouwen commented on #8869
Yeah, but how can I convert a record file to bag file？

[2019-06-19 17:39] natashadsouza commented on #5800
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions. Thanks!

[2019-06-19 17:39] #5800 closed

[2019-06-19 18:07] Fla3inH0tCheet0s commented on #8846
OK. There are two separate arguments.

1. Making the data const in the interface.

That's probably right. The user may want to make a node to modify a message and forward it.

2. `std::shared_ptr` in the `Proc` interface.

I meant only to change the user facing interface. The underlying implementation is fine.

If it is not const and to follow Google Style guide of using pointers for mutable data,

[2019-06-19 18:23] natashadsouza commented on #8881
@yeseract which guide did you refer to, to set up Apollo's docker environment?

[2019-06-19 18:41] hongbozhu0303 opened #8885 "Why removed side_pass scenario ?. Has it been merged to other scenarios?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-06-19 18:55] natashadsouza commented on #8869
@yoyouwen unfortunately we do not support conversion of record to the rosbag format.

[2019-06-19 19:51] yoyouwen commented on #8869
Is there any where we can read the message in the record file or modify a single message?

[2019-06-19 22:58] natashadsouza commented on #8860
@fenghongjian you are very welcome. Closing this issue currently

[2019-06-19 22:58] #8860 closed

[2019-06-19 23:13] renegadephysicist commented on #8833
If you revert this commit it fixes the issue.

https://github.com/ApolloAuto/apollo/commit/7997b9a3312dc7aa4ac0475b6a945cd4cdf4b708#diff-ccc78ede332b74b1730b71f544c94683

[2019-06-20 02:01] #8846 closed

[2019-06-20 02:37] ctwfei commented on #8869
@yoyouwen You can refer to [this example](https://github.com/ApolloAuto/apollo/blob/master/cyber/examples/record.cc) to modify the record file.

[2019-06-20 03:02] Geo-fortune opened #8895 "#memery pool# How to init the object type pool and track type pool?"
When I use the Apollo perception module, the object pool should be initialized. but I don`t know how to do.
THE ‘track_pool_types.h’ CODE BELOW:
[code]

[2019-06-20 06:33] yeseract commented on #8881
This one:
https://github.com/ApolloAuto/apollo/tree/v3.1_dev/docker/build

While building, it starts bash commands for files and wgets some tar.gz files. Those links cannot be downloaded. When I paste it into browser, it redirects to:
http://domainwall.cloud.baidu.com/block.html

[2019-06-21 02:19] mickeyouyou commented on #8759
fixed and merged into master. thank you .

[2019-06-21 02:19] #8759 closed

[2019-06-21 03:56] mickeyouyou commented on #8881
Sorry, This domain names need to be filed. Please wait.

[2019-06-21 04:59] mickeyouyou commented on #8833
This issue have been fixed, thank you.

[2019-06-21 04:59] #8833 closed

[2019-06-21 08:25] czluck commented on #3005
Dear @natashadsouza,

Could you also share the latest Apollo OpenDrive specification with me, please?
czhang@nullmax.ai

I am working on Carla Xodr files to Apollo base_map files .

Thank you
Best Regards,
Augustus

[2019-06-21 15:56] hongbozhu0303 commented on #8885
@natashadsouza , Hi Natasha,  Thanks for tagging my question. It looks like the side pass has been merged to lane follow scenario. Just curious what the reason for this change.

[2019-06-21 16:35] alinvlad94 commented on #3005
Could you also share the latest Apollo OpenDrive specification, please?
alinvald94@gmail.com

Thank you.

[2019-06-21 16:36] alinvlad94 commented on #3005
Could you also share the latest Apollo OpenDrive specification, please?
alinvlad94@gmail.com

Thank you.

[2019-06-21 17:25] #6631 closed

[2019-06-21 17:26] #6606 closed

[2019-06-21 23:48] panjiacheng commented on #8885
Hi @hongbozhu0303 ,
Thanks for the question. We'd hope that side-pass of any static/low-speed obstacle can be a "infrastructure-ish" functionality rather than a stand-alone and exclusive scenario. Now the side-pass feature is incorporated as part of the path-bounds decider task. You can choose to turn it on or off by properly configuring the path-lane-borrow decider task.
Therefore, it is not an a

[2019-06-22 01:54] hongbozhu0303 commented on #8885
Hi @panjiacheng ,
That makes perfect sense. Really appreciate your help.

[2019-06-22 01:54] #8885 closed

[2019-06-22 03:22] Hongmin2018 commented on #8637
Maybe this is for GDB setting,  when received SIGINT, it cannot stop.

[2019-06-24 06:55] wobistdu commented on #8808
Thanks

Thanks for the suggestion, I already tried  changing path_bound_decider to make the boundary to the whole road  and let it consider all dynamic obstacles , it would overtake the obstacles without switching to lane_bollow scenario(stitch in the lane_follower )
I will try the lane_borrow later

[2019-06-24 06:55] #8808 closed

[2019-06-24 06:59] wobistdu commented on #8825
@deidaraho @anyong298 @Zhenni17  Any suggestion about this? My instinct thought would be using a big shared memory block and allocate all HDMap class in the memory block, but it seems to be not a trifle change.

[2019-06-24 08:44] lyw0929 opened #8932 "Questions on traffic light module"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-06-24 11:59] sudo-panda commented on #3005
Dear @natashadsouza,
Could you share the latest Apollo OpenDRIVE specification with me, please?
My email is kundubaidya99@gmail.com.

Thankyou.

[2019-06-24 12:29] christian-lanius opened #8936 "Requested transform is in future"
Hi,
Thanks for your hard work on Apollo. I am running on the latest master branch. Attempting to run any module which is dependent on a tranform, the log gets spammed with the following messages (as an example from the trafficlight detection):

E0624 13:49:16.454594 27746 trafficlights_perception_component.cc:689] [perception] Can not find transform. 1561376582.880242 frame_id: world child_frame_i

[2019-06-24 17:53] natashadsouza commented on #8932
@lyw0929 you have not included the questions.

[2019-06-25 02:38] daohu527 opened #8952 "cyber_monitor show error message "Have Unknown Fields""
**Describe the bug**
I have modify the "modules/canbus/proto/chassis.proto" and delete some fields below:
[code]
Then compile and play a record bag. But I still found "high_beam_signal" in the cyber_monitor.
[code]
Then I use the "listener" tool print the message, There is no delete field, so what's wrong? Below is the debugcode:
[code]

I know the protobuf is decode message use reflection by desc

[2019-06-25 05:15] sinopec opened #8957 "confused about different coordination systems"
I am studying the coordinate systems of different sensors.And also the vechile coodinate system . This really confued me .
I check the  this document :https://github.com/ApolloAuto/apollo/blob/master/docs/specs/coordination_cn.md
It tells me ,the y axis is the forward direction of the vechile,and the x axis is right forward.
But in fact ,it's just opposite. The x axis is the forward direction.

An

[2019-06-25 06:28] owphoo commented on #8429
in modules/perception/lidar/lib/segmentation/cnnseg/cnn_segmentation.cc
[code]
I found the input size of frame->cloud aways equals to output size, it does nothing. So ground detector is not used?

[2019-06-25 17:33] natashadsouza commented on #8957
@sinopec each sensor has its own coordinates when installed. Calibration is definitely required to ensure that your sensors are all working in conjunction.

[2019-06-25 17:59] Junzeng-x14 commented on #8576
I see, actually always project moving obstacles into the reference line.

[2019-06-25 18:00] Junzeng-x14 commented on #8648
I see! Thanks! I will close this issue.

[2019-06-25 18:00] #8648 closed

[2019-06-26 02:59] ven1234 opened #8983 "Run perception toolkit error"
i tried to run perception toolkit. By reading [https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_perception_module_on_your_local_computer.md]. There i found an error ,  trying to  run `cyber_launch start /apollo/modules/transform/launch/static_transform.launch
` command. The requested files are empty.

I used apollo data set. where i can get calibration files for that data-set

[2019-06-26 05:29] sinopec commented on #8957
Thanks for your reply , I guess I have resolve it .
The default camera coordnate system need to rotate 90 degrees aound z axis to conform to veichel coordinate system . The same with the continent radar.

[2019-06-26 05:29] #8957 closed

[2019-06-26 14:23] rabbikey commented on #3005
Dear @natashadsouza @msbeta Could you send me the Apollo Open Drive specs ? Thanks.
liuyinwork@163.com

[2019-06-26 18:22] hongbozhu0303 opened #8992 "Why replaced DP+Optimization path planning method with Bound+optimization method"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-06-26 21:09] cyberphysicalrobotics commented on #8161
There is a map, provided by Apollo, which has parking space. The map name is sunnyvale_with_two_offices. In the map directory, there is default routing file defining point of interest. Its file name is default_end_way_point.txt. You can refer to this file and notice how this file defines waypoints to trigger parking scenario.

When you test parking scenario, follow these steps.
1.Run dreamview.
2.

[2019-06-26 21:15] Capri2014 commented on #8161
@cyberphysicalrobotics Thanks for your reply. And in 3.5, you need to change specific configs to enable open space planning, but in latest code it is been merged to new `valet_parking` scenarios and no specially configs needed. :)

[2019-06-26 21:16] KaWaiTsoiBaidu commented on #8983
@ven1234   you can start the Dreamviewer first, by running ./scripts/bootstrap.sh.   Then go to localhost:8888 as indicated by the information in the terminal.  You will see the dreamviewer there. Select a vehicle in the dreamviewer and the files you mentioned will be created accordingly.

[2019-06-27 02:41] wobistdu opened #9010 "New piecewise jerk optimization plan module is much slower comparing to 3.5 release"
New piecewise jerk optimization plan module is much slower comparing to apollo 3.5 release.
Originally plan module take about 60% cpu, now it takes 250% cpu!!!
Is there any option to reduce the plan module cost?

[2019-06-27 07:51] manglietiamichelia opened #9018 "请教如何编译阿波罗3.0gpu版本"
目前，我需要运行感知模块的yolo算法。
一、请问阿波罗3.0 gpu搭建的步骤概述是这样的吗？

1 安装docker
2 在镜像内安装Nvidia 375，直接使用镜像自带的cuda 8.0
3 在宿主机也安装nvidia 375
4 最后在镜像内用gpu编译

二、请问宿主机和镜像内的Nvidia是否要小版本完全一致，（比如都是375.35）？

三、如果能够正常运行感知模块，镜像内是否要运行了nvidia-smi也能查看本地显卡信息？

[2019-06-27 15:51] christian-lanius commented on #8936
In case anybody reaches the same problem:
I have managed to fix this problem by increasing the lidar_query_tf_offset (which is given in milliseconds) in modules/perception/production/conf/perception/lidar/velodyne128_segmentation_conf.pb.txt to an appropriate value. This leads to the perception using slightly older transforms, but assuming that this is a sync problem, this is a reasonable solution

[2019-06-27 16:08] #8936 closed

[2019-06-27 17:08] yg13 commented on #7927
Sorry for the late reply. If you are using the up-to-date applo, the defaut output channel "/apollo/perception/traffic_light" should work.

If you work offline, you can turn on the image-based visualizer by making "--start_visualizer=true" at 'modules/perception/production/conf/perception/perception_common.flag'. Then you can confirm the results out of the traffic light component visually and dire

[2019-06-28 07:06] yaoweifeng01 commented on #8952
@daohu527 Is your bag generated after you compile it?

[2019-06-28 10:32] daohu527 commented on #8952
No, I tried to play the bag a few times and returned to the original proto file but still have the some error. I don't know if it's a cache issue or a problem with my environment. If the problem recurs, I will give some more information.

[2019-06-28 10:32] #8952 closed

[2019-06-28 17:49] YajiaZhang commented on #9010
Thank you for your question. The planning module runs in a single thread, except the reference line smoothing part. Could you let us know how you get the 250% cpu consumption result?

[2019-06-28 17:53] YajiaZhang commented on #8992
Thank you for your question. The reason is the past DP + QP path optimization cannot handle complex urban driving scenarios, while current implementation (path bound + piecewise jerk method) achieves firm controlling of the path shape, thus is able to produce more flexible paths.

[2019-06-28 23:31] wanglei828 commented on #9018
1. 步骤是正确的
2. 小版本不需要完全一致
3. 如果安装成功，在镜像内执行nivdia-smi是可以看到显卡信息的。

[2019-06-29 18:21] dongyy1148 commented on #8161
@cyberphysicalrobotics Thanks a lot for your detailed explanation. Based on your explanation, the parking seems to be limited to the parking scenario and it cannot be used in other maps like SF's parking spaces along the road. Am I right?

[2019-06-29 21:26] amontserratAG opened #9060 "Link to End-to-end source code is broken"
Hi!
I found in this link:
[http://data.apollo.auto/?locale=en-us&lang=en]
 the End-To-End-Data section. It has two buttons: "Download data" and "source code".
When I click on "source code" button, it opens a broken-link error page. Would you mind
to give me the correct link? Thanks.

[2019-07-01 06:25] manglietiamichelia commented on #9018
@wanglei828 请问安装nvidia是否一定要使用.run文件安装？apt安装是否可行？

[2019-07-01 06:25] manglietiamichelia commented on #9018
@wanglei828 请问安装nvidia是否一定要使用.run文件安装？apt安装是否可行？

[2019-07-01 06:25] manglietiamichelia commented on #9018
@wanglei828 请问安装nvidia是否一定要使用.run文件安装？apt安装是否可行？

[2019-07-01 06:32] maoyuze opened #9066 "bash ./docker/scripts/dev_start.sh -C [ERROR] Failed to pull docker image."
bash ./docker/scripts/dev_start.sh -C
[INFO] Start pulling docker image registry.docker-cn.com/apolloauto/apollo:dev-x86_64-20190617_1100 ...
Error response from daemon: Get https://registry.docker-cn.com/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
[ERROR] Failed to pull docker image.
请问这是怎么回事啊？

[2019-07-01 06:54] maoyuze commented on #8196
我已经用apt-get安装好了docker，尝试了docker run hello-world,可以正常运行。但是，执行bash ./docker/scripts/dev_start.sh -C还是失败，若不加-C，又特别慢，没有其他方法了吗？

[2019-07-01 07:35] christian-lanius opened #9067 "cyber_monitor does not show all channels"
Hi everyone,
I am currently trying to understand the perception pipeline. For that I wanted to look at the internal messages of the lidar perception. However these internal channels, such as /perception/inner/SegmentationObjects do not show up and can not be inspected with cyber_monitor.
Is there a way to show these messages in cyber_monitor?

Kind regards

[2019-07-01 08:41] #8746 closed

[2019-07-01 09:43] manglietiamichelia commented on #9018
@wanglei828 关于您的回答，我有一些跟进问题。
1 请问安装nvidia是否一定要使用.run文件安装？apt安装是否可行？
2 在宿主机上nvidia-smi可以看到显卡，在镜像中看到的时Driver/library version mismatch。请问状况是怎么回事？
3 是否有必要对于3.0版本使用nvidia-docker插件？

[2019-07-01 10:05] manglietiamichelia commented on #9066
不用-C。目前docker的中国服务器崩溃。

[2019-07-01 10:10] ChrisRanger opened #9070 "A problem in Lat controller lateral_error calculation"
### question in lat_controller calculate lateral_error

~control
  const double dx = x - target_point.path_point().x();
  const double dy = y - target_point.path_point().y();
  const double cos_target_heading = std::cos(target_point.path_point().theta());
  const double sin_target_heading = std::sin(target_point.path_point().theta());
  double lateral_error = cos_target_heading * dy - sin_target_h

[2019-07-01 13:14] lrodrig3 opened #9071 "GetRemoveBiasImu Function needs to be changed"
In localization_integ_process.cc the function GetRemoveBiasImu has changed to GetCorrectedImu but in its reference in [here](https://github.com/ApolloAuto/apollo/blob/c7e05d9f88cd72099fde6fd87f909d3b0e0b4c2c/modules/localization/msf/local_integ/localization_integ_process.cc#L107) has not been updated.

[2019-07-01 13:34] lrodrig3 commented on #9070
e1 =/ L1+L2, e1 is perpendicular to Vxdes which is not the case for the L1+L2 distance.

[2019-07-01 21:12] techoe commented on #8983
Closing the issue since the issue was resolved by the answer and there is no follow-up after the answer.

[2019-07-01 21:12] #8983 closed

[2019-07-01 21:15] techoe commented on #8551
Yes tf should be provided faster (more than twice is optimal) than the most frequently publishing sensor data.

[2019-07-01 21:17] techoe commented on #8328
No. Radar is heavily used for velocity estimation in sensor fusion.

[2019-07-01 21:21] techoe commented on #8286
When a traffic light has different shapes as shown above, the traffic light will be recognized purely by the color rather than location. Therefore, yes Apollo can recognize them. however, the probability of recognition will be lower and neighbor traffic lights will boost the confidence.

[2019-07-01 21:22] techoe commented on #8285
@CODMW Could you write in English so all other Apollo community can share your question? Thank you!

[2019-07-01 21:24] mc-android-developer commented on #8328
Hi @techoe Could you comment specifically on these 2 examples.
1. Why new tracks are not created based on radar readings?
2. Why not trying to match (do_nothing) with existing tracks when sensor is "radar_front"?

[2019-07-01 21:25] techoe commented on #7972
@xiongcaihua , Thank you for working on Apollo! Your model may not compatible with the Apollo network. Please check the network output names should be the same as Apollo's names. Thank you!

[2019-07-01 21:30] techoe commented on #7741
The issue should be resolved now. If there is no follow up, the issue will be closed. Thank you!

[2019-07-01 22:41] natashadsouza commented on #9060
@amontserratAG the e2e module is no longer a part of the Apollo platform as you can verify on our Github page as well which is why the link no longer exists.

[2019-07-01 23:27] krishnatoshniwal commented on #8286
Thanks for the reply @techoe. I had noticed that all the traffic lights were being focused onto, even though each lane had its own traffic light. So I had the question, Apollo doesn't choose just one traffic light according to the lane the ego vehicle is in, instead it focuses on all  the traffic lights in that direction, does it?

[2019-07-02 00:05] techoe commented on #8286
Correct. When self-driving car (SDV) is going thru an intersection, all
traffic lights in the HDmap were detected and recognized. After majority
voting, the final traffic light of the intersection is determined.

On Mon, Jul 1, 2019 at 4:28 PM Krishna Toshniwal <notifications@github.com>
wrote:

[2019-07-02 00:14] krishnatoshniwal commented on #8286
Got it, thanks! The traffic lights for left turn signal are not differentiated from the other traffic lights at the moment?

[2019-07-02 00:39] ChrisRanger commented on #9070
Thanks for your help, but I also have puzzles.....
Is the line between desire_point to real_point  not perpendicular to Vxdes?  ...In this case, how could I calculate e1? (In other words, how could I understand this equation "lateral_error = dy∗cosθdes − dx∗sinθdes" ?)

[2019-07-02 00:44] ChrisRanger commented on #9070
@lrodrig3 Thanks for your help, but I also don't see the point .....
Is the line between desire_point to real_point not perpendicular to Vxdes? ...In this case, how could I calculate e1? (In other words, how could I understand this equation "lateral_error = dy∗cosθdes − dx∗sinθdes" ?)

[2019-07-02 02:00] amontserratAG commented on #9060
Ok, thanks @natashadsouza. Do you know which module replaced e2e module?

[2019-07-02 03:25] ctwfei commented on #9067
@christian-lanius unfortunately custom messages are for internal use only and do not support cross-process.so that cyber_monitor does not support these inner messages.

[2019-07-02 07:04] zoeveryday opened #9077 "Is there any paper or reference for the evidence combination rules/formula used in the Dempster-Shafer Theory implementation?"
### System information

- **Apollo version (3.5, 5.0)**:

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:

### Supporting materials (screenshots, command lines, code/script snippets):

It will be very helpful if anyone can provide the reference (formula) used in the DST implementation.  Is the standard "Dempster's rule of combination" used

[2019-07-02 09:53] lrodrig3 commented on #9070
e1 = L1 + L2 Is only true if the curvature of the ego vehicle and your target curvature is the same. Then, the L1+L2 distance will be perpendicular to Vxdes because you will have concentric circles. If the curvatures are different L1+L2 is not parallel to e1. The value of the e1 is determined with the projection of the angle between e1 and the vertical axis dy. Turns out that the angle between e1

[2019-07-02 21:36] techoe commented on #9077
Hi @zoeveryday , There are multiple papers regarding DST but The earlier work on DST similar to Apollo’s approach can be found at
Huadong Wu, Mel Siegel, Rainer Stiefelhagen, Jie Yang, “Sensor Fusion Using Dempster-Shafer Theory,” IEEE Instrumentation and Measurement Technology Conference, 2002 (http://www.cs.cmu.edu/~whd/publications/1076-Siegel.pdf)

[2019-07-02 22:41] AyushiRathore opened #9081 "Failed to start Dreamview"
I am trying to run the Apollo on my system without any hardware. Therefore, I followed exact instructions as given in software installation guide.
Steps:
1. clone apollo repository
2. install docker.
3. Build and run apollo with following commands:
$ bash docker/scripts/dev_start.sh
$ bash docker/scripts/dev_into.sh
$ bash apollo.sh build_cpu
$ bash scripts/bootstrap.sh
My build for apollo got suc

[2019-07-03 01:33] daviduhm opened #9085 "Where does Docker image get pytorch library from?"
We're trying to build Docker image for Apollo 3.5 following this documentation: [https://github.com/ApolloAuto/apollo/tree/master/docker/build](https://github.com/ApolloAuto/apollo/tree/master/docker/build).

However, there is no installer bash script for pytorch, and Apollo somehow updated its Docker image to include pytorch library ([https://github.com/ApolloAuto/apollo/pull/7101/files](https://

[2019-07-03 02:31] zoeveryday commented on #9077
@techoe thanks for the reply. I'll close the issue.

[2019-07-03 02:31] #9077 closed

[2019-07-03 07:10] maoyuze opened #9086 "请问为什么要使用容器啊？为什么不直接在ubuntu环境里？是有什么说法吗？"

[2019-07-03 07:12] muleisheng commented on #9086
主要是方便部署吗，不需要开发者再去配置相关的第三方库

[2019-07-03 07:12] #9086 closed

[2019-07-03 09:12] lvdaiweiqi commented on #3005
hi, @msbeta @natashadsouza
I actually need some help! :)
Working on building up a map , but just don't know how to start with only GPS and IMU.
It's more likely to be a reference line sets with some junctions than a real HD-map, cause we only use it for park.
Could you send me the Apollo Open Drive specs? Thanks.
511690268@qq.com

[2019-07-03 09:17] einspyon commented on #5562
Hi, @zhouyao4321 , why 30 seconds are needed ? When align GNSS and IMU, is the motion needed ?

[2019-07-03 09:55] miquelalcon opened #9087 "ARM bug when starting map containers and build crash (Jetson Xavier)"
**Bug description**
When I try to build Apollo on Jetson Xavier, I face the error *docker: Error response from daemon: No such container: apollo_map_volume-sunnyvale_big_loop_root.*, which is stopping the creation of the *apollo_dev* container (main problem). I also have other container errors (like *Error response from daemon: manifest for apolloauto/apollo:paddlepaddle_volume-aarch64-latest not

[2019-07-03 10:02] zhouyao4321 commented on #9071
I guess you have encountered some compilation problems? If so, please update the docker to fix this problem.

[2019-07-03 10:15] christian-lanius commented on #9085
I have written a pytorch install script which seems to work. It assumes that you always want to use the gpu version (I compile the gpu version and link it to the cpu folder Apollo assumes). I wrote this script because I use Cuda 10 (and Ubuntu 18.04). If you use a different version, change the magma version in line 4. If your GPU does not support cuda compute 60/61, change line 17.

https://gist.g

[2019-07-03 15:50] lrodrig3 commented on #9071
What do you mean by update the docker?

[2019-07-03 15:52] BrunoEduardoCSantos commented on #3005
Hi @msbeta ,
Could you send the specifications to this email: brunoeducsantos@gmail.com ?
Thanks,
Bruno

[2019-07-03 16:15] zhouyao4321 commented on #9071
I mean to update the docker image and restart the container.
`bash docker/scripts/dev_start.sh`

[2019-07-03 19:46] daviduhm commented on #9085
Thanks for your comment! I've tried to build from the source, but the generated library files look different, and more importantly it doesn't have libcaffe2_gpu.so file which Apollo now preloads it in [apollo_base.sh](https://github.com/ApolloAuto/apollo/blob/213526b68f342a84143010849ff4a5acc6254603/scripts/apollo_base.sh#L84). I also tried [this commit](https://github.com/pytorch/pytorch/commit/e

[2019-07-04 00:30] vlin17 commented on #7006
1. From the screenshot, it seems like the planning module is not ready. Please check planning log under /apollo/data/log to see if there's any warning or error messages.
2. the StartAuto button is enabled when the planning module sends EngageAdvice as READY_TO_ENGAGE .
3. On Module Delay panel, a module's delay time will be highlight to red to capture user's attention if the module (except traffic

[2019-07-04 01:30] warden2018 commented on #8551
Thanks for your answer. @techoe

[2019-07-04 08:30] gengqx commented on #9087
Currentlly，apollo team has not fully test all modules on arm,only build pass cyber module.
please refer to this [CyberRT_Docker.md](https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Docker.md)
in one word:
use cyber_start.sh instead of dev_start.sh

[2019-07-04 08:36] gengqx commented on #9085
the commit is [96faaa9d50fd4b5d96a9d400a544f8e229c52aa8](https://github.com/pytorch/pytorch/commit/96faaa9d50fd4b5d96a9d400a544f8e229c52aa8) I got it from apollo team,But I have not install and test it. if you test it success,and release the install scripts,it would be great help.

[2019-07-04 09:51] christian-lanius commented on #9085
@daviduhm have you tried to use the binary package from https://pytorch.org/? https://download.pytorch.org/libtorch/cu100/libtorch-shared-with-deps-latest.zip
This prebuilt binary contains the libcaffe2_gpu.so file which is preloaded by Apollo. Though this version is probably built from the 1.1 branch which is a bit newer than the commit linked by @gengqx

[2019-07-04 13:34] miquelalcon commented on #9087
Thank you for your quick response.
I followed the guide as you suggested. The first problem I had appeared when compiling Cyber RT with *bash apollo.sh build_cyber*:
[code]
I could solve the problem changing the error line with:
[code]

[2019-07-04 14:01] freeclouds opened #9093 "[Pull docker images]How to pull the apollo docker image fast in china"
Dear apollo developer,

     i need your help,how to pull the apollo docker images fast in china,
     pull the images is  slow.............slow............slow.............slow...................failed!!!!!!!!!!!!
     i have try many times,but failed,
     if someone know how to do,thanks a lot!

[2019-07-04 15:58] #9060 closed

[2019-07-05 01:34] TOTDK commented on #3005
Hi @msbeta ,could you send me the Apollo OpenDRIVE specification: dingk1108@163.com?
I really appreciate it!

[2019-07-05 07:25] LEEVincenttao commented on #3005
@msbeta Hi can you email me the Apollo OpenDrive specification please ? 18813096019@163.com

[2019-07-05 09:30] christian-lanius commented on #9093
Have you tried setting the INCHINA flag ( bash/docker/scripts/dev_start.sh --docker-cn-mirror)?

[2019-07-05 10:23] usasos000 commented on #6916
I have the same issues here,
Now , I can not buy new 1080 in market because it has stop production over half year.
the 2080 looks like conflict with apollo kernel
Anyone Run 2080 on real car successfully,please teach me

[2019-07-05 10:52] freeclouds commented on #9093
xxx@robot:~/apollo/apollo$ sudo bash docker/scripts/dev_start.sh --docker-cn-mirror
[INFO] Start pulling docker image registry.docker-cn.com/apolloauto/apollo:dev-x86_64-20190617_1100 ...
Error response from daemon: Get https://registry.docker-cn.com/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
[ERROR] Failed to pull docker image.

[2019-07-05 10:53] freeclouds commented on #9093
failed

[2019-07-05 12:23] #4974 closed

[2019-07-05 12:24] #6528 closed

[2019-07-05 12:25] #6812 closed

[2019-07-06 01:13] sinopec opened #9101 "offline simple sensor calibrate in 5.0"
**Is your feature request related to a problem? Please describe.**
We need a simple offline calibrate tool to calibrate the extrinc params without the call of online calibration service. Because in our enviroment ,we dont have a GNSS deivece & our equipment can not  run in a '8' way.

**Describe the solution you'd like**
A offline calibrate tool dont need the GNSS signal and dont need special rout

[2019-07-06 02:38] sinopec commented on #9093
using a mirror of docker hub

[2019-07-06 02:48] freeclouds commented on #9093
thanks a lot,
i have change a vpn and use high speed internet ,
i have downed the images,
so vpn+high speed internet:
use this command------->  bash/docker/scripts/dev_start.sh
can downed image!!

[2019-07-06 03:04] tigert1998 opened #9102 "Blocking issue of BroadcastData"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: ubuntu 16.04
- **Apollo installed from (source

[2019-07-06 07:52] gengqx commented on #9087
Due to the apollo 5.0 has released，apollo team has not methion aarch64, so I guess recently apollo team would not release the docker images with all modules work.Currently if you want to build all modules,you must install the dependencies into docker. One module,by one module.first build_control,then build_planning,build_pnc.etc
Currentlly I just test it a little bit. I'm Waiting Jetson JetPack 4.

[2019-07-06 16:18] NickoDema commented on #6388
Hello, I'm trying to launch the offline demo and following this guide:
https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide

The last line launches a record and everything seems ok but when I try to open UI in chrome I get nothing.
![Screenshot from 2019-07-06 19-12-29](https://user-images.githubusercontent.com/14163708/60758670-97f10c80-a022-11e9-9976-c7be9ad9e73f.png)

What do I do w

[2019-07-07 08:08] jedichen121 opened #9104 "Failed to launch common component example"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2019-07-07 17:57] NickoDema commented on #6388
![Screenshot from 2019-07-07 20-52-27](https://user-images.githubusercontent.com/14163708/60772095-cee62180-a0f9-11e9-9759-d6ee6b62c4e8.png)

[2019-07-08 05:12] kttnk commented on #7719
@Iqbalparvi --jobs=4 depends on your core(s).
If
[code]
gives you 4, then --jobs=2 might work ( my guess).

[2019-07-08 13:21] alexbuyval opened #9106 "Why rosbag_to_record does not support sensor_msgs/CompressedImage?"
Hi,

I would like to test the Apollo 5.0 with own data. I was going to convert my bags files into CyberRT records by 'rosbag_to_record' utility, however, I faced that the utility does not support image topics (sensor_msgs/CompressedImage, sensor_msgs/Image).

I looked at the [source code](https://github.com/ApolloAuto/apollo/blob/master/modules/data/tools/rosbag_to_record/rosbag_to_record.cc) and

[2019-07-09 04:15] chybhao666 opened #9111 "Cipv::IsObjectInTheLaneImage && Cipv::IsObjectInTheLaneGround logic issue"
**Describe the bug**

I feel that Apollo’s camera CIPV algorithm logic is wrong.

**Regarding bool Cipv::IsObjectInTheLaneImage**
The code logic of is only when these 3 conditions are met at the same time can the cipv be determined:
•	The coordinate of **the lower right corner of the rear object bounding box** is on the **left** side of the **left** lane divider of the ego lane.
•	The coordinate o

[2019-07-09 06:26] audier0879 commented on #9081
Hi，AyushiRathore
I think I have a similar issue like you, and I did the following steps to fix it, I hope it can help you.
PC: intel i5-7500, 8G DDR4, integrated video card
OS: ubuntu 16.04
Version: apollo_5.0
1. open a teminal(named a) input:
  $ bash docker/scripts/dev_start.sh
  $ bash docker/scripts/dev_into.sh
  $ bash apollo.sh build_cpu
  $ bash scripts/dreamview.sh start_fe
  input the ctr

[2019-07-09 06:34] mickeyouyou commented on #9104
as log output :
String field 'apollo.cyber.examples.proto.Driver.content' contains invalid UTF-8 data when parsing a protocol buffer. Use the 'bytes' type if you intend to send raw bytes.

[2019-07-09 06:37] #9093 closed

[2019-07-09 06:45] mickeyouyou commented on #9066
please use `bash ./docker/scripts/dev_start.s` instead because of the instability of docker-cn.com.

[2019-07-09 06:45] #9066 closed

[2019-07-09 11:38] mickeyouyou commented on #7240
error message is :
[code]
you can link fastrtps after build it.

[2019-07-09 21:58] pavel-cyngn opened #9114 "Handle return value kHungarianOptimizerColNotFound from FindPrimeInRow()"
Potential bug if ```int FindPrimeInRow(const size_t row)``` returns kHungarianOptimizerColNotFound, which is -1.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **Apollo installed from source**:
- **Apollo version 3.0, 5.0, and on master are affected (July 9, 2019)**:

### Steps to reproduce the issue:
- **'col'** may be out of bound for column index 'assi

[2019-07-10 01:12] daviduhm commented on #9085
Unfortunately, either the commit ID, [96faaa9d50fd4b5d96a9d400a544f8e229c52aa8](https://github.com/pytorch/pytorch/commit/96faaa9d50fd4b5d96a9d400a544f8e229c52aa8), or the prebuilt binary version from [pytorch.org](https://pytorch.org/) didn't work out for me. Hopefully, we can get some help from the Apollo team on this because otherwise this [dockerfile](https://github.com/ApolloAuto/apollo/blob/

[2019-07-10 01:20] daviduhm commented on #9085
Unfortunately, either the commit ID, [96faaa9d50fd4b5d96a9d400a544f8e229c52aa8](https://github.com/pytorch/pytorch/commit/96faaa9d50fd4b5d96a9d400a544f8e229c52aa8), or the prebuilt binary version from [pytorch.org](https://pytorch.org/) didn't work out for me. Hopefully, we can get some help from the Apollo team on this because otherwise this [dockerfile](https://github.com/ApolloAuto/apollo/blob/

[2019-07-10 02:04] audier0879 commented on #9081
Hi，I think I found the problem from https://github.com/ApolloAuto/apollo/issues/7228.
After I run the “git lfs fetch --all” , the Dreamview can start with no problem.

[2019-07-10 02:05] gouchaoer commented on #8644
能参考一下你的代码么？我也遇到一样的需求，我们可以相互学习进步

[2019-07-10 15:37] #8286 closed

[2019-07-10 21:12] natashadsouza commented on #9067
Closing this issue as we currently do not support this feature. Should our plan change in the future, we will be sure to reach out.

[2019-07-10 21:12] #9067 closed

[2019-07-10 21:16] natashadsouza commented on #9010
@wobistdu awaiting your response.

[2019-07-11 09:13] baowanyu commented on #8851
Close the problem temporarily until the record file is provided.

[2019-07-11 09:13] #8851 closed

[2019-07-11 09:21] baowanyu commented on #9106
This tool only supports topics for the old version of Apollo project. Some topics are not used in Apollo project, you need to customize the tool yourself.

[2019-07-11 09:30] alexbuyval commented on #9106
But you used the image topics in the old version, is not?

[2019-07-11 10:28] alexiskovi opened #9124 "Interval in .dag files"
Good afternoon,
Thanks for your work in Apollo project!

[code]

Could you possibly explain, what is "Interval : 10" meaning?

Thanks in advance

[2019-07-11 11:14] baowanyu commented on #9104
We checked up this component with the latest code and found that everything was all right.
The issue you encounter should be caused by the local environment.

[2019-07-11 11:31] tigert1998 commented on #9102
Is this issue related here?
https://github.com/civetweb/civetweb/issues/517

[2019-07-11 12:22] jedichen121 commented on #9104
I changed the type to `bytes` and it worked.

I'm not sure if it's a environmental thing. The system is kind of freshly installed and all the compilation happens inside the container. If it's caused by environment, why timer_component_example can work but common_component_example failed?

[2019-07-11 15:21] xmyqsh commented on #9085
@daviduhm
You could have a try my suggestion. I'm not sure it is worked for your environment or not.
`bash docker/scripts/dev_start.sh`
`bash docker/scripts/dev_into.sh`
`tar -zcvf /apollo/docker/build/installers/libtorch.tar.gz /usr/local/apollo/libtorch`
`tar -zcvf /apollo/docker/build/installers/libtorch_gpu.tar.gz /usr/local/apollo/libtorch_gpu`
[code]
add `RUN bash /tmp/installers/install_pyt

[2019-07-11 15:32] debuleilei opened #9125 "what's the inspva topics's azimuth means?"
Hi, I'm wondering Where is the origin of coordinates about the azimuth in the inspva? it's imu position or GPS Main antenna，and what 's the zero  represente?(north or east) ,what's the positive direction ,clockwise or counterclockwise? waiting for your reply,thanks

[2019-07-11 15:46] storypku opened #9126 "cyber/io/example/tcp_echo_server&client don't work as expected"
**Describe the bug**
TCP echo example in cyber/io/example doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. bazel build from source //cyber/io:tcp_echo_server and //cyber/io:tcp_echo_client  (on my PX2 machine)
2. In terminal A, run `bazel-bin/cyber/io/tcp_echo_server 8235`
3. In terminal B, run `bazel-bin/cyber/io/tcp_echo_client 8235`
And you will see both `server`

[2019-07-11 16:49] storypku commented on #9126
Tried the udp_echo_server/client example, the same issue exists.

[2019-07-12 00:14] xmyqsh commented on #8825
@wobistdu
HDMap is a big dataset. You cannot cache the whole usual database into the memory even if using redis.
Right, just like the usual database like mysql or redis, HDMap is also like a database with an octomap structure,  multi-cache level empowered, to improve the cache hit rate.

[2019-07-12 00:19] xmyqsh commented on #9125
@debuleilei azimuth is another name of yaw.
Both imu and Multi GPS antenna could estimate it.
Which specific `cyber topic` or `code parameter` are you talking about?

[2019-07-12 07:46] quning18 commented on #9126
are u running the example in docker?

[2019-07-12 08:50] storypku commented on #9126
Nope. Run without docker.  Have set the CYBER_IP, CYBER_PATH env variables.

[2019-07-12 09:19] xmyqsh commented on #9126
interesting

[2019-07-12 16:47] papaispicolo commented on #9081
Hi Audier0879, could you give me some more information how you fixed the issue ?

I am having exactly the same issue,

I did

$ 'git lfs fetch --all'  on host
inside container
$ bash apollo.sh build_cpu

[code]

But I can not see anything on localhost:8888

System information
**OS Platform and Distribution : Ubtuntu 18.04
Apollo Verison: 3.5

[2019-07-12 21:15] daviduhm commented on #9085
@xmyqsh Thanks for your suggestion. But, the reason why I'm trying to build a Docker image from the scratch is because I'd like to upgrade the Cuda version inside the image because it doesn't support GPU Volta architecture as [here](https://github.com/ApolloAuto/apollo/issues/4233) and [here](https://github.com/ApolloAuto/apollo/issues/6916). The original Docker image you can pull from Apollo come

[2019-07-12 21:16] daviduhm commented on #9085
@xmyqsh Thanks for your suggestion. But, the reason why I'm trying to build a libtorch from the scratch is because I'd like to upgrade the Cuda version inside the image because it doesn't support GPU Volta architecture as [here](https://github.com/ApolloAuto/apollo/issues/4233) and [here](https://github.com/ApolloAuto/apollo/issues/6916). The original Docker image you can pull from Apollo comes wi

[2019-07-13 00:03] xmyqsh commented on #9085
@daviduhm
With your CUDA9 requirement, you should change [FROM nvidia/cuda:8.0-cudnn7-devel-ubuntu14.04](https://github.com/ApolloAuto/apollo/blob/master/docker/build/dev.x86_64.dockerfile#L1)
to `FROM nvidia/cuda:9.x-cudnn7-devel-ubuntu14.04`
Then solve the possible compatible issues following up.
Then add pytorch_installer with install instruction with the pytorch version you familiar with.
Then

[2019-07-13 00:36] daviduhm commented on #9085
Yes. We've already updated Cuda version from 8 to 9 inside the docker image, recompiled caffe and tensorrt with Cuda 9 because Apollo open-sourced their modified version of [Caffe](https://github.com/ApolloAuto/caffe). Every other modules including perception is working well except prediction module because of this pytorch library issue. So, we are almost there :)

[2019-07-13 02:27] xmyqsh commented on #9085
@daviduhm
Waiting for the Apollo team reply @xiaoxq @wanglei828 @kechxu

Otherwise, you should compare the `/usr/local/apollo/libtorch_gpu/include` with pytorch repo commit by commit. And praying for there is no customed modification on pytorch by Apollo team.

[2019-07-13 04:03] christian-lanius commented on #9085
@daviduhm how did you determine that your prediction is not working correctly? I am facing the same problem as you (using an RTX2080TI), so I built my own docker image and, as far as I can tell, the prediction works fine, but now I am scared that I oversee something.

[2019-07-13 09:44] audier0879 commented on #7878
Hi，wzjin2017
     I had the same problem with you, have you solved your problem, and can you give me some advice？

[2019-07-13 13:34] wzjin2017 commented on #7878
As @natashadsouza mentioned, the solution is here [Installing NVIDIA GPU Driver](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Software_and_Kernel_Installation_guide.md#installing-nvidia-gpu-drivel)

[2019-07-13 14:18] audier0879 commented on #9081
I failed just because I didn't run the "git lfs fetch --all", so after run the command, everything is ok.
And do you have a try in ubuntu16.04?

[2019-07-15 01:50] xiaochao00 commented on #5825
@guoweiwan 关于这个问题有更新吗

[2019-07-15 05:37] ChrisRanger commented on #9070
@lrodrig3 sorry not to reply you until now, I got it yet, thanks for your help

[2019-07-15 06:26] borissherman commented on #3005
Dear @natashadsouza @msbeta Could you send me the Apollo Open Drive specs ? Thanks.

[2019-07-15 08:08] baowanyu commented on #9106
We don't record pictures and distribute them, So our tools don't support image-related topics. I recommend that you customize our “rosbag_to_record” tools to meet your needs. You can contact us when you encounter any problems that cannot be solved in development.

[2019-07-15 10:54] papaispicolo commented on #9081
Thanks @audier0879 ,

It seems that it was due to FMA/FMA3 instruction issue. My CPU is a Xeon E5-2650v2 which doesn't support FMA/FMA3 maybe..

[code]

[2019-07-15 11:23] alexbuyval commented on #9106
@baowanyu  I see. Thank you!

[2019-07-15 11:23] #9106 closed

[2019-07-15 12:12] yy6110 commented on #3005
Dear @natashadsouza @msbeta Could you please send me the  Apollo OpenDRIVE specification ? I really appreciate it! Thanks.  yy6110@gmail.com

[2019-07-15 12:27] papaispicolo commented on #9081
Thanks to the trouble shooting guide on FMA/FMA3 issue, now dreamview starts and I can see the UI.

https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md

[2019-07-15 18:12] MistreanuIonutCosmin opened #9139 "Cannot run perception_lowcost_vis.sh."
Hello, and thanks for all the great work done on this framework.

I am trying to implement perception_lowcost_vis.sh.

I took the content from perception.sh as an example and ended up with:

cyber_launch start /apollo/modules/transform/launch/static_transform.launch &
cyber_launch start /apollo/modules/drivers/tools/image_decompress/launch/image_decompress.launch &
cyber_launch start /apollo/modul

[2019-07-15 22:43] #8932 closed

[2019-07-15 22:45] #8725 closed

[2019-07-15 23:26] natashadsouza commented on #3005
I have shared the Opendrive format with those who submitted their emails. Thank you for your interest in Apollo!

[2019-07-16 01:26] yy6110 commented on #3005
Thanks for the mail. ,There is still a question, is there a Chinese
version? 😂

Natasha Dsouza <notifications@github.com> 於 2019年7月16日 週二 上午7:27寫道：

[2019-07-16 07:16] louis016 opened #9143 "Traffic light right turn unprotected scenario triggered safety mode"
### System information

- OS Platform and Distribution: Linux Ubuntu 14.04:
- Apollo installed from source**:
- Apollo version: 3.5**:

### Steps to reproduce the issue:
- we are trying to implement the traffic light unprotected right turn scenario, when planning jump into stage_stop, the car will stop in front of the stop line and wait for 3 seconds, then it will jump into the next stage.

- Howe

[2019-07-16 07:19] louis016 commented on #9143
@bigwhite @aboarya PLEASE HELP US, APOLLO TEAM : ( @natashadsouza

[2019-07-16 07:20] louis016 commented on #9143
@techoe  Please help us : )

[2019-07-16 07:41] DongAi commented on #8881
@yeseract, that file can be reached now, please try again. Some built-in packages on that server such as pcl, ros were built on TX2, so you may have to built them on Xavier by yourself to make it work.

[2019-07-16 07:43] DongAi commented on #8821
According to this error "pngquant failed to build, make sure that libpng-dev is installed", please install libpng-dev and try again

[2019-07-16 15:58] HanFa opened #9144 "Does Apollo trained a CNNSeg model for Velodyne 16?"
Hi Developers,

I am wondering if the CNN segmentation model has been trained for 16-channel LiDAR. There seem to be three models for VLP-16, VLP-64, VLP-128.

`➜  cnnseg git:(master) ✗ pwd
/apollo/modules/perception/production/data/perception/lidar/models/cnnseg
`

`
➜  cnnseg git:(master) ✗ ls
velodyne128 velodyne16  velodyne64
`

Are the models retrained with 16-channel, 64 and 128 dataset resp

[2019-07-16 18:16] weidezhang commented on #9144
unfortunately, cnn training pipeline is no open source yet. I would suggest you can try using vlp64 model on vlp32 data.

[2019-07-16 22:27] bhaskarsuper9000 commented on #7043
Sorry to comment on a closed issue, but just wondering if r5.0.0 is still using patched FastRTPS 1.4.0 or a does it come with a later version of FastRTPS? Any response is appreciated, thanks.

[2019-07-17 03:49] jmtao commented on #9143
@louis016 what's safety mode?

[2019-07-17 03:54] jmtao commented on #8439
@yangydavid this is hard to diagnose the issue. send us the bag file if you still need help.

[2019-07-17 03:59] jmtao commented on #8559
Hi @DinnerHowe , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-17 03:59] #8559 closed

[2019-07-17 04:00] jmtao commented on #8576
Hi @Junzeng-x14 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-17 04:00] #8576 closed

[2019-07-17 04:10] jmtao commented on #8456
@yoyouwen if you want to launch planning module from terminal, you can turn off planning module from DreamView, and then launch planning manually from terminal as what you did in the screenshot you posted.
And, you need launch planning mode first, and then send routing request.  So that planning module can receive routing response.  Otherwise, when you planning module starts, the routing response

[2019-07-17 04:19] jmtao commented on #7154
@YaoQii they serve different purposes.

[2019-07-17 05:59] fatgenius commented on #8452
/some question!!! any help?

[2019-07-17 06:33] wanggujin opened #9155 "question about LaneOverlapInfo"
apollo 3.5
Where does start_s and end_s of the LaneOverlapInfo refer?

[2019-07-17 08:36] louis016 commented on #9143
![微信图片_20190717163557](https://user-images.githubusercontent.com/38492966/61360425-fd5dbc80-a8b0-11e9-9d74-e7e2de90b4dd.jpg)

[2019-07-17 09:29] quning18 commented on #9126
We have submitted a pull request to fix this problem.

https://github.com/ApolloAuto/apollo/pull/9152

Please reopen if that doesn't work. Closing for now.

[2019-07-17 09:29] #9126 closed

[2019-07-17 09:35] #8869 closed

[2019-07-17 09:37] quning18 commented on #8492
Please reopen if you have further questions @guoweiwan

[2019-07-17 09:37] #8492 closed

[2019-07-17 09:40] quning18 commented on #4918
Closed for now, Please reopen if anyone has updates on this thread

[2019-07-17 09:40] #4918 closed

[2019-07-17 09:40] quning18 commented on #8391
Please reopen if you have further questions.

[2019-07-17 09:40] #8391 closed

[2019-07-17 09:41] quning18 commented on #8470
Please reopen if you still have problems on this. @wanggujin

[2019-07-17 09:41] #8470 closed

[2019-07-17 09:46] quning18 commented on #8475
@bongjoonhyun visualizer is for sensor visualization, not topology.

We have both cyber_node and cyber_monitor which help you understand the topology, but we don't have the visualization tool for now.

Please reopen if you have further questions.

[2019-07-17 09:46] #8475 closed

[2019-07-17 09:47] quning18 commented on #8531
Please reopen if you have further questions. @yfzm

[2019-07-17 09:47] #8531 closed

[2019-07-17 09:50] quning18 commented on #8620
Could you show us the code how your component listens the two channels? @sinopec

[2019-07-17 09:54] quning18 commented on #8639
Please reopen if you have further questions @sinopec

[2019-07-17 09:55] #8639 closed

[2019-07-17 11:10] MengWangTHU opened #9157 "what does debug_roi mean"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-07-17 11:10] #9157 closed

[2019-07-17 11:11] xmyqsh opened #9158 "Clock::SetMode has been set multi-place"
The `Clock::SetMode` has been set in localization([rtk](https://github.com/ApolloAuto/apollo/blob/master/modules/localization/rtk/rtk_localization_component.cc#L29), [msf](https://github.com/ApolloAuto/apollo/blob/master/modules/localization/msf/msf_localization_component.cc#L33), [ndt](https://github.com/ApolloAuto/apollo/blob/master/modules/localization/ndt/ndt_localization_component.cc#L34)),

[2019-07-17 11:19] MengWangTHU opened #9159 "debug_roi"
### System information

- **OS Platform and Distribution  Ubuntu 16.04**:
- **Apollo installed from source **:
- **Apollo version3.5**:

尊敬的作者和各位贡献者：
我在学习交通灯信号检测的时候，发现traffic_light类有一个独特的成员称为debug_roi，这个框被可视化之后是一个远大于红绿灯范围的白色线框，我不是特别清楚这个框的来源和作用，请问哪位专家可以做一解读？
万分感谢！

[2019-07-17 12:03] storypku commented on #9126
Have tested both tcp and udp echo server/client examples on aarch64 and x86_64 platforms, It works fine.

[2019-07-18 10:37] ZhangJian322920 commented on #8452
Anybody can help us

[2019-07-18 11:04] AyushiRathore commented on #9081
Hello @audier0879  I followed your steps but got the following error:

![image](https://user-images.githubusercontent.com/13648313/61452655-4dc53080-a92a-11e9-8d50-4ae73b93bc72.png)

[2019-07-18 11:58] AyushiRathore commented on #9081
@audier0879  I tried the solutions you suggested both the cyber_recorder command and by performing git lfs fetch --all but it is giving the following error:
![image](https://user-images.githubusercontent.com/13648313/61455338-36d60c80-a931-11e9-89c1-daedc6c06437.png)

Do you think that there can be issue with the PCL?

[2019-07-18 12:10] YYimingWang opened #9167 "an unaffected error"
apollo/modules/localization/msf/local_tool/local_visualization/online_visual/BUILD
It maybe component,not compenont.

[2019-07-18 13:21] xmyqsh commented on #8452
@JustWannaHugU @ZhangJian322920
Apollo 好像有专门的技术支持团队，你可以通过Apollo官网联系到他们，进行合作。

如果自己做的话，首先，硬件设备不一样，驱动肯定得重写。
其次，定位是最为关键的技术之一，我建议，针对自己的设备，重写localization中闭源部分代码，并根据自己设备的特性，适配算法，适配参数。这样，一方面可以发挥硬件的最大性能，另一方面，对算法细节的把控也是安全的保证。
最后，不同的应用场景，对设备的成本，精度的要求，都不一样。不要拿着锤子找钉子，要在成本、精度、算法之间做权衡。

[2019-07-19 02:19] fengqikai1414 commented on #8722
@storypku After careful analysis, the scenario used in cyber RT does not trigger this problem, we will completely solve this problem after upgrading to C++17.

[2019-07-19 03:33] MengWangTHU commented on #8551
@warden2018 @techoe something similar happened when I do run the perception_trafficlight.launch； Here is the problem i met.

[perception_trafficlights]  E0719 09:41:26.117487  6858 trafficlights_perception_component.cc:662] [perception] get pose from tf failed, child_frame_id: novatel

Your conversation seems to let me find the direction. I want to know how to set the provided faster (more than tw

[2019-07-19 06:27] WooLiGuaiguai opened #9175 "The docker compiled successfully and dreamview started successfully, but when localhost: 8888 was turned on, there was no response."
### System information

- **OS Platform and Distribution :Linux Ubuntu 16.04LTS
- **Apollo installed from :source
- **Apollo version:5.0

### Steps to reproduce the issue:
First, the computer processor is Intel < Core < i7-8700 CPU @ 3.20 GHz * 12, then install Ubuntu 16.04.
Then：
sudo apt-get install git
curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash

[2019-07-19 07:18] jarvisWang0903 opened #9176 "sky class in apollo for semantic segmentation"
**Describe the bug**
For "sky" class the Class_Id to train_Id in your description is 17 : 0, However, I did not find the annotation of sky's class id when I actually processed the image

**To Reproduce**
Steps to reproduce the behavior:
1. I processed the img to mapping the cityscapes,but i did't found the sky class in your dataset, but in the description it does has, did you forget to label it or

[2019-07-19 10:51] JamosLi opened #9178 "请问有中文文档吗"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
在查找一段时间后并没有找到中文文档
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
英文虽然有一定阅读能力但是，过程崎岖，对一些关键点容易不能
把握清楚，影响效率。
**Describe alternatives you've considered**
A clear and concise description of any a

[2019-07-19 20:38] HongyiSun commented on #9178
docs/technical_tutorial/ 和 docs/specs/ 下的大部分文档都有中文翻译版

[2019-07-19 20:43] chenjo opened #9182 "offline camera perception: lane dection"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-07-19 21:53] jmtao commented on #7154
Hi @YaoQii , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-19 21:53] #7154 closed

[2019-07-19 21:55] jmtao commented on #8456
Hi @yoyouwen, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-19 21:55] #8456 closed

[2019-07-19 21:56] jmtao commented on #8439
Hi @yangydavid , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-19 21:56] #8439 closed

[2019-07-19 22:32] jmtao commented on #9155
@wanggujin there is no LaneOverlapInfo. There is a PathOverlap.
https://github.com/ApolloAuto/apollo/blob/master/modules/map/pnc_map/path.h
line 91.

A lane overlap can be PathOverlap.
start_s: s value of the start point of this overlap (or min s of this overlap), along the current reference line
end_s: s value of the end point of this overlap (or max s of this overlap), along the current referenc

[2019-07-19 22:55] jmtao commented on #8450
@kttnk not really. When it is not set, it will use the current value, which is set by a previous test, "11_predection.pb.txt". So the test actually won't fail.
I'll fix it to make sure it is set for each test though.

[2019-07-19 22:55] #8450 closed

[2019-07-19 23:32] jmtao commented on #9143
@louis016  this happens where there's some error from planning.
code:
https://github.com/ApolloAuto/apollo/blob/master/modules/monitor/software/functional_safety_monitor.cc
line 34-42.

We don't have enough context on what's going on in your case. It would be much easier if you just debug by yourself.  Let us know if you need further support.

[2019-07-19 23:38] #5887 closed

[2019-07-20 00:57] wanggujin commented on #9155
@jmtao
thank you.
i mean the LaneOverlapInfo in map module,
you can look this,
https://github.com/ApolloAuto/apollo/blob/r5.0.0/modules/map/proto/map_overlap.proto

Where does start_s and end_s of the LaneOverlapInfo refer?

[2019-07-20 01:48] xmyqsh commented on #9155
@wanggujin
[LaneOverlapInfo](https://github.com/ApolloAuto/apollo/blob/master/modules/map/hdmap/adapter/proto_organizer.cc#L122-L126)
[start_s](https://github.com/ApolloAuto/apollo/blob/master/modules/map/hdmap/adapter/proto_organizer.cc#L138)
[end_s](https://github.com/ApolloAuto/apollo/blob/master/modules/map/hdmap/adapter/proto_organizer.cc#L140)

[2019-07-20 02:12] xmyqsh commented on #9182
@chenjo
Does your `transform module` runs successfully?
You should adapt `transform/conf/static_transform_conf.pb.txt` before running it.

[2019-07-20 04:51] qwetqwe opened #9185 "sins.h file in apollo 5.0 build failed"
### System information

- OS Platform and Distribution ( Linux Ubuntu 14.04):
- **Apollo installed from (source):
- **Apollo version (5.0):

### Steps to reproduce the issue:
when I build apollo 5.0 ,some errors happenend:

ERROR: (07-20 03:39:22.795) /apollo/modules/localization/msf/local_integ/BUILD:5:1: C++ compilation of rule '//modules/localization/msf/local_integ:localization_msf_local_integ

[2019-07-20 05:24] WooLiGuaiguai commented on #9081
Hello, have you installed Apollo 5.0? I have a question for you to help me.The docker compiled successfully and dreamview started successfully, but when localhost: 8888 was turned on, there was no response.

[2019-07-20 07:46] kosuke55 opened #9186 "How to run cnn_segmentation_test.cc"
Hi, I would like to run cnn_segmentation_test.cc but can't.
Following the instruction from #296, do ``bazel test --config=unit_test //modules/perception/obstacle/lidar/segmentation/cnnseg:cnn_segmentation_test``
but error occurred.
I will appreciated if you could teach me how to run.
[code]

[2019-07-20 07:51] kttnk commented on #8450
I mean if no previous test, that is using gtest_filter, it fail.

Great that you’ll fix it anyway.
Thank you.

[2019-07-20 11:01] xiaoxq commented on #9175
I'm wondering which document are you following, because Git-LFS has been retired for a while before Apollo 5.0. Could you refer me to it?

[2019-07-20 14:55] wanggujin commented on #9155
@jmtao @xmyqsh
thank you for your answer.
my question is that i find the LaneOverlapInfo object is used in some function, as follow:
[LaneOverlapInfo](https://github.com/ApolloAuto/apollo/blob/r5.0.0/modules/prediction/common/junction_analyzer.cc#L67)
[LaneOverlapInfo](https://github.com/ApolloAuto/apollo/blob/master/modules/prediction/container/obstacles/obstacle_clusters.cc#L215)

but i can't fi

[2019-07-21 04:45] WooLiGuaiguai commented on #9175
I didn't install LFS before, and then I saw someone mention a similar problem on issue. It was done by installing lfs, and I installed it
This is the link to that question：
https://github.com/ApolloAuto/apollo/issues/6467
Thanks

[2019-07-22 02:12] liudiligent commented on #7228
您好，我现在安装apolio也出现了 同样的问题。能否告知一下您是怎么解决的？

[2019-07-22 07:30] #5745 closed

[2019-07-22 07:32] mickeyouyou commented on #5918
you can change it and generate documents on local.

[2019-07-22 07:32] #5918 closed

[2019-07-22 07:35] mickeyouyou commented on #5503
thanks @xmyqsh

[2019-07-22 07:38] #5503 closed

[2019-07-22 07:39] EllieGuo commented on #3615
Hi, thanks for your kind suggestion, however, this did not work for me, and i started to think it might be my computer issue. Sorry for such a delay.

[2019-07-22 07:40] EllieGuo commented on #6467
Hi, thanks for your kind suggestion, I tried and this did not work for me. Thanks again, and sorry for such a delay.

[2019-07-22 07:57] EllieGuo commented on #3615
@amontserratAG Hi, thanks for your kind suggestion, however, this did not work for me, and i started to think it might be my computer issue. Sorry for such a delay.

[2019-07-22 07:58] EllieGuo commented on #6467
@Iqbalparvi Hi, thanks for your kind suggestion, I tried and this did not work for me. Thanks again, and sorry for such a delay.

[2019-07-22 13:46] MistreanuIonutCosmin commented on #9139
Solved the problem by using:

  <module>
        <name>perception_camera</name>
        <dag_conf>/apollo/modules/perception/production/dag/dag_streaming_perception_camera.dag</dag_conf>
        <process_name>perception</process_name>
        <version>1.0.0</version>
    </module>

instead of dag_streaming_perception_lane (I found out that the functionality is included in dag_streaming_perception_

[2019-07-22 17:31] rbutucelea commented on #6697
@DevMMI could you please provide details about your fix? I have encountered the same problem.
Thanks in advance.

[2019-07-22 17:40] jmtao commented on #9155
@wanggujin ok now I see what you refer to.
If you look at this function:
Prot[oOrganizer::GetLaneObjectOverlapElements](https://github.com/ApolloAuto/apollo/blob/master/modules/map/hdmap/adapter/proto_organizer.cc#L117)
A ObjectOverlapInfo is always associated with a "base" lane.
e.g Along a lane "11", there can be some overlaps  "22", "33", "44" and etc, overlapping with the base lane "11".
The s

[2019-07-22 20:44] chenjo commented on #9182
@xmyqsh, now I have this error: load camera extrisic file  error, YAML exception:bad file for offline camera_perception and offline lane detection. The following error for the traffic light detection.
E0722 16:24:51.829178 26336 hdmap_common.cc:183] [map] lane[id = id: "11267dup0_1_-1"
[perception_trafficlights]  ]. sampled_right_width_[0.991181] is too small. It should be larger than half vehicle

[2019-07-22 21:41] natashadsouza commented on #9175
@WooLiGuaiguai please refer to our [build guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md) on how to set up Apollo. We have retired Git LFS.
Let me know if you are still seeing the issue when you use the build guide.

[2019-07-22 21:46] natashadsouza commented on #9178
@JamosLi 您在寻找具体的中文文件吗？我们有很多中文翻译文件，其标题以_CN结尾。如果您有其他文件要求，请告诉我们。

[2019-07-22 21:48] natashadsouza commented on #9185
@qwetqwe  please refer to our [build guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md) on how to set up Apollo. Let me know if you are still seeing the issue when you use the build guide.

[2019-07-22 22:15] Fla3inH0tCheet0s opened #9197 "Routing Module Provides a Service API"
**Is your feature request related to a problem? Please describe.**
Currently, the routing module reads in `RoutingRequest` through the Component API: https://github.com/ApolloAuto/apollo/blob/master/modules/routing/routing_component.h#L27. And it writes via the `cyber::Writer` API: https://github.com/ApolloAuto/apollo/blob/master/modules/routing/routing_component.h#L37. A new modules can publish r

[2019-07-22 22:57] cyberphysicalrobotics opened #9198 "Can I use AWS S3 service to do Vehicle Control Calibration?"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 5.0

Hi, I'm trying to use vehicle calibration as explained in the following vehicle control calibration.
https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibr

[2019-07-23 01:02] warden2018 commented on #8551
@MengWangTHU Hi! Currently I am using Apollo 3.0 and your system seems higher than 3.5. As far as I know, there is tf manager module in Apollo 3.5 and you can locate the issue there. Try to check the necessary information(calibration result for example).

[2019-07-23 01:31] xiaoxq commented on #9198
Thank you for heads up, Taehyung!
Only BOS is supported for now, but we are working on supporting another global cloud provider soon. Please stay tuned :)
If it's an urgent need, maybe you can try BOS which is pretty similar to S3. You can use tools like `s3fs` and `boto3`.

[2019-07-23 01:42] audier0879 commented on #9081
I think you can search the problem "cyber_recorder: command not found" in the issues search bar.

[2019-07-23 01:44] audier0879 commented on #9081
what is your browser，Microsoft IE or google chrome？

[2019-07-23 03:06] warden2018 opened #9199 "Perception (LiDAR) ROI filter issue"
### System information

- **OS Platform and Distribution Linux Ubuntu 14.04**:
- **Apollo installed from source**:
- **Apollo version 3.0**:

### Steps to reproduce the issue:

- **Currently we are testing perception module using Pointcloud.**
- **In modules/perception/obstacle/onboard/lidar_process_subnode.cc:**
`if (roi_filter_->Filter(point_cloud, roi_filter_options,

[2019-07-23 07:09] alexiskovi commented on #2403
@szm88, so, how did you solve this? Got the same problem, but with package @adv_plat//

[2019-07-23 08:37] wang820203420 commented on #9155
test

[2019-07-23 09:12] Caitmaire commented on #9185
The sins.h folder does not contain the GetRemoveBiasImu function. I think line 107 has to be removed.

[2019-07-23 12:35] qwetqwe commented on #9185
I build according to build guide step. Obviously, there must be something wrong between sins.h or localization_integ_process.cc

[2019-07-23 18:40] luqiang21 commented on #9199
Hi @warden2018, I am just guessing. Maybe you want to check your map file, do your lanes have correct left and right boundaries? We encountered problems when our map had wrong boundary lines for lanes. For a lane, we had the right boundary line same as the left one.

[2019-07-23 22:09] cyberphysicalrobotics commented on #9198
Thanks for your reply.
https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md

[2019-07-23 22:13] cyberphysicalrobotics commented on #9198
Thanks for your reply.
I'm doing the following instruction.
https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md

There's not enough information to collect data. When I see data collection monitor, I couldn't make the progress bar changed. In order to see progress bar change, Is the Setting up Apollo Fuel Proxy essential ?

Best
Taehyung Kim

[2019-07-23 23:38] cyberphysicalrobotics opened #9211 "Questions about Vehicle Control Calibration Tool"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 14.04): Ubuntu 16.04
Apollo installed from (source or binary): Source
Apollo version (1.0, 1.5, 2.0, 2.5, 3.0): 5.0

I'm doing the following instruction.
https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md

Q1. There's not enough information to collect data. When I see data collecti

[2019-07-24 07:18] KevinYuk opened #9218 "Why path_out_lane_cost is not used?"
path_out_lane_cost is not used when calculate path cost, and this would cause the ADC slowly come back to lane after it out of lane.

[code]

[code]

[2019-07-24 09:26] BigBenSure opened #9219 "problem in building apollo5.0:Cloning ad-rss-lib from github is to slow"
When I build apollo 5.0: `./apollo.sh build`, it take a lot of time in this step:
`Cloning https://github.com/intel/ad-rss-lib: Receiving objects (1479 / 17648)`
maybe 2hours later, `Build failed`,error is:
 ` /apollo/modules/planning/tasks/rss/BUILD:5:1: no such package '@ad_rss_lib//': Error cloning repository: Premature EOF caused by Premature EOF caused by Premature EOF and referenced by '//mo

[2019-07-24 10:20] zzq1016 opened #9220 "offline_lidar_obstacle_perception error"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-07-24 10:34] zzq1016 opened #9221 "cudnnConvolutionLayer.cpp (254) - Cuda Error in execute: 7 - when apollo.sh test"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.
System information

    OS Platform and Distribution (e.g., Linux Ubuntu 14.04):
    Apollo installed from (source or binary): docker

[2019-07-24 16:54] renegadephysicist opened #9229 "Dynamics equation change using lateral controller in reverse"
In [lat_controller.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/control/controller/lat_controller.cc#L375) when in reverse mode the `matrix_a_coeff_(0, 2)`  is given a non zero value and `matrix_a_coeff_(0, 1)`  a zero value.

Matrix_a is top matrix in this equation from Rajamani:
![image](https://user-images.githubusercontent.com/32599092/61812896-60fd6200-ae3c-11e9-8b2b-60748959b

[2019-07-25 01:23] natashadsouza commented on #9219
@BigBenSure could you answer the System information questions above for better understanding?

[2019-07-25 02:53] Heodel opened #9230 "Question about the apollo3.5 or apollo 5.0 ues the ESD CAN PCIE 402"
# System information

- **Linux Ubuntu 14.04 the platform is Nuvo-6108GC **:
- **Apollo installed from (source or binary)**:
- **Apollo version (5.0)**:

### Steps to reproduce the issue:
- **I used the esd can pcie 402 and the driver is the apollo-contrib  Then when I install the esd can driver,In the apollo DreamView the modules ESD-CAN is ready just like ESD-CAN: NTCAN_SUCCESS but when I used t

[2019-07-25 06:04] BigBenSure commented on #9219
My system is Win10, and I build apollo 5.0 in docker Version 18.06.1-ce-win73 (19507), yesterday I try to build it again, maybe 1.5hours later , build succeed. But cloning ad-rss-lib is still slowly(I'm in China). So the problem is solved. If we have a faster way to install ad-rss-lib, it could be better.

[2019-07-25 15:10] Andrea2202 commented on #6366
Updates?

[2019-07-25 17:29] jmtao commented on #9155
Hi @wanggujin , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-25 17:29] #9155 closed

[2019-07-25 17:29] jmtao commented on #9143
Hi @louis016 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-25 17:29] #9143 closed

[2019-07-25 17:52] jmtao commented on #9218
@KevinYuk the value of "path_out_lane_cost" is huge and it was intended to *force* adc to keep in-lane.  But that's not always what we really want, e.g when adc side-pass obstacles or change lanes...
and "path_l_cost" can help *keep* adc in lane.
BTW, in Apollo 5.0, we are not using dp_poly_path_optimizer any more.

[2019-07-25 18:13] gaushivs commented on #6697
@natashadsouza

[2019-07-25 19:07] gaushivs opened #9232 "Cannot launch perception camera, cyber channels (front6mm and 12mm) not running"
### System information

**
-  Linux Ubuntu 14.04 :
- Apollo installed from source
- Apollo version 3.5 - Forked
- Velodyne Lidar is used
- Camera : LI -AR023ZWDR USB3.0
- Modified the following files :**

camera_front_12mm.pb.txt
camera_front_6mm.pb.txt
front_6mm_intrinsics.yaml
short_camera_intrinsics.yaml
short_camera_intrinsics.yaml

What was modified ?
- height was changed from 1080 to 1024

R

[2019-07-25 19:08] gaushivs commented on #9232
@natashadsouza : Please help with this issue.

[2019-07-25 19:32] DevMMI commented on #6697
Hi, the issue was that I was indexing an array out of bounds in the component I was running. C++ won't give you a compile error when you do this, and therefore you'll have to track it down yourself.

I recommend you look through the core dump using GDB and try to spot roughly where it crashed, and use that to localize which files you'll need to audit. I also recommend you try a previous commit tha

[2019-07-26 02:50] wanggujin opened #9233 "question about torch"
apollo 5.0
how can i find the libtorch include director in prediction?
i download the latest libtorch, but a compile error is occur:
torch::set_num_threads()  is not a member of torch

that's why?  version problem?

[2019-07-26 03:00] #9233 closed

[2019-07-26 03:01] wanggujin opened #9234 "question about libtorch"
apollo 5.0
i download the latest libtorch, but a compile error is occur:
torch::set_num_threads() is not a member of torch

that's why? version problem?

[2019-07-26 03:10] wanggujin commented on #9234
i no use cude

[2019-07-26 03:12] s894330 opened #9235 "pnc map: floating-point comparison may cuase issue"
version: apollo 5.0.0
OS: ubuntu 14.04.5
---
hi
I study the source code of planning module, and found that there is a floating-point comprasion
issue in pnc_map.cc -  void PncMap::UpdateNextRoutingWaypointIndex(int cur_index) about line 115
[code]
adb_waypoint_.s and routing_waypoint_index_[next_routing_waypoint_index_].waypoint.s are double variables.

I found they sometimes will not equal even i

[2019-07-26 03:31] daviduhm commented on #9085
@christian-lanius When you run prediction module either from dreamview or in command line (i.e., `bash scripts/prediction.sh`), it fails to load prediction library file and then crashes. This issue only happens with the latest apollo code where they started to preload libcaffe_gpu.so from `apollo_base.sh`. Prediction should work fine with Cuda9 if you are using old version of apollo. Unfortunately

[2019-07-26 03:32] daviduhm commented on #9085
@christian-lanius When you run prediction module either from dreamview or in command line (i.e., `bash scripts/prediction.sh`), it fails to load prediction library file and then crashes. This issue only happens with the latest apollo code where they started to preload libcaffe_gpu.so from `apollo_base.sh`. Prediction should work fine with Cuda9 if you are using old version of apollo.

Unfortunatel

[2019-07-26 07:48] gvc0461082002 opened #9237 "Question about ASU and AXU"
HI There:
I plan to apply apollo 5.0 for creating a self-driving vehicle.
There are some questions confusing me in the quick-start guide on HW installation section:

1.  May I setup a self-driving one without ASU and AXU?
2.  It says "You need to provide these additional components for the Additional Tasks Required" , may I know what means additional task?

Cheers
Fenglu Ge

[2019-07-26 17:42] wzjin2017 opened #9241 "Which version of YOLO is used for obstacle detection?"
Also, is YOLO the only algorithm used for camera-based obstacle detection?

[2019-07-26 20:42] natashadsouza commented on #9234
@wanggujin libtorch is a part of our docker environment and does not need to downloaded separately. Please confirm.

[2019-07-26 21:16] cyberphysicalrobotics opened #9242 "kmz7_data_collection_table.pb.txt to collect control data"
Hi, I'm collecting control data for vehicle control calibration.
When I'm doing it on dreamview, the progress is not working well. So I took a look at the mkz7_data_collection_table.pb.txt file to check each criteria.

There are two parameters that I'm curious about:
1.frame_threshold: 20
2.total_frames: 6000

When I changed them to 1 and 5. the progress of each criterion was working well like the

[2019-07-27 06:21] AyushiRathore commented on #9081
Google chrome

[2019-07-27 06:22] AyushiRathore commented on #9081
Google chrome

[2019-07-27 09:37] robocary opened #9246 "Hi, I use apollo3.0 in navigation mode, use camera and radar to get fusion obstacle perception. But the if the obstacle is within 6 meters front of the car , it won't be detected, how to decrease this perception dead zone."
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-07-27 12:03] AyushiRathore commented on #9081
My dreamview has launched successfully after following the solution:
I installed PCL library and CPU does not support AVX instructions solution as given in the link below:
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md
after this, my dreamview has been launched successfully !!

[2019-07-27 12:03] #9081 closed

[2019-07-27 14:39] mickeyouyou opened #9247 "cyber protobuf_factory warning about cross host"
same message struct must be defined cross host , maybe we not this warning log on this situation.

![0727](https://user-images.githubusercontent.com/3821311/61995766-530b4380-b0bf-11e9-8218-f379ecdfc70c.png)

[2019-07-27 20:35] YingjieLu commented on #4674
As far as I noticed, it is not replaced, instead it got name changed, and become the planner that by default being applied. Lattice planner still exists in the code in 3.5, but it is not used anymore.

[2019-07-29 08:55] lucianzhong opened #9249 "Failed to start Dreamview & Failed to open map meta file: /metaInfo.json"
After the build process: bash scripts/bootstrap.sh
And it says failed to start dreamview.
In the dreamview log file says:Failed to open map meta file: /metaInfo.json.

zy@in_dev_docker:/apollo$ bash scripts/bootstrap.sh
nohup: appending output to 'nohup.out'
Launched module monitor.
nohup: appending output to 'nohup.out'
Launched module dreamview.
Failed to start Dreamview. Please check /apollo/da

[2019-07-29 09:10] cidihnuai commented on #9230
Most of the time,the can device is not connected by that channel. if it is connected,check the Termination resistor，it should has two 120 ohm resistor.

[2019-07-29 09:11] gengqx commented on #9230
Most of the time,the can device is not connected by that channel. if it is connected,check the Termination resistor，it should has two 120 ohm resistor.

[2019-07-29 09:18] gengqx commented on #9219
See [PR](https://github.com/ApolloAuto/apollo/pull/8085),Currentlly apollo team seem did not want to update their docker,So,You can install the lib into docker ,commit the docker,modified WORKSPACE.in file from git to local.

[2019-07-29 09:26] zzq1016 commented on #9220
could anyone know how to fix it?

[2019-07-29 18:32] natashadsouza commented on #9237
@gvc0461082002
In response about your question:
1. AXU is not required, but the ASU is.
2. Could you link to where this note was mentioned, or give us more details about it.

[2019-07-29 19:42] jmtao commented on #9235
@s894330 you are right. The best way to compare two floating-point values is to use an accuracy threshold instead of "==". But here we are comparing two s values and **we are iterating**, I think the tolerance is not too low, and inaccuracy can be ignored.

[2019-07-30 00:00] warden2018 commented on #9199
Hi @luqiang21 , according to your suggestion, I should check the map input part. So what does the road/lane boundary looks like and how  it should fit the Apollo requirement? Could you please kindly show some examples.

[2019-07-30 00:11] gvc0461082002 commented on #9237
HI Natasha:
It's in the "Apollo 3.5 Hardware and System Installation Guide", located at "Additional Components Required"
Thanks for your quick reply.
1. May I know ASU is necessary in Apolloauto3.5?
2. Is it possible to implement Hardware assembly without ASU on 5.0 and 3.5?
3. If it's a must one, may I know how long it can be ready by order ?

Cheers
Fenglu Ge

[2019-07-30 00:52] sjiang2018 commented on #9242
1. If the localization frame rate is 100 frame/sec, than 6000 frames is total frames collected within 1-minute. You can modify the number based on your need.
2. Yes. In our case, we need at least 20 consecutive data frame for model training. You may also modify this number if your model training doesn't have this requirement.

[2019-07-30 02:07] luqiang21 commented on #9199
@warden2018 I am not 100% sure your problem is due to map file. But you can try to check it. For the map example, you can check [here](https://github.com/lgsvl/apollo-3.5/blob/simulator/modules/map/data/shalun/sim_map.txt) and look at the structure of a lane. The point's coordinate in central_curve, left_boundary, right_boundary shouldn't be the same.

[2019-07-30 03:15] DongAi commented on #9249
1. please check the log file
2. use gdb to attach core file and Dreamview, use bt command to check the backtrace

[2019-07-30 03:22] BigBenSure commented on #9219
Thank you very much!

[2019-07-30 03:22] #9219 closed

[2019-07-30 05:07] s894330 commented on #9235
hi jmtao

I know this function is iterating, but I think there still has some problem even if it is iteration. Let me take an simple example:

the routing_waypoint_index_[] array only has two member, first member's waypoint.s is 4.76532110, second member's waypoint.s is 7.31. And we know the adc_waypoint is calculate by mathmatical, it will has little deviation every time it calculated, take for e

[2019-07-30 05:07] #9235 closed

[2019-07-30 10:06] warden2018 commented on #9199
@luqiang21 Thanks for your help. I will update after the check.

[2019-07-30 17:11] jmtao commented on #9218
Hi @KevinYuk , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-07-30 17:11] #9218 closed

[2019-07-30 17:22] jmtao commented on #9197
@Fla3inH0tCheet0s is there an example on what scenario service APIs provided by Routing module can support better?  e.g., what module, besides the existing ones, may send routing requests via routing service APIs?
We want to understand the request better.   Thx!

[2019-07-30 17:41] jmtao commented on #8354
@hezudao23 path planning is independent from speed planning.  So the path generated by your customized or different resolution shall still work with the speed planning algorithms followed.
BTW, in Apollo 5.0, we are not using dp_poly_path_optimizer any more.

[2019-07-30 17:59] Fla3inH0tCheet0s commented on #9197
The specific scenario that I had in mind was sending a routing request via a web interface. In this case, a module can be made that converts communications like websockets to cyber. It's beneficial to report errors. Not creating a route in time is considered an error. Instead of just publish and subscribe, a blocking remote call would preferred. This feature can be done with publish and subscribe

[2019-07-30 19:44] hongbozhu0303 commented on #2974
@jilinzhou I have the same concern. Have you figured out  why MAX_CAN_RECV_FRAME_LEN is set to 10. Thanks

[2019-07-31 00:22] sjiang2018 commented on #9211
Thank you for your interest in Apollo platform.
Q1. The configure file is mkz7_data_collection_table.pb.txt. It is in apollo repo.
Q2. Yes.
Q3. No. It is not at autonomous driving mode. Thus, we don't need other modules.
Q4. https://github.com/ApolloAuto/apollo/blob/master/docs/specs/calibration_table/control_calibration.md
This one is the latest version.
Q5. To verify a calibration table, you may

[2019-07-31 01:04] KevinYuk commented on #9218
@jmtao OK. Thanks for your quick feedback.

[2019-07-31 02:25] mitsudome-r commented on #3005
@msbeta @natashadsouza
Could you share the latest Apollo OpenDRIVE specification with me, please?
My email is ryohsukei@yahoo.co.jp.

Thankyou.

[2019-07-31 02:49] s894330 opened #9275 "on_lane_planning: code scequence minor issue"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (5.0)**:

### Description
Hi apollo

When I study on_lane_planning.cc, I found a minor code scequence issue. In RunOnce() at about line 230 (shown below)
[code]
the scequence is:
1. reference_line_provider_->UpdateRoutingResponse(*local_view_.routing);
2. refere

[2019-07-31 13:59] Andrea2202 opened #9276 "Bug in open planner"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or bina

[2019-07-31 23:23] JasonZhou404 commented on #9276
Yes, you are right. It's a potential bug when there's no obstacles within the boundary. Will fix it accordingly.

[2019-08-01 03:34] wzjin2017 commented on #9241
In[ this work](https://speakerdeck.com/mzweilin/magic-tricks-for-self-driving-cars?slide=6) from Baidu, you guys used YOLO v3. Is this v3 also the one used in the complete Apollo?

[2019-08-01 06:57] natashadsouza commented on #9276
@Andrea2202  #9283 should resolve your bug. Thank you so much for your support!

[2019-08-01 06:57] #9276 closed

[2019-08-01 10:42] warden2018 commented on #3843
@startcode @wckorealsh Currently, I am also working on routing and planning. After routing, dreamview will show just one reference line. But the driving road has two lanes. Is it working correctly?
![Screenshot from 2019-08-01 18:42:18](https://user-images.githubusercontent.com/48422255/62287280-22932300-b48c-11e9-828e-4a0e6ec3f0c9.png)

[2019-08-01 20:28] Hershey988 commented on #8439
Hi @jmtao, I did what you suggested and whenever I request a route the planning module stops, but I can see the red line (routing)on the map.

[2019-08-02 08:48] esra-acar opened #9293 "Localization frame in static transformation"
Is **localization frame** (stated in the configuration of static transformation) **vehicle frame** (body frame) explained in https://github.com/ApolloAuto/apollo/blob/master/docs/specs/coordination.pdf?
And how is the vehicle frame connected to **world frame**?

[2019-08-02 10:38] cicelprg commented on #9247
Now, this log can not be close，it is recommended to remove duplicate defined class.

[2019-08-05 11:39] mahmoodn opened #9304 "Black screen for localhost:8888"
With a clean clone, I ran the following commands
[code]

Now when I open browser and enter localhost:8888, I see a black page only.
It seems that some is started. Any recommendation for more debugging?

[2019-08-05 11:41] mahmoodn commented on #9304
BTW, mkz_example is present

[code]

[2019-08-05 19:17] Fla3inH0tCheet0s opened #9307 "Cyber Reader Doesn't Clear Callback Before Shutdown"
**Describe the bug**
`Cyber::Reader` should wait for all callbacks to return before returning from the destructor or shutdown method. Without doing so there is a risk that the callback will access deallocated data. This bug is more obvious when using member variables in longer callbacks and shutting down.

A workaround is to wrap the readers in a class. Then, in the wrapper class's destructor call

[2019-08-05 22:42] natashadsouza commented on #9304
@mahmoodn did you run `bash scripts/bootstrap.sh`? Refer to [our launch guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_launch_Apollo.md)

[2019-08-06 03:33] mickeyouyou opened #9314 "maybe docker-cn.com should be removed because of it's response"
use `./docker/scripts/dev_start.sh -C `response :

y[INFO] Start pulling docker image registry.docker-cn.com/apolloauto/apollo:dev-x86_64-20190617_1100 ...

Error response from daemon: Get https://registry.docker-cn.com/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
[ERROR] Failed to pull docker image.

[2019-08-06 05:56] einspyon commented on #9185
Why I can't find anything about "sins.h" in source code ?

[2019-08-06 06:01] jinfagang opened #9316 "Cyber SDK"
Does there any standealone cyber SDK which can be used in C++ or Python deal with record files?

[2019-08-06 06:46] mickeyouyou commented on #8196
will remove docker-cn please use default docker image download url.

thanks

[2019-08-06 06:46] #8196 closed

[2019-08-06 06:47] mickeyouyou commented on #9314
merged remove codes for docker-cn

[2019-08-06 06:47] #9314 closed

[2019-08-06 08:42] baowanyu commented on #9316
There is no standalone SDK, all api files are stored in Apollo git repo.
C++ API：apollo/cyber/record/
Python API: apollo/cyber/python/cyber_py/record.py

[2019-08-06 09:07] fengqikai1414 commented on #9307
Hi @Fla3inH0tCheet0s ，when a Reader is destructed, the topology manager is notified to de-register the reader-related information, and then the scheduler deletes the callback registered by the Reader. If the callback is being executed, it needs to wait for its execution to complete.

Callbacks are inherently an asynchronous process that does not require follow RAII here.

The root cause of this ri

[2019-08-06 09:08] maxenceliu opened #9318 "Will Apollo Lite be released? And when?"
Mentioned on title

[2019-08-06 14:18] OrkunYilmaz commented on #6747
@techoe I am getting this error when I follow your guide:
Any Idea what I can do?

E0806 16:15:17.537537 20013 transform_server.cc:49] [] load velodyne128 extrisic file  error, YAML exception:bad file
F0806 16:15:17.537578 20013 offline_obstacle_pipeline.cc:165] Check failed: transform_server.Init(camera_names, FLAGS_params_dir)

[2019-08-06 18:19] Fla3inH0tCheet0s commented on #9307
How? The callback may be queued up so any non static or non global variable accessed would be invalid. It seems better to define this in the cyber library.

This is an isolated test. For a more real example, think of the planning component. If the component goes out of scope both the readers and the member variable `local_view_` go out of scope. The readers are shutdown, but `Proc` could still run

[2019-08-06 20:31] jmtao commented on #9275
@s894330 all the attributes of vehicle_state is independent of routing or planning's reference line.
https://github.com/ApolloAuto/apollo/blob/master/modules/common/vehicle_state/proto/vehicle_state.proto
reference line is generated based on routing.  we just want to make sure vehicle_state gets updated when we generate reference line.  The sequence (update vehicle_state before or after new routin

[2019-08-06 20:35] jmtao commented on #9197
@Fla3inH0tCheet0s we currently don't support remote routing request. we may add that in the future. It's not gonna be as simple as a set of APIs only.

Thanks for supporting Apollo!

[2019-08-06 20:35] #9197 closed

[2019-08-06 20:36] jmtao commented on #8354
Hi @hezudao23 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2019-08-06 20:36] #8354 closed

[2019-08-06 22:00] Fla3inH0tCheet0s opened #9321 "Dreamview's SimControl separated into its own module"
As of 099f135a464f85b10599040073806fcb6b2d6c25, Apollo's open source simulator is located in dreamview/backend/sim_control. It would be nice if it was in its own module. That way it can be started and stopped without a UI. This feature is useful for process level, real-time integration frameworks.

I know there are a few solutions to running dreamview without a UI in https://github.com/ApolloAuto/

[2019-08-07 01:06] xmyqsh commented on #9321
@Fla3inH0tCheet0s
That's a good suggestion.
The `dreamview/backend/sim_control` is `PerfectControlModel`.
Do you know where is the `Control-in-loop Simulation`?
@natashadsouza [Dynamic Model - Control-in-loop Simulation](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/dynamic_model.md)

[2019-08-07 05:48] jinxinyang opened #9326 "Apollo test"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2019-08-07 05:49] #9326 closed

[2019-08-07 08:01] rommelcyzyb commented on #3005
@msbeta @natashadsouza
Could you please send me the latest Apollo OpenDRIVE specification ?
My email is rommelcyzyb@163.com
Thanks!

[2019-08-07 09:06] Aidous opened #9330 "Duplicate definition "delta_s_" in lateral_osqp_optimizer and lateral_qp_optimizier.h"
**Describe the bug**
Variable duplicate definition

**To Reproduce**
There is Inherited relationship between the class "LateralQPOptimizer" and "LateralOSQPOptimizer". If you define "delta_s_" in "LateralOSQPOptimizer",  the "delta_s_" in "LateralQPOptimizer" will be never changed.

[2019-08-07 09:34] #6079 closed

[2019-08-07 09:37] Jordanyang commented on #6079
I solve this problem by using separate usb3.0 connects each camera，because they can supply enough power.

[2019-08-07 12:13] xmyqsh opened #9333 "Could anybody share a .bag file for me?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 14.04
- **Apollo installed from (source or bina

[2019-08-07 15:01] renegadephysicist opened #9336 "Open Space planner doesn't appear to work"
**Describe the bug**
When running the open space planner with Sim Control and selecting a parking spot using the Sunnyvale Map with two offices it stalls

Hash:  4f5fb4463ec1c607b17fb62663c553b830f6a1f3

**To Reproduce**
1. Select Sunnyvale map with two offices
2. Select Sim Control
3. Select Routing and Planning
4. Go to default routing and select any parking space

**Expected behavior**
Planner

[2019-08-07 17:55] robotsoft opened #9339 "Reference frames in ant_imu_leverarm.yaml and vehicle_imu_extrinsics.yaml"
Hello,

I'm trying to use MSF localization according to https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_MSF_localization_module_on_your_local_computer.md. I have a couple of questions as follow.

Q1. Could you let me know the reference frame of offsets in modules/localization/msf/params/gnss_params/ant_imu_leverarm.yaml? Is it IMU frame or Vehicle frame?

Q2. Could you let m

[2019-08-07 18:48] kevin-y-wang commented on #9229
In the reverse-driving model, due to the inaccuracy of the lateral translational motion which was originally designed for forward driving, we replace this dynamic equation with the following kinematic equation:
y_dot  = V * sin(phi-phi_des)
by simplification and small-angle assumption, it is given by:
e1_dot = V * e2
Thus, we have
matrix_a_coeff_(0, 2) = 1  (when gear_reverse)
matrix_a_(0, 2) = ma

[2019-08-07 20:42] Fla3inH0tCheet0s commented on #9307
I did some more testing on running `mainboard -d modules/planning/dag/planning.dag`. The original issue doesn't affect components started with mainboard. I'm still getting my head around the structure. It appears that Mainboard controller shutsdown all its components. Then, Cyber's [ExitHandle](https://github.com/ApolloAuto/apollo/blob/master/cyber/init.cc#L85) stops all the tasks. Finally, the [s

[2019-08-07 21:50] deidaraho commented on #9336
We are going to reset the GFLAG and use our own searching-based method to solve the problem instead of IPOPT for this issue.

[2019-08-07 23:58] xmyqsh commented on #9339
@robotsoft
For Q1, the ant_imu_leverarm.yaml, there is no Vehicle frame. It is the offset(extrinsic) between imu(Novatel) and the two antennas, the primary and secondary antenna, for the purpose of 双天线测向.

For Q2, vehicle_imu_extrinsics.yaml, it is extrinsic between Vehicle Frame and IMU Frame. While, in apollo coordinate definition, the Vehicle Frame is same as the Novatel(IMU) Frame exactly, who

[2019-08-08 00:42] robotsoft commented on #9339
@xmyqsh,
Do you mean I need to leave vehicle_imu_extrinsics.yaml by default even though IMU frame and Vehicle frame is different in my platform? If not, could you let me the reference frame of vehicle_imu_extrinsics.yaml? Is it IMU frame or Vehicle frame?

[2019-08-08 02:23] fengqikai1414 commented on #9307
@Fla3inH0tCheet0s ,

Please see [here](https://github.com/ApolloAuto/apollo/blob/136b0d50260d65eb11997a318d0fd6abbd1efd19/cyber/node/reader.h#L302) and [here](url). If the callback is executing, `cr->Acquire()` will return false, the thread will wait in a loop until the callback execution is complete, then `cr->Acquire()` returns true, and then the callback is removed from the task queue.we just m

[2019-08-08 08:15] lf2eddie opened #9354 "Nvidia Caffe parser is not working with bazel"
Hello,

I'm trying to implement my own traffic light detection model through TensroRT 4.0.1.6 in apollo. However there is a run-time error occurred while using NvCaffeParser. (NvCaffeParser is a class in TensorRT, sourced from libnvcaffe_parser.so)

For more detail, the run-time error occurs when CaffePaser is trying to build network through  IPluginFactory (also a class in TensorRT) for our custo

[2019-08-08 08:54] s894330 commented on #3005
hi @msbeta @natashadsouza
Could you please send me the latest Apollo OpenDRIVE specification ?
My email is s894330@gmail.com
Thank you :-)

[2019-08-08 09:04] s894330 commented on #9275
hi jmtao

OK, thank you :-)

[2019-08-08 09:04] #9275 closed

[2019-08-08 11:52] vishnum92 commented on #3005
hi @msbeta @natashadsouza
Could you please send me the latest Apollo OpenDRIVE specification ?
My email is ecmcet@gmail.com
Thank you :-)

[2019-08-08 14:10] Ivesss commented on #4943
From the last cycle, remember this is a iteratively planning

[2019-08-08 15:37] TillBeemelmanns commented on #9176
Not only road02_seg does not contain the sky class, but also road03_seg and road04_seg are affected

[2019-08-08 18:02] #9330 closed

[2019-08-08 20:01] Hershey988 commented on #5452
@lianglia-apollo I am having a similar issue when I am using SimControl.

Running Apollo 3.0 on Ubuntu 14.04.

**Here are the steps I am taking:**
1. Start dreamview using bootstrap.sh script.
2. Choose the Mkz example vehicle.
3. Turn on SimControl. I see Localization and Chasis modules running.
4. I turn on the Planning module.
5. I turn on the Routing Module.
6. From default routing I click on

[2019-08-08 23:09] Fla3inH0tCheet0s commented on #9307
I tried out https://github.com/ApolloAuto/apollo/pull/9332 on the test. It passed. Thanks!

[2019-08-09 00:51] jarvisWang0903 commented on #9176
@techoe Help~

[2019-08-09 00:56] xmyqsh commented on #9339
@robotsoft It depends on your definition. Questions like who is the parent or child frame, it doesn't matter. Just cope with it in the code accordingly.  Well, it indeed does matter from the aspect of calculation efficiency, error propagation, and code convenience.
Anyway, I think most people like to set the Vehicle frame as the parent frame.
On the other hand, it is best for you to set the Imu(No

[2019-08-09 00:59] jarvisWang0903 commented on #9176
Yes, But it does have in there description. Did they forget to label this class? And I also find that the rider class includes motorcycles/bicycle and rider, so it has to be ignored with sky class when I process to match the cityscapes 19 class.

[2019-08-09 01:44] #9307 closed

[2019-08-09 10:40] daohu527 commented on #8633
@KaWaiTsoiBaidu
Is it angle or radians? It seems like **radians** but not angle. Could you pls help to check that. Aslo Which side does it rotate to?

[2019-08-09 16:56] angrysword commented on #9318
Same here

[2019-08-10 01:15] natashadsouza opened #9363 "[Announcement]: Apollo is migrating to Ubuntu 18.04"
Hey guys,

Apollo has been successfully migrated to Ubuntu 18.04. We don’t expect a big disruption to your current work with Apollo repo, but for perception related code, you would need to:

1. Upgrade host to ubuntu_16.04 and above (Ubuntu 18.04 is preferred)
2. Update local host NVIDIA driver >=410.48. [Website link](https://www.nvidia.com/Download/index.aspx?lang=en-us)
3. Install NVIDIA-docker

[2019-08-10 07:55] wanggujin opened #9364 "Question about ObstacleClusters::GetLaneGraph()"
Apollo 5.0
[ObstacleClusters::GetLaneGraph](https://github.com/ApolloAuto/apollo/blob/949d2b0619e96e723714445233eecfed6c3dbfea/modules/prediction/container/obstacles/obstacle_clusters.cc#L61)

why only update start_s here ?
there is no need to update end_s and adc_s ?

[2019-08-10 11:07] udeto opened #9365 "CANBUS ERROR: Failed to create can client"
### System information
- **Linux Ubuntu 18.04**:
- **Apollo installed from binary**:
- **Apollo version 3.0**:

Hello,
I am trying to run apollo 3.0 with carla 0.9.5 using a ROS bridge (https://nemodrive-docs.readthedocs.io/projects/nemodrive-apollo/en/latest/config_run.html#running).

When I open dreamview I am getting an error, saying that the can client could not be created.
Full error from log

[2019-08-12 14:38] OrkunYilmaz opened #9369 "How to execute offline_lidar_obstacle_perception"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2019-08-13 03:03] gaohongfein commented on #3005
Could you please send me the latest Apollo OpenDRIVE specification ?
My email is gaohongfeinn@gmail.com
Thank you :-)

[2019-08-13 06:21] Capri2014 commented on #9365
Do not try launch Canbus modules in simulation environment, especially when you do not have a physical canard installed in your computer..

[2019-08-13 06:23] zzq1016 commented on #9369
I also met this question. ask for help!

[2019-08-13 07:05] zhuozhua commented on #5747
I found the same problem here, it doesn't make sense to QueryNearestPointByPosition for a trajectory point. Any update on this?

[2019-08-13 12:41] OrkunYilmaz opened #9376 "Error cyber_launch start camera.launch with one camera input"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or bina

[2019-08-13 18:25] tkkhuu commented on #9220
I was able to get pass this, if you passed in the --work_root="/apollo/modules/perception/production", that path has a "./conf" directory for the script to use

[2019-08-14 03:10] sinopec commented on #9086
完全可以自己构建，但是各种版本依赖会把你逼疯的

[2019-08-14 12:23] debuleilei opened #9388 "How to calibrate the extrinsic parameters between LiDAR and GNSS/INS"
Hello ,I've read the Method for calibrating the extrinsic parameters between LiDAR and GNSS/INS.and I've finished the first step .But I don't know how to use the initial parameters to do the optimization .I've get the Minimal Transform Matrix after the GICP ,the I try to get the x,seem like AX=XB,but the 8 way can only give One-dimensional constraint，I mean the axis of rotation is parallel.so I ca

[2019-08-14 18:10] tkkhuu commented on #9369
You first need to prepare ".pcd" and ".pose" files, there's an exporter to let you do that from record files. Then you need to change the flags in the shell scripts to match your path, this is my command to run:
 ```bazel-bin/modules/perception/lidar/tools/offline_lidar_obstacle_perception --pcd_path=_apollo_sensor_velodyne64_compensator_PointCloud2_data/pcd_path/ --pose_path=_apollo_sensor_velody

[2019-08-14 18:59] tkkhuu opened #9391 "Visualize output of offline_lidar_obstacle_perception"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 14.04
- **Apollo installed from (source or bina

[2019-08-15 03:28] suhyung-code42 commented on #9318
anything?

[2019-08-15 04:05] Harry1993 opened #9397 "Traffic signs perception"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 18.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 5.0

Thank you guys for providing such an amazing platform. I have a few question about traffic signs perception as follows.

How does Apollo perceive traffic signs? Using YOLO?

How do we test whe

[2019-08-15 04:36] gengqx opened #9398 "18.04 CI test failures when missing libcuda.so: /usr/lib/x86_64-linux-gnu//libcuda.so: file not recognized: File truncated"
Currently,our CI sever has no GPU card and nvidia driver,we use it to build and do basic test, after update to 18.04 docker, it would get this error. We have saw this [pull request](https://github.com/ApolloAuto/apollo/commit/498f27488c102741e927d0e56c83ae4c4104b23d)  Travis: fix ci test failures when missing libcuda.so.  Could fix this problem in Ubuntu 18.04?

[2019-08-15 04:46] Harry1993 commented on #9397
I want to do the test only in the simulation mode, not in the real-world scenario.

[2019-08-15 07:54] bssung opened #9401 "How to close log system?"
I'd like to know how to stop generating log files.  Is there a switch to stop collecting log?

[2019-08-15 08:43] renegadephysicist commented on #9229
Thanks for the reply, would it not be more accurate to use the same kinematic model with rear wheel steering and the heading rotated 180 degrees?

[2019-08-15 10:31] maxenceliu commented on #9318
Is there any schedule？

[2019-08-15 16:44] michaelhsmart commented on #9125
@xmyqsh azimuth and yaw are similar, but not typically the same. Azimuth is world-fixed while yaw is body-fixed.

@debuleilei Does this link partially help? https://docs.novatel.com/oem7/Content/SPAN_Logs/INSPVA.htm

[2019-08-15 22:20] ycool commented on #9398
Fixed by https://github.com/ApolloAuto/apollo/pull/9407. Thanks for the report.

[2019-08-15 23:36] natashadsouza commented on #9398
@gengqx thank you so much for testing out our latest update to Ubuntu 18.04. We really appreciate your feedback :)
Closing this issue as it has been resolved!

[2019-08-15 23:36] #9398 closed

[2019-08-16 01:06] natashadsouza commented on #9363
Please ensure that you **update local host NVIDIA driver >=410.48** before you **install NVIDIA-docker 2.0**.

[2019-08-16 03:03] cicelprg commented on #9376
It looks like a device problem, the video device output image size is zero. You can use some tools to check if the camera is working, such as luvcview，and so on.

[2019-08-16 04:25] gengqx commented on #9398
Fixed,Thx.

[2019-08-16 07:15] alexbuyval commented on #9363
Hi Natasha,

I tried to run the cyber_visualizer in the new docker, however 'command not found'
[code]
I have not found any source code for cyber_visualizer, so I decided that it was included in the docker container and the new container does not contain the visualizer yet. Right?

[2019-08-16 09:35] baowanyu commented on #9401
You can change GLOG_minloglevel to 4 in /apollo/cyber/setup.bash

[2019-08-16 09:46] bssung commented on #9401
@baowanyu That works. Thank you!

[2019-08-16 09:46] #9401 closed

[2019-08-16 10:46] #9247 closed

[2019-08-16 17:17] #9365 closed

[2019-08-16 18:10] daviduhm opened #9421 "Traffic light perception crashes with Segmentation fault error"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 18.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 5.0

@ycool I'm testing the new released docker image based on Ubuntu 18.04 and cuda 10. Everything else (i.e., LiDAR detection, prediction or any other modules) is working well except the traffic

[2019-08-16 18:27] natashadsouza commented on #9363
@quning18 please confirm?

[2019-08-16 18:59] kevin-y-wang commented on #9229
Based on our design principle, the autonomous driving car is assumed to be the front-wheel steering which may cover most of the car models in market.
However, if the car in your project happened to be a rear-wheel steering car, then directly applying the forward-driving dynamics (with some variables changed by 180 degrees) will be a good fit. Thanks.

[2019-08-18 17:49] lukasthede opened #9431 "No conrtol-module output"
Hello,

I am trying to run apollo 3.0 with the carla simulator (0.9.5) using a ros-bridge (https://nemodrive-docs.readthedocs.io/projects/nemodrive-apollo/en/latest/installation.html)
I successfully set up the ros-bridge, so that the car and the map are showing up in dreamview. But when I send a routing request the car does not move a bit, even though the planning module is working fine (blue plan

[2019-08-18 18:00] lukasthede opened #9432 "Perception module without radar input"
Hello,

I am trying to launch apollo 3.0 alongside the carla simulator (version 0.9.5) using a ros-bridge.
Because carla has no radar sensors I need to run perception without radar input. I tried to simply run the perception module without the radar input, but I am not getting any output from the perception module.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04

[2019-08-18 18:43] christian-lanius commented on #9363
The cyber_visualizer code is found in modules/tools/visualizer, the respective build target is //modules/tools/visualizer:cyber_visualizer
Can you try running /apollo/bazel-bin/modules/tools/visualizer/cyber_visualizer ?

[2019-08-19 02:15] gusamqq opened #9433 "CyberRT, coroutine to thread mapping"
As I understand, the mapping from tasks (coroutines) to thread is dynamic at runtime, not static at design time. But this may create problems in timing predictability, since it is difficult or impossible to determine a thread's WCET (worst-case execution time) for real-time schedulability analysis, since you do not know which tasks will be executed in the thread.
Where can I find more details on t

[2019-08-19 02:20] gusamqq commented on #9433
What is the RTOS (real-time operating system) used underneath CyberRT? Is it developed in-house?

[2019-08-19 06:08] JackRen88 opened #9434 "What is ROI's function?"
Hello,everyone!
I don't understand the ROI mentioned in the open spacel planner, what is its function?
Can you explain it to me?

[2019-08-19 06:22] OrkunYilmaz commented on #9376
The camera is working when I use it with cheese

[2019-08-19 07:39] OrkunYilmaz commented on #9369
I already prepared the pcd and pose files. When I run the command you proposed I get the following errors:

![Screenshot from 2019-08-19 09-37-08](https://user-images.githubusercontent.com/26686384/63247379-2f25c280-c265-11e9-8cf0-534a91e8950b.jpg)

[2019-08-19 07:51] askariz commented on #9321
Hi
@xmyqsh do you find out where is the Control -in-loop Simulation ?
@natashadsouza  the announce of apollo that mention r5.0 have the feature of it ? but it seems that i can find out any instruction of it ?

[2019-08-19 08:11] askariz opened #9436 "Control In Loop Function Missing ?"
the apollo 5.0 support control-in-loop function ?
it seems we still can not use it with dreamview .
How soon can we use it ?

[2019-08-19 09:38] bssung commented on #7184
@jian3os  Do you find a way to cross-compile in bazel 0.5.3 ?

[2019-08-19 11:10] omaidb commented on #7336
monitor.log.info.20190819-174547.13339
Log file created at: 2019/08/19 17:45:47
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0819 17:45:47.556493 13339 class_loader_utility.h:78]  registerclass:Monitor,apollo::cyber::ComponentBase,/apollo/bazel-bin/modules/monitor/libmonitor.so

[2019-08-19 11:12] omaidb commented on #7336
[log.tar.gz](https://github.com/ApolloAuto/apollo/files/3515553/log.tar.gz)
这是相关的日志

[2019-08-19 11:41] omaidb commented on #9304
allride@in_dev_docker:/apollo$ bash scripts/bootstrap.sh
Module monitor is already running - skipping.
Module dreamview is already running - skipping.

[2019-08-19 18:44] unacao commented on #9321
control-in-loop can be enabled on Apollo Simulation Service http://apollo.auto/platform/simulation.html

[2019-08-19 18:46] kechxu commented on #9364
@wanggujin Thanks for your question. The end_s is updated in obstacle.cc

[2019-08-19 20:56] JasonZhou404 commented on #9434
Roi refers to "Region of Interest", describing the drivable area and target position

[2019-08-19 20:56] natashadsouza commented on #9436
@askariz thank you for your interest in Apollo. Control-in-loop is not a feature in Dreamview, but in [Dreamland](http://apollo.auto/platform/simulation.html). You can learn more about it [in this document](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/Dreamland_introduction.md). Please let us know if you have any more questions!

[2019-08-19 23:02] hugomatic opened #9442 "Duplicate code in tools"
tools/record_play/logger.py and tools/create_map/logger.py are identical.

Please move this module to a shared location because it is useful for many Python scripts. I suggest it should to add it to cyber_py.

I find it very useful useful and I would like to avoid making an extra copy for my own tools.

[2019-08-19 23:28] natashadsouza commented on #9316
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions.

[2019-08-19 23:28] #9316 closed

[2019-08-19 23:28] natashadsouza commented on #9242
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions.

[2019-08-19 23:28] #9242 closed

[2019-08-19 23:30] natashadsouza commented on #9241
Hi @wzjin2017 thank you for your interest in Apollo. We currently use YOLO 2.Let me know if you have any additional questions.

[2019-08-19 23:30] #9241 closed

[2019-08-19 23:30] natashadsouza commented on #9249
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions.

[2019-08-19 23:30] #9249 closed

[2019-08-19 23:33] natashadsouza commented on #9304
@omaidb @mahmoodn you could refer to [the Dreamview start guide](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) for additional debugging information.

[2019-08-19 23:38] natashadsouza commented on #9237
@gvc0461082002 my apologies for not getting back to this sooner, in response to your questions:
1. May I know ASU is necessary in Apolloauto3.5? Yes it is necessary
2. Is it possible to implement Hardware assembly without ASU on 5.0 and 3.5? We have not tested it internally. You would definitely need to make software modifications to handle low level sensor fusion
3. If it's a must one, may I know

[2019-08-19 23:38] natashadsouza commented on #9234
Closing this issue as it appears to be resolved. Feel free to reopen if you have additional questions!

[2019-08-19 23:38] #9234 closed

[2019-08-20 01:50] Capri2014 commented on #9431
did you connect it with a simulated vehicle? From this limited information, looks like no chassis feedback seen by control

[2019-08-20 02:26] omaidb commented on #9304
@natashadsouza  我是在ssh中运行, bash scripts / bootstrap.sh 提示我没有找到监视器，我在gui下重新运行，但是提示我已经运行，我 bash scripts / bootstrap.sh stop 后再运行 bash scripts / bootstrap.sh start 后可以打开localhost:8888了，我没有想到监视器是必备的

[2019-08-20 02:26] askariz commented on #9436
@natashadsouza  Thank you for you kindly remind . I get picture of it .

[2019-08-20 02:27] #9436 closed

[2019-08-20 02:27] omaidb commented on #9333
我下载了一个bag，但是我不知道怎么播放它

[2019-08-20 03:21] zhuzd12 opened #9443 "unit_t_ in dp_st_cost.cpp and gridded_path_time_graph.cpp is not consistent"
It seems that the calculation of unit_t_ in dp_st_graph.cpp is not consistent with which in gridded_path_time_graph.cpp, causing anomalies when time resolution is fairly low.

## dp_st_graph.cpp (incorrect)
[code]

## gridded_path_time_graph.cpp (correct)
[code]

[2019-08-20 03:27] omaidb opened #9444 "apollo5如何播放bag"
OS:Ubuntu16.04
apollo install git source
apollo5
我按照安装指引文档一步步安装完成apollo5,最终打开了localhost:8888
![image](https://user-images.githubusercontent.com/18365223/63315311-4932d400-c33d-11e9-8dce-ee076cc6df2e.png)
我下载了demo.bag
但是我不知道要怎么播放bag
apollo5没有ros，无法使用rosbag播放

[2019-08-20 04:12] XiaoHongZuLiao commented on #1452
您好！请问这个高精度地图该怎么使用啊，是不是先必须把平台搭起来

[2019-08-20 06:19] gvc0461082002 commented on #9237
Dear Nataha:
Thanks for your suggestions.

Regards
Fenglu Ge

[2019-08-20 06:19] #9237 closed

[2019-08-20 07:38] udeto commented on #9431
Yes I connected the simulated vehicle from carla using the ros-bridge.
This is the rqt_graph of the Setup:
![apollo-carla](https://user-images.githubusercontent.com/52383800/63326359-5b584680-c32c-11e9-88bd-51b3e1d09f4b.png)

As you can see chassis feedback is send from the apollo-side of the ros bridge to the modules using the topics /apollo/canbus/chassis with following message:
`engine_started:

[2019-08-20 07:43] zzq1016 commented on #9220
thank you for reply!
Could you tell me how to Prepare PCD and Pose Data in apollo 5.0? I follow https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_offline_perception_visualizer.md, but this id for apollo 3.5. It didn't work.

[2019-08-20 08:02] udeto opened #9445 "rtk localization error: IMU message buffer is empty"
Hi,

I am having trouble understanding the following error:

After I start apollo (using dev_start, dev_into and bootstrap.sh) I open dreamview and start the modules (localization, routing, guardian, control, prediction and planning). I select a map and a car in dreamview, as well as the standard mode. However the car does not show up on the screen.

The following error occurs in the localization

[2019-08-20 09:16] yaoweifeng01 commented on #9444
可以参考：https://cyber-rt.readthedocs.io/en/latest/CyberRT_Developer_Tools.html 地址。使用方式比如cyber_recorder play -f 20180720202307.record。详细命令如下：
[code]

[2019-08-20 10:02] jinfagang opened #9448 "Build on local machine error"
Hi, I want build a standalone cyber lib on my local machine, I got error when run:
[code]

Error:

[code]

What's the problem? Or does there any way to build cyber only on local machine?

[2019-08-20 10:48] xmyqsh commented on #9333
@omaidb @techoe
I can only get the `apollo_3.5.recorder`.
Is there an `apollo_5.0.recorder` available soon or later?
Is `apollo_3.5.recorder` could be used in the `branch 5.0.0` or `branch master` ?

[2019-08-20 10:50] xmyqsh commented on #9321
@unacao
Got it. Thanks.