[2018-08-29 13:27] SanduIrina commented on #4626
After running this, and let's say sending a routing request for the car in dreamview, is it supposed to avoid the obstacles it detects on the road?

[2018-08-29 13:28] SanduIrina commented on #5348
It worked on a clean linux install

[2018-08-29 13:30] SanduIrina commented on #5055
Hi, i couldn't find any tool that would do that, so I learned the open drive format and wrote a basic map myself by taking real coordinates from google maps

[2018-08-29 14:44] zhxt commented on #2629
@hongkedavid Hope that helps.
@natashadsouza My pleasure :-)

[2018-08-29 15:23] Zhongen commented on #5417
Hi Jie,

Thanks for your response. Your prompts are very useful. I got better understood about perception module and data platform.
But for files under modules/perception/data/, I have no clue about those and is there any docs for this folder.

Thanks in advance.

[2018-08-29 16:14] nandita05 opened #5550 "HD Map Data upload Error:Upload association failed!"
### System information

- **OS Platform and Distribution: Linux Ubuntu 14.04**:
- **Apollo installed from source**:
- **Apollo version: 3.0**:

### Steps to reproduce the issue:

1. Go to Apollo's HDMap data management website:
http://data.apollo.auto/hd_map/manage/details?locale=en-us
2. Enter details in Data Overview
3. Click on "Upload New Data" under Collection Data List and download the gener

[2018-08-29 17:56] natashadsouza commented on #5543
Closing this issue as it appears to be resolved. @davidhopper2003 if you have additional questions, please reopen the issue.
Thanks!

[2018-08-29 17:56] #5543 closed

[2018-08-29 18:06] natashadsouza commented on #2629
@hongkedavid if your issue is resolved by the suggested fix, kindly close the issue.
Thanks!

[2018-08-29 18:08] natashadsouza commented on #3440
Thanks @davidhopper2003 I am currently closing this issue. If you have any additional questions please feel free to reopen the issue.

[2018-08-29 18:08] #3440 closed

[2018-08-29 21:01] lianglia-apollo commented on #5528
If you can run it on cvxopt, please let us know the time consumption. Thanks! @waverider995

[2018-08-29 21:11] natashadsouza commented on #4050
Closing this issue as it appears to be resolved.

[2018-08-29 21:11] #4050 closed

[2018-08-29 21:32] hongkedavid opened #5553 "A segmentation fault inside caffe for running perception module (v2.5)"
I have my Apollo docker container (v2.5 release) set up with CUDA to run perception module (built by "./apollo.sh build"), but have been having issues with a segfault in the perception module every time I run it. I also tried building with "./apollo.sh build_opt_gpu", but that did not work either.

I also ran it inside valgrind to see what was causing the segfault but did not find anything meaning

[2018-08-29 22:03] natashadsouza commented on #5347
@liuyangly25 my suggestion is to clear your system and re-install Apollo for Ubuntu 14 from scratch. If you see any build errors, please share a screenshot with us. I do believe a library is causing the problem, however as I do not have visibility of it, restarting your installation is the best possible solution.

[2018-08-29 22:04] natashadsouza commented on #5392
@liuyangly25 for Ubuntu 14, you do not need to separately download the glfw file. Please follow the download steps for Ubuntu 14 from the start and let us know if you are getting any errors. Thanks!

[2018-08-29 22:36] natashadsouza commented on #4201
Closing this issue as there has no communication in a while. Feel free to open it should the issue persist.

[2018-08-29 22:36] #4201 closed

[2018-08-29 22:45] natashadsouza commented on #4207
Closing this issue as there has been no communication in a while. Feel free to open it if you are still seeing the error above.

[2018-08-29 22:45] #4207 closed

[2018-08-29 22:52] unacao commented on #4194
Hi All,
https://azure.apollo.auto is the most updated simulation platform. The "Get Started" tab will describe briefly the procedure. The main difference from https://console.bce.baidu.com/apollo_sim/getStart?locale=zh-cn is that you don't need to upload any docker image or binary; instead you just specify your forked apollo repository (e.g. https://github.com/konyhl/apollo.git) and the git commit

[2018-08-29 23:18] Zhenni17 commented on #3820
Hi @ubercool2 , thank you for taking the time to explore Apollo and draft these questions for us. I would like to apologize that we did not get back to your questions sooner. These are all great questions and I will try to answer them individually:

1.    The autonomous driving industry is continually evolving and if you have followed Apollo throughout, you will know that we release newer versions

[2018-08-30 00:00] natashadsouza commented on #4214
Closing this issue as it appears to be resolved.

[2018-08-30 00:00] #4214 closed

[2018-08-30 00:01] natashadsouza commented on #4215
Hi @ynfei sorry for the delay in response. Is it possible to provide your system specifications?
Thanks!

[2018-08-30 00:04] natashadsouza commented on #4218
@songhanchen sorry for the delay in responding to your request. It does seem like you do not have enough memory to install and build Apollo. We recommend 6GB of free memory (maybe slightly more). This is what is causing the error.

[2018-08-30 00:07] jmtao commented on #4964
@levuphuong Hope the information answered your question. If you have any follow up question, please leave a comment below. If we did not hear back from you in 72 hours, we will close the issue and we encourage you to open a new issue if you have any more questions.

Thank you for supporting Apollo!

[2018-08-30 00:10] natashadsouza commented on #4219
Closing this issue as it seems to be resolved.

[2018-08-30 00:10] #4219 closed

[2018-08-30 00:11] natashadsouza commented on #4220
Closing this issue as it appears to be resolved. Thank you @zhxt :)

[2018-08-30 00:11] #4220 closed

[2018-08-30 00:12] natashadsouza commented on #4221
Closing this issue as it appears to be resolved.

[2018-08-30 00:12] #4221 closed

[2018-08-30 00:12] natashadsouza commented on #4228
Closing this issue as there has been no communication in a while.

[2018-08-30 00:12] #4228 closed

[2018-08-30 00:13] natashadsouza commented on #4230
@breakisx is this an issue you are still facing? We apologize for the delay in responding to your question.

[2018-08-30 00:15] natashadsouza commented on #4233
@mtyylx have you been successful working with Titan V? If so, it would be great to hear your findings.
Thanks!

[2018-08-30 00:39] natashadsouza commented on #4255
Closing this issue as the documentation has been updated.

[2018-08-30 00:39] #4255 closed

[2018-08-30 00:40] natashadsouza commented on #4257
Closing this issue as it appears to be resolved.

[2018-08-30 00:40] #4257 closed

[2018-08-30 01:37] lygincn commented on #4012
@Zhenni17
yes, it succedded. Thanks a lot.

[2018-08-30 01:51] lygbeivw commented on #5544
@mickeyouyou Thank you for your reply. Can you please give me some hints about how to compile the message type in Apollo? or is there any tutorial I can refer to ?

[2018-08-30 01:55] lygincn commented on #5544
@mickeyouyou  Thank you for your reply. Can you please give me some hints about how to compile the message types in Apollo? Or maybe is there any tutorials to refer to?

[2018-08-30 02:08] lygincn commented on #5544
@mickeyouyou or more specifically in dev_container :)

[2018-08-30 02:29] liuyangly25 commented on #5392
@natashadsouza , I also tried running apollo on ubuntu 14.4 with NVIDIA driver installed on both host and docker. But I didn't get luck on it. From perception.out file, I got `F0824 11:03:26.991583 13256 cudnn_relu_layer.cpp:13] Check failed: status == CUDNN_STATUS_SUCCESS (4 vs. 0) CUDNN_STATUS_INTERNAL_ERROR`

I guess it is building the graph but suddenly a cudnn internal error occurred.

More d

[2018-08-30 02:31] mickeyouyou commented on #5544
ok, you may need refer driver like https://github.com/KumarRobotics/ublox

that contains the types of all you want to play :
- NavVELNED
- NavPOSLLH
- RxmRAW

In apollo you can find drivers like velodyne lslidar rslidar have some in common.

**How to compile ublox driver into apollo ?**

we just need to compile some message to ROS, so generally use `catkin` tool , you can find a function in apollo

[2018-08-30 02:37] liuyangly25 commented on #5347
@natashadsouza , I don't have build errors now. If using glfw static lib, the build should be find. If using dynamic lib, I need to change the `glfw.BUILD` under `third_party` folder. Something like this:

`licenses(["notice"])`

`package(default_visibility = ["//visibility:public"])`

`cc_library(`
    `name = "glfw",`
    `includes = ["."],`
    `linkopts = [`
        `"-lglfw3",`
        `"-lgl

[2018-08-30 02:50] lygincn commented on #5544
@mickeyouyou Thank you so much. I'll give it a try. ；）

[2018-08-30 02:59] jamchen1025 opened #5562 "What is MSF localization doing in the initial time?"
### System information
- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **Apollo installed from (source)**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
- Follow the tutorial: [how_to_run_MSF_localization](https://github.com/zhouyao4321/apollo/blob/document_cn/docs/howto/how_to_run_MSF_localization_module_on_your_local_computer_cn.md)

### Problem description:
It takes

[2018-08-30 03:03] ktsh360 commented on #3005
@msbeta  Could you send me a piece of your OpenDrive specification? pls. scucswpw@gmai.com

[2018-08-30 03:09] whuzxy commented on #5344
@IneverStop Hi,I met the same problem,could you share your steps?

[2018-08-30 03:42] hongkedavid commented on #5553
@jrqdevb Thanks for your information. Let me try that to see if it can fix the segfault.

[2018-08-30 06:11] breakisx opened #5565 "use usb_cam to produce data,"
Is this data stored directly in shared memory as a shared form? Instead of generating related images in a directory

[2018-08-30 07:34] happyx123 opened #5566 "Issue running offline demo"
Hi there!

I am new to Apollo. I was following the steps on running the offline demo at https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide. Everything looks fine until the final step. I was able to play the demo_2.0.bag loop in my terminal and was able to start Dreamview in my Mozilla. But no vehicle was shown and I got an error msg in my terminal:
[ERROR] [1535613845.882991023]: Cli

[2018-08-30 07:39] breakisx commented on #5565
???????

[2018-08-30 08:09] whuzxy commented on #5257
@ironsuperdev before run ROSBAG,you should run "bash /apollo/scripts/apollo_base.sh“to add ros path.Then rosplay will be worked.Or you can "cd /home/tmp/ros/bin/",then you can find the executable file rosbag

[2018-08-30 08:15] mtyylx commented on #4233
@techoe @natashadsouza Apollo is using its own version of caffe, which is close-sourced. And my guess is that the current caffe.so provided by Apollo is compiled with nvcc flag only up to `sm_61` without a proper PTX version specified. This means the current caffe.so will not support Volta arch, which is `sm_70`.

In Nvidia's Volta Compatibility Guide, it says the GPU in Volta architecture (V100,

[2018-08-30 08:39] lygincn commented on #5544
So, I followed the advice from @mickeyouyou and succeeded in echoing the rostopics. Here are steps I did  in case someone else also has this problem:
1. download the ublox driver from https://github.com/KumarRobotics/ublox to the directory apollo/modules/drivers
2. create one function called build_ublox() similar to function build_velodyne() in apollo.sh
3. edit apollo/modules/drivers/ublox/ublox_

[2018-08-30 10:25] IneverStop opened #5567 "Cannot build offline_perception module"
Hello guys.I failed to run this command `bazel build -c opt --cxxopt=-DUSE_GPU //modules/perception/tool/offline_visualizer_tool:offline_lidar_visualizer_tool`.
### System information

- **OS Platform and Distribution**: Linux Ubuntu 14.04
- **Apollo installed from**: source
- **Apollo version**: 3.0
-**CPU**: i5 6500
-**GPU**: gtx 750ti
-**RAM**: 8G

### Steps to reproduce the issue:
- **Install

[2018-08-30 10:45] waverider995 commented on #5528
cvxopt converts automatically a QP to a SCOP, which might be faster in this case

[2018-08-30 12:13] Jyothikumar-b opened #5568 "Error While Running Localization on Localization demo data"
Hi,

I am running Localization demo offline. I am following the commands given at [link](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_MSF_localization_module_on_your_local_computer.md).

While playing Rosbag following error is coming:
[code]
So we decided to run ros bags one by one but we get the following error:
[code]

It Looks like a mismatch between published msg type

[2018-08-30 14:35] AL9501 opened #5569 "Build Error"
System information
- Linux Ubuntu 16.04:
- Apollo 3.0:

This is the error.
![2018-08-30 22-33-45](https://user-images.githubusercontent.com/30255992/44858565-e1572980-aca4-11e8-8200-024189d44e90.png)

[2018-08-30 18:16] natashadsouza commented on #5566
@happyx123 which version of Ubuntu are you working on?

[2018-08-30 18:32] natashadsouza commented on #4012
Closing this issue as it appears to be resolved.

[2018-08-30 18:32] #4012 closed

[2018-08-30 18:38] natashadsouza commented on #3822
@KitFung we have the map document that you could request using [the following link ](https://www.surveymonkey.com/r/DXWK3Q6). Thanks!

[2018-08-30 18:43] natashadsouza commented on #4022
@lengly we do not presently support using python to communicate using shared memory. If it is something you are presently working on, it would be great to share your progress. Thank you!

[2018-08-30 18:45] natashadsouza commented on #4045
Closing this issue as it seems to be resolved.

[2018-08-30 18:45] #4045 closed

[2018-08-30 18:46] natashadsouza commented on #4064
Closing this issue as it appears to be resolved.

[2018-08-30 18:46] #4064 closed

[2018-08-30 18:50] natashadsouza commented on #4125
@Qdriving you can ignore it if you are not testing the code on a Car. Thanks!

[2018-08-30 18:51] natashadsouza commented on #4126
Closing this issue as there has been no communication in a while. If you have additional questions @wckorealsh feel free to open this thread. Thanks!

[2018-08-30 18:51] #4126 closed

[2018-08-30 18:54] natashadsouza commented on #4140
Closing this issue as there has been no communication in a while. @billzhj if you have not resolved the build issue, feel free to reopen it. Thanks!

[2018-08-30 18:54] #4140 closed

[2018-08-30 19:00] lianglia-apollo commented on #5528
Yes, it could be faster. CXVOPT has an c interface api (https://cvxopt.org/userguide/c-api.html). If you are interested in improving the optimization performance, please feel free to add a cvxopt-based solver into Apollo.

[2018-08-30 19:01] natashadsouza commented on #4172
@kwailamchan thank you so much for your suggestions and work to help improve Apollo's efficiency. If you have any additional suggestions, please get in touch with us. :)

[2018-08-30 19:01] natashadsouza commented on #4182
Closing this issue as it appears to be resolved.

[2018-08-30 19:01] #4182 closed

[2018-08-30 20:14] natashadsouza commented on #4186
@rogern27 we do not currently support Delpi Radar. If you would have made any progress on this topic do let us know.

[2018-08-30 20:19] natashadsouza commented on #4188
@wckorealsh you are correct. Thank you for providing the explanation :)
Currently closing this issue as it has been resolved.

[2018-08-30 20:19] #4188 closed

[2018-08-30 20:27] natashadsouza commented on #4189
Closing this issue as there has been no communication in a while.

[2018-08-30 20:27] #4189 closed

[2018-08-30 20:28] natashadsouza commented on #4193
Closing this issue as it appears to be resolved.

[2018-08-30 20:28] #4193 closed

[2018-08-30 20:29] quning78 commented on #5484
通过topic发送出来的消息，所有感兴趣的node都可以subscribe。共享这个词不太准确，请参考原生ROS本身的pub/sub传输模式。

多数的设备都不需要额外的ko，如果有特殊需求的，确实需要厂商提供

如果有ASU的话，建议所有的sensor都连接到ASU上，但不是强制的要求。

[2018-08-30 20:29] #5484 closed

[2018-08-30 20:31] natashadsouza commented on #4253
@kentasakurai were you able to resolve this issue? If not please let us know. Thanks!

[2018-08-30 21:17] Zhenni17 commented on #5550
HI @nandita05 , thank you for raising the issue. Our Map team informed me last night that the bug should be resolved. I'm closing the issue now and please feel free to open new issues if there are any follow up questions.

[2018-08-30 21:17] #5550 closed

[2018-08-30 22:01] YangHan101 commented on #5360
It seems your gps is working and sending the sync signal to the lidar properly. Have you brought up the GPS driver part of the code?

[2018-08-30 23:57] chaii commented on #5243
Are you trying to use rosbag play to read bag or you are trying to write a ros node to read rosbag inside apollo docker?

[2018-08-30 23:59] muleisheng commented on #5569
Also, you could use a Ubuntu14 image of docker in Ubuntu 16

[2018-08-31 00:40] natashadsouza commented on #5566
That's great feedback. Thank you @happyx123 :)
Currently closing this issue as it has been fixed.

[2018-08-31 00:40] #5566 closed

[2018-08-31 00:48] chaii commented on #4080
Can you share the details of your set up that we can investigate the issue? Are you trying to start Apollo containers in different hosts and try to make Apollo modules between different hosts to communicate across hosts?

[2018-08-31 01:49] natashadsouza commented on #5347
Thank you for sharing the changes @liuyangly25 :)
I will close this issue. If you have any additional questions, feel free to reopen it.

[2018-08-31 01:49] #5347 closed

[2018-08-31 01:50] natashadsouza commented on #5392
@liuyangly25 did the build changes not resolve the CUDA error you are currently facing?

[2018-08-31 05:27] CCodie opened #5589 "Error while running Offline Perception LowCost Visualizer (Apollo 2.5)"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: From source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: ver 3.0 (Cloned the master branch today)

### Steps to reproduce the issue:
- `./apollo.sh build_opt_gpu`
- I tried three config options and details for each case are described below.
##

[2018-08-31 05:45] quning78 commented on #4617
Closed due to question has been answered. Reopen if you still have question on this.

[2018-08-31 05:45] #4617 closed

[2018-08-31 05:46] quning78 commented on #4571
Closed. Reopen if you still have questions.

[2018-08-31 05:46] #4571 closed

[2018-08-31 05:46] quning78 commented on #4139
Closed. Reopen if you still have questions.

[2018-08-31 05:46] #4139 closed

[2018-08-31 05:47] quning78 commented on #4022
Closed. Reopen if you still have questions.

[2018-08-31 05:47] #4022 closed

[2018-08-31 05:47] quning78 commented on #3708
Closed. Reopen if you still have questions.

[2018-08-31 05:47] #3708 closed

[2018-08-31 06:38] #5569 closed

[2018-08-31 06:55] liuyangly25 commented on #5392
@natashadsouza , no,  the build changes is for glfw 3.2.1 on ubuntu 16.04. On ubuntu 14.04, I didn't change anything, just used the default glfw in docker. I don't know where the cudnn internal error comes from. googling gives me few information.

[2018-08-31 07:11] kk2491 opened #5591 "How to rebuild the ROS workspace in apollo"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

Can anybody help me to rebuild the ROS workspace in Apollo.

Thank you,
KK

[2018-08-31 07:31] cmas1 commented on #5032
Is that so? My understanding is that the longitudinal direction of the vehicle is the y-axis (the Novatel frame of reference), so the yaw would be the angle between the longitudinal direction and the y-axis in the ENU frame (north). In other words, when the car is pointing north the yaw should be zero.

[2018-08-31 07:32] #5480 closed

[2018-08-31 09:42] mickeyouyou commented on #5544
Cool! thank you so much  @lygincn .

[2018-08-31 09:50] TaiCybersoft commented on #3845
Hi Ycool,
Thanks for your feedback and give us important informations but for me, I still have a question related to corrected IMU message incomplete. Here I have:
I'm using Apollo ROS Platform 2.0 without Docker environment and run demo_2.0.bag. The data from topic /apollo/sensor/gnss/corrected_imu looks like incomplete or incorrectly, I didn't know why. Here is output:
file:///tmp/Screenshot%20f

[2018-08-31 09:52] TaiCybersoft commented on #3845
Hi Ycool,
Thanks for your feedback and give us important informations but for me, I still have a question related to corrected IMU message incomplete. Here I have:
I'm using Apollo ROS Platform 2.0 without Docker environment and run demo_2.0.bag. The data from topic /apollo/sensor/gnss/corrected_imu looks like incomplete or incorrectly, I didn't know why. Here is output:
file:///tmp/a.png

But ins

[2018-08-31 09:56] TaiCybersoft commented on #3845
![Image of Yaktocat](file:///tmp/b.png)

[2018-08-31 09:57] TaiCybersoft commented on #3845
(file:///tmp/a.png)

[2018-08-31 09:58] TaiCybersoft commented on #3845
![abc](file:///tmp/a.png)

[2018-08-31 09:59] TaiCybersoft commented on #3845
![abc](file:///home/taitn/Pictures/Screenshot%20from%202018-08-06%2018:59:02.png
)

[2018-08-31 10:18] TaiCybersoft commented on #3845
Hi Ycool,
Thanks for your feedback and give us important info but for me, I still have questions related to corrected IMU message incomplete. Here I have:
I'm using Apollo ROS Platform 2.0 **without Docker environment** and run demo_2.0.bag. The data from topic /apollo/sensor/gnss/corrected_imu looks like incomplete or incorrectly, I didn't know why. Here is output:

![corrected_imu_topic_incomple

[2018-08-31 13:08] poutyface opened #5593 "[request]Switching the state of traffic lights in dreamview"
In SimControl mode, I want the function of switching the state of traffic lights in dreamview.
 I would like to do the function of tools / manual_traffic_light in dreamview, however I am not familiar with react program.😥

thanks

[2018-08-31 13:50] lesun90 commented on #5532
Hi,
I try and success install the matplotlib, however, still could not run the
[code]
That python script was run fine in apollo 2.x

[2018-08-31 14:26] kk2491 opened #5594 "RVIZ and publishing messages to Apollo modules"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:

- Go inside the docker and run **rviz**

### Supporting materials (screenshots, comma

[2018-08-31 14:43] gladijos commented on #5591
change current directory to your ros workspace (if it isn't exist inside docker make volume)
run catkin_make

[2018-08-31 20:16] natashadsouza commented on #4312
Closing this issue as it appears to be resolved.

[2018-08-31 20:16] #4312 closed

[2018-08-31 20:22] #4296 closed, assigned to guoweiwan

[2018-08-31 20:29] natashadsouza commented on #3728
Please refer to [the following commit](https://github.com/ApolloAuto/apollo/commit/35eccebb6ae4b90d312929fc727bc988f3cd3aa1) to resolve your errors. If you face any additional errors, please let us know.

[2018-08-31 20:48] natashadsouza commented on #4506
Currently closing this issue as it appears to be resolved.

[2018-08-31 20:48] #4506 closed

[2018-08-31 20:49] natashadsouza commented on #4502
Closing this issue as we have received a pull request for the same. Thanks!

[2018-08-31 20:49] #4502 closed

[2018-08-31 20:52] techoe commented on #4492
I hope your question is answered. If you have more question, please reopen this issue. Thank you, Tae Eun

[2018-08-31 20:52] #4492 closed

[2018-08-31 20:56] natashadsouza commented on #4278
@JonathanJones92 we do not currently have papers related to our Prediction module. However, it is a great suggestion and we will definitely work on having some documentation released on it. Thanks!

[2018-08-31 21:00] natashadsouza commented on #4464
Closing this issue as it appears to be resolved.

[2018-08-31 21:00] #4464 closed

[2018-08-31 21:01] natashadsouza commented on #4434
Currently closing this issue as it appears to be resolved. Thanks @jilinzhou!

[2018-08-31 21:01] #4434 closed

[2018-08-31 21:02] natashadsouza commented on #4432
@echotor please clone the latest version of Apollo. The issue should be resolved. Thanks!

[2018-08-31 21:06] natashadsouza commented on #4409
Closing this issue currently as it appears to be resolved.

[2018-08-31 21:06] #4409 closed

[2018-08-31 21:07] natashadsouza commented on #4391
Closing this issue as it appears to be resolved.

[2018-08-31 21:07] #4391 closed

[2018-08-31 21:08] natashadsouza commented on #4360
Closing this issue as it appears to be resolved.

[2018-08-31 21:08] #4360 closed

[2018-08-31 21:09] natashadsouza commented on #4340
Closing this issue currently as it appears to be resolved.

[2018-08-31 21:09] #4340 closed

[2018-09-01 00:05] unacao commented on #5593
There are two parts to this feature. First part is the addition of a frontend UI switch to toggle traffic lights as you mentioned. However we need to integrate with the backend messages so that the entire system gets the updated traffic light status and modules such as planning can react accordingly, which means we need to make sure: 1. there are no other traffic light status being published by th

[2018-09-01 08:41] westeast opened #5614 "dreamview error msg and rosbag play error msg"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source )**:
- **Apol

[2018-09-01 12:51] zhxt commented on #5614
The demo bag file may be outdated since codes are changed version to version.

As the error tells: `
/localization` wants topic `/apollo/sensor/gnss/corrected_imu` to have datatype/md5sum :
`[pb_msgs/CorrectedImu/81aef4a818ce273a8af85a440ccdb0f7]`
but the bag file provides:
`[pb_msgs/Imu/bdef0ba51869607ed95736d41e80c1f5]. `

when you examine the bag file with ` rosbag info `, you will find:
[code]

[2018-09-01 19:02] natashadsouza commented on #4331
Currently closing this issue as it is resolved.

[2018-09-01 19:02] #4331 closed

[2018-09-01 19:07] Xiaoyang-Rebecca commented on #4360
Thanks！

[2018-09-02 04:26] muleisheng commented on #5591
You could also run _./build.sh build_ in your Apollo-platform workspace.

[2018-09-02 08:30] westeast commented on #5614
@zhxt thanks very much , but where is the demo3.0.bag?

[2018-09-02 09:28] zhxt commented on #5614
@westeast Sorry, I do not know either, I didn't see there was a demo bag released along with Apollo 3.0.
Maybe you can contact the Official Team to make sure if there is a  demo bag for 3.0.

[2018-09-02 18:38] kk2491 opened #5615 "How to use files inside bazel-apollo outside the docker"
Hi Guys,

I am trying to access the protobuf generated files (.h and .cc) files which are inside the bazel-apollo/modules/common/proto from outside the docker.

Could you please let me know is this feasible ? If yes, how would I access and use those files in a C++ code outside the docker ?

Thank you,
KK

[2018-09-03 01:07] IneverStop commented on #5344
@whuzxy Sorry, I didn't check github these days.Change both file `/apollo\modules\tools\supervisord\dev.conf` and `/etc/supervisord.conf` as @Triangle001  says, this problem can be easily solved.

[2018-09-03 02:12] yimzhou commented on #5499
@gladijos I made it by following [this](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md) instruction.

[2018-09-03 02:41] breakisx opened #5617 "Why add ultrasonic radar?"
Already have other radars, is it to reduce costs?Or, it has better performance.

[2018-09-03 03:09] westeast opened #5618 "I want to port apollo3.0 and apollo-ros-indigo to QNX OS + NVIDIA PX2 platform"
**Is your feature request related to a problem? Please describe.**
I want port apollo3.0 and apollo-ros-indigo to QNX OS

**Describe the solution you'd like**
first I want to port apollo-ros-indigo to qnx os system
then the apollo3.0 to qnx

so I want some advice about port apollo-ros-indigo and apollo3.0 to qnx

now I have port boost and protobuf and leveldb and glog gtest to qnx + nvidia px2 .

[2018-09-03 04:55] poutyface commented on #5593
@unacao , @lianglia-apollo  Thank you for  your reply. Usually I use manual_traffic_light.

It is useful to set directly some configuration from HMI.  For example, a speed limit, a distance from CIPV etc..

Anyway, I need to learn about React. Thanks.

[2018-09-03 04:55] #5593 closed

[2018-09-03 05:42] kk2491 commented on #5591
@gladijos @muleisheng Thanks for the step. I will implement the same and update you the findings.

[2018-09-03 06:18] yongyuandeyezi commented on #3704
@natashadsouza It has been solved. Thanks!

[2018-09-03 06:18] #3704 closed

[2018-09-03 07:14] IneverStop opened #5620 "Nvidia driver installed failed, nvidia-smi doesnot work."
Hello guys.

### System information

- **OS Platform and Distribution**: Ubuntu 14.04
- **Apollo installed from**: source
- **Apollo version**: 3.0

### Steps to reproduce the issue:
- Install cuda and nvidia driver succeed in *host*.
`nvcc -V` got:

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Tue_Jan_10_13:22:03_CST_2017
Cuda compilation tools, releas

[2018-09-03 07:42] whuzxy commented on #5344
@IneverStop thank you ,i solved the issue just as you said.

[2018-09-03 09:26] GeorgeMD commented on #5007
@xiaoshuliu What is X in the formula? Is it car's X coordinate in the global system (taken from /apollo/localization/pose for example)?

[2018-09-03 10:16] muleisheng commented on #5617
Ultrasonic radar used in emergency cases. In these cases, we don't need to identify an obstacle. We just check if there is obstacle in the front of vehicle. On the other hand, indeed considering the cost

[2018-09-03 10:42] muleisheng commented on #5620
Apollo needs libcudnn6 and libcudnn6-dev. You could check if these two packages were installed.

[2018-09-03 12:26] hmdt commented on #5620
You don't need to install CUDA again in the docker, you only have to install the GPU driver again. Make sure that you install the same driver in both your host machine and in your docker environment.

[2018-09-03 15:44] zhxt commented on #5618
What do you mean "not compile by cmake" ?
To my knowledge, ROS is composed of many separated packages which use cmake as build system.(catkin_make/catkin_make_isolated is a wrapper Python script  tool that use cmake +  make + package.xml).

So I think, these steps bellow,
1. prepare the dependencies;
2. then build the sources with catkin_make_isolated(or just use the [build.sh script](https://gith

[2018-09-03 21:59] lianglia-apollo commented on #5505
We have updated to nvidia-docker. It should solve the driver version issue which lasts for quite a long time. Thanks for @wanglei828 !!!
Please let us know if you have more issues on drivers.

[2018-09-03 22:00] #5505 closed

[2018-09-04 00:44] JonathanJones92 commented on #5241
thanks mate ! My I have your QQ number so we can share the experience :) @xinwf

[2018-09-04 01:26] xinwf commented on #5241
240095638 @JonathanJones92

[2018-09-04 01:30] IneverStop commented on #5620
@muleisheng @hmdt Thank you!
I installed the same  version of Nvidia driver in my docker as the host.Both nvidia-384.130.
My docker version is `docker-ce`, it`s not from official, but from aliyun, cause we can not achieve docker official website. Is the `docker-ce` correct version apollo need?

[2018-09-04 01:47] mengsanshui opened #5624 "apollo/docs/howto/modules/apollo1.5_perception_module_study_notes_cn.md has spell issue."
Within apollo/docs/howto/modules/apollo1.5_perception_module_study_notes_cn.md has two spell issue as following.
Process(timestamp_, point_cloud, velodyne_trans)函数：

1. Build()函数重建障碍物，构成6变形；  (6变形 -> 6边形)
2. 其四个步骤分别使用四中不同的算法  （四中 -> 四种）

Thanks and Regards
Peter Meng

[2018-09-04 01:59] lianglia-apollo commented on #5528
According to a reference here (http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.720.6815&rep=rep1&type=pdf), qpOases performs better than cvxgen.

[2018-09-04 03:40] mickeyouyou commented on #5532
Hi  @lesun90  this error `ImportError: /usr/local/lib/python2.7/dist-packages/numpy/random/mtrand.so: undefined symbol: PyFPE_jbuf` may occur by  having multiple versions of numpy installed.

Refer by https://stackoverflow.com/questions/36190757/numpy-undefined-symbol-pyfpe-jbuf

You can have a try, in my case, it works.

[2018-09-04 04:32] mickeyouyou commented on #5532
You can find load path of **numpy** by scripts:

Create `/usr/local/bin/python-which`

[code]
Make it executable

`sudo chmod +x /usr/local/bin/python-which`

`python-which numpy `

for my case

[code]

refer : https://stackoverflow.com/questions/247770/retrieving-python-module-path

[2018-09-04 04:52] muleisheng commented on #5624
I have fixed this issue and committed the file. Thanks for your support.

[2018-09-04 11:17] liuyangly25 commented on #5505
Thank you,  @lianglia-apollo @weidezhang @freeHackOfJeff  I will do it from scratch again. Hope the cudnn issue is gone on my end.

[2018-09-04 17:39] jilinzhou commented on #5618
To x-compile ROS onto qnx is not a trivial task. A lot of third party dependancies need to be figured out first. Here is a brief list (There might be more):

- lz4
- boost
- tinyxml
- mktemp
- eigen3
- gtest
- gflags
- glog
- protobuf
- pcl
- poco
- yaml
- fast-rtps
- console_bridge
- curlpp
- fastcdr
- gtsam
- GeographicLib
- qhull
- proj
- qpOASES
- yaml-cpp
- uuid

Some code changes are also ne

[2018-09-04 17:42] jilinzhou commented on #5618
@zhxt : Posting some slides which clearly state " Confidential" may not a good idea.

[2018-09-04 18:09] lesun90 commented on #5532
Thank you for your reply, but is ther any other way to fix this problem. All I want to do is run this script in apollo 3.0

[code]

[2018-09-04 18:42] yangydavid opened #5631 "Record SimControl results into a Rosbag"
### System information

- **OS Platform and Distribution Linux Ubuntu 14.04 **:
- **Apollo installed from (https://github.com/ApolloAuto/apollo)**:
- **Apollo version (3.0)**:

Hello Apollo developers, I have a question regarding to the rosbag recording function for the SimControl function in the dreamview HMI interface. I am wondering how can I record the simulation information into a rosbag so t

[2018-09-04 19:06] natashadsouza commented on #5344
@IneverStop thank you very much for sharing the fix.

[2018-09-04 19:48] #5618 closed

[2018-09-04 19:50] Capri2014 commented on #5618
Close it since improper material posted.

[2018-09-04 21:29] osaman88 opened #5639 "Access to data page goes through Chinese-language only portal"
**Describe the bug**
I am based in the USA and don't speak or read Chinese characters. The page below does not have option of English.

**To Reproduce**
Trying to follow the directions here:
https://github.com/ApolloAuto/apollo/blob/r2.0.0/modules/perception/README.md
Step #5 directs you to:
https://console.bce.baidu.com/apollo/task/download
Which has a choice of English or Chinese, and a login wi

[2018-09-04 21:34] natashadsouza commented on #5639
Hi @osaman88 please refer to the documentation in the master branch: [Perception data document](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/README.md)
If you are still unable to access the data for download, please let me know. Thanks!

[2018-09-04 21:49] osaman88 commented on #5639
Thanks Natasha. So here is the detailed version of the Q then. The previous document was a very specific pointer to data that had all the data necessary to run perception node as per description. The latest pointer is the collection of all the various bags, some are in MBs, some are in GBs. It is not immediately clear which we should download to get the ROS bag (inputs) with all topics needed by p

[2018-09-04 22:02] natashadsouza commented on #4535
@hxlee309 were you able to resolve your request?

[2018-09-04 22:02] natashadsouza commented on #4542
Closing this issue as there has not been any communication in a while. Feel free to reopen the same if you have any additional questions.

[2018-09-04 22:02] #4542 closed

[2018-09-04 22:03] natashadsouza commented on #4544
Closing this issue as it appears to be resolved. @vingtfranc if you have any additional questions, feel free to reopen this issue. Thanks!

[2018-09-04 22:03] #4544 closed

[2018-09-04 22:04] natashadsouza commented on #4545
Closing this issue as there has been no communication in a while. Feel free to reopen it if you have any additional questions.

[2018-09-04 22:04] #4545 closed

[2018-09-04 22:08] natashadsouza commented on #4553
Closing this issue as it appears to be resolved. @snuffysasa if you have any additional questions, feel free to reopen the issue.

[2018-09-04 22:08] #4553 closed

[2018-09-04 22:10] natashadsouza commented on #4559
Closing this issue as it has been resolved. Thanks!

[2018-09-04 22:10] #4559 closed

[2018-09-04 22:11] xiaoxq commented on #5631
modules/data/tools/recorder has some assumptions such as the external disk path.
Please try scripts/record_bag.py which simply calls "rosbag record ...".

[2018-09-04 22:25] natashadsouza commented on #4589
Closing this issue as there has been no communication in a while. If you have additional questions, feel free to reopen this issue. Thanks!

[2018-09-04 22:25] #4589 closed

[2018-09-04 22:43] natashadsouza commented on #3211
Oh awesome. @hadiTab did that resolve your error?

[2018-09-04 23:11] natashadsouza commented on #5639
@osaman88
The previous link pointed you to a login page that would ultimately redirect you to the link added to the new document version. The only difference is that previously we required everyone to have an account to use the data, however, it is now available without requiring you to login.

[2018-09-04 23:29] natashadsouza commented on #4647
Closing this issue as it appears to be resolved. @zhxt thank you for recommending the course.

[2018-09-04 23:29] #4647 closed

[2018-09-04 23:37] natashadsouza commented on #4651
It depends heavily on your Ubuntu version, system setup and memory capabilities. It can also depend upon your internet connection strength. Please share the error messages you receive to help us identify the exact cause for Dreamview start failure. Thanks!

[2018-09-04 23:41] natashadsouza commented on #4672
Closing this issue as it appears to be resolved.

[2018-09-04 23:41] #4672 closed

[2018-09-04 23:42] natashadsouza commented on #4871
Thank you @kk2491 currently closing this issue as it is resolved.

[2018-09-04 23:42] #4871 closed

[2018-09-04 23:45] natashadsouza commented on #4846
Currently closing this issue as it appears to be resolved.

[2018-09-04 23:45] #4846 closed

[2018-09-05 00:09] bhaskarsuper9000 commented on #5594
@kk2491 For your first question, yes! In fact, something really useful is to have an indigo installation outside and tun your favorite tools :) , which brings us to your second question.

Answer to second question is no. Unfortunately, rviz doesn't understand protobuf, and hence cannot deserialize these messages. Also, most of the qt based diagnostic tools should just work fine, unless they attemp

[2018-09-05 00:09] zhxt commented on #5618
@jilinzhou @Capri2014  Sorry about that, I didn't notice that label.
I got the pictures from an **Open Course Lecture** at Create2018 BAIDU AI Conference.  I was thinking it would be OPEN.

[2018-09-05 00:46] natashadsouza commented on #4688
Closing this issue as it appears to be resolved. Thank you @Grayhu07

[2018-09-05 00:46] #4688 closed

[2018-09-05 01:59] muleisheng commented on #5620
Also, you could verify the directory /usr/local/cuda/bin if it exists. Then echo $PATH and check if it includes /usr/local/cuda/bin. And you may need to check LD_LIBRARY_PATH if it includes cuda libraries directory.

[2018-09-05 02:32] IneverStop commented on #5620
@muleisheng Thankyou! This problem has been solved. It`s a network problem. I have tried any solution to install nvidia-driver but failed, util I use my mobile phone's wifi instead of company's network.
It seems need to download some files but my company's network is horrible bad.

[2018-09-05 02:32] techoe commented on #5639
Please select English for english description

[2018-09-05 02:32] #5620 closed

[2018-09-05 02:34] IneverStop commented on #5567
This problem has been solved.
I copied all files in /usr/local/cuda-8.0/include/ to /usr/local/include/ in docker, and build again.

Remember commit new docker image if your change docker image or install something.

[2018-09-05 02:34] #5567 closed

[2018-09-05 03:04] fengqikai1414 commented on #4159
Since ros msg only contains header files, you can put folder `visualization` directly into `/home/tmp/ros` in the docker.

[2018-09-05 06:24] sinopec opened #5657 "Can Camare fusused with Lidar?"
Is there a dag config to conbine camera and velodyne16 .So Fusion subnode can fususe lidar & image obstacle results?

[2018-09-05 07:09] Hyungza commented on #5532
install updated numpy in docker

sudo pip install -U numpy --ignore-installed

[2018-09-05 13:42] #5275 closed

[2018-09-05 14:35] freeclouds opened #5660 "radar rostopic question"
code version: apollo 3.0
about module: radar perception
Dear apollo developer,
      we want to use other measuring distance sensor ,such as camera,to substitute  continental ARS408-21 77GHz radar,
     we print radar topic:  /apollo/sensor/conti_radar
such as:
contiobs {
  header {
    timestamp_sec: 1523917535.98
    module_name: "conti_radar"
    sequence_num: 16614
  }
  clusterortrack: false

[2018-09-05 15:18] nandita05 commented on #5472
I tried using the new sensor_calibration.sh script which was updated to master branch 3 days ago, but on running the imu_vehicle calibration, following error message is seen on terminal:
/apollo/modules/calibration/imu_car_calibrator/imu_car_calibrator: error while loading shared libraries: libceres.so.1: cannot open shared object file: No such file or directory

Is there any update on this issue

[2018-09-05 15:47] lesun90 commented on #5532
still not work, are you able to run python modules/tools/mapshow/mapshow.py in apollo 3.0?

[2018-09-05 16:51] nandita05 commented on #5532
@lesun90
Try to copy both numpy and matplotlib directories from miniconda to ros directory:
cp -r /usr/local/miniconda2/lib/python2.7/site-packages/numpy /home/tmp/ros/lib/python2.7/dist-packages/
cp -r /usr/local/miniconda2/lib/python2.7/site-packages/matplotlib /home/tmp/ros/lib/python2.7/dist-packages/numpy

It worked for me. Good luck !

[2018-09-05 17:30] xinwf opened #5661 "激光雷达校准结果有重影现象是什么问题(what's the problem when lidar calibration result has an ghosting phenomenon)"
### System information

- **OS Platform and Distribution ( Linux Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (2.5)**:

我按照官方的文档说明对激光雷达到GNSS进行校准，但是校准的结果发生了重影的现象，先看校准结果。
I calibrated the lidar to GNSS according to the official documentation, but the calibration results were ghosting, first look at the calibration results.
![screenshot from 2018-09-05 21_13_16](https://u

[2018-09-05 17:42] natashadsouza commented on #5004
Please use "dev" container for all purposes. We are currently working on improving the Release container and will get back to you once it has been updated. The documents have also been updated in the Master branch with this change.

[2018-09-05 17:43] natashadsouza commented on #4636
@Yangshell  did you face any issues in your installation? It would be great if you could share your experience building Apollo on Ubuntu 18. Thanks!

[2018-09-05 17:51] natashadsouza commented on #4573
@hongkedavid were you able to resolve your issue?

[2018-09-05 18:12] hadiTab commented on #3211
Yes.

[2018-09-05 18:57] natashadsouza commented on #4635
Currently closing this issue. @schietau thank you for your request. Do write to us if you have any additional suggestions.

[2018-09-05 18:57] #4635 closed

[2018-09-05 18:59] natashadsouza commented on #5615
@kk2491 it is best practice not to try and access those files from outside the container. Is there any reason behind you trying to accomplish it?

[2018-09-05 19:01] natashadsouza commented on #4649
@liyubang were you able to resolve the Build issue? Which version of Ubuntu are you using currently?

[2018-09-05 19:04] natashadsouza commented on #4607
@edious we are working towards making Apollo as seamless as possible. It is definitely on our roadmap, and we will let you know if we decide to use a cloud provider.

[2018-09-05 19:05] natashadsouza commented on #4637
Closing this issue as there has been no communication in a while. @Yangshell feel free to open it if you have additional questions.

[2018-09-05 19:05] #4637 closed

[2018-09-05 19:12] kk2491 commented on #5615
@natashadsouza I am trying write a code which uses the generated protobuf .h and .cc and communicate with the apollo through ROS.

[2018-09-05 20:52] natashadsouza commented on #4676
@ImCabbage have you resolved the issue you were facing?

[2018-09-05 20:53] natashadsouza commented on #4697
@zoidzilla please use: [the following link ](https://www.surveymonkey.com/r/DXWK3Q6) to send us your details. Once we have it, we will send you the format. Thanks!

[2018-09-05 20:53] #4697 closed

[2018-09-05 20:57] natashadsouza commented on #4710
Closing this issue as it appears to be resolved. @ireeX please let us know if you have additional questions. Thanks!

[2018-09-05 20:57] #4710 closed

[2018-09-05 22:03] yuconglin opened #5668 "/apollo/sensors/gnss/imu coordinate?"
Hi everyone:
   I am confused about apollo's coordinate definition for IMU. From https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_hardware_system_installation_guide_v1.md#global-positioning-system-(gps)-and-inertial-measurement-unit-(imu), it looks like it uses right-front-up convention.
  but when I played the demo_2_0.bag and did a "rostopic echo /apollo/sensor/gnss/im

[2018-09-05 22:36] natashadsouza commented on #4774
Closing this issue as it is resolved. @follow123 thank you for providing such a detailed response.

[2018-09-05 22:36] #4774 closed

[2018-09-05 22:40] natashadsouza commented on #4768
@freeHackOfJeff please submit a pull request for the changes you would like to make. Thanks!
Currently closing this issue.

[2018-09-05 22:40] #4768 closed

[2018-09-05 22:42] natashadsouza commented on #4770
Please submit a pull request for the changes you would like to make. Currently closing this issue. Thanks!

[2018-09-05 22:42] #4770 closed

[2018-09-05 22:43] natashadsouza commented on #4764
Closing this issue as the changes have been made. Thanks!

[2018-09-05 22:43] #4764 closed

[2018-09-05 22:43] natashadsouza commented on #4783
Closing this issue as it has been resolved. Thanks!

[2018-09-05 22:43] #4783 closed

[2018-09-05 22:44] natashadsouza commented on #4796
@fenglupeter were you able to download the data?

[2018-09-05 22:50] natashadsouza commented on #4868
Closing this issue as a fix was submitted for it. If you are still seeing the error, feel free to open this issue.

[2018-09-05 22:50] #4868 closed

[2018-09-05 22:53] natashadsouza commented on #4999
Closing this issue as it appears to be resolved. @snuffysasa please reopen it if you have additional questions.

[2018-09-05 22:53] #4999 closed

[2018-09-05 22:56] natashadsouza commented on #4874
Closing this issue as it appears to be resolved. @cxia30 if you have any additional questions, feel free to reopen it. Thanks!

[2018-09-05 22:56] #4874 closed

[2018-09-05 22:57] natashadsouza commented on #4880
Closing this issue as it appears to be resolved. Thanks!

[2018-09-05 22:57] #4880 closed

[2018-09-05 22:57] natashadsouza commented on #4899
Closing this issue as I believe it is resolved. @Grayhu07 thank you for your response.

[2018-09-05 22:57] #4899 closed

[2018-09-05 22:58] natashadsouza commented on #4903
Currently closing this issue as it appears to be resolved.

[2018-09-05 22:58] #4903 closed

[2018-09-05 23:00] natashadsouza commented on #4915
Currently closing this issue as it appears to be resolved. @263868161 if you have any additional questions, please feel free to reopen it. Thanks!

[2018-09-05 23:00] #4915 closed

[2018-09-05 23:01] natashadsouza commented on #4918
@gladijos were you able to resolve your issue?

[2018-09-05 23:02] natashadsouza commented on #4937
@gladijos I see that the issue was resolved at #5372 please feel free to reopen if you have any additional questions.

[2018-09-05 23:02] #4937 closed

[2018-09-05 23:06] natashadsouza commented on #4948
Closing this issue as it appears to be resolved.

[2018-09-05 23:06] #4948 closed

[2018-09-05 23:11] andytolst commented on #3005
@msbeta @Zhenni17 @natashadsouza I've submitted my email (through the link above) a week ago, but haven't got the spec yet. Could you follow-up ? Thanks.

[2018-09-05 23:41] natashadsouza commented on #4950
@willsiriusAD were you able to resolve this issue. Unfortunately it is a third party issue which we are not sure how to resolve. Your help will be appreciated.

[2018-09-06 00:07] natashadsouza commented on #5012
@kk2491 were you able to convert txt to xml?

[2018-09-06 00:08] natashadsouza commented on #5017
Closing this issue as it seems to be resolved. Thank you @muleisheng for your suggestions.

[2018-09-06 00:08] #5017 closed

[2018-09-06 00:10] natashadsouza commented on #5026
@SanduIrina unfortunately this is not something we have tried at our end. If it worked out for you, we would love if you could share your experience with us.

[2018-09-06 00:12] natashadsouza commented on #5029
@rogern27 you could resolve this issue using the [Time sync script](https://github.com/ApolloAuto/apollo/blob/master/scripts/time_sync.sh) as @hzdsdhr mentioned. Please let us know if you have any additional questions.

[2018-09-06 00:33] natashadsouza commented on #5051
@levuphuong why would you like to build out both versions of Apollo within the same machine? If we understand your reasoning, we would be able to assist you better.

[2018-09-06 00:35] natashadsouza commented on #5054
Currently closing this issue as it appears to be resolved. @vladpaunescu if you have additional questions, feel free to open it.

[2018-09-06 00:35] #5054 closed

[2018-09-06 00:38] natashadsouza commented on #5075
@gengqx were you able to resolve the issue?

[2018-09-06 00:41] natashadsouza commented on #5092
Closing this issue as it appears to be resolved. @wckorealsh if you are still unable to engage autonomous mode, please let us know.

[2018-09-06 00:41] #5092 closed

[2018-09-06 00:42] natashadsouza commented on #5094
Closing this issue as it appears to be resolved. @linpanusst please let us know if you have any additional questions.

[2018-09-06 00:42] #5094 closed

[2018-09-06 01:09] vlin17 commented on #5104
@lygincn thanks for trying out the simulation platform.

Regarding the change of vehicle size, it certainly affects the calculation in other modules. For visualization, the ego-car size on Dreamview is fixed to the default (the Lincoln MKZ car) so far. We can certainly make code changes to reflect the defined vehicle size.

The platform does not simulate the perception module at the moment, so the

[2018-09-06 01:17] liyubang commented on #4649
@natashadsouza My computer's Memory is too small.And now Apollo needs 6GB memory minimum.

[2018-09-06 01:17] #4649 closed

[2018-09-06 01:58] xinwf commented on #5668
the Z's value is greater than zero, so the direction is toward up, why do you think the z direction is facing downward?

[2018-09-06 02:47] lijiong123 commented on #1650
can you use ros driver for delphi successful?

[2018-09-06 03:00] yuconglin commented on #5668
The gravity acceleration is facing downward. Since the acceleration in z
direction is positive, I infer that z direction is same as the gravity
direction, which faces downward.
reference http://www.starlino.com/imu_guide.html

On Wed, Sep 5, 2018 at 9:58 PM 辛文飞 <notifications@github.com> wrote:

[2018-09-06 03:03] lvxin0805 opened #5675 "ERROR: /apollo/modules/dreamview/backend/BUILD:5:1: C++ compilation of rule '//modules/dreamview/backend:backend' failed (Exit 4)"
Hi guys,
Now I install ubuntu16.04 virtual machine on Mac, and do the software installation followings Appllo docs, then I try to build apollo sourcecodes  and encounter build failed as follow :
bash apollo.sh build --local_resources 2048,1.0,1.0

�
System check passed. Build continue ...
[WARNING] ESD CAN library supplied by ESD Electronics does not exist. If you need ESD CAN, please refer to thi

[2018-09-06 03:09] jilinzhou opened #5676 "quaternion is formed incorrectly in data_parser.cc"
I notice the issue as I am swapping out gnss driver with our own sensor framework.

In novatel_parser.cc, the orientation is converted from RFU to FLU. Specially, the azimuth angle (measured clockwise from North) is converted to Yaw (counterclockwise from East).

Then in data_parser.cpp, all of them are converted back to RFU and these are all fine. The problem is the yaw angle is converted back to

[2018-09-06 03:13] muleisheng commented on #5675
try to replace  --local_resources 2048,1.0,1.0 with --local_resources 2048,.5,1.0

[2018-09-06 04:28] yuconglin commented on #5668
If z coordinate points up, and gravity points downward. Why do we have
positive gravity measurement? Measurement of acceleration is nothing more
than its projection on a coordinate frame.

On Thu, Sep 6, 2018 at 12:19 AM 辛文飞 <notifications@github.com> wrote:

[2018-09-06 07:09] jamchen1025 opened #5677 "Does it really need to install Apollo by the order: 1.0 > 1.5 > 2.0 > 2.5 > 3.0?"
Hi Apollo Team,

I read the [Prerequisites](https://github.com/ApolloAuto/apollo#prerequisites), and it mention that: "Please note, it is recommended that you install the versions of Apollo in the following order: 1.0 > 1.5 > 2.0 > 2.5 > 3.0."

My Question is:
1. I want to know can I just install Apollo versions 3.0 once and for all. And then confirm all individual hardware components and modules

[2018-09-06 07:18] cmas1 commented on #5668
If I may chime in, everything seems fine to me. Accelerometers do not measure the total acceleration but rather the specific force, that is (over simplifying) the acceleration minus the gravitational acceleration.

This means that an accelerometer in free fall measures zero along the z-axis, whereas when it is placed on the ground it measures the reaction force exerted from the ground (-g).

[2018-09-06 07:58] homography commented on #5661
The configuration translation=(0,  0.105, 0.52), q=(0, 0, 0, 1) is the right choice according to your sketch. Before going into the calibration, make sure the differential GPS is functional and also the gps-imu is well aligned. These conditions can be verified from some state-code according to the calibration manual. If  the result is still noisy even if the localization seems good, please check t

[2018-09-06 09:27] Triangle001 opened #5678 "关于Apollo RTK几个问题请教"
Apollo 开发者，您好！
   几个关于定位的问题请教：
1.通过接收解算方式：rtk_solution_type: RTK_RECEIVER_SOLUTION，
rtk_to {
    format: NOVATEL_BINARY
    serial {
        device: "/dev/ttyUSB0"
        baud_rate: 115200
    }
}    这里配置把rtcm差分数据发送到接收器，接收器解算后，
Apollo怎样接收解算后的精确定位数据，修改那个配置文件呢？

2.启动localization模块后，代码rtk_localization.cc中的83行：
if (AdapterManager::GetGps()->Empty()) {
成立。请问是什么原因导致AdapterManager::GetGps()->Empty()？该怎么

[2018-09-06 12:17] yuconglin commented on #5668
That will explain it, thanks a lot.

On Thu, Sep 6, 2018, 3:19 AM cmas1 <notifications@github.com> wrote:

[2018-09-06 12:36] xinwf commented on #5661
@homography, what's the translation matrix if the installtion of lidar and IMU is like this?
1.translation = (0,  0.5,  0.185)   // x, y, z stand for the distance from lidar to IMU.
2.translation = (0, -0.5, 0.185)  // x, y, z stand for the coordinate of the lidar in IMU's coordinate system
3.translation = (0, 0.5, -0.185)  // x, y, z stand for the change of the lidar's coordinate if it is transla

[2018-09-06 17:33] yuconglin opened #5680 "corrected_imu incomplete"
I was trying to inspect the corrected_imu message from demo_2.0.bag. The message from rostopic echo seems incomplete:

---
header {
  timestamp_sec: 1514497067.05
}

---
header {
  timestamp_sec: 1514497067.06
}

---
header {
  timestamp_sec: 1514497067.07
}

---
header {
  timestamp_sec: 1514497067.08
}

---
header {
  timestamp_sec: 1514497067.09
}

---
header {
  timestamp_sec: 1514497067.1
}

[2018-09-06 18:35] vlin17 commented on #4185
Hi @breakisx,

1) Dreamview depends on WebGL for 3D rendering. Please go to http://webglreport.com/?v=2 to make sure  WebGL 1 & 2 are supported; otherwise, dreamview can be slow. Given there's no gpu on the board of arm, it is most likely the cause of slowness.

2) could you check if there's any core dump under /apollo/data/core or error log under /apollo/data/log?

[2018-09-06 22:57] natashadsouza commented on #5677
@jamchen1025 it is a recommended practice to install Apollo 1.0 to test whether all the sensors are compatible, calibrated correctly and working without any bugs, before installing a more advanced version of Apollo. You could choose to install to install Apollo 3.0 directly, however, if you go through the setup guide, especially the basic hardware setup, ultimately, it would point you back to Apol

[2018-09-07 01:28] jamchen1025 commented on #5677
@natashadsouza ,
I will try the second method:
Install Apollo software 3.0 directly, and go through the hardware installation guide by the order 1.0>...>3.0.
Thanks for your valuable advice~

[2018-09-07 01:30] natashadsouza commented on #5614
There was no 3.0 demo bag as there was no major addition to the core software modules from Apollo 2.5. Hence you could successfully use Demo Bag 2.5

[2018-09-07 01:32] lvxin0805 commented on #5675
@muleisheng
Thanks for your help, build successed by your suggestion

[2018-09-07 01:32] #5675 closed

[2018-09-07 01:42] natashadsouza commented on #5677
Closing this issue @jamchen1025
Feel free to open it if you have any additional questions :)

[2018-09-07 01:42] #5677 closed

[2018-09-07 03:22] freeclouds opened #5692 "导航模式问题"
平台：ubuntu 16.04
code 版本： apollo v3.0
相关模块： relative map、planning module
问题：
       目前我们想使用相对地图这种方式实现汽车在既定道路上自动行驶，我们采用的方式是：
       1、开启perception module，只是使用camera 作为感知模块的输入
       2、开启prediction module
       3、使用relative_map.sh 打开realtive map模块，用navigator.py播放录制的轨迹。
       4、开启planning module
       5、开启control module
       在第step 4时我们需要选择一个路径规划的模式，目前在：apollo-master\apollo-master\modules\plannin

[2018-09-07 07:10] kk2491 commented on #4008
@antonfrigard @lunden16 Guys, were you able to fix this issue ? Even I am stuck at the same point.

Thank you,
KK

[2018-09-07 11:55] jilinzhou commented on #5678
Gps messages are published by gnss driver. Take a look data_parser.cc where both Gps and Imu messages are published.

[2018-09-07 13:11] lesun90 commented on #5532
@nandita05  still not work for me

[2018-09-07 16:47] cedricxie commented on #4797
@lianglia-apollo Hi Liangliang, I have two questions now regarding this issue.

1. Is there any plan to open source this part right now?
2. The .so library is compiled using gcc 4.8. Is it possible to request .so file complied using gcc 5+?

Thanks for your answer!

Yuesong

[2018-09-07 16:48] cedricxie commented on #4974
@poutyface Thanks! It really helped me to resolve my issue with gflags.

[2018-09-07 17:31] rogern27 opened #5698 "Logic behind not updating center or anchor_point in PerformMotionFusion"
Hi,
My question refers to the following [code](https://github.com/ApolloAuto/apollo/blob/25049cb4bdfd932fb78df1cb18224bd4fdd612e3/modules/perception/obstacle/fusion/probabilistic_fusion/pbf_track.cc#L307) in perception/obstacle/fusion/probabilistic_fusion/pbf_track.cc)
[code]
In last line, `fused_object_->object->velocity` is replaced by `velocity`, but `anchor_point` is not used to update
the `ce

[2018-09-07 21:03] drchangliu opened #5702 "low volume REST API call in Apollo cloud simulation"
We are interested in performing low volume REST API calls to the outside world within the Apollo cloud simulation. This will enable us to perform inter-vehicle communication for our research project. The calls will low-volume (e.g. less than a dozen for the entire session, each only a few KB in size) and infrequent ( < 1 Hz). Could this be enabled? If an alternative way to communicate to the outsi

[2018-09-07 22:51] XiranBai opened #5706 "Fail to open config.pb.txt when running yolo_camera_detector_test"
System information

    **OS Platform and Distribution **: Host: Linux Ubuntu 16.04/Docker: 14.04
    **Apollo installed from **: docker
    **Apollo version **: 3.0

I am trying to run the yolo_camera_detector_test in module/perception/obstacle/camera/detector/yolo_camera_detector after building it with Bazel to see my own image result, but I got the following error:

[code]

It looks like there

[2018-09-08 06:40] xinwf opened #5713 "如何理解gps、corrimu的坐标转换(How to understand the coordinate conversion of gps and corrimu)"
in `data_parser.cpp`, function `DataParser::publish_corrimu_message`, the code segment is in the following
[code]
I think the real installtion of apollo's IMU device with relative to RFU coordinate system is like this:
[code]
So, the IMU's coordinate need to be translated to RFU coordinate, according to the relative position between imu's coordinate and rfu, the following conversion should be righ

[2018-09-09 22:40] levuphuong commented on #5051
Because I have some customize apollo 2.0. In that time I also want to try apollo 3.0 to check what is new and what is different.
Even if I create new ubuntu account user. But It still has come conflict.
Thanks

[2018-09-10 03:18] freeclouds opened #5719 "Launch planning module issue"
platform: ubuntu 16.04+apollo 3.0
about module: planning
issue:
when build pass lanunch planning module ,will failed:

alan@in_dev_docker:/apollo$ bash scripts/planning.sh start
/apollo/scripts/apollo_base.sh: line 234: 26879 Segmentation fault      (core dumped) nohup /apollo/bazel-bin/modules/planning/planning --flagfile=modules/planning/conf/planning.conf --log_dir=/apollo/data/log < /dev/null

[2018-09-10 04:34] muleisheng commented on #5719
You could try to execute _/apollo/bazel-bin/modules/planning/planning_ to check if planning could crash when starting it.

[2018-09-10 04:43] muleisheng commented on #5706
You could set the path of nvblas.conf by using _export NVBLAS_CONFIG_FILE=/usr/local/cuda_.
You could not find the file in /usr/local/cuda. You may need to create one first.

[2018-09-10 05:09] freeclouds commented on #5719
issue have fixed,we find in apollo  master branch latest code have a bug,
file path:  apollo-master\apollo-master\modules\planning\planning_base.h

[2018-09-10 05:43] lianglia-apollo commented on #5719
@freeclouds Hi, could you let us know more details on the bug? Thanks!

[2018-09-10 09:11] lygincn opened #5724 "[Error: Hardware GPS triggers safety mode: No INS status message.] when turning on the SimControl Mode in DreamView"
### System information

- **OS Platform and Distribution: Linux Ubuntu 14.04**
- **Apollo installed from**: https://github.com/ApolloAuto/apollo
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:

1. play demo_2.0.bag in DreamView
2.  swich on the SimControl button
3. in the console errors reported: `Hardware GPS triggers safety mode: No INS status message.`

##

[2018-09-10 11:12] freeclouds commented on #5719
we use gdb tools find in planning_dispatcher.cc,
std::string Name() const override { return planning_base_->Name(); }
=》“return planning_base_->Name()”;
will cause core dump,
because planning_base_ this class don't have Name（）function，
we return a string ,this core dump issue don't occur.

[2018-09-10 12:13] xinwf commented on #5661
The problem is to convert the coordinates of the IMU to RFU.

[2018-09-10 12:13] #5661 closed

[2018-09-10 16:14] jilinzhou commented on #5713
Your assumption of real IMU's coordinate system is incorrect. Take a look of https://www.novatel.com/support/search/items/Application%20Note (apn037.pdf)

[2018-09-10 16:17] jilinzhou commented on #5713
Take a look of this issue: https://github.com/ApolloAuto/apollo/issues/5676

[2018-09-10 17:45] lianglia-apollo commented on #5719
@freeclouds Thanks for pointing this out. We will fix it.

[2018-09-10 18:43] XiranBai commented on #5706
Hi muleisheng, thanks for your reply. I created the nvblas.conf, now the first 3 lines of warning became:
[code]

I put
[code]
in the nvblas.conf, but it still says 'CPU Blas library need to be provided', and the rest of the error messages are still the same. Could you share with me if you have any idea what is going on? Thank you very much!

[2018-09-10 20:57] #2629 closed

[2018-09-10 22:05] Capri2014 commented on #5724
lagging of INS status in GPS message, are you running the 2.0 bag with LATEST MASTER HEAD?

[2018-09-10 22:20] natashadsouza commented on #5051
It is not currently possible to run two versions of Apollo on your system. I'd recommend testing Apollo 2.0 out and then install Apollo 3.0.
Please let me know if you have additional questions.

[2018-09-10 23:56] yangydavid opened #5727 "Help wanted regarding to the Route Editing function in DreamView"
Dear Apollo Developers:

I have a question regarding to the usage of the Route Editing function under DreamView category.

- could you tell me how to set up the starting and end point of a route without affecting other default routes? Currently, if I put several points of interests on the map, the routing module would create a route which starts from a point that is on the last default route I cho

[2018-09-11 00:49] natashadsouza commented on #5386
@kk2491 yes that is the right paper. Thanks!

[2018-09-11 01:28] kk2491 commented on #5386
@natashadsouza Thank you for the clarification. You can close the issue.

[2018-09-11 01:33] zhuzd12 opened #5728 "lattice 算法细节问题"
在复现lattice算法中发现了一个问题想请教一下：假设车体在当前时刻位置与上一时刻规划出的轨迹有一定偏离，在当前时刻选取了纵向距离40m横向偏差为0的终点生成轨迹，但是这条轨迹的初始段几乎对横向没有纠偏，而是很平稳的过渡到终点，这样到下一时刻，横向偏差几乎没有改善，又重复之前的过程，偏差无法收敛。请问这种问题应该如何解决？

[2018-09-11 01:38] #5386 closed

[2018-09-11 02:11] lygincn commented on #5724
I checked out the messages in the demo_2.0.bag, there are already INS status massages published... like in the following pic:

![screenshot from 2018-09-11 09 52 57](https://user-images.githubusercontent.com/40354939/45333644-e4f28680-b5a9-11e8-8aae-92c133c35779.png)
**but** I have noticed that the frequency of the InsStat messages is lower than that of the other messages, not sure if this is rele

[2018-09-11 06:37] zhuzd12 commented on #5728
感谢回复，这两种方式理论上都可以缓解在这种场景下我所描述的问题。不过这里我还想表述另一层疑惑：对于控制而言，特别是基于MPC的控制方法，需要保证一定时域内（比如2到3秒）轨迹的稳定性和一致性，可能最好在不紧急的场景里规划出的轨迹在这个时间创窗口内保持不变；而lattice算法在每一帧都进行重规划，选取的横向偏差收敛的终点位置（如果每次都选取40m或者某一个评分最高的s_terminal）不断往前推进，而非之前规划确定的收敛点，本质上感觉还是无法回避收敛稳定性的问题。请问这样的观点是否正确和需要考虑？

[2018-09-11 07:02] poutyface commented on #5719
It seems that this problem has occurred since the following commit.

https://github.com/ApolloAuto/apollo/commit/28cd780499342ab7b5dc906dd1d7d497e03a6da6

Because Name() func is called before Init(), the planning_base_ in Name() is NULL.

[2018-09-11 07:21] JoestarK opened #5729 "Invalid data: Pose or timestamp is empty, when I run './calibrate.sh '"
How to calibrate lidar-gnss using calibrator, with demo_2.5.bag

E0910 23:47:36.555532  6815 export_msgs.cpp:97] dump dir already exists.
configuration loaded.
get data node.
odometry: /apollo/data/bag/calibration/export/multi_lidar_gnss/_apollo_sensor_gnss_odometry/odometry
result: /apollo/data/bag/calibration/export/multi_lidar_gnss/result/
velodyne16, velodyne64,
velodyne16, /apollo/data/bag/ca

[2018-09-11 07:37] yiyiyi4321 opened #5730 "请问lattice_planner里面的Auto Tuning是用来干什么的?"

[2018-09-11 07:52] IneverStop opened #5731 "Pull apollo image failed"
Hello guys, I failed to pull apollo image while running command `sudo bash docker/scripts/dev_start.sh`.
Here is the infomation:

### System information
- **OS Platform and Distribution**:Linux Ubuntu 14.04
- **Apollo installed from**:source
- **Apollo version**:3.0

### Steps to reproduce the issue:
- `sudo bash docker/setup_host/setup_host.sh`
- `sudo bash docker/setup_host/install_docker.sh`
-

[2018-09-11 09:28] SanduIrina opened #5732 "Planning: avoiding obstacles"
I tried testing the planner's capability of avoiding obstacles using the /apollo/modules/tools/perception/replay_perception.py script (which is on branch 3.0) and what I found is that:
- the prediction module must also be turned on(if I don't, the car just goes through obstacles)
- it detects the obstacles and it stops when it gets near enough
- if the obstacle takes only a small part of the lane,

[2018-09-11 10:06] #5731 closed

[2018-09-11 10:43] Triangle001 commented on #5678
in data_parser.cc line 135： if (type == Parser::MessageType::NONE) break;  done，what should i do ? Thanks.

[2018-09-11 12:17] hillbrook commented on #5676
1. Applying the right-hand rule on the x, y and z axes of vehicle frame, the Euler angles (roll, pitch and yaw) are defined, respectively.
Yaw is positive when the vehicle turns left;
Pitch is positive when the vehicle is nose up;
Roll is positive when the left side of the vehicle is up.
In novatel_parser.cc, vehicle frame is FLU. The original idea is publish sensor-independent vehicle frame in dr

[2018-09-11 12:32] hillbrook commented on #5713
1.Applying the right-hand rule on the x, y and z axes of vehicle frame, the Euler angles (roll, pitch and yaw) are defined, respectively.

 - Yaw is positive when the vehicle turns left;
 - Pitch is positive when the vehicle is nose up;
 - Roll is positive when the left side of the vehicle is up.

  In novatel_parser.cc, vehicle frame is FLU. The original idea is publish sensor-independent
  vehic

[2018-09-11 12:34] SanduIrina opened #5733 "Initial vehicle position"
How can I change the initial placement of the car on the map? I don't want to just play a bag from which i could get the pose, I need to get the car to a certain point and then drive with sim control

### System information

- **Linux Ubuntu 16.04**:
- **Apollo installed from source**:

[2018-09-11 12:41] jilinzhou commented on #5676
@hillbrook :

Is the sequence in the following code is z-x-y (UnitZ(), UnitX(), then UnitY())?

[code]

[2018-09-11 13:03] hillbrook commented on #5676
The sequence is z-x-y.

[2018-09-11 13:40] hahanigehaha233 opened #5734 "This repo can run in Ubuntu18 or not?"
I sorry asking for that because my taptop can't install nvidia driver in ubuntu14 but 18.

[2018-09-11 14:16] lesun90 commented on #5734
yes. I am using it in unbuntu 18.

[2018-09-11 15:03] jilinzhou commented on #5660
Take a look of this: http://www.compotrade.ru/i/pdf/ARS404-21_ARS408-21_en_V1.03.pdf

[2018-09-11 15:11] LucasMahieu opened #5735 "Can't use the dreamview : connection issue between frontend and backend ?"
Hi,
I am facing an issue with apollo 2.5 in this configuration :
### System information
- **OS Platform and Distribution **: Linux Ubuntu 14.04
- **Apollo installed from **: docker + github sources
- **Apollo version **: 2.5

My issue is that the connection between the dreamview in the browser seems to be disconnected when data are publish on topics.
Let's me explain a bit more in details :
- I us

[2018-09-11 17:21] XiranBai commented on #5706
I am closing this as the rest of the problem seems to because the file path is wrong

[2018-09-11 17:21] #5706 closed

[2018-09-11 18:17] natashadsouza commented on #5734
Please reference #4636

[2018-09-11 19:02] natashadsouza commented on #5216
Closing this issue as it appears to be resolved. @drliebe feel free to reopen the same if you have additional questions.

[2018-09-11 19:02] #5216 closed

[2018-09-11 22:44] yangydavid commented on #5631
Hi xiaoxq,

Thanks for your help, it works!

[2018-09-11 22:44] #5631 closed

[2018-09-12 02:39] JoestarK commented on #5729
I have fixed this, "mv demo_2.5.bag multi_lidar_gnss.bag"

But I got another problem

exporter: [ApolloOdometryExport]
exporter: [PointCloud2Export]
exporter: [PointCloud2Export]
configuration loaded.
get data node.
odometry: /apollo/data/bag/calibration/export/multi_lidar_gnss/_apollo_sensor_gnss_odometry/odometry
result: /apollo/data/bag/calibration/export/multi_lidar_gnss/result/
velodyne16, ve

[2018-09-12 02:46] JoestarK commented on #5729
Alright, there is no topic named "/apollo/sensor/velodyne16/PointCloud2" or "/apollo/sensor/velodyne64/PointCloud2" in demo_2.5.bag
┓( ´∀` )┏

[2018-09-12 02:57] geoffviola opened #5736 "dev_start.sh requires root access"
**Describe the bug**
Running `docker/scripts/dev_start.sh` puts files in `/apollo`, which requires root access.

**To Reproduce**
`docker/scripts/dev_start.sh`

**Expected behavior**
Put the folder in the home current user's directory.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu
 - Browser [e.g. chrome, safari] n/a
 - Version [e.g. 22] 28cd780499342ab7b5dc906

[2018-09-12 03:01] zhuzd12 commented on #5728
还有另外一个小问题：车道参考线的起点的更新频率和规划的更新频率是不是不一致？ 如果车道参考线起点更新较慢（比如1s），原理上能够一定程度保证更新周期内轨迹生成的稳定性。

[2018-09-12 03:15] #5729 closed

[2018-09-12 03:55] freeclouds commented on #5692
@yifeijiang,我们在户外用相对地图测试,代码版本 apollo 3.0,
我们把:
apollo-master/modules/planning/conf/planning_config.pb.txt
中planner_type : EM改成了NAVI,
问题１：
这个planner_type是改变了ｐｌａｎｎｉｎｇ模块具体使用哪种规划算法，这个ｐｌａｎｎｅｒ_type和ｄｒｅａｍｖｉｅｗ里面Ｎavigation有什么区别？或者讲我想使用ａｐｏｌｌｏ　３．０的相对地图方式必须要在ｄｒｅａｍｖｉｅｗ里面选择Ｎａｖｉｇａｔｉｏｎ模式吗？这个Ｎａｖｉｇａｔｉｏｎ模式和ｐｌａｎｎｅｒ里面的ｎａｖｉ规划方式是什么样的关系？
我们参考了这篇文档
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_use_apo

[2018-09-12 04:43] YajiaZhang commented on #5728
如果每次都选取固定距离（比如一直是40m）回到指引线，我看可能的原因有如下几个：1. 控制模块在一个轨迹规划周期中没有作出适当相应进而改变车辆状态，2. 设计的代价函数不合理，导致没有选取尽快回到指引线的轨迹。3. 纵向上的参数太稀疏，导致相邻参数的轨迹代价差别太大。比如我们设置了10m, 20m, 30m, 40m等几个横向轨迹的纵向距离参数，某一个周期选择了40m回到路中心的轨迹，下一个周期可能最优解是39m回到路中心，但是我们没有设置这个参数，而选择30m回到路中心的轨迹可能横向速度加速度又太大，所以一直选用40m回到中心的轨迹。

对于可能原因1, 确实是需要考虑您提到的原因， “对于控制而言，特别是基于MPC的控制方法，需要保证一定时域内（比如2到3秒）轨迹的稳定性和一致性，可能最好在不紧急的场景里规划出的轨迹在这个时间创窗口内保持不变”。 对应到解决方案，可以查看Traject

[2018-09-12 04:44] YajiaZhang commented on #5728
车道参考线（指引线）对于规划算法是不变的，对轨迹的产生应该没有影响。

[2018-09-12 04:46] YajiaZhang commented on #5730
Auto Tuning部分的目的是通过机器学习的方式来给代价函数的参数调优，现在相关工作还在开发之中。

[2018-09-12 06:43] KevinYuk commented on #2768
Is there any official DOC to introduce the detail of EM planner?

[2018-09-12 06:51] zhuzd12 commented on #5728
感谢对第一个问题的耐心回复！目前也在尝试记录上一周期的切入点，并加入相似性指标来保证轨迹稳定性。

另外一个问题我可能没有表述清楚。想问询的是每一帧lattice规划时参考建立frenet坐标系的车道参考线的起点（对应于s=0）是不是也是随着车的定位而确定的，比方说起点固定在本车实时在车道上沿着后方20m的固定距离。又或者不是这样，而是在本车行驶一段时间（1s）或距离（1m）内，车道参考线（一系列离散点）是不变的，也就是frenet参考系也不变。之所以问这样一个问题是觉得可以通过设置一个时间窗口稳定的车道参考线也即起点固定的frenet坐标系，可以保证在这个窗口内的收敛点/终点"40m"不会发生变化（空间上仍旧是同一个点）。这样上一时刻的40m对应的还是当前时刻的40m，而不是39m。请问目前车道参考线的起点是我刚刚所描述的哪种方式（依据本车实时位置的动态值 or 一定时空边界内的相对稳定

[2018-09-12 07:04] Triangle001 commented on #5678
apollo提供了将NMEA-0183 格式的数据解析成proto类型的代码吗？

[2018-09-12 09:06] echotor commented on #4432
@natashadsouza OK. Thanks!

[2018-09-12 09:47] SanduIrina commented on #5733
Thanks a lot!

[2018-09-12 11:37] yiyiyi4321 commented on #5730
这种学习可以理解为根据场景自动为那六个代价函数分配权值吗？

[2018-09-12 12:11] kk2491 opened #5739 "Lane Change in Custom created map"
Hi Guys,

This is with respect to issue #4008.

I have created a custom created map with 2 lanes in same direction to test the lane change and overtake behavior. Below are the details.

a) Length - 320 m
b) Lane IDs 98_1_-1 and 98_1_-2
c) right neighbor and left neighbor has been updated as well.

The autonomous vehicle still doesn't do the lane change behavior.

Can anybody please explain me what

[2018-09-12 15:46] gladijos opened #5740 "Standard mode usage (start, stop, pause, continue, restart)"
### System information

- **OS Platform and Distribution**:  (e.g., Linux Ubuntu 16.04)
- **Apollo installed from**: binary
- **Apollo version**: 3.0

### Steps to reproduce the issue:
- switch on standard mode in dreamview
- switch on Canbus, Gps, control, planning, routing, localization
- "Start Auto" button  is inactive.

1. Why so?
2. How can I start, pause and stop current routing session?
3.

[2018-09-12 15:54] freeclouds opened #5741 "相对地图与导航模式问题"
- apollo 3.0

- ubuntu 16.04

- 相关模块 relative_map

- 问题

1、我们在调试apollo 3.0导航模式中参考了如下这份资料
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_use_apollo_2.5_navigation_mode_cn.md
     在文档中介绍了使用apollo 2.5的导航模式的步骤，这个相对地图的导航模式和相对地图的模式0、模式 1、模式2是什么关系？要使用导航模式需要在哪些配置文件进行配置？
2、从code中分析使用导航模式不需要Routing模块，将车开到录制参考线的起点，然后用navigator.py播放制作的参考线，如果不人为停止车，车会将沿着参考线一直行驶直至参考线终点？即导航模式无法设置终点吗？
3、我在apol

[2018-09-12 17:16] alexbuyval opened #5742 "Is it possible build protobug messages outside docker?"
Hi all!

For some reasons I would like to analyse Apollo ROS bag files on host machine under original ROS.
However, there are no protobuf messages outside the docker. So if I am trying to listen such messages I got the error like the following:
[code]
Is it possible to build theses messages on host machine? If so, how can I do it?

Thank you

Alex,

[2018-09-12 23:18] natashadsouza commented on #5242
Currently closing this issue as it appears to be resolved. @xinwf if you have any additional questions, feel free to reopen this issue. Thanks!

[2018-09-12 23:18] #5242 closed

[2018-09-12 23:33] natashadsouza commented on #5702
@drchangliu thank you for your request. We do not currently support REST API calls in our cloud simulation platform for a number of reasons. If you have any suggestions on how to best set up V2X, we would love to hear your thoughts and findings. Thanks!

[2018-09-12 23:40] natashadsouza commented on #4318
Closing this issue as it appears to be resolved.

[2018-09-12 23:40] #4318 closed

[2018-09-13 00:47] jilinzhou commented on #5742
Building those messages is straightforward using protoc tool.  But it is not going help you with standard ROS. The core ros libs have been modified to provide support protobuf msgs inside ROS. As my understanding, you can run apollo modified ROS on your host for sure but it takes some efforts to figure out all the dependancies and folders required to copy from docker to your host.

[2018-09-13 01:13] SohamGhormade commented on #4636
@hahanigehaha233 and @natashadsouza
FYI I was able to follow @xiaoxq 's advice and build apollo as well as run the lint check with Ubuntu 18.I simply followed the instructions from [here](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_release.md) .

Note that I followed the instructions to build without hardware because I do not have an actual car model with hardware

[2018-09-13 01:32] SohamGhormade commented on #4636
nvm...I am seeing a build failure with Ubuntu 19.04 today.
Here are the details about my Ubuntu version from terminal window:
![ubuntu_version](https://user-images.githubusercontent.com/9662026/45461847-292d7600-b6d3-11e8-8015-d4d2f8449e5a.png)
And here is the build output:

![build_failure 2018-09-12 21-29-09](https://user-images.githubusercontent.com/9662026/45461859-3ba7af80-b6d3-11e8-906b-7f96

[2018-09-13 01:56] yiyiyi4321 opened #5743 "关于EM_planner的一点疑问"
我理解的期望最大化是E step和M step反复迭代的过程，貌似在路径规划和速度规划中都没有看到这种反复迭代？

[2018-09-13 05:05] alexbuyval commented on #5742
I see.

Thank you!

[2018-09-13 05:05] #5742 closed

[2018-09-13 12:02] Mushekwi opened #5744 "用vscode进行debug时报错"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**:source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:3.0

### Steps to reproduce the issue:
1.启动vscode，打开apollo目录，进行编译
   Ctrl+Shift+B
   编译成功
2.进入docker,启动Dreamview后台服务程序
   bash docker/scripts/dev_into.sh
   bash scripts/bootstrap.sh
   Dreamvie

[2018-09-13 14:06] ZK-Zhou opened #5745 "关于汽车标定的问题"
通过阅读“如何标定车辆油门和制动”我受益匪浅，可是依然有几个疑问：
1.输入x，y，z的值分别是x代表了加速的控制指令, y 代表了限制速度(mps), z 是减速指令,正值标识油门量，负值标识刹车量，那么x的具体物理量是？
2.数据处理之后输出的标定结果是油门和制动百分比吗？具体是怎么转化的呢？

[2018-09-13 14:35] jilinzhou opened #5746 "ComparableCost::HAS_COLLISION flag is not passed back to the caller function."
**Describe the bug**
Take a look of the following two functions:

[code]
The information of **obstacle_cost.cost_items[ComparableCost::HAS_COLLISION]** is never passed back to the caller of **CalculateStaticObstacleCost()**.

[2018-09-13 15:36] lesun90 commented on #5739
What planner you use.
if you use the EM, tune the parameter in planning_config.pb
also in planning_gflags (look for lane change parameter)

Good luck

[2018-09-13 16:00] kk2491 commented on #5739
@lesun90 Thanks for the reply. Yes, I am using EM planner.

I will check for the parameters need to be changed.

Thank you,
KK

[2018-09-13 16:03] lesun90 commented on #5739
remember to restart planning modules, otherwise, the changes won't take effect.

[2018-09-13 16:04] kk2491 commented on #5739
@lesun90 .. restart planning modules means restart bootstrap ??

[2018-09-13 16:09] lesun90 commented on #5739
turn off and turn on again the planning module in dream view

[2018-09-13 16:11] kk2491 commented on #5739
@lesun90 Got it. Thank you.

[2018-09-13 16:33] kk2491 commented on #5744
Did you try restarting the debug ?

[2018-09-13 18:50] #3728 closed

[2018-09-13 19:50] davidadley opened #5747 "Preview points in Lateral Controller"
The following lines (485-489) in [lat_controller.cc](master/modules/control/controller/lat_controller.cc) appear incorrect:

[code]

This will result in `preview_point == matched_point`, as `QueryNearestPointByPosition()` will return `preview_point` as the nearest point.

Surely this is incorrect? Maybe the correct approach is to calculate the lateral deviation from our current position relative t

[2018-09-13 22:29] ankitvora7 opened #5748 "Incorrect planning behaviour"
The zip file attached herewith contains the video that explains the planning behaviour. In a nutshell, the vehicle skips intermediate segments to reach the destination. Instead of taking few right turns and then reaching its destination, it directly goes straight towards the destination. The segments/checkpoints are numbered 1 through 6. Instead of going in the order 1->2->3->4->5->6, it does from

[2018-09-14 00:48] WangZhongjian commented on #5744
@kk2491 试了，不好用啊

[2018-09-14 02:01] freeclouds opened #5750 "run perception_offline_visualizer.sh error"
Dear apollo developer,
     when we test apollo perception module, we find a issue,
platform:
- device[xiaomi PC]
- Version[apollo 3.0]
- OS[ubuntu 16.04]

issue description:
     step 1: bash docker/script/dev_start.sh ,into apollo enviroment
     step 2: bash script/perception_offline_visualizer.sh, perception module core dump,this bug ｒandom occurrence．
　We are analysing the cause of this probl

[2018-09-14 02:34] SohamGhormade commented on #4636
Update: apollo.sh clean and then a build fixes the issue.
i.e I can build apollo code with Ubuntu 18.04.

[2018-09-14 05:38] lianglia-apollo commented on #5750
It looks like some issue related to cuda_util. Could you try using cuda gdb to get more details?

[2018-09-14 06:06] mickeyouyou commented on #5740
A1. Some modules don't start or there is some exceptions throwed , like perception or not ?

A2&A3.  There is no need to restart planning, When you are in auto mode ,you can send another routing.

[2018-09-14 06:11] mickeyouyou commented on #5735
Have you ever tried other browsers, such as chrome?

[2018-09-14 07:07] natashadsouza commented on #4636
@SohamGhormade Thank you so much for the update. We are glad to hear that you were able to build Apollo on Ubuntu 18.04. As we mentioned before, Apollo has not been completely tested on Ubuntu 18 and hence you testing it for us is much appreciated!

[2018-09-14 07:35] kk2491 opened #5751 "How to calculate stbounday() ?"
Hi Guys,

I have been going through the Apollo code and having difficulty in understanding how the stboundary() is calculated. I got the point that stboundary it is the "s" values with respect time. However I got the below doubts when going through the st_boundary.cc program.

1. t value - does this start when the routing starts ?

2. s values - Could you please let me know from which point the va

[2018-09-14 08:15] LucasMahieu commented on #5735
Thanks for the reply :
1 - Yes, I did, I got exactly the same issue with other browsers
2 - Yes, I have the `rostopic list` as I should have

[2018-09-14 11:39] hahanigehaha233 commented on #5734
I was install yesterday and no error in compiling time or test demo time.

[2018-09-14 11:39] #5734 closed

[2018-09-14 12:35] gengqx opened #5752 "parse yaml fault when building ros"
I was try to build ros,I did not know the yaml version ,I have tried 0.3.0,0.5.1,0.5.2,0.5.3. I'm using gcc 5.5.0 .here is what I got:
[code]

[2018-09-14 12:43] kennethyu2017 opened #5753 "in StdPlanning::RunOnce() ,no status returned by EgoInfo::instance()->Update() call but check status after that."
version: master 2018.09.10
file: modules/planning/std_planning.cc
function:  StdPlanning::RunOnce()
description:
line 252: call EgoInfo::instance()->Update(), but that function returns 'true' other than status object.
but in the following line261 we check the status object:
 if (!status.ok()) {......
}.

at now, this will not cause running error , but just logical misleading.

[2018-09-14 13:25] wckorealsh opened #5754 "Routing/Reference curve"
**Describe the bug**
If routing request includes circling around a block of the map, then it simply skips some route. See the example below.

-- is the horizontal lane, | is the vertical lane, all connected geometrically.
--1--|--2--3--|--5--\
------|----4---|
If the request is 1-2-3-4-2-3-5, then it goes 1-2-3-5 by skipping waypoint 4

**To Reproduce**
Steps to reproduce the behavior:
1. Open Sun

[2018-09-14 14:07] fanghaos2014 commented on #1702
Hi, I  change the --v in the conf. But still, I haven't got any output for the ADEBUG. Thank you.

[2018-09-14 14:09] TifferPelode opened #5755 "Build failed"
**Describe the bug**
When I run `bash apollo.sh build`  on my PC, it show me this:
[code]
I just  follow the step in README file, and I compile this passed before.
After I re-download it and compile again, it show me this.

Can someone tell me how to debug this problem??

[2018-09-14 14:12] hahanigehaha233 commented on #5755
Maybe you should read [this](https://github.com/ApolloAuto/apollo/tree/master/docs/demo_guide).

[2018-09-14 22:22] sopXx opened #5757 "Issue regarding lane post-processing"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Steps to reproduce the issue:
- Run cc_lane_post_processor_test from module/perception/obstacle/camera/lane_post_process using sample data provided in modules/perception/data/cc_lane_post_

[2018-09-14 23:05] lianglia-apollo commented on #5755
Please delete folder {HOME}/.cache/bazel/_bazel_{USER}, and run ```bazel clean```.

[2018-09-14 23:39] lianglia-apollo commented on #5753
status is returned by init frame. Maybe it is better to put it closer to avoid confusion.

[2018-09-15 00:06] joon5283 opened #5758 "bash scripts/localization.sh start problem"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 16.04
- **Apollo installed from (s

[2018-09-15 01:56] kennethyu2017 commented on #5753
actually, right after init frame,  the  returned status is already immediately checked and will exit RunOnce due to error. And the following  Line261 status check I think should belong to EgoInfo::instance()->Update().

Line241:  status = InitFrame(frame_num, stitching_trajectory.back(), start_timestamp,
                     vehicle_state);
  if (!frame_) {
     ...
    return;
  }
...

Line252: E

[2018-09-15 07:59] lianglia-apollo commented on #5753
I don't think there is an error. The status check at Line 261 is not for EgoInfo.

[2018-09-15 08:07] lianglia-apollo commented on #5746
The obstacle_cost is the returned value of TrajectoryCost::GetCostFromObsSL.

[2018-09-15 08:10] lianglia-apollo commented on #5744
We don't officially support vscode debug for now.

[2018-09-15 08:14] kennethyu2017 commented on #5753
yes, the EgoInfo->Update() will always return true as success.
maybe put the status check and !frame check together is better.
thanks for reply.

[2018-09-15 08:14] #5753 closed

[2018-09-15 08:16] lianglia-apollo commented on #5719
We will fix it in the next release soon.

[2018-09-15 11:36] jilinzhou commented on #5746
Thanks @lianglia-apollo. Missed the definition of operator += for ComparableCost.

[2018-09-15 11:36] #5746 closed

[2018-09-15 13:07] #5752 closed

[2018-09-15 22:54] lianglia-apollo commented on #5753
Yes, thanks, we will make modifications in a new release soon.

[2018-09-16 18:35] kk2491 commented on #5732
@SanduIrina .. I would like to give some points here as I have tested some of the behaviors of the Car.

1. Car would stop if the lane is completely blocked or blocked more than half of the lane.
2. Car would nudge the obstacle if lane is partially blocked and there is sufficient room in the same lane to pass through.
3. Car would change the lane if the obstacle covers less than half of the lane a

[2018-09-16 19:43] LyubimovMaxim opened #5759 "Connect roads on a junction"
Hi Guys,
Can anybody please explain me how I can connect roads on a junction ? I tried co use connection record for it, but I haven't any results.

Thank you

[2018-09-17 06:16] gengqx opened #5763 "Is there any change to release a caffe library with CUDA 9.0?"
We want to use apollo in a new graph card device,Old Cuda8.0 and GTX1080 could not satisfy our demand, I would be great to release the internal caffe code. Otherwise if can release a caffe with CUDA9.0,It would be great help

[2018-09-17 06:41] gengqx commented on #5736
When start a container,It would set up host device,make some soft link to the hardware device,so Current it need root access.

[2018-09-17 08:37] DiarmuidMccarthy commented on #5755
I had the same issue, with same errors
It turn out I had a directory called apollo , with a directory called apollo.
I went into apollo/apollo/ then went into docker

[2018-09-17 09:11] youluexx opened #5764 "When I used nvprof to profile the module of perception, I got "No kernels were profiled"."
When I used nvprof to profile the module of perception, I got "No kernels were profiled".

First, I run the demo bag.
[code]
Then,
[code]

And I got the answers:
[code]
The profileling result is "No kernels were profiled."

When I profile the module of perception, the usage of gpu shows below.

[code]

However, when just run the command `bazel-bin/modules/perception/perception --flagfile=modules/p

[2018-09-17 09:48] hmdt commented on #5764
profilers usually are profiling at a much lower speed. The time that you specified for profiling is too short (20 seconds). That is why until that time only a small part of the perception module is loaded in the nvidia-smi log. Increase the time so that it becomes representative.

[2018-09-17 09:51] hmdt commented on #5763
All the new GPUs are capable of running previous CUDA versions. There is no need to have a caffe with CUDA 9.0. Just install the compatible driver, exactly the same as in your host machine, inside the docker. It will work!

[2018-09-17 09:57] LyubimovMaxim commented on #5759
Now I have this map:
![screenshot from 2018-09-17 12-51-20](https://user-images.githubusercontent.com/27014132/45616597-9dbc3800-ba78-11e8-930f-2d6fabdee7d0.png)
and this file base_map.txt
[base_map.txt](https://github.com/ApolloAuto/apollo/files/2388063/base_map.txt)
Can anybody explain me  how connect lines or, if it's possible send example of junction

[2018-09-17 10:09] youluexx commented on #5764
@hmdt Thank you for your relay.
I increased the time to 200 seconds, and I got the same result. And the usage of GPU is only 89 Mib. When I just run the module of perception without nvprof, the usage of Gpu is 1909 MiB.

[2018-09-17 10:49] lookcat commented on #5755
我也遇到这个问题了， 执行delete folder {HOME}/.cache/bazel/bazel{USER}, run bazel clean后。
bash apollo.sh build --local_resources 2048,1.0,1.0sed: 1: "WORKSPACE": invalid command code W
Must run apollo.sh in dev docker or release docker

[2018-09-17 13:32] saurabhjha1 opened #5765 "Running Apollo Azure Scenarios Locally"
Hi,

I want to validate some of my algorithms with respect to security, safety, resiliency of autonomous vehicles and want to inject various kinds of faults while Apollo is running.

Plan of injection: AVFI: Fault Injection for Autonomous Vehicles
Link: http://sjha8.web.engr.illinois.edu/resources/DSN-FA-2018.pdf

To successfully show that my created algorithms are fault-tolerant and provide defen

[2018-09-17 14:47] xinwf commented on #5472
@nandita05 hi, where to download the newest calibration tool?

[2018-09-18 01:54] IneverStop opened #5766 "How to keep offline_visualizer_tool on the monitor?"
Hello guys!
I want to change a single pcd file to see what will happen, here is my steps:
- I move the pcd file and pose file to another place, together with pose.txt and stamps.txt(Only have information of this pcd file)
- Then change `/apollo/modules/perception/tool/offline_visualizer_tool/conf/offline_lidar_perception_test.flag` ,reset `--pcd_path` and `--pose_path`
- Run offline_visualizer_too

[2018-09-18 07:39] TifferPelode commented on #5755
Thx.
After tried lianglia's suggest, I solved this problem.
Just delete the bazel folder & rebuild.

[2018-09-18 07:41] #5755 closed

[2018-09-18 08:30] youluexx commented on #5764
I had increased the time to 1 hour, and got the same result.
I see the log of perception. There is no 'perception.ERROR' file. The 'percpetion.INFO' file just finished the init of AdapterManger.
The total log of 'perception.INFO':
[code]
The total log of 'perception.WARNING':
[code]
It seems the program got stuck. The process shows below:
[code]
I also tested the 'yolo_camera_detector_test' and go

[2018-09-18 08:41] breakisx opened #5769 "how to driver Lidar imu and camera on software?"
Hi  Apollo team:
      you know, when we use the keyboard or mouse and so on, they always have themselves'drivers. so
I want to know where is lidar 、camera、imu、gps and radar‘driver ? where is lib to use for us about them ? in dir(apollo/module/drivers)，this  seems is different with linux'driver, so  I  can't understand, Please introduce.  Thank  you !   you!

[2018-09-18 08:48] kk2491 opened #5770 "Significance of Evaluator and Predictor - Prediction module"
Hi Guys,

Could anybody please explain the functions of Evaluator and Predictor in Prediction module.I have been going through the prediction module code and need help in clarifying the below doubts.

1. Functionalities of Evaluator and Predictor.
2. As per Apollo architecture, there are 2 types of methods used in predicting the obstacle trajectory. Model based and Data driven.
a. Does model based

[2018-09-18 10:45] kk2491 commented on #5211
@natashadsouza Could you please help me with this.

[2018-09-18 15:42] #4513 closed

[2018-09-18 15:43] #4943 closed

[2018-09-19 01:51] breakisx commented on #5769
thank  you !

[2018-09-19 02:35] natashadsouza commented on #5222
Currently closing this issue as the resolving code has been merged into master.

[2018-09-19 02:35] #5222 closed

[2018-09-19 02:51] ZK-Zhou commented on #5745
Hi old steel @mickeyouyou
我按照您说的在moudels/canbus中寻找油门、刹车、转向具体转化过程，发现例如brake_60中的updatedata中制动踏板（pedal）的数值取值依然为百分比，而且通过x = pedal / 1.52590218966964e-05转化为可以用十六位表示的数值，0-65535是否可以认为就是最终转化结果呢？林肯车底盘会直接使用这个数值嘛？还是会在车底盘或者车ECU里进一步处理？
期待您的解答。

[2018-09-19 05:40] mtyylx commented on #4233
Nop...

[2018-09-19 07:13] SanduIrina opened #5771 "Add a new module in dreamview"
Hi, can you give some hints as to how can I add a new module in Dreamview? I want to add a module that will activate a steering network that will contribute to the decisions made by the planner. I want to be able to turn it on and off like any other module.

[2018-09-19 07:37] narendahr15 commented on #103
@quning78 Is there any milestones/plans to support the Nvidia PX2 officially?

[2018-09-19 07:54] alexbuyval opened #5772 "Cannot run ./scripts/diagnostics.sh"
Hi all,

When I am trying to run ./scripts/diagnostics.sh, I got the following error:
[code]
However, protobuf already installed into '/usr/local/lib/python2.7/dist-packages/' folder.
I tried to uninstall and install protobuf again. However, I got the same error.

Also I tried to install the protobuf into /home/tmp/ros/lib/python2.7/dist-packages/ folder by the following command:
[code]
no lucky a

[2018-09-19 08:09] xinwf opened #5773 "sensor_calibration.sh doesn't work"
I want to do the calibration work from camera to lidar, I have confirmed that all topics can output right data, but when I begin to calibrate with param lidar_camera, there is nothing output, no error, no tips, no warning, just nothing output.
During our calibration work, the topic frequency is a little different, while the official specified configuration is in the following

    |   传感器      |

[2018-09-19 08:13] #5382 closed

[2018-09-19 08:15] #5713 closed

[2018-09-19 09:41] SanduIrina commented on #5759
as far as I know, you have to create a road for each connection in the junction. Lets say your roads are left, right, up and down. You would have to define roads for the following connections: L-R, L-U, L-D, U-D, U-R and R-D. This is how it looks like for a 3 road junction:
![screenshot from 2018-09-19 12-39-43](https://user-images.githubusercontent.com/37019001/45745321-47323380-bc09-11e8-8e46-0b

[2018-09-19 14:25] GeorgeMD opened #5776 "Details about lane post processor"
I was looking at the code in `cc_lane_post_processor.cc` and I was trying to figure out if and how apollo projects pixels into 3d world coordinates. I found the `CCLanePostProcessor::ProcessWithoutCC` function. At around line 571 a variable `value` is set to the value of the pixel. I don't understand what the value of this variable represents. I thought lane_map is like a binary map, 0 means no la

[2018-09-19 15:02] freeclouds opened #5777 "Lattice planner issue"
- platform:
ubuntu 16.04
-code version
apollo 3.0
-relate module
Lattice planner、relative map

issue:
      we use relative map and lattice planner in navigation mode to run our vehicle，but the lattice planner run error,
Log file created at: 2018/09/19 18:05:16
Running on machine: in_dev_docker
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
E0919 18:05:16.102973 12869 hdmap_ut

[2018-09-19 18:08] natashadsouza commented on #5771
@SanduIrina it is not currently possible to do so in Dreamview. But I have included it as a feature request and is definitely something the team will review. Thank you for your request.

[2018-09-20 00:28] natashadsouza commented on #5744
@Mushekwi try using [this document](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_apollo_in_vscode_cn.md) to help you get VSCode up and running. Let us know if you face any challenges.

[2018-09-20 03:38] freeclouds opened #5779 "apollo 3.0 navigation mode question"
Dear apollo developer,
- Apollo version
3.0

apollo 3.0 navigation mode support Multi Lane？

![image](https://user-images.githubusercontent.com/19250516/45794316-9b501d00-bcc8-11e8-9837-440a7968497e.png)

in the picture, can our vehicle run from left lane to middle lane when in the front of the car have obstacle ?
I read  this infromation:
https://www.csdn.net/article/a/2018-04-24/15946728

It des

[2018-09-20 07:39] poutyface commented on #5772
This script work for me.

In my enviroment apollo dev docker image (dev-x86_64-20180906_2002)
[code]

[2018-09-20 08:49] XiaoQXu opened #5781 "It is better to change the data type of 'message_history_limit' field defined in adapter_config.proto file to Unsigned rather than Signed?"
The reason as follows:

By default, the data type of 'message_history_limit' field defined in adapter_config.proto
file is int32 as Signed Number. However, it's stored in Unsigned Number when to use.

	// data member of Adapter class to store the configured value of 'message_history_limit' field
	size_t message_num_ = 0;

If the value of 'message_history_limit' is configured to -1 (maybe incautiou

[2018-09-20 08:58] ipatient-zju opened #5782 "Doubt about CalculatePathCost"
since the total_level =  path_waypoints.size() at line 149 of [dp_road_graph.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/toolkits/optimizers/road_graph/dp_road_graph.cc), the level is always less than total_level, the logic at line 150-154 of [trajectory_cost.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/toolkits/optimizers/road_graph/trajectory_co

[2018-09-20 11:04] #5781 closed

[2018-09-20 14:27] xinwf commented on #5773
All param doesn't work, does this have a relation with the distance or time ?

[2018-09-20 15:02] jilinzhou commented on #5782
http://www.cplusplus.com/reference/vector/vector/size/

size_type size() const noexcept;

Return size
Returns the number of elements in the vector.

This is the number of actual objects held in the vector, which is not necessarily equal to its storage capacity.

[2018-09-20 15:04] jilinzhou commented on #5779
The information you read was from 2018-04-24. Outdated!

[2018-09-20 15:54] freeclouds commented on #5779
@jilinzhou so, the latest about navigation can mode support Multi Lane?

[2018-09-20 20:53] snuffysasa opened #5783 "Why is Radar commented out in the dag_streaming_camera_lidar_radar.config?"
Why is Radar commented out in the dag_streaming_camera_lidar_radar.config?

Is there something wrong with it?  Not ready yet?

Thanks

[2018-09-20 21:27] weidezhang commented on #5783
it haven't been tested yet for radar.  we are still working on that.

[2018-09-20 23:04] #4125 closed

[2018-09-20 23:07] snuffysasa commented on #5783
So LiDAR + Radar works  and Radar + Camera works

but all 3 has not yet been tested / implemented?

[2018-09-21 04:49] wfgsy101 commented on #3128
have you resolve this problem, I meet this same issue now , could you tell me the steps to resolve it , thanks a lot

[2018-09-21 05:41] sudhanvakudlapur opened #5784 "./apollo.sh build FAILED: Build did NOT complete successfully"
I followed the steps to create my own localization module as in https://github.com/ApolloAuto/apollo/blob/master/modules/localization/README.md

### System information

- Ubuntu 16.04LTS
- **Apollo installed from source**
- **Apollo version 2.0**

I am getting the following error when I build using $./apollo.sh build.

ERROR: /apollo/modules/localization/BUILD:23:1: C++ compilation of rule '//modu

[2018-09-21 06:04] apycii opened #5785 "difference between linear_acceleration and linear_acceleration_vrf"
Hello guys!

I have two questions in this proto file.

-------------------------------------------------------------------------------------------
apollo/modules/localization/proto/[pose](https://github.com/ApolloAuto/apollo/blob/master/modules/localization/proto/pose.proto).proto

package apollo.localization;

import "modules/common/proto/geometry.proto";

message Pose {
  // Position of the vehi

[2018-09-21 14:02] xinwf commented on #5773
@weidezhang  @techoe

[2018-09-21 16:11] Mohamed-BB commented on #4055
I am having the same issue, does it usually take long to build @Zhenni17

[2018-09-21 21:17] levuphuong opened #5787 "Dreamview at offlineview mode"
I am testing apollo 2.0 dreamview at offline view mode.
Actually I have built frontend with below command. everything is fine. It created dreamview/dist_offline folder.
`yarn build_offline`
But when I go http://localhost:8888 .Then console show "ERROR: missing required parameter(s)"
The error is from websocket_offline.js
It checks some params on http query string.
` params && params.url && params.

[2018-09-22 01:28] lianglia-apollo commented on #5784
It looks like some c++ language issues. Please check your implementation of localization.

[2018-09-22 02:08] hongkedavid opened #5788 "Error with starting the Apollo v3.0 docker"
I cloned the latest Apollo code from the master branch and tried to start the docker by `bash docker/scripts/dev_start.sh`.
However, I encountered the following error. I am running Docker (version 1.12.1) on Ubuntu 16.04.5 LTS.
Does anyone know how to fix it? Thanks!

[code]

[2018-09-22 02:45] hongkedavid commented on #5788
Figured out the cause of error: it is due to my old docker version. Everything works after I updated it to 18.06.1-ce.

[2018-09-22 02:45] #5788 closed

[2018-09-22 20:39] hongkedavid opened #5789 "A bug with included header file location in lidar_velodyne module?"
In modules/drivers/lidar_velodyne/common/socket_input.h, this [included header file](https://github.com/ApolloAuto/apollo/blob/23b726544d268e969bca4a3955ca65c91cc4c84a/modules/drivers/lidar_velodyne/common/socket_input.h#L25) seems a bug. Should it be `#include "modules/drivers/lidar_velodyne/driver/input.h"` instead?

[2018-09-22 21:16] lianglia-apollo commented on #5789
It will be fixed in the next release. Thanks!

[2018-09-22 21:52] #5789 closed

[2018-09-23 00:17] joon5283 opened #5790 "Question about localization simulation through dreamview"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: ubuntu 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 2.5

### Steps to reproduce the issue:
Hello. Nowadays, I am doing Apollo simulation through the dreamview. And I have a question about dreamview system. My goal is running the localization module

[2018-09-23 11:52] #5784 closed

[2018-09-24 04:16] freshnewegg commented on #5272
I agree, this is just the jacobian -> I propose to change it to

"GetTransitionalModelJacobian" or "GetTransitionalUpdateMatrix"

I prefer the former. If agreed upon, I can do pr

[2018-09-24 05:06] freshnewegg commented on #5777
Hi, I'm new to this but to my understanding if you use dreamview you the adapter will load the conf from a file like https://github.com/ApolloAuto/apollo/blob/154acc8dd34b93aa3fcce00d0e35247ce2a2f644/modules/dreamview/frontend/proto_bundle/sim_world_proto_bundle.json#L4104

Have you made sure a relative map is specified in your setup?

[2018-09-24 09:45] zhuzd12 opened #5792 "Performance of lattice algorithm in car following scene"
Lattice seems not to adjust the following distance dynamically according to the speed of ego car and leader car. Is that right? Maybe bringing in TTC（Time-to-Collision）is a better choice.

[2018-09-24 13:34] verasnt commented on #5779
Anyone trying to solve this? if no, i'll give it a try!

[2018-09-24 14:27] jiwonjoung opened #5793 "Data Module"
I am having trouble understanding data collection in Apollo.
What is the difference between the 'data module' and the 'e2e module'?
Can I activate these in simulation only mode?

I am interested in collecting data from raw sensor source for analysis. Is there a way to do this in Apollo?

[2018-09-24 18:10] snuffysasa opened #5794 "Delphi ESR Driver removed?"
I see tons of references to modules:drivers:delphiESR,

However, I cannot find delphiESR driver anywhere in /modules/drivers?

I only see Conti, ultrasonic, and racobit

was it removed?

[2018-09-24 18:38] natashadsouza commented on #5794
@snuffysasa yes we do not currently support Delphi Radar currently. Here are the 2 radars we [support](http://apollo.auto/platform/hardware.html). The references will be removed from both documentation and code soon. Thank you for your patience.

[2018-09-24 20:59] snuffysasa commented on #5794
@natashadsouza

Okay Thank you, will try to manually convert the Delphi data to similar format as the Conti and feed that into the radar processing subside and see what kind of results I get.

[2018-09-24 21:27] natashadsouza commented on #5794
Thanks @snuffysasa ... Do let us know if you are able to successfully run Apollo with the Delphi radar and please share your findings with the rest of the community.

[2018-09-25 00:49] natashadsouza commented on #5750
@freeclouds have you tried using CUDA GDB?

[2018-09-25 01:38] xiaoxq commented on #5793
Please just ignore there two modules, which are not commonly used.

For data collection, we simply call "./scripts/record_bag.py".

[2018-09-25 04:19] hongkedavid opened #5795 "Nvidia driver build ERROR: Unable to load the kernel module 'nvidia.ko'"
I am following [How to Run Perception Module on Your Local Computer](https://github.com/ApolloAuto/apollo/blob/fb12723bd6dcba88ecccb6123ea850da1e050171/docs/howto/how_to_run_perception_module_on_your_local_computer.md) to install nvidia driver in an Apollo v2.5 docker. However, I encountered the following error in Step 4.
I suspect this is caused by "The kernel was built with gcc version 7.2.0 (Ub

[2018-09-25 05:57] LyubimovMaxim commented on #5759
Thank you for answer, I thought it possible to achieve automatic connection. Now I create lane  for each connections  on junction and it's working!
![screenshot from 2018-09-25 08-55-25](https://user-images.githubusercontent.com/27014132/45995471-d7a4c400-c0a0-11e8-9efe-f55acdec19bc.png)

[2018-09-25 05:57] #5759 closed

[2018-09-25 06:14] freeyyc opened #5796 "关于EMPlanner的一个问题"
EM规划算法分为路径规划和速度规划2个阶段，在做路径规划的时候就已经避开了障碍物，速度规划的时候为什么还要考虑前方障碍物来确定跟车超车策略呢？

[2018-09-25 06:17] YYimingWang commented on #2426
hello,i also encountered this problem when i run the msf_localization modules.I download the data in http://data.apollo.auto/help?name=sensor%20data&data_key=multisensor&data_type=1&locale=en-us&lang=en
and put the folder in apollo/data/
and then operated  according to this tutorial---https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_MSF_localization_module_on_your_local_compu

[2018-09-25 06:37] kk2491 opened #5797 "Update ROS version in Apollo Docker"
Hi Guys,

Can we update the ROS version running inside the apollo docker ?

Please provide the recommended procedure if ROS can be upgraded.

The current version is Indigo, I would like to upgrade it to Kinetic or Lunar.

Thank you,
KK

[2018-09-25 08:12] xinwf commented on #5796
路径规划时避开的不是障碍物，比如限行路段、封闭路段等，避开的是道路

[2018-09-25 08:18] freeclouds opened #5798 "about FindMinDistancePoint function question"
Dear apollo developer,
- OS Platform and Distribution Linux Ubuntu 16.04
- About module: Control
- Apollo version 3.0
when we use navigation mode+lattice planner to run our car,we find this issue,

E0921 17:41:59.475888  9672 linear_interpolation.h:52] input time difference is too small
E0921 17:41:59.914815  9672 linear_interpolation.h:52] input time difference is too small
E0921 17:42:00.303588

[2018-09-25 08:40] Brox0931 opened #5799 "diagnostics 觀察到的Delay 現象"
### System information

- **OS Platform and Distribution Linux Ubuntu 16.04**:
- **Apollo installed from source**:
- **Apollo version 3.0)**:

我們將Apollo 提供的bag  過濾Planning Topic,
透過EM Planner 從新計算新的Planning Path

從diagnostics 觀察到Planning 的 Interval 是符合configure的100 ms
但是Delay 卻高達60 ms
ROS 不是改用Share memory 的方式達到Real Time 的效果嗎?
想請問會有這麼高的Delay 是什麼原因造成的呢?

謝謝

[2018-09-25 09:29] freeyyc commented on #5796
看下面这个图片，路径规划的时候通过动态规划寻找最小cost的路径，明显是已经避开了前车。
那么接下来速度规划的时候在ST坐标里面就应该没有前车这个障碍物了
![](https://user-images.githubusercontent.com/2374913/42579075-7bf08036-84f5-11e8-9438-f1629ac0ca97.png)

[2018-09-25 12:50] jiwonjoung commented on #5793
Is there a way to extract the data in the bag to csv?

[2018-09-25 17:59] natashadsouza commented on #5795
@hongkedavid please reference #4636 and let us know if you have any questions. We have not tested Apollo on Ubuntu18 currently and would appreciate if you could try it out and let the community know about your experience. Thank you!

[2018-09-25 18:06] startcode commented on #5796
@freeyyc path planning could not completely avoid some moving obstacles. We need to use speed planning to avoid collision.

[2018-09-25 19:03] SUNDREAM2018 opened #5800 "I have a big question. does it CAN network Support vehicle?"
Hello.
I am a self-driving Korea researcher.
We will not use  NVIDIA drive PX2 anymore.
I want to use it as an Apollo system.

Is there a specific set of vehicles that support CAN communication in the Apollo system?
and I wonder if your existing high-performance PC works well.

also, We have Hyundai 2019 Santafe in our lab.
Is CAN communication supported?
If so, I wonder if the accelerator, brake,

[2018-09-26 00:03] unacao commented on #5790
Do you see any data update from the ros topic /apollo/localization/pose?

[2018-09-26 00:06] joon5283 commented on #5790
@unacao
I cannot see any messages from the ros topic /apollo/localization/pose right after running the rosbag play.
And after almost 30s, /apollo/localization/pose topic messages are created.

[2018-09-26 07:17] sudhanvakudlapur opened #5802 "Failed to find match for field 'intensity'."
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-09-26 07:33] SS6141 opened #5803 "Failed to find match for field 'intensity'."
Hi,

1. I have a bag file with recorded with topic /apollo/sensor/velodyne64/compensated/PointCloud2/
2. I inferred that the PointCloud data in the bag is of type `Point<XYZIT>`.
3. I have written a ROS node inside the docker to process pointcloud data.
4. The program compiles successfully without errors
5. When I run the program using `rosrun,` I get the error as shown below

**Failed to find mat

[2018-09-26 09:16] wfgsy101 commented on #3615
I also meet this problem, thanks to Mr zhxt 's sharing , it was resolved
seems it missed the make -j2 step, should be as follow,
cd pcl
mkdir build
cd build
cmake  ..
(We don't know the parameters that Apollo used, so we keep it by default)
make -j2

#backup pcl lib
mkdir -p /usr/local/lib/pcl.origin
mv /usr/local/lib/libpcl* /usr/local/lib/pcl.origin

#replace with our build
cp -a lib/* /usr/loca

[2018-09-26 11:05] freeclouds opened #5804 "导航模式下使用相对地图问题"
代码版本：apollo 3.0
我们在测试导航模式时，在开始运行时车按照录制路径正常行驶如图1，在车距离终点5-10m左右时相对地图在dreamview 中无法显示，如下图2，同时车无法按照录制的轨迹运动，
图1
![2018-09-26 18-58-42](https://user-images.githubusercontent.com/19250516/46075876-73782200-c1be-11e8-8400-7d6bc7c9d67c.png)
图2
![2018-09-26 18-59-33](https://user-images.githubusercontent.com/19250516/46075882-796e0300-c1be-11e8-88e6-2a2f268d6778.png)

我们的车速大概0.5 m/s-1m/s,同时在/home/alan/apoll

[2018-09-26 11:18] freeclouds opened #5805 "导航模式下路径规划问题"
代码版本：apollo 3.0
问题描述：
在使用导航模式时，在dreamview里面仿真，打开相关模块，回放录制的数据包
rosbag play /apollo/data/bag/2018-09-25-20-04-55.bag --topics /apollo/perception/obstacles /apollo/localization/pose /apollo/sensor/gnss/corrected_imu /apollo/sensor/gnss/imu /apollo/sensor/gnss/odometry /apollo/prediction /apollo/canbus/chassis
当数据包已经播放完，但是planning模块、relative map模块仍有数据输出。如下图：
![2018-09-26 19-13-43](https://user-images.

[2018-09-26 16:58] unacao commented on #5765
Hi,

The Apollo simulation cloud service mainly simulates the different behaviors of prediction and planning modules based on perception output given in the scenarios. https://azure.apollo.auto/getStart?locale=en-us You can register and activate your account to give it a try and see if it fits your needs. If you want to change something on the hardware driver level, it may not be able to help.

[2018-09-26 17:50] yifeijiang commented on #5804
目前的相对地图的逻辑是：有指引线时，用指引线来产生相对地图，但在指引线结束前20米会开始使用感知的车道线来产生相对地图。

可以适当延长指引线来解决上述问题。

[2018-09-26 17:58] yifeijiang commented on #5805
在路测中，到达终点后需要人工接管。目前相对地图的逻辑是 完成指引线后，会继续延实时车道线自动驾驶。

[2018-09-26 18:42] kk2491 commented on #4727
@freeHackOfJeff Yes, I was able to get the test cases' executable files. The files were inside bazel-bin.
I am trying to analyze the test case programs, will update here if I face any issues.

Thank you,
KK

[2018-09-26 21:29] yifeijiang commented on #5779
Navigation mode supports multiple lanes and lane change in Apollo 3.0. You could use following command to send out multiple navigation lines:

dev_docker:/apollo/modules/tools/navigator$python navigator.py navigation_line_1 navigation_line_2

in this example, navigation_line_1 navigation_line_2 could be navigation line on two adjacent lanes. And navigation_line_1 has higher priority than 2.

[2018-09-26 22:15] unacao commented on #5790
I tried to reproduce the problem and seems like there is no /apollo/localization/pose output? Assigning to localization related developers for a further look. @zhouyao4321

[2018-09-27 02:00] zhouyao4321 commented on #5790
Localization module needs to be initialized before it broadcasts localization results. In demo bag, there are some inputs for localization module. So it's possible that the localization module starts to work after 30 seconds. But the localization module may not work properly, since when circling playing bag, the end of bag is connected to beginning again, which may lead to undefined localization o

[2018-09-27 04:44] joon5283 commented on #5790
@unacao
Yes right. After filter /apollo/localization/pose messages and do ./scripts/localization.sh start and do rosbag. Then, you can see the problem.
@zhouyao4321
Thank you! Then, is there any method to solve this problem? I just want to play bag file perfectly with localization module.

[2018-09-27 06:55] wfgsy101 commented on #1867
which ID is correct ? I also meet this problem, IPC: ARK 3500,  CAN : esd_can_pcie402,
usb can analyzer: one USB port to PC, one DB9 CAN port to IPC esd CAN pcie402,
 seems the IPC can't send the CAN message out successfully,  error as below,
E0927 13:53:31.288892 5882 Lincoln_controller.cc:621]chassisDetail has NO eps.
E0927 13:55:30.059859 5881_esd_can_client.cc:135]send message failed, error co

[2018-09-27 07:27] hzdsdhr commented on #5800
Or you can buy a vehicle which apollo supports, check: http://apollo.auto/vehicle/certificate_cn.html

[2018-09-27 12:16] freeclouds commented on #5805
@yifeijiang 从前面的提供的信息看，如果车行驶完通过指引线生成的道路后，会继续使用感知得到的信息生成实时车道线，如果想将车在行驶完通过指引线生成的道路停车，需要人工执行停车动作。我们想让车在行驶完通过指引线生成的道路停车，从code中看到在

从planning模块中输出的/apollo/planning topic信息：
decision {
  main_decision {
    stop {
      reason_code: STOP_REASON_DESTINATION
      reason: "stop by REF_END_0_Path from navigation line index 0"
      stop_point {
        x: 21.9748137816
        y: 0.106479256295
      }

[2018-09-27 14:43] jilinzhou opened #5811 "conti radar message 0x60A is parsed incorrectly"
**Describe the bug**
As subject line.

**To Reproduce**
Steps to reproduce the behavior:
1. Run conti_radar
2. rostopic echo /apollo/sensor/conti_radar
3. The attribute **interface_version** should be always **1** according to the documentation. This implies the msg is parsed incorrectly.
4. The attribute "Obj_measCounter" is also parsed incorrectly.

**Code snippet for the bug**

[code]

Accordin

[2018-09-27 20:03] #5794 closed

[2018-09-27 20:53] zhuangli1987 commented on #5794
i think we do have a internal version driver for Delphi ESR  :)

[2018-09-27 22:08] hadiTab opened #5812 "Real-time code in apollo"
I've only seen one instance of code that runs under PREEMPT_RT. It is in the CAN bus driver ([here](https://github.com/ApolloAuto/apollo/blob/90007273184bd345f4740a813ceff53b85f74ddd/modules/drivers/canbus/can_comm/can_sender.h#L277)).

This seems to be only used for CAN bus communications. Is this the only instance of real-time in Apollo? I understand that real-time CAN bus communication is impor

[2018-09-28 01:29] ImCabbage commented on #4676
I changed back to Ubuntu 14.04 and have not met the same issue yet.

On Thu, Sep 6, 2018 at 4:52 AM Natasha Dsouza <notifications@github.com>
wrote:

[2018-09-28 06:51] kk2491 commented on #5770
@kechxu Hi . Could you please clarify my doubt

[2018-09-28 18:20] daviduhm commented on #5779
If Navigation mode supports multiple lanes and lane change, how does it detect other cars and avoid collisions when lane changing? What happens if there is a car coming from behind when the ego vehicle tries to change lane?

As far as I understand, Apollo 3.0 navigation mode uses front-facing camera and frontal radar only which means there is no LiDAR or other sensors to detect obstacles behind or

[2018-09-28 18:34] zhouyao4321 commented on #4286
Currently, frame "localization" refers a transform from IMU to world.

[2018-09-28 20:13] natashadsouza commented on #4676
Closing this issue as it appears to be resolved in Ubuntu 14.04

[2018-09-28 20:13] #4676 closed

[2018-09-28 20:48] #3820 closed

[2018-09-28 20:49] #3096 closed

[2018-09-28 20:49] #2968 closed

[2018-09-28 20:50] #2786 closed

[2018-09-29 00:09] shifakhan4892 commented on #2629
Hi,
I am trying to build modules independently just like how @hongkedavid  suggested using "bazel build ", however i am getting the following error :
Can anyone please guide me of why it has this dependency issue ? Also to use Clang++ as the compiler for this should I set CC and CXX variables or is there a better method ?

[2018-09-29 00:11] shifakhan4892 commented on #2629
Hi,
I am trying to build modules independently just like how @hongkedavid suggested using "bazel build ", however i am getting the following error :

ERROR: missing input file '@ros//:include/kdl_conversions/kdl_msg.h'.
ERROR: /home/shifa/.cache/bazel/_bazel_shifa/540135163923dd7d5820f3ee4b306b32/external/ros/BUILD.bazel:5:1: @ros//:ros_common: missing input file '@ros//:include/kdl_conversions/kd

[2018-09-29 00:13] shifakhan4892 commented on #2629
Hi,
I am trying to build modules independently just like how @xiaoxq  @hongkedavid suggested using "bazel build ", however i am getting the following error :

ERROR: missing input file '@ros//:include/kdl_conversions/kdl_msg.h'.
ERROR: /home/shifa/.cache/bazel/_bazel_shifa/540135163923dd7d5820f3ee4b306b32/external/ros/BUILD.bazel:5:1: @ros//:ros_common: missing input file '@ros//:include/kdl_conve

[2018-09-29 00:17] yifeijiang commented on #5805
目前还不支持目的地停车。如果要修改这样的逻辑： 大概可以看下 3.0下的
/planning/toolkits/deciders/destination.cc: 48行
/planning/reference_line/reference_line_provider.cc: 408行

[2018-09-29 14:26] taoxianfeng opened #5815 "URL_LIST init error in rosbag_helper.py"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-09-29 14:41] taoxianfeng commented on #5815
sorry , my mistake , it's exist

[2018-09-29 22:39] snuffysasa commented on #5794
Cool, we are still getting the Delphi ESR set up.

The general plan was to use the autonomouStuff driver to get tracked object ros messages, then try to build a converter to reformat that data to be in ContiRadar msg format:

https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/proto/conti_radar.proto

and then send to the radar_process_subnode

[2018-09-30 05:01] freeclouds commented on #5805
@yifeijiang @mickeyouyou @all2one @mbinna
1、/home/alan/apollo/modules/map/pnc_map/route_segments.cc
bool RouteSegments::StopForDestination() const { return stop_for_destination_; }

void RouteSegments::SetStopForDestination(bool stop_for_destination) {
  stop_for_destination_ = stop_for_destination;
}
2、/home/alan/apollo/modules/planning/common/frame.cc
    if (segments_iter->StopForDestination())

[2018-09-30 06:23] hahanigehaha233 opened #5816 "vs code can't go to definition with F12 in apollo."
When I want to use F12 to find a function definition, I set IncludePath in c_cpp_properties,But I have no idea to set the virtual docker image dir to where I read dir.

[2018-09-30 07:24] TZVIh opened #5817 "use version 2.0 & version 2.5"
Hey,
I am new with apollo.

- Does the 2.5 version have the ability of urban driving?

- If I have a car with hardware installed for 2.0 version, can I upgrade the software to 2.5 version and it will work?

- If I want urban and highway driving, what should I do? (maybe move between the versions?  does it possible?)

Thanks!

[2018-09-30 08:36] hahanigehaha233 commented on #5816
I run `gcc -v -E -x c++ -` in docker contianr
[code]

But it doesn't work.

[2018-09-30 10:23] SUNDREAM2018 opened #5818 "Is the system incompatible? with Radar, Camera, GNSS"
Hello. I am a self-driving Korea researcher.
We will not use NVIDIA drive PX2 anymore.
I want to use it as an Apollo system.

Anyway, I have a few question.

Q1. Does Apollo System not support Ellipse2-D INS?
Q2. Dose Apollo System not support continental ARS441, continental ARS510?
Q3. How many cameras can I install? and Which Hardware compatible?
EX) I have a  continental MFS430, MFS430 cameras

[2018-09-30 10:41] SUNDREAM2018 commented on #5800
Thanks to Reply. :)
You said vehicle control is possible through by-wire control.
So. What equipment should I use? By-wire control or Communication
One company says we should use a Vector canoe, right?

[2018-10-01 12:33] alexbuyval opened #5819 "How does the YOLO 3D box detection from image work?"
I have some questions regarding 3D box detection from camera image by YOLO.

First of all, there is a inconsistency between documentations and code. As follows from [here](https://github.com/ApolloAuto/apollo/blob/master/docs/specs/perception_apollo_3.0.md#deep-network), the YOLO net outputs 2D rectangles in image frame and another [code](https://github.com/ApolloAuto/apollo/blob/master/docs/specs

[2018-10-01 16:14] shifakhan4892 opened #5820 "Linker issue or missing external files while compiling the modules independently."
Hi,
I am trying to build modules independently just like how @xiaoxq @hongkedavid suggested using "bazel build ", however i am getting the following error :

ERROR: missing input file '@ros//:include/kdl_conversions/kdl_msg.h'.
ERROR: /home/shifa/.cache/bazel/_bazel_shifa/540135163923dd7d5820f3ee4b306b32/external/ros/BUILD.bazel:5:1: @ros//:ros_common: missing input file '@ros//:include/kdl_conver

[2018-10-01 17:31] natashadsouza commented on #5815
Closing this issue as it appears to be resolved.

[2018-10-01 17:31] #5815 closed

[2018-10-01 17:33] natashadsouza commented on #5816
@hahanigehaha233 I am not sure we understand your question. Could you clarify what you are trying to achieve here.

[2018-10-01 17:40] snuffysasa opened #5821 "Questions about the radar module"
Firstly, Apollo 2.5 claims

"Apollo 2.5 aims for Level-2 autonomous driving with low cost sensors. An autonomous vehicle will stay in the lane and keep a distance with a closest in-path vehicle (CIPV) using a single front-facing camera and a frontal radar. Apollo 2.5 supports high-speed autonomous driving on highway without any map"

from this can I assume that this has been tested?.  And the came

[2018-10-01 17:40] natashadsouza commented on #5817
@TZVIh thank you for your interest in Apollo.

- Does the 2.5 version have the ability of urban driving?
       A. Yes Version 2.5 is an upgrade from Version 2.0. It can navigate on simple urban scenarios.
- If I have a car with hardware installed for 2.0 version, can I upgrade the software to 2.5 version and it will work?
        A. Please take a look at our [ReadMe](https://github.com/ApolloAuto

[2018-10-01 18:25] snuffysasa opened #5822 "Using Delphi ESR with Perception module."
This is a follow up to my question I asked here:

#5794

I was planning to to use the autonomouStuff driver to get tracked object ros messages, then try to build a converter to reformat that data to be in ContiRadar msg format to use with the radar_subnode.

However, am realizing some challenges.   The AStuff Delphi messages does not appear to have a probability of existence score..  And it appear

[2018-10-01 18:36] kylemartin1 opened #5823 "Supported Hardware Platform vs Hardware Development Platform"
Hello,

I'm considering adopting Apollo as the platform that I build my AV system on top of. However.... My system currently uses many VLP-16s.

I read that "[VLP 16 lidar]...only be used to collect data and cannot replace their counterparts in the reference design directly."

But I also see that King Long is not using the HDL-64E for their vehicle?

**Is it possible to use Apollo with a fused clo

[2018-10-01 18:51] jmtao commented on #5748
@ankitvora7 how did you define "intermediate segments" in your routing request? Can you send us your routing request, or the routing topic? thx

[2018-10-01 23:01] lianglia-apollo commented on #5819
There could be some lag in documents update. Please refer to the actual code if there is a conflict.

[2018-10-01 23:21] luqiang21 opened #5824 "Question about lane-change behaviors using EM planner and LATTICE planner"
### System information

- **OS Platform and Distribution (Linux Ubuntu 16.04)**:
- **Apollo built from (source)**:
- **Apollo version (3.0)**:

Hi there,

I tried to use both planners for lane-change. I found that EM planner takes a very long distance to complete and the trajectory is very smooth. However, the LATTICE can complete the lane-change in a very short distance while the speed was almost

[2018-10-02 02:30] natashadsouza commented on #5822
@snuffysasa please continue your question on the same thread as it pertains to the same topic and is easier to track. Also, as mentioned in #5794 we do not currently support Delphi Radar. While internally we may have some drivers, we do not have the permission to release it. We do apologize for the inconvenience.
Thanks!

[2018-10-02 02:36] snuffysasa commented on #5822
Okay, I will ask question in other thread.

[2018-10-02 02:36] snuffysasa commented on #5822
Can close this one

[2018-10-02 02:37] snuffysasa commented on #5794
The AStuff Delphi messages does not appear to have a probability of existence score.. And it appears the radar_subnode does use "probexist" value in the radar object builder. I am wondering how important is this value? What would happen to the fusion if I leave this score blank or put all to 100% or something?

[2018-10-02 05:46] fukushi0294 opened #5825 "How can I generate routing_map from xml file?"
Hello.

I want to use my own opendrive map in Apollo.

So I have tried generate routing_map by using base_map.xml in apollo/modules/map/data/sunnyvale_loop as a trial.
I made new directory named Mymap and I have only placed base_map.xml in this directory.
After then, I used following commands.
[code]
But it does not go well.

How can I generate routing_map from xml file?

[2018-10-02 07:46] TZVIh commented on #5817
Thanks for your answer.
I saw this blog: https://medium.com/apollo-auto/deep-dive-on-apollo-2-5-1e716ec94617
can you tell me what is the other differences between 2.0 & 2.5?

[2018-10-02 12:02] jilinzhou commented on #5822
It is highly possible that the attributes you are referring to are not actually getting used in perception module.  Just take a look of source code of perception module.

[2018-10-02 14:18] TZVIh opened #5826 "clone of old version"
Hey,
How can I clone old version(e.g. 2.0)?
If mutual bug  (e.g. from version 3.0 & version 2.0) have found, do you fix the old version ?
Thanks!

[2018-10-02 16:03] vladpaunescu commented on #5819
Hi! I'm also interested in the `YOLO 3D` structure. I know it's called `darknet-16c-16x-3d`.
I found the `deploy.prototxt` structure. I just to know the meaning of the output layers:

These should be related to standard YOLO 2D box:
- `cls_pred`
- `obj_pred`

What are these?
- `ori_pred` (object angle orientation?)
-  `dim_pred` (object x,y,z dimensions?)
- `lof_perm`
- `lor_perm`

I don't know th

[2018-10-02 18:29] natashadsouza commented on #5817
@TZVIh our [ReadMe](https://github.com/ApolloAuto/apollo/blob/master/README.md) will give you the best insight into the differences.

[2018-10-02 18:57] zhouyao4321 commented on #5758
The message type of topic /apollo/sensor/gnss/corrected_imu has been changed in apollo3.0. You can try to filter /apollo/sensor/gnss/corrected_imu topic from demo_2.0.bag. And I recommand this tutorial if you want to try localization module. https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_MSF_localization_module_on_your_local_computer.md

[2018-10-02 19:05] zhouyao4321 commented on #5562
When in the initial time, the SINS (strapdown inertial navigation system)  in localization module receives GNSS and IMU msgs and tries to align them. It will cost around 30 seconds.

[2018-10-02 20:12] snuffysasa opened #5827 "Async Fusion vs Probabilistic fusion"
Can anyone tell me the main differences between the two fusion approaches?

What are the strengths / weaknesses of these two options? Or what kinds of scenarios you would use one over another?

I was examining the properties of a sensor object, specifically position_uncertainty and velocity_uncertainty.     And notice these seemed to be only used in the Probabilistic fusion and not in the async fu

[2018-10-02 21:31] lianglia-apollo commented on #5826
We suggest using the latest version to minimize the possibility of facing bugs.

[2018-10-02 21:33] lianglia-apollo commented on #5824
In general, the lane change behaviors are controlled by a list of parameters. We believe both algorithm will achieve similar behavior if those parameters are adjusted properly. Please refer to the actual code for details.

[2018-10-03 10:48] TZVIh commented on #5817
Thanks!
I am confuse.
q1: can I use version 2.5 without the lidar and it will work in urban?
q2: the Hd map is not relevant in 2.5 version and higher?

[2018-10-03 10:50] TZVIh commented on #5826
Thanks!
if I dont have some of the hardware that version 3.0 need (ASU etc.) can I use the monitor and guardian moduls?

[2018-10-03 14:16] alicepeter opened #5828 "datatype error in msf demo"
I want to run MSF Localization Module demo,but there is a datatype error as bellow:
### System information

- **OS Platform and Distribution**: Ubuntu16.04
- **Apollo installed from**:source
- **Apollo version**:3.0

### Steps to reproduce the issue:
- **I set up my local computer according to [*this*](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_MSF_localization_module_o

[2018-10-03 16:27] shifakhan4892 commented on #2629
Did you use the linkopts option for the successful independent builds ? @hongkedavid

[2018-10-03 16:49] handcraftedcode1 commented on #5823
@lianglia-apollo Can you offer any insight into this?

[2018-10-04 04:55] kk2491 commented on #5803
Hi Guys. Even I am facing the same issue. Kindly help me in getting this fixed.

[2018-10-04 11:35] Tamme commented on #5330
@hadiTab, could you spare some information on the accuracy of the detector without hdmap or roi? Lets say compared to some other open source lidar detection networks.

[2018-10-04 14:08] kk2491 opened #5829 "Apollo 2.0 doesn't work anymore ..!!!!"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 16.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 2.0

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
Download the apollo version 2.0 and run `bash apollo.sh build'
Error details giv

[2018-10-04 15:20] ankitvora7 commented on #5748
@jmtao - Here's the routing request topic output

' header
 {
  timestamp_sec: 1538665197.79
  module_name: "dreamview"
  sequence_num: 1
}
waypoint {
  id: "800_1_-3"
  s: 17.9693358945
  pose {
    x: 586228.000258
    y: 4141126.35741
  }
}
waypoint {
  id: "1564_1_-5"
  s: 0.472174329836
  pose {
    x: 586303.574944
    y: 4141424.84706
  }
}
waypoint {
  id: "791_1_-1"
  s: 41.5642531516
  p

[2018-10-04 17:43] TZVIh opened #5830 "How to create HD map"
Hey,
Can I create HD map by myself?

[2018-10-04 19:01] hadiTab commented on #5330
The accuracy is OK. It does a good job detecting obstacles but it doesn't do a great job classifying obstacles that aren't on the road. The classification errors can become an issue for prediction. Some static obstacles get classified as moving obstacles and the prediction module will predict a trajectory for them which can cause problems for motion planning.

[2018-10-04 19:38] jilinzhou opened #5831 "Typo in conti_radar.proto"
**Describe the bug**
as subject

[code]
"oritation_xxx" should be "orientation_xxx". Hope it was not intentionally named as "oritation_xxx".

[2018-10-04 23:38] #4253 closed

[2018-10-05 11:46] kk2491 opened #5832 "UpdateStatus(Feature* feature) in obstacle.cc"
**Describe the bug**
A clear and concise description of what the bug is.
Only tracked position (t_position) is being updated in **UpdateStatus()** function. The other parameters (velocity, acceleration etc) are not the tracked ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/modules/prediction/container/obstacles/obstacle.cc'
2. Click on '....'
3. Scroll down to 'void Obstacle::

[2018-10-05 14:47] jiwonjoung opened #5833 "manual mode"
Hello!
I have some questions about the apollo auto manual mode.

How do I activate manual mode from the dreamview interface?
If I override my car system while it is running Apollo auto, can it detect and acknowledge my override?
If so, how sensitive is the override detection system?

[2018-10-06 09:06] xinwf commented on #4363
56是卫星数据包中的一个值，为56时表示是rtk::fixed定位模式，最精确的定位模式，具体哪个包忘了

[2018-10-07 06:31] zhxt commented on #5829
It seems that the header file was removed from the latest docker image(localization_volume-x86_64-latest) .  Which is now in the source directory from the latest source tree `modules/localization/msf/local_integ/localization_integ.h` ([being open sourced?](https://github.com/ApolloAuto/apollo/commit/412a5ecd0df58cfb263fa324db58442fb81d3b16)).

I think you can hack the dev_start.sh to use a early v

[2018-10-07 08:32] TZVIh opened #5835 "velodyne 16"
Hey,
I saw that I need velodyne 16.
Do I need it only for map creating or even for regular urban driving?

[2018-10-07 12:38] kk2491 commented on #5829
@zhxt Thanks for the input. I will try if I can get the earlier version of images by modifying `dev_start.sh` script.

[2018-10-07 12:40] XuanweiGou commented on #5835
I think it might work for the whole urban driving because it might work for the whole map scan for some unseen stuff detection

?取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: TZVIh <notifications@github.com>
Sent: Sunday, October 7, 2018 4:33:15 PM
To: ApolloAuto/apollo
Cc: Subscribed
Subject: [ApolloAuto/apollo] velodyne 16 (#5835)

Hey,
I saw that I need ve

[2018-10-08 01:50] 854619267 commented on #4055
in my case，the reason is hard disk is full

[2018-10-08 05:38] kk2491 commented on #5829
@zhxt I was able to get Apollo 2.0 working. Thank you.

[2018-10-08 14:45] zhxt commented on #5829
@kk2491 That's great. My pleasure.

[2018-10-08 18:49] vlin17 commented on #5787
May we know the reason of using the offline view? offline view is for playing back scenarios frame by frame, which requires special server to feed the frame data. If you want to playback rosbag, normal dreamview is enough.

[2018-10-08 18:53] levuphuong commented on #5787
I just wonder what's going with offline view. And how to set up to run at offline view.
Thanks

[2018-10-08 18:55] natashadsouza commented on #5829
Closing this issue as it appears to be resolved. Thanks @zhxt :)

[2018-10-08 18:55] #5829 closed

[2018-10-08 20:31] fanghaos2014 commented on #4803
Hi,
I have tried this method but when I go into gdb bazel-bin/modules/perception/perception.
set args --flagfile=/apollo/modules/perception/conf/perception_lowcost.conf --stderrthreshold=3 --use_navigation_mode
It is still not work.
The error message is can not open shared object file.
Thank you.

[2018-10-08 21:13] RamboRick opened #5839 "gdb debug issue: error while loading shared libraries"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:  14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:3.0

### Steps to reproduce the issue:
- **Please use bullet points and include as much details as possible**:
I am using gdb to debug some specific module (prediction and perception module). The question

[2018-10-08 23:53] hlchen1043 opened #5840 "Control Module could not start"
Bug: Control Module could not start by running ./script/control.sh

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Previously(right before this morning) the control module is working fine as we expected. If control module was successfully launched(like localization module), then the output should be:
[code]
However, this morning we noticed that, after running the co

[2018-10-09 05:48] kk2491 commented on #5532
Hi Guys, I am facing the same error.

Could you please clarify if the mapshow is supported in Apollo 3.0

Thank you

[2018-10-09 05:57] SS6141 commented on #5532
Hello @kk2491

It is working for me in Apollo 3.0.

[2018-10-09 12:23] kargarisaac opened #5841 "RTK Planner"
Hi,
How can I know more about RTK planner and EM planner? Any document or paper or ...
Thanks in advance

[2018-10-09 16:45] lopeztel opened #5845 "Hardware setup ethernet issue"
Hi, we're requesting help to solve a problem with the initial setup

- **OS Platform and Distribution: Linux Ubuntu 14.04.5**:
We've installed ubuntu 14.04.5 on IPC Nuvo-7160GC (https://www.neousys-tech.com/Resource/Product_Document/Nuvo-7160GC/Nuvo-7160GC_8th-Gen_GTX1060_GPU-computing_datasheet.pdf) but we've had problems with the wired internet connection, the system doesn't recognize the cable

[2018-10-09 17:55] vlin17 commented on #5833
The mode displayed on dreamview is controlled by chassis's [DrivingMode](https://github.com/ApolloAuto/apollo2/blob/master/modules/canbus/proto/chassis.proto#L12).  As long as your follow the protocol of chassis's DrivingMode correctly, dreamview will be able to "detect" and display it.

[2018-10-09 19:42] alexbuyval opened #5846 "Low cost perception in standard mode"
Hi all!

I am trying to test the perception module with only a camera. I am using the r3.0.0 branch. The YOLO detector detects the car very well. However, I found that car position are published in car coordinates system (not map coordinates system). I have disable flag use_navigation_mode, however it does not work properly anyway.

Here is an example.
![image](https://user-images.githubuserconten

[2018-10-09 20:05] vlin17 commented on #5727
For routing editing behavior, it depends on how many POIs are set when sending the routing request:
- Minimum required POI is 1
- If only one POI is set, then start point is current ego-vehicle position, and end point is the given POI.
- Otherwise, the start point is the first given POIs, and end point is the last given POIs

The second part of the questions is related to planning module.  Assigni

[2018-10-09 22:08] jiwonjoung commented on #5833
So there is no way I test the vehicle's behavior in manual mode through the Dreamview interface?

[2018-10-10 01:31] mickeyouyou commented on #5828
`000.bag` where is it from ? If you filtered from version 2.5, you will actually encounter this problem. So it’s best to record one yourself based on the 3.0 version.

[2018-10-10 01:54] shaenchenLi opened #5847 "a small question about Box2d::HasOverlap function"
Hi, I've been studying r3.0.0 codes recently. I have a small question about Box2d::HasOverlap function in modules\common\math\box2d.cc.

bool Box2d::HasOverlap(const LineSegment2d &line_segment) const {
  if (line_segment.length() <= kMathEpsilon) {
    return IsPointIn(line_segment.start());
  }
  if (std::fmax(line_segment.start().x(), line_segment.end().x()) < min_x() ||
      std::fmin(line_se

[2018-10-10 05:35] alexbuyval commented on #5846
Hi @CCodie

Yes, it is.

Yes, I use the [dag_camera_obstacle_vis.config](https://github.com/ApolloAuto/apollo/blob/r3.0.0/modules/perception/conf/dag_camera_obstacle_vis.config)

Best regards
Alex

[2018-10-10 08:17] lvxin0805 opened #5849 "camera and usb_cam"
Hi,
in the module/drivers folder, I found camera and usb_cam directory, what's the difference between them?

[2018-10-10 11:11] kk2491 opened #5850 "UnsatisfiableError: The following specifications were found to be in conflict: Keras"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-10-10 13:19] lesun90 commented on #5841
RTK planner is just a waypoint following. It will follow pre-recorded points.
EM planner: you can check the paper publication here https://arxiv.org/pdf/1807.08048.pdf

Good luck

[2018-10-10 17:22] lesun90 opened #5853 "How to debug in dreamland"
Hi,

I am using dreamland to verify my motion planning algorithm. My algorithm works well in dream view simulation, but it could not run in dreamland. The result is failed because of "error".
How do I detect what is the error here? it does not give any more information other than that.

thank you

[2018-10-10 18:21] BoChang11 opened #5854 "How to train the MLP Deep Learning Model"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2018-10-11 00:47] cyberphysicalrobotics opened #5857 "Planning: pull over problem."
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0
- **Simulator**: LG Simulator https://github.com/lgsvl/simulator

### Steps to reproduce the issue:
I'm working on Apollo planning module with customized simulator. I'm trying to make ego vehicle pull

[2018-10-11 01:49] lesun90 commented on #5853
hi,

I could not find where to download error log. I only see the debug/play button.
And how to get the task id?

Thank you.

[2018-10-11 06:01] freeyyc opened #5858 "planning算法测试和调试"
没有硬件设备的前提下，怎么测试和调试apollo现有的planning算法？

[2018-10-11 06:37] BoChang11 commented on #5854
Update 1:

Surprisingly it started working when I tried the same steps today. However there is an issue here and started getting new error. Kindly help me in fixing the issue. Details given below.

I was able to generate the ```feature.0.label.bin```. When I try to convert that into h5 file by running python generate_h5.py -f /apollo/data/prediction/feature.0.label.bin I am getting the below error

[2018-10-11 09:03] alexbuyval commented on #5846
Hi!

It seems I found a solution.

I found the following [commit ](https://github.com/ApolloAuto/apollo/commit/bb5a1cc673ef1ae7173a9577e165948da2d66b0e)in master branch. There is a transformation from camera coordinates to world frame for standard mode.
So I merged the perception module from my branch with master branch. Now the position of detected car is right.
Here is an [example ](https://yout

[2018-10-11 09:03] #5846 closed

[2018-10-11 10:05] freeyyc commented on #3462
How to choose the "Route: sunnyvale loop reverse"?

[2018-10-11 17:54] MNaseerSubhani opened #5860 "ros/include/ros/ros.h: No such file or directory #include "ros/include/ros/ros.h" ^"
![capture](https://user-images.githubusercontent.com/39435854/46823160-e7adea80-cda6-11e8-96e4-3510bbfafb10.JPG)

I got this error when building on Ubuntu 14.04 .. I manually installed the ros package but still the error occurs.

[2018-10-11 18:00] hezudao23 commented on #3005
Hi @msbeta @Zhenni17 @natashadsouza,
     I have also submitted my email through that survey link. If that link does not work any longer, can anyone of you kindly send me one copy of the Apollo OpenDrive specification?

[2018-10-11 18:12] siyangy commented on #5853
The task id is in the URL of the page you see the debug/play.

[2018-10-11 18:16] lesun90 commented on #5853
Here the task id:
597aeb58b11096000a888220

Thank you for your help

[2018-10-11 18:33] natashadsouza commented on #3005
@hezudao23 you should have received the map format. Please confirm.

[2018-10-11 18:42] hezudao23 commented on #3005
Thank you, Natasha. I received it. - Yunlong

On Thu, Oct 11, 2018 at 2:34 PM Natasha Dsouza <notifications@github.com>
wrote:

--
*Best wishes,*
*Huang*

[2018-10-11 18:55] siyangy commented on #5853
That doesn't seem to be a valid task id, what you see in the URL should be something like https://azure.apollo.auto/multidetail?id=<task-id>&locale=en-us

[2018-10-11 19:54] lesun90 commented on #5853
I think this is the correct one.
5bbe297eca04120016dd6ed0

Thank you for your support.

[2018-10-11 20:08] siyangy commented on #5853
It looks like your planning algorithm was stuck in some infinite loop and was thus killed by the system due to timeout.

The log I'm seeing is:
`
E1010 16:37:14.642369   159 file.h:97] Failed to open file /apollo/modules/map/data/map//speed_control.pb.txt in text mode.
E1010 16:37:14.642563   159 file.h:140] Failed to open file /apollo/modules/map/data/map//speed_control.pb.txt in binary mode.
W10

[2018-10-11 20:29] yangydavid commented on #5727
Thanks @vlin17 , your input is very helpful :)

[2018-10-11 20:41] lesun90 commented on #5853
thank you,

I was using a clock timer as the terminate condition for a while loop, that might the reason it stuck in an infinite loop. After I change the terminate condition (not using a clock timer), there is no problem.
My code (with clock timer) works fine in my machine, so the clock function might not work properly in the server. Can you guys please check that?

Thank you for your support.

[2018-10-11 20:41] #5853 closed

[2018-10-11 20:48] siyangy commented on #5853
We may have to know how the clock timer is implemented in order to know why it doesn't work in the server.

[2018-10-11 20:52] lesun90 commented on #5853
oh, it is really simple, I want the code to "do something in 50ms"
double start_time_ = Clock::NowInSeconds();
while (Clock::NowInSeconds() - start_time_ < 0.05) {
    $do something
  }

[2018-10-11 21:00] siyangy commented on #5853
I see, so this is expected as in simulation the Clock mode is set as MOCK so that NowInSeconds will always return the same time. I recommend calling system library to get real time, something like:
[code]

[2018-10-11 21:03] lesun90 commented on #5853
got it, thank you for your support.

[2018-10-11 23:43] CCodie opened #5862 "Build Failed - branch master"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: Source Code from Master Branch (date 2018.10.11)
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:

### Issue:
I cloned the git `branch master` yesterday (2018.10.11) but it's build was failed.
I successfully built the Apollo `branch -r3.0.0` in my deskt

[2018-10-12 01:20] jackany1 commented on #3005
Hi,
could you please send me one copy of the Apollo OpenDrive specification. My email is li.y@starcart.cn. Thank you! @natashadsouza

[2018-10-12 02:44] CCodie commented on #5344
@IneverStop @whuzxy @natashadsouza Hi, I have exactly the same error, can you help me ??
I installed --branch r3.0.0 and I changed both of `/apollo/modules/tools/supervisord/dev.conf` and `/etc/supervisord.conf` like below.

[code]

But when I'm trying to run `bash scripts/bootstrap.sh` the error occurs.
[code]
I would really appreciate it if you could help. Thanks !

[2018-10-12 02:46] CCodie commented on #5344
@IneverStop  @whuzxy  @natashadsouza  Hi, I have exactly the same error, can you help me ??
I installed --branch r3.0.0 and I changed both of `/apollo/modules/tools/supervisord/dev.conf` and `/etc/supervisord.conf` like below.
[code]
But when I'm trying to run bash scripts/bootstrap.sh the error occurs.
[code]
I would really appreciate it if you could help. Thanks !

[2018-10-12 02:53] DongAi commented on #5344
Hi CCodie, could you please display the error output of dreamview in file `data/log/dreamview.ERROR`?

[2018-10-12 03:25] csstormq opened #5863 "dreamview 有时关闭不了模块和误报模块运行状态"
问题描述：
1. 在实车调试（x86平台, apollo r3.0.0）的过程中，只使用 dreamview 启动/关闭模块。有时出现关闭不了模块（随机出现）;

2. 在实车调试（x86平台, apollo r3.0.0）的过程中，只使用 dreamview 启动/关闭模块。有时出现刷新网页后 Module Controller 中所有模块的状态变成灰色，但通过 top 命令是可以看到这些模块的（随机出现）。

3. 在实车调试（arm平台）的过程中，只使用 dreamview 启动/关闭模块。有时会出现“ROS节点消失了但进程正在运行”。

	该ROS节点是由 python 启动的

	“ROS节点消失”，意味着使用如下命令看不到该节点
		rosnode cleanup
		rosnode list

	“进程正在运行”，意味着使用 top 命令可以看到该进程

		我们是通过查看

[2018-10-12 04:19] CCodie commented on #5344
@DongAi Hi, thank you for the reply.
Actually there's no log file about dreamview.ERROR. There's only ERROR file about monitor.
`monitor.ERROR`
[code]
But this log seems about the CAN Card, doesn't relate with my error.
Can you give me another way to solve the problem ?? Thanks !

[2018-10-12 05:29] CCodie commented on #4388
@jt387 Hi, I exactly got the same problem.
Can you please explain more detail how you solved this problem??
I installed --branch r3.0.0 and I changed both of `/apollo/modules/tools/supervisord/dev.conf` and `/etc/supervisord.conf` like below.
[code]
But when I'm trying to run bash scripts/bootstrap.sh the error occurs.
[code]
I would really appreciate it if you could help. Thanks !

[2018-10-12 05:57] CCodie commented on #5344
@DongAi , here is my update info.
I typed `supervisorctl` after running `bash scripts/bootstrap.sh` with modified files `/apollo/modules/tools/supervisord/dev.conf` , `/etc/supervisord.conf`.
[code]
Deos this can help for debugging my error ?

[2018-10-12 06:52] DongAi commented on #5344
Hi, CCodie,
in this field,
[code]
I think this line shouldn't be commented. But as you have started supervisord, so maybe it's not this matter.

If dreamview crashed, a core file would be generated in directory data/core/, we maybe need to debug to find what caused this crash.

below are the commands to use gdb to attach and debug:
`$ gdb bazel-bin/modules/dreamview/dreamview data/core/#yourcorefi

[2018-10-12 07:05] shaenchenLi opened #5864 "利用相对地图和lattice planner进行规划"
您好，
code 版本： apollo v3.0
相关模块： relative map、planning module
问题：
1、之前看到过V3.0版本支持在相对地图下的lattice planning，请问应该怎么修改代码，https://github.com/ApolloAuto/apollo/blob/r3.0.0/modules/planning/proto/planning_config.proto 中只将planner_type改为NAVI，https://github.com/ApolloAuto/apollo/blob/r3.0.0/modules/planning/conf/planning_config_navi.pb.txt中的planner_type改为Lattice就可以了么？
2、代码中并没有看到navi planner调用em planner或者lattic

[2018-10-12 07:43] LyubimovMaxim opened #5865 "Problem with bidirection road"
System information:
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0
Issue:
 Hi, I'm creating map for Apollo and I want to create bidirection road.  Into documentation I found attributes direction, but I haven't any result when I change it. I can create route

[2018-10-12 07:57] deepaktalwardt opened #5866 "Build issue for Apollo 3.0 in Build and Release your Docker Container step"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information
Dell XPS 15
Intel Core i7 7700 HQ
16 GB RAM
GTX 1050 4GB

- **OS Platform and Distribution : Linux Ubuntu 16.04

[2018-10-12 07:59] whuzxy commented on #5344
@CCodie
I don't know why but it really worked,you can have a try.
**/apollo/modules/tools/supervisord/dev.conf**
[code]
**/etc/supervisord.conf**
[code]
I just add

 in /apollo/modules/tools/supervisord/dev.conf than you.But it worked for me . Good luck.

[2018-10-12 08:45] CCodie opened #5867 "Question about Radar-to-Camera Calibration"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: branch r3.0.0

### Question:
Hello Apollo team, I have a question about **Radar-to-Camera Calibration**.
I'm trying to calibrate Radar and Camera sensors with Apollo's calibration tool.

In documen

[2018-10-12 08:52] lylcore commented on #4628
@yaohuxiaohui   someone has achieved Apollo on TX2 successfully: can you give me address ?

[2018-10-12 09:36] kk2491 commented on #5532
@nandita05 Thanks for the help. I was able to fix the error. Steps followed.
[code]
The above installation upgrades the numpy version which would result in new error due to the different versions of numpy in miniconda and ROS.

Then I copied the miniconda numpy to ros

[code]

Now I am able to run mapshow without any issues.

Thank you,
KK

[2018-10-12 09:46] kk2491 commented on #5532
@nandita05 Thanks for the help. I was able to fix the error. Steps followed.
[code]
The above installation upgrades the numpy version which would result in new error due to the different versions of numpy in miniconda and ROS.

Then I copied the miniconda numpy to ros

[code]

Now I am able to run mapshow without any issues.

Thank you,
KK

[2018-10-12 14:27] kk2491 commented on #5860
@MNaseerSubhani Are you building the code using docker ?

[2018-10-12 14:31] MNaseerSubhani commented on #5860
Yes...

On Fri, 12 Oct 2018, 19:28 KK, <notifications@github.com> wrote:

[2018-10-13 02:59] freeclouds commented on #5864
我的理解
相对地图+lattice在planning的调用关系是：
/home/alan/apollo/modules/planning/navi_planning.cc
调用planner里面的规划算法，这里面的规划算法有Lattice、Em、NAVI
planner规划算法的位置：
/home/alan/apollo/modules/planning/planner
所以你只要在前面的文档里面设置了LATTICE，同时最好用dreamview里面navigation 模式下的界面进行操作，因为这个界面调用的脚本里面有设置--use_navigation_mode这个模式的参数，设置完
就会运行相对地图+Lattice模式，可以在navi_planning.cc和/home/alan/apollo/modules/planning/planner/lattice/lattice_plan

[2018-10-13 11:38] zhxt commented on #5866
Please try to give more memory to your VM(8G would be better for -j4, the more, the better) or reduce the job number to save memory usage.

[2018-10-14 02:07] laindeece commented on #3005
@msbeta Hi, could you please send us the Apollo OpenDrive specification as well? Thanks a lot!
   laindeece@gmail.com

[2018-10-14 08:42] TZVIh opened #5868 "Velodyne 32"
Can I replace the velodyne 64 with the velodyne 32?
How will be the results of the mapping and localization?
Thanks!

[2018-10-14 10:28] shifakhan4892 commented on #5860
I am facing the same issue.

[2018-10-14 11:36] MNaseerSubhani commented on #5860
I think there is some dependencies issue .. Apollo is working well on google VM on Ubuntu 14.04.

[2018-10-14 21:00] yuqijin opened #5869 "How does the planning module process the encroaching oncoming vehicles?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu
- **Apollo installed from (source or binary)**: branch v3.0.0
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Issue:
Hi Apollo developers,
I am trying to understand the logic of planning module, and I found that in the planning module, there is no corresponding code which is specifically fo

[2018-10-15 01:00] shaenchenLi commented on #5864
所以planning.cc最终调用的是lattice_planner.cc中的代码，只是用navigation mode生成的地图来作为规划过程中的地图么？

[2018-10-15 05:39] CCodie commented on #5344
@DongAi Hi, I still got the error for running dreamview. Can you please give me a help?
[code]

I hope the below can help me to debug this error...
`$ gdb bazel-bin/modules/dreamview/dreamview data/core/core_dreamview.27435`

[code]

I actually don't know why this error occur for my laptop because I successfully ran Apollo ver3.0 on my desktop. Anyway thanks in advance !

[2018-10-15 05:57] DongAi commented on #5344
Hi, CCodie,
from your gdb output, I think one of my colleagues has ever encountered this issue, it may be caused by the incompatibility between PCL lib and your cpu. You may need to recompile the PCL lib.

And you can get more information about this similar issue referring to [#3615](https://github.com/ApolloAuto/apollo/issues/3615), [#4135](https://github.com/ApolloAuto/apollo/issues/4135).

And

[2018-10-15 06:04] CCodie commented on #5344
@DongAi
Hi, I'm really appreciate for your reply.
I'm going to try with PCL lib and after that, I'll leave a comment here. Thanks !

[2018-10-15 06:05] DongAi commented on #5344
[code]

[2018-10-15 06:14] MNaseerSubhani commented on #5860
I got this warning when update  the host .
![screenshot from 2018-10-15 11 04 18](https://user-images.githubusercontent.com/39435854/46932924-528f4800-d06b-11e8-8771-407b33a1a191.png)

[2018-10-15 09:08] kk2491 opened #5870 "base_map.txt file for sunnyvale_big_loop and sunnyvale_loop"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 16.04
- **Apollo installed from (source

[2018-10-15 11:34] alexbuyval commented on #5870
You need to open this directory inside the docker.

[2018-10-15 11:39] alexbuyval commented on #5865
Which behavior are you expecting from Apollo when you change the direction attribute?
I mean how did you test roads with the different attribute?

[2018-10-15 11:40] kk2491 commented on #5870
@alexbuyval Thanks for the solution. I am able to find the base_map.txt file.

[2018-10-15 12:15] kk2491 commented on #5870
@alexbuyval Have you tried to run ```mapshow``` tool on sunnyvale big loop and sunnyvale loop maps ?

[2018-10-15 13:17] SanduIrina commented on #5732
Hello, I ran /apollo/modules/tools/perception/replay_perception.py from docker after starting dreamview. Inside the script you can find the coordinates and adjust them as you like

[2018-10-15 13:49] lesun90 commented on #5857
I think you should create a route for the curbside.
Right now, planner module in Apollo heavily depends on ref line, so consider the curbside as another lane.

Btw, your simulator look very nice, what tool are you using?

[2018-10-15 14:08] kk2491 commented on #5870
Yea.. I got it too. I was pointing to different folder. :D Thank you.

[2018-10-15 14:35] mohamednasrallah commented on #5857
^ Also curious. Which simulator project is that? Looks based on Unreal Engine. AirSim? Lidar representation looks nice.

[2018-10-15 15:33] fanghaos2014 opened #5871 "For Apollo 3.1, the module/tool/perception has been removed compared with previous version?"
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:14.04
- **Apollo installed from (source or binary)**:Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:3.0 above

I checked the new version and want to find the script files in module/tools/perception. But when I updated my version, I can not find this file and all it subfiles in Apollo. Then I search all its subfiles, I can not fin

[2018-10-15 17:07] LyubimovMaxim commented on #5865
I want to be able to create route in different directions. For test I try to do it with all values of attribute direction, but I haven't any changes in routing. I cannot create a route in a direction other than direction of point set

[2018-10-15 18:16] natashadsouza commented on #5862
@CCodie could you attach a screenshot of the error message to help us troubleshoot your request. Thanks!

[2018-10-15 18:52] natashadsouza commented on #5871
@fanghaos2014 Apollo is constantly being modified based on our roadmap. If you would like to reference old files, please refer to the version stable branches of Apollo. You could find the files you are looking for [here](https://github.com/ApolloAuto/apollo/tree/r3.0.0/modules/tools/perception). Let me know if you have any questions.

[2018-10-15 19:11] cyberphysicalrobotics commented on #5857
This simulation is using Unity.
Project video: https://youtu.be/4gstgiW04Xw
Github repository: https://github.com/lgsvl/simulator

[2018-10-15 23:59] apycii opened #5872 "gnss driver module for parsing"
Hi, Apollo team.

Apollo has two ways to receive GPS data. One is received via CAN, and the other is received by apollo/modules/drivers/[gnss](https://github.com/ApolloAuto/apollo/tree/master/modules/drivers/gnss).
It seems to be enough to get through CAN like a radar, but why use DRIVER module for parsing?

[2018-10-16 01:03] natashadsouza commented on #3005
Please send all your requests to the link above. Thanks!

[2018-10-16 01:55] HNwangjiaxing opened #5873 "Apollo.control模块运行后，无有效数据输出"
**System information

- **OS Platform and Distribution ( Linux Ubuntu 14.04):
- **Apollo installed from (source ):
- **Apollo version ( 2.5):

我们目前在做基于apollo平台的低成本的无人车驾驶，主要是结合生成的离线参考线、摄像头、毫米波雷达及GPS惯导,实现车辆的自动驾驶。但是在控制模块调试时，出现下面的问题：

首先已经给出控制模块的输入：底盘（chassis)、定位(localization)、行驶轨迹(planning)等信息后，（下图是监控模块显示目前运行的topics ）。
![qq 20181016095019](https://user-images.githubusercontent.com/41990400/46987963-0

[2018-10-16 03:08] TZVIh opened #5874 "Velodyne vlp 32c driver"
Hey,
Does Apollo velodyne driver works with vlp 32c?
I saw HDL32e but maybe I missed it..

Thanks!

[2018-10-16 03:39] kk2491 commented on #5870
@natashadsouza .. Yes. I was able to get the ```mapshow``` working. However I would like to know if the ```base_map.txt``` of ```base_map.xml``` file of sunnyvale_big_loop is openly available.

Thank you,
KK

[2018-10-16 06:10] HNwangjiaxing commented on #5873
您好，谢谢您的答复。我查看了log下的日志，没有发现control.FATAL 或者control.ERROR文件，关于control的文件，只有control.out 、 control INFO、和control flags。目前出错原因还未找到。

[2018-10-16 06:16] HNwangjiaxing commented on #5873
您好，您说的监控模块，我是直接用scripts下的关于监控模块的脚本打开的。

[2018-10-16 06:32] alexbuyval commented on #5840
There are a lot of reasons why the control module is stopped.
First of all, check the /data/core directory. If the module is crashed you will find a dump file there.
Also try to enable the debug mode for the control module. You need to add the following line into control.conf file:
[code]
After this you will be able to study a detailed log 'control.INFO' into /data/log directory.

[2018-10-16 06:58] CCodie opened #5875 "Failed to launch USBCAM (camera_nodelet_manager)"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: Source codes from branch r3.0.0
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Issue:
Hi guys, I'm trying to run `roslaunch usb_cam start_obstacle_camera.launch` but error about Camera Nodelet occurs. Belows are my info.
`start_obstacle_camer

[2018-10-16 07:53] CCodie commented on #5875
I found a log file as above texted. I really hope this can help to debug... !
[code]
Thanks... !

[2018-10-16 09:08] johndoe95 commented on #5479
@daviduhm Hi，I have the same trouble, have you solved it ?

[2018-10-16 13:55] pooluut opened #5876 "How can I add new layers into caffe?"
I want to add my own layer into caffe.
Any docs for this?

[2018-10-16 14:12] zjuhitljx opened #5877 "[planning模块]em_planner中关于dp_st_cost的疑问"
如何理解dp_st_cost.h中定义的：
            std::array<double, 200> accel_cost_;
            std::array<double, 400> jerk_cost_;
以及函数GetAccelCost（）及JerkCost（）的意义？

//谢谢解答

[2018-10-16 15:05] fanghaos2014 commented on #5732
Thank you for your answer. You mean inside the script, is garage script in the perception/tools or just replay_perception.py? Thank you very much.

[2018-10-16 16:30] #5824 closed

[2018-10-16 18:33] jilinzhou opened #5878 "non-consistent static obstacle projection on hdmap::path across two consective frames causes planning node crash"
**Describe the bug**
1. To reproduce the issue is a bit tricky. But once it is reproduced, it can be consistently reproduced.
2. In our setup, there is only one DESTINATION static obstacle. It is represented as a 2d box internally. The 4 corners of the box is projected onto the reference line in each frame to verify whether it is within the range. Here is the calling sequences:
ReferenceLine::GetS

[2018-10-16 23:48] CCodie commented on #3615
@zhxt  I think there's some change in git source. I solved that problem by following instructions in pcl official page. Anyway, your solution works properly and now I can run Dreamview. Thanks for your guide.

[2018-10-17 00:46] luqiang21 opened #5879 "Planning/Control issue: right turn is not working right"
### System information

- **OS Platform and Distribution, Linux Ubuntu 16.04**:
- **Apollo installed from source **:
- **Apollo version 3.0**:

When the vehicle is turning right, the planned trajectory looks fine which is not overlapping with the curb as shown below:
![screenshot from 2018-10-16 17-37-23](https://user-images.githubusercontent.com/9755042/47055095-a16fd700-d16a-11e8-9f08-bf9ab4edb4

[2018-10-17 00:53] HNwangjiaxing commented on #5873
您好，想请问一下您，你说的debug模式，如何开启呢？我找了一下，是不是在control.conf 文件中加入--v=4呢，然后开启control模块？但查看日志，还是无任何发现，恳请有时间进行解答，谢谢！

[2018-10-17 02:46] katie3000 opened #5881 "Details between Planning and Controller, how do they work together?"
Hello,
These questions focus on the relationship between Planning module and Controller module.
1. If the frequence of location is 10Hz, the frequence of Planning output(best trajectory) is 10Hz? Each coordinate, each trajectory?
2. As the same as Question1, does the frequence of Controller output depend on Location?
3. According to the code, Controller Frequence is 100Hz, and Planning Frequence i

[2018-10-17 03:12] katie3000 commented on #5728
您好，我好像遇到了一样的困惑。从代码上看，貌似动态轨迹的生成频率是10Hz，控制器的控制频率是100Hz，是否意味着对于每条动态轨迹控制器要做到在10个周期内收敛？我试验了，效果很差，可能是因为控制器的问题。关键的是，每10个周期都要重新收敛，转向动作会十分频繁。而且如你所说，lattice总是规划一条柔和的动态轨迹，10个周期只用到了轨迹前端很短的一部分，横向误差太小，如此循环，不足以引导车辆向参考线运动。并且，由于每10个周期重新收敛引起的转向动作导致车辆航向变化，反而会导致lattice生成的动态轨迹偏离参考线，造成恶性循环。
这是我试验过程中遇到的困惑，和您的问题很相似，一起探讨。

[2018-10-17 03:33] quning78 commented on #5878
@lianglia-apollo

[2018-10-17 04:15] BoChang11 opened #5882 "Cost Evaluator - Front Lateral Distacne Cost"
Hi,

I have been going through Cost evaluator and having hard time in understanding how the front lateral distance cost is calculated in the below code snippet.
[code]
Could you please give more explanation on this. For example Mathematical formulae/proof, reference paper used to implement the prediction module.

BR, Chang

[2018-10-17 04:48] lianglia-apollo commented on #5878
The l value are very large (~170). Are you trying to project obstacles near to the reference line?

[2018-10-17 06:04] CCodie commented on #5875
Here is my updated info.

`@in_dev_docker:/apollo$ roslaunch usb_cam start_obstacle_camera.launch`
And red texts in below picture show about the error.
![image](https://user-images.githubusercontent.com/37093857/47065188-23203d00-d21d-11e8-957f-4eb011c1c6a7.png)

I echo that log file.
[code]

Could anybody give me a solution about this error? I ran it in my desktop with no problem but in my laptop

[2018-10-17 12:15] kk2491 commented on #5850
Hi Guys,

I have installed the latest version of Keras, and was able to train the model to predict the obstacle trajectory.

Thank you,
KK

[2018-10-17 12:17] BoChang11 commented on #5854
@natashadsouza Issue is fixed now. I will be closing thi case.

[2018-10-17 12:17] #5854 closed

[2018-10-17 13:19] jilinzhou commented on #5878
@lianglia-apollo Thanks for the quick reply. I did not modify any logic of the code. You are right. The 'l' value are very large which mean the DEST obstacle is far away from the reference line.

In the following function,
[code]
The obstacle's SL boundary is computed by calling ReferenceLine::GetSLBoundary(). The 'l' value is not checked for lateralDecision at this stage. Then later on, in the fo

[2018-10-17 22:54] lianglia-apollo commented on #5878
We also noticed this issue. We are fixing it by cutting the reference line if the curvature is too large. The new code will be release soon.

[2018-10-18 00:51] daviduhm commented on #5479
No, haven't heard of any responses back yet. Sadly, hard to find out because Apollo only provides calibration toolkit as binaries. We don't have source code to look into..

[2018-10-18 03:38] jamchen1025 opened #5883 "Why need to use Lidar reliability factor when perform class fusion in standard mode?"
Hi Apollo Team,

As the title, in the perception fusion subnode [PerformClassFussion function](https://github.com/ApolloAuto/apollo/blob/master/modules/perception/obstacle/fusion/probabilistic_fusion/pbf_track.cc#L605),

1. Why need to multiply lidar reliability factor(0.5) in "default standard mode"?
    (only has lidar data, because radar data will be ignored)
2. If I don't multiply lidar reliab

[2018-10-18 08:52] wujiyoung commented on #4170
@ghdawn Should I re-build apollo after enabling --output_debug_img ?

[2018-10-18 10:12] kk2491 commented on #5211
@chasingw Thanks for the response. I have drawn the above representation after going through the code. So as per the code in overtake case the obstacle would be behind ADC. In ideal case if ADC has to perform overtake behavior, obstacle should be in front of ADC.

[2018-10-18 12:28] jilinzhou commented on #5878
@lianglia-apollo : Yes, for DEST obstacle, it can be ruled out using routing info. For general static objects, projecting each corner of 2d box onto reference line might be computationally too expensive. How about build a few layers (coarse to fine) of axis aligned 2d boxes (lane width can be used here) for the reference line and then does the collision detection in between the bounding box of obs

[2018-10-18 12:52] chasingw commented on #5211
I think this overtake not mean adc want to perform overtake behavior, But when ego want to change lane, we should consider the obstacles that want to overtake the ego vehicle.The case you described is considered in the file [front_vehicle.cc](https://github.com/ApolloAuto/apollo/blob/master/modules/planning/toolkits/deciders/front_vehicle.cc)

[2018-10-18 21:04] yangydavid opened #5884 "Navigation Mode Question"
### System information

- **OS Platform and Distribution (Linux Ubuntu 14.04)**:
- **Apollo installed from (master)**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
- I was following the navigation mode manual at the following place:[http://articles.csdn.net/plus/view.php?aid=15946701](url), which was the same article posted on Apollo's github page. when I play the recorded bag un

[2018-10-18 22:54] daviduhm commented on #5884
Seems like you're having the same issue as mine. You can check log messages from ``/apollo/data/log/planning.INFO`` or by running ``bash scripts/navigation_planning.sh start_fe`` from command line. If it's crashing because of some thread related issues, then I've fixed this issue and you can check PR here: https://github.com/ApolloAuto/apollo/pull/5885

[2018-10-18 23:36] yangydavid commented on #5884
@daviduhm  Hi dude, I could not even find my `planning.INFO` file under the `/apollo/data/log` folder. It looks like it was never generated.

I tried the `start_fe` command and nothing changes either. could you tell me how to fix this issue in a detailed way? I really appreciate it.

Btw, unlike what described in the article, after I send the smoothed reference line, the lane boundary would be cov

[2018-10-19 01:51] daviduhm commented on #5884
I'm sorry but without seeing any log messages, it's hard to tell what's causing your issue. If you can't even launch the navigation planning module either from dreamview or command line without any error messages, my guess is that you did not build Apollo correctly. Otherwise, you should be able to see some log messages when you run it with ``start_fe``. You can check my fix more in detail from th

[2018-10-19 02:39] CCodie commented on #5862
@natashadsouza I just downloaded branch r3.0.0 and use it now.
When I download another version of git source, I'll check it at that time.
Thank you for the reply and I'm gonna close this issue !

[2018-10-19 02:55] CCodie commented on #5509
@johndoe95 Hi, I solved that problem with modifying the launch file.
I'm now using `one Leopard camera` with modified launch file.
The most simple solution is **match your device with device param in launch file**.
e.g. If your usb camera is `/dev/video0`, you can modify your launch file param to `/dev/video0`.

[2018-10-19 02:55] #5509 closed

[2018-10-19 02:59] CCodie commented on #5344
@DongAi I'm really appreciate for your detail instructions.
I found out that error was caused by incompatibility between my CPU and PCL lib.
Now I exactly solve my problem. Again, thank you :)

[2018-10-19 03:14] johndoe95 commented on #5509
Hi, @CCodie, thank you very match!

[2018-10-19 03:54] yimzhou commented on #5452
Hi @gladijos, have you solved this problem?

[2018-10-19 03:56] johndoe95 commented on #5479
Hi @daviduhm
Have you successfully ran the toolkit and got the extrinsics.
BTW, do you have any other method to calibrate radar and camera, thank you !

[2018-10-19 04:08] xinwf commented on #5846
hey, can you tell me how do you get this result? Which modules do I need to enable, which script do I need to use and where to find the output picture?

[2018-10-19 05:43] alexbuyval commented on #5846
Hi @xinwf

You need to run:
[code]
Last script run the perception module with the visualization window.
Also check that '/modules/perception/conf/perception_lowcost_vis.conf' file has the following settings:
[code]

And, of course, you need corresponded data in camera topic and chassis topic.

[2018-10-19 11:28] paul8765 opened #5886 "运行yolo_camera_detector_test出现Segmentation fault错误"
在docker里运行yolo_camera_detector_test

root@in_dev_docker:/apollo# ./bazel-bin/modules/perception/obstacle/camera/detector/yolo_camera_detector/yolo_camera_detector_test

[15918.181102] yolo_camera_det[21188]: segfault at 1 ip 00007f9000c28f90 sp 00007ffd50882968 error 4 in libcaffe.so.1.0[7f9000730000+d95000]
[17035.369373] yolo_camera_det[21402]: segfault at 1 ip 00007f50cc538f90 sp 00007ffc76e59d

[2018-10-19 14:02] kk2491 commented on #5211
@chasingw Thanks for the clarification. Now this is much more clear to me.

[2018-10-20 06:16] #5850 closed

[2018-10-22 07:30] katie3000 commented on #5881
closed

[2018-10-22 07:30] #5881 closed

[2018-10-22 08:38] SanduIrina commented on #5732
Hi, the command should look similar to this:
python replay_perception.sh garage_onroad_vehicle_3.json
You can edit the coordinates and size of the obstacles in the garage_onroad_vehicle_3.json file.
Sorry for the late response.

[2018-10-22 08:41] SanduIrina commented on #5771
@natashadsouza Thank you, this worked fine. I have other questions about how to add my own steering network to the planner but I think I should open another issue for this.

[2018-10-22 08:49] SanduIrina opened #5887 "Personal steering network"
Hello there,
I would like to add my own steering network to the planner. I read images from the camera topic, I send each frame to my net, and I publish on a new topic the outputs of the network, which will consist of a steering angle and an expected speed. I want to use this output in the planner(I think I will use EM planner) to influence the trajectory. How should I go around about this? What i

[2018-10-22 10:29] funkydvd opened #5888 "Tracking algorithms"
Hi, I need to know what are the tracking algorithms used in apollo (some papers would be excellent, if you can). From what I saw, there is a cascaded tracker that use 3 filters, but I could guess only one of them, I suppose kcf means Kernelized Correlation Filters, the rest of them I couldn't guess it (cs2d and dlf). I also saw that in the lidar section it is used a Hungarian Matcher with Kalman F

[2018-10-22 13:22] fanghaos2014 commented on #5732
Thank you.

[2018-10-22 14:37] vladpaunescu commented on #5819
Hi! Could somebody shed some light on the dataset used for training angle prediction, and how you regressed the angle, given the fact that the angle interval is circular between [0,2*pi).

Many thanks,
Vlad

[2018-10-23 01:49] natashadsouza commented on #5771
Great! I am glad it worked out. Feel free to open another issue for your planner.
Currently closing this one!

[2018-10-23 01:49] #5771 closed

[2018-10-23 03:13] breakisx opened #5889 "Apollo open data platform and perception module"
Hi Apollo：
     Apollo的数据平台开放了很多的数据，比如激光雷达的点云数据，红绿灯检测的数据，这些数据都是Apollo进行预处理过后直接可以送给perception模块使用的吧？对于提供的红绿灯检测数据，这些数据可以在训练平台上使用，可不可以直接在Apollo里使用呢？如果可以，怎么把这些数据用在Apollo里面呢？rostopic广播给percption模块？您讲的使用这些数据训练算法，这些算法指的是开发者自己写的算法制作成的caffe模型？如果是，把这些模型替换掉Apollo里面的红绿灯识别模型是不是就达到使用这些数据的目的呢？谢谢您！

[2018-10-23 09:46] freeclouds opened #5897 "关于相对地图+lattice 多车道超车问题"
code版本：  apollo 3.0
系统版本： ubuntu 16.04
问题描述：
如issue 5779讨论：https://github.com/ApolloAuto/apollo/issues/5779
apollo 3.0相对地图导航模式支持多车道超车，我们使用relative map+ lattice+navigation模式，
在对code分析中，lattice_planner.cc是在横向-0.5~0.5，纵向10m、20m、40m、80m范围根据指引线进行路径规划，也就是lattice_planner.cc是在本车道(当前指引线)进行规划吗？
lattice_planner.cc路径：
/home/alan/apollo/modules/planning/planner/lattice/lattice_planner.cc
如果前方有障碍物需要变换车道，这个时候需要临

[2018-10-23 10:13] jinfagang commented on #5819
@vladpaunescu I am also doing this, would u like to join our discuss group? My wechat is `jintianiloveu` I wil invite u

[2018-10-23 11:55] SS6141 commented on #5591
@muleisheng @kk2491 I could not find build.sh. Kindly enlighten me how to execute the script.

[2018-10-23 14:37] kk2491 commented on #4987
Even I am looking for the explanation on this bit of programming.

Thank you,
KK

[2018-10-23 21:04] daviduhm opened #5909 "Caffe: Missing layer parameters in caffe.proto"
Hello all,

I've noticed that Apollo recently open-sourced their customized version of Caffe with added layers and parameters in [here](https://github.com/ApolloAuto/caffe).

Using the source code in the apollo branch of this repo, I was able to build Caffe libraries inside the Apollo docker container and replace the existing caffe libraries. But, when I try to build Apollo with `bash apollo.sh bu

[2018-10-23 21:20] kikacaty commented on #2747
Same as @gladijos . Any updates on this?

[code]

[2018-10-24 01:23] jinfagang opened #5910 "Where to download the perception yolo3 detector model?"
Where to download the perception model (trained weigths), after digging the docs there is nowhere to find it.

[2018-10-24 03:48] alva786 commented on #3005
I forward the spec request on your link,  please, my email is fvt.alva.hsu@gmail.com

[2018-10-24 08:05] westeast opened #5913 "docker build failed ==GPG error: https://developer.download.nvidia.com Release: The following signatures were invalid: NODATA 1 NODATA 2"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2018-10-24 08:09] wujiyoung commented on #5007
@GeorgeMD 你知道X的意思了吗？这个公式里的X从哪来？另外，我想知道这个model_degree表示的意思是什么，longitude_start和longitude_end表示车道线的纵坐标，那横坐标是多少，怎么计算？

[2018-10-24 08:29] CCodie opened #5914 "Question about HW Camera Installation"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 14.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Question
Hi Apollo team, now I'm trying to run Apollo platform with my vehicle.
What I'm going to do now is Lowcost Perception with using 1 Camera and Radar.

I bought a Leopard Camera whi

[2018-10-24 08:48] lygincn opened #5915 "Planning failed with one static obstacle ahead the vehicle under SimControl mode"
### System information

- **OS Platform and Distribution**  Linux Ubuntu 14.04:
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:  latest master branch

### Steps to reproduce the issue:
- generated one static obstacle in the middle of the lane with the script "replay_perception.py"(the purple one in pictures)
- start simcontrol --> start planni

[2018-10-24 09:12] ZK-Zhou commented on #5875
OK，I have not meet this problem again... while I use another Core i7 IPC instead of the E5-2670. This make me think about the PCL problem....

[2018-10-24 18:18] natashadsouza commented on #5914
Please refer to [camera specs guide](https://github.com/ApolloAuto/apollo/tree/master/docs/specs/Camera) for more information. Let me know if you have additional questions.

[2018-10-24 21:55] wzhang1 opened #5918 "PROJECT_NUMBER = 2.0 in apollo.doxygen"
**Describe the bug**
A clear and concise description of what the bug is.
Sorry if I understand the version number wrong, I just started to read the doc of apollo and
the branch I check out is v3.1_dev, in  apollo.doxygen
line 41

PROJECT_NUMBER         = 2.0

If I understand the name correctly, should it be like this?

PROJECT_NUMBER         = 3.1

**To Reproduce**
doxygen apollo.doxygen

**Expect

[2018-10-24 22:18] xiaoxq commented on #5820
Hi Shifa,
Actually we didn't test clang extensively in this version, which is still an ongoing effort.

[2018-10-25 00:49] CCodie commented on #5914
Hi, @natashadsouza . Thank you for the reply :)
Actually I wonder about how the camera attached at a windshield.
Apollo team just locate that camera with case at the windshield or with any other customized case ?

[2018-10-25 01:02] natashadsouza commented on #5914
@CCodie The cameras are placed on a customized mount outside the car on either side of the LiDAR.

[2018-10-25 01:40] jilinzhou commented on #5909
If I remember correctly, mutable_xxxx is generated by protoc.

[2018-10-25 07:19] breakisx opened #5923 "dreamview has run,but chrome open the localhost:8888 that don't access"
### System information

- **OS Platform and Distribution Linux Ubuntu 14.04
- **Apollo installed from source
- **Apollo version 3.0

bash scripts/bootstrap.sh
it display unxi:///tmp/supervisord.sock refused connection.
so I  modify /etc/supervisord.conf and modules/tools/supervisord/dev.conf,modify it to :
;[unxi_http_server]
;file=/tmp/supervisor.sock

[inet_http_server]
port=127.0.0.1:9001

[sup

[2018-10-25 08:16] lianglia-apollo commented on #5915
Thanks. We also noticed this. It will get improved in the next release.

[2018-10-25 08:33] lianglia-apollo commented on #5847
This bug will be fixed in the next release. Thanks.

[2018-10-25 08:33] #5847 closed

[2018-10-25 08:37] lygincn commented on #5915
@lianglia-apollo thank you for your reply. Looking forward to your new release. But before it can you please maybe give me some hints about where the reason may come from? I´d very like to give it some try. :)

[2018-10-25 13:07] freeyyc commented on #5858
thinks for your reply.  can you tell me more detail?

The following is my step：

bash scripts/bootstrap.sh

bash scripts/filter_planning.sh -np demo_2.0.bag

in the Dreamview window,
1 check the Planning and Routing checkbox in Module Controller panel.
2 in the Default Routing panel, press the “Route:Sunnyvale Loop Reverse” button

then, run the command
rosbag play demo_2.0.np.bag

but in the log

[2018-10-25 23:28] #2362 closed

[2018-10-26 01:20] natashadsouza commented on #5923
@breakisx go to the [following document](https://github.com/ApolloAuto/apollo/blob/master/docs/FAQs/Dreamview_FAQs.md) and check the last question. If you still unable to resolve it, please send us a screenshot of your browser window. Also please check that you have a stable connection.

[2018-10-26 01:34] andytolst commented on #5909
@jilinzhou  the problem is "reorg_param" and "roi_pooling_param" are NOT in caffe.proto, so mutable_xxxx are not generated

[2018-10-26 01:35] cyberphysicalrobotics commented on #5857
I checked that there is P symbol on the virtual obstacle for pull over like the following. The P virtual obstacle shows with the offset of lateral but the vehicle doesn't have lateral offset designated for virtual obstacle at the destination. The vehicle just stops the way it does at the normal virtual obstacle.
![image](https://user-images.githubusercontent.com/14055939/47538894-7419dc00-d882-11e

[2018-10-26 02:46] CCodie opened #5927 "How can we verify the radar sensor ?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux 14.04
- **Apollo installed from (source or binary)**: Source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.0

### Question
Hi Apollo Team, I have a question about the Radar sensor.
Now I'm trying to run Lowcost-Perception with my vehicle.
I'm using Leopard Camera which is same with Apollo Reference HW

[2018-10-26 05:38] Kevin4ch commented on #3005
HI @natashadsouza , I have sent request by the [link](https://www.surveymonkey.com/r/DXWK3Q6) last week. Could you please send me the spec.  Thanks a lot！kevin4ch@live.com :)

[2018-10-26 09:58] zswmr commented on #5909
i meet the same problem, do you solve it?

[2018-10-26 13:30] zhxt commented on #5913
`The command '/bin/sh -c bash /tmp/installers/install_bazel.sh' returned a non-zero code: 100`
感觉像是安装bazel的脚本出错了，我觉得很有可能是网络的问题。

[2018-10-26 13:32] lesun90 commented on #5857
Ref_lines do not work as you think. in each lane, there is a one ref_line. When change lane, the car will use the ref_line in the target lane.

Turn on PNC monitor (in tasks)
While running the planner, can you see any reference line in your parking lane? if not, planner did not create any ref_line in that lane, that why car does not move there.

[2018-10-26 15:18] stephen-liu1974 opened #5935 "是否可以给出一个动态修改sleuth采样率的例子"
就像动态修改zuul路由的那个例子一样，给出一个动态修改sleuth提交zipkin采样率的例子，谢谢！

[2018-10-26 15:19] stephen-liu1974 commented on #5935
sorry，forget it，send error

[2018-10-26 15:19] #5935 closed

[2018-10-26 17:03] luqiang21 opened #5936 "How obstacle speed is computed in navigation mode?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Apollo installed from (source )**:
- **Apollo version (3.0)**:

### Steps to reproduce the issue:
- **We are using [LG autonomous driving simulator](https://github.com/lgsvl/simulator) to test Apollo navigation mode while only using camera sensor, IMU and GPS**
- **We can see that the speed for the obstacle

[2018-10-26 17:52] daviduhm commented on #5909
@jilinzhou I did generated caffe.pb.h and caffe.pb.cc from caffe.proto using protoc. But, `reorg_param` and `roi_pooling_param` are not in caffe.proto.

@zswmr No. It seems like [this Caffe](https://github.com/ApolloAuto/caffe/tree/apollo) is not the one being used for perception modules.

Any clarification from Apollo developers would be greatly helpful.

[2018-10-26 17:53] daviduhm commented on #5909
@jilinzhou I did generated caffe.pb.h and caffe.pb.cc from [caffe.proto](https://github.com/ApolloAuto/caffe/blob/apollo/src/caffe/proto/caffe.proto) using protoc. But, `reorg_param` and `roi_pooling_param` are not in caffe.proto.

@zswmr No. It seems like [this Caffe](https://github.com/ApolloAuto/caffe/tree/apollo) is not the one being used for perception modules.

Any clarification from Apollo

[2018-10-26 19:14] SanduIrina commented on #5732
Yes, that's the one.

[2018-10-28 02:59] l1xiao opened #5940 "why low_speed_penalty equals to exceed_speed_penalty in dp_st_cost.cc?"
In dp_st_cost.cc, code shows that the costs of exceed_speed_penalty and low_speed_penalty are equal.
Does it mean that apollo encourages the auto car to run at the limited speed?
Is it good to encourage to drive at low speed?
[code]

[2018-10-28 06:06] lygincn commented on #5915
@lesun90 thank you very much for reply, really appreciate it. I'll try following your advice :)

[2018-10-28 11:11] hahanigehaha233 opened #5941 "[Issues]Create segment failed"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **Apollo installed from (source)**:
- **Apoll

[2018-10-29 08:13] SanduIrina commented on #5887
Thanks @lesun90, I will look more into that. I was thinking about including the net into the planner because I would like to do an average or something like that between the trajectory provided by the planner and the one given by the net.

[2018-10-29 08:19] lygincn commented on #5915
by changing the parameter Step_length_min and step_length_max to 11, can the vehicle successfully pass the obstacle. according to my experiments 11  is the  limit value in this case. Thank you all.

[2018-10-29 08:19] #5915 closed

[2018-10-29 08:39] lygincn opened #5943 "How to get access to the data/messages showed in PNC Monitor in DreamView?"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:Linux Ubuntu 14.04
- **Apollo installed from (source or binary)**:source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:latest master branch

Hi guys,

I want to get the access to the data showed by the **PNC monitor in DreamView** to do some analysis.  Better to record them into a rosbag if possible. For example

[2018-10-29 09:06] jinfagang opened #5944 "How to download yolo3 detector model separatly?"
Except build in docker, how to get the yolo3 detector model separate?

[2018-10-29 10:03] RobotBramhana opened #5945 "Viewing Velodyne PoinCloud data in rviz"
Hi,

I am publishing a pointcloud of type ```PointCloud<apollo::drivers::lidar_velodyne::PointXYZ>```

In order to select the frame, neither the /tf not /tf_static is available outside the docker without which the data is not displayed in rviz.

How to view pointcloud data which is being published inside docker, by running rviz outisde docker? Any other solution will also be appreciated.

[2018-10-29 12:59] lesun90 commented on #5940
These costs make the car speed inside the speed limit range, you can change them to your preference.

[2018-10-29 13:09] lesun90 commented on #5879
I faced the same issued when playing with the simulator. I think it may come from several sources.
- Mapping from the simulator to Apollo map has an offset.
- Perception did not detect the pole.
- Delay between Apollo and simulator which may cause the controller delay -> sim car could not follow trajectory.
These are what I could think the problem come from. Need further investigation to verify.

[2018-10-29 13:25] chowkamlee81 opened #5952 "Want to include jsk_recognition toolkit in apollo source codes?"
Iam using jsk_recognition toolkit to subscribe boundingboxarray into cpp code. I don't know how to include jsk_recognition toolkit in apollo. Kindly suggest technique. Do the needful

[2018-10-29 17:03] luqiang21 commented on #5879
@lesun90 Thank you so much for your answer. I was thinking about how Apollo will react in reality if there is such a corner to turn right.

I agree that the delay might be the reason since we observed that the car's longitudinal motion has a delay and you are right the pole may not be detected by Apollo. I am not very clear about mapping, so I need to read more about HDmap.

[2018-10-29 23:33] cyberphysicalrobotics commented on #5857
After testing a lot of cases, I made conclusions like the followings:
(If you have some feedback on this, let me know that.)
1.Even if there is virtual obstacle wall is on the other lane, pull over doesn't activate the lane change.
This is because routing destination on same lane doesn't make reference line on the other lane.
Only if there is destination on the other lane, there are more than one

[2018-10-30 02:02] fanghaos2014 commented on #5732
Thank you really appreciate it.
And I am really curious before running this command, do we need to run the Demo bag? Or just running this command after we run script/bootstrap. Because I didn't see the object after I run the script/bootstrap. Thank you.

[2018-10-30 02:42] CCodie commented on #5739
Hi @kk2491 , can you please tell me how you made your custom created map ?
Did you use `Apollo Data Open Platform - Map Open Service` as described in this site ? [apollo_2_5_map_collection_guide](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_5_map_collection_guide.md)
Or did you use other tools to make your own HD Map ? (I also wonder there's other tools.)
Thanks ! :)

[2018-10-30 03:40] jinfagang opened #5964 "./bazel-bin/modules/perception/obstacle/camera/detector/yolo_camera_detector/yolo_camera_detector_test: error while loading shared libraries: libcuda.so.1: cannot open shared object file: No such file or directory"
Can not found cuda.so.1

[code]

[2018-10-30 07:42] qinhuan opened #5966 "Could not launch module monitor. Is it already built?"
### System information
Ubuntu 14.04.5 LTS
Apollo installed from source
Apollo version 3.0

### Steps to reproduce the issue:
`git clone git@github.com:ApolloAuto/apollo.git`
`cd apollo`
`bash docker/scripts/dev_start.sh`
`bash docker/scripts/dev_into.sh`
`bash apollo.sh build`
`bash scripts/bootstrap.sh`

![image](https://user-images.githubusercontent.com/8816098/47703044-dd6e6600-dc59-11e8-9441-e

[2018-10-30 08:13] yangbo524 commented on #5966
same question

[2018-10-30 09:07] qinhuan commented on #5966
There is no environment variable APOLLO_BASE_SOURCED in ~/.bashrc file.

[2018-10-30 09:59] SanduIrina commented on #5732
I didn’t run it with a demo bag. I just modifyed the coordinates in the
garage script so that the obstacle will be located on my vector map and I
activated the planning and routing modules to route my car. I don’t know if
it would work with a bag because I think the obstacles will be taken either
from the bag or from the script.

On Tue, 30 Oct 2018 at 04:03, Fanghao(FINN) Song <notifications@gith

[2018-10-30 11:46] ShamRao opened #5968 "Extract lateral acceleration and jerk to find the comfort during lane change"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
- **Apollo installed from  (source or bin