[2020-04-20 07:48] tangcy98 commented on #3005
I just found this. Maybe it's an old version document. Hope it will help you.

At 2020-04-07 20:14:04, "AlvinChen" <notifications@github.com> wrote:

Hi, could you email me the Apollo OpenDrive specification please ?
My email is nxyctjczx@163.com
Thank you very much

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-20 09:31] zeyu-zha commented on #3997
@unacao : I have one more question here, could i use the upper methode to get the coordinate of the lane boundary and center line of the lane ?

[2020-04-20 12:03] Kailiangdong opened #11077 "Dreamview frontend compile problem, libpng-dev"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:18.04
- **Apollo installed from (source or binary)**:source,docker
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:5.0

**Hello, I make some small change to dreamview and want to rebuild the dreamview frontend, but have some error.
First I go to /modules/dreamview/frontend and run "yarn install", got the following

[2020-04-20 16:32] ycool commented on #10956
If you'd like to test custom scenario, you do it at https://azure.apollo.auto/.
1. request access at https://azure.apollo.auto/ for your account.
2. In the left menu bar, click Scenario Management/Scenario Editor to create your own scenario and test it.

[2020-04-20 16:32] #10956 closed

[2020-04-20 16:33] #10938 closed

[2020-04-21 01:57] unacao commented on #3997
In map view, you can get any coordinates reading from the mouse pointer.

[2020-04-21 02:17] SamFisher940425 opened #11083 "Apollo 1.0 build error, about "rules_cc"."
IPC : Nuvo 6108GC
OS : Ubuntu 14.04.6 LTS （4.4.32-apollo-2-RT）
docker ： 18.06.3-ce
git clone from apollo， checkout v1.0.0，
as doc “quick start dev” say， “bash docker/scripts/dev_start.sh" then, "bash docker/scripts/dev_into.sh", git clone "apollo-platform" and checkout 1.0.0, build it.(passed)
then, cd APOLLO_HOME, and "bash apollo.sh build"
at this step, an error occurred.

some info as follows:

[2020-04-21 10:26] Addi2020 commented on #11050
@daohu527
How to record a good calibration data?
I try many different commands (which start the car and then stop after it reach to speed 5m/s)
for e.g. (fix speed)
(throttle speed break)
3 5 -3
4 5 -4
5 5 -5
7 5 -7
10 5 -10
12 5 -12
up-to
50 5 -50

But after getting the data and creating calibration table, the Auto Drive car cannot start.
what is the problem in calibration file?

[2020-04-21 12:00] lycismail opened #11086 "About the state matrix in MPC-Controller"
- Apollo version (newest & mater branch):

### About Vehicle dynamics model  in moudles/control ---- MPC controller

About the Matrix C to describe the differential of the speed error. Why we set the matrix_c_(5, 0) = 1.0 ?  As far as I know that it just has relationship with the acceleration of the automobile.
So I am confused with it and wanna ask the answer here to learn more. Looking forward t

[2020-04-21 12:03] Chuck-Yu commented on #10292
You should run command `source cyber/setup.bash` before going through any `cyber` command.

[2020-04-21 15:06] #10906 closed

[2020-04-21 16:58] ycool commented on #10750
inside docker, assume you have already added obu_interface_grpc_impl_test target into modules/v2x/v2x_proxy/obu_interface/BUILD file, you can run  `bazel test modules/v2x/v2x_proxy/obu_interface:modules/v2x/v2x_proxy/obu_interface/`

[2020-04-21 16:58] #10750 closed

[2020-04-21 23:24] jmtao commented on #10986
@ntutangyun routing is decided based on map. It's not changed on the fly based on driving environment. As for now, Apollo changes lanes only if routing requests to.
So in this case, Apollo is not expected to change lane. Ego vehicle is "side-passing" those cars parked on the driving lane where the routing ls.
I'm not sure where your destination is and why the routing became like that post junction

[2020-04-22 01:50] daohu527 commented on #11050
Here is a guide [How to Tune Control Parameters](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_tune_control_parameters.md)

[2020-04-22 02:35] ntutangyun commented on #10986
hi @jmtao , the destination is the **end of the left most lane** after the junction.

In order to reach destination, Apollo could perform lane changes to the left then go straight or go straight first then after junction lane change to the left.

It seems that Apollo would always perform lane change after junction in similar cases.

there are three behaviors which i personnally consider not safe.

[2020-04-22 02:43] Addi2020 opened #11090 "How to Update Vehicle Calibration for Throttle and Brakes?"
Question:
Q#1. In step 3-Plot results. how do we know the data is correct?
Q#2 what dose it mean (Adjust the command script based on the vehicle response) in collect data?
Q#3 In calibration table for one value of speed(0.0) there are many different cmd and acc, So how the control module knows which value (calibration) is to be used?

![Screenshot from 2020-04-22 10-37-03](https://user-images.gith

[2020-04-22 04:30] Addi2020 commented on #11050
@daohu527 , Thank you , we can tune the control parameters in (mosules/control/conf/control_conf.pb.txt) file and restart the Auto Drive car.

[2020-04-22 15:51] #10760 closed

[2020-04-22 16:00] ycool commented on #10784
You don't need change any code if you'd like to run a dreamland task. Can you help to update your forked code? It seems you might get an unstable commit. Thanks.

[2020-04-22 16:00] #10792 closed

[2020-04-23 02:50] Addi2020 opened #11103 "How to collect data for Update Vehicle Calibration for Throttle and Brakes?"
Collect Data
1.Run python data_collector.py for different commands, commands like x y z, where x is acceleration command, y is speed limit(mps), z is decceleration command,Positive number for throttle and negative number for brake.Run each command multiple times.
2. Adjust the command script based on the vehicle response.
3. Run python plot_data.py to open recorded data and visualize collected dat

[2020-04-23 02:51] #11050 closed

[2020-04-23 03:57] ntutangyun opened #11104 "Apollo collides with slow speed obstacle inside junction"
Hi team,

***VIDEO:***
Run 1:
https://drive.google.com/file/d/1m-nBloJ5Z6cAIC4NsWb-USrk3QaDwVHq/view?usp=sharing

Run 2:
https://drive.google.com/file/d/1cEn-F_V_NVwyAbPRstrP1-mrOJmQILW-/view?usp=sharing

***Describe the bug***
I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

The Apollo vehicle is spawned on `lane_7` about 100 meters away from

[2020-04-23 06:38] Addi2020 commented on #7197
How to collect data while Update Vehicle Calibration for Throttle and Brakes?
Collect Data
1.Run python data_collector.py for different commands, commands like x y z, where x is acceleration command, y is speed limit(mps), z is decceleration command,Positive number for throttle and negative number for brake.Run each command multiple times.
2. Adjust the command script based on the vehicle response

[2020-04-23 08:25] Addi2020 commented on #7197
@mickeyouyou

[2020-04-23 11:40] Avps1 opened #11107 "Debugging planning module using VScode : Program wont stop at breakpoints"
**Describe the bug**
Threads wont stop at breakpoints set while debugging Planning module.

**To Reproduce**
Steps to reproduce the behavior:
Follow the steps mentioned in https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_using_vscode.md
to make Apollo debuggable using VSCode.

**Expected behavior**
The threads should stop executing when they hit breakpoints.

**Sc

[2020-04-23 13:58] tangcy98 commented on #10755
Maybe it is because of the cache conflict of bazel. Try to stop the container and clean the cache.
Be careful when you use rm -rf and make sure that you have a check!
`cd ~/.cache/bazel`
`sudo rm -rf _bazel_*`
`cd ~`
`sudo rm -rf .BRANCH_*`

[2020-04-23 14:01] tangcy98 commented on #10755
Maybe it is because of the cache conflict of bazel. Try to stop the container and clean the cache.
Be careful when you use rm -rf and make sure that you have a check!
`cd ~/.cache/bazel`
`sudo rm -rf _bazel_*`
`cd ~`
`sudo rm -rf .BRANCH_*`
Also, if your RAM is less than 16G, try to use -j.

[2020-04-23 14:39] ntutangyun opened #11109 "Apollo stopped during overtake and following vehicle ahead on lane boundaries"
Hi team,

***VIDEO:***
https://drive.google.com/file/d/1YZqUUnhDFos-6Isla9tqY9Y2A9oPt4Ze/view?usp=sharing

***Describe the bug***
I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

The Apollo vehicle is spawned at the start of `lane_433` with an initial speed about 5m/s and the routing destination is set to the end of of `lane_433`.

One obstacle

[2020-04-23 20:52] ycool commented on #10634
Yes. You can install two ASU on one Nuvo-6108GC.

[2020-04-23 20:52] #10634 closed

[2020-04-23 20:57] ycool commented on #10637
Mac is not in the formal supporting platform. If you want to try, you can search for some previous community Mac practice tips for Apollo.

[2020-04-23 20:57] #10637 closed

[2020-04-24 02:50] WSTao opened #11116 "perception：input of pointpillars"
Hi, what is the coordinate system of pointpillars input point cloud in perception, what is the orientation of xyz, and the intensity range is [0,1] or [0,255], thank you very much!

[2020-04-24 09:36] ntutangyun opened #11118 "Apollo ignores slow lane changing obstacle in-front leading to collision"
Hi team,

***VIDEO:***
https://drive.google.com/file/d/1kR7ePjl4BFMPmjn4doEkxXquLGORirZ-/view?usp=sharing

***Describe the bug***
I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

The Apollo vehicle is spawned at the start of `lane_433` with an initial speed about 5m/s and the routing destination is set to the end of of `lane_433`.

One obstacle

[2020-04-24 14:34] Avps1 commented on #11118
Hi @ntutangyun ,
Can you please explain in a bit more detail how you use the LGSVL API to ask " ask obstacle to change lane to left." ?

[2020-04-24 15:08] ntutangyun commented on #11118
@Avps1 Hi, there is an API endpoint for this.
![image](https://user-images.githubusercontent.com/16061105/80226547-15077400-867f-11ea-8961-eadf9d902106.png)

here's some sample code:

[code]

[2020-04-24 16:48] ycool commented on #10655
/apollo/prediction depends on /apollo/perception/obstacles data. From your description, the perception module can't identify any obstacles from your sensor data. You can check perception module log for more details.

[2020-04-24 16:48] #10655 closed

[2020-04-24 16:51] ycool commented on #10668
These dag files are demo configurations. Different vehicles will enable different configurations.

[2020-04-24 16:51] #10668 closed

[2020-04-24 17:05] yifeijiang commented on #11118
![image](https://user-images.githubusercontent.com/13139627/80238260-f7042a00-8612-11ea-83a8-8186b9b4ba8b.png)

Seems the predicted speed and path for front obstacle was wrong. Although the prediction outputs updated before the collision, but it was too late.

[2020-04-24 17:21] yifeijiang commented on #11109
The adv should be driving back to the lane center but slowly.   Please let us know the result if you could extend the simulation time. Thanks.

[2020-04-24 17:26] yifeijiang commented on #11104
Similar to the issue at https://github.com/ApolloAuto/apollo/issues/11118, the prediction outputs for the slow obstacle was not accurate enough. Thanks.

[2020-04-24 17:32] yifeijiang commented on #10967
Seems the road is too narrow for such a sharp turn. Planing leverages lane boundary as a constrain for path generation for most of the scenarios.

[2020-04-24 17:45] yifeijiang commented on #10954
Planning has a few rules for lane change before the destination. It is possible that in the middle of the lane change, one of the rules was triggered (e.g, distance to the destination) and the lane change action was terminated.

[2020-04-25 03:03] ntutangyun commented on #10954
@yifeijiang Thanks for your reply. Shall I close the issue now or leave it open as a reference for front-line developers?

[2020-04-25 03:07] ntutangyun commented on #10967
@yifeijiang Thanks for your reply.  Shall I close the issue or leave the issues open as a reference?

[2020-04-25 03:12] ntutangyun commented on #11118
@yifeijiang I see. Is it due to the lane gap between? if you see closely here, the prediction start point still seems to be inside obstacle's original lane, although part of its body is already within Apollo's lane
![image](https://user-images.githubusercontent.com/16061105/80269802-795d1e80-86e5-11ea-8b0c-ccf0ffe4da7e.png)

anyway, thank you for your reply. Shall I leave it open as a reference or

[2020-04-25 03:14] ntutangyun commented on #11104
@yifeijiang I see. Thanks for your reply. Shall I leave the issue open for reference or close it for now?

[2020-04-25 03:19] ntutangyun commented on #11109
@yifeijiang Hi, thanks for your reply.

yes, if I run long enough, Apollo slowly drove back to the center, and then tried another overtake and successfully passed the obstacle.

But I wonder what happened to the few initial overtaking plans.

[2020-04-26 02:02] MikeZhu92 opened #11129 "Performance of the NDT localization"
Has anyone tested the NDT localization in APOLLO ?
How's the performance compare with autoware?

I've tested it but the result was not very good. Maybe I did something wrong. Also I realize it still not an option to used directly in Apollo. Is it still under development ?

[2020-04-26 13:58] Sheldon-Zhou1997 opened #11132 "Could you please give me a simple introduce of the routing protocol and MAC protocol about apollo?"

[2020-04-27 01:02] daohu527 commented on #11129
What are the point cloud data and indicators you tested?
As far as I know, "NDT" can be used in a production environment

[2020-04-27 01:30] hzdsdhr commented on #10840
Hi, I've tried 64 cnnseg model on vlp16 which is installed at a lower place(front bumper) compared to apollo 64 lidar(roof), after adjust the height of the pointcloud, the performance is acceptable.
For now, there are three models in apollo: model fro 128beam lidar(installed on the roof), model for 64 beam lidar(installed on the roof), model for 16 beam lidar(installed on bumper)
You can try the m

[2020-04-27 01:43] Martin20 opened #11133 "How to change the detection degree of LiDAR"
I am looking for the right file and function where the LiDAR driver is written in Apollo 5.0. I want to reduce its 360 degrees detection to something less.

Is this possible?

I know in the JSON file we define it as "MeasurementsPerRotation" but where this file is read? I think by knowing that, I can alter the degree. Please let me know where JSON file is used.

Thanks.

- **OS Platform and Distri

[2020-04-27 06:31] MikeZhu92 commented on #11129
Yes, I have no issue with NDT algorithm. But the NDT in apollo is customized if you've checked the code.

[2020-04-27 09:59] ntutangyun opened #11135 "Apollo planning quick deviation leads to hitting the curb."
Hi team,

***VIDEO:***
https://drive.google.com/file/d/1HOtxKiAORrNwscCki74Sargea6GrLatT/view?usp=sharing

***Describe the bug***

I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

In the video, the Apollo vehicle is expected to drive from a starting lane to a destination lane, passing a junction in-between.

The vehicle is spawned near the firs

[2020-04-27 10:01] ntutangyun commented on #11118
Found two similar cases to the current issue:

case 1:
https://drive.google.com/file/d/1CTIyrLgwoKpXlLyaCf8-Mvido224ipyd/view?usp=sharing

case2:
https://drive.google.com/file/d/1frjKl_nE0AcvA_YYKF17Q_YKCnFMuh6v/view?usp=sharing

[2020-04-27 10:04] zhanghming commented on #10700
@wangyixu14 Hello, how did you combine the LGSVL and Apollo 5.0 together in Ubuntu 18.04? Did you install LGSVL from source or from the binary one, I download the binary LGSVL and cann't execute it in my Ubuntu 18.04.

And I also wonder must I install the nvidia-driver in docker for run Apollo 5.0 in my local machine?

[2020-04-27 10:12] ntutangyun opened #11136 "Apollo trapped in deadlock with an obstacle inside junction"
Hi team,

***VIDEO:*** (WARNING: The video contains audio)
https://drive.google.com/file/d/1P_JUqhTEYDXntZ3DUgy3gtfSrieR9aFR/view?usp=sharing

***Describe the bug***

I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

In the video, the Apollo vehicle is expected to drive from a starting lane to a destination lane, passing a junction in-between.

[2020-04-27 10:20] ntutangyun opened #11137 "Apollo hits obstacle even though the prediction is correct."
Hi team,

***VIDEO:***
Follow view:
https://drive.google.com/file/d/19C592GGUsmhYl2NBtXxizf50uw2o274U/view?usp=sharing

Top view:
https://drive.google.com/file/d/1EZsvl5MyyBg7HLrElKgAxAWqLLWK0HRZ/view?usp=sharing

***Describe the bug***
I’ve been trying Apollo 5.0 (LGSVL forked version) out in the San Francisco Map with LGSVL simulator.

The Apollo vehicle is expected to go straight in the junctio

[2020-04-27 10:52] daohu527 commented on #11133
I read the code and didn't find any configuration of lidar. Apollo only received lidar data via UDP.

I found that the lidar configuration can be set through the web UI provided by the lidar manufacturer. an example of hesai.

Web Control can be used to set Pandar64 parameters, check device info, and upgrade.
Before setting, please connect LiDAR and the computer using Ethernet cable. Set IP addres

[2020-04-27 14:47] zhanghming commented on #9219
@gengqx Hello,
May I ask how to install the rss lib into docker and how to commit the docker? Could you elaborate about the process? I also encounter this problem and puzzled me for a long time.

[2020-04-27 16:45] ycool commented on #10672
This tool is deprecated in the master branch. You can find this tool at https://github.com/ApolloAuto/apollo/tree/r2.0.0/modules/perception/tool/export_sensor_data.

[2020-04-27 16:45] #10672 closed

[2020-04-27 16:46] ycool commented on #10673
Apollo test is based on https://github.com/google/googletest. You can construct the input and output in each test case.

[2020-04-27 16:46] #10673 closed

[2020-04-27 22:26] Martin20 commented on #11133
@daohu527
Thank you for your reply. Actually, I am working on the LGSVL simulator. Therefore, I need the LiDAR component in the simulation and I asked about the simulation. Do you have a solution for such a simulation?

[2020-04-27 22:26] zhouyapengzi opened #11141 "Apollo 5.0 cuda error"
**Describe the bug**
Cuda error when running Apollo5.0

**To Reproduce**
Steps to reproduce the behavior:
1)  in docker, build apollo
2) in bazel-bin, run:
./modules/perception/camera/tools/offline/offline_obstacle_pipeline

[code]

 gdb debug info:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/32387778/80426730-503eb880-88b4-11ea-9855-8f9b41997b89.png)

**Desktop (ple

[2020-04-28 00:57] daohu527 commented on #11133
The config is in
Assets/Scripts/Sensors/LidarSensorBase.cs

Lidar is done with a “Scriptable Rendering Pipeline”, you can dive into it(HDRP).

[2020-04-28 02:58] oceanao opened #11145 "Error compiling Apollo system"
I installed ubuntu on the virtual machine and successfully downloaded the Apollo source code and docker, but made an error in compiling the code:
#### ERROR: (04-27 14:41:38.363) /apollo/modules/map/pnc_map/BUILD:6:1: error executing shell command: 'nvcc -arch=sm_30 -gencode=arch=compute_30,code=sm_30 -gencode=arch=compute_50,code=sm_50 -gencode=arch=compute_52,code=sm_52 -gencode=arch=compute_60,

[2020-04-28 03:36] XuehuanYang commented on #6574
System:  Ubuntu 18.04
Version:  Apollo 5.0

# 1 Start the docker release environment using the command:
yxh@ubuntu: ~/apollo $ sudo bash docker/scripts/dev_start.sh

`**error 'Failed to start docker container "apollo_dev_root" based on image: apolloauto/apollo:dev-18.04-x86_64-20200422_2150'**`

# 2 Following the below website
https://github.com/NVIDIA/nvidia-docker/blob/master/README.md

# 3 Ubun

[2020-04-28 04:03] changsh726 commented on #11145
Fixed by #11134 ，you can pull the latest apollo repo, thanks for your report.

Fixed by #11134 ,you can pull the latest apollo repo, thanks for your report.

[2020-04-28 04:36] swj735245824 opened #11146 "cyber_recorder：未找到命令"
下载了这个模拟数据，执行
cyber_recorder play -f docs/demo_guide/demo_3.5.record --loop
报了这个问题
cyber_recorder：未找到命令

根据介绍里面操作的：https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_launch_Apollo.md

不知道这是哪一步出的问题呢
大神求解呀

[2020-04-28 06:06] daohu527 commented on #11146
follow this steps:
1. check the cyber_recorder in "/apollo/bazel-bin/cyber/tools/cyber_recorder"
2. run "source cyber/setup.bash"

then run the cyber_recorder cmd

[2020-04-28 10:41] BigBenSure commented on #9219
我看你资料在北京,国内网络原因,可以改ad rss lib的源.具体方法是:
在/apollo/WORKSPACE.in里,第47到第53,替换成:
[code]
把remote换成gitee的.欢迎补充.

[2020-04-28 12:40] benlvzi opened #11151 "Is the .model suffix the same as the .caffermodel suffix"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **Apollo installed from (source or binary)**:
- **Apollo version (5.5)**:

### Steps to reproduce the issue:
- **Is the deploy.model suffix the same as the deploy.caffermodel suffix, Do you have a tool for converting xxx.caffemodel to xxx.model ?

[2020-04-28 13:24] #11146 closed

[2020-04-28 14:00] biaogecui commented on #10404
@cuicuihaohaoxuexi Hi，have you solve this problem? Now I just want to use this tool to extract a record to pcds and odometry. But I failed .Can you give me some advice,thank you!

[2020-04-28 16:42] ycool commented on #10701
It is expected for the current algorithm. More parallelism is in progress. Any help is welcome too.

[2020-04-28 16:42] #10701 closed

[2020-04-28 18:49] ycool commented on #10708
You can either use relative map (NaviPlanning: https://github.com/ApolloAuto/apollo/blob/master/modules/planning/navi_planning.cc) or create a draft HDMap using: https://github.com/ApolloAuto/apollo/tree/master/modules/tools/create_map

[2020-04-28 18:49] #10708 closed

[2020-04-28 19:52] Martin20 commented on #11133
@daohu527
Where? in LGSVL or Apollo-5.0.

I looked at both I could not find.

[2020-04-29 00:28] daohu527 commented on #11133
lgsvl source code

[2020-04-29 00:43] laukalfp opened #11157 "F0429 08:28:25.662976 2030 lidar_obstacle_segmentation.cc:35] Check failed: config_manager->GetModelConfig(class_name, &model_config)"
Hi ,when i tried to run the /module/perception/lidar/app/lidar_app_lidar_pipline_test.cc
I got a error!
![Screenshot from 2020-04-29 08-39-35](https://user-images.githubusercontent.com/34259671/80551135-090c1100-89f5-11ea-8246-0e20b0547788.png)

1.I add the head file
#include "modules/perception/lib/config_manager/config_manager.h"
2. init function
if (!lib::ConfigManager::Instance()->Init()) {

[2020-04-29 03:02] laukalfp commented on #11157
I solved it by change below:
FLAGS_work_root = "/apollo/modules/perception/production";
![Screenshot from 2020-04-29 11-01-25](https://user-images.githubusercontent.com/34259671/80557249-df5ce500-8a08-11ea-8350-4f1d31b5cf57.png)

[2020-04-29 08:42] LawranceXcl opened #11160 "how to filter .record some channel name's message?"
how to filter .record some channel name's message? just like the command "ros filter"

[2020-04-29 10:08] bronzeMe opened #11161 "Can we build apollo using higher Bazel version?"
**Is your feature request related to a problem? Please describe.**
Presently, we  use Bazel 0.5.3 to build apollo, but in my experiment project, I want to integrate other libraries buit by Bazel 0.22 (or higher ) into Apollo. I failed to build apollo using bazel 0.22.
So,  will apollo suport higher Bazel in the future?

**Describe the solution you'd like**
A clear and concise description of what y

[2020-04-29 17:19] ycool commented on #10715
You need to modify both the camera driver and perception config. Assume it is front_6mm camera, https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/camera/conf/camera_front_6mm.pb.txt and https://github.com/ApolloAuto/apollo/blob/master/modules/perception/data/params/front_6mm_intrinsics.yaml

[2020-04-29 17:19] #10715 closed

[2020-04-29 20:51] ycool commented on #10605
Depending on which HMI mode you'd like to change, you can change the "Setup" button module config at https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/conf/hmi_modes/mkz_standard_debug.pb.txt.

[2020-04-29 20:51] #10605 closed

[2020-04-29 21:22] jmtao commented on #11136
@ntutangyun this is as expected.
Because of the complexity of traffic condition inside junctions and safety concern, currently we are supporting "side-pass" obstacles inside junctions.  If we are unable to proceed safely within the lane boundaries, we'll just stop.
We do support "side-pass" along normal driving lanes.

[2020-04-29 21:30] jmtao commented on #11109
@ntutangyun The "overtake" you mentioned is called "side pass". We support "side-pass"(may cross lane boundary) static obstacles. For moving obstacles in our lane, we only "follow" or "stop".  You've seen the decisions switches between "side-pass" and "follow" probably because that slow vehicle's speed is at border line.

[2020-04-29 21:37] jmtao commented on #10986
@ntutangyun the routing makes sense now. We do not support lane changes if adv is inside junction or too close to junction. That's why lane changes start in routing post junction.

And yes, all your suggestions are great. They do address safety issues. We'll add more strict checks while we do side-passing. In this driving scenario, ADV will have to be stuck I think.
Thanks for supporting Apollo.

[2020-04-29 22:06] jmtao commented on #10881
@rrenjie now I see what you mean. Good catch!
There might be more than one reference lines only if there's lane changes requested by routing. Currently, we only do lane change in LANE_FOLLOW scenario.
For all the other scenarios, we only plan for one reference line.
And for traffic rules, we plan for all reference lines. The information used by traffic rules shall almost be the same along multiple

[2020-04-29 22:13] #10834 closed

[2020-04-29 22:38] jmtao commented on #11137
@ntutangyun looks like the moving vehicle is at low speed? Based on its speed, we've made Overtake(see the blue fence) decision.
You can turn on PNC monitor view(Tasks menu on the left side bar, and then under "Others" column at lower side of the screen,  turn off "Lock Task Panel" and turn on "PNC Monitor")  to see how planning is making overtake/yield decision.  You want to look at ST-graph.
Or

[2020-04-29 22:43] jmtao commented on #11135
@ntutangyun The routing is not long enough for ADV to complete lane changing before hitting junction.  We'll fix this in future releases.
Thanks for supporting Apollo.

[2020-04-29 23:00] jmtao commented on #11160
@LawranceXcl  you can use "cyber_recorder split"
in docker, "cyber_recorder split --help".
e.g. "cyber_recorder split -f 1.record  -kill /apollo/planning" can filter out topic /apollo/planning.

[2020-04-30 02:56] rrenjie commented on #10881
@jmtao Thanks for your reply. I think traffic rules are the same with deciders/optimizers, which are executed per reference line. So maybe it is better to store related traffic-rule status on each reference line to avoid any unpredicatable issues in LANE_CHANGE?

[2020-04-30 03:25] ntutangyun commented on #11136
@jmtao I see. thanks for your reply.

However, below are two points of my concerns:
* I think it's still considered unsafe to just stop in the junction and blocking the traffic.
* since Apollo is turning left and the obstacle is going straight, I believe obstacle has the right of way and thus Apollo should give way to the obstacle, by not stopping in the obstacle's straight going lane.  I mean, if

[2020-04-30 03:32] ntutangyun commented on #11135
@jmtao I see. In fact, sometimes the deviation does not happen and Apollo could actually make it by changing lane within the junction. although I believe this is still not proper to change lane within the junction.

Anyway, thanks for your reply. I think can close this issue for now.

[2020-04-30 03:32] #11135 closed

[2020-04-30 03:35] ntutangyun commented on #11109
@jmtao I see. Thanks for your reply. I think can close the issue for now.

[2020-04-30 03:35] #11109 closed

[2020-04-30 06:02] swj735245824 commented on #10873
老铁，我没有1.54.0版本的libboost-system
![2020-04-30 14-00-16屏幕截图](https://user-images.githubusercontent.com/12065843/80677264-3935db80-8aeb-11ea-88a9-3da8e9bbdb03.png)

[2020-04-30 07:36] swj735245824 commented on #10873
我这个还需要用apt-get 安装一些其他工具吧
![2020-04-30 15-34-40屏幕截图](https://user-images.githubusercontent.com/12065843/80684443-473e2900-8af8-11ea-88dc-3c60d501e3c2.png)

[2020-04-30 10:37] LawranceXcl commented on #11160
Thks!
After run the command "cyber_recorder split -f demo_3.5.record -kill /apollo/planning",I found that demo_3.5.record.split was generated. Then, I run the command "cyber_recorder play -f docs/demo_guide/demo_3.5.record.split -l"and on the other terminator ,I run the command "cyber_channel list ".   "/apollo/planning" channel name still exists.How about this?

[2020-04-30 10:38] LawranceXcl commented on #11160
@jmtao

[2020-04-30 16:19] ntutangyun commented on #10986
@jmtao thanks for the reply. closing the issue for now.

[2020-04-30 16:19] #10986 closed

[2020-04-30 18:01] #10621 closed

[2020-04-30 18:05] #10070 closed

[2020-04-30 18:08] ycool commented on #10105
It depends on which part of Apollo you'd like to test. https://azure.apollo.auto/ can test most of them.

[2020-04-30 18:08] #10105 closed

[2020-04-30 18:10] ycool commented on #10117
stitching_trajectory.begin() represents the first time of last trajectory. stitching_trajectory.back() represent the current time projection in the last trajectory.

[2020-04-30 18:10] #10117 closed

[2020-04-30 23:30] ahmedius2 opened #11171 "dev_start.sh error due to docker run commands"
### System information

- **OS Platform and Distribution **: Ubuntu 18.04 patched with NonRT Apollo Kernel + some other scheduling patch made by my friend
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 5.0 LGSVL

Hello everyone, I am having trouble with starting the docker environment. For every docker run command done for Apollo, this error pops up:
docker: Error response from daemon: failed to

[2020-05-01 06:14] #10675 closed

[2020-05-01 06:42] ahmedius2 commented on #11171
The problem was due to the new system call that we added in out patch. When we increased the number of the call the problem disappeared. Closing the issue.

[2020-05-01 06:42] #11171 closed

[2020-05-01 13:20] ntutangyun commented on #11137
@jmtao Hi Thanks for your reply. Here's the [recording of ST-graph](https://drive.google.com/file/d/1VxVCw9MxibtvvtL-o8JKFelu1taDJiwp/view?usp=sharing).

[2020-05-01 15:43] ghy200692162 opened #11174 "traffic light test case can not run"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
ubuntu 18.04
- **Apollo installed from (source or binary)**:
clone from git
build in docker
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:
5.5
### Steps to reproduce the issue:
1.I open test case named camera_lib_traffic_light_detector_recognition_test
2.build the test case
3.run the test case
then I got some e

[2020-05-01 15:50] ghy200692162 opened #11175 "can not find "cmp_out_shape_floor_as_conv" in apollo caffe branch"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
ubuntu 18.04
- **Apollo installed from (source

[2020-05-01 16:35] ycool commented on #10145
perception output protobuf is at https://github.com/ApolloAuto/apollo/blob/master/modules/perception/proto/perception_obstacle.proto#L169 and its topic is /apollo/perception/obstacles

[2020-05-01 16:35] #10145 closed

[2020-05-02 07:32] #11174 closed

[2020-05-03 14:20] Kailiangdong commented on #11077
yarn remove image-websocket-loader, and install 4.5.0 version. Solved. It is a bug.

[2020-05-03 14:20] #11077 closed

[2020-05-03 17:23] dwthien opened #11177 "How can I get data outside operation_name object"
Hi, can you help me?
I used Apollo Client to query, but I only get data inside operation_name:
![image](https://user-images.githubusercontent.com/25741737/80920841-9c01ce00-8d9c-11ea-96cd-b500c85657e4.png)

Then I used Apollo extension dev tool of chrome and saw data outside. How can I get data outside the operation_name, I wanna get more variable at the image?
![image](https://user-images.githubu

[2020-05-04 02:21] fengyongwei opened #11178 "I want to test my controller algorithm on apollo , what steps i have to do?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-05-04 07:01] davidhopper2003 commented on #9952
I agree with you.

[2020-05-04 16:56] ycool commented on #10188
You can't use this tool directly without mobileye.  If you don't care about the real lane boundary, you can modify this tool to remove mobileye dependency.

[2020-05-04 16:56] #10188 closed

[2020-05-04 17:03] ycool commented on #10155
you can run the integration test directly to see AINFO, AERROR messages, e.g. bazel-bin/modules/planning/integration_tests/sunnyvale_big_loop_test --logtostderr

[2020-05-04 17:03] #10155 closed

[2020-05-04 21:54] ZiwenWan opened #11179 "Non-real-time execution support of Apollo"
Hi Apollo team, thanks for making this awesome software!
I tried to run Apollo 5.0 with LGSVL in a non-real-time simulation mode. I found that the control module can not correctly control the car to follow the trajectory. I want to know is there any support to run Apollo along with a non-real-time simulation (slower than the real-time)? If not, can you give some instructions about how to change th

[2020-05-04 23:35] enesemre opened #11181 "HD Map Creator"
I want to create apollo open drive from open drive (.xodr file) . How can I do that with this package ? Any suggestion?

[2020-05-05 08:36] daohu527 commented on #11181
As I know, there is a xml opendrive reader in "apollo/modules/map/hdmap/adapter/xml_parser". You can transform ".xodr" to ".xml" then use the .xml file in apollo.

[2020-05-05 08:46] daohu527 commented on #11178
Here is a doc [How to add a new control algorithm](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_add_a_new_control_algorithm.md)

[2020-05-05 09:08] enesemre commented on #11181
Yes I know but I really didnt understand how apollo convert open drive to apollo open drive. Any clear document about it?

[2020-05-05 09:14] daohu527 commented on #11181
It would be better to read the code. I did not find the relevant doc.

[2020-05-05 12:10] Avps1 opened #11184 "Help wanted : Is kalman filter used in "Camera Object Tracking" ?"
Hi,
I was trying to make sense of the "Camera Object Tracking" module under the Perception module.
Kindly look at the snapshot attached :
![Camera_Obj_Tracking](https://user-images.githubusercontent.com/50120641/81064650-5519f280-8eda-11ea-9e31-64ace89c895d.png)

Could you kindly tell me if Apollo uses Kalman filters for Camera Object tracking ? I know EKF and AKF are used for Lidar and Radar Obje

[2020-05-05 16:19] ycool commented on #10249
cyber_recorder record -c point_cloud_topic -o output_record_file

[2020-05-05 16:19] #10249 closed

[2020-05-05 16:33] ycool commented on #9867
you can try again with the latest master code. It works with -DDBUG_NCUT. thanks.

[2020-05-05 16:33] #9867 closed

[2020-05-06 01:09] enesemre commented on #3005
Hi. Could you email me the Apollo Open Drive spesification please? (Prefer 3.0 and the last releases) My email ; bulutenesemre@gmail.com thank you a lot

[2020-05-06 02:52] fengyongwei opened #11191 "I want to establish a Apollo-Prescan simulation platform. But Prescan must run on Windows. So which communication method should i use to connected apollo with prescan?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-05-06 08:43] Bachforelle commented on #3005
Hi, could you email me the Apollo OpenDrive specification please ?
My email is nicoschonfisch@gmail.com.
Thank you very much.

[2020-05-06 15:56] cuicuihaohaoxuexi commented on #10404
@biaogecui Are you using Apollo 5.0 or 5.5? The config file now has a different format in Apollo 5.5. For my previous case, reading in a whole folder still doesn't work. I have to specify all the files one by one in the folder to make it work.

[2020-05-06 18:44] ycool commented on #9880
try again with the latest master. Thanks.

[2020-05-06 18:44] #9880 closed

[2020-05-06 18:45] #9926 closed

[2020-05-06 18:58] ycool commented on #9958
You can provide your point cloud data to perception config point cloud topic: e.g. /apollo/sensor/lidar128/PointCloud2
Its format is https://github.com/ApolloAuto/apollo/blob/master/modules/drivers/proto/pointcloud.proto

[2020-05-06 18:58] #9958 closed

[2020-05-07 06:23] zhanghming commented on #9570
@luqiang21 Hello, you mentioned that we can use LGSVL to test the Apollo, I wonder is there any detailed steps to run LGSVL? I find the official documents are so confusing that I cann't understand a lot.

For example, I'm not sure whether should I pull the lgsvl/apollo5.0 docker image and run all things in that image? What the relationship between the lgsvl/apollo5.0 image and the appolloauto/apol

[2020-05-07 08:51] Kirkirillka opened #11198 "Broken Bazel cache symlinks in the current master branch Docker container"
**Description**
For the docker container image used in the master branch release, after executing `dev_into.sh`, a user logins in as "apollo" user instead of $USER variable defined at the container building stage `dev_start.sh`. This leads to Bazel cache broken symlinks, therefore after a container builds Apollo, once the container is destroyed Bazel cache is lost and the Apollo modules have to be

[2020-05-07 09:03] qixiaoyu718 commented on #3005
@msbeta @natashadsouza Could you please share the latest Apollo OpenDRIVE specification to me? My email is qixiaoyu718@163.com. Thank you so much :), (2020/05/07)

[2020-05-07 09:14] Alphabaijinde opened #11199 "VMware build Apollo 5.5 error"
![image](https://user-images.githubusercontent.com/22705823/81276899-38222280-9086-11ea-9d4c-b24e9a11597b.png)

[2020-05-07 09:18] #11006 closed

[2020-05-07 09:19] Alphabaijinde commented on #11199
@weidezhang

[2020-05-07 10:10] Basti110 commented on #11083
Hey, i have the same problem. Could you solve it?

[2020-05-07 10:40] storypku commented on #11083
This seems to be caused by bazel version mismatch.  Apollo 1.0 used bazel 0.5.3, while boringssl used bazel 2.x or 3.x.

[2020-05-07 12:44] luqiang21 commented on #9570
Hi @zhanghming, if you want to run apollo 5.0 with LGSVL simulator, you should use `lgsvl/apollo5.0` docker image and our [fork](https://github.com/lgsvl/apollo-5.0) of apollo since we added files to enable the connection between apollo and LGSVL. `lgsvl/apollo5.0`is based on `appolloauto/apollo`.

Please let me know if you need any other help to run LGSVL.

[2020-05-07 14:23] zhanghming commented on #10424
@jinghaomiao Dose Apollo 5.5 not build cyber_visualizer by default? I cann't find the cyber_visualizer executable after compiling.

[2020-05-07 14:25] Alphabaijinde opened #11201 "build failed Apollo 5.5. Exit 4"
![image](https://user-images.githubusercontent.com/22705823/81305972-87ca1380-90b1-11ea-9177-70ced29082c5.png)

[2020-05-07 14:30] Alphabaijinde commented on #11201
@natashadsouza

[2020-05-07 15:01] jilinzhou opened #11202 "lon_controller: remaining path length get updated twice for one case."
**Describe the bug**

The function GetPathRemain() computes the length of the remaining path so the standstill braking can be applied when the ego-vehicle is reaching the final destination. In one case, the remaining path in SimpleLongitudinalDebug is updated twice and here is the code snippet:

[code]
The function should be returned right after _debug->set_path_remain(10000)_.  If it was done on

[2020-05-07 15:30] zhanghming commented on #9582
@alexbuyval Hi, I follow your way and build the cyber_visualizer OK, but when I run it, get the following errors:
[code]
Do you know why?

[2020-05-07 15:35] Basti110 commented on #11083
Okay thanks :) But how can i solve this? And why only we have this problem?

[2020-05-07 16:29] ycool commented on #9747
https://github.com/ApolloAuto/apollo/blob/master/modules/localization/msf/common/util/frame_transform.cc#L25

[2020-05-07 16:29] #9747 closed

[2020-05-07 16:30] #9812 closed

[2020-05-07 16:49] ycool commented on #9815
GraphCreator parsed hdmap data (either xml or pb) and convert this information into node and edge for later routing computation.

[2020-05-07 16:49] #9815 closed

[2020-05-07 18:11] mkhayatian opened #11203 "GPU Support"
Is there a list for the supported GPUs? For instance, are RTX2080 and RTX5000 supported?

[2020-05-07 20:50] jinghaomiao commented on #10424
@storypku Please help with this issue.

[2020-05-07 22:29] jmtao commented on #11160
@LawranceXcl are you sure? I'm unable to reproduce it on my side. can you try it again? please make sure there's no planning instance running on your server at all.

[2020-05-07 22:40] jmtao commented on #11137
@ntutangyun it's moving at speed of 2m/s, which is really slow. based on this speed and the speed of ADC, and ST-graph (you can see it on the right hand panel), planning module has made "Overtake" decision. Otherwise, ADC would have to STOP in order to "Yield" this car.
There IS something wrong with this decision though.  We should have given correct buffer based on the size of this car.  So that

[2020-05-07 22:47] jmtao commented on #11136
@ntutangyun sorry I missed a "not" in my previous post.  "we are NOT supporting 'side-pass" obstacles inside junctions".
The problem is, at 0.06s, the predicted trajectory of that obstacle is too short to indicate it's gonna cross line with ADC. When it shows up at 0.07s, the fence is already at in front of ADC and there's no way for ADC to stop right there.
improving prediction is a long term goa

[2020-05-07 22:48] jmtao commented on #10881
@rrenjie sure we'll keep that in mind, and improve it in future release.  Thanks again.

[2020-05-08 01:33] zhanghming commented on #10855
I also want to know are there any offline test data to run Apollo 5.0. I want to run all the Apollo components without real car.

[2020-05-08 01:46] 171930433 opened #11205 "where to get a .record data with online point cloud"
like the menu, I tried demo_1.5.bag demo_2.5.bag demo3.5.record, none of them with online point cloud data
where to get the record data with online point cloud data?
http://apolloscape.auto/self_localization.html#to_dataset_href
doesn't have either

[2020-05-08 02:17] #11175 closed

[2020-05-08 02:39] storypku commented on #10424
Got it.

[2020-05-08 03:56] zhanghming commented on #11061
@daohu527 Do you know where is the `rosbag to apollo record` tool? I cann't find it.

[2020-05-08 04:41] daohu527 commented on #11061
The tool is remove from 5.0, I found the 3.5 will work
https://github.com/ApolloAuto/apollo/tree/r3.5.0/modules/data/tools

[2020-05-08 07:07] storypku commented on #11201
It seems that gcc compiler was killed as a result of insufficient memory inside the docker container.

[2020-05-08 07:18] storypku commented on #11199
Will you please run the following bazel command directly, and paste its output?

` bazel build //cyber/transport:transport_test`

[2020-05-08 07:20] storypku commented on #11161
Yes. We are making effort to upgrade bazel to 3.1.0 now. Please stay tuned.
Thanks for your attention.

[2020-05-08 07:25] Alphabaijinde commented on #11201
my ubuntu memory  had set 16G

[2020-05-08 07:26] #11145 closed

[2020-05-08 08:10] storypku commented on #11201
I see. As far as I know, `gcc: internal error` usually means it can't find sufficient memory to get its work done.
Have you tried  running "bazel build //modules/localization/ndt:ndt_localization_component_lib" directly?

[2020-05-08 08:19] Alphabaijinde commented on #11201
I am  so sorry now!  The error of build Apollo what is from my personal laptop!

[2020-05-08 10:13] zhanghming commented on #11205
I aslo want to know how to prepare or get the offline test data for Apollo project and how to visualize the sensor input and algorithm output. In this case, we can run the whole Apollo project in our own computer to test different modules conveniently.
However, I can't find the exhaustive documents to elaborate the test data problem, and there are so many issues about this problem.
Wish the Apollo

[2020-05-08 10:56] 13940267943 opened #11208 "Apollo 3.5的navi_mode模式下是否实现了避障（Whether the function of avoiding obstacles is realized in apollo3.5 navigation mode ）"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-05-08 16:18] storypku commented on #11198
Thank you for reporting this. We will re-evaluate the changes we made recently on user account issues.

[2020-05-08 17:16] storypku commented on #11198
This was caused as we didn't mount $HOME directory on the host into  container. It has nothing to do with different user account  inside/outside container(`user` outside and `apollo` inside for this case).

[2020-05-08 17:44] ntutangyun opened #11214 "When Apollo reaches the Stop Sign controlled junction, sometimes it never starts again after it stops before the white stop line."
Hi team,

I noticed that

When Apollo reaches the Stop Sign controlled junction, sometimes it never starts again after it stops before the white stop line.

Has anyone experienced similar issues?

Thanks.

[2020-05-08 19:01] storypku commented on #11198
See https://github.com/ApolloAuto/apollo/pull/11215

[2020-05-09 00:51] zhanghming commented on #10424
I find the solution, we should add `graphics` option in dev_start.sh in [line 409](https://github.com/ApolloAuto/apollo/blob/01062c85b5c731963eff8dfdf220025f49c25c13/docker/scripts/dev_start.sh#L409). And I find the `graphics` option is exist in latest Apollo master branch.

[2020-05-09 01:29] daohu527 commented on #11181
## 1. Open drive to Apollo hd map
I found a way to change open drive(.xodr) to apollo hdmap, which need a little modfiy the code.

https://github.com/ApolloAuto/apollo/blob/01062c85b5c731963eff8dfdf220025f49c25c13/modules/map/tools/sim_map_generator.cc#L106-L126

## 2. How to
1. put the .xodr file into dir "/apollo/modules/map/data/demo/"
2. rename the .xodr file to "base_map.xml" (the .xodr file

[2020-05-09 02:34] Alphabaijinde commented on #11201
I tried runing above directly.
i am glad to say I had slove the issue!  Thank you very much the above you provided the direction !

[2020-05-09 02:35] #11201 closed

[2020-05-09 08:23] #10881 closed

[2020-05-09 14:46] ntutangyun commented on #11136
@jmtao Absolutely. Although I just started, I've been realizing the difficulties ahead. Thanks for the reply. Closing the issue now.

[2020-05-09 14:46] #11136 closed

[2020-05-09 14:47] ntutangyun commented on #11137
@jmtao Thanks for your reply and confirm. :)

[2020-05-09 14:47] #11137 closed

[2020-05-10 12:16] enesemre commented on #11181
Thanks for your answer . I need to build apollo in docker looks like . Which release of apollo do you use for this process?

[2020-05-10 13:42] daohu527 commented on #11181
The 5.5 is ok, other version will ok if have sim_map_generator

[2020-05-11 07:55] linda0131 opened #11218 "Conti radar type"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-05-11 10:19] WeAreTheDark opened #11219 "cyber_channel echo * TypeError: cyber_PyChannelUtils_get_debugstring_by_msgtype_rawmsgdata() argument 1 must be str, not bytes"
**Describe the bug**
cyber_channel echo "some topic" TypeError: cyber_PyChannelUtils_get_debugstring_by_msgtype_rawmsgdata() argument 1 must be str, not bytes

**To Reproduce**
Steps to reproduce the behavior:
1. start a module successfully.
2. cyber_channel echo topic
3. See error

**Expected behavior**
print message of the topic

**Screenshots**

**Desktop (please complete the following informat

[2020-05-11 16:03] #9816 closed

[2020-05-11 16:04] ycool commented on #9816
You can try the latest master code. Thanks.

[2020-05-11 16:08] ycool commented on #9822
https://github.com/ApolloAuto/apollo/blob/master/modules/canbus/conf/canbus_conf.pb.txt

[2020-05-11 16:08] #9822 closed

[2020-05-11 17:26] AlexandrZabolotny opened #11220 "not created folder bazel-bin on apollo (branch master)"
Why do not create folder bazel-bin with library??
There is a need to install apollo again before a new launch

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **ros kinetic**
- **Apollo installed from (source)**:
- **Apollo version (5.5.0)**:

[2020-05-12 00:55] storypku commented on #11203
Thank you for pointing it out. Supported GPU list is a missing chain that  Apollo should have.

[2020-05-12 04:48] NoRomantic opened #11225 "Can't use command " bash dev_into.sh" to enter into the docker environment."
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux Ubuntu 16.04
- **Apollo installed from (source or binary)**: source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 1.0

### Steps to reproduce the issue:
Ater installed docker, I run this command `bash docker/scripts/dev_start.sh`, got

 /home/---/apollo/scripts/apollo_base.sh: line 105: /home/---/apollo/

[2020-05-12 06:46] NoRomantic commented on #11225
It seems to be a bug of docker that when I stop the docker environment manually. Finally, I use command `sudo gedit /etc/passwd` to modify the use_name(which is incorrect, but I have no idea why), problem solved.

[2020-05-12 06:46] #11225 closed

[2020-05-12 07:11] changsh726 commented on #11220
The bazel-bin folder will be created by bazel automatically if you follow the build steps, could you please discribe your problem in more detail?

The bazel-bin folder will be created by bazel automatically if you follow the build steps, could you please discribe your problem in more detail?

[2020-05-12 07:13] changsh726 commented on #11220
The bazel-bin folder will be created by bazel automatically if you follow the build steps. Could you please discribe your problem in more detail?

[2020-05-12 07:46] Martin20 commented on #10314
Hello,

I have the same problem. When I use nvidia-smi command I see the lines below. However, when I run ./docker/script/dev_into.sh it says the docker is not running.

Error response from daemon: Container edbcb1245048bb5e525f5dfdf7faa3a4406e5e61932cbe424a8d0e24a59b3 is not running

apollo-5.0
ubuntu 18.04

![image](https://user-images.githubusercontent.com/24797708/81652661-f3311f80-93e8-11ea-9

[2020-05-12 08:25] AlexandrZabolotny commented on #11220
**My steps**
1.
git clone git@github.com:ApolloAuto/apollo.git
cd apollo
git checkout master
2. bash docker/scripts/dev_start.sh
3. bash docker/scripts/dev_into.sh
4. bash apollo.sh build

**after finish installation was successful**
And result in my folder

![apollo](https://user-images.githubusercontent.com/61351599/81660212-230d1100-9443-11ea-82e9-b7cb29f213d4.png)

**My problem -  bazel-bin fo

[2020-05-12 08:41] changsh726 commented on #11220
The bazel-bin in the original folder is a soft link, you can visit the bazel-bin folder in the docker container.

[2020-05-12 08:50] AlexandrZabolotny commented on #11220
**Why after reboot my PC and start apollo I see this?**

[code]

[2020-05-12 09:19] changsh726 commented on #11220
Have you run `bash apollo.sh build` in the docker container? The build steps need to be redone after a reboot.

[2020-05-12 09:36] AlexandrZabolotny commented on #11220
https://github.com/ApolloAuto/apollo/issues/11220#issuecomment-627220444

Did I understand correctly?
Should I rebuild the project after each reboot of the PS? Why?

But for version 5.0.0 there wasn’t

[2020-05-12 09:37] AlexandrZabolotny commented on #11220
Did I understand correctly?
Should I rebuild the project after each reboot of the PS? Why?

But for version 5.0.0 there wasn’t

[2020-05-12 10:22] eds89 opened #11230 "Real AI models used in AVs"
Hello,
Does anyone know whether any automotive OEM has open-sourced the pre-trained AI models used in their self-driving car projects? What's the state of the art on open-sourced models? I know there are lots of different models, each for a different ADAS function, involved in the operation of a normal AV. For now, any would suffice really.

I'm checking Apollo.auto at the moment, but I'm not sure

[2020-05-12 11:16] 171930433 commented on #8666
I came across the posblem .the I add bind function in the  UdpStream::open() ,everything works well. @renegadephysicist

[2020-05-12 13:07] shawinbetter commented on #11219
Me too

[2020-05-12 13:08] hackerliang commented on #11219
Me too

[2020-05-12 13:23] hackerliang commented on #11219
Please change file /apollo/cyber/python/cyber_py3/cyber.py, line 365 to
[code]

[2020-05-12 13:53] Fadi88 commented on #10314
hi @Martin20

did you do a dev_start.sh before dev_into.sh
the first script create the container and the second one opens a terminal into it

[2020-05-12 16:32] ycool commented on #9461
hmi.conf is deprecated in the latest code.

[2020-05-12 16:32] #9461 closed

[2020-05-12 16:34] #9539 closed

[2020-05-12 16:34] #9545 closed

[2020-05-12 20:11] #11198 closed

[2020-05-12 21:27] Martin20 commented on #10314
@Fadi88
Yes I did.

[2020-05-13 01:19] NoRomantic commented on #11083
I have the same issue, don't know how to solve it. Does anyone have some ideas?

[2020-05-13 03:31] BigBenSure opened #11237 "apollo5.5 build failed, Timeout connecting to https://boringssl.googlesource.com"
**Describe the bug**
apollo5.5 build failed.
[code]
docker image:apolloauto/apollo:dev-18.04-x86_64-latest           LAST PUSHED 18 days ago
DIGEST:sha256:bec5a5cec3c7411dac078e2b466a0283297c1daee7bd2bdc78b1cd6beffbf216

**Desktop (please complete the following information):**
 - OS: ubuntu
 - Version 16.04

**Additional context**
If I use a apollo5.0-dev docker pulled 3 months ago to build apollo

[2020-05-13 03:39] BigBenSure commented on #11237
1. I want to know which 3rd-party lib need boringssl.
2. I can download it manualy, How to use it locally? Which dir should it copied in? Do I need to change WORKSPACE.in?

[2020-05-13 07:01] BigBenSure commented on #11237
apollo use grpc-v1.14.2. I find some code in grpc-1.14.2/bazel/grpc_deps.bzl:
[code]
Can I install boringssl manualy? How to install boringssl so that bazel can find it?

[2020-05-13 13:31] hidetoshi-furukawa commented on #3005
Hi, could you email me the Apollo OpenDrive specification please ?
My email is hidetoshi.furukawa@ai4sig.org.
Thank you very much.

[2020-05-13 16:36] ycool commented on #9304
You can use `ps -ef | grep dreamview` to check if dreamview starts or not.

[2020-05-13 16:36] #9304 closed

[2020-05-13 16:39] #9230 closed

[2020-05-13 16:42] #9198 closed

[2020-05-13 16:43] #9178 closed

[2020-05-14 01:22] Addi2020 opened #11244 "MPC control tuning values?"
1. How to tune MPC control (matrix_q:) to get a smooth response of steer, throttle, brake.
The issue is heading error is high, so the car move in zigzag motion. (steer is not straight, zigzag motion).
In (matrix_q: 1.0) 3rd state is heading error.

2. How to get cf and cr value for a new car or use default values?

e.g.
mpc_controller_conf {
  ts: 0.01
  cf: 155494.663
  cr: 155494.663
  mass_fl:

[2020-05-14 05:01] Fadi88 commented on #10314
lets do the following trial
1- docker container ls
2-dev_start_sh
3-docker container ls

after the script there should be more containers, please post the output of the 3 commands

[2020-05-14 05:07] Martin20 commented on #10314
1:
![image](https://user-images.githubusercontent.com/24797708/81894984-faca0300-9565-11ea-9a3b-b5c853b16273.png)
2:

[sudo] password for mmehrabi:
[INFO] Start docker container based on local image : lgsvl/apollo-5.0:latest
yolo3d_volume-x86_64-latest: Pulling from apolloauto/apollo
Digest: sha256:33add717a675be26c86f817d2207c1ab1ec25694f0decb63e55f0fc3d14b1397
Status: Image is up to date for apo

[2020-05-14 05:23] Fadi88 commented on #10314
And after that still getting the same error ?

Seems interesting because there is an error message in the dev_start.sh maybe this is the cause

[2020-05-14 05:32] Martin20 commented on #10314
@Fadi88
Yes. I received the same error.

[2020-05-14 06:35] BigBenSure commented on #9902
Hi? I have encountered this problem too. In my HOST, I have `/apollo/.cache/bazel`, `~/.cache/bazel`,two folders.I deleate both of them, but it doesn't work. How to check my docker containers? I don't know whether I need  to install protobuf 2 or not? @xiaoxq  Thanks!

[2020-05-14 06:44] BigBenSure commented on #9902
I try to `find -name "protobuf"`,result is:
[code]
I `cd` in them, I can't find descriptor.ph.h,which is `if (file->options().has_php_namespace()) {` `has_php_namespace` declared in. Is it a bug? @xiaoxq

[2020-05-14 08:05] Fadi88 commented on #10314
@Martin20
i am sorry it is on me, the error was in the first log you sent
"./docker/scripts/dev_start.sh: line 311: type: nvidia-docker: not found"

you need to install nvidia-docker
the official docu refers to that page https://github.com/NVIDIA/nvidia-docker

feel free if you have problems in the installation and/or this solves your problem

[2020-05-14 08:19] Martin20 commented on #10314
@Fadi88
Thank you so much. It works.

[2020-05-14 10:48] ArcheyChen opened #11247 "Cyber示例运行无反应"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
Ubuntu 18.04
- **Apollo installed from (source

[2020-05-14 16:20] ycool commented on #9167
https://github.com/ApolloAuto/apollo/commit/cd85eba9c452a179241bbc21cd9379a973d29f03

[2020-05-14 16:20] #9167 closed

[2020-05-14 16:21] #9144 closed

[2020-05-14 16:29] ycool commented on #9186
you can try again in the latest code: bazel test --config=unit_test modules/perception/lidar/lib/segmentation/cnnseg:cnn_segmentation_test

[2020-05-14 16:29] #9186 closed

[2020-05-14 16:34] ycool commented on #8465
The error msg shows some invalid char in line 206 in file WORKSPACE (generated from WORKSPACE.in). You can reset the env and try again.

[2020-05-14 16:34] #8465 closed

[2020-05-14 22:15] mkhayatian commented on #11203
Thank you.

[2020-05-15 00:58] Addi2020 opened #11252 "LQR control tuning?"
I use the exact same method that is shown in the document " How to Tune Control Parameters" to control steering of a vehicle (lateral control) but i can not remove the heading error , The car steering is not stable, It moves in a zigzag direction.
Can anyone help?
Thanks!

[2020-05-15 02:11] weiyinxie commented on #3439
hi i'm using dreamview do to some visualization staffs but facing a issue. I have created  my own lossy map via ./scripts/msf_local_map_creator.sh but couldn't find a way to load it into the dreamviewer.....Does someone has a idea?

[2020-05-15 03:01] #11090 closed

[2020-05-15 03:01] #11103 closed

[2020-05-15 06:16] storypku commented on #11203
We will support GPU cards with compute capabilities `5.0/5.2, 6.0/6.1, 7.0, 7.5` in the upcoming Apollo 6.0 release, which corresponds to the following nvidia gpu archs:  `Maxwell, Pascal, Volta, and Turing`.

[2020-05-15 07:22] weiyinxie opened #11253 "How could the self-created lossy map be loaded into dreamview?"
i habe created a lossy map using the msf_local_map_creator.sh but couldn't load it into the dreamview. what i want is to visualize the lossy map as background in dreamview
![00004596](https://user-images.githubusercontent.com/44968424/82022733-b8b4d480-96bf-11ea-9fd7-9dd60b08c915.png)

[2020-05-15 08:03] changsh726 commented on #11247
By default, log messages will go to log files instead of stderr. You can add a line with `FLAGS_logtostderr = true;` at the beginning of your `main` function. Recompile and rerun it, and then you will see the messages in terminal.

[2020-05-15 09:03] oska874 opened #11256 "eigen error occurs when running apollo on arm64 ?"
I'm running apollo 5.5 on arm64 platform. When velodyne driver run into here:
![image](https://user-images.githubusercontent.com/4536559/82030229-bb68f700-96ca-11ea-91f8-fcc54bd35a69.png)
It will show error of eigen:
![image](https://user-images.githubusercontent.com/4536559/82031927-1f8cba80-96cd-11ea-978c-6faa2dcdf49b.png)

The code of the error occured is in modules/drivers/velodyne/compensator

[2020-05-15 09:39] #11247 closed

[2020-05-15 10:08] ideasplus opened #11261 "question about sim_control mode"
Hi, I want to run perception, prediction, planning and control module by replaying a rosbag and use dreamview to see the car's behavior. But Apollo seems not support control-in-loop simulation. So I find the sim_control mode which can move the car accornding to the planning result. But when I open sim_control mode and necessary module and then replay a rosbag, it doesn't work for me, dreamview wil

[2020-05-15 16:13] ycool commented on #8500
It means lane 2652_1_-1 is too narrow for a vehicle. but it is ok for other obstacles.

[2020-05-15 16:13] #8500 closed

[2020-05-15 16:19] ycool commented on #8517
default_end_way_point.txt defines some POI for easier usage. Its proto is defined at https://github.com/ApolloAuto/apollo/blob/master/modules/routing/proto/poi.proto. You can create an empty file if you don't need any POI.

[2020-05-15 16:19] #8517 closed

[2020-05-15 19:35] salmanee opened #11268 "Testing Oracles"
Hi everyone,

I have a question about the integration tests output files under [/planning/testdata/](https://github.com/ApolloAuto/apollo/tree/a2666b6501af64e642ed3bd1b00fb872a8843e46/modules/planning/testdata/sunnyvale_loop_test). Are those considered to be the testing oracles? Meaning that, are those the files to inspect to determine whether that ADC behavior is acceptable?

 if so, what would b

[2020-05-16 01:22] storypku commented on #11220
Try the lastest master branch, IIRC this issue was fixed in pull#11215

[2020-05-16 01:26] #11220 closed

[2020-05-16 01:40] storypku commented on #11237
Thank you for reporting this. We will investigate the case in the next few days.

[2020-05-16 01:49] storypku commented on #11237
Thank you for reporting this. We will investigate it in the next few days. Please stay tuned.

[2020-05-16 03:56] #10955 closed

[2020-05-16 04:19] #10967 closed

[2020-05-16 14:14] Avps1 commented on #10968
Hi Addi2020,
May I ask if you use VSCode to debug any of the Apollo modules, like perception ?
Thanks in advance.

[2020-05-17 01:54] fengyongwei opened #11271 "我有一个主机A在docker内运行apollo3.0，主机B是windos系统。现在使用ros通讯时，发现B可以接收到docker内的topic（使用ros的标准msg type），但是在主机B使用topic echo时看不到消息。请问是为什么？"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- ** Linux Ubuntu 18.04
- **windos 7:
- **Apollo version ( 3.0)**:

### Steps to reproduce the issue:
- **Plea

[2020-05-17 04:17] zhanghming opened #11272 "How to build multiple versions of Apollo in the same computer"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **Linux Ubuntu 18.04**:
- **Apollo installed from source**:
- **Apollo version 5.5**:

### Problems
I have i

[2020-05-17 14:24] storypku commented on #11272
A dedicated pull request https://github.com/ApolloAuto/apollo/pull/11215 was already backported to the r5.5.0 branch.  It uses  subdirectory `./.cache/dist` of your apollo.git clone as destination of bazel's startup option `--output_user_root`.  By this way, you can differentiate Apollo 5.5 branch with Apollo 5.0 branch (which hasn't this option enabled.)

[2020-05-17 14:24] #11272 closed

[2020-05-17 18:55] AlexandrZabolotny commented on #11220
thank

[2020-05-18 05:06] #11271 closed

[2020-05-18 06:46] ivychen0515 opened #11275 "build cyber rt docker failed"
I tried to build the cyber rt docker on x86 platform, it failed with the error "command 'x86_64-linux-gnu-gcc' failed with exit status 1". I installed both libaasound2-dev and apt-file but still didn't work.
    ----------------------------------------
The complete error msg:
[code]

The apt-file search shows the following result:
[code]

[2020-05-18 08:51] LawranceXcl opened #11276 "SelectTrafficLightScenario() function in scenario_manager.cc"
`  std::vector<hdmap::PathOverlap> next_traffic_lights;
  static constexpr double kTrafficLightGroupingMaxDist = 2.0;  // unit: m
  const std::vector<PathOverlap>& traffic_light_overlaps =
      reference_line_info.reference_line().map_path().signal_overlaps();
  for (const auto& traffic_light_overlap : traffic_light_overlaps) {
    const double dist =
        traffic_light_overlap.start_s - traff

[2020-05-18 09:55] zhanghming commented on #11272
@storypku Thansks for your reply.
Dose this mean I should use the newest master r5.5.0 branch to compile to realize my purpose?

[2020-05-18 10:25] Addi2020 opened #11277 "How to minimize the heading error and lateral error?"
How to minimize the heading error and lateral error?

I use the procedure of the file ( How to Tune Control Parameters ) , it does not work properly.
you can take a look at the lateral and heading graph.

![Screenshot from 2020-05-18 18-20-18](https://user-images.githubusercontent.com/61130487/82202698-e787b080-9934-11ea-9763-02193ee917dc.png)

[2020-05-18 10:39] hidetoshi-furukawa commented on #3005
@natashadsouza @msbeta
Hi, could you email me the Apollo OpenDrive specification please ?
My email is hidetoshi.furukawa@ai4sig.org.
Thank you very much.

[2020-05-18 11:29] zeyu-zha opened #11279 "The compatibility about Apollo 3.5 and CUDA 10.1"
### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**: 18.04
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 3.5
-**NVIDIA card : GTX1070
-**CUDA Version: 10.1
-**NVIDIA-SMI: 435.21
![nvidia-smi](https://user-images.githubusercontent.com/63231844/82207964-fc4f4e80-990a-11ea-8ad5-975350ec44b2.png)
Dear Apollo team,

Currently i am trying to running apollo 3.5 on my U

[2020-05-18 12:12] daohu527 opened #11282 "Repeat code in perception radar module"
## question
There is **already a function calc the distance** in hm_matcher.cc
https://github.com/ApolloAuto/apollo/blob/fbecf63b9cf89878a002880d30cb6393b41c65d3/modules/perception/radar/lib/tracker/matcher/hm_matcher.cc#L179-L188

But in the "RefinedTrack" define a new one, it's better to use just one.
https://github.com/ApolloAuto/apollo/blob/fbecf63b9cf89878a002880d30cb6393b41c65d3/modules/perc

[2020-05-18 15:51] #8520 closed

[2020-05-18 15:51] ycool commented on #8520
You can try it again in the latest master code. Thanks.

[2020-05-18 16:02] ycool commented on #9071
You can pull the latest code and restart docker container to get the latest dependent docker images.

[2020-05-18 16:02] #9071 closed

[2020-05-19 00:11] #11282 closed

[2020-05-19 06:17] storypku commented on #11237
1. As you have found, grpc have a dependency over `boringssl`.
from your comment https://github.com/ApolloAuto/apollo/issues/11237#issuecomment-627789445,
we can see that the `bazel/grpc_deps.bzl` script in `grpc` checks whether `boringssl` was already specified in your workspace. If found, it will do nothing. Therefore we can
add an entry in `WORKSPACE.in` with a fixed `sha256` value like the fol

[2020-05-19 06:22] storypku commented on #11237
Another method

Another method to fix the `boringssl` timeout issue is to use a proxy if you have one.

[code]

[2020-05-19 07:22] daohu527 commented on #11261
Ref to [how-can-i-test-planning-algorithms-offline](https://github.com/ApolloAuto/apollo/blob/6813a9af02f957d31f258b06bba41a06b4194806/docs/FAQs/Dreamview_FAQs.md#how-can-i-test-planning-algorithms-offline)

You can test planning algorithms in sim control

[2020-05-19 07:44] daohu527 commented on #11275
It seems that there is an error when installing the python module "pyalsaaudio".
Can you try "**pip install pyalsaaudio**" and find if there is an error message?

[2020-05-19 09:37] BigBenSure commented on #11237
Thank you for your reply! I will try second way, if build passed, I can try to use first way and build a docker image.

[2020-05-19 09:41] NoRomantic opened #11291 "Which version can successfully be built ?"
Hello, I'd like to know which version do you successfully build Apollo, as well as the Ubuntu version. I'm a little frustrated now, because I've tried separately to build Apollo in Ubuntu16.04 and Ubuntu14.04-desktop (Apollo 1.0 and Apollo 2.0), however, both failed.
Each time I run the command `bash apollo.sh build`, there comes some error reports. I searched on the GitHub issue page, however, so

[2020-05-19 19:03] lemketron commented on #7719
@martins-mozeiko wrote:

I have been experiencing this as well on a 12-core Razer Blade with 16GB of RAM, and have been experimenting with the build settings. I tried building with nproc/2 (6 cores) and also with 9 and with 10 and so far it seems to be doing ok. I'm inclined to think that (at least with 16GB of RAM) a better value is nproc-2. On my system this seems to avoid running out of memory,

[2020-05-19 23:39] lemketron commented on #10814
@Avps1 wrote:

Please note that the LGSVL changes have been merged into Apollo master which should include support for the RTX 2080. We will be publishing a document describing how to set this up but you can start by cloning apollo master and building it. If this is useful we can post a link to the updated documentation as soon as it is available.

[2020-05-20 00:32] storypku commented on #11291
Maybe you should try the master branch or the r5.5.0 branch, both of which are currently actively maintained.

[2020-05-20 00:35] storypku commented on #11237
I will close this issue now. Reopen it  if  solutions above don't work any more.

[2020-05-20 00:35] #11237 closed

[2020-05-20 00:37] storypku commented on #11275
On which branch or tag did you build the cyber docker ?
Steps to reproduce the bug, please.

[2020-05-20 00:38] #11203 closed

[2020-05-20 00:41] storypku commented on #11199
And, maybe you should look at https://github.com/ApolloAuto/apollo/issues/7719

[2020-05-20 00:41] #11199 closed

[2020-05-20 01:18] lemketron opened #11296 "apollo/scripts directory is no longer added to path for $USER_ID 1000"
**Describe the bug**
apollo/scripts directory is no longer added to path for $USER_ID 1000

**To Reproduce**
Steps to reproduce the behavior:
1. docker/scripts/dev_start.sh
2. docker/scripts/dev_into.sh
3. bootstrap.sh
4. bootstrap.sh script not found in apollo master since "/apollo/scripts" not in path (for $USER_ID 1000) but worked fine in apollo 5.0

**Expected behavior**
/apollo/scripts should

[2020-05-20 01:29] #11208 closed

[2020-05-20 01:29] 13940267943 commented on #11208
i found it by myself

[2020-05-20 01:47] lemketron commented on #11296
Another possible fix for this might be to add `/apollo/scripts` into the export PATH line in `scripts/apollo_base.sh`...?

[2020-05-20 03:17] ideasplus commented on #11261
Thanks for your repley! By looking at relevant code, I think sim_control is a tool for testing planning algorithms and it publishes fake location and chaiss messages as the input of planning module. But I saw the following description in a paper about sim_control:
`
We perform the case study using the simulation feature provided by Baidu Apollo, called Sim-control, which is designed to allow users

[2020-05-20 04:57] daohu527 commented on #11261
## In my opinion
As you said, they simulated the "driving decision level".

The simulator has certain limitations by replaying the sensor data actually collected. When the behavior of your own car changes, real-world data also needs to change.

For example, in the real world, your car has to move forword, but when you change the planning algorithm, your car may change lanes. The data in the real w

[2020-05-20 06:53] ivychen0515 commented on #11275
the pyalsaaudio can be installed, but the error still exists.

[2020-05-20 07:00] ivychen0515 commented on #11275
I built on the master branch. There are only two steps shown in the instruction[ Build Cyber RT Docker Image](https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Docker.md#build-cyber-rt-docker-image).
`./build_cyber.sh cyber.x86_64.dockerfile`
The command finally returns the error.

[2020-05-20 07:26] ideasplus commented on #11261
@daohu527 Thanks for your helpful advice!

I want to clarify the mearning of end-to-end test I mentioned before, It means use real sensor data such as point cloud as input and test the apollo pipeline under sim-control.

In their paper, they claim that `use modified real 3D point cloud as input to oberve the car's behavior through dreamview under sim-control.` Because we want to reprocude their ex

[2020-05-20 07:54] daohu527 commented on #11261
You can think of "sim control" mock a real physic car , which following exactly the path planned by the "planning" module.
If you don’t care about the car dynamics model, you can follow this steps below to simulate.

#### steps
1. choice the map and car in dreamview
2. open the  "perception"  "prediction" "planning" "routing" "transform" and "sim control" modules.
3. play the bag and be careful to

[2020-05-20 07:58] NoRomantic commented on #11291
Thanks for your reply, I'll try r5.5.0 branch later. Once I correctly install it, I'll close this issue.

[2020-05-20 08:44] lemketron commented on #11272
@zhanghming Please refer to [LGSVL issue #614](https://github.com/lgsvl/simulator/issues/614#issuecomment-630450396) for information on using apollo master with LGSVL Simulator.

[2020-05-20 16:05] ycool commented on #7829
You can trigger auto mode by either from dreamview or https://github.com/ApolloAuto/apollo/blob/master/scripts/pad.sh.

[2020-05-20 16:05] #7829 closed

[2020-05-20 16:17] #6783 closed

[2020-05-20 16:21] ycool commented on #6309
lane change won't trigger a new routing response. It only happens when the self driving car finds out it can't itself out of the current routing situation (e.g. fail to change lane). Then it will trigger re-routing.

[2020-05-20 16:21] #6309 closed

[2020-05-20 18:28] greenfield932 commented on #10959
velocity - m/s, long/lat displacement - m, acceleration m/s^2, radar cross section dbm^2,
Length/Width - m, orientation angle - degrees

[2020-05-21 01:00] storypku commented on #11296
Thank you for reporting this.  We will fix it ASAP. Please stay tuned.

[2020-05-21 02:05] daohu527 commented on #11184
Camera use an "OMTObstacleTracker",  I'm not sure if it's "optimal mass transport"?

[2020-05-21 07:30] #5262 closed

[2020-05-21 07:45] ntutangyun commented on #11214
Sorry for the late update.
here's a [video](https://drive.google.com/file/d/1G1mFrLwghBwYrkMlIs98FaWaoKBJ3353/view?usp=sharing).

[2020-05-21 09:28] 13940267943 commented on #9568
did you solve the problem about  the car is moving very slow?
now, I also meet this problem.

[2020-05-21 16:12] ycool commented on #6015
overtaking is implemented in Apollo and it is determined by ST algorithm. Its implementation can be found at https://github.com/ApolloAuto/apollo/blob/master/modules/planning/tasks/deciders/speed_decider/speed_decider.cc.

[2020-05-21 16:12] #6015 closed

[2020-05-21 16:22] ycool commented on #6104
Please try it again in the latest code and feel free to reopen this issue if it happens again. Thanks.

[2020-05-21 16:22] #6104 closed

[2020-05-21 17:59] storypku commented on #10931
We are currently working on  Apollo's GPU support improvement, covering GPU card of architecture Pascal, Volta, Turing, with compute capabilities range from 6.0/6.1 to 7.0/7.2 and 7.5.

[2020-05-22 00:23] NoRomantic commented on #10378
Thanks for your reply, I modify postBuffer to 2G then I can clone this repository.

[2020-05-22 01:20] jmtao commented on #11214
@ntutangyun can you please turn on PNC monitor? (Tasks tab on left panel -> Turn off "Lock Task Panel" and turn on "PNC Monitor" on Others group at lower side of the screen), and record it again.   not guaranteed to provide enough info though. We'll see.

[2020-05-22 03:14] BigBenSure opened #11310 "How to let apollo running at 80km/h in simcontrol?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-05-22 03:27] BigBenSure commented on #11310
I set `--planning_upper_speed_limit=40.00` in `modules/planning/conf/planning.conf`,but apollo can only run at 56km/h in a straight road, rather than 50km/h.If I want to increase the speed to 80km/h, what else should I do?

[2020-05-22 03:31] BigBenSure commented on #11310
I print some AERROR in `modules/planning/tasks/deciders/speed_bounds_decider/speed_limit_decider.cc`
I see `curr_speed_limit` is 27.778m/s, but apollo can not run that so fast.

[2020-05-22 03:33] BigBenSure commented on #11310
apollo5.0

[2020-05-22 07:11] daohu527 commented on #11310
Which map have you used? there's some limit ("speed_limit") in the map too.
https://github.com/ApolloAuto/apollo/blob/07c4e7d94daf9eb53641c92f8e491fa4532b6270/modules/map/data/demo/base_map.txt#L9444-L9450

[2020-05-22 07:42] storypku commented on #10424
Try run `./apollo.sh build_cyber` inside apollo container.

[2020-05-22 07:43] #10424 closed

[2020-05-22 07:45] storypku commented on #11272
I guess so. The change was only backported in the latest r5.5.0 branch.

[2020-05-22 08:13] #11184 closed

[2020-05-22 08:13] Avps1 commented on #11184
Thanks for your response.

[2020-05-22 08:15] Avps1 commented on #11107
Hi,
Could some one please give some insight on this problem please?

[2020-05-22 08:20] BigBenSure commented on #11310
thank you for your reply!  I know that  there's some limit ("speed_limit") in the map. But I comment it in `reference_line_.GetSpeedLimitFromS(reference_line_s)` , written in `modules/planning/reference_line/reference_line.cc`. I think map-speed_limit is a step to generate `curr_speed_limit`.My question is : if my curr_speed_limit is 27.778m/s(100km/h),why apollo can't run at that speed? What else

[2020-05-22 08:40] BigBenSure commented on #11310
Could anyone tell me the right step to increase the apollo running speed? Ignore what I have done...

[2020-05-22 10:11] BigBenSure commented on #11310
I found that: in `piecewise_jerk_speed_optimizer.cc`,I see `piecewise_jerk_problem.set_dx_bounds` is always `27.778`m/s, but the output:
`const std::vector<double>& ds = piecewise_jerk_problem.opt_dx();`
ds[i] is in the range of 8 ~ 14m/s...

[2020-05-22 12:50] storypku commented on #11296
Pull request #11314 aims to solve this problem. Would you please help review that? @lemketron

[2020-05-22 16:26] ycool commented on #5872
Driver module can isolate the hardware differences and makes it easier for other modules to use GPS data.

[2020-05-22 16:26] #5872 closed

[2020-05-22 16:30] ycool commented on #5986
The current version of routing module is on-board routing. Its input and output API is defined at https://github.com/ApolloAuto/apollo/blob/master/modules/routing/proto/routing.proto#L27.

[2020-05-22 16:30] #5986 closed

[2020-05-22 22:25] rongguodong opened #11317 "Add a global flag for CYBER time mode"
**Is your feature request related to a problem? Please describe.**
I am using LGSVL Simulator with Apollo. The timesamps of sensors use `simulation time` instead of real time. So they are different to the time used in Apollo modules (e.g. localization, perception, etc.).

I see Apollo's Time class has a CYBER time mode. But in current implementation, Cyber time is always system time. So the SYSTEM

[2020-05-22 22:25] rongguodong commented on #11317
@ycool I see you created the MOCK time mode. Do you have better alternative to use this MOCK mode from outside of Apollo?

[2020-05-22 22:29] rongguodong commented on #11179
I am facing the same problem. Anyone can give some suggestions on this?

[2020-05-22 22:48] jmtao commented on #11276
@LawranceXcl good catch! fixed via the above PR.
Many thanks for supporting Apollo!

[2020-05-22 22:48] #11276 closed

[2020-05-22 22:58] #11296 closed

[2020-05-23 01:11] #11291 closed

[2020-05-23 01:54] ntutangyun commented on #11214
Hi, @jmtao thanks for your reply. here's the [video ](https://drive.google.com/file/d/1EoijTPWJU3Dh_i82t4ORNzwl1tMvoTuL/view?usp=sharing)for the PNC monitor.

I noticed that if the **scenario library** rolls normally, the vehicle is able to engage again after a complete stop when the "CREEP" shows up.

But somehow after a few trails, the **scenario library** freezes and does not display any more n

[2020-05-23 02:53] jilinzhou commented on #11244
To get cf and cr (cornering stiffness) is pretty involving. A lot of data under different driving scenarios needs to be collected and some kinds of least square fitting are then used to find them. The value of 155496.663 was originally published in one technical paper (cannot remember the paper's title) and has been referenced and directly used by many other papers and also in apollo for Lincoln M

[2020-05-23 03:02] jilinzhou commented on #11256
Create a small program just using eigen, run the same code piece, and figure out from there.

[2020-05-23 10:56] markofan opened #11320 "When I run apollo.sh, I can't get access to abseil, how to solve this problem"
When I run apollo.sh(./apollo.sh build_cpu), I can't get access to abseil, how to solve this problem ？

ERROR INFORMATION:
INFO: (05-23 10:25:58.589) Timeout connecting to https://github.com/abseil/abseil-cpp/archive/cd95e71df6eaf8f2a282b1da556c2cf1c9b09207.tar.gz

[2020-05-23 11:13] faysalhossain2007 commented on #10931
Great! Just to be sure Apollo will keep supporting the older GPU ( Specifically NVIDIA GTX 1070 ). Right?

[2020-05-23 14:55] storypku commented on #11320
On which  branch ?   What's the bazel version (By  running `bazel version`) ？
Generally, u can use a proxy when before running `apollo.sh` by setting like
[code]

[2020-05-23 14:58] storypku commented on #11275
The docker build scripts on the master branch are outdated and maybe broken. If you want to build cyber.x86_64 docker image yourself, please take a look at the docker_dev branch.

[2020-05-23 19:17] HongyiSun commented on #11310
There is also a `--default_cruise_speed=11.18` in the `modules/planning/conf/planning.conf`. Where the planning optimizer will trying to keep close to that speed without violate and speed limit(from planning setup or map).
So I guess that's the desired default speed you want to change.

[2020-05-23 19:23] HongyiSun commented on #11279
Did you install the nvidia-docker (or the newer version of docker with nvidia violate).
Could you please show your result of `nvidia-smi` inside the apollo docker (after running the 'dev_into.sh')

[2020-05-24 07:13] markofan commented on #11320
I have checked the code, this issue happened when I run this code
"  bazel build $JOB_ARG $DEFINES -c $@ $BUILD_TARGETS" <Line 147 in apollo.sh>
The bazel version is 3.1.0
I have already set the HTTP_PROXY, but it doesn't work.
Can I install "abseil" by myself without by the code?
=================================
我觉得我的问题在于即使设置了代理，bazel也不能从网上下载东西，一开始是不能下载“https://github.com/ApolloAuto/apollo-contr

[2020-05-24 09:26] #11041 closed

[2020-05-24 10:05] storypku commented on #11320
As far as I know, only the docker_dev branch has bazel 3.1.0 enabled.

With bazel 3.x, you can place your pre-downloaded tarballs under /apollo/.cache/distdir, and enable the `--distdir=/apollo/.cache/distdir` option when calling bazel build/test. Eg. ` bazel build --distdir=/apollo/.cache/distdir //cyber/... `, or  `bazel test --distdir=/apollo/.cache/distdir`.

[2020-05-25 02:18] BigBenSure commented on #11310
Thank you for your reply! I set `--default_cruise_speed` to maybe 25.55m/s, it is useful in apollo 3.5 but  it is useless in apollo 5.0. Maybe in apollo 5.0, they use  PUBLIC_ROAD planner instead of LATTICE planner which was used in apollo 3.5

[2020-05-25 07:53] Addi2020 commented on #11244
@jilinzhou .. Thank you for response.
I use the default values for cf and cr is ok.
cf: 155494.663
cr: 155494.663

The problem is that is am trying to control steer, I am trying MPC and LQR tuning , set differetn vlaues for matrix_q, but still the steer is not stable. it give heading error.

How to get a stable response, with zero heading error?
what are the best tuning values for MPC or LQR?

lat

[2020-05-25 08:07] zhanghming opened #11328 "Using cyber_recorder to record data generate many offline record files"
### Systems
Apollo 5.5
Ubuntu 16.04

### Questions
When I run the following scripts by use LGSVL simulator to record offline `record` data for testing:
[code]
I found the recorded files have been saved with `lgsvl.record.00000, lgsvl.record.000001` and so on, and every file is `2.2G`, I want to know how to unset the record file size limit so that I can record the messages in one file.

And another

[2020-05-25 09:56] Avps1 commented on #6335
Hi @CCodie,
Did you have any luck debugging the Perception module using VSCode ? I have followed this document https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_using_vscode.md , but the problem is, the program does not stop at any of the set breakpoints while debugging. I also made a video of this problem - https://youtu.be/d9vcRATc3M0

Did you face similar proble

[2020-05-25 17:45] Avps1 commented on #8637
Has anyone solved this problem?
I have the exact same problem while debugging the perception module - https://github.com/ApolloAuto/apollo/issues/11107

[2020-05-26 06:17] LawranceXcl opened #11331 "function ComputeSTBoundary(PathDecision* path_decision) in st_boundary_mapper.cc"
`     else if (!decision.has_ignore()) {
      // 3. Ignore those unrelated obstacles.
      AWARN << "No mapping for decision: " << decision.DebugString();
    }`
I have a doubt  here.Should it be changed to `  else if (decision.has_ignore()){...}`?

[2020-05-26 06:18] ivychen0515 commented on #11275
the docker_dev branch works, thx!

[2020-05-26 06:18] #11275 closed

[2020-05-26 10:03] Sun1307010608 opened #11333 "bash: cyber_visualizer: command not found"
hello @Apollo,
I used apollo-5.5.0 in ubuntu16.04LTS， I could run the "demo_3.5.record" demo data an see the result in localhost:8888. And the command cyber_monitor can be used correctly. but the errors happened when i ran the command like “cyber_visualizer”, "rosbag_to_record" etc. And I used “sudo find / -name cyber_visualizer” cannot find any executable file as this name. Do you guys knows what

[2020-05-26 10:23] Allenhe123 opened #11334 "cyberRT segment fault on ARM for compile option O1 O2 O3"
**Describe the bug**
cyberRT will be segment fault  on ARM for compile option O1 O2 O3.

1. Edit file cyber.pb.conf and let default_proc_num has a value bigger  than  1, for example:
scheduler_conf {
    routine_num: 5
    default_proc_num:2
}

2. Then run a talker listener demo, it will crash.

my code as below:
	using namespace std;
        using namespace apollo::cyber;
	apollo::cyber::Init(arg

[2020-05-26 11:06] Allenhe123 commented on #11334
The issue caused by croutine context switch. The error take  place near code:
CRoutine::Resume() {
   ...
   ...
   SwapContext(GetMainStack(), GetStack());
   current_routine_ = nullptr;
   return state_;
}

[2020-05-26 12:21] Avps1 commented on #10424
Hi,
The ./apollo.sh build_cyber command does not work in my machine.
Opening cyber_visualizer still shows the same error ->
"Could not initialize GLX
Aborted (core dumped)".

[2020-05-26 21:57] jmtao commented on #11331
@LawranceXcl there's nothing wrong here.
it is to deal with(a warning logging) longitudinal decisions other than stop/follow/yield/overtake when there is NO ignore decision.
currently, we don't have any other longitudinal decisions besides the above, so the code never runs into here. We can keep it as a sanity check just in case we may introduce another longitudinal decision. i.e. there's a longit

[2020-05-26 22:52] jmtao commented on #11214
@ntutangyun I don't even see scenario / stage changes in this video. hard to tell what's going on.

[2020-05-26 22:53] jmtao commented on #11160
@LawranceXcl hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-05-26 22:53] #11160 closed

[2020-05-27 03:25] rrenjie opened #11340 "Question about 'bool PathBoundsDecider::GetBoundaryFromLanesAndADC'"
`double curr_left_bound =
    std::fmax(curr_left_bound_lane, curr_left_bound_adc) - offset_to_map;`
should it be `std::fmin` here? If the left lane bound is a curb, the adc might hit the curb if curr_left_bound_adc is larger. The same problem goes with
`double curr_right_bound =
    std::fmin(curr_right_bound_lane, curr_right_bound_adc) - offset_to_map;`

[2020-05-27 08:41] Addi2020 opened #11342 "Controller Tuning ofline is possible?"
Is it possible to do controller (PID or LQR or MPC) tuning offline using  record bag and Apollo dream view?
If possible then how to do it?

[2020-05-27 09:43] zhanghming commented on #11333
The `cyber_visualizer` is not be built by default, you can refer to [this](https://apolloauto.io/t/cyber-visualizer/647/7) to built it.

[2020-05-27 15:39] ideasplus commented on #10007
@xmyqsh Hi, Can you use the external dataset that you mentioned before including nuscenes-devkit, argoverse or waymo-open-dataset to test apollo system such as perception, prediction, planing module? If so, Can you tell me how to convert the external data into the format understood by Apollo? I don’t know how to get started. Thank you in advance.

[2020-05-27 17:24] ideasplus commented on #7019
@unacao
Hi, According to your previous description, I have some question on the use of sim_control and external dataset to test apollo.
1. How to test apollo modules by replaying a record in sim_control mode? If I filter the localization and chassis topic, but the car will not move on the dreamview. I know sim_control will public fake localization and chassis messages, but do the messages match th

[2020-05-27 17:40] ideasplus commented on #11261
@daohu527
Hi, I have tried according to your method, but the car will not move on the dreamview. I don't know what happend. By the way, I want to say that sim_control will public fake localization and chassis messages, but whether the messages match the played record file? The perception module needs /tf topic, but whether the topic in the record should be reserved  in this situation due to the to

[2020-05-27 18:52] unacao commented on #7019
For Question 1, I think you need to send a routing request on Dreamview UI.
For Question 2 & 3, @ycool @weidezhang do you have more thoughts?

[2020-05-28 01:44] miewan opened #11349 "Apollo Auto adapter_manager.h not found in Apollo 3.5"
I am trying to create IR for each files in Apollo Auto 3.5 using clang++

For files modules/tools/planning/planning_stats.cc, I get an error **_'modules/common/adapters/adapter_manager.h' file not found_**

And I look at the directory, and there is no adapter_manager.h

Can anyone please tell me why this file is missing from apollo auto 3.5?

[2020-05-28 01:47] daohu527 commented on #11261
The car just following the path your planning module give. And the planning module give the path by the record environment.

The /tf is published by record file and is "static".

[2020-05-28 01:51] AIasd commented on #6916
Hi,
Will NVIDIA RTX 2080 be supported in the near future?

[2020-05-28 02:07] ntutangyun commented on #11214
@jmtao, when the **scenario library** on the top right side keeps rolling, Apollo could engage again after a complete stop and pass the junction. but sometimes when the **scenario library**  stops rolling, and the vehicle will stop forever at the junction.

[2020-05-28 05:40] lemketron commented on #6916
I believe current apollo/master supports the RTX2080.

[2020-05-28 16:42] zeyu-zha commented on #11279
To question 1: **Did you install the nvidia-docker (or the newer version of docker with nvidia violate).**
If i understand right, i have already installed the nvidia-docker on my host PC, like it shows in the screen shot.
![Screenshot_nvidia-docker_smi](https://user-images.githubusercontent.com/63231844/83167385-7b653380-a110-11ea-9b6c-db924d40cf30.png)

To question 2: **Could you please show your

[2020-05-28 22:10] AIasd commented on #6916
That's great! Do you have any idea on if it will be supported by carla or lgsvl?

[2020-05-29 01:15] storypku commented on #10931
Yeap! SM value for NVIDIA GTX 1070 cards is 6.1.

[2020-05-29 01:22] storypku commented on #6916
Not yet，actually. RTX 2080 cards will be supported in a month or two，depending on our progress.

[2020-05-29 07:02] Sun1307010608 commented on #11333
@zhanghming Thank you very much!!! I solved this problem by your proposal.

[2020-05-29 09:08] qwetqwe commented on #7150
Hello, I want to configure it to visible topic,could you tell me where I can configure

[2020-05-29 09:09] qwetqwe commented on #7150
@techoe  Hello I want to configure it to visible topic,could you tell me where I can configure

[2020-05-29 22:35] HongyiSun commented on #11310
it's also used in the `piecewise_jerk_speed_optimizer.cc`, so it should worked in 5.0 as well. What was the result after you changed both the default_speed and the speed_limit?

[2020-05-29 22:43] HongyiSun commented on #11279
I don't think you will need to install nvidia things inside the apollo docker, as the apollo docker itself should get the environment ready with the driver and CUDA. So was there any error when you were running `dev_start.sh`, so the docker failed to get some of the layers?

[2020-05-29 22:49] jmtao commented on #11340
@rrenjie these are adjustments on path bounds based on ADC's position.
for left bound, if adc_l is larger than left_bound, left_bound shall move further to left to fit in adc's actual position.
nothing wrong.
thanks

[2020-05-29 23:21] HongyiSun commented on #11328
For your first question, you may run `cyber_recorder record --help` to see the record options.

There are options like `-i, --segment-interval <seconds>	record segmented every n second(s)
	-m, --segment-size <MB>			record segmented every n megabyte(s)` you may found useful.

[2020-05-30 05:52] rrenjie commented on #11340
@jmtao Thank for reply. The problem is, if adc is moving towards the left curb, it is possible curr_left_bound_adc is further left than left_lane_bound because there is an ADC_speed_buffer in curr_left_bound_adc. In such a situation, the left curb is no longer a hard constraint for ADC, and the ADC might hit the left curb.

[2020-05-31 10:20] ivanchristina commented on #3005
Hi, could you please also send me the Apollo specification? Thanks
My e-Mail: ivanchristina@163.com

[2020-05-31 10:21] ivanchristina commented on #3005
@natashadsouza   @msbeta
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: ivanchristina@163.com

[2020-06-01 04:12] weiyinxie commented on #3005
@nakulvyas @msbeta
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: weiyinxie@gmail.com

[2020-06-01 07:28] markofan opened #11356 "something about Lane_detection_postprocess"
After the darkscnn, we can get a image which the values are lane_type_num_[FOURTH_LEFT, THIRD_LEFT.,..], is this right?
What is process2D used for？

[2020-06-01 07:35] markofan commented on #11074
Do you understand the Post-Processing step?  Is there any thresholding? Do you understand the process2D function?

[2020-06-01 08:10] LawranceXcl opened #11357 "How to pause In simcontrol simulation?"
RT

[2020-06-01 10:01] mertmerci commented on #11074
Well, actually not on a satisfied level. I'm still waiting for the response of this issue.

[2020-06-01 11:16] markofan commented on #11074
I want to know that "Lane detection" and "object detection" use different models, which are darkscnn and yolo, is this right?

[2020-06-02 01:39] storypku commented on #11083
I guess it will take a lot of pain to get it fixed, as bazel 0.5.3 is too-old as of Jun 2020, and only the `master` and `r5.5.0` branch are actively maintained at present. The Apollo team is working on  upgrading bazel support from  0.5.3 to  3.1+.  Please stay tuned.

[2020-06-02 01:44] storypku commented on #11320
Fixed in #11362 .
Re-open this issue if it still doesn't  work for you.

[2020-06-02 01:44] #11320 closed

[2020-06-02 02:22] ntutangyun opened #11363 "prediction module - opencv error: assertion failed"
**Describe the bug**
Hi team, I'm getting below error when I try to migrate from LGSVL forked Apollo 5.0 version to the official Apollo 5.5 master branch.

![image](https://user-images.githubusercontent.com/16061105/83472839-bd98c700-a4ba-11ea-8c6c-76bd14ad779e.png)

[code]

**To Reproduce**
I've made a customized ground truth perception sensor for the LGSVL ego vehicle, which is publishing `/apol

[2020-06-02 06:30] AlexandrZabolotny commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: alexx_20@mail.ru

[2020-06-02 08:41] Martin20 commented on #10599
Can I ask about the installation guide for Apollo-5.5? I want to uses it along with LGSV like the tutorial existing in the link below. Do you have any prepared tutorials?

https://github.com/lgsvl/apollo-5.0

[2020-06-02 08:42] Martin20 opened #11365 "The installation of Apollo-5.5"
Can I ask about the installation guide for Apollo-5.5? I want to uses it along with LGSV like the tutorial existing in the link below. Do you have any prepared tutorials?

https://github.com/lgsvl/apollo-5.0

### System information

- Linux Ubuntu 18.04,
- Apollo installed from source,
- Apollo version 5.5.

[2020-06-02 14:48] dmcculley commented on #3005
@natashadsouza @msbeta
Hi, could you please send me the Apollo specification to dmcculley@roboticresearch.com
I'm curious what is different from normal OpenDRIVE?

[2020-06-02 14:53] mertmerci opened #11371 "Standalone Perception Module"
Hello,

I want to run Perception module as standalone as it's possible to check the outputs of its cyber node with giving inputs from LGSVL. Does Perception module need any other modules to operate properly, if yes which modules are them?

[2020-06-02 15:32] ntutangyun commented on #11371
probably `transform` and `localization`.

[2020-06-03 02:58] liukr001 opened #11376 "When more and more tracking data are recorded, dreamview will be stuck"
When the recording and tracking data becomes more and more, dreamview will be stuck. The vehicle can only drive at idle speed without acceleration or deceleration. Is there any solution

[2020-06-03 14:33] zeyu-zha commented on #11279
The reference is about " FROM nvidia/cuda:10.0-cudnn7-devel-ubuntu18.04"
But i got one question here, if this reference can also be used for apollo 3.5?

Here are the msg in screen shots after the conduction of dev_start.sh. The error msgs are about libcaffe2_gpu.so and libcaffe2_gpu.so.
![Screenshot_dev_start_1](https://user-images.githubusercontent.com/63231844/83642300-f2864600-a5ae-11ea-942c-d

[2020-06-03 16:51] ntutangyun opened #11381 "[PREDICTION] a typo maybe ?"
Hi,

I found the following mismatch in the Prediction source code. I don't fully understand the code yet. but please help check anyway :)

[code]
there is a not "!" before the `FLAGS_use_navigation_mode` in the first snippet, not in the second.

[2020-06-04 06:50] AlexandrZabolotny opened #11384 "Which manufacturers' lidars can be used in Apollo"
Hello!
Help me!
I have a **"robosense RS-Ruby"** lidar
https://www.robosense.ai/rslidar/rs-ruby

1. Can I use this lidar?
2. Where can I download the driver of this lidar for Apollo?

[2020-06-04 06:57] daohu527 commented on #11363
You can check the type first, here is some ref [link ](https://stackoverflow.com/questions/17241830/opencv-polylines-function-in-python-throws-exception)in stackoverflow.

[2020-06-04 08:01] daohu527 commented on #11357
If you can save the chassis status, then you can pause the sim control. It seems that it does not support now

[2020-06-04 08:05] daohu527 commented on #11365
There is an installation instruction [apollo_software_installation_guide](https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md)

[2020-06-04 12:23] Avps1 commented on #11107
@davidhopper2003  Could you please look into this issue? Is it a standard bug, or am I missing something in the documentation https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_using_vscode.md ?

[2020-06-04 13:58] scienceplus opened #11388 "Is there any cmd line tool for apollo similar to `rostopic pub`? Or, does Cyber support `pub` operations?"
apollo有类似rostopic pub这样的命令行工具么？或者说cyber支持pub功能么？
看了之前的版本，似乎一直缺失这个功能。

[2020-06-05 05:44] storypku commented on #11388
Please try as best to use English when creating issues. It's more friendly to non-Chinese speakers.

[2020-06-05 07:04] ManXiaoMi opened #11393 "What's the difference between 'relative time' and 'heading time' in planning"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution ( Ubuntu 14.04)**:
- **Apollo installed from (source)**:
- **Apollo version (

[2020-06-05 14:27] scienceplus commented on #11388
学习中文是一件很快乐的事！

[2020-06-05 15:19] vkaser opened #11396 "Question about using more than one CAN interface"
Hi folks!
Is it possible to use more than one CAN interface channel simultaneously (e.g. can0 and can1) in **canbus** module?

### System information
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **Apollo installed from**: source
- **Apollo version**:5.0

### Steps to reproduce the issue:
There is only one cancard parameter in canbus_conf.pb.txt file:
[code]
I want to add another channe

[2020-06-05 18:20] ntutangyun commented on #11363
@daohu527 Hi thanks for your reply.  I discovered the root cause and fixed it.

Seems that the newly added semantic map in the prediction module needs to draw the 2D semantic map about the junctions containing all the obstacles, which actually requires the polygon_point data in the PerceptionObstacle message.

My ground truth perception sensor didn't generate the polygon_point, as It was not requi

[2020-06-05 21:27] Martin20 commented on #11365
Thanks, @daohu527

Does it work with LGSVL simulator?

[2020-06-05 22:35] Martin20 opened #11398 "Installing Apollo"
- Linux Ubuntu 18.04):
- Apollo installed from source :
- Apollo version 5.5:

I was going to install Apollo in the link below:
https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_software_installation_guide.md#Run-Apollo-in-Ubuntu-16

However, when I run "git clone git@github.com:ApolloAuto/apollo.git" I receive the error below. Do I need special permission? If so, how can I g

[2020-06-06 03:42] daohu527 commented on #11365
Lgsvl have their own apollo branch [5.0](https://github.com/lgsvl/apollo-5.0)

In my opinion, they mainly added the bridge code. If the original file has not been modified in apollo 5.5, you can transplant the bridge code to apollo 5.5

[2020-06-06 03:48] daohu527 commented on #11398
You don't need any permission to clone the repository.

Maybe you should check your ssh key in github settings. The public key in your computer " ~/.ssh/" is not set in github setting. So you don't have the permission to clone the code in any repository.

[2020-06-06 03:59] daohu527 commented on #11384
There is no default robosense's lidar driver in apollo.

Maybe you can ask if the manufacturer has adapted to the apollo driver.

[2020-06-06 07:54] Martin20 commented on #2362
Any update in this error?

[2020-06-06 08:28] Martin20 opened #11399 "Error in running V2X, /sunnyvale_big_loop does not exist."
-  Linux Ubuntu 16.04:
- Apollo installed from source:
- Apollo version 5.0:

I run the LGSV simulator along with apollo. Then I launch V2X module by the command below:

cyber_launch start modules/v2x/launch/v2x.launch

Then I receive the error below. I think "sunnyvale_big_loop/base_map.bin" does not exist. How I can find it?

[/apollo/bazel-bin/modules/v2x/v2x --flagfile=/apollo/modules/v2x/conf

[2020-06-06 11:33] daohu527 commented on #11399
There're two problems you need to deal with.

1. You need to modify the map of the v2x module to the map you choices in dreamview.
[code]
2. The v2x module requires grpc service to provide traffic signal information and obstacle information.

[2020-06-07 15:21] ChantingW opened #11403 "Can not access apollo data open platform"
Can not access apollo data open platform to get sensor data to test perception module.
Could anyone share a goolge driver link for demo-sensor-data-apollo-2.0.tar.gz.

[2020-06-07 15:29] hoodiney commented on #11403
I have the same problem, too! The platform website always redirects to Apollo's homepage.

[2020-06-08 00:49] Moon-XUChengyuan commented on #11261
I am facing the **exact same** problem as yours, that using real sensor data as input and test the apollo pipeline. Is there any progress? Thanks a lot !!

[2020-06-08 03:21] oska874 opened #11404 "apollocache.blob.core.windows.net is deprecated?"
apollocache.blob.core.windows.net is not able to access.
When I try to install pcl on arm64 with script "/apollo/docker/build/installers/install_pcl.sh ", it shows `/apollo/docker/build/installers/install_pcl.sh `.

[2020-06-08 07:19] Moon-XUChengyuan commented on #7019
Did you fix Q1? I have the same situation that when I tested apollo pipeline with only sensor data in record file,  the car would not move in the dreamview. Really need help, thanks a lot!

[2020-06-08 07:58] Moon-XUChengyuan commented on #9461
did you fix that? i am following the tutorial https://github.com/ApolloAuto/apollo/blob/master/docs/technical_tutorial/navigation_mode_tutorial_cn.md too but get this error in the first step. Thanks in advance!

[2020-06-08 08:27] rrenjie commented on #11357
I also need pause function in simcontrol very much.

[2020-06-08 23:51] jmtao commented on #11340
@rrenjie lane boundary is not necessarily road boundary, and therefore not a hard constraint. ADC_speed buffer is something we can't avoid.  you can consider curr_right_bound_adc as the position that ADC will hit for sure.

[2020-06-08 23:52] jmtao commented on #11331
@LawranceXcl I'll close this issue for now. Thanks for supporting Apollo!

[2020-06-08 23:52] #11331 closed

[2020-06-08 23:53] jmtao commented on #11214
@ntutangyun again, it's hard to tell what's going on. If you are interested in knowing how to debug in your enviroment, ping me. thanks!

[2020-06-09 01:48] Martin20 commented on #11399
Thank you @daohu527
I use cubetown map. Is the following line correct?

DEFINE_string(hdmap_file_name,
              "/apollo/modules/map/data/cubetown/base_map.bin",
              "hdmap file name");

I know how to prepare the grpc part. The only question is about the IPs and ports.
if I keep the following line the same, can I have the communication in one single vehicle?

DEFINE_string(grpc_clie

[2020-06-09 04:57] daohu527 commented on #11399
@Martin20
If you want to change the v2x server and client, just modify the configuration in "apollo\modules\v2x\conf\v2x.conf"

1. Client and server both in local vehicle
In addition to starting apollo, you need to start another grpc client and server. the client is used to publish traffic signal information, and the server is used to receive the vehicle status.
[code]

2. Client in local vehicle,

[2020-06-09 05:53] #11310 closed

[2020-06-09 07:43] vvForedawn commented on #9175
Although I didn't install LFS, I have the same problem as you.
But I found if use firefox to open http://localhost:8888, It's OK.

[2020-06-09 13:43] ntutangyun commented on #11214
@jmtao thanks. closing for now. If you have docs about debugging, could you please send it to ntutangyun@gmail.com. thanks again :)

[2020-06-09 13:43] #11214 closed

[2020-06-09 13:48] sven-hoek commented on #10599
Is there any more information on

? I found scripts under `/apollo/scripts` and `/apollo/modules/tools/sensor_calibration` but the former seems to use files under `modules/calibration` that don't exist (and copying the [calibration tools](https://github.com/ApolloAuto/apollo/releases/download/v2.0.0/calibration.tar.gz) ended up with missing opencv libraries and other errors) and the latter only se

[2020-06-09 21:08] jmtao commented on #11393
@ManXiaoMi relative_time is the "relative" time compared to "current" timestamp. relative_time=0.1 means 0.1sec ahead of current time. relative_time=-0.1 means 0.1sec before current time.

[2020-06-10 01:00] daohu527 commented on #11357
1. What are the usage scenarios? Pause by stopping playing bag?
2. Can you describe this requirement in detail?

[2020-06-10 01:51] jilinzhou opened #11418 "velodyne driver: lidar_timestamp is not set for VLP32C and HDL32E in velodyne32_parser.cc"
Here is the code snippet where measurement_time is set:

[code]

But out_msg->header()->lidar_timestamp() never gets set.

[2020-06-10 03:06] #10954 closed

[2020-06-10 03:07] #11118 closed

[2020-06-10 03:07] #10949 closed

[2020-06-10 03:08] #10805 closed

[2020-06-10 03:08] #10630 closed

[2020-06-10 03:09] #10707 closed

[2020-06-10 03:09] #10952 closed

[2020-06-10 03:09] #10958 closed

[2020-06-10 03:09] #10953 closed

[2020-06-10 03:10] #11104 closed

[2020-06-10 05:16] #11340 closed

[2020-06-10 07:39] AlexandrZabolotny commented on #6916
**Could you inform in this issu when you solve this problem?**

[2020-06-10 08:31] lemketron commented on #6916
@storypku I'm confused... Doesn't apollo/master already support the RTX cards? I've used it on my 15" Razer Blade which has a RTX2070, along with the LGSVL Simulator as documented on the [LGSVL Simulator](https://www.lgsvlsimulator.com/docs/apollo-master-instructions/) site (though it maxes out all 12 cores and can exhaust the 8GB of GPU memory in my laptop which can cause apollo modules to crash)

[2020-06-10 09:27] rimu123 opened #11421 "Can you provide training code for denselane"
Thank you for your contribution. Can you provide training code for denselane, thank you

[2020-06-10 10:51] teddyzhai commented on #10636
still not fixed yet in r5.5.0 and master branch....

[2020-06-10 14:00] storypku opened #11423 "docker-dev branch breaks LGSVL simulator"
`modules/contrib/lgsvl_msgs/proto/BUILD` file generated by our universal  `scripts/proto_build_generator.py`  defines new `cc_proto_library` targets, which maybe imcompatible with current lgsvl simulator.  Investigation needs to be done to make it work again.

@xiaoxq @lemketron

[2020-06-10 15:50] teddyzhai opened #11425 "add cmake base build system"
**Is your feature request related to a problem? Please describe.**
Currently, Bazel is poorly supported by IDEs in Linux. I have tried Clion 2020.1, Eclipe, and qtcreator. Bazel is not supported in none of the recent version of these IDEs.

**Describe the solution you'd like**
Add cmake file to allow open projects in one of these IDEs.

[2020-06-10 16:22] #11425 closed, assigned to nobody

[2020-06-10 22:51] lemketron commented on #6916
@storypku That's interesting, thanks. I noticed that `cuda_library.bzl` has not changed since apollo 5.0 which crashed when running on the RTX2080 but now in apollo master it does seem to run without crashing. So I'm guessing something else was done to fix this since 5.0, though it sounds like you're saying it's perhaps not running as optimally as it could if it were fully supported rather than ru

[2020-06-10 23:05] lemketron commented on #11423
@rongguodong Can you take a look at this?

[2020-06-11 00:44] rongguodong commented on #11423
What is "scripts/proto_build_generator.py"? I cannot see this file on Apollo's github repo.
@storypku Can you explain the problem with more details?

[2020-06-11 00:46] storypku commented on #11423
This file was on the docker_dev branch.

[2020-06-11 00:51] rongguodong commented on #11423
Ah, I see. I have just tested LGSVL with Apollo's master branch, but not this docker_dev branch.

Can you explain what is this branch for, and what is this script doing?

Some general information: lgsvl_msgs just adds some new messages for 2D and 3D ground truths. If no ground truth sensor are used, this folder is not used.

[2020-06-11 00:59] storypku commented on #11423
The docker_dev branch features bazel 3.x and refactored Dockerfiles with various system package upgrades.

The script is used to autogenerate BUILD file for each of the `xxx/proto/` dirs.
Usage: `scripts/proto_build_generator.py modules/contrib/lgsvl_msgs/proto/BUILD` in LGSVL's case.

[2020-06-11 02:32] ntutangyun commented on #11363
@HongyiSun alright. thanks.

[2020-06-11 02:32] #11363 closed

[2020-06-11 03:03] WeAreTheDark opened #11430 "The attribute "is_reference_line_updated_" in ReferenceLineProvider can't be recovered to be true once set false"
**Describe the bug**
The attribute "is_reference_line_updated_" in ReferenceLineProvider could not be recovered to be true once CreateReferenceLine(&reference_lines, &segments) went wrong, which result in the problem that I had to restart planning whenever something went wrong when running simulation. I am not sure it's intended to be this way or a bug.

[2020-06-11 05:57] AMDxb548 opened #11431 "How to use custom maps in Apollo ?"
Hi,
I am trying to use Apollo for Dubai location map. I have downloaded the single lane road map from LSGVL and gave it as input for Apollo but it says default_end_way_points.txt file is missing. How can I use Apollo to test a small region in Dubai ? How can I create the required files in Apollo format, if I use Openstreet maps ? Please help.

[2020-06-11 08:43] zhadov commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: mzh@avtodoria.ru

[2020-06-11 08:56] ymhzzz opened #11436 "dreamview 不显示地图"
别的功能模块都正常，就是不显示地图，还有我的没有routing模块
![dreamview地图](https://user-images.githubusercontent.com/51348462/84366018-dadd3c00-ac04-11ea-8973-880a7a597a36.png)

[2020-06-11 11:19] Martin20 commented on #11399
Thanks @daohu527

[2020-06-11 12:17] daohu527 commented on #11436
Your GPS is invalid and the car cannot be located correctly. Therefore, the map will not be displayed.

[2020-06-11 12:45] DaChaoXc commented on #7972
because，/usr/lib/x86_64-linux-gnu/libcaffe.so don't have the layer，you should add the layer needed and make the caffe again，after that cp the new libcaffe.so into the path:/usr/lib/x86_64-linux-gnu/. @ xiongcaihua

[2020-06-11 12:58] Avps1 opened #11440 "Apollo Perception module does not work properly without DreamView running in the background"
Hi,
We are trying to run stand-alone perception module following the docs :
https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_run_perception_module_on_your_local_computer.md.

But we observed that the Perception module cannot send messages properly **_without DreamView running in the background._** .
My question is this : **_Is there a way to make the Perception module run success

[2020-06-11 13:19] DaChaoXc opened #11441 "obstacle perpection use yolov3?"
when i want to deploy yolov3.prototxt, i read the file  named caffe.pt,  i don't under stand why the head of yolo-3d written like this, code as blew:
layer {
  name: "slice"
  type: "Slice"
  bottom: "conv_final_permute"
  top: "loc_pred"
  top: "obj_perm"
  top: "cls_perm"
  slice_param {
    slice_point: 64
    slice_point: 80
    axis: 3
  }
}
layer {
  name: "**cls_reshape**"
  type: "Reshape"

[2020-06-11 17:03] tangcy98 commented on #11363
I've met the same problem and I'll try the solution here. Let's see what will happen.

[2020-06-11 17:35] jimmyw404 commented on #5969
@guoweiwan  @natashadsouza Hello. I am also curious about this question. I am researching ADS framework options and a closed source system for a critical module like localization is very troublesome to me.

Is there a plan to open source the MSF localization component?

[2020-06-11 17:53] Avps1 commented on #11388
Hi, I have the same query - I could not find any command similar to rostopic pub in CyberRT. I want to publish some messages to the topic /apollo/perception/obstacles

[2020-06-12 00:45] ymhzzz commented on #11436
![dream](https://user-images.githubusercontent.com/51348462/84452578-c3e02d80-ac88-11ea-8271-f56f210cd31d.png)
但是我在网上看其他人的，虽然右下角会报错，但也会显示地图啊
这是博客地址：https://blog.csdn.net/davidhopper/article/details/85097502#commentBox

[2020-06-12 01:44] rongguodong commented on #11423
modules/contrib/lgsvl_msgs/proto already has a BUILD file in it, why do you need to regenerate a new one?
I tested that the existing BUILD file works well. So if you really need to generate a new BUILD file to replace the current one, as long as the new BUILD file generates exactly the same result as the current one, it should works fine with LGSVL Simulator.

[2020-06-12 03:07] lh315936716 commented on #11436
上面mode-navigation 换一个

[2020-06-12 04:25] ymhzzz commented on #11436
非常感谢！！！加载出了地图  走了一次 但就一次  可能是我电脑太卡了？

[2020-06-12 07:02] Addi2020 opened #11450 "The car can not follow the planning trajectory or navigation path? how to solve it?"
The car can not follow the navigation path. what can be the problem?
I try to solve it by tuning MPC controller but not succeed. It is due to planning input or control steady state error.
the picture shows the car position and planing path.
![Screenshot from 2020-06-12 15-01-23](https://user-images.githubusercontent.com/61130487/84474772-02dca600-acbe-11ea-838b-114f3845264d.png)

[2020-06-12 07:42] singhgridecell opened #11451 "Apollo sensor calibration"
Does Baidu offer Apollo extrinsic calibration service for camera-lidar, lidar-lidar and camera-radar calibration?
There are some directions for calibration here - https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md. Are the tools referred to here maintained actively? We had some issues using the calibration executables referred to in this documen

[2020-06-12 14:55] mertmerci opened #11454 "Dependency of the Perception Module on DreamView"
I want to run the Perception Module as standalone as it's possible and I want to learn the dependency of this module with DreamView. Is DreamView a must or may I another platform instead of it?

Thank you in advance.

[2020-06-12 17:16] surunbing opened #11455 "Control: MPC feed forward compenestaion question"
Dear Sir,

In Apollo MPC control code,  steer feedforward_compensation seems to be  calculated according to unconstrained_control and lqr feedforward value, but why unconstrained_control is calculated as below:

for (int i = 0; i < basic_state_size_; ++i) {
    unconstrained_control += control_gain[0](0, i) * matrix_state_(i, 0);
  }
  unconstrained_control += addition_gain[0](0, 0) * v * debug->c

[2020-06-13 04:35] rongguodong opened #11457 "Latest Apollo master does not work"
**Describe the bug**
I pulled latest Apollo master today, and build it successfully. But when I run bootstrap.sh or use cyber_launch to launch modules, it complained "mainboard" cannot be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone or pull latest master
2. Enter Apollo docker (via dev_start and dev_into)
3. Run apollo.sh build_opt_gpu
4. Run bootstrap.sh or use cyber_launch

[2020-06-13 04:39] lemketron commented on #11457
I think the problem may be in this [change](https://github.com/ApolloAuto/apollo/commit/248df0e89d83c4d41308221895856def81ac8d25#diff-02c58c0f5b8de7c08afa911baca04986L3) to setup.bash

[2020-06-13 05:58] lemketron commented on #11457
This change fixes the problem in master by adding bazel-bin/cyber back into the PATH:
[code]

[2020-06-13 14:02] #11457 closed

[2020-06-13 14:20] storypku commented on #11423
Good question. In fact, we regenerate BUILD file for `proto` files/directories for a good reason: A uniform naming scheme for proto-related targets, and maximize parallelism in the build process using latest Bazel versions.

Code snippet from `scripts/proto_build_generator.py`:

[code]

By this convention,  a proto file named `abc.proto` will have `abc_proto` as its `proto_library` target, `abc_py

[2020-06-13 17:56] yukitsuji opened #11460 "[Question and Bug?] About GNSS driver (raw_stream.cc)"
I am currently reading the code of a GNSS driver and have a question.
Why is the output of `data_stream_` (raw data from GNSS) written into `in_rtk_stream_`?
Since the data from base stations (`rtk_from`) is written into `in_rtk_stream_` for the GNSS device (`out_rtk_stream_`, `rtk_to`), I think there is no need to write the data from `data_stream_` into `in_rtk_stream_`
https://github.com/ApolloA

[2020-06-14 09:47] AlexKaravaev opened #11461 "Can not build PCL in apollo docker"
I have a pc, that apparently does not support FMA/FMA3 instructuions, hence I can not launch dreamview(https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_debug_dreamview_start_problem.md).

#9081 Suggests to build new pcl library, but I just can not not build it, because cmake can not find boost libraries. Below the error of cmake.
[code]

In #9081 somebody proposed to update cmake

[2020-06-15 01:10] rongguodong commented on #11423
If it is just name changing for build targets, it sounds no hurt. Do you see this change causing any problems of LGSVL Simulator?

[2020-06-15 02:57] storypku commented on #11461
So, the branch used is r5.0.0 ?

[2020-06-15 03:33] rrenjie commented on #11357
@daohu527
When running simcontrol (perfect control), I wish the simulation could be paused by clicking a button on dreamview (and restored by clicking the button again). Besides the pause function, it would be better if there is a step-over function such that I can run the simulation step by step.

[2020-06-15 04:54] storypku commented on #11461
Tested on the r5.0.0 branch,  pcl 1.7.2 can successfully be built.  The Boost library used is 1.54, installed via `sudo apt-get -y install libboost-all-dev`.

[2020-06-15 05:10] #11460 closed

[2020-06-15 08:25] #11398 closed

[2020-06-15 20:46] JAckLosingHeart opened #11465 "There might be a typo in lossless_map_matrix.cc"
Hi,
When I look through the source code regarding generating point cloud maps, I find there might be a typo in [lossless_map_matrix.cc#Line55](https://github.com/lgsvl/apollo-5.0/blob/56b1c0b2ca241eb2d9e5adc45dd903942e614fe1/modules/localization/msf/local_map/lossless_map/lossless_map_matrix.cc#L55) where the new intensity variance might not be computed correctly. I think a pair of parentheses nee

[2020-06-16 00:55] daohu527 commented on #11357
@rrenjie I will take a look at it

[2020-06-16 01:22] GuoliangPeng opened #11466 "dreamview not show maps and vehicles"
### System information

- **OS Platform and Distribution  Linux Ubuntu 18.04)**
- **Apollo installed from git clone**
- **Apollo version 5.5**

### Steps to reproduce the issue:
Every time I open dreamiew, the map and vehicle display are missing。
run shell show
![4](https://user-images.githubusercontent.com/7499423/84721389-269c3680-afb3-11ea-9f1f-151bbab96489.png)

after run script/bootstrap, ope

[2020-06-16 01:44] daohu527 commented on #11418
## Additional
1. Actually, just **"Velodyne64" and "Velodyne128" have set the "lidar_timestamp"**. But "Velodyne32" and "Velodyne16" not.

https://github.com/ApolloAuto/apollo/blob/ae8739c7b34c575d61bf80e77479ab18e7dad837/modules/drivers/velodyne/parser/velodyne64_parser.cc#L194

https://github.com/ApolloAuto/apollo/blob/ae8739c7b34c575d61bf80e77479ab18e7dad837/modules/drivers/velodyne/parser/velo

[2020-06-16 03:11] Allenhe123 opened #11467 "FPS drop when using cyberRT!"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
Linux x64, ARM V8
- **Apollo installed from (source or binary)**:
source
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**:
V5.0

### issue scenario:
In a simple pipeline scene, FPS will reduce 3 frames or more after using cyberrt.
Pipeline programming paradigm: three threads notify each other through conditional va

[2020-06-16 08:27] cxr1996 opened #11469 "lidar_perception can't work in 5.0.0"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution ( Ubuntu 14.04):
- **Apollo installed from (source):
- **Apollo version (5.0)

[2020-06-16 08:59] yumianhuli2 opened #11470 "About dockerfile"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-06-16 09:27] daohu527 commented on #11470
## dockerfile
apollo\docker\build\dev.x86_64.dockerfile

## build
[docker](https://github.com/ApolloAuto/apollo/blob/d494f79026817231db5e85c77461be92fe415706/docker/build/README.md)

[2020-06-16 09:48] daohu527 commented on #11467
Cyber rt uses coroutines to handle tasks, and it already use data pointers instead of copy memory to pass data.
In your scenario, are all three threads running in one CPU core? can you introduce the process in detail?

[2020-06-16 13:59] yumianhuli2 commented on #11470
very nice！Thank you！

[2020-06-16 18:57] machar94 opened #11473 "ndt_lidar_locator_test failed (Exit 4)"
### System information
Host: Windows 10
VM: Ubuntu 18.04 LTS
Apollo Version: 5.5

### Steps to reproduce
Trying to build apollo using VS Code. After running `ctrl + shift + b` I run into the following issue with the ndt localization test failing to compile. Exact error is below:
[code]

### Supporting materials
![ndt_lidar_locator_test_failed](https://user-images.githubusercontent.com/4420650/8481

[2020-06-17 00:16] yumianhuli2 opened #11476 "About CyberRT"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**:
- **Apollo installed from (source or binary)**:

[2020-06-17 00:19] daohu527 commented on #11473
## suggestion
This maybe **your memory is lack**, If you are running on a virtual machine, you can try to increase the memory to **8G or more**.

[2020-06-17 01:42] storypku commented on #11476
Just follow the steps how a cyber docker image is built, and you can setup CyberRT environment without docker.  The `docker_dev` branch currently maintains full-blown CyberRT docker image support. See https://github.com/ApolloAuto/apollo/tree/docker_dev/docker/build

CyberRT examples can be found in the `cyber/examples` directory.

[2020-06-17 01:43] #11470 closed

[2020-06-17 05:48] storypku commented on #11404
The link to `apollocache.blob.core.windows.net` seems to be broken. :-(

[2020-06-17 06:52] AlexandrZabolotny opened #11483 "msf_simple_map_creator failed"
Hello

### System information

- **OS Platform and Distribution (Linux Ubuntu 18.04)**:
- **Apollo installed from (source)**:
- **Apollo version (5.5.0)**:

Then I run in docker
bash ./scripts/msf_simple_map_creator.sh ./map/records/ ./modules/localization/msf/params/velodyne_params/velodyne64_novatel_extrinsics_example.yaml 10 ./map/

I see this

root@in_dev_docker:/apollo# bash ./scripts/msf_sim

[2020-06-17 07:09] Allenhe123 commented on #11467
thanks a lot for your reply.
In fact the threads num is 2, both 2 threads were assigned to the same CPU core.

Let me put some Pseudocode below:
the work process is: decode --> inference --> parse result ---> render the result to  screen.
1). The sample pipeline appliation:
main thread logic:

auto fut = std::async(post_process);
read the video file from disk
while(1) {
      send  frame data to t

[2020-06-17 07:19] Allenhe123 commented on #11467
PS: We run both the two application on ARM V8, we assigned the threads to a A76 Arm Core.

[2020-06-17 07:40] HubFire opened #11484 "P is not upper triangular matrix"
https://github.com/ApolloAuto/apollo/blob/482e68bbe1dcb9ef7a42ab8d6684b9681866d535/modules/planning/math/piecewise_jerk/piecewise_jerk_speed_problem.cc#L101

[2020-06-17 07:54] HubFire commented on #11484
When I  chang this  line to:
`
        columns[2 * n + i + 1].emplace_back(2 * n + i, -2.0 * jerk_weight / delta_s_square /
                                                (scale_factor_[2] * scale_factor_[2]));
`
The OSQP  solver will be non-convex。
I  use  default  config：
`
message PiecewiseJerkSpeedConfig {
  optional double acc_weight = 1 [default = 1.0];
  optional double jerk_weight = 2 [de

[2020-06-17 09:10] markofan opened #11485 "bazel .cc failed!"
when I run this code,
sudo bazel run //modules/perception/camera/tools/offline:offline_obstacle_pipeline
something went wrong！how to solve this problem?
ERROR: (06-17 09:03:17.729) /apollo/modules/perception/camera/tools/offline/BUILD:40:1: Linking of rule '//modules/perception/camera/tools/offline:offline_obstacle_pipeline' failed (Exit 1).
/usr/bin/ld: warning: libmkldnn.so.0, needed by bazel-ou

[2020-06-17 10:27] zerolover opened #11487 "Error in GridSearch::CheckConstraints"
In function `GridSearch::CheckConstraints`, it checked a grid for collisions by distance to line:

https://github.com/ApolloAuto/apollo/blob/482e68bbe1dcb9ef7a42ab8d6684b9681866d535/modules/planning/open_space/coarse_trajectory_generator/grid_search.cc#L50

However the `Vec2d(node->GetGridX(), node->GetGridY())` is the coordinates of a node in grid map, which is mismatched with the units of the li

[2020-06-17 11:51] AlexandrZabolotny opened #11490 "Which are the open source modules"
Hello

**Which are the open source modules?**
**And which modules are proprietary?**

[2020-06-17 13:33] uidj1438 opened #11494 "What to modify for GNSS receiver Ethernet connection?"
Hello,

I already have Apollo running successfully with the recommended system design, and the Novatel GNSS+IMU connected via USB to the PC.  If I want to use an Ethernet connection instead of USB, which files do I need to modify and how?  I have tried changing only the physical connection from USB to Ethernet and launching Apollo, but this results in no GNSS data in cyber monitor.

Thank you.

[2020-06-17 13:48] storypku commented on #11490
The who Apollo project is open source under the Apache 2.0 License. Third-party modules (e.g. `esdcan`) may have their own license, whether it be open source or proprietary.

[2020-06-17 15:42] machar94 commented on #11473
Cannot confirm if that was the issue, but was able to change my dev environment to an Ubuntu 18.04 machine which has 32GB and I was able to build successfully.

[2020-06-17 15:42] #11473 closed

[2020-06-17 17:16] unacao commented on #11466
you are in navigation mode, please use the dropdown list to select "Mkz Standard Debug" mode

[2020-06-17 17:18] unacao commented on #11454
You can run perception module with command line. Dreamview is a standalone visualization tool, not coupled with perception module.

[2020-06-17 18:36] HongyiSun commented on #10031
as the features are in a reverse order, where the current feature is `feature(0)`, while the last frame feature should be `feature(1)`.

[2020-06-17 18:36] #10031 closed

[2020-06-17 18:37] #11490 closed

[2020-06-17 19:03] Capri2014 commented on #11396
yes you can, just needs to assign different channel id.  for instance, in Apollo we assign Vehicle Chassis as channel zero and Radar input as channel one.

[2020-06-17 19:03] #11396 closed

[2020-06-17 19:05] sjiang2018 commented on #11430
Hello there. This design is intended. "is_reference_line_updated_" can only be reseted to true when planning module is restarted.  In Apollo, reference line is supposed to be updated at a regular frequency.  When "is_reference_line_updated_" is set to false, it means something unexpected happened. (To be more specific, this value is set to 'false', when ego car location is far from routing and pla

[2020-06-17 19:25] jinghaomiao commented on #11494
You might have to modify the driver to read data from ethernet port instead of USB. GNSS driver is here: https://github.com/ApolloAuto/apollo/tree/master/modules/drivers/gnss

Please feel free to reopen the issue if you have other questions. Thanks for using Apollo.

[2020-06-17 19:25] #11494 closed

[2020-06-17 19:26] jinghaomiao commented on #11421
Thanks for your interests in Apollo. Currently we don't have any plan to provide training script for all models included in the repo. Please feel free to open issues if you have other questions.

[2020-06-17 19:26] #11421 closed

[2020-06-17 19:50] #10622 closed

[2020-06-17 20:19] unacao commented on #10665
Did the suggestion above solve your question? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-17 20:19] #10665 closed

[2020-06-17 20:20] unacao commented on #10680
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-17 20:20] #10680 closed

[2020-06-17 20:31] unacao commented on #10700
@rongguodong any comments from your side?

[2020-06-17 20:37] rongguodong commented on #10700
What is the error here? Perception module cannot be started? If you click "Perception" in Dreamview and it automatically goes back to grey, you can try to launch it manually using cyber_launch. It should show more error message in the console.

[2020-06-17 20:42] jinghaomiao commented on #11431
Put your own map folder within https://github.com/ApolloAuto/apollo/tree/master/modules/map/data, and make sure that your map follows Apollo map format with the fixed map file names in the folder.

[2020-06-17 20:55] unacao commented on #10722
protobuf message simulation_world.proto is retrieved by frontend via websocket https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/backend/simulation_world/simulation_world_updater.cc#L162

[2020-06-17 20:58] #10736 closed

[2020-06-17 21:00] unacao commented on #10741
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-17 21:00] #10741 closed

[2020-06-17 21:57] #10771 closed

[2020-06-17 21:58] unacao commented on #10784
Did the suggestion above solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-17 21:58] #10784 closed

[2020-06-18 01:46] storypku commented on #11485
Which branch are you running this build on ?

[2020-06-18 01:48] GuoliangPeng commented on #11466
i did try,but still errors
![7](https://user-images.githubusercontent.com/7499423/84968230-97c12280-b148-11ea-991c-7496bd7781ee.png)
![6](https://user-images.githubusercontent.com/7499423/84968255-a3ace480-b148-11ea-9514-d2e871f66179.png)
I am ready to try the latest code from the clone clone, but it is difficult to download in China

[2020-06-18 02:39] markofan commented on #11485
just in the docker /apollo folder
username@in_dev_docker:/apollo$ sudo bazel test //modules/perception/camera/tools/offline:offline_obstacle_pipeline
I haven't installed paddle yet, maybe this is the reason that bazel failed?

[2020-06-18 03:17] unacao commented on #11466
Can you screenshot how your Layer Menu look like?

[2020-06-18 06:04] rimu123 opened #11499 "how can I debug a Dreamview demo in vscode?"
I can run a Dreamview demo <demo_3.5.record>, but I can't enable SimControl, so I can't find the planning process.how can I debug a Dreamview demo in vscode?

[2020-06-18 06:38] GuoliangPeng commented on #11466
![8](https://user-images.githubusercontent.com/7499423/84986531-4aa57680-b171-11ea-919a-28ad1275d1ce.png)

[2020-06-18 06:51] Dubai-Technologies commented on #11431
Hi @jinghaomiao
How can I get the apollo map format ? If you have please share the same.

[2020-06-18 08:17] vkaser commented on #11396
Thank you. But in this case I need to add another directory (eg. canbus2), but I want to use two can interfaces for one vehicle.

[2020-06-18 08:19] storypku commented on #11485
paddle was not installed, it was a volume mounted when running `dev_start.sh`.
Again, can you plz tell me the git branch you are currently on?

[2020-06-18 11:40] markofan commented on #11485
Sorry, I don't know how to find out the "git branch"
Can you help me? Thanks a lot!

[2020-06-18 17:43] #11399 closed

[2020-06-18 17:46] #11333 closed

[2020-06-18 17:50] unacao commented on #11328
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 17:50] #11328 closed

[2020-06-18 17:51] unacao commented on #11219
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 17:51] #11219 closed

[2020-06-18 17:54] unacao commented on #11177
I think you are referring to another Apollo project https://github.com/apollographql/apollo-client

[2020-06-18 17:54] #11177 closed

[2020-06-18 18:03] #11161 closed

[2020-06-18 18:04] unacao commented on #11133
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:04] #11133 closed

[2020-06-18 18:07] #11083 closed

[2020-06-18 18:10] unacao commented on #11070
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:10] #11070 closed

[2020-06-18 18:22] unacao commented on #11052
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:22] #11052 closed

[2020-06-18 18:23] unacao commented on #10959
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:23] #10959 closed

[2020-06-18 18:24] #10957 closed

[2020-06-18 18:29] unacao commented on #10932
solved in #10968

[2020-06-18 18:29] #10932 closed

[2020-06-18 18:40] vlin17 commented on #11466
1. May we know which browser you are using?
2. Can you open browser console to see if there's any error messages (Control+Shift+J for Chrome on Linux system) ?
3. Can you visit this [website](https://webglreport.com/) and see if your computer has the support for both WebGL 1 and WebGL 2?

[2020-06-18 18:41] unacao commented on #10873
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:41] #10873 closed

[2020-06-18 18:43] unacao commented on #10855
https://github.com/ApolloAuto/apollo/releases/download/v2.5.0/demo_2.5.bag this rosbag may contain sensor data, but it is in ros format.

[2020-06-18 18:43] unacao commented on #11061
https://github.com/ApolloAuto/apollo/releases/download/v2.5.0/demo_2.5.bag this rosbag may contain sensor data, but it is in ros format.

[2020-06-18 18:43] vlin17 commented on #11499
What do you mean you can't enable SimControl? Any error messages shown?
In addition, playing back demo record doesn't need to enable SimControl or planning module. May we know what you are trying to achieve?

[2020-06-18 18:47] vlin17 commented on #11436
hi @ymhzzz, seems like your problem has been resolved. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-06-18 18:47] #11436 closed

[2020-06-18 18:52] unacao commented on #10824
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 18:52] #10824 closed

[2020-06-18 18:56] vlin17 commented on #11376
Hi @liukr001 ,

1. May we know how much is more and more?
2. May we assume Dreamview displays is smooth when playing less data?
3. Can you screenshot your Dreamview?
4. Can you visit this website and see if your computer has the support for both WebGL 1 and WebGL 2?

[2020-06-18 19:03] unacao commented on #10821
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 19:03] #10821 closed

[2020-06-18 19:06] unacao commented on #10819
Please check if any documents here can help https://github.com/ApolloAuto/apollo/tree/master/docs/howto

[2020-06-18 19:07] unacao commented on #10818
Do you mind submitting a pull request for the fix you suggest?

[2020-06-18 19:21] unacao commented on #10585
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 19:21] #10585 closed

[2020-06-18 19:23] jinghaomiao commented on #10806
Thanks for using Apollo. Apollo does not provide a tool to generate HD map. If you need map service, please contact Baidu (IDG-apollo@baidu.com) if you are in China or our partner in the US (e.g. Carmera https://www.carmera.com).

[2020-06-18 19:23] #10806 closed

[2020-06-18 19:26] jinghaomiao commented on #11431
@Dubai-Technologies Apollo map uses proto and the definitions are in https://github.com/ApolloAuto/apollo/tree/master/modules/map/proto

[2020-06-18 20:10] unacao commented on #10538
See if this is what you need https://github.com/ApolloAuto/apollo/blob/bf2b3730835fd5a98f91a5fb00f9d82ef750be9d/docs/cyber/CyberRT_Developer_Tools.md#cyber_monitor

[2020-06-18 20:12] unacao commented on #10502
did you build it with command "./apollo.sh build"?

[2020-06-18 20:13] unacao commented on #10495
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 20:13] #10495 closed

[2020-06-18 20:15] unacao commented on #10378
It looks like your issue is resolve. We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 20:15] #10378 closed

[2020-06-18 20:17] unacao commented on #10363
It looks like your issue is resolved. We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 20:17] #10363 closed

[2020-06-18 20:18] unacao commented on #10360
Did the suggestion above help solve your issue? We will close the issue for now. If you have any additional question, please feel free to open a new issue.

[2020-06-18 20:18] #10360 closed

[2020-06-18 21:25] yifeijiang commented on #11450
Can you provide more details for the setups? Is this case for running Apollo on a real vehicle? Apollo version? Using default planning algorithm? Did you try the default control algorithm instead of MPC one?

Can you also provide more details for the issue itself? E.g., How did the vehicle behave when it "can not follow the navigation path"?

[2020-06-18 22:02] sjiang2018 commented on #11342
Hello, there! The short answer to this question is "yes, it's possible".
1. Filter out the control channel using cyber (https://github.com/ApolloAuto/apollo/blob/master/docs/cyber/CyberRT_Developer_Tools.md).
2. Play the filtered record  with cyber_recorder and you may monitor it with dream view.
3. Start control module on dream view front-end. Now you are using the controller with the parameters

[2020-06-18 23:39] xiaoxq commented on #11349
Yeah, the adapter_manager was retired in v3.5 while the planning_stats tool was missed to be cleaned up until v5.5. Sorry for the trouble.

[2020-06-18 23:39] #11349 closed

[2020-06-18 23:56] Avps1 commented on #10932
@unacao Hi, Could you please look into #10968 ? Its a bug and it hasnt been resolved yet.

[2020-06-19 00:32] GuoliangPeng commented on #11466
i use Google Chrome（version: 77.0.3865.120).
browser console show errors：
![10](https://user-images.githubusercontent.com/7499423/85084145-8a6a6d80-b206-11ea-83bb-2f5a94d4e3c5.png)
![11](https://user-images.githubusercontent.com/7499423/85084159-99512000-b206-11ea-8513-80d65d3d6cc3.png)
I think my browser supports WebGL 1 and 2
![image](https://user-images.githubusercontent.com/7499423/85084318-06

[2020-06-19 02:02] rimu123 commented on #11499
reference to [https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_build_and_debug_using_vscode.md](url)
I want to debug a demo remotely using vscode. According to the above link, I need to find the planning process in the process list, which is the binary file I need to debug. But I cannot find him. So I doubt if I cannot enable SimControl, like this:
![404972697998510432](https://u

[2020-06-19 02:17] lx18233184051 commented on #11485
please use git status in your apollo project. it will tell you which branch you are on.

[2020-06-19 03:08] XuehuanYang commented on #10873
Dear Sir/Madam,

Solved with thanks.

Warmest Regards,
Yang Xuehuan (Mr)

On Fri, Jun 19, 2020 at 2:42 AM unacao <notifications@github.com> wrote:

[2020-06-19 05:44] GuoliangPeng commented on #11466
Today, I pulled the project from the repos again and it is running normally. The dreamview   show correctly

[2020-06-19 06:05] #11466 closed

[2020-06-19 06:53] panfengsu commented on #11469
you need to ensure LidarObstacleSegmentation model_configs is in /apollo/modules/perception/production/conf/perception/lidar/modules/lidar_obstacle_pipeline.config

[2020-06-19 08:03] chasingw commented on #11116
it seems not use intensity https://github.com/ApolloAuto/apollo/blob/51c73d32deda3f79807f482313a0d4461eee8679/modules/perception/lidar/lib/detection/lidar_point_pillars/point_pillars_detection.cc#L137-L151

[2020-06-19 08:15] storypku commented on #11485
Maybe you are using a release version ?  Do you have any ideas, Xiangquan @xiaoxq ?

[2020-06-19 08:16] chasingw commented on #11116
it seems not use intensity in `point_pillars_detection.cc`
https://github.com/ApolloAuto/apollo/blob/51c73d32deda3f79807f482313a0d4461eee8679/modules/perception/lidar/lib/detection/lidar_point_pillars/point_pillars_detection.cc#L137-L151
but in test code, it use intensity and norm to [0,1]
https://github.com/ApolloAuto/apollo/blob/51c73d32deda3f79807f482313a0d4461eee8679/modules/perception/lidar/l

[2020-06-19 09:25] jeroldchen commented on #11116
@WSTao  It's a right-hand coordinate system setting lidar sensor as the origin. Positive x-axis points to the front of the car, positive y-axis to the left and positive z-axis to the top. Intensity range of the raw point cloud from lidar sensor is [0, 255], but in the preprocessing, the range is normalized to [0, 1].

[2020-06-19 10:02] chasingw commented on #11116
@jeroldchen hello, why in point_pillars_detection.cc, it seems not use intensity but use delta of timestamp which is 0 if kFuseFrames = false

[2020-06-19 10:45] jeroldchen commented on #11116
@chasingw Hi, we will update the models to include intensity in input very soon. Unit test will also be updated. Thank you for following.

[2020-06-19 12:15] liukr001 commented on #11376
1、First, the recording distance is about 1km (about 30,000 lines of data in the garage.csv file).&nbsp;
&nbsp; &nbsp; &nbsp;Then use these data for tracking demonstration, dreamviw will become stuck.&nbsp;
&nbsp; &nbsp; &nbsp; The vehicle will only drive at the lowest speed and will not accelerate or decelerate.

2、Yes, when the data in the garage.csv file becomes smaller, Dreamview does not have

[2020-06-19 12:29] chasingw commented on #11116
@jeroldchen thanks for yout quick reply

[2020-06-19 12:31] machar94 commented on #11499
Sim Control might be enabled if you try shifting Lock Task Panel to the other side?

[2020-06-19 13:24] AlexandrZabolotny opened #11508 "error install pcl in docker"
Hello

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **Apollo installed from (source )**:
- **Apollo version (5.5.0)**:

When I run in docker
bash ./docker/build/installers/install_pcl.sh

I see this error

CMake Error at /usr/share/cmake-3.10/Modules/FindBoost.cmake:1947 (message):
  Unable to find the requested Boost libraries.

  Boost version: 1.65.1

[2020-06-19 13:48] rimu123 commented on #11499
It does not respond. I want to know whether it must be running on the hardware platform to debug, or any demo would do？

[2020-06-19 17:09] unacao commented on #11508
did you try the solution in #11461 ?

[2020-06-19 18:37] XuehuanYang opened #11510 "Perception LiDAR Static Obstacle Missing"
**Describe the bug**
I implemented LGSVL-2020-03 simulation with Apollo-5.0 platform and launch LiDAR perception module. The static object car was missing in the Apollo dream-view platform.

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Apollo-5.0
 - LGSVL-2020-03
 - Browser: Google Chrome
 - Map: BorregasAve
 - Vehicle: Lincoln2017MKZ (Apollo 5.0)

**To Reproduce

[2020-06-19 18:42] XuehuanYang opened #11511 "Perception LiDAR Same Obstacle with Different Shapes"
Describe the bug
I implemented LGSVL-2020-03 simulation with Apollo-5.0 platform and launch LiDAR perception module. The perception module shows us the same obstacle with different shapes with static motion.

Desktop (please complete the following information):

OS: Ubuntu 18.04
Apollo-5.0
LGSVL-2020-03
Browser: Google Chrome
Map: BorregasAve
Vehicle: Lincoln2017MKZ (Apollo 5.0)

To Reproduce
Step

[2020-06-19 19:08] miewan commented on #11349
Is this the same for terminal.cc in the tools module too? Because it’s also
use adapter_manager

On Thu, Jun 18, 2020 at 6:39 PM Xiangquan Xiao <notifications@github.com>
wrote:

[2020-06-19 19:08] kevin-y-wang commented on #11455
**Answer of your question (1) :**
In Apollo MPC control, the target is to solve the optimization problem with the optimal feedback control u* as follows:
optimal feedback control u* = arg min (X - X_ref)^T * Q * (X - X_ref) + u^T * R *u
which can be transfer to a QP problem and eventually the solution will be generated in the form as:
u* = M *AA * X + M* CC * Vx * curvature
(where, the details of

[2020-06-19 19:43] jinghaomiao commented on #11451
The tool only works in Apollo 2.0 and won't work in later releases of Apollo. Thanks for your interests in Apollo.

[2020-06-19 20:00] jmtao commented on #10537
@histfuture good catch. it was fixed.
thanks for supporting Apollo!

[2020-06-19 20:00] #10537 closed

[2020-06-19 20:02] jmtao commented on #11132
@Sheldon-Zhou1997 can you clarify/elaborate what you mean by protocol?

[2020-06-19 20:07] jmtao commented on #11268
@salmanee this tests are written to run planning end-to-end of one frame.  We use these test case to make sure planning's output is fixed and determined based on the same set of input.
Because there's only one frame (for each test), you can say it's static.
If you want to observe dynamic behavior, you can do it in Dreamview. You need to set up the scenario you want to test,  routing, obstacles and

[2020-06-19 20:08] jmtao commented on #11393
Hi @ManXiaoMi , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-06-19 20:08] #11393 closed

[2020-06-19 23:33] rongguodong commented on #11317
In fact, I see Apollo has three time modes: SYSTEM, MOCK, and CYBER, and MOCK mode is for testing purpose. So it would be better to add a global flag in Cyber to have Cyber use simulation time.
In the current implementation, Cyber always returns system time. So the SYSTEM mode and CYBER mode in Apollo are always the same.
ROS has similar ability: it can use simulation time from /clock topic if the

[2020-06-20 00:34] xiaoxq commented on #10797
Nice catch! It's fixed in https://github.com/ApolloAuto/apollo/commit/29e6f4701644f0394c3d18618d6c1217427c262f#diff-a35a54c341e62dcb4f2d520b9c9b5e33 . Thank you!

[2020-06-20 00:34] #10797 closed

[2020-06-20 03:34] storypku commented on #11404
If your purpose is to build and install pcl on arm64, maybe you can follow the steps on the x86_64 platform, as specified in https://github.com/ApolloAuto/apollo/blob/docker_dev/docker/build/installers/install_pcl.sh

[2020-06-20 03:50] jilinzhou commented on #11440
Do you have localization running? For lidar part, the error complains about the missing transforms from world to novatel.

[2020-06-20 04:00] jilinzhou commented on #11179
1. The control period can be easily changed in the config file for either lateral controller or longitudinal controller.
2. Take a look of source code of LGSVL about how steering cmd is parsed out and how they are actually applied to the simulation model. It might help the debugging.

[2020-06-20 16:17] miewan commented on #11349
Is this the same for terminal.cc in the tools module too? Because it’s also use adapter_manager

[2020-06-21 07:40] baofuwu opened #11519 "How can I build rosbag_to_record with bazel?"
I want to use rosbag_to_record in apollo.

### System information

Linux Ubuntu 18.04, Jetson AGX Xavier(aarch64 base)
Apollo installed from docker
Apollo version r5.5.0

### Steps to reproduce the issue:
Clone or pull the latest master
Enter Apollo docker with non-root user (via cyber_start and cyber_into)
Because qt is not installed on the system, ./apollo.sh build_cyber shows qt errors.
so I  c

[2020-06-21 09:12] storypku commented on #11519
A temporary workaround:

Try replace WORKSPACE.in#L65 with
[code]
bazel build //modules/data/tools/...
[code]

[2020-06-21 09:32] baofuwu commented on #11519
bazel build //modules/data/tools/...

Thanks you, Dalao!
But a new error shows that:

mist@in_cyber_docker:/apollo$ bazel build //modules/data/tools/...
INFO: Reading 'startup' options from /apollo/tools/bazel.rc: --batch_cpu_scheduling --host_jvm_args=-XX:-UseParallelGC --output_user_root=/apollo/.cache/bazel
ERROR: (06-21 09:27:18.719) /apollo/modules/common/math/BUILD:210:1: no such package '@e

[2020-06-21 10:08] storypku commented on #11519
untar /home/tmp/eigen, and show me the folder created.

[2020-06-21 10:24] baofuwu commented on #11519
The folder created is "eigen-eigen-b9cd8366d4e8",and I put it in the path: /apollo

[2020-06-21 10:38] storypku commented on #11519
use it to change the `strip_prefix` value in https://github.com/ApolloAuto/apollo/blob/master/WORKSPACE.in#L67

[2020-06-22 01:13] Addi2020 commented on #11450
Apollo 3.5.0
Real Car
default planning
I used default control, try to tune LQR control for steer control but not find the parameter that is use to control steer, Then I use MPC control.
The issue was path following, the car moves in a zigzag motion, cant be stable on straight line but,
After tuning MPC control lateral error and heading error is minimized then the trajectory or path following probl

[2020-06-22 01:13] #11450 closed

[2020-06-22 01:16] #11244 closed

[2020-06-22 01:20] Addi2020 commented on #11342
Thank you for response.
I did it the same way you explained . I can use the recorded file for control tuning and add log to debug lateral error, heading error, speed error, then try to minimize these error by tuning control parameters. Then apply it on real car and it works..

[2020-06-22 01:20] #11342 closed

[2020-06-22 01:25] Addi2020 commented on #11252
i try to tune matrix_q of LQR control for steer control, but i did not find parameters that can remove the heading error and lateral error , so the car can not move in straight path.
I use MPC control and start tuning on real car which can control the steer and car move in straight path but with low speed.

[2020-06-22 03:07] jeroldchen commented on #11116
Hi @WSTao , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-06-22 03:07] #11116 closed

[2020-06-22 03:51] cxr1996 opened #11520 "cyber_visualizer can't see point cloud,but the channel has data"
### System information

-Ubuntu 14.04
-  binary:
- Apollo5.0.0:

I used apollo5.0.0, a single VLP-16 lidar, and there was data in the channel when Connected, but only a white spot could be seen by using Cyber_Visualizer. My OpengL version was 3.0, and the host and Docker had installed NVIDIA driver (No OpengL-files). Some people said that the version of OEPNGL was too low, but when I installed NVI

[2020-06-22 03:55] cxr1996 commented on #11520
My Version of OPENGL is 3.0

[2020-06-22 03:57] cxr1996 commented on #11469
thanks you are right ，I modified the DAG file earlier

[2020-06-22 03:57] #11469 closed

[2020-06-22 04:30] storypku commented on #11519
We talked about this issue personally，and It turns out to be a version mismatch between  `dev` docker image and Apollo source code as @baofuwu didn't `git pull` the latest code. As such, I will close this issue now. Thank you for supporting Apollo!

[2020-06-22 04:30] #11519 closed

[2020-06-22 06:32] markofan commented on #5886
您好，请问您这个问题解决了吗

[2020-06-22 06:46] markofan commented on #11485
Also, I don't have a GPU in my computer, maybe this is the reason?
Can I run the test file without a GPU?

[2020-06-22 06:54] markofan commented on #11485
When I use "git status" in the docker terminal like this:
root@in_dev_docker:/apollo$ git status
========================
It also give me this result:
fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2020-06-22 07:10] #11132 closed

[2020-06-22 08:18] AlexandrZabolotny commented on #11508
When I run `sudo apt-get -y install libboost-all-dev`

I see

![Screenshot from 2020-06-22 11-17-55](https://user-images.githubusercontent.com/61351599/85264878-0ddfc500-b47a-11ea-814b-28a6518cdc2d.png)

[2020-06-22 08:45] markofan commented on #9186
Can you run the test file successfully?

[2020-06-22 09:07] JasonZhou404 commented on #10633
It is a approximate term for curvature minimization, not curvature itself

[2020-06-22 09:59] Eclipsehelio commented on #11404
@oska874 You can build PCL from source on arm64 platform, follow the command below:
[code]
Edit file `.travis.sh` in the current directory, substitute `function build_gcc ()` content with
[code]
Edit file `CMakeLists.txt` in the current directory, add compiler option `-std=c++11` in Line 93、100、103、108
Now ready to build with the following commands:
[code]

[2020-06-22 10:14] oska874 commented on #11404
build pcl on arm platform cost too much time，nearly half day or one day

[2020-06-22 10:20] Eclipsehelio commented on #11476
@yumianhuli2 If you are running  in a distributed environment, remember to export `CYBER_IP` environment variable to their respective IP addresses.

[2020-06-22 11:14] JasonZhou404 commented on #10753
Will update this thread as soon as documentation or paper is ready

[2020-06-22 11:16] JasonZhou404 commented on #11487
Nice catch! Related PR is at  #11524 .Thanks!

[2020-06-22 11:25] JasonZhou404 commented on #11484
What is your exact concern and issue? Current implementation seems fine

[2020-06-22 11:26] JasonZhou404 commented on #10521
I will close this issue. If you still have the concern, feel free to reopen it

[2020-06-22 11:26] #10521 closed

[2020-06-22 12:40] yukitsuji opened #11526 "Control: Differences between agent and submoduled control system"
Could you tell me the differences/Pros/Cons between the agent based and submoduled based control modules?

Thanks,

[2020-06-22 14:19] Avps1 commented on #11440
You are right. You need to have localization running. Thank you.

[2020-06-22 14:19] #11440 closed

[2020-06-22 14:31] Avps1 commented on #11107
Related issue #10968 . Program wont stop at breakpoints while debugging the Perception module..

[2020-06-22 14:35] Avps1 commented on #10968
Related issue  : #11107

[2020-06-22 14:37] mertmerci commented on #10968
I have the same issue. Any help or idea on this specific issue would be highly appreciated. Also @Avps1, please let me know ıf you have any updates or progress. Thank you in advance.

[2020-06-22 20:28] vlin17 commented on #11499
Hi @rimu123

1. SimControl is part of the Dreamview feature that simulates a SDC's control module, and moves the car based on planning result. This is a convenient way to visualize and test planning module. However, since this is part of the Dreamview feature, turning on sim control won't help finding planning process.

2. As explained in the [document](https://github.com/ApolloAuto/apollo/blob/d6

[2020-06-22 20:48] vlin17 commented on #11376
Hi @liukr001,

I couldn't see the Dreamview picture you posted or understand what's in garage.csv. May I assume data in garage.csv are obstacles? Do you must display all 1km data at once?

Also, please ensure your browser supports both WebGL 1 and 2 for rendering high-performance 3D graphics.

[2020-06-22 21:20] #10818 closed

[2020-06-22 23:26] Martin20 commented on #11399
Hello @daohu527 ,

Thank you for your respond. I run the simulator and launch v2x by "v2x.launch". Howvere, I received the following error. Do you have any clue?

[/apollo/bazel-bin/modules/v2x/v2x --flagfile=/apollo/modules/v2x/conf/v2x.conf]  /apollo/bazel-bin/modules/v2x/v2x: error while loading shared libraries: libfastcdr.so.1: cannot open shared object file: No such file or directory

[2020-06-23 00:39] Martin20 commented on #10007
Hello @christian-lanius

I have a similar problem by launching v2x. I receive the error below:
[/apollo/bazel-bin/modules/v2x/v2x --flagfile=/apollo/modules/v2x/conf/v2x.conf]  /apollo/bazel-bin/modules/v2x/v2x: error while loading shared libraries: libfastcdr.so.1: cannot open shared object file: No such file or directory
However, I run "ldconfig -p | grep libcuda.so" and the terminal shows me:

[2020-06-23 00:42] sjiang2018 commented on #11526
Hello there!
Sub-module control system aims to make control module more user-friendly. There are two types of control sub-modules, Apollo common interface sub-modules and control-core algorithm sub-modules. The pre-processor and post-processor modules belong to Apollo common interface sub-modules and they help to integrate control module to Apollo system. Users don't need to make any changes to th

[2020-06-23 01:39] yukitsuji commented on #11526
Thank you for your quick reply!
I got it. I have another question.
I think there are two types of control pipeline;
1. https://github.com/ApolloAuto/apollo/blob/master/modules/control/dag/control.dag
2. https://github.com/ApolloAuto/apollo/blob/master/modules/control/dag/mpc_module.dag

`FLAGS_use_control_submodules` is used to specify the type to run.
1 does not use pre-processor and post-process

[2020-06-23 03:04] #11252 closed

[2020-06-23 03:22] daohu527 commented on #11399
Hi @Martin20

Seems can't find libfastcdr, I found some previous issues, you can refer to [link](https://github.com/ApolloAuto/apollo/search?q=fastcdr&type=Issues)

If it can't solve the problem, you can open a new one.

[2020-06-23 06:37] JackFu123 commented on #11205
Hi, I don't think we have public data with online point clouds now. What's it used for without a point-cloud map?

[2020-06-23 06:58] panfengsu commented on #11205
Every moduel for example point cloud segmentation or detection has unit test file.You can use pcd file to test point cloud moduel,but whole record date with all channels need to being recorded by cyber with sensors.

[2020-06-23 07:04] JackFu123 commented on #11403
Hi, the data on data.apollo.auto was too old. So we retired the platform.
You could find more data here: [http://apolloscape.auto/#](http://apolloscape.auto/#)

[2020-06-23 07:22] HubFire commented on #11484
When  I run Apollo  piece_wise_jerk_speed_smooth code, I got a error "P is not upper triangular matrix"。And after  I changed  the row and  column of Kernel matrix，I  got  another error "The OSQP solver will be non-convex "。
It may be caused by version difference of OSQP，I use  0.6.0

[2020-06-23 07:36] lx18233184051 commented on #11520
It seems nvdia has own opengl file ,so No OpengL-files optional is ok, according to what you said, I think you should guarantee your opengL version in docker, whether it's compatible with your nvdia driver  ?

[2020-06-23 07:37] markofan opened #11530 "Can I run the test file (for example: cnn_segmentation_test) with CPU?"
My computer don't have GPU, Can I run the test file (for example: cnn_segmentation_test) with CPU?
I don't need to train the model, just want to test the file.

[2020-06-23 07:45] cxr1996 commented on #11520
Thank you, I have solved this problem by going straight to version 5.5 and replacing Ubuntu with 18.04

[2020-06-23 07:45] #11520 closed

[2020-06-23 09:09] daohu527 commented on #11526
## Controller_agent
For now control module used controller_agent
1.  FLAGS_use_control_submodules
FLAGS_use_control_submodules default is flase
https://github.com/ApolloAuto/apollo/blob/3e691397c5a805c864ad048161e2d5c3d26f14c1/modules/control/common/control_gflags.cc#L119-L120

2. controller_agent
[code]
Then use controller_agent to control the car. "active_controllers" in "control_conf.pb.txt" de

[2020-06-23 09:19] jeroldchen commented on #11530
Hi @markofan , many tests in Perception module require GPU, cause they have some cuda functions which can only run in GPU. You can check the BUILD file to see if there are .cu files related to the test. For example, cnn_segmentation_test relies on feature_generator.cu, in this case, it can only run in GPU. For those tests that don't use cuda, you can build apollo in CPU mode and try to run `bazel

[2020-06-23 09:49] markofan commented on #11530
Thank you so much for your reply!
I find a test file, which is hm_matcher_test.cc, the file is in modules\perception\radar\lib\tracker\matcher
There is no '.cu' file in BUILD, but when I run this command
====================================================
sudo bazel test //modules/perception/radar/lib/tracker/matcher:hm_matcher_test
=====================================================
It caused

[2020-06-23 10:06] devynliu commented on #5472
hello,i canot download the calibration tool with the url:https://apollocache.blob.core.windows.net/apollo-cache/imu_car_calibrator.zip.Can you send me one copy?Thanks!

[2020-06-23 10:26] Martin20 opened #11532 "Error in running a launch file"
-OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: 16.04
-Apollo installed from (source or binary)**: Source
-Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: 5.0

I run the simulator and launch v2x by "v2x.launch". However, I received the following error. Can anyone help me?

[/apollo/bazel-bin/modules/v2x/v2x --flagfile=/apollo/modules/v2x/conf/v2x.conf] /apollo/bazel-bin/modules/v2x/v2x: er

[2020-06-23 10:59] Eclipsehelio commented on #11532
@Martin20  In most cases, This is about environmental variables. Usually `libfastcdr.so.1` is located in `/usr/local/fast-rtps/lib/`, check the `LD_LIBRARY_PATH`  environment variable to see if `/usr/local/fast-rtps/lib` is in it, perhaps you may forget to execute `source cyber/setup.bash`.

[2020-06-23 11:14] lfcarol commented on #11532
Do you run the simulator and launch v2x in the docker environment?

[2020-06-23 11:15] Martin20 commented on #11532
Yes, I run it inside the docket.

[2020-06-23 11:30] Martin20 commented on #11532
@Eclipsehelio
I execute source "cyber/setup"

[2020-06-23 11:34] jeroldchen commented on #11530
@markofan Try `bazel test --cxxopt=-DCPU_ONLY  //modules/perception/radar/lib/tracker/matcher:hm_matcher_test` . Hope it helps.

[2020-06-23 12:43] markofan commented on #11530
I close the docker, and open a new terminal. run the command, but still get the same error,

Test output for //modules/perception/radar/lib/tracker/matcher:hm_matcher_test:
/apollo/.cache/bazel/540135163923dd7d5820f3ee4b306b32/execroot/apollo/bazel-out/local-fastbuild/bin/modules/perception/radar/lib/tracker/matcher/hm_matcher_test.runfiles/apollo/modules/perception/radar/lib/tracker/matcher/hm_ma

[2020-06-23 12:57] Avps1 opened #11533 "Help wanted : Migrating CyberRT to ROS"
Hi,
This is not a bug, only an idea.

Have any of you tried to migrate CyberRT to ROS, for Apollo-5.0?
I know I can simply switch to an Apollo version before 3.5 , where they used ROS instead of Cyber. But I want to take advantage of the extra functionalities that Apollo 5.0 offers, but use ROS as middleware instead of Cyber.
I wonder if anybody has done this before.
Note : There is a ROS to Cyber

[2020-06-23 13:18] jeroldchen commented on #11530
@markofan Remove .cache (you can just rename it as a backup) and run the command again. Otherwise it won't rebuild.

[2020-06-23 13:43] markofan commented on #11530
Hi, In the docker, I use this command （remove the . cache folder in docker）

 root@in_dev_docker:/apollo$  sudo rm -rf .cache/

and run the command, bazel test --cxxopt=-DCPU_ONLY //modules/perception/radar/lib/tracker/matcher:hm_matcher_test

but it shows the same error!

[2020-06-23 13:53] markofan commented on #11530
Hi @jeroldchen, When I run the test file in /prediction, it can work! I use this command

sudo bazel test --cxxopt=-DCPU_ONLY //modules/prediction/common:environment_features_test

I don't know why the test file in preception can't run successfully? Is there somthing else needed to be set?

[2020-06-23 13:56] machar94 opened #11536 "Cannot Generate Message by Message Type"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Linux 18.04
- **Apollo installed from (source o

[2020-06-23 14:45] AlexandrZabolotny opened #11539 "Error: launch perception_camera.launch"
Hello! Please help me

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04, RTX2070, Driver Version: 450.36.06)**:
- **Apollo installed from (source)**:
- **Apollo version (master)**:

I use lglsv_simulator for to study Apollo.

When I run
cyber_launch start /apollo/modules/perception/production/launch/perception_camera.launch

I can see this error

![Screenshot from

[2020-06-23 22:38] #10376 closed

[2020-06-23 23:02] sjiang2018 commented on #10745
Hello there!
Please refer this (https://github.com/ApolloAuto/apollo/blob/master/docs/specs/coordination.pdf) for the coordination systems in Apollo. "ref_theta" here is the heading angle that the ego vehicle tracks. And this angle is defined with respect to y_axis instead of x-axis.

[2020-06-23 23:14] salmanee commented on #11268
Thank you for your response @jmtao .. Any documentation on how to set up a scenario to observe its behavior dynamically in DreamView?

[2020-06-24 00:07] kevin-y-wang commented on #10745
Some additional explanations:
In the trajectory analyzer,
(1) x-axis, y-axis are the absolute coordinate (ENU coordinate) and
(2) dx = x - ref_point.x(), dy = y - ref_point.y() are the distance vectors (real position minus reference position; +- sign matters! ) projected at the absolute x-axis, and y-axis;
(3) ref_theta is the reference car heading angle from the x-axis, with the anti-clockwise di

[2020-06-24 00:07] #10745 closed

[2020-06-24 00:09] #11178 closed

[2020-06-24 00:47] kevin-y-wang commented on #11202
Thanks for pointing out this issue.
This conflict of logic will be fixed soon.

[2020-06-24 03:44] hb2609 opened #11543 "IMU-to-Vehicle Calibration tool not available"
This document(https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/apollo_2_0_sensor_calibration_guide.md ) refers to a  IMU-to-Vehicle calibration tool and provides a download link(https://apollocache.blob.core.windows.net/apollo-cache/imu_car_calibrator.zip). However, the download link provided has failed. I don't know where to get a valid link? Can anyone help me?

[2020-06-24 04:24] kechxu commented on #11381
Hi ntutangyun,

Thank you for your question. I think there is no typo. In the case of modlues/prediction/common/message_process.cc:  line 62, we check if map is ready in the initial status while we are NOT in navigation mode. But in navigation mode, we check if map is ready in every frame run instead of initial status.

[2020-06-24 09:47] lh315936716 opened #11545 "Is there any differences between turning on a module via Dreamview and terminal?"

[2020-06-24 09:57] HubFire commented on #11484
I Change  OSQP to 0.4.1，the  "P is not upper triangular matrix"  error  disappear，but i  got  another  error “failed optimization status:   primal infeasible”

[2020-06-24 10:23] daohu527 commented on #11545
They don't have much difference.

## 1. dreamview
Actually "Dreamview" starts the module by calling backend command, you can find and modify the dag file in **modules/dreamview/conf/hmi_modes** , for example "mkz_standard_debug.pb.txt".

[code]

## 2. terminal
For example, you can modify the dag file in **modules/control/launch/control.launch**, and use
[code]
to start the control module.

[2020-06-24 11:57] Dubai-Technologies opened #11548 "yolo/caffe.caffemodel not found for testing"
Hi,
I am trying to run the ./bazel-bin/modules/perception/inference/tools/yolo_sample file and I am getting error
E0624 11:30:00.432709 18514 rt_utils.cc:46] []cannot open file ./yolo/caffe.caffemodel
F0624 11:30:00.432759 18514 rt_net.cc:473] []open file ./yolo/caffe.caffemodel failed
![Screenshot from 2020-06-24 15-55-46](https://user-images.githubusercontent.com/66767460/85551763-60b0ac80-b633-

[2020-06-24 15:41] ntutangyun commented on #11381
@kechxu alright. thanks for your reply.

[2020-06-24 15:41] #11381 closed

[2020-06-24 16:24] miewan opened #11549 "Does terminalc.cc retired in Apollo v3.5?"
Does terminal.cc also retired from Apollo v3.5 as this file also use adapter_manager.h which is retired in v3.5

[2020-06-25 02:06] daohu527 commented on #11549
Ref to #11349

Additionally there is a commit a224ae3806c3b34d65f10f2e35b4ce1f35a9555a about rename terminal to pad_terminal.

[2020-06-25 02:07] jinghaomiao commented on #10572
@GoLancer please help with that. Thanks!

[2020-06-25 02:12] jinghaomiao commented on #11549
I am closing this ticket. If you have other question, please submit another ticket. Thanks for your interests in Apollo.

[2020-06-25 02:12] #11549 closed

[2020-06-25 04:22] storypku commented on #8722
@fengqikai1414 Any ideas on how to resolve this as we are targeting C++17 now?

[2020-06-25 05:09] lx18233184051 commented on #11532
can you find libfastcdr.so.1 in your environment?

[2020-06-25 08:38] Martin20 commented on #11532
@lx18233184051

No, I could not find it in the apollo directory.

I made a mistake in my first message. The version of Ubuntu is 16.04.

[2020-06-25 08:46] baofuwu opened #11552 "AGX Xavier: /apollo/cyber/croutine/BUILD:46:12: Configurable attribute "srcs" doesn't match this configuration: Please Build with an ARM or Linux x86_64 platform."
- **OS Platform and Distribution (e.g., Linux Ubuntu 14.04)**: Ubuntu 18.04
- **Apollo installed from (source or binary)**: docker
- **Apollo version (1.0, 1.5, 2.0, 2.5, 3.0)**: r5.5.0

I installed apollo docker in Jetson AGX Xavier, which does not support the command "nvidia-smi".
When I run the cmd "bazel build //cyber/..." , I got the following error:
[code]
Also,when I run the cmd "bazel buil

[2020-06-25 10:53] baofuwu commented on #10596
The same error I met in AGX Xavier.
and I try run apollo in x86 base machine, it also shows me the "FATAL"error
[code]
I don't konw why and hope for a reply.

[2020-06-25 15:22] jimaldon commented on #7019
Are there any `.record` files with sensor data topics in them? The only ones I could find in the docs are planning/imu/control topics

[2020-06-25 15:33] jimaldon commented on #10544
@Autofoxsys did you get the link between LGSVL and Apollo working? How does your pipeline work? Do you manually drive around on LGSVL and create a `.record` file which you then play in apollo using `cyber_recorder` and simply view the planning and control output on dreamviewer? Or do you run things online with the control output from Apollo sent back to LGSVL?

[2020-06-25 17:23] unacao commented on #7019
This rosbag has sensor data https://github.com/ApolloAuto/apollo/releases/download/v2.5.0/demo_2.5.bag
However you may need to convert it to record with the tool in r3.5.0

[2020-06-25 20:15] vlin17 commented on #11454
Hi @mertmerci

Hope the information answered your question. If you have any follow up question, please leave a comment below. If we don't not hear back from you in 72 hours, we will close the issue and we encourage you to open a new issue if you have any more questions.

Thank you for supporting Apollo!

[2020-06-25 20:25] vlin17 commented on #10807
Hi @jch458 ,

Hope the information answered your question. If you have any follow up question, please leave a comment below. If we don't not hear back from you in 72 hours, we will close the issue and we encourage you to open a new issue if you have any more questions.

Thank you for supporting Apollo!

[2020-06-25 23:03] Avps1 commented on #11499
Hi vlin17,
Did you try the VSCode debugging method that was mentioned in this doc to debug the PLANNING module?
I did and I ran into the following error : https://youtu.be/d9vcRATc3M0(Youtube video) and opened the following issue :
https://github.com/ApolloAuto/apollo/issues/11107.
I would like to know if you are facing a similiar problem ?

[2020-06-26 03:41] daohu527 commented on #11552
## Platform
Which platform do you used to build cyber? could you run the below cmd
[code]
apollo only support cpu k8 and arm in bazel config.

## Bazel
I used "bazel build //cyber/..." to build cyber without error. In bazel guide you should add --cpu option in cmd. Like
[code]
but "bazel build //cyber/..." will also work, I think bazel read the "cpu" config_setting by itself.

Here is a same issue

[2020-06-26 07:20] agarwalsid opened #11559 "Apollo 6.0 release date"
Hi,

Apollo seems to have a new release every 6 months. Should we be expecting Apollo 6.0 or a major update soon? Is there a time frame?

Thanks,

Siddharth

[2020-06-26 09:39] lfcarol commented on #11559
Thank you for continuous attention to Apollo. Apollo 6.0 will be released at September.

[2020-06-26 11:21] mertmerci opened #11560 "Perception module CyberRT to ROS"
I try to run the perception module standalone and try to change the communication framework from CyberRT to ROS due to the consistency of my own framework. I know that ROS Bridge may be a possible solution for my problem but I do not prefer it right now. Do you have any suggestions for me or any documentation helpful for my problem?

[2020-06-26 16:11] jilinzhou opened #11561 "Perception: incorrect cast from float to boolean for filter_high_z_points_ in pointcloud_preprocessor"
**Describe the bug**

Here is the code snippet which show the problem:

[code]

[code]

A sample config file for pointcloud_preprocessor.conf:
[code]

[2020-06-26 18:01] jinghaomiao commented on #10572
Thanks for using Apollo. If you have any other issues, please open new ones.

[2020-06-26 18:01] #10572 closed

[2020-06-26 18:12] #11559 closed

[2020-06-26 21:32] #11451 closed

[2020-06-27 05:04] agarwalsid commented on #11559
Thank you for the info @lfcarol @jinghaomiao

[2020-06-28 03:29] panfengsu commented on #11205
Hope the information answered your question. If you have any follow up question, please leave a comment below. If we did not hear back from you in 72 hours, we will close the issue and we encourage you to open a new issue if you have any more questions.
Thank you for supporting Apollo!

[2020-06-28 05:09] #11205 closed

[2020-06-28 07:18] jeroldchen commented on #11561
Hi @jilinzhou , thank you for reporting the bug. We have fixed it already. Thanks for your interests in Apollo.

[2020-06-28 08:23] AMDxb548 commented on #11175
@ghy200692162 : Hi I am facing the same issue with traffic light recognition. Can you help me in resolving this issue ?

[2020-06-28 08:41] lh315936716 commented on #11545
Thank you. So Both Dreamview and cyber_launch call the .dag file? Is that also the same when calling "mainboard xxx.dag"?

[2020-06-28 08:57] daohu527 commented on #11545
1. Actually cyber_launch use mainboard to start the dag file. **cyber_launch can start multiple dags at once, but mainboard can only start one.** The lauch file will contain multiple dags.
[code]

2. You can find the implementation of cyber_launch in “cyber/tools/cyber_launch/cyber_launch", which parse the launch file and then use mainboard to start dags.

[2020-06-28 14:08] rimu123 commented on #11499
The control button can break the point, while the other buttons can not be paused, because I have an error when running, so I can not determine whether it can not break the point.

[2020-06-28 14:22] jilinzhou commented on #11561
Fixed with #11578

[2020-06-28 14:22] #11561 closed

[2020-06-28 14:27] jilinzhou opened #11584 "planning: dddx_bound is set twice in piecewise_jerk_path_optimizer"
**Describe the bug**

Here is the code snippet:

[code]

[2020-06-29 03:14] lx18233184051 commented on #11584
thank you very much, we will review soon.

[2020-06-29 06:24] ManXiaoMi opened #11588 "how to add constraints with an obstacle"
what's the meaning of this part in the function of NaviSpeedTsGraph::UpdateObstacleConstraints?
 auto od = distance - safe_distance;
  auto v0 = start_v_;
  auto v1 = v;
  auto r0 = (distance - safe_distance) / (distance + safe_distance);
  auto vm = std::max(cruise_speed * r0, 0.0) +
            (1.0 + following_accel_ratio * r0) * v1;
  auto ra = (v1 - vm) * (v1 - vm) * (v1 + v0 - 2.0 * vm) / (o

[2020-06-29 06:57] ManXiaoMi commented on #11588
Especially what the meaning of this parameters?
auto r0 = (distance - safe_distance) / (distance + safe_distance);
  auto vm = std::max(cruise_speed * r0, 0.0) +
            (1.0 + following_accel_ratio * r0) * v1;
  auto ra = (v1 - vm) * (v1 - vm) * (v1 + v0 - 2.0 * vm) / (od * od);
  auto rb = (v1 - vm) * (v1 + 2.0 * v0 - 3.0 * vm) / od;

[2020-06-29 12:59] daohu527 opened #11597 "hungarian_optimizer.inl duplicated with "hungarian_optimizer.h""
## Describe the bug
**The file "modules\perception\common\graph\hungarian_optimizer.inl" duplicated with "hungarian_optimizer.h" and is outdated.**

1. For example：
* hungarian_optimizer.h
[code]
* hungarian_optimizer.inl
[code]
"state_ " can't find in hungarian_optimizer.h but "fn_state_ "

2. bazel doesn't  support ".inl" type since "0.23.0" [Link](https://github.com/bazelbuild/bazel/issues/7242

[2020-06-29 14:18] lh315936716 commented on #11545
Thank you!

[2020-06-29 21:16] vlin17 commented on #11253
Please try the following:
1. Convert the reflection background image to jpg format and name it as `background.jpg`
2. Place your `background.jpg` to modules/map/data/<your map dir>/background.jpg
3. Setup image map info in modules/dreamview/frontend/dist/parameters.json. See [sunnyvale_big_loop](https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/frontend/dist/parameters.json#L42) a

[2020-06-29 21:50] vlin17 commented on #5833
Unfortunately, Dreamview doesn't support this function.

The good news is that our [hmi_worker](https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/backend/hmi/hmi_worker.cc#L325 ) can trigger different driving modes. And, Dreamview has the ["Start Auto" button](url) to trigger COMPLETE_AUTO_DRIVE. Hence, you can do the same to Dreamview by adding a button that triggers HMI's DISENG

[2020-06-30 01:57] #11584 closed

[2020-06-30 07:00] lh315936716 opened #11607 "How to config "nvblas.conf" for apollo perception module?"
I have cuda-10.2 installed, but I could't found nvblas.conf file and hence the NVBLAS_CONFIG_FILE environment variable wasn't set.
When trying to turn on perception module, the error messages said something like CPU Blas library need to be provided.

Do I need to manually create a nvblas.conf file? And which libs need to be pointed out in this file?

Thank you!

[2020-06-30 08:04] lh315936716 opened #11610 "Error while starting Transform module"
![image](https://user-images.githubusercontent.com/23692631/86099415-078cc100-baea-11ea-8884-a666dd48bbd2.png)

The error message is shown in above pic from apollo 3.5. I could not find the files mentioned in those error msgs.
Besides,  the transform module can be turned on in dreamview but I was not sure if it worked.

It would be really appreciated if someone could provide any suggestion!

[2020-06-30 08:24] fantasyplus opened #11612 "sudo bash docker/scripts/dev_start.sh fail ,looks like gpu's problem?"
We appreciate you go through Apollo documentations and search previous issues before creating an new one. If neither of the sources helped you with your issues, please report the issue using the following form. Please note missing info can delay the response time.

### System information

- **Ubuntu18.04**:
- **git**:
- **Apollo version (5.5)**:

### Steps to reproduce the issue:
- **Before I setu

[2020-06-30 09:09] storypku commented on #11612
Have you tried restart docker  by running `sudo systemctl restart docker` ?

[2020-06-30 09:12] fantasyplus commented on #11612
谢谢回复，我把Ｎ卡相关的都删了，用ＣＰＵ跑就行了，现在正在等编译结束呢

[2020-06-30 09:57] yukitsuji commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: yukitsuji020832@gmail.com

[2020-06-30 09:57] yukitsuji commented on #3005
@natashadsouza @msbeta
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: yukitsuji020832@gmail.com

[2020-06-30 11:20] storypku commented on #10596
As a workaround, try disable `setup_device` call in `dev_start.sh`

[2020-06-30 11:30] lx18233184051 commented on #11610
maybe you could give more info about your system and env?

[2020-06-30 11:47] lh315936716 commented on #11610
Thank you. I'm on Ubuntu 18.04 and using the image of lgsvl/apollo-3.5, nvidia graphics driver 440.33, cuda10.2.
 As the error msg indicated some information about lidar, I don't think it was any problem with my system setup.

[2020-06-30 14:39] AlexandrZabolotny commented on #9826
Hello Alexander!
Please help me!
Tell me how you creat a map for MSF localization.

I don’t understand how to run the script according to this doc [create_msf_map](https://github.com/ApolloAuto/apollo/blob/master/docs/howto/how_to_generate_local_map_for_MSF_localization_module.md)

[2020-06-30 15:03] alexbuyval commented on #9826
Hi @AlexandrZabolotny,

First of all, you need to generate a dataset (record files) with localization and lidar topics. You can do it by Lg simulator, for instance.
Then you need to run the following script in the docker:
`/apollo/scripts/msf_simple_map_creator.sh DATA_PATH/records/ DATA_PATH/params/velodyne_params/velodyne128_novatel_extrinsics.yaml 10 OUT_FOLDER_PATH`

Regards,
Alex

[2020-06-30 15:26] AlexandrZabolotny commented on #9826
1.I generate record file using LGsimulator. But when i run this script i get this  [error](https://github.com/ApolloAuto/apollo/issues/11483).

Do you have your record file?

[2020-06-30 15:45] alexbuyval commented on #11483
It seems that the script cannot open the record file.
[code]
Check your record file by cyber_record info or play

[2020-06-30 15:50] alexbuyval commented on #9826
I cannot find the record file, however I found the folder with data extracted from the record file
Here is [link](https://drive.google.com/file/d/1vNOv8tsLtaAjOFODWas7HYlF9-RFd5pW/view?usp=sharing).

To use these data comment out cyber_record_parser command in msf_simple_map_creator.sh and check path to pcd folder.

[2020-07-01 08:49] Doodle1106 opened #11631 "Current status of HD map?"
Hi,

I have been going through the project recently and I noticed the use of HD map in the project.
I have some HD map related questions that I hope you guys can shed some light on:

1. is HD map used during localization? If so, can localization be done only on HD map? Is this part open sourced?
2. is there an annotation tool to annotate HD map?
3. how is HD map generated? from lidar or camera?

T

[2020-07-01 08:56] dt-developer1 commented on #5509
I am trying to use laptop webcam  as usb camera. I changed the camera dev in conf as /dev/video0. but i am getting folowwing error when launching camera.launch

[usb_cam]  E0701 12:39:26.911983 25095 usb_cam.cc:867] [mainboard]Wrong Buffer Len: 1843200,raw_image->width * raw_image->height: 2073600, dev: /dev/video0
[usb_cam]  E0701 12:39:26.949627 25095 camera_component.cc:86] [camera]Running

Als

[2020-07-01 09:00] dt-developer1 opened #11632 "Error when using laptop webcam as usb camera"
I am trying to use laptop webcam as usb camera. I changed the camera dev in conf as /dev/video0. but i am getting following error when launching camera.launch

[usb_cam] E0701 12:39:26.911983 25095 usb_cam.cc:867] [mainboard]Wrong Buffer Len: 1843200,raw_image->width * raw_image->height: 2073600, dev: /dev/video0
[usb_cam] E0701 12:39:26.949627 25095 camera_component.cc:86] [camera]Running

Also a

[2020-07-01 09:21] pengpingliang commented on #3005
Hi, could you please send me the Apollo specification as well? Thanks
My e-Mail: pengpingliang@163.com

[2020-07-01 10:00] diegohu commented on #11543
For Lidar-IMU calibration, please refer to this guide https://github.com/ApolloAuto/apollo/blob/master/docs/quickstart/multiple_lidar_gnss_calibration_guide.md and you will find the download link.
However, this tool only support Apollo 3.0 which based on ROS, for Apollo 3.5+ which switched to Cyber RT, we provide cloud service for calibration, please refer to https://apollo.auto/fuel.html for deta

[2020-07-01 15:49] Jelvon commented on #11612
May I ask how do you solve this problem ? I cannot read what you said...Thank you so much!

[2020-07-01 15:50] Jelvon commented on #11612
I have tried, but it does not work.

[2020-07-01 20:21] #11430 closed

[2020-07-01 20:37] jmtao commented on #11268
@salmanee
(1) you can run test cases with the scenario you want, on Azure. https://azure.apollo.auto/daily-build/public?locale=en-us
(2) you can run planning locally, and watch the behavior on Dreamview
- set up routing properly which can cover the scenario you want, lane_follow, stop_sign, traffic_light and etc
- launch planning locally
- use SIM_CONTROL mode to run: https://github.com/ApolloAuto

[2020-07-01 21:27] sjiang2018 commented on #11552
Hi @baofuwu , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:28] #11552 closed

[2020-07-01 21:28] sjiang2018 commented on #11545
Hi @lh315936716, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:28] #11545 closed

[2020-07-01 21:31] sjiang2018 commented on #11543
Hi @hb2609 , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:31] #11543 closed

[2020-07-01 21:32] sjiang2018 commented on #11526
Hi @yukitsuji, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:32] #11526 closed

[2020-07-01 21:34] sjiang2018 commented on #11487
Hi @zerolover, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:34] #11487 closed

[2020-07-01 21:37] sjiang2018 commented on #11455
Hi @surunbing , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:37] #11455 closed

[2020-07-01 21:37] #11454 closed

[2020-07-01 21:38] sjiang2018 commented on #11431
Hi @AMDxb548, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 21:38] #11431 closed

[2020-07-01 22:46] #10807 closed

[2020-07-01 22:50] sjiang2018 commented on #5392
Hope our answer resolved your questions. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 22:50] #5392 closed

[2020-07-01 22:51] sjiang2018 commented on #10633
Hi @longjianquan , hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 22:51] #10633 closed

[2020-07-01 22:54] sjiang2018 commented on #10416
Hi @hect1995, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 22:54] #10416 closed

[2020-07-01 23:03] sjiang2018 commented on #10441
Hi @shanliang1992, hope our answer resolved your question. We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 23:03] #10441 closed

[2020-07-01 23:14] jinghaomiao commented on #11631
@Doodle1106 thanks for your interests in Apollo.
1. HD Map is used in pereption, prediction and planning. Localization does not use HD Map.
2. We don't have annotation tool to anonatate HD map now.
3. HD map is generated by collecting both point cloud data and camera data.

[2020-07-01 23:19] sjiang2018 commented on #10613
Thank you for point that out.  The related fix is already merged to our master branch.
[https://github.com/ApolloAuto/apollo/commit/c78f7577d0eedcedbf2e8eb24382630b2c865549]
We will close the issue for now. If you have any additional question, please feel free to open a new issue. Our engineer team are more than happy to help that.

Thank you for supporting Apollo!

[2020-07-01 23:19] #10613 closed

[2020-07-01 23:30] Capri2014 commented on #11261
Apollo has simulation environment for you to test your algorithms open accessible to public at: bce.apollo.auto. The simulation environment supports the "control-in-loop" vehicles of different brands (MKZ and Coolhigh) with different dynamic models you can use (Automotive rule-based or Learning based). You can run your test from prediction all the way to control. (We only provide "perfect percepti

[2020-07-02 00:30] vlin17 commented on #5970
Have you figured out what those lines are?  This is a puzzling question as the only coral color used in the map is [CURB](https://github.com/ApolloAuto/apollo/blob/master/modules/dreamview/frontend/src/renderer/map.js#L106).

[2020-07-02 01:19] fantasyplus commented on #11612
I used Nvidia-Gpu-accelrate when I meet this problem .
Look at those warning rows
'[WARNING] nvidia-docker is in deprecation!
[WARNING] Please install latest docker and nvidia-container-toolkit: https://github.com/NVIDIA/nvidia-docker/blob/master/README.md'
So I just delete all the nvidia-related package....and use only cpu to run build,although it's slow.
Maybe not a good way for you.